## MVP

In [1]:
# Imports

# Pandas
import pandas as pd 

# Importo libreria para conexión a API
from urllib.request import urlopen

# Importo libreria Json para que lea
import json

#Normalizar Json
from pandas.io.json import json_normalize

import numpy as np

---
Step 1 (Data Extraction)

In [2]:
# Definir las variables donde meto el string que contiene la URL

endpoint ='https://sedeaplicaciones.minetur.gob.es'
parametros = '/ServiciosRESTCarburantes/PreciosCarburantes/EstacionesTerrestres/'

In [3]:
# Vamos a guardar en una variable nuestros datos (resultado, comida) 

response = urlopen(endpoint+parametros)
type(response)

http.client.HTTPResponse

In [4]:
# Vamos a extraer del obejto, los datos

data = response.read().decode('utf-8', 'replace')
data = json.loads(data)
type(data)

dict

In [5]:
# Crear Dataframe

df = pd.DataFrame(data)
df

,Fecha,ListaEESSPrecio,Nota,ResultadoConsulta
0,12/11/2022 9:29:39,"{'C.P.': '02250', 'Dirección': 'AVENIDA CASTIL...",Archivo de todos los productos en todas las es...,OK
1,12/11/2022 9:29:39,"{'C.P.': '02152', 'Dirección': 'CR CM-332, 46,...",Archivo de todos los productos en todas las es...,OK
2,12/11/2022 9:29:39,"{'C.P.': '02001', 'Dirección': 'AVENIDA 1º DE ...",Archivo de todos los productos en todas las es...,OK
3,12/11/2022 9:29:39,"{'C.P.': '02001', 'Dirección': 'CALLE PRINCIPE...",Archivo de todos los productos en todas las es...,OK
4,12/11/2022 9:29:39,"{'C.P.': '02001', 'Dirección': 'CALLE FEDERICO...",Archivo de todos los productos en todas las es...,OK
...,...,...,...,...
11784,12/11/2022 9:29:39,"{'C.P.': '50197', 'Dirección': 'POLIGONO CALLE...",Archivo de todos los productos en todas las es...,OK
11785,12/11/2022 9:29:39,"{'C.P.': '50197', 'Dirección': 'RONDA FERIA DE...",Archivo de todos los productos en todas las es...,OK
11786,12/11/2022 9:29:39,"{'C.P.': '50800', 'Dirección': 'CARRETERA N-33...",Archivo de todos los productos en todas las es...,OK
11787,12/11/2022 9:29:39,"{'C.P.': '50800', 'Dirección': 'CALLE AUSTRIA,...",Archivo de todos los productos en todas las es...,OK
11788,12/11/2022 9:29:39,"{'C.P.': '50810', 'Dirección': 'CALLE COOPERAT...",Archivo de todos los productos en todas las es...,OK

---

Step 2 (Data Transformation)

In [6]:
# Análisis de la columna Lista EESS Precio

diccionario = df['ListaEESSPrecio'].iloc[1]
type(diccionario)

dict

In [7]:
diccionario

{'C.P.': '02152',
 'Dirección': 'CR CM-332, 46,4',
 'Horario': 'L-D: 7:00-23:00',
 'Latitud': '39,100389',
 'Localidad': 'ALATOZ',
 'Longitud (WGS84)': '-1,346083',
 'Margen': 'I',
 'Municipio': 'Alatoz',
 'Precio Biodiesel': '',
 'Precio Bioetanol': '',
 'Precio Gas Natural Comprimido': '',
 'Precio Gas Natural Licuado': '',
 'Precio Gases licuados del petróleo': '',
 'Precio Gasoleo A': '2,040',
 'Precio Gasoleo B': '',
 'Precio Gasoleo Premium': '2,300',
 'Precio Gasolina 95 E10': '',
 'Precio Gasolina 95 E5': '1,909',
 'Precio Gasolina 95 E5 Premium': '',
 'Precio Gasolina 98 E10': '',
 'Precio Gasolina 98 E5': '2,200',
 'Precio Hidrogeno': '',
 'Provincia': 'ALBACETE',
 'Remisión': 'dm',
 'Rótulo': 'REPSOL',
 'Tipo Venta': 'P',
 '% BioEtanol': '0,0',
 '% Éster metílico': '0,0',
 'IDEESS': '5122',
 'IDMunicipio': '53',
 'IDProvincia': '02',
 'IDCCAA': '07'}

In [8]:
# Extraigo informacion de columna EESS Precio, utilizando json normalize

df_n = pd.concat([df[['Fecha']],pd.json_normalize(df['ListaEESSPrecio'])], axis=1)
df_n

,Fecha,C.P.,Dirección,Horario,Latitud,Localidad,Longitud (WGS84),Margen,Municipio,Precio Biodiesel,...,Provincia,Remisión,Rótulo,Tipo Venta,% BioEtanol,% Éster metílico,IDEESS,IDMunicipio,IDProvincia,IDCCAA
0,12/11/2022 9:29:39,02250,"AVENIDA CASTILLA LA MANCHA, 26",L-D: 07:00-22:00,"39,211417",ABENGIBRE,"-1,539167",D,Abengibre,,...,ALBACETE,dm,Nº 10.935,P,"0,0","0,0",4375,52,02,07
1,12/11/2022 9:29:39,02152,"CR CM-332, 46,4",L-D: 7:00-23:00,"39,100389",ALATOZ,"-1,346083",I,Alatoz,,...,ALBACETE,dm,REPSOL,P,"0,0","0,0",5122,53,02,07
2,12/11/2022 9:29:39,02001,"AVENIDA 1º DE MAYO, S/N",L-S: 08:00-22:00; D: 09:00-21:00,"38,985667",ALBACETE,"-1,868500",N,Albacete,,...,ALBACETE,dm,CARREFOUR,P,"0,0","0,0",10765,54,02,07
3,12/11/2022 9:29:39,02001,CALLE PRINCIPE DE ASTURIAS (POLÍGONO DE ROMICA...,L-D: 06:00-21:30,"39,054694",ALBACETE,"-1,832000",I,Albacete,,...,ALBACETE,OM,BP ROMICA,P,"0,0","0,0",12054,54,02,07
4,12/11/2022 9:29:39,02001,"CALLE FEDERICO GARCIA LORCA, 1",L-D: 24H,"39,000861",ALBACETE,"-1,849833",D,Albacete,,...,ALBACETE,dm,PLENOIL,P,"0,0","0,0",13933,54,02,07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11784,12/11/2022 9:29:39,50197,"POLIGONO CALLE TURIASO, 31",L-D: 24H,"41,645722",ZARAGOZA,"-0,974194",D,Zaragoza,,...,ZARAGOZA,dm,NOIL,P,"0,0","0,0",13917,8108,50,02
11785,12/11/2022 9:29:39,50197,"RONDA FERIA DE MUESTRAS, DE LA, 20",L-D: 24H,"41,637944",ZARAGOZA,"-0,986389",D,Zaragoza,,...,ZARAGOZA,OM,IDS,P,"0,0","0,0",12472,8108,50,02
11786,12/11/2022 9:29:39,50800,"CARRETERA N-330A KM. 24,000",L-D: 06:00-22:00,"41,857000",ZUERA,"-0,794000",D,Zuera,,...,ZARAGOZA,OM,REPSOL,P,"0,0","0,0",1452,8109,50,02
11787,12/11/2022 9:29:39,50800,"CALLE AUSTRIA, 11,17",L-D: 24H,"41,883583",ZUERA,"-0,782833",D,Zuera,,...,ZARAGOZA,dm,AN ENERGETICOS ZUERA,P,"0,0","0,0",9085,8109,50,02
11788,12/11/2022 9:29:39,50810,"CALLE COOPERATIVA, 2",L-D: 24H,"41,938750",ONTINAR DE SALZ,"-0,757611",D,Zuera,,...,ZARAGOZA,dm,COOPERATIVA SAN ISIDRO,P,"0,0","0,0",9068,8109,50,02

In [9]:
# Guardamos df original para sucesion de tiempo
#df_n.to_csv('2022-11-05x.csv', index=False)

In [10]:
df_n.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11789 entries, 0 to 11788
Data columns (total 33 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Fecha                               11789 non-null  object
 1   C.P.                                11789 non-null  object
 2   Dirección                           11789 non-null  object
 3   Horario                             11789 non-null  object
 4   Latitud                             11789 non-null  object
 5   Localidad                           11789 non-null  object
 6   Longitud (WGS84)                    11789 non-null  object
 7   Margen                              11789 non-null  object
 8   Municipio                           11789 non-null  object
 9   Precio Biodiesel                    11789 non-null  object
 10  Precio Bioetanol                    11789 non-null  object
 11  Precio Gas Natural Comprimido       11789 non-null  object
 12  Precio Gas Natural Licuado          11789 non-null  object
 13  Precio Gases licuados del petróleo  11789 non-null  object
 14  Precio Gasoleo A                    11789 non-null  object
 15  Precio Gasoleo B                    11789 non-null  object
 16  Precio Gasoleo Premium              11789 non-null  object
 17  Precio Gasolina 95 E10              11789 non-null  object
 18  Precio Gasolina 95 E5               11789 non-null  object
 19  Precio Gasolina 95 E5 Premium       11789 non-null  object
 20  Precio Gasolina 98 E10              11789 non-null  object
 21  Precio Gasolina 98 E5               11789 non-null  object
 22  Precio Hidrogeno                    11789 non-null  object
 23  Provincia                           11789 non-null  object
 24  Remisión                            11789 non-null  object
 25  Rótulo                              11789 non-null  object
 26  Tipo Venta                          11789 non-null  object
 27  % BioEtanol                         11789 non-null  object
 28  % Éster metílico                    11789 non-null  object
 29  IDEESS                              11789 non-null  object
 30  IDMunicipio                         11789 non-null  object
 31  IDProvincia                         11789 non-null  object
 32  IDCCAA                              11789 non-null  object
dtypes: object(33)
memory usage: 3.0+ MB

---
Step (3): EDA

                                                    Análisis de Columnas

# Fecha

In [11]:
# Fecha (solo hay una fecha)
Fecha = df_n['Fecha'].unique()
print(type(Fecha))
print(len(Fecha))
Fecha

<class 'numpy.ndarray'>
1

array(['12/11/2022 9:29:39'], dtype=object)

In [12]:
# Nulos 
nulos_f = df_n['Fecha'].isnull().sum()
nulos_f

0

# Código Postal

In [13]:
# Columna C.P.
cp = df_n['C.P.'].unique()
print(type(cp))
print(len(cp))
cp
# En Esaña hay 11752 codigos postales en total

<class 'numpy.ndarray'>
4533

array(['02250', '02152', '02001', ..., '50197', '50800', '50810'],
      dtype=object)

In [14]:
# Nulos 
nulos_cp = df_n['C.P.'].isnull().sum()
nulos_cp

0

# Dirección

In [15]:
# Columna  Dirección
direccion = df_n['Dirección'].unique()
print(type(direccion))
print(len(direccion))
direccion

<class 'numpy.ndarray'>
11472

array(['AVENIDA CASTILLA LA MANCHA, 26', 'CR CM-332, 46,4',
       'AVENIDA 1º DE MAYO, S/N', ...,
       'RONDA FERIA DE MUESTRAS, DE LA, 20',
       'CARRETERA N-330A KM. 24,000', 'CALLE AUSTRIA, 11,17'],
      dtype=object)

In [16]:
# Nulos dirección
nulos_cp = df_n['Dirección'].isnull().sum()
nulos_cp

0

# Horario

In [17]:
# Horario
horario = df_n['Horario'].unique()
horario

array(['L-D: 07:00-22:00', 'L-D: 7:00-23:00',
       'L-S: 08:00-22:00; D: 09:00-21:00', ...,
       'L-V: 05:30-22:00; S: 07:00-15:00; D: 08:00-15:00',
       'L-V: 08:00-22:30; S: 10:00-22:30',
       'L-V: 05:00-22:00; S-D: 08:00-22:00'], dtype=object)

In [18]:
# Nulos horario
nulos_h = df_n['Horario'].isnull().sum()
nulos_h

0

# Latitud

In [19]:
#Latitud (Coincide Latitud y Longitud con las coordenadas en las gasolineras de Google Maps)
latitud = df_n['Latitud'].unique()
print(len(latitud ))
latitud

11435

array(['39,211417', '39,100389', '38,985667', ..., '41,857000',
       '41,883583', '41,938750'], dtype=object)

In [20]:
# Nulos Latitud
nulos_l = df_n['Latitud'].isnull().sum()
nulos_l

0

# Longitud

In [21]:
# Longitud (Coincide Latitud y Longitud con las coordenadas en las gasolineras de Google Maps)
Longitud = df_n['Longitud (WGS84)'].unique()
print(len(Longitud))
Longitud

11543

array(['-1,539167', '-1,346083', '-1,868500', ..., '-0,794000',
       '-0,782833', '-0,757611'], dtype=object)

In [22]:
# Nulos Longitud
nulos_long = df_n['Longitud (WGS84)'].isnull().sum()
nulos_long

0

# Localidad

In [23]:
#Localidad
Localidad = df_n['Localidad'].unique()
print(len(Localidad))
Localidad

4233

array(['ABENGIBRE', 'ALATOZ', 'ALBACETE', ..., 'VILLARRAPA', 'ZUERA',
       'ONTINAR DE SALZ'], dtype=object)

In [24]:
# Nulos Localidad
nulos_loc = df_n['Localidad'].isnull().sum()
nulos_loc

0

# Municipio

In [25]:
# Municipio (En España hay 8131 Municipios)
Municipio = df_n['Municipio'].unique() 
print(len(Municipio))
Municipio

3437

array(['Abengibre', 'Alatoz', 'Albacete', ..., 'Villarroya de la Sierra',
       'Zaragoza', 'Zuera'], dtype=object)

In [26]:
# Nulos Municipio
nulos_loc = df_n['Municipio'].isnull().sum()
nulos_loc

0

# Margen

In [27]:
# Margen
Margen = df_n['Margen'].unique()
print(len(Margen))
Margen

3

array(['D', 'I', 'N'], dtype=object)

# Provincia

In [28]:
# Provincia (Están todas las Provinicas de España en nuestro df)
Provincia = df_n['Provincia'].unique()
print(len(Provincia))
Provincia

52

array(['ALBACETE', 'ALICANTE', 'ALMERÍA', 'ARABA/ÁLAVA', 'ASTURIAS',
       'ÁVILA', 'BADAJOZ', 'BALEARS (ILLES)', 'BARCELONA', 'BIZKAIA',
       'BURGOS', 'CÁCERES', 'CÁDIZ', 'CANTABRIA', 'CASTELLÓN / CASTELLÓ',
       'CEUTA', 'CIUDAD REAL', 'CÓRDOBA', 'CORUÑA (A)', 'CUENCA',
       'GIPUZKOA', 'GIRONA', 'GRANADA', 'GUADALAJARA', 'HUELVA', 'HUESCA',
       'JAÉN', 'LEÓN', 'LLEIDA', 'LUGO', 'MADRID', 'MÁLAGA', 'MELILLA',
       'MURCIA', 'NAVARRA', 'OURENSE', 'PALENCIA', 'PALMAS (LAS)',
       'PONTEVEDRA', 'RIOJA (LA)', 'SALAMANCA', 'SANTA CRUZ DE TENERIFE',
       'SEGOVIA', 'SEVILLA', 'SORIA', 'TARRAGONA', 'TERUEL', 'TOLEDO',
       'VALENCIA / VALÈNCIA', 'VALLADOLID', 'ZAMORA', 'ZARAGOZA'],
      dtype=object)

In [29]:
# Nulos Provincia
nulos_prov = df_n['Provincia'].isnull().sum()
nulos_prov

0

# Remision

In [30]:
# Remisión (Sistema de envío de información de precios y de ventas a través de API)
Remision = df_n['Remisión'].unique()
print(len(Remision))
print(type(Remision))
Remision

2
<class 'numpy.ndarray'>

array(['dm', 'OM'], dtype=object)

# Rótulo

In [31]:
# Rótulo (En España hay 3952 marcas de Gasolineras en España según datos de Google)
Rotulo = df_n['Rótulo'].unique()
print(len(Rotulo))
print(type(Rotulo))
Rotulo

4013
<class 'numpy.ndarray'>

array(['Nº 10.935', 'REPSOL', 'CARREFOUR', ..., 'DAGO',
       'COOPERATIVA SAN LAMBERTO', 'AN ENERGETICOS ZUERA'], dtype=object)

# Tipo de Venta

In [32]:
# Tipo Venta
tv = df_n['Tipo Venta'].unique()
print(len(tv))
print(type(tv))
tv

2
<class 'numpy.ndarray'>

array(['P', 'R'], dtype=object)

# Porcentaje de Bioetanol

In [33]:
# % BioEtanol (La diferencia entre gasolinas E5 o E10 significan el porcentaje de Etanol (5 o 10%))
bioetanol = df_n['% BioEtanol'].unique()
print(len(bioetanol))
print(type(bioetanol))
bioetanol

3
<class 'numpy.ndarray'>

array(['0,0', '25,0', '85,0'], dtype=object)

# Porcentaje de Éster Metílico

In [34]:
# % Éster metílico (solo para Biodiesel)
em = df_n['% Éster metílico'].unique()
print(len(em))
print(type(em))
em

6
<class 'numpy.ndarray'>

array(['0,0', '7,0', '12,0', '20,0', '30,0', '10,0'], dtype=object)

#  IDEESS

In [35]:
# IDEESS (ID Estación de Servicio, los mismos que estaciones (filas))
IDEESS = df_n['IDEESS'].unique()
print(len(IDEESS))
type(IDEESS)
IDEESS

11789

array(['4375', '5122', '10765', ..., '1452', '9085', '9068'], dtype=object)

In [36]:
# Nulos IDEESS
nulos_IDEESS = df_n['IDEESS'].isnull().sum()
nulos_IDEESS

0

# ID Municipio

In [37]:
# IDMunicipio (un ID más que municipios)
idmun = df_n['IDMunicipio'].unique()
print(len(idmun))
type(idmun)
idmun

3438

array(['52', '53', '54', ..., '8103', '8108', '8109'], dtype=object)

In [38]:
# Nulos ID Municipio
nulos_IDMunicipio = df_n['IDMunicipio'].isnull().sum()
nulos_IDMunicipio

0

# ID Provincia

In [39]:
# IDProvincia (Los mismos ID que Provincias)
idprov = df_n['IDProvincia'].unique()
print(len(idprov))
type(idprov)
idprov

52

array(['02', '03', '04', '01', '33', '05', '06', '07', '08', '48', '09',
       '10', '11', '39', '12', '51', '13', '14', '15', '16', '20', '17',
       '18', '19', '21', '22', '23', '24', '25', '27', '28', '29', '52',
       '30', '31', '32', '34', '35', '36', '26', '37', '38', '40', '41',
       '42', '43', '44', '45', '46', '47', '49', '50'], dtype=object)

In [40]:
nulos_IDProvincia = df_n['IDProvincia'].isnull().sum()
nulos_IDProvincia

0

# ID CCAA

In [41]:
# IDCCAA (ID Comunidades Autónomas, 17 CCAA + Ceuta + Melilla)
# IDProvincia (Los mismos ID que Provincias)
idccaa = df_n['IDCCAA'].unique()
print(len(idccaa))
type(idccaa)
idccaa

19

array(['07', '10', '01', '16', '03', '08', '11', '04', '09', '06', '18',
       '12', '02', '13', '19', '14', '15', '05', '17'], dtype=object)

                                                Columnas Numéricas

# Biodiesel

In [42]:
Biodiesel = df_n['Precio Biodiesel'].unique()
print(len(Biodiesel))
print(type(Biodiesel))
Biodiesel

23
<class 'numpy.ndarray'>

array(['', '1,968', '2,129', '1,999', '2,039', '1,769', '1,799', '1,739',
       '1,839', '1,749', '1,449', '1,928', '2,020', '2,009', '2,019',
       '1,869', '2,049', '1,879', '1,989', '1,919', '2,040', '1,699',
       '1,966'], dtype=object)

In [43]:
# Convertimos columna categórica a numérica
df_n['Precio Biodiesel']=df_n['Precio Biodiesel'].str.replace(',','.')
df_n[['Precio Biodiesel']]=df_n[['Precio Biodiesel']].apply(pd.to_numeric)

In [44]:
df_n['Precio Biodiesel'].describe()

count    38.000000
mean      1.879711
std       0.137553
min       1.449000
25%       1.799000
50%       1.839000
75%       1.999000
max       2.129000
Name: Precio Biodiesel, dtype: float64

In [45]:
# Registros sin venta Biodiesel
sin_suministro_b = df_n['Precio Biodiesel'].isnull().sum()
sin_suministro_b

11751

## Precio Bioetanol

In [46]:
Bioetanol = df_n['Precio Bioetanol'].unique()
print(len(Bioetanol))
print(type(Bioetanol))
Bioetanol

6
<class 'numpy.ndarray'>

array(['', '2,239', '1,982', '1,487', '1,999', '1,879'], dtype=object)

In [47]:
# Convertimos columna categórica a numérica
df_n['Precio Bioetanol']=df_n['Precio Bioetanol'].str.replace(',','.')
df_n[['Precio Bioetanol']]=df_n[['Precio Bioetanol']].apply(pd.to_numeric)

In [48]:
df_n['Precio Bioetanol'].describe()

count    5.000000
mean     1.917200
std      0.274307
min      1.487000
25%      1.879000
50%      1.982000
75%      1.999000
max      2.239000
Name: Precio Bioetanol, dtype: float64

In [49]:
# Registros sin venta Biodiesel
sin_suministro_be = df_n['Precio Bioetanol'].isnull().sum()
sin_suministro_be

11784

## Precio Gas Natural Comprimido

In [50]:
Gas_n_c = df_n['Precio Gas Natural Comprimido'].unique()
print(len(Gas_n_c))
print(type(Gas_n_c))
Gas_n_c

29
<class 'numpy.ndarray'>

array(['', '1,580', '1,379', '1,485', '1,455', '1,429', '1,468', '1,359',
       '1,349', '1,430', '1,389', '1,398', '1,420', '2,990', '1,589',
       '1,399', '1,948', '1,483', '1,749', '1,565', '1,306', '1,599',
       '1,449', '1,380', '2,350', '3,700', '1,594', '1,369', '1,709'],
      dtype=object)

In [51]:
# Convertimos columna categórica a numérica
df_n['Precio Gas Natural Comprimido']=df_n['Precio Gas Natural Comprimido'].str.replace(',','.')
df_n[['Precio Gas Natural Comprimido']]=df_n[['Precio Gas Natural Comprimido']].apply(pd.to_numeric)

In [52]:
df_n['Precio Gas Natural Comprimido'].describe()

count    122.000000
mean       1.518361
std        0.276375
min        1.306000
25%        1.379000
50%        1.484000
75%        1.580000
max        3.700000
Name: Precio Gas Natural Comprimido, dtype: float64

In [53]:
# Registros sin venta Biodiesel
sin_suministro_be = df_n['Precio Bioetanol'].isnull().sum()
sin_suministro_be

11784

# Precio Gas Natural Licuado

In [54]:
Gas_nat_lic = df_n['Precio Gas Natural Licuado'].unique()
print(len(Gas_nat_lic))
print(type(Gas_nat_lic))
Gas_nat_lic

15
<class 'numpy.ndarray'>

array(['', '1,390', '1,299', '1,398', '1,329', '1,269', '1,249', '2,990',
       '2,506', '1,389', '1,903', '1,449', '3,650', '1,489', '1,319'],
      dtype=object)

In [55]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gas Natural Licuado']=df_n['Precio Gas Natural Licuado'].str.replace(',','.')
df_n[['Precio Gas Natural Licuado']]=df_n[['Precio Gas Natural Licuado']].apply(pd.to_numeric)

In [56]:
df_n['Precio Gas Natural Licuado'].describe()

count    82.000000
mean      1.407402
std       0.343557
min       1.249000
25%       1.299000
50%       1.309000
75%       1.396000
max       3.650000
Name: Precio Gas Natural Licuado, dtype: float64

In [57]:
# Registros sin venta Gas NAtural Licuado
sin_suministro_gnl = df_n['Precio Gas Natural Licuado'].isnull().sum()
sin_suministro_gnl

11707

# Precio Gases licuados del petróleo

In [58]:
Gas_nat_lic_pet = df_n['Precio Gases licuados del petróleo'].unique()
print(len(Gas_nat_lic_pet))
print(type(Gas_nat_lic_pet))
Gas_nat_lic_pet

122
<class 'numpy.ndarray'>

array(['', '1,029', '1,089', '0,898', '1,039', '1,019', '1,059', '1,069',
       '0,969', '0,968', '1,025', '1,099', '1,026', '1,139', '0,959',
       '0,830', '1,023', '1,045', '0,930', '1,077', '1,088', '1,038',
       '1,079', '0,939', '0,910', '1,052', '1,049', '1,009', '1,200',
       '1,119', '0,999', '1,179', '0,980', '1,189', '0,859', '1,134',
       '1,095', '1,159', '1,169', '0,909', '0,899', '0,885', '1,098',
       '0,950', '0,886', '1,114', '1,017', '1,060', '1,037', '1,090',
       '1,149', '1,008', '0,979', '1,028', '0,865', '0,639', '1,129',
       '0,929', '1,109', '1,148', '0,805', '1,022', '0,998', '0,879',
       '0,768', '1,014', '0,990', '0,989', '0,997', '0,962', '0,965',
       '1,150', '0,949', '0,889', '1,140', '1,220', '1,260', '1,250',
       '1,160', '0,759', '1,100', '1,158', '0,769', '0,951', '1,115',
       '0,919', '1,020', '0,977', '1,106', '0,908', '1,048', '1,130',
       '1,018', '1,199', '1,185', '1,155', '0,799', '0,801', '0,798',
       '0,789', '0,839', '0,800', '0,818', '0,809', '0,829', '0,958',
       '1,080', '1,000', '0,870', '0,967', '0,974', '0,944', '0,905',
       '0,925', '0,995', '0,915', '0,850', '0,790', '0,779', '1,175',
       '1,043', '0,849'], dtype=object)

In [59]:
# Convertimos columna categórica a numérica
df_n['Precio Gases licuados del petróleo']=df_n['Precio Gases licuados del petróleo'].str.replace(',','.')
df_n[['Precio Gases licuados del petróleo']]=df_n[['Precio Gases licuados del petróleo']].apply(pd.to_numeric)

In [60]:
df_n['Precio Gases licuados del petróleo'].describe()

count    850.000000
mean       1.035261
std        0.081083
min        0.639000
25%        1.009000
50%        1.049000
75%        1.079000
max        1.260000
Name: Precio Gases licuados del petróleo, dtype: float64

In [61]:
# Registros sin venta Gas NAtural Licuado del Petróleo
sin_suministro_gnlp = df_n['Precio Gases licuados del petróleo'].isnull().sum()
sin_suministro_gnlp

10939

In [62]:
ceros_sin_suministro_gnlp = (df_n['Precio Gases licuados del petróleo'] == 0).sum()
ceros_sin_suministro_gnlp

0

# Gasoleo A

In [63]:
Gasoleo_A = df_n['Precio Gasoleo A'].unique()
print(len(Gasoleo_A))
print(type(Gasoleo_A))
Gasoleo_A

425
<class 'numpy.ndarray'>

array(['1,899', '2,040', '1,999', '1,949', '1,877', '2,000', '1,969',
       '1,878', '1,959', '1,879', '1,979', '1,919', '1,859', '1,989',
       '1,939', '1,950', '', '1,929', '2,259', '1,850', '1,849', '1,955',
       '1,965', '2,019', '1,909', '1,870', '1,995', '1,904', '1,800',
       '1,830', '1,889', '2,009', '1,869', '1,885', '1,846', '1,987',
       '2,029', '1,814', '1,890', '1,860', '1,820', '1,740', '2,049',
       '1,809', '1,875', '1,819', '1,856', '1,897', '1,779', '1,858',
       '1,924', '1,935', '1,791', '1,847', '1,963', '1,985', '1,772',
       '1,769', '1,962', '1,898', '1,997', '1,990', '1,988', '1,972',
       '2,018', '1,887', '1,888', '1,867', '1,839', '1,961', '1,829',
       '1,951', '1,974', '1,940', '1,918', '1,944', '1,902', '1,984',
       '1,799', '1,975', '1,815', '1,818', '1,789', '1,894', '1,930',
       '1,845', '1,983', '1,934', '1,936', '1,970', '1,857', '1,917',
       '1,968', '2,059', '1,854', '1,828', '1,805', '1,749', '1,817',
       '1,837', '1,767', '2,035', '1,945', '1,868', '1,785', '1,920',
       '1,964', '1,882', '1,915', '1,912', '1,966', '1,844', '1,810',
       '1,895', '2,017', '1,855', '1,851', '1,747', '1,790', '1,734',
       '1,739', '1,835', '1,812', '2,014', '1,880', '1,827', '1,787',
       '1,938', '1,832', '2,005', '1,957', '1,825', '2,079', '2,025',
       '1,716', '2,069', '2,039', '1,994', '2,028', '1,874', '1,914',
       '1,941', '1,884', '1,892', '1,960', '1,932', '1,998', '1,900',
       '2,058', '2,010', '2,015', '2,055', '2,070', '1,910', '1,943',
       '1,759', '1,925', '2,099', '1,852', '1,794', '2,109', '1,871',
       '1,931', '1,788', '1,866', '1,755', '1,797', '1,991', '2,067',
       '2,129', '2,089', '2,004', '1,954', '1,958', '1,893', '2,003',
       '2,024', '2,057', '1,967', '1,773', '2,012', '1,927', '1,836',
       '2,027', '1,777', '1,937', '1,807', '1,775', '1,848', '1,838',
       '1,798', '1,768', '1,980', '1,804', '1,978', '1,776', '1,774',
       '1,876', '1,906', '1,864', '1,795', '1,784', '1,763', '1,778',
       '2,249', '1,908', '1,760', '1,977', '2,139', '2,016', '1,842',
       '1,780', '1,948', '1,923', '1,833', '1,905', '1,764', '1,873',
       '1,971', '1,946', '1,896', '2,030', '1,956', '1,901', '1,808',
       '1,771', '1,793', '1,529', '1,548', '1,535', '1,796', '1,766',
       '1,757', '1,840', '1,459', '1,475', '1,928', '1,865', '1,765',
       '1,826', '1,726', '1,783', '1,824', '1,679', '1,717', '1,737',
       '1,792', '1,735', '1,781', '1,770', '2,048', '2,001', '2,020',
       '2,045', '2,068', '1,942', '1,993', '1,981', '1,881', '1,786',
       '2,085', '1,921', '1,843', '2,088', '1,834', '2,309', '1,822',
       '1,831', '1,751', '2,022', '1,802', '1,750', '1,657', '2,038',
       '2,200', '2,043', '1,947', '2,090', '1,916', '1,696', '1,756',
       '1,973', '1,811', '1,700', '1,500', '1,891', '1,903', '1,782',
       '1,952', '1,986', '2,052', '2,211', '2,008', '2,199', '2,032',
       '1,911', '1,862', '1,730', '1,853', '1,729', '1,439', '1,454',
       '1,455', '1,495', '1,744', '1,550', '1,699', '1,731', '1,446',
       '2,111', '1,719', '1,886', '2,181', '2,050', '2,037', '1,821',
       '1,863', '1,519', '1,499', '1,508', '1,374', '1,479', '1,469',
       '1,399', '1,336', '1,489', '1,498', '1,389', '1,335', '1,539',
       '1,579', '1,559', '1,549', '1,534', '1,525', '1,497', '1,504',
       '1,515', '1,524', '1,514', '1,513', '1,485', '1,468', '1,417',
       '1,421', '1,409', '1,527', '1,493', '1,487', '1,573', '1,585',
       '1,599', '1,754', '1,593', '1,554', '1,509', '1,505', '1,532',
       '1,544', '1,369', '1,494', '1,397', '1,545', '1,503', '1,520',
       '1,483', '1,526', '1,419', '1,451', '1,386', '1,517', '1,490',
       '1,588', '1,444', '1,609', '1,449', '1,933', '2,006', '1,907',
       '1,926', '1,707', '1,434', '1,518', '1,562', '1,658', '1,528',
       '1,484', '1,496', '1,491', '1,480', '1,407', '1,758', '1,695',
       '1,567', '1,678', '1,510', '1,429', '1,425', '1,471', '1,620',
       '1,349', '1,319', '1,512', '1,473', '1,558', '1,530', '1,580',
       '1,416', '1,474', '1,478', '1,415', '1,424', '1,762', '1,996',
       '2,044', '1,752', '2,034', '1,803', '1,813', '1,841', '1,861',
       '2,119', '2,150', '2,101', '1,922'], dtype=object)

In [64]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasoleo A']=df_n['Precio Gasoleo A'].str.replace(',','.')
df_n[['Precio Gasoleo A']]=df_n[['Precio Gasoleo A']].apply(pd.to_numeric)

In [65]:
df_n['Precio Gasoleo A'].describe()

count    11445.000000
mean         1.918386
std          0.108217
min          1.319000
25%          1.887000
50%          1.949000
75%          1.979000
max          2.309000
Name: Precio Gasoleo A, dtype: float64

In [66]:
# Registros sin venta Gasoleo A
sin_suministro_gA = df_n['Precio Gasoleo A'].isnull().sum()
sin_suministro_gA

344

In [67]:
ceros_sin_suministro_gA = (df_n['Precio Gasoleo A'] == 0).sum()
ceros_sin_suministro_gA

0

# Gasoleo B

In [68]:
Gasoleo_B = df_n['Precio Gasoleo B'].unique()
print(len(Gasoleo_A))
print(type(Gasoleo_A))
Gasoleo_B

425
<class 'numpy.ndarray'>

array(['1,390', '', '1,573', '1,450', '1,440', '1,639', '1,539', '1,519',
       '1,446', '1,690', '1,438', '1,587', '1,499', '1,470', '1,609',
       '1,550', '1,524', '1,530', '1,529', '1,428', '1,400', '1,489',
       '1,699', '1,602', '1,617', '1,404', '1,540', '1,619', '1,449',
       '1,377', '1,490', '1,405', '1,612', '1,430', '1,679', '1,629',
       '1,359', '1,370', '1,589', '1,574', '1,457', '1,267', '1,443',
       '1,551', '1,420', '1,569', '1,599', '1,719', '1,659', '1,651',
       '1,579', '1,669', '1,559', '1,076', '1,689', '1,634', '1,600',
       '1,749', '1,595', '1,562', '1,779', '1,627', '1,674', '1,628',
       '1,560', '1,549', '1,580', '1,670', '1,649', '1,491', '1,509',
       '1,500', '1,495', '1,556', '1,585', '1,473', '1,363', '1,506',
       '1,535', '1,488', '1,536', '1,522', '1,572', '1,567', '1,685',
       '1,537', '1,479', '1,554', '1,625', '1,805', '1,577', '1,759',
       '1,729', '1,686', '1,454', '1,677', '1,658', '1,590', '1,594',
       '1,611', '1,652', '1,544', '1,557', '1,621', '1,750', '1,626',
       '1,553', '1,700', '1,644', '1,565', '1,525', '1,650', '1,592',
       '1,809', '1,469', '1,596', '1,427', '1,769', '1,697', '1,485',
       '1,444', '1,358', '1,641', '1,294', '1,387', '1,379', '1,448',
       '1,555', '1,512', '1,583', '1,460', '1,528', '1,510', '1,459',
       '1,435', '1,401', '1,630', '1,393', '1,455', '1,437', '1,109',
       '1,434', '1,349', '1,507', '1,492', '1,481', '1,386', '1,570',
       '1,475', '1,447', '1,480', '1,421', '1,381', '1,515', '1,638',
       '1,315', '1,409', '1,545', '1,399', '1,471', '1,752', '1,949',
       '1,702', '1,547', '1,657', '1,678', '1,643', '1,597', '1,520',
       '1,663', '1,624', '1,610', '1,541', '1,709', '1,608', '1,568',
       '1,662', '1,342', '1,739', '1,564', '1,534', '1,333', '1,605',
       '1,424', '1,429', '1,009', '1,552', '1,668', '1,425', '1,566',
       '1,412', '1,496', '1,603', '1,468', '1,558', '1,563', '1,620',
       '1,533', '1,778', '1,538', '1,543', '1,598', '1,498', '1,511',
       '1,578', '1,365', '1,410', '1,465', '1,396', '1,415', '1,395',
       '1,397', '1,423', '1,527', '1,531', '1,398', '1,360', '1,299',
       '1,483', '1,518', '1,640', '1,383', '1,419', '1,422', '1,548',
       '1,588', '1,330', '1,542', '1,417', '1,378', '1,601', '1,546',
       '1,380', '1,353', '1,698', '1,681', '1,584', '1,710', '1,680',
       '1,618', '1,613', '1,695', '1,439', '1,436', '1,300', '1,452',
       '1,466', '1,493', '1,426', '1,467', '1,464', '1,348', '1,683',
       '1,704', '1,606', '1,671', '1,693', '1,615', '1,514', '1,694',
       '1,673', '1,890', '1,711', '1,623', '1,385', '1,799', '1,433',
       '1,561', '1,604', '1,442', '1,367', '1,445', '1,582', '1,789',
       '1,521', '1,355', '1,900', '1,375', '1,337', '1,482', '1,456',
       '1,389', '1,760', '1,384', '1,508', '1,513', '1,505', '1,477',
       '1,432', '1,622', '1,214', '1,532', '1,586', '1,340', '1,647',
       '1,684', '1,350', '1,463', '1,593', '1,517', '1,484', '1,413',
       '1,676', '1,607', '1,632', '1,170', '1,245', '1,418', '1,391',
       '1,653', '1,431', '1,361', '1,487', '1,329', '1,320', '1,614',
       '1,720', '1,571', '1,326', '1,406', '1,362', '1,523', '1,416',
       '1,313', '1,382', '1,371', '1,486', '1,616', '1,646', '1,636',
       '1,839', '1,344', '1,441', '1,631', '1,289', '1,654', '1,730',
       '1,526', '1,660', '1,504', '1,581', '1,755', '1,497', '1,575',
       '1,829', '1,766', '1,635', '1,637', '1,648', '1,633', '1,352',
       '1,462', '1,328', '1,503', '1,130', '1,476', '1,494', '1,369',
       '1,269', '1,451', '1,262', '1,501', '1,286', '1,461', '1,591',
       '1,516', '1,411', '1,407', '1,253', '1,339', '1,388', '1,368',
       '1,402', '1,688', '1,296', '1,672', '1,642', '1,290', '1,414',
       '1,474', '1,280', '1,403', '1,458', '1,345'], dtype=object)

In [69]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasoleo B']=df_n['Precio Gasoleo B'].str.replace(',','.')
df_n[['Precio Gasoleo B']]=df_n[['Precio Gasoleo B']].apply(pd.to_numeric)

In [70]:
df_n['Precio Gasoleo B'].describe()

count    3006.000000
mean        1.541570
std         0.099172
min         1.009000
25%         1.469000
50%         1.549000
75%         1.609000
max         1.949000
Name: Precio Gasoleo B, dtype: float64

In [71]:
# Registros sin venta Gasoleo B
sin_suministro_gB = df_n['Precio Gasoleo B'].isnull().sum()
sin_suministro_gB

8783

In [72]:
ceros_sin_suministro_gB = (df_n['Precio Gasoleo B'] == 0).sum()
ceros_sin_suministro_gB

0

# Precio Gasoleo Premium

In [73]:
Gasoleo_P = df_n['Precio Gasoleo Premium'].unique()
print(len(Gasoleo_P))
print(type(Gasoleo_P))
Gasoleo_P

386
<class 'numpy.ndarray'>

array(['', '2,300', '2,039', '2,029', '2,089', '1,948', '2,019', '2,099',
       '1,959', '2,015', '2,069', '1,929', '2,049', '2,009', '2,059',
       '1,989', '1,999', '1,909', '1,966', '2,035', '2,065', '2,079',
       '2,109', '1,955', '1,889', '2,014', '2,023', '2,075', '2,095',
       '1,887', '2,028', '2,063', '2,057', '2,045', '2,229', '1,949',
       '1,979', '1,939', '1,899', '2,044', '2,119', '1,981', '2,054',
       '1,973', '1,815', '1,974', '2,067', '1,996', '2,031', '2,010',
       '2,074', '2,004', '1,988', '2,085', '2,138', '2,125', '1,854',
       '1,829', '2,999', '2,024', '2,038', '2,055', '1,919', '1,969',
       '1,855', '1,935', '1,947', '1,957', '2,036', '2,025', '2,129',
       '1,828', '1,897', '1,879', '1,985', '2,048', '1,884', '2,083',
       '1,890', '1,852', '1,832', '1,843', '1,840', '2,084', '1,903',
       '1,862', '1,841', '2,092', '1,995', '2,020', '2,070', '2,034',
       '1,895', '2,205', '2,115', '2,165', '2,104', '2,139', '2,098',
       '2,005', '1,994', '1,839', '1,928', '2,051', '1,984', '1,938',
       '1,859', '1,875', '1,898', '1,907', '1,950', '1,990', '2,012',
       '2,149', '2,097', '1,953', '2,061', '2,169', '2,130', '2,090',
       '2,030', '1,799', '1,874', '1,975', '2,091', '1,753', '2,041',
       '1,817', '2,159', '2,245', '2,126', '1,869', '2,066', '2,118',
       '2,033', '2,082', '2,128', '2,127', '2,137', '2,105', '1,917',
       '1,908', '2,017', '1,964', '1,924', '2,007', '2,060', '2,027',
       '1,868', '2,080', '2,064', '2,026', '2,021', '2,011', '1,810',
       '1,865', '1,968', '1,956', '1,946', '1,857', '1,827', '1,876',
       '1,847', '1,795', '1,849', '1,844', '1,991', '1,858', '2,100',
       '1,848', '2,108', '1,958', '2,047', '2,081', '1,910', '2,199',
       '1,920', '2,068', '2,077', '2,000', '1,822', '1,997', '1,877',
       '1,809', '1,951', '2,018', '2,101', '2,040', '1,936', '2,058',
       '2,078', '1,569', '1,575', '1,980', '1,934', '1,870', '1,945',
       '1,998', '1,943', '1,837', '1,867', '2,088', '2,071', '2,037',
       '2,107', '1,978', '2,134', '2,072', '1,954', '2,148', '2,151',
       '2,050', '2,022', '1,922', '1,962', '1,944', '2,187', '1,894',
       '1,925', '1,819', '2,120', '1,982', '1,970', '1,904', '2,008',
       '1,965', '2,043', '2,209', '1,927', '1,914', '1,905', '1,790',
       '2,056', '1,937', '2,132', '2,131', '1,769', '2,189', '1,892',
       '2,073', '1,915', '2,112', '1,779', '1,851', '1,941', '1,835',
       '2,006', '1,489', '1,494', '1,505', '1,545', '1,878', '1,838',
       '2,032', '1,830', '1,930', '1,896', '1,818', '2,003', '2,301',
       '2,114', '1,987', '1,599', '1,639', '1,604', '1,669', '1,619',
       '1,499', '1,629', '1,535', '1,605', '1,649', '1,729', '1,699',
       '1,655', '1,654', '1,637', '1,609', '1,635', '1,614', '1,659',
       '1,618', '1,601', '1,625', '1,534', '1,579', '1,565', '1,709',
       '1,719', '1,738', '1,624', '1,642', '1,630', '1,660', '1,650',
       '1,549', '1,689', '1,622', '1,529', '1,615', '1,644', '1,664',
       '1,623', '1,636', '1,469', '1,498', '1,628', '1,645', '1,525',
       '1,674', '1,524', '1,554', '1,634', '1,490', '1,577', '1,585',
       '1,616', '1,590', '1,688', '1,710', '1,620', '2,086', '1,961',
       '1,643', '1,638', '1,631', '1,626', '1,550', '1,574', '1,646',
       '1,803', '1,607', '1,657', '1,547', '1,725', '1,564', '1,519',
       '1,539', '1,589', '1,802', '1,573', '1,594', '1,595', '1,640',
       '1,740', '1,666', '1,613', '1,544', '1,584', '1,503', '1,588',
       '2,178', '2,135', '2,106', '1,789', '2,116', '2,110', '1,836',
       '1,933', '1,850', '1,880', '1,921', '1,926', '2,087', '1,960',
       '1,804', '1,864', '2,117', '1,977', '1,967', '2,124', '2,185',
       '1,916', '1,783', '1,866', '1,900', '1,913', '2,122', '1,808',
       '1,942', '2,046', '2,094', '1,777', '2,121', '2,062', '1,906'],
      dtype=object)

In [74]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasoleo Premium']=df_n['Precio Gasoleo Premium'].str.replace(',','.')
df_n[['Precio Gasoleo Premium']]=df_n[['Precio Gasoleo Premium']].apply(pd.to_numeric)

In [75]:
df_n['Precio Gasoleo Premium'].describe()

count    7510.000000
mean        2.010428
std         0.105833
min         1.469000
25%         1.989000
50%         2.039000
75%         2.069000
max         2.999000
Name: Precio Gasoleo Premium, dtype: float64

In [76]:
# Registros sin venta Gasoleo Premium
sin_suministro_gP = df_n['Precio Gasoleo Premium'].isnull().sum()
sin_suministro_gP

4279

In [77]:
ceros_sin_suministro_gP = (df_n['Precio Gasoleo Premium'] == 0).sum()
ceros_sin_suministro_gP

0

# Precio Gasolina 95 E10

In [78]:
g95_E10 = df_n['Precio Gasolina 95 E10'].unique()
print(len(g95_E10))
print(type(g95_E10))
g95_E10

18
<class 'numpy.ndarray'>

array(['', '2,129', '1,979', '1,788', '1,824', '1,720', '1,859', '1,909',
       '1,959', '1,841', '1,699', '1,749', '1,669', '1,899', '1,969',
       '1,759', '1,874', '1,868'], dtype=object)

In [79]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasolina 95 E10']=df_n['Precio Gasolina 95 E10'].str.replace(',','.')
df_n[['Precio Gasolina 95 E10']]=df_n[['Precio Gasolina 95 E10']].apply(pd.to_numeric)

In [80]:
 df_n['Precio Gasolina 95 E10'].describe()

count    22.000000
mean      1.854045
std       0.111947
min       1.669000
25%       1.766250
50%       1.859000
75%       1.909000
max       2.129000
Name: Precio Gasolina 95 E10, dtype: float64

In [81]:
# Registros sin venta Gasoleo Premium
sin_suministro_95E10 = df_n['Precio Gasolina 95 E10'].isnull().sum()
sin_suministro_95E10

11767

# Precio Gasolina 95 E5

In [82]:
g95_E5 = df_n['Precio Gasolina 95 E5'].unique()
print(len(g95_E5))
print(type(g95_E5))
g95_E5

446
<class 'numpy.ndarray'>

array(['1,749', '1,909', '1,849', '1,809', '1,697', '', '1,819', '1,799',
       '1,698', '1,759', '1,699', '1,769', '1,859', '1,839', '1,730',
       '1,791', '2,299', '1,729', '1,690', '1,739', '1,689', '1,789',
       '1,779', '1,652', '1,632', '1,829', '1,750', '1,719', '1,679',
       '1,708', '1,709', '1,775', '1,805', '1,734', '1,718', '1,670',
       '1,673', '1,764', '1,715', '1,667', '1,814', '1,825', '1,659',
       '1,639', '1,824', '1,613', '1,797', '1,607', '1,707', '1,807',
       '1,804', '1,788', '1,784', '1,755', '1,869', '1,794', '1,657',
       '1,889', '1,748', '1,833', '1,717', '1,800', '1,629', '1,798',
       '1,760', '1,795', '1,685', '1,724', '1,655', '1,635', '1,669',
       '1,746', '1,879', '1,818', '1,727', '1,777', '1,778', '1,786',
       '1,834', '1,649', '1,647', '1,599', '1,765', '1,737', '1,675',
       '1,597', '1,821', '1,767', '1,688', '1,733', '1,738', '1,845',
       '1,768', '1,855', '1,772', '1,836', '1,700', '1,757', '1,969',
       '1,862', '1,640', '1,666', '1,696', '1,630', '1,627', '1,888',
       '1,732', '1,919', '1,885', '1,815', '1,780', '1,720', '1,844',
       '1,858', '1,874', '1,898', '1,677', '1,728', '2,000', '1,787',
       '1,854', '1,725', '1,850', '1,884', '1,929', '1,747', '1,864',
       '1,899', '1,918', '1,796', '1,840', '1,835', '1,870', '1,770',
       '1,693', '1,959', '1,695', '1,831', '1,857', '1,860', '1,740',
       '1,745', '1,920', '1,774', '1,790', '1,907', '1,735', '1,758',
       '1,999', '1,785', '1,828', '1,851', '1,896', '1,868', '1,846',
       '1,867', '1,848', '1,668', '1,827', '1,588', '1,742', '1,886',
       '1,618', '1,665', '1,838', '1,816', '1,741', '1,592', '1,687',
       '1,878', '1,744', '1,671', '1,587', '1,890', '1,847', '1,591',
       '1,619', '1,589', '1,808', '1,875', '1,590', '1,726', '1,653',
       '1,939', '1,694', '1,609', '1,598', '1,593', '1,916', '2,049',
       '1,894', '2,149', '1,935', '1,822', '1,810', '1,947', '1,876',
       '1,610', '1,680', '1,866', '1,865', '1,660', '1,714', '1,820',
       '1,754', '1,830', '1,648', '1,603', '1,793', '1,600', '1,620',
       '1,792', '1,435', '1,453', '1,454', '1,683', '1,716', '1,663',
       '1,681', '1,624', '1,577', '1,645', '1,560', '1,650', '1,308',
       '1,340', '1,911', '1,897', '1,811', '1,832', '1,921', '1,925',
       '1,905', '1,705', '1,763', '1,802', '1,965', '1,686', '1,936',
       '1,722', '1,817', '1,658', '1,678', '1,766', '1,617', '1,615',
       '1,949', '1,762', '1,684', '2,329', '1,672', '1,674', '1,904',
       '1,604', '1,614', '1,704', '1,887', '1,801', '1,841', '1,706',
       '1,691', '1,633', '1,806', '1,871', '1,710', '1,751', '1,656',
       '1,702', '1,853', '1,892', '1,783', '1,651', '2,120', '1,703',
       '1,856', '1,594', '1,595', '1,625', '1,664', '1,596', '1,842',
       '1,837', '1,782', '1,637', '1,612', '1,752', '1,736', '1,654',
       '1,567', '1,565', '1,622', '2,074', '1,989', '1,569', '1,902',
       '1,843', '1,938', '1,882', '1,712', '1,692', '1,713', '1,731',
       '1,638', '1,661', '1,379', '1,378', '1,409', '1,723', '1,781',
       '2,100', '1,756', '2,111', '1,623', '1,981', '1,933', '1,900',
       '1,872', '1,823', '1,469', '1,444', '1,458', '1,279', '1,459',
       '1,439', '1,299', '1,199', '1,339', '1,448', '1,324', '1,519',
       '1,499', '1,478', '1,479', '1,489', '1,460', '1,432', '1,440',
       '1,430', '1,449', '1,450', '1,492', '1,485', '1,515', '1,359',
       '1,248', '1,235', '1,475', '1,429', '1,487', '1,513', '1,549',
       '1,531', '1,508', '1,399', '1,502', '1,509', '1,249', '1,484',
       '1,512', '1,529', '1,474', '1,289', '1,477', '1,464', '1,514',
       '1,468', '1,559', '1,504', '1,471', '1,461', '1,438', '1,496',
       '1,419', '1,447', '1,455', '1,465', '1,374', '1,425', '1,526',
       '1,497', '1,803', '1,233', '1,239', '1,424', '1,482', '1,503',
       '1,394', '1,392', '1,381', '1,386', '1,389', '1,380', '1,355',
       '1,302', '1,415', '1,585', '1,367', '1,581', '1,400', '1,452',
       '1,297', '1,369', '1,402', '1,352', '1,427', '1,365', '1,414',
       '1,570', '1,375', '1,445', '1,209', '1,397', '1,385', '1,377',
       '1,428', '1,364', '1,418', '1,395', '1,314', '1,472', '1,401',
       '1,319', '1,408', '1,357', '1,462', '1,398', '1,259', '1,220',
       '1,384', '1,404', '1,388', '1,416', '1,229', '1,349', '1,371',
       '1,558', '1,410', '1,917', '1,753', '1,883', '1,641', '1,682',
       '1,561', '1,881', '1,813', '1,601'], dtype=object)

In [83]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasolina 95 E5']=df_n['Precio Gasolina 95 E5'].str.replace(',','.')
df_n[['Precio Gasolina 95 E5']]=df_n[['Precio Gasolina 95 E5']].apply(pd.to_numeric)

In [84]:
df_n['Precio Gasolina 95 E5'].describe()

count    10640.000000
mean         1.774055
std          0.098145
min          1.199000
25%          1.739000
50%          1.799000
75%          1.829000
max          2.329000
Name: Precio Gasolina 95 E5, dtype: float64

In [85]:
# Registros sin venta Gasoleo Premium
sin_suministro_g95E5 = df_n['Precio Gasolina 95 E5'].isnull().sum()
sin_suministro_g95E5

1149

In [86]:
ceros_sin_suministro_g95E5  = (df_n['Precio Gasolina 95 E5'] == 0).sum()
ceros_sin_suministro_g95E5

0

# Precio Gasolina 95 E5 Premium

In [87]:
g95_E5_P = df_n['Precio Gasolina 95 E5 Premium'].unique()
print(len(g95_E5_P))
print(type(g95_E5_P))
g95_E5_P

95
<class 'numpy.ndarray'>

array(['', '1,879', '1,869', '1,799', '1,849', '1,889', '1,829', '1,859',
       '1,809', '1,979', '1,899', '1,867', '1,864', '1,819', '1,884',
       '1,909', '1,839', '1,939', '1,784', '1,719', '1,789', '1,914',
       '1,738', '1,894', '1,919', '1,689', '1,699', '1,661', '1,666',
       '1,959', '1,924', '1,749', '1,954', '1,929', '1,989', '1,974',
       '1,844', '1,949', '1,969', '1,885', '1,934', '1,944', '1,679',
       '1,709', '1,779', '1,814', '1,759', '1,724', '1,904', '1,874',
       '1,895', '1,855', '1,729', '1,824', '1,840', '1,489', '1,845',
       '1,854', '1,769', '1,835', '1,868', '1,765', '1,827', '1,958',
       '1,710', '1,708', '1,717', '1,748', '1,746', '1,718', '1,716',
       '1,735', '1,698', '1,627', '1,842', '1,828', '1,667', '1,739',
       '1,984', '1,359', '1,505', '1,745', '1,994', '1,339', '1,875',
       '1,834', '1,880', '1,878', '1,811', '1,795', '2,019', '1,761',
       '2,099', '1,794', '1,877'], dtype=object)

In [88]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasolina 95 E5 Premium']=df_n['Precio Gasolina 95 E5 Premium'].str.replace(',','.')
df_n[['Precio Gasolina 95 E5 Premium']]=df_n[['Precio Gasolina 95 E5 Premium']].apply(pd.to_numeric)

In [89]:
df_n['Precio Gasolina 95 E5 Premium'].describe()

count    804.000000
mean       1.862813
std        0.074058
min        1.339000
25%        1.839000
50%        1.874000
75%        1.899000
max        2.099000
Name: Precio Gasolina 95 E5 Premium, dtype: float64

In [90]:
# Registros sin venta Gasolina 95 E5 Premium
sin_suministro_g95E5_Prem = df_n['Precio Gasolina 95 E5 Premium'].isnull().sum()
sin_suministro_g95E5_Prem

10985

In [91]:
ceros_sin_suministro_g95E5_Prem  = (df_n['Precio Gasolina 95 E5 Premium'] == 0).sum()
ceros_sin_suministro_g95E5

0

# Precio Gasolina 98 E10

In [92]:
g98_E10 = df_n['Precio Gasolina 98 E10'].unique()
print(len(g98_E10))
print(type(g98_E10))
g98_E10

8
<class 'numpy.ndarray'>

array(['', '1,995', '1,859', '1,760', '1,907', '1,939', '1,949', '1,838'],
      dtype=object)

In [93]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasolina 98 E10']=df_n['Precio Gasolina 98 E10'].str.replace(',','.')
df_n[['Precio Gasolina 98 E10']]=df_n[['Precio Gasolina 98 E10']].apply(pd.to_numeric)

In [94]:
df_n['Precio Gasolina 98 E10'].describe()

count    8.000000
mean     1.898250
std      0.075231
min      1.760000
25%      1.853750
50%      1.923000
75%      1.941500
max      1.995000
Name: Precio Gasolina 98 E10, dtype: float64

In [95]:
# Registros sin venta Gasolina 98 E10 
sin_suministro_g98E10 = df_n['Precio Gasolina 98 E10'].isnull().sum()
sin_suministro_g98E10

11781

# Precio Gasolina 98 E5

In [96]:
g98_E5 = df_n['Precio Gasolina 98 E5'].unique()
print(len(g98_E5))
print(type(g98_E5))
g98_E5

420
<class 'numpy.ndarray'>

array(['', '2,200', '1,949', '1,951', '1,929', '1,939', '1,859', '1,899',
       '1,901', '2,089', '1,989', '1,919', '1,879', '1,889', '1,883',
       '2,369', '1,911', '1,999', '1,909', '1,969', '1,941', '1,961',
       '2,099', '1,866', '2,179', '1,934', '1,959', '1,849', '1,991',
       '1,967', '1,833', '1,942', '1,918', '2,599', '1,971', '2,009',
       '1,938', '2,031', '2,059', '2,029', '1,869', '1,916', '1,867',
       '1,948', '1,965', '1,785', '2,019', '1,874', '1,966', '2,001',
       '1,930', '1,921', '2,000', '2,039', '1,931', '2,999', '1,819',
       '1,809', '1,875', '1,979', '1,956', '1,995', '1,946', '1,981',
       '1,805', '1,985', '1,964', '1,732', '1,940', '1,891', '1,888',
       '1,953', '2,079', '1,857', '1,895', '2,071', '1,945', '2,169',
       '1,984', '2,018', '2,006', '2,049', '1,907', '2,038', '1,972',
       '1,868', '1,924', '1,986', '1,950', '1,992', '2,026', '1,998',
       '1,996', '2,021', '1,920', '1,976', '2,141', '1,917', '2,069',
       '1,915', '2,011', '2,109', '2,028', '1,799', '1,820', '1,954',
       '1,926', '1,848', '1,905', '1,955', '2,098', '1,990', '1,858',
       '1,856', '2,003', '2,035', '2,010', '1,944', '2,005', '1,978',
       '1,997', '2,017', '2,041', '1,947', '1,769', '1,829', '2,025',
       '1,792', '1,906', '1,994', '2,046', '1,802', '2,160', '1,914',
       '1,690', '2,020', '1,699', '1,887', '2,007', '1,988', '1,816',
       '2,180', '1,693', '1,839', '1,894', '1,885', '2,150', '1,896',
       '1,935', '1,739', '1,890', '1,680', '1,822', '1,958', '2,124',
       '2,078', '2,048', '1,928', '2,145', '2,013', '1,908', '2,129',
       '2,157', '2,199', '2,095', '2,149', '1,878', '2,139', '1,933',
       '2,014', '1,854', '1,767', '2,119', '2,037', '1,880', '2,004',
       '2,209', '1,898', '1,925', '1,789', '1,876', '1,970', '1,871',
       '1,469', '1,483', '1,749', '2,229', '1,845', '1,975', '1,861',
       '1,798', '2,081', '2,047', '1,846', '2,159', '2,065', '2,016',
       '1,980', '1,932', '2,091', '2,115', '1,748', '1,842', '2,060',
       '1,977', '1,968', '1,974', '1,852', '1,957', '1,784', '2,024',
       '1,810', '1,815', '1,963', '1,841', '1,795', '2,500', '1,835',
       '1,779', '1,900', '1,913', '1,840', '2,299', '1,639', '2,074',
       '2,032', '2,015', '1,765', '1,759', '1,936', '1,804', '2,075',
       '1,695', '1,881', '1,922', '2,008', '1,698', '1,904', '1,952',
       '1,865', '1,943', '2,120', '1,862', '2,068', '2,239', '1,844',
       '1,788', '2,108', '1,960', '1,983', '1,757', '1,910', '1,877',
       '1,855', '1,722', '1,782', '2,215', '1,937', '1,825', '1,559',
       '1,534', '1,489', '1,593', '1,659', '1,569', '1,459', '1,380',
       '1,599', '1,583', '1,474', '1,589', '1,499', '1,619', '1,679',
       '1,613', '1,609', '1,579', '1,581', '1,572', '1,544', '1,551',
       '1,542', '1,582', '1,529', '1,539', '1,562', '1,649', '1,588',
       '1,629', '1,601', '1,617', '1,399', '1,558', '1,576', '1,684',
       '1,691', '1,707', '1,618', '1,604', '1,575', '1,564', '1,632',
       '1,585', '1,574', '1,577', '1,620', '1,689', '1,580', '1,674',
       '1,634', '1,550', '1,594', '1,567', '1,625', '1,626', '1,419',
       '1,448', '1,605', '1,600', '1,475', '1,584', '1,624', '1,494',
       '1,615', '1,509', '1,372', '1,614', '1,492', '1,628', '1,506',
       '1,549', '1,676', '1,627', '1,837', '1,897', '1,371', '1,598',
       '1,554', '1,648', '1,511', '1,460', '1,420', '1,606', '1,546',
       '1,540', '1,480', '1,675', '1,504', '1,595', '1,410', '1,423',
       '1,697', '1,524', '1,647', '1,490', '1,514', '1,520', '1,377',
       '1,477', '1,573', '1,465', '1,519', '1,688', '1,545', '1,479',
       '1,449', '1,464', '1,497', '1,740', '1,485', '1,424', '1,493',
       '1,458', '1,488', '1,484', '1,385', '1,472', '1,394', '1,568',
       '1,525', '1,505', '1,597', '1,526', '1,415', '1,395', '1,478',
       '1,435', '1,498', '1,495', '1,528', '1,566', '1,363', '1,510',
       '1,565', '1,513', '1,501', '1,418', '1,553', '1,408', '1,533',
       '1,530', '2,058', '2,247', '2,219', '1,982', '2,450', '1,927',
       '1,794', '1,851', '1,800', '2,064', '2,220', '2,055', '1,847',
       '1,813', '1,830', '1,886', '2,279', '2,250', '1,850'], dtype=object)

In [97]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasolina 98 E5']=df_n['Precio Gasolina 98 E5'].str.replace(',','.')
df_n[['Precio Gasolina 98 E5']]=df_n[['Precio Gasolina 98 E5']].apply(pd.to_numeric)

In [98]:
df_n['Precio Gasolina 98 E5'].describe()

count    5950.000000
mean        1.925452
std         0.121452
min         1.363000
25%         1.909000
50%         1.949000
75%         1.985000
max         2.999000
Name: Precio Gasolina 98 E5, dtype: float64

In [99]:
# Registros sin venta Gasolina 98 E5 
sin_suministro_g98E5 = df_n['Precio Gasolina 98 E5'].isnull().sum()
sin_suministro_g98E5

5839

In [100]:
ceros_sin_suministro_g98E5  = (df_n['Precio Gasolina 98 E5'] == 0).sum()
ceros_sin_suministro_g98E5

0

# Precio Hidrogeno

In [101]:
Hidrongeno = df_n['Precio Hidrogeno'].unique()
print(len(Hidrongeno))
print(type(Hidrongeno))
Hidrongeno

1
<class 'numpy.ndarray'>

array([''], dtype=object)

In [102]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Hidrogeno']=df_n['Precio Hidrogeno'].str.replace(',','.')
df_n[['Precio Hidrogeno']]=df_n[['Precio Hidrogeno']].apply(pd.to_numeric)

In [103]:
df_n['Precio Hidrogeno'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: Precio Hidrogeno, dtype: float64

In [104]:
df_n.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11789 entries, 0 to 11788
Data columns (total 33 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Fecha                               11789 non-null  object
 1   C.P.                                11789 non-null  object
 2   Dirección                           11789 non-null  object
 3   Horario                             11789 non-null  object
 4   Latitud                             11789 non-null  object
 5   Localidad                           11789 non-null  object
 6   Longitud (WGS84)                    11789 non-null  object
 7   Margen                              11789 non-null  object
 8   Municipio                           11789 non-null  object
 9   Precio Biodiesel                    38 non-null     float64
 10  Precio Bioetanol                    5 non-null      float64
 11  Precio Gas Natural Comprimido       122 non-null    float64
 12  Precio Gas Natural Licuado          82 non-null     float64
 13  Precio Gases licuados del petróleo  850 non-null    float64
 14  Precio Gasoleo A                    11445 non-null  float64
 15  Precio Gasoleo B                    3006 non-null   float64
 16  Precio Gasoleo Premium              7510 non-null   float64
 17  Precio Gasolina 95 E10              22 non-null     float64
 18  Precio Gasolina 95 E5               10640 non-null  float64
 19  Precio Gasolina 95 E5 Premium       804 non-null    float64
 20  Precio Gasolina 98 E10              8 non-null      float64
 21  Precio Gasolina 98 E5               5950 non-null   float64
 22  Precio Hidrogeno                    0 non-null      float64
 23  Provincia                           11789 non-null  object
 24  Remisión                            11789 non-null  object
 25  Rótulo                              11789 non-null  object
 26  Tipo Venta                          11789 non-null  object
 27  % BioEtanol                         11789 non-null  object
 28  % Éster metílico                    11789 non-null  object
 29  IDEESS                              11789 non-null  object
 30  IDMunicipio                         11789 non-null  object
 31  IDProvincia                         11789 non-null  object
 32  IDCCAA                              11789 non-null  object
dtypes: float64(14), object(19)
memory usage: 3.0+ MB

---
Setp 3

# Limpieza de Columnas

In [105]:
# Eliminiación de columnas que no interesan a nivel usuario o que no aportan datos significativos al modelo
df_n.drop(['Margen', 'Remisión', 'Tipo Venta', '% BioEtanol', '% Éster metílico', 'Precio Biodiesel',
          'Precio Bioetanol', 'Precio Gas Natural Comprimido', 'Precio Gas Natural Licuado', 
          'Precio Gas Natural Licuado', 'Precio Gases licuados del petróleo', 'Precio Gasolina 95 E10',
          'Precio Gasolina 95 E5 Premium', 'Precio Gasolina 98 E10', 'Precio Hidrogeno'], axis=1, inplace=True)

In [106]:
# Comprobación
df_n.iloc[15][['Precio Gasoleo B']]

Precio Gasoleo B    NaN
Name: 15, dtype: object

In [107]:
df_n.head()

,Fecha,C.P.,Dirección,Horario,Latitud,Localidad,Longitud (WGS84),Municipio,Precio Gasoleo A,Precio Gasoleo B,Precio Gasoleo Premium,Precio Gasolina 95 E5,Precio Gasolina 98 E5,Provincia,Rótulo,IDEESS,IDMunicipio,IDProvincia,IDCCAA
0,12/11/2022 9:29:39,02250,"AVENIDA CASTILLA LA MANCHA, 26",L-D: 07:00-22:00,"39,211417",ABENGIBRE,"-1,539167",Abengibre,1.899,1.39,NaN,1.749,NaN,ALBACETE,Nº 10.935,4375,52,02,07
1,12/11/2022 9:29:39,02152,"CR CM-332, 46,4",L-D: 7:00-23:00,"39,100389",ALATOZ,"-1,346083",Alatoz,2.040,NaN,2.300,1.909,2.200,ALBACETE,REPSOL,5122,53,02,07
2,12/11/2022 9:29:39,02001,"AVENIDA 1º DE MAYO, S/N",L-S: 08:00-22:00; D: 09:00-21:00,"38,985667",ALBACETE,"-1,868500",Albacete,1.999,NaN,2.039,1.849,1.949,ALBACETE,CARREFOUR,10765,54,02,07
3,12/11/2022 9:29:39,02001,CALLE PRINCIPE DE ASTURIAS (POLÍGONO DE ROMICA...,L-D: 06:00-21:30,"39,054694",ALBACETE,"-1,832000",Albacete,1.949,NaN,2.039,1.809,1.951,ALBACETE,BP ROMICA,12054,54,02,07
4,12/11/2022 9:29:39,02001,"CALLE FEDERICO GARCIA LORCA, 1",L-D: 24H,"39,000861",ALBACETE,"-1,849833",Albacete,1.877,NaN,NaN,1.697,NaN,ALBACETE,PLENOIL,13933,54,02,07

In [108]:
# Renombramos las columnas
df_n.rename(columns={"Precio Gasoleo A": "Gasoleo A", "Precio Gasoleo B": "Gasoleo B" ,"Precio Gasoleo Premium": "Gasoleo Premium", 
                     "Precio Gasolina 95 E5": "Gasolina 95 E5", "Precio Gasolina 98 E5": "Gasolina 98 E5",
                     "Rótulo":"Proveedor de Servicio"}, inplace=True)
df_n.head(1)

,Fecha,C.P.,Dirección,Horario,Latitud,Localidad,Longitud (WGS84),Municipio,Gasoleo A,Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Provincia,Proveedor de Servicio,IDEESS,IDMunicipio,IDProvincia,IDCCAA
0,12/11/2022 9:29:39,02250,"AVENIDA CASTILLA LA MANCHA, 26",L-D: 07:00-22:00,"39,211417",ABENGIBRE,"-1,539167",Abengibre,1.899,1.39,NaN,1.749,NaN,ALBACETE,Nº 10.935,4375,52,02,07

In [109]:
# Media
df_n['Media Gasoleo A']=df_n['Gasoleo A'].mean()
df_n['Media Gasoleo B']=df_n['Gasoleo B'].mean()
df_n['Media Gasoleo Prem'] = df_n['Gasoleo Premium'].mean()
df_n['Media Gasolina 95']=df_n['Gasolina 95 E5'].mean()
df_n['Media Gasolina 98']=df_n['Gasolina 98 E5'].mean()

In [110]:
# Desviación (eliminanos porque no aporta información va)
#df_n['dev_Gasoleo A']= df_n['Gasoleo A'] - df_n['Media_Gasoleo A']
#df_n['dev_Gasoleo B'] =df_n['Gasoleo B'] - df_n['Media_Gasoleo B']
#df_n['dev_Gasoleo Prem'] =df_n['Gasoleo Premium'] - df_n['Media_Gasoleo Prem']
#df_n['dev_Gasolina 95']=df_n['Gasolina 95 E5'] - df_n['Media_Gasolina 95']
#df_n['dev_Gasolina 98']=df_n['Gasolina 98 E5']- df_n['Media_Gasolina 98']

In [111]:
df_n.head()

,Fecha,C.P.,Dirección,Horario,Latitud,Localidad,Longitud (WGS84),Municipio,Gasoleo A,Gasoleo B,...,Proveedor de Servicio,IDEESS,IDMunicipio,IDProvincia,IDCCAA,Media Gasoleo A,Media Gasoleo B,Media Gasoleo Prem,Media Gasolina 95,Media Gasolina 98
0,12/11/2022 9:29:39,02250,"AVENIDA CASTILLA LA MANCHA, 26",L-D: 07:00-22:00,"39,211417",ABENGIBRE,"-1,539167",Abengibre,1.899,1.39,...,Nº 10.935,4375,52,02,07,1.918386,1.54157,2.010428,1.774055,1.925452
1,12/11/2022 9:29:39,02152,"CR CM-332, 46,4",L-D: 7:00-23:00,"39,100389",ALATOZ,"-1,346083",Alatoz,2.040,NaN,...,REPSOL,5122,53,02,07,1.918386,1.54157,2.010428,1.774055,1.925452
2,12/11/2022 9:29:39,02001,"AVENIDA 1º DE MAYO, S/N",L-S: 08:00-22:00; D: 09:00-21:00,"38,985667",ALBACETE,"-1,868500",Albacete,1.999,NaN,...,CARREFOUR,10765,54,02,07,1.918386,1.54157,2.010428,1.774055,1.925452
3,12/11/2022 9:29:39,02001,CALLE PRINCIPE DE ASTURIAS (POLÍGONO DE ROMICA...,L-D: 06:00-21:30,"39,054694",ALBACETE,"-1,832000",Albacete,1.949,NaN,...,BP ROMICA,12054,54,02,07,1.918386,1.54157,2.010428,1.774055,1.925452
4,12/11/2022 9:29:39,02001,"CALLE FEDERICO GARCIA LORCA, 1",L-D: 24H,"39,000861",ALBACETE,"-1,849833",Albacete,1.877,NaN,...,PLENOIL,13933,54,02,07,1.918386,1.54157,2.010428,1.774055,1.925452

In [112]:
df_n.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11789 entries, 0 to 11788
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Fecha                  11789 non-null  object
 1   C.P.                   11789 non-null  object
 2   Dirección              11789 non-null  object
 3   Horario                11789 non-null  object
 4   Latitud                11789 non-null  object
 5   Localidad              11789 non-null  object
 6   Longitud (WGS84)       11789 non-null  object
 7   Municipio              11789 non-null  object
 8   Gasoleo A              11445 non-null  float64
 9   Gasoleo B              3006 non-null   float64
 10  Gasoleo Premium        7510 non-null   float64
 11  Gasolina 95 E5         10640 non-null  float64
 12  Gasolina 98 E5         5950 non-null   float64
 13  Provincia              11789 non-null  object
 14  Proveedor de Servicio  11789 non-null  object
 15  IDEESS                 11789 non-null  object
 16  IDMunicipio            11789 non-null  object
 17  IDProvincia            11789 non-null  object
 18  IDCCAA                 11789 non-null  object
 19  Media Gasoleo A        11789 non-null  float64
 20  Media Gasoleo B        11789 non-null  float64
 21  Media Gasoleo Prem     11789 non-null  float64
 22  Media Gasolina 95      11789 non-null  float64
 23  Media Gasolina 98      11789 non-null  float64
dtypes: float64(10), object(14)
memory usage: 2.2+ MB

In [113]:
#Ordenamos columnas
df_n = df_n[['Fecha', 'Horario', 'C.P.','Provincia','Municipio','Localidad', 'Dirección', 'Proveedor de Servicio', 'Gasoleo A',
             'Gasoleo B', 'Gasoleo Premium', 'Gasolina 95 E5', 'Gasolina 98 E5', 'Media Gasoleo A',
             'Media Gasoleo B', 'Media Gasoleo Prem', 'Media Gasolina 95', 'Media Gasolina 98']]
df_n

,Fecha,Horario,C.P.,Provincia,Municipio,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Media Gasoleo A,Media Gasoleo B,Media Gasoleo Prem,Media Gasolina 95,Media Gasolina 98
0,12/11/2022 9:29:39,L-D: 07:00-22:00,02250,ALBACETE,Abengibre,ABENGIBRE,"AVENIDA CASTILLA LA MANCHA, 26",Nº 10.935,1.899,1.390,NaN,1.749,NaN,1.918386,1.54157,2.010428,1.774055,1.925452
1,12/11/2022 9:29:39,L-D: 7:00-23:00,02152,ALBACETE,Alatoz,ALATOZ,"CR CM-332, 46,4",REPSOL,2.040,NaN,2.300,1.909,2.200,1.918386,1.54157,2.010428,1.774055,1.925452
2,12/11/2022 9:29:39,L-S: 08:00-22:00; D: 09:00-21:00,02001,ALBACETE,Albacete,ALBACETE,"AVENIDA 1º DE MAYO, S/N",CARREFOUR,1.999,NaN,2.039,1.849,1.949,1.918386,1.54157,2.010428,1.774055,1.925452
3,12/11/2022 9:29:39,L-D: 06:00-21:30,02001,ALBACETE,Albacete,ALBACETE,CALLE PRINCIPE DE ASTURIAS (POLÍGONO DE ROMICA...,BP ROMICA,1.949,NaN,2.039,1.809,1.951,1.918386,1.54157,2.010428,1.774055,1.925452
4,12/11/2022 9:29:39,L-D: 24H,02001,ALBACETE,Albacete,ALBACETE,"CALLE FEDERICO GARCIA LORCA, 1",PLENOIL,1.877,NaN,NaN,1.697,NaN,1.918386,1.54157,2.010428,1.774055,1.925452
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11784,12/11/2022 9:29:39,L-D: 24H,50197,ZARAGOZA,Zaragoza,ZARAGOZA,"POLIGONO CALLE TURIASO, 31",NOIL,1.969,NaN,NaN,NaN,NaN,1.918386,1.54157,2.010428,1.774055,1.925452
11785,12/11/2022 9:29:39,L-D: 24H,50197,ZARAGOZA,Zaragoza,ZARAGOZA,"RONDA FERIA DE MUESTRAS, DE LA, 20",IDS,1.969,1.620,NaN,NaN,NaN,1.918386,1.54157,2.010428,1.774055,1.925452
11786,12/11/2022 9:29:39,L-D: 06:00-22:00,50800,ZARAGOZA,Zuera,ZUERA,"CARRETERA N-330A KM. 24,000",REPSOL,1.919,1.519,1.969,1.779,1.909,1.918386,1.54157,2.010428,1.774055,1.925452
11787,12/11/2022 9:29:39,L-D: 24H,50800,ZARAGOZA,Zuera,ZUERA,"CALLE AUSTRIA, 11,17",AN ENERGETICOS ZUERA,1.866,1.395,1.906,1.747,NaN,1.918386,1.54157,2.010428,1.774055,1.925452
11788,12/11/2022 9:29:39,L-D: 24H,50810,ZARAGOZA,Zuera,ONTINAR DE SALZ,"CALLE COOPERATIVA, 2",COOPERATIVA SAN ISIDRO,1.899,1.449,1.939,1.739,NaN,1.918386,1.54157,2.010428,1.774055,1.925452

In [114]:
# Guardamos df original para sucesion de tiempo
df_n.to_csv('df_sample.csv', index=False)

In [115]:
df_n.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11789 entries, 0 to 11788
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Fecha                  11789 non-null  object
 1   Horario                11789 non-null  object
 2   C.P.                   11789 non-null  object
 3   Provincia              11789 non-null  object
 4   Municipio              11789 non-null  object
 5   Localidad              11789 non-null  object
 6   Dirección              11789 non-null  object
 7   Proveedor de Servicio  11789 non-null  object
 8   Gasoleo A              11445 non-null  float64
 9   Gasoleo B              3006 non-null   float64
 10  Gasoleo Premium        7510 non-null   float64
 11  Gasolina 95 E5         10640 non-null  float64
 12  Gasolina 98 E5         5950 non-null   float64
 13  Media Gasoleo A        11789 non-null  float64
 14  Media Gasoleo B        11789 non-null  float64
 15  Media Gasoleo Prem     11789 non-null  float64
 16  Media Gasolina 95      11789 non-null  float64
 17  Media Gasolina 98      11789 non-null  float64
dtypes: float64(10), object(8)
memory usage: 1.6+ MB

In [116]:
x = df_n['C.P.']
print(type(x))

<class 'pandas.core.series.Series'>

---
Step4


# Desarrollo Funciones

In [117]:
# Analisis de Funciones

In [118]:
# Analizar df_n usando .loc()

df_n[df_n['C.P.'] == '28760']

,Fecha,Horario,C.P.,Provincia,Municipio,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Media Gasoleo A,Media Gasoleo B,Media Gasoleo Prem,Media Gasolina 95,Media Gasolina 98
7217,12/11/2022 9:29:39,L-D: 24H,28760,MADRID,Tres Cantos,TRES CANTOS,"CL AV DE LA INDUSTRIA, 58",REPSOL,1.969,NaN,2.069,1.779,1.929,1.918386,1.54157,2.010428,1.774055,1.925452
7218,12/11/2022 9:29:39,L-D: 24H,28760,MADRID,Tres Cantos,TRES CANTOS,"AVENIDA INDUSTRIA, 44",BALLENOIL,1.769,NaN,1.779,1.589,NaN,1.918386,1.54157,2.010428,1.774055,1.925452
7219,12/11/2022 9:29:39,L-D: 06:00-22:00,28760,MADRID,Tres Cantos,TRES CANTOS,"CL AVDA DE LA INDUSTRIA, 33",REPSOL,1.949,NaN,2.039,1.789,1.939,1.918386,1.54157,2.010428,1.774055,1.925452
7220,12/11/2022 9:29:39,L-D: 24H,28760,MADRID,Tres Cantos,TRES CANTOS,"AVENIDA INDUSTRIA (DE LA), S/N",BP TRES CANTOS,1.949,NaN,2.039,1.789,1.931,1.918386,1.54157,2.010428,1.774055,1.925452
7221,12/11/2022 9:29:39,L-D: 06:00-00:00,28760,MADRID,Tres Cantos,TRES CANTOS,"CALLE YUNQUE, 6",CEPSA,1.862,NaN,1.928,1.692,1.844,1.918386,1.54157,2.010428,1.774055,1.925452
7222,12/11/2022 9:29:39,L-V: 08:00-20:00,28760,MADRID,Tres Cantos,TRES CANTOS,"CL AVENIDA ARTESANOS, 40",REPSOL,1.969,NaN,NaN,1.779,1.929,1.918386,1.54157,2.010428,1.774055,1.925452
7223,12/11/2022 9:29:39,L-D: 24H,28760,MADRID,Tres Cantos,TRES CANTOS,"AVENIDA INDUSTRIA (DE LA), 52",PLENOIL,1.769,NaN,NaN,1.589,NaN,1.918386,1.54157,2.010428,1.774055,1.925452

In [119]:
df_n[['Gasoleo A']].min()

Gasoleo A    1.319
dtype: float64

In [120]:
type(df_n[['Gasoleo A']].min())

pandas.core.series.Series

In [121]:
df_n[['Gasoleo A']].idxmin()

Gasoleo A    9245
dtype: int64

In [122]:
type(df_n[['Gasoleo A']].idxmin())

pandas.core.series.Series

In [123]:
#df_n.loc[df_n[['Gasoleo A']].min()]

In [124]:
#df_n.head()

In [125]:
#df_n.loc[1.290]

In [126]:
df_n.index

RangeIndex(start=0, stop=11789, step=1)

In [127]:
type(df_n.loc[df_n[['Gasoleo A']].idxmin()])

pandas.core.frame.DataFrame

In [128]:
type(df_n.loc[9213])

pandas.core.series.Series

In [129]:
a = df_n.groupby(by=["Municipio"])
a

In [130]:
b = a["C.P."].unique()
b

Municipio
Abadiño                                     [48220]
Abadín                               [27730, 27738]
Abanilla                                    [30640]
Abanto y Ciérvana-Abanto Zierbena           [48500]
Abarán                                      [30550]
                                          ...
Íscar                                       [47420]
Òdena                                       [08711]
Ólvega                                      [42110]
Órgiva                                      [18400]
Úbeda                                       [23400]
Name: C.P., Length: 3437, dtype: object

# Funciones

In [131]:
# Precio mínimo de combstible en un codigo postal 
def cp_minimo(x,y):
# x = Código Postal
# y = Tipo de combustible para el precio mínimo
    cod_postal = df_n[df_n['C.P.'] == x]
    combustible = cod_postal.loc[cod_postal[[y]].idxmin()]
    return combustible

In [132]:
cp_minimo('28760', 'Gasoleo A')

,Fecha,Horario,C.P.,Provincia,Municipio,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Media Gasoleo A,Media Gasoleo B,Media Gasoleo Prem,Media Gasolina 95,Media Gasolina 98
7218,12/11/2022 9:29:39,L-D: 24H,28760,MADRID,Tres Cantos,TRES CANTOS,"AVENIDA INDUSTRIA, 44",BALLENOIL,1.769,NaN,1.779,1.589,NaN,1.918386,1.54157,2.010428,1.774055,1.925452

---

In [133]:
df_n[df_n['C.P.'] == "28500"]

,Fecha,Horario,C.P.,Provincia,Municipio,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Media Gasoleo A,Media Gasoleo B,Media Gasoleo Prem,Media Gasolina 95,Media Gasolina 98
6552,12/11/2022 9:29:39,L-D: 07:00-22:00,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA FINANZAUTO (DE), 2",DELFIOIL,1.899,NaN,NaN,1.689,NaN,1.918386,1.54157,2.010428,1.774055,1.925452
6553,12/11/2022 9:29:39,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,CAMINO CAMINO DE SAN MARTÍN DE LA VEGA A ARGAN...,BALLENOIL,1.889,NaN,NaN,1.689,NaN,1.918386,1.54157,2.010428,1.774055,1.925452
6554,12/11/2022 9:29:39,L-V: 06:00-22:00; S-D: 08:00-22:00,28500,MADRID,Arganda del Rey,ARGANDA,"AVDA DE MADRID, 103",REPSOL,1.999,1.669,2.009,1.829,NaN,1.918386,1.54157,2.010428,1.774055,1.925452
6555,12/11/2022 9:29:39,L-D: 06:00-00:00,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA DE MADRID, 126",ATENOIL,1.929,NaN,1.939,1.729,NaN,1.918386,1.54157,2.010428,1.774055,1.925452
6556,12/11/2022 9:29:39,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,CARRETERA M-832 KM. 3,REPSOL,2.052,NaN,2.132,1.842,NaN,1.918386,1.54157,2.010428,1.774055,1.925452
6557,12/11/2022 9:29:39,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA MADRID (DE), 66",PLENOIL,1.889,NaN,NaN,1.689,NaN,1.918386,1.54157,2.010428,1.774055,1.925452
6558,12/11/2022 9:29:39,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA MADRID (DE), SN",PETROPRIX,1.889,NaN,NaN,1.689,NaN,1.918386,1.54157,2.010428,1.774055,1.925452
6559,12/11/2022 9:29:39,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA VALDEARGANDA, 8",CEPSA,1.979,NaN,2.079,1.809,1.941,1.918386,1.54157,2.010428,1.774055,1.925452
6560,12/11/2022 9:29:39,L-D: 06:00-22:00,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA DE MADRID, 37",BP LA ARGANDEÑA,1.969,NaN,2.059,1.809,1.951,1.918386,1.54157,2.010428,1.774055,1.925452
6561,12/11/2022 9:29:39,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA EJERCITO (DEL), 44",BP ARGANDA,1.969,NaN,2.059,1.809,1.951,1.918386,1.54157,2.010428,1.774055,1.925452
6562,12/11/2022 9:29:39,L: 24H,28500,MADRID,Arganda del Rey,ARGANDA,CARRETERA M-832 KM. 3,REPSOL,2.052,NaN,NaN,1.842,NaN,1.918386,1.54157,2.010428,1.774055,1.925452
6563,12/11/2022 9:29:39,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,"CAMINO SAN MARTIN DE LA VEGA, 8",BALLENOIL,1.889,NaN,NaN,1.689,NaN,1.918386,1.54157,2.010428,1.774055,1.925452

In [134]:
# Comprobación
x1 = df_n["C.P."]=='28500'
x2 = df_n[x1]
x2

,Fecha,Horario,C.P.,Provincia,Municipio,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Media Gasoleo A,Media Gasoleo B,Media Gasoleo Prem,Media Gasolina 95,Media Gasolina 98
6552,12/11/2022 9:29:39,L-D: 07:00-22:00,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA FINANZAUTO (DE), 2",DELFIOIL,1.899,NaN,NaN,1.689,NaN,1.918386,1.54157,2.010428,1.774055,1.925452
6553,12/11/2022 9:29:39,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,CAMINO CAMINO DE SAN MARTÍN DE LA VEGA A ARGAN...,BALLENOIL,1.889,NaN,NaN,1.689,NaN,1.918386,1.54157,2.010428,1.774055,1.925452
6554,12/11/2022 9:29:39,L-V: 06:00-22:00; S-D: 08:00-22:00,28500,MADRID,Arganda del Rey,ARGANDA,"AVDA DE MADRID, 103",REPSOL,1.999,1.669,2.009,1.829,NaN,1.918386,1.54157,2.010428,1.774055,1.925452
6555,12/11/2022 9:29:39,L-D: 06:00-00:00,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA DE MADRID, 126",ATENOIL,1.929,NaN,1.939,1.729,NaN,1.918386,1.54157,2.010428,1.774055,1.925452
6556,12/11/2022 9:29:39,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,CARRETERA M-832 KM. 3,REPSOL,2.052,NaN,2.132,1.842,NaN,1.918386,1.54157,2.010428,1.774055,1.925452
6557,12/11/2022 9:29:39,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA MADRID (DE), 66",PLENOIL,1.889,NaN,NaN,1.689,NaN,1.918386,1.54157,2.010428,1.774055,1.925452
6558,12/11/2022 9:29:39,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA MADRID (DE), SN",PETROPRIX,1.889,NaN,NaN,1.689,NaN,1.918386,1.54157,2.010428,1.774055,1.925452
6559,12/11/2022 9:29:39,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA VALDEARGANDA, 8",CEPSA,1.979,NaN,2.079,1.809,1.941,1.918386,1.54157,2.010428,1.774055,1.925452
6560,12/11/2022 9:29:39,L-D: 06:00-22:00,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA DE MADRID, 37",BP LA ARGANDEÑA,1.969,NaN,2.059,1.809,1.951,1.918386,1.54157,2.010428,1.774055,1.925452
6561,12/11/2022 9:29:39,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA EJERCITO (DEL), 44",BP ARGANDA,1.969,NaN,2.059,1.809,1.951,1.918386,1.54157,2.010428,1.774055,1.925452
6562,12/11/2022 9:29:39,L: 24H,28500,MADRID,Arganda del Rey,ARGANDA,CARRETERA M-832 KM. 3,REPSOL,2.052,NaN,NaN,1.842,NaN,1.918386,1.54157,2.010428,1.774055,1.925452
6563,12/11/2022 9:29:39,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,"CAMINO SAN MARTIN DE LA VEGA, 8",BALLENOIL,1.889,NaN,NaN,1.689,NaN,1.918386,1.54157,2.010428,1.774055,1.925452

In [135]:
# Precio mínimo de combstible en una Provincia  
def provincia_minimo(x, y):
# x = Provincia
# y = tipo de combustible     
    provincia = df_n[df_n["Provincia"] == x]
    minimo_prov = provincia.loc[provincia[[y]].idxmin()]
    return minimo_prov

In [136]:
provincia_minimo('MADRID', 'Gasoleo A')

,Fecha,Horario,C.P.,Provincia,Municipio,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Media Gasoleo A,Media Gasoleo B,Media Gasoleo Prem,Media Gasolina 95,Media Gasolina 98
6653,12/11/2022 9:29:39,L-D: 24H,28944,MADRID,Fuenlabrada,FUENLABRADA,"CALLE ANETO, 1",BALLENOIL,1.757,NaN,NaN,1.565,NaN,1.918386,1.54157,2.010428,1.774055,1.925452

In [137]:
# Precio mínimo de combstible en un Municipio  
def municipio_minimo(x, y):
# x = Municipio
# y = Tipo de Combustible    
    municipio = df_n[df_n["Municipio"] == x]
    municipio_min = municipio.loc[municipio[[y]].idxmin()]
    return municipio

In [138]:
municipio_minimo('Cercedilla', 'Gasoleo A')

,Fecha,Horario,C.P.,Provincia,Municipio,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Media Gasoleo A,Media Gasoleo B,Media Gasoleo Prem,Media Gasolina 95,Media Gasolina 98
6584,12/11/2022 9:29:39,L-S: 7:30-20:30; D: 8:30-20:00,28470,MADRID,Cercedilla,CERCEDILLA,CARRETERA M 622 (CARRETERA GUADARRAMA A LA FUE...,REPSOL,1.949,NaN,NaN,1.789,NaN,1.918386,1.54157,2.010428,1.774055,1.925452

In [139]:
# # Precio mínimo de combstible en un proveedor de estación de servicio  
def gasolinera_minimo(x, y):
# x = Proveedor de estación de servicio
# Y = Tipo de Combustible    
    proveedor = df_n[df_n["Proveedor de Servicio"] == x]
    minimo_prov = proveedor.loc[proveedor[[y]].idxmin()]
    return minimo_prov

In [140]:
gasolinera_minimo('REPSOL', 'Gasoleo A')

,Fecha,Horario,C.P.,Provincia,Municipio,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Media Gasoleo A,Media Gasoleo B,Media Gasoleo Prem,Media Gasolina 95,Media Gasolina 98
9327,12/11/2022 9:29:39,L-S: 06:00-23:00; D: 07:00-23:00,38390,SANTA CRUZ DE TENERIFE,Santa Úrsula,SANTA URSULA,CARRETERA VIEJA KM. 213,REPSOL,1.449,NaN,NaN,1.389,1.479,1.918386,1.54157,2.010428,1.774055,1.925452

In [141]:
# Función para convertir códigos postales
def convert(x):
# x: Municipio    
    municipio = df_n[df_n["Municipio"] == x]
    cp = municipio[["C.P.", "Municipio", "Proveedor de Servicio"]]
    return cp

In [142]:
convert('Móstoles')

       C.P. Municipio Proveedor de Servicio
7025  28931  Móstoles                REPSOL
7026  28934  Móstoles           LOS ROSALES
7027  28935  Móstoles             CARREFOUR
7028  28935  Móstoles                REPSOL
7029  28935  Móstoles                REPSOL
7030  28935  Móstoles                 CEPSA
7031  28935  Móstoles                 CEPSA
7032  28935  Móstoles                  AVIA
7033  28933  Móstoles             BALLENOIL
7034  28935  Móstoles                OLANCA
7035  28937  Móstoles                REPSOL
7036  28937  Móstoles                  GALP
7037  28936  Móstoles              LAVAPLUS
7038  28936  Móstoles          E.S. TERUGAS
7039  28936  Móstoles       PETROL MÓSTOLES
7040  28938  Móstoles                    BP
7041  28938  Móstoles                  GALP
7042  28938  Móstoles             BALLENOIL
7043  28938  Móstoles                 CEPSA

In [143]:
# Listado de Estaciones de Servicio por Municipio por Municipio
# x: Municipio
def gasolineras_municipio(x):
    municipio = df_n[df_n["Municipio"] == x]
    eess_mun = pd.DataFrame(municipio[["Proveedor de Servicio"]])
    return eess_mun

In [144]:
gasolineras_municipio('Navalcarnero')

     Proveedor de Servicio
7046                 CEPSA
7047                 CEPSA
7048                 CEPSA
7049                REPSOL
7050                REPSOL
7051             BALLENOIL
7052             MAXPETROL
7053              CHEAPOIL

In [145]:
# Listado de Gasolineras por Provincia
#x=Provincia
def gasolineras_provincia(x):
    cp_x = df_n[df_n["Provincia"] == x]
    return cp_x

In [146]:
gasolineras_provincia('HUELVA')

,Fecha,Horario,C.P.,Provincia,Municipio,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Media Gasoleo A,Media Gasoleo B,Media Gasoleo Prem,Media Gasolina 95,Media Gasolina 98
5390,12/11/2022 9:29:39,L-D: 24H,21110,HUELVA,Aljaraque,ALJARAQUE,AUTOVIA A-497 KM. 7,MEROIL,1.997,NaN,2.107,1.887,1.997,1.918386,1.54157,2.010428,1.774055,1.925452
5391,12/11/2022 9:29:39,L-D: 24H,21110,HUELVA,Aljaraque,ALJARAQUE,"CARRETERA A-492 KM. 0,100",TAMOIL,1.899,NaN,NaN,1.779,1.899,1.918386,1.54157,2.010428,1.774055,1.925452
5392,12/11/2022 9:29:39,L-D: 07:00-23:00,21110,HUELVA,Aljaraque,ALJARAQUE,"CALLE CERAMICA, 1",HIGUEROIL,1.987,NaN,NaN,1.857,NaN,1.918386,1.54157,2.010428,1.774055,1.925452
5393,12/11/2022 9:29:39,L-D: 06:00-23:59,21730,HUELVA,Almonte,ALMONTE,"AVENIDA RAFAEL ALBERTI, 7",REPSOL,1.885,1.535,1.991,1.859,1.975,1.918386,1.54157,2.010428,1.774055,1.925452
5394,12/11/2022 9:29:39,L-D: 24H,21730,HUELVA,Almonte,ALMONTE,"POLIGONO INDUSTRIAL EL TOMILLAR,PARCELA, 77",CEPSA,1.975,1.539,2.049,1.869,NaN,1.918386,1.54157,2.010428,1.774055,1.925452
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5537,12/11/2022 9:29:39,L-D: 07:30-20:00,21860,HUELVA,Villalba del Alcor,VILLALBA DEL ALCOR,"C/ POZO NUEVO, 45",CIUDAD DEL CARMEN S.C.A.,1.947,1.470,NaN,NaN,NaN,1.918386,1.54157,2.010428,1.774055,1.925452
5538,12/11/2022 9:29:39,L-D: 07:00-22:00,21540,HUELVA,Villanueva de los Castillejos,VILLANUEVA CASTILLEJOS,CARRETERA HUELVA KM. 31,E.S. LA CRUZ DEL GALLO,2.079,NaN,2.129,1.909,NaN,1.918386,1.54157,2.010428,1.774055,1.925452
5539,12/11/2022 9:29:39,L-V: 06:00-21:00; S-D: 07:00-22:00,21850,HUELVA,Villarrasa,VILLARRASA,AUTOVIA A-49 KM KM. 53,REPSOL,1.999,NaN,2.089,1.839,1.979,1.918386,1.54157,2.010428,1.774055,1.925452
5540,12/11/2022 9:29:39,L-D: 24H,21850,HUELVA,Villarrasa,VILLARRASA,"CALLE ANGUSTIAS, 0",SUMAROIL,1.959,1.579,NaN,1.769,NaN,1.918386,1.54157,2.010428,1.774055,1.925452
5541,12/11/2022 9:29:39,L-D: 06:00-22:00,21640,HUELVA,Zalamea la Real,ZALAMEA LA REAL,"CARRETERA NACIONAL 435 KM. 181,8",DEOIL,1.849,NaN,1.879,1.769,NaN,1.918386,1.54157,2.010428,1.774055,1.925452

In [147]:
# Listado de Gasolineras por Código Postal:
# x: código postal
def gasolineras_cp(x):
    cp = df_n[df_n["C.P."] == x]
    return cp

In [148]:
gasolineras_cp('28500')

,Fecha,Horario,C.P.,Provincia,Municipio,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Media Gasoleo A,Media Gasoleo B,Media Gasoleo Prem,Media Gasolina 95,Media Gasolina 98
6552,12/11/2022 9:29:39,L-D: 07:00-22:00,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA FINANZAUTO (DE), 2",DELFIOIL,1.899,NaN,NaN,1.689,NaN,1.918386,1.54157,2.010428,1.774055,1.925452
6553,12/11/2022 9:29:39,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,CAMINO CAMINO DE SAN MARTÍN DE LA VEGA A ARGAN...,BALLENOIL,1.889,NaN,NaN,1.689,NaN,1.918386,1.54157,2.010428,1.774055,1.925452
6554,12/11/2022 9:29:39,L-V: 06:00-22:00; S-D: 08:00-22:00,28500,MADRID,Arganda del Rey,ARGANDA,"AVDA DE MADRID, 103",REPSOL,1.999,1.669,2.009,1.829,NaN,1.918386,1.54157,2.010428,1.774055,1.925452
6555,12/11/2022 9:29:39,L-D: 06:00-00:00,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA DE MADRID, 126",ATENOIL,1.929,NaN,1.939,1.729,NaN,1.918386,1.54157,2.010428,1.774055,1.925452
6556,12/11/2022 9:29:39,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,CARRETERA M-832 KM. 3,REPSOL,2.052,NaN,2.132,1.842,NaN,1.918386,1.54157,2.010428,1.774055,1.925452
6557,12/11/2022 9:29:39,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA MADRID (DE), 66",PLENOIL,1.889,NaN,NaN,1.689,NaN,1.918386,1.54157,2.010428,1.774055,1.925452
6558,12/11/2022 9:29:39,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA MADRID (DE), SN",PETROPRIX,1.889,NaN,NaN,1.689,NaN,1.918386,1.54157,2.010428,1.774055,1.925452
6559,12/11/2022 9:29:39,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA VALDEARGANDA, 8",CEPSA,1.979,NaN,2.079,1.809,1.941,1.918386,1.54157,2.010428,1.774055,1.925452
6560,12/11/2022 9:29:39,L-D: 06:00-22:00,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA DE MADRID, 37",BP LA ARGANDEÑA,1.969,NaN,2.059,1.809,1.951,1.918386,1.54157,2.010428,1.774055,1.925452
6561,12/11/2022 9:29:39,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA EJERCITO (DEL), 44",BP ARGANDA,1.969,NaN,2.059,1.809,1.951,1.918386,1.54157,2.010428,1.774055,1.925452
6562,12/11/2022 9:29:39,L: 24H,28500,MADRID,Arganda del Rey,ARGANDA,CARRETERA M-832 KM. 3,REPSOL,2.052,NaN,NaN,1.842,NaN,1.918386,1.54157,2.010428,1.774055,1.925452
6563,12/11/2022 9:29:39,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,"CAMINO SAN MARTIN DE LA VEGA, 8",BALLENOIL,1.889,NaN,NaN,1.689,NaN,1.918386,1.54157,2.010428,1.774055,1.925452

In [149]:
df_n.dropna()

,Fecha,Horario,C.P.,Provincia,Municipio,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Media Gasoleo A,Media Gasoleo B,Media Gasoleo Prem,Media Gasolina 95,Media Gasolina 98
25,12/11/2022 9:29:39,L-D: 08:00-16:00,02328,ALBACETE,Albacete,SANTA ANA,"AVENIDA PRINCIPE, 2",REPSOL,1.939,1.573,1.989,1.769,1.879,1.918386,1.54157,2.010428,1.774055,1.925452
29,12/11/2022 9:29:39,L-D: 06:00-23:30,02007,ALBACETE,Albacete,ALBACETE,"CARRETERA C-M 332 KM. 2,6","INLOCOR S.L. ""CEPSA""",1.999,1.639,2.099,1.799,1.989,1.918386,1.54157,2.010428,1.774055,1.925452
67,12/11/2022 9:29:39,S-D: 07:00-15:00,02610,ALBACETE,Bonillo (El),BONILLO (EL),"CALLE CARRETERA MUNERA, 2",REPSOL,1.939,1.587,1.989,1.769,1.879,1.918386,1.54157,2.010428,1.774055,1.925452
70,12/11/2022 9:29:39,L-D: 07:00-21:00,02200,ALBACETE,Casas-Ibáñez,CASAS-IBAÑEZ,CARRETERA ALBACETE KM. 94,CEPSA,1.969,1.609,2.029,1.809,1.969,1.918386,1.54157,2.010428,1.774055,1.925452
75,12/11/2022 9:29:39,L-D: 06:00-23:00,02660,ALBACETE,Caudete,CAUDETE,"CR N-330, 71,4",REPSOL,1.959,1.530,2.009,1.799,1.909,1.918386,1.54157,2.010428,1.774055,1.925452
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11748,12/11/2022 9:29:39,L-D: 24H,50013,ZARAGOZA,Zaragoza,CARTUJA BAJA,"CARRETERA CASTELLON KM. 3,7",BP AVELLANAS,1.959,1.609,2.079,1.829,1.979,1.918386,1.54157,2.010428,1.774055,1.925452
11775,12/11/2022 9:29:39,L-D: 24H,50020,ZARAGOZA,Zaragoza,ZARAGOZA,"AVENIDA DIAGONAL, 9 - POLIGONO PLAZA, 9",REPSOL,1.949,1.595,2.009,1.809,1.959,1.918386,1.54157,2.010428,1.774055,1.925452
11779,12/11/2022 9:29:39,L-D: 06:00-22:00,50190,ZARAGOZA,Zaragoza,GARRAPINILLOS,"CARRETERA N-125 KM. 5,6",CEPSA,1.939,1.549,2.009,1.789,1.929,1.918386,1.54157,2.010428,1.774055,1.925452
11782,12/11/2022 9:29:39,L-V: 05:00-22:00; S-D: 08:00-22:00,50692,ZARAGOZA,Zaragoza,VILLARRAPA,"AUTOVIA A-68 KM. 258,25",REPSOL,1.929,1.533,2.019,1.799,1.949,1.918386,1.54157,2.010428,1.774055,1.925452
11786,12/11/2022 9:29:39,L-D: 06:00-22:00,50800,ZARAGOZA,Zuera,ZUERA,"CARRETERA N-330A KM. 24,000",REPSOL,1.919,1.519,1.969,1.779,1.909,1.918386,1.54157,2.010428,1.774055,1.925452