## MVP

In [1]:
# Imports

# Pandas
import pandas as pd 

# Importo libreria para conexión a API
from urllib.request import urlopen

# Importo libreria Json para que lea
import json

#Normalizar Json
from pandas.io.json import json_normalize

import numpy as np

---
Step 1 (Data Extraction)

In [2]:
# Definir las variables donde meto el string que contiene la URL

endpoint ='https://sedeaplicaciones.minetur.gob.es'
parametros = '/ServiciosRESTCarburantes/PreciosCarburantes/EstacionesTerrestres/'

In [3]:
# Vamos a guardar en una variable nuestros datos (resultado, comida) 

response = urlopen(endpoint+parametros)
type(response)

http.client.HTTPResponse

In [4]:
# Vamos a extraer del obejto, los datos

data = response.read().decode('utf-8', 'replace')
data = json.loads(data)
type(data)

dict

In [5]:
# Crear Dataframe

df = pd.DataFrame(data)
df

,Fecha,ListaEESSPrecio,Nota,ResultadoConsulta
0,09/11/2022 13:33:53,"{'C.P.': '02250', 'Dirección': 'AVENIDA CASTIL...",Archivo de todos los productos en todas las es...,OK
1,09/11/2022 13:33:53,"{'C.P.': '02152', 'Dirección': 'CR CM-332, 46,...",Archivo de todos los productos en todas las es...,OK
2,09/11/2022 13:33:53,"{'C.P.': '02001', 'Dirección': 'CALLE PRINCIPE...",Archivo de todos los productos en todas las es...,OK
3,09/11/2022 13:33:53,"{'C.P.': '02001', 'Dirección': 'CALLE FEDERICO...",Archivo de todos los productos en todas las es...,OK
4,09/11/2022 13:33:53,"{'C.P.': '02001', 'Dirección': 'AVENIDA 1º DE ...",Archivo de todos los productos en todas las es...,OK
...,...,...,...,...
11758,09/11/2022 13:33:53,"{'C.P.': '50197', 'Dirección': 'RONDA FERIA DE...",Archivo de todos los productos en todas las es...,OK
11759,09/11/2022 13:33:53,"{'C.P.': '50197', 'Dirección': 'POLIGONO CALLE...",Archivo de todos los productos en todas las es...,OK
11760,09/11/2022 13:33:53,"{'C.P.': '50800', 'Dirección': 'CARRETERA N-33...",Archivo de todos los productos en todas las es...,OK
11761,09/11/2022 13:33:53,"{'C.P.': '50800', 'Dirección': 'CALLE AUSTRIA,...",Archivo de todos los productos en todas las es...,OK
11762,09/11/2022 13:33:53,"{'C.P.': '50810', 'Dirección': 'CALLE COOPERAT...",Archivo de todos los productos en todas las es...,OK

---

Step 2 (Data Transformation)

In [6]:
# Análisis de la columna Lista EESS Precio

diccionario = df['ListaEESSPrecio'].iloc[1]
type(diccionario)

dict

In [7]:
diccionario

{'C.P.': '02152',
 'Dirección': 'CR CM-332, 46,4',
 'Horario': 'L-D: 7:00-23:00',
 'Latitud': '39,100389',
 'Localidad': 'ALATOZ',
 'Longitud (WGS84)': '-1,346083',
 'Margen': 'I',
 'Municipio': 'Alatoz',
 'Precio Biodiesel': '',
 'Precio Bioetanol': '',
 'Precio Gas Natural Comprimido': '',
 'Precio Gas Natural Licuado': '',
 'Precio Gases licuados del petróleo': '',
 'Precio Gasoleo A': '2,040',
 'Precio Gasoleo B': '',
 'Precio Gasoleo Premium': '2,300',
 'Precio Gasolina 95 E10': '',
 'Precio Gasolina 95 E5': '1,909',
 'Precio Gasolina 95 E5 Premium': '',
 'Precio Gasolina 98 E10': '',
 'Precio Gasolina 98 E5': '2,200',
 'Precio Hidrogeno': '',
 'Provincia': 'ALBACETE',
 'Remisión': 'dm',
 'Rótulo': 'REPSOL',
 'Tipo Venta': 'P',
 '% BioEtanol': '0,0',
 '% Éster metílico': '0,0',
 'IDEESS': '5122',
 'IDMunicipio': '53',
 'IDProvincia': '02',
 'IDCCAA': '07'}

In [8]:
# Extraigo informacion de columna EESS Precio, utilizando json normalize

df_n = pd.concat([df[['Fecha']],pd.json_normalize(df['ListaEESSPrecio'])], axis=1)
df_n

,Fecha,C.P.,Dirección,Horario,Latitud,Localidad,Longitud (WGS84),Margen,Municipio,Precio Biodiesel,...,Provincia,Remisión,Rótulo,Tipo Venta,% BioEtanol,% Éster metílico,IDEESS,IDMunicipio,IDProvincia,IDCCAA
0,09/11/2022 13:33:53,02250,"AVENIDA CASTILLA LA MANCHA, 26",L-D: 07:00-22:00,"39,211417",ABENGIBRE,"-1,539167",D,Abengibre,,...,ALBACETE,dm,Nº 10.935,P,"0,0","0,0",4375,52,02,07
1,09/11/2022 13:33:53,02152,"CR CM-332, 46,4",L-D: 7:00-23:00,"39,100389",ALATOZ,"-1,346083",I,Alatoz,,...,ALBACETE,dm,REPSOL,P,"0,0","0,0",5122,53,02,07
2,09/11/2022 13:33:53,02001,CALLE PRINCIPE DE ASTURIAS (POLÍGONO DE ROMICA...,L-D: 06:00-21:30,"39,054694",ALBACETE,"-1,832000",I,Albacete,,...,ALBACETE,OM,BP ROMICA,P,"0,0","0,0",12054,54,02,07
3,09/11/2022 13:33:53,02001,"CALLE FEDERICO GARCIA LORCA, 1",L-D: 24H,"39,000861",ALBACETE,"-1,849833",D,Albacete,,...,ALBACETE,dm,PLENOIL,P,"0,0","0,0",13933,54,02,07
4,09/11/2022 13:33:53,02001,"AVENIDA 1º DE MAYO, S/N",L-S: 08:00-22:00; D: 09:00-21:00,"38,985667",ALBACETE,"-1,868500",N,Albacete,,...,ALBACETE,dm,CARREFOUR,P,"0,0","0,0",10765,54,02,07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11758,09/11/2022 13:33:53,50197,"RONDA FERIA DE MUESTRAS, DE LA, 20",L-D: 24H,"41,637944",ZARAGOZA,"-0,986389",D,Zaragoza,,...,ZARAGOZA,OM,IDS,P,"0,0","0,0",12472,8108,50,02
11759,09/11/2022 13:33:53,50197,"POLIGONO CALLE TURIASO, 31",L-D: 24H,"41,645722",ZARAGOZA,"-0,974194",D,Zaragoza,,...,ZARAGOZA,dm,NOIL,P,"0,0","0,0",13917,8108,50,02
11760,09/11/2022 13:33:53,50800,"CARRETERA N-330A KM. 24,000",L-D: 06:00-22:00,"41,857000",ZUERA,"-0,794000",D,Zuera,,...,ZARAGOZA,OM,REPSOL,P,"0,0","0,0",1452,8109,50,02
11761,09/11/2022 13:33:53,50800,"CALLE AUSTRIA, 11,17",L-D: 24H,"41,883583",ZUERA,"-0,782833",D,Zuera,,...,ZARAGOZA,dm,AN ENERGETICOS ZUERA,P,"0,0","0,0",9085,8109,50,02
11762,09/11/2022 13:33:53,50810,"CALLE COOPERATIVA, 2",L-D: 24H,"41,938750",ONTINAR DE SALZ,"-0,757611",D,Zuera,,...,ZARAGOZA,dm,COOPERATIVA SAN ISIDRO,P,"0,0","0,0",9068,8109,50,02

In [9]:
# Guardamos df original para sucesion de tiempo
#df_n.to_csv('2022-11-05x.csv', index=False)

In [10]:
df_n.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11763 entries, 0 to 11762
Data columns (total 33 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Fecha                               11763 non-null  object
 1   C.P.                                11763 non-null  object
 2   Dirección                           11763 non-null  object
 3   Horario                             11763 non-null  object
 4   Latitud                             11763 non-null  object
 5   Localidad                           11763 non-null  object
 6   Longitud (WGS84)                    11763 non-null  object
 7   Margen                              11763 non-null  object
 8   Municipio                           11763 non-null  object
 9   Precio Biodiesel                    11763 non-null  object
 10  Precio Bioetanol                    11763 non-null  object
 11  Precio Gas Natural Comprimido       11763 non-null  object
 12  Precio Gas Natural Licuado          11763 non-null  object
 13  Precio Gases licuados del petróleo  11763 non-null  object
 14  Precio Gasoleo A                    11763 non-null  object
 15  Precio Gasoleo B                    11763 non-null  object
 16  Precio Gasoleo Premium              11763 non-null  object
 17  Precio Gasolina 95 E10              11763 non-null  object
 18  Precio Gasolina 95 E5               11763 non-null  object
 19  Precio Gasolina 95 E5 Premium       11763 non-null  object
 20  Precio Gasolina 98 E10              11763 non-null  object
 21  Precio Gasolina 98 E5               11763 non-null  object
 22  Precio Hidrogeno                    11763 non-null  object
 23  Provincia                           11763 non-null  object
 24  Remisión                            11763 non-null  object
 25  Rótulo                              11763 non-null  object
 26  Tipo Venta                          11763 non-null  object
 27  % BioEtanol                         11763 non-null  object
 28  % Éster metílico                    11763 non-null  object
 29  IDEESS                              11763 non-null  object
 30  IDMunicipio                         11763 non-null  object
 31  IDProvincia                         11763 non-null  object
 32  IDCCAA                              11763 non-null  object
dtypes: object(33)
memory usage: 3.0+ MB

---
Step (3): EDA

                                                    Análisis de Columnas

# Fecha

In [11]:
# Fecha (solo hay una fecha)
Fecha = df_n['Fecha'].unique()
print(type(Fecha))
print(len(Fecha))
Fecha

<class 'numpy.ndarray'>
1

array(['09/11/2022 13:33:53'], dtype=object)

In [12]:
# Nulos 
nulos_f = df_n['Fecha'].isnull().sum()
nulos_f

0

# Código Postal

In [13]:
# Columna C.P.
cp = df_n['C.P.'].unique()
print(type(cp))
print(len(cp))
cp
# En Esaña hay 11752 codigos postales en total

<class 'numpy.ndarray'>
4535

array(['02250', '02152', '02001', ..., '50197', '50800', '50810'],
      dtype=object)

In [14]:
# Nulos 
nulos_cp = df_n['C.P.'].isnull().sum()
nulos_cp

0

# Dirección

In [15]:
# Columna  Dirección
direccion = df_n['Dirección'].unique()
print(type(direccion))
print(len(direccion))
direccion

<class 'numpy.ndarray'>
11448

array(['AVENIDA CASTILLA LA MANCHA, 26', 'CR CM-332, 46,4',
       'CALLE PRINCIPE DE ASTURIAS (POLÍGONO DE ROMICA), 5', ...,
       'POLIGONO CALLE TURIASO, 31', 'CARRETERA N-330A KM. 24,000',
       'CALLE AUSTRIA, 11,17'], dtype=object)

In [16]:
# Nulos dirección
nulos_cp = df_n['Dirección'].isnull().sum()
nulos_cp

0

# Horario

In [17]:
# Horario
horario = df_n['Horario'].unique()
horario

array(['L-D: 07:00-22:00', 'L-D: 7:00-23:00', 'L-D: 06:00-21:30', ...,
       'L-V: 05:30-22:00; S: 07:00-15:00; D: 08:00-15:00',
       'L-V: 08:00-22:30; S: 10:00-22:30',
       'L-V: 05:00-22:00; S-D: 08:00-22:00'], dtype=object)

In [18]:
# Nulos horario
nulos_h = df_n['Horario'].isnull().sum()
nulos_h

0

# Latitud

In [19]:
#Latitud (Coincide Latitud y Longitud con las coordenadas en las gasolineras de Google Maps)
latitud = df_n['Latitud'].unique()
print(len(latitud ))
latitud

11409

array(['39,211417', '39,100389', '39,054694', ..., '41,857000',
       '41,883583', '41,938750'], dtype=object)

In [20]:
# Nulos Latitud
nulos_l = df_n['Latitud'].isnull().sum()
nulos_l

0

# Longitud

In [21]:
# Longitud (Coincide Latitud y Longitud con las coordenadas en las gasolineras de Google Maps)
Longitud = df_n['Longitud (WGS84)'].unique()
print(len(Longitud))
Longitud

11519

array(['-1,539167', '-1,346083', '-1,832000', ..., '-0,794000',
       '-0,782833', '-0,757611'], dtype=object)

In [22]:
# Nulos Longitud
nulos_long = df_n['Longitud (WGS84)'].isnull().sum()
nulos_long

0

# Localidad

In [23]:
#Localidad
Localidad = df_n['Localidad'].unique()
print(len(Localidad))
Localidad

4231

array(['ABENGIBRE', 'ALATOZ', 'ALBACETE', ..., 'VILLARRAPA', 'ZUERA',
       'ONTINAR DE SALZ'], dtype=object)

In [24]:
# Nulos Localidad
nulos_loc = df_n['Localidad'].isnull().sum()
nulos_loc

0

# Municipio

In [25]:
# Municipio (En España hay 8131 Municipios)
Municipio = df_n['Municipio'].unique() 
print(len(Municipio))
Municipio

3434

array(['Abengibre', 'Alatoz', 'Albacete', ..., 'Villarroya de la Sierra',
       'Zaragoza', 'Zuera'], dtype=object)

In [26]:
# Nulos Municipio
nulos_loc = df_n['Municipio'].isnull().sum()
nulos_loc

0

# Margen

In [27]:
# Margen
Margen = df_n['Margen'].unique()
print(len(Margen))
Margen

3

array(['D', 'I', 'N'], dtype=object)

# Provincia

In [28]:
# Provincia (Están todas las Provinicas de España en nuestro df)
Provincia = df_n['Provincia'].unique()
print(len(Provincia))
Provincia

52

array(['ALBACETE', 'ALICANTE', 'ALMERÍA', 'ARABA/ÁLAVA', 'ASTURIAS',
       'ÁVILA', 'BADAJOZ', 'BALEARS (ILLES)', 'BARCELONA', 'BIZKAIA',
       'BURGOS', 'CÁCERES', 'CÁDIZ', 'CANTABRIA', 'CASTELLÓN / CASTELLÓ',
       'CEUTA', 'CIUDAD REAL', 'CÓRDOBA', 'CORUÑA (A)', 'CUENCA',
       'GIPUZKOA', 'GIRONA', 'GRANADA', 'GUADALAJARA', 'HUELVA', 'HUESCA',
       'JAÉN', 'LEÓN', 'LLEIDA', 'LUGO', 'MADRID', 'MÁLAGA', 'MELILLA',
       'MURCIA', 'NAVARRA', 'OURENSE', 'PALENCIA', 'PALMAS (LAS)',
       'PONTEVEDRA', 'RIOJA (LA)', 'SALAMANCA', 'SANTA CRUZ DE TENERIFE',
       'SEGOVIA', 'SEVILLA', 'SORIA', 'TARRAGONA', 'TERUEL', 'TOLEDO',
       'VALENCIA / VALÈNCIA', 'VALLADOLID', 'ZAMORA', 'ZARAGOZA'],
      dtype=object)

In [29]:
# Nulos Provincia
nulos_prov = df_n['Provincia'].isnull().sum()
nulos_prov

0

# Remision

In [30]:
# Remisión (Sistema de envío de información de precios y de ventas a través de API)
Remision = df_n['Remisión'].unique()
print(len(Remision))
print(type(Remision))
Remision

2
<class 'numpy.ndarray'>

array(['dm', 'OM'], dtype=object)

# Rótulo

In [31]:
# Rótulo (En España hay 3952 marcas de Gasolineras en España según datos de Google)
Rotulo = df_n['Rótulo'].unique()
print(len(Rotulo))
print(type(Rotulo))
Rotulo

3992
<class 'numpy.ndarray'>

array(['Nº 10.935', 'REPSOL', 'BP ROMICA', ..., 'DAGO',
       'COOPERATIVA SAN LAMBERTO', 'AN ENERGETICOS ZUERA'], dtype=object)

# Tipo de Venta

In [32]:
# Tipo Venta
tv = df_n['Tipo Venta'].unique()
print(len(tv))
print(type(tv))
tv

2
<class 'numpy.ndarray'>

array(['P', 'R'], dtype=object)

# Porcentaje de Bioetanol

In [33]:
# % BioEtanol (La diferencia entre gasolinas E5 o E10 significan el porcentaje de Etanol (5 o 10%))
bioetanol = df_n['% BioEtanol'].unique()
print(len(bioetanol))
print(type(bioetanol))
bioetanol

3
<class 'numpy.ndarray'>

array(['0,0', '25,0', '85,0'], dtype=object)

# Porcentaje de Éster Metílico

In [34]:
# % Éster metílico (solo para Biodiesel)
em = df_n['% Éster metílico'].unique()
print(len(em))
print(type(em))
em

6
<class 'numpy.ndarray'>

array(['0,0', '7,0', '12,0', '20,0', '30,0', '10,0'], dtype=object)

#  IDEESS

In [35]:
# IDEESS (ID Estación de Servicio, los mismos que estaciones (filas))
IDEESS = df_n['IDEESS'].unique()
print(len(IDEESS))
type(IDEESS)
IDEESS

11763

array(['4375', '5122', '12054', ..., '1452', '9085', '9068'], dtype=object)

In [36]:
# Nulos IDEESS
nulos_IDEESS = df_n['IDEESS'].isnull().sum()
nulos_IDEESS

0

# ID Municipio

In [37]:
# IDMunicipio (un ID más que municipios)
idmun = df_n['IDMunicipio'].unique()
print(len(idmun))
type(idmun)
idmun

3435

array(['52', '53', '54', ..., '8103', '8108', '8109'], dtype=object)

In [38]:
# Nulos ID Municipio
nulos_IDMunicipio = df_n['IDMunicipio'].isnull().sum()
nulos_IDMunicipio

0

# ID Provincia

In [39]:
# IDProvincia (Los mismos ID que Provincias)
idprov = df_n['IDProvincia'].unique()
print(len(idprov))
type(idprov)
idprov

52

array(['02', '03', '04', '01', '33', '05', '06', '07', '08', '48', '09',
       '10', '11', '39', '12', '51', '13', '14', '15', '16', '20', '17',
       '18', '19', '21', '22', '23', '24', '25', '27', '28', '29', '52',
       '30', '31', '32', '34', '35', '36', '26', '37', '38', '40', '41',
       '42', '43', '44', '45', '46', '47', '49', '50'], dtype=object)

In [40]:
nulos_IDProvincia = df_n['IDProvincia'].isnull().sum()
nulos_IDProvincia

0

# ID CCAA

In [41]:
# IDCCAA (ID Comunidades Autónomas, 17 CCAA + Ceuta + Melilla)
# IDProvincia (Los mismos ID que Provincias)
idccaa = df_n['IDCCAA'].unique()
print(len(idccaa))
type(idccaa)
idccaa

19

array(['07', '10', '01', '16', '03', '08', '11', '04', '09', '06', '18',
       '12', '02', '13', '19', '14', '15', '05', '17'], dtype=object)

                                                Columnas Numéricas

# Biodiesel

In [42]:
Biodiesel = df_n['Precio Biodiesel'].unique()
print(len(Biodiesel))
print(type(Biodiesel))
Biodiesel

25
<class 'numpy.ndarray'>

array(['', '1,968', '2,149', '1,999', '2,039', '1,799', '2,019', '1,769',
       '1,859', '1,449', '1,958', '1,809', '2,030', '2,009', '2,049',
       '1,869', '2,069', '1,989', '1,939', '2,040', '1,829', '1,839',
       '1,729', '1,749', '1,966'], dtype=object)

In [43]:
# Convertimos columna categórica a numérica
df_n['Precio Biodiesel']=df_n['Precio Biodiesel'].str.replace(',','.')
df_n[['Precio Biodiesel']]=df_n[['Precio Biodiesel']].apply(pd.to_numeric)

In [44]:
df_n['Precio Biodiesel'].describe()

count    38.000000
mean      1.889184
std       0.138145
min       1.449000
25%       1.799000
50%       1.859000
75%       1.999000
max       2.149000
Name: Precio Biodiesel, dtype: float64

In [45]:
# Registros sin venta Biodiesel
sin_suministro_b = df_n['Precio Biodiesel'].isnull().sum()
sin_suministro_b

11725

## Precio Bioetanol

In [46]:
Bioetanol = df_n['Precio Bioetanol'].unique()
print(len(Bioetanol))
print(type(Bioetanol))
Bioetanol

6
<class 'numpy.ndarray'>

array(['', '2,239', '1,982', '1,487', '2,069', '1,889'], dtype=object)

In [47]:
# Convertimos columna categórica a numérica
df_n['Precio Bioetanol']=df_n['Precio Bioetanol'].str.replace(',','.')
df_n[['Precio Bioetanol']]=df_n[['Precio Bioetanol']].apply(pd.to_numeric)

In [48]:
df_n['Precio Bioetanol'].describe()

count    5.000000
mean     1.933200
std      0.280796
min      1.487000
25%      1.889000
50%      1.982000
75%      2.069000
max      2.239000
Name: Precio Bioetanol, dtype: float64

In [49]:
# Registros sin venta Biodiesel
sin_suministro_be = df_n['Precio Bioetanol'].isnull().sum()
sin_suministro_be

11758

## Precio Gas Natural Comprimido

In [50]:
Gas_n_c = df_n['Precio Gas Natural Comprimido'].unique()
print(len(Gas_n_c))
print(type(Gas_n_c))
Gas_n_c

33
<class 'numpy.ndarray'>

array(['', '1,580', '1,379', '1,468', '1,485', '1,555', '1,518', '1,438',
       '1,359', '1,349', '1,520', '1,389', '1,398', '1,420', '2,990',
       '1,689', '1,399', '1,483', '1,948', '1,790', '1,749', '1,679',
       '1,306', '1,615', '1,469', '1,449', '1,380', '2,350', '3,700',
       '1,433', '1,594', '1,369', '1,709'], dtype=object)

In [51]:
# Convertimos columna categórica a numérica
df_n['Precio Gas Natural Comprimido']=df_n['Precio Gas Natural Comprimido'].str.replace(',','.')
df_n[['Precio Gas Natural Comprimido']]=df_n[['Precio Gas Natural Comprimido']].apply(pd.to_numeric)

In [52]:
df_n['Precio Gas Natural Comprimido'].describe()

count    122.000000
mean       1.529139
std        0.276240
min        1.306000
25%        1.379000
50%        1.485000
75%        1.580000
max        3.700000
Name: Precio Gas Natural Comprimido, dtype: float64

In [53]:
# Registros sin venta Biodiesel
sin_suministro_be = df_n['Precio Bioetanol'].isnull().sum()
sin_suministro_be

11758

# Precio Gas Natural Licuado

In [54]:
Gas_nat_lic = df_n['Precio Gas Natural Licuado'].unique()
print(len(Gas_nat_lic))
print(type(Gas_nat_lic))
Gas_nat_lic

18
<class 'numpy.ndarray'>

array(['', '1,390', '1,299', '1,398', '1,368', '1,329', '1,269', '1,399',
       '1,249', '2,990', '2,506', '1,389', '1,433', '1,903', '1,449',
       '3,650', '1,489', '1,319'], dtype=object)

In [55]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gas Natural Licuado']=df_n['Precio Gas Natural Licuado'].str.replace(',','.')
df_n[['Precio Gas Natural Licuado']]=df_n[['Precio Gas Natural Licuado']].apply(pd.to_numeric)

In [56]:
df_n['Precio Gas Natural Licuado'].describe()

count    82.000000
mean      1.414720
std       0.342255
min       1.249000
25%       1.299000
50%       1.329000
75%       1.398000
max       3.650000
Name: Precio Gas Natural Licuado, dtype: float64

In [57]:
# Registros sin venta Gas NAtural Licuado
sin_suministro_gnl = df_n['Precio Gas Natural Licuado'].isnull().sum()
sin_suministro_gnl

11681

# Precio Gases licuados del petróleo

In [58]:
Gas_nat_lic_pet = df_n['Precio Gases licuados del petróleo'].unique()
print(len(Gas_nat_lic_pet))
print(type(Gas_nat_lic_pet))
Gas_nat_lic_pet

118
<class 'numpy.ndarray'>

array(['', '1,029', '1,089', '0,898', '1,039', '1,019', '1,059', '1,069',
       '0,969', '1,025', '0,968', '1,099', '1,026', '1,139', '0,959',
       '0,830', '1,045', '0,930', '1,077', '1,088', '1,038', '1,079',
       '0,939', '0,910', '1,052', '1,049', '1,009', '1,200', '1,119',
       '0,999', '1,179', '0,980', '1,189', '0,859', '1,134', '1,095',
       '1,159', '1,129', '0,909', '0,899', '0,885', '1,098', '0,950',
       '0,886', '1,017', '1,060', '1,037', '1,090', '1,149', '1,008',
       '0,979', '1,028', '0,865', '0,639', '0,929', '1,109', '1,148',
       '0,805', '1,022', '0,998', '0,879', '0,768', '1,014', '0,990',
       '0,970', '1,169', '0,997', '0,961', '0,965', '1,150', '0,949',
       '0,889', '1,140', '1,220', '1,260', '1,250', '1,160', '0,759',
       '1,100', '1,158', '0,769', '1,115', '0,919', '1,020', '0,977',
       '1,106', '0,908', '1,048', '1,130', '1,018', '0,989', '1,199',
       '1,185', '1,155', '0,799', '0,801', '0,798', '0,789', '0,839',
       '0,800', '0,818', '0,809', '0,829', '0,958', '1,080', '1,000',
       '0,870', '0,967', '0,974', '0,944', '0,905', '0,925', '0,995',
       '0,915', '0,850', '0,779', '1,175', '0,849'], dtype=object)

In [59]:
# Convertimos columna categórica a numérica
df_n['Precio Gases licuados del petróleo']=df_n['Precio Gases licuados del petróleo'].str.replace(',','.')
df_n[['Precio Gases licuados del petróleo']]=df_n[['Precio Gases licuados del petróleo']].apply(pd.to_numeric)

In [60]:
df_n['Precio Gases licuados del petróleo'].describe()

count    852.000000
mean       1.034734
std        0.080758
min        0.639000
25%        1.009000
50%        1.049000
75%        1.079000
max        1.260000
Name: Precio Gases licuados del petróleo, dtype: float64

In [61]:
# Registros sin venta Gas NAtural Licuado del Petróleo
sin_suministro_gnlp = df_n['Precio Gases licuados del petróleo'].isnull().sum()
sin_suministro_gnlp

10911

In [62]:
ceros_sin_suministro_gnlp = (df_n['Precio Gases licuados del petróleo'] == 0).sum()
ceros_sin_suministro_gnlp

0

# Gasoleo A

In [63]:
Gasoleo_A = df_n['Precio Gasoleo A'].unique()
print(len(Gasoleo_A))
print(type(Gasoleo_A))
Gasoleo_A

422
<class 'numpy.ndarray'>

array(['1,929', '2,040', '2,019', '1,897', '2,010', '1,999', '1,878',
       '1,959', '1,899', '2,009', '1,975', '1,949', '2,049', '1,979',
       '1,950', '', '1,850', '2,259', '1,947', '1,869', '2,015', '1,919',
       '1,969', '1,995', '1,989', '1,870', '1,849', '1,924', '1,800',
       '2,029', '1,830', '1,889', '1,885', '1,846', '1,987', '1,939',
       '1,930', '1,860', '1,820', '1,740', '1,925', '1,829', '1,813',
       '1,856', '1,848', '1,858', '1,974', '1,791', '1,857', '2,020',
       '2,039', '1,879', '1,887', '2,025', '1,796', '1,799', '1,837',
       '1,992', '1,888', '1,877', '2,027', '1,990', '1,988', '1,985',
       '1,972', '1,909', '2,005', '1,898', '1,839', '1,961', '1,859',
       '1,951', '2,004', '1,984', '1,938', '1,968', '1,912', '1,915',
       '1,973', '1,825', '1,945', '1,835', '1,826', '1,845', '2,024',
       '1,944', '1,994', '1,936', '2,035', '1,855', '1,927', '2,059',
       '1,789', '1,918', '1,996', '1,817', '1,827', '1,914', '1,749',
       '1,819', '1,922', '1,868', '1,797', '1,920', '1,882', '1,886',
       '1,810', '1,895', '2,017', '1,964', '2,099', '1,851', '1,806',
       '1,774', '1,769', '1,812', '1,816', '2,014', '1,880', '1,847',
       '1,809', '1,997', '1,811', '1,957', '1,890', '1,940', '2,079',
       '1,788', '1,955', '2,069', '2,054', '2,034', '1,874', '2,018',
       '1,867', '1,937', '1,903', '1,893', '2,000', '1,892', '1,932',
       '1,917', '2,058', '2,075', '1,970', '2,070', '1,910', '1,834',
       '1,902', '1,900', '1,956', '1,954', '2,030', '1,941', '1,852',
       '1,871', '1,794', '1,967', '1,739', '2,109', '1,841', '1,854',
       '1,931', '1,866', '2,028', '1,767', '1,828', '2,045', '2,008',
       '2,016', '2,076', '2,129', '2,048', '1,978', '1,896', '2,047',
       '2,089', '1,998', '2,012', '2,057', '1,773', '1,934', '1,991',
       '1,865', '2,037', '1,904', '1,777', '1,778', '1,772', '1,838',
       '1,875', '1,776', '1,906', '1,775', '1,864', '1,784', '1,798',
       '2,065', '2,299', '1,928', '2,007', '2,139', '1,894', '1,948',
       '2,055', '1,913', '1,780', '1,790', '1,785', '1,815', '1,908',
       '1,971', '1,986', '1,793', '1,958', '1,965', '1,779', '1,980',
       '1,905', '1,960', '1,946', '1,935', '1,808', '1,771', '1,833',
       '1,824', '1,584', '1,575', '1,565', '1,840', '1,795', '1,802',
       '1,901', '1,757', '1,873', '1,805', '1,843', '1,782', '1,459',
       '1,475', '1,770', '1,752', '1,679', '1,747', '1,792', '1,921',
       '1,781', '2,021', '2,038', '2,001', '1,883', '2,068', '1,993',
       '1,842', '1,814', '2,044', '1,853', '1,804', '1,844', '1,786',
       '2,119', '1,759', '1,836', '1,863', '2,088', '2,309', '1,822',
       '1,831', '1,751', '2,022', '1,734', '1,962', '1,657', '2,200',
       '1,750', '2,090', '1,783', '1,966', '1,755', '1,916', '1,756',
       '1,942', '1,818', '1,876', '2,003', '1,807', '1,700', '1,500',
       '1,787', '1,766', '1,891', '1,963', '2,060', '1,977', '1,711',
       '2,050', '2,052', '1,765', '1,976', '2,236', '1,881', '2,023',
       '2,002', '2,199', '2,006', '2,072', '2,224', '1,911', '2,043',
       '1,832', '1,730', '1,763', '1,884', '1,488', '1,479', '1,489',
       '1,495', '1,550', '1,446', '2,111', '2,181', '2,074', '1,821',
       '1,981', '1,499', '1,519', '1,498', '1,374', '1,469', '1,449',
       '1,399', '1,421', '1,389', '1,559', '1,548', '1,534', '1,504',
       '1,529', '1,509', '1,536', '1,539', '1,514', '1,522', '1,513',
       '1,485', '1,468', '1,487', '1,451', '1,439', '1,527', '1,553',
       '1,599', '1,573', '1,532', '1,505', '1,484', '1,525', '1,544',
       '1,379', '1,494', '1,524', '1,503', '1,397', '1,510', '1,520',
       '1,549', '1,579', '1,528', '1,483', '1,526', '1,538', '1,515',
       '1,474', '1,415', '1,497', '1,546', '1,490', '1,568', '1,444',
       '1,517', '1,609', '1,926', '1,907', '1,872', '1,429', '1,434',
       '1,518', '1,562', '1,658', '1,496', '1,501', '1,445', '1,480',
       '1,464', '1,758', '1,695', '1,678', '1,512', '1,395', '1,690',
       '1,319', '1,493', '1,299', '1,567', '1,558', '1,720', '1,570',
       '1,478', '1,762', '2,053', '1,530', '1,862', '1,737', '1,861',
       '2,150', '1,768', '1,923', '1,933', '2,013', '2,101', '1,943',
       '1,660'], dtype=object)

In [64]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasoleo A']=df_n['Precio Gasoleo A'].str.replace(',','.')
df_n[['Precio Gasoleo A']]=df_n[['Precio Gasoleo A']].apply(pd.to_numeric)

In [65]:
df_n['Precio Gasoleo A'].describe()

count    11416.000000
mean         1.942097
std          0.113855
min          1.299000
25%          1.899000
50%          1.979000
75%          2.009000
max          2.309000
Name: Precio Gasoleo A, dtype: float64

In [66]:
# Registros sin venta Gasoleo A
sin_suministro_gA = df_n['Precio Gasoleo A'].isnull().sum()
sin_suministro_gA

347

In [67]:
ceros_sin_suministro_gA = (df_n['Precio Gasoleo A'] == 0).sum()
ceros_sin_suministro_gA

0

# Gasoleo B

In [68]:
Gasoleo_B = df_n['Precio Gasoleo B'].unique()
print(len(Gasoleo_A))
print(type(Gasoleo_A))
Gasoleo_B

422
<class 'numpy.ndarray'>

array(['1,430', '', '1,613', '1,450', '1,440', '1,639', '1,539', '1,559',
       '1,446', '1,690', '1,438', '1,627', '1,499', '1,470', '1,609',
       '1,550', '1,524', '1,570', '1,529', '1,428', '1,649', '1,400',
       '1,699', '1,642', '1,617', '1,451', '1,580', '1,530', '1,449',
       '1,377', '1,490', '1,657', '1,679', '1,375', '1,370', '1,574',
       '1,457', '1,267', '1,481', '1,602', '1,589', '1,591', '1,569',
       '1,420', '1,599', '1,719', '1,691', '1,689', '1,579', '1,582',
       '1,659', '1,076', '1,674', '1,600', '1,595', '1,749', '1,652',
       '1,629', '1,669', '1,779', '1,647', '1,714', '1,668', '1,643',
       '1,700', '1,491', '1,489', '1,553', '1,500', '1,495', '1,596',
       '1,594', '1,585', '1,554', '1,473', '1,412', '1,546', '1,549',
       '1,488', '1,536', '1,562', '1,612', '1,619', '1,607', '1,685',
       '1,509', '1,577', '1,479', '1,645', '1,805', '1,739', '1,849',
       '1,759', '1,729', '1,604', '1,454', '1,717', '1,658', '1,630',
       '1,614', '1,634', '1,651', '1,709', '1,558', '1,597', '1,692',
       '1,661', '1,800', '1,540', '1,666', '1,605', '1,593', '1,684',
       '1,565', '1,525', '1,650', '1,809', '1,427', '1,799', '1,590',
       '1,697', '1,485', '1,444', '1,403', '1,636', '1,294', '1,387',
       '1,379', '1,584', '1,512', '1,448', '1,583', '1,670', '1,480',
       '1,528', '1,510', '1,635', '1,459', '1,435', '1,750', '1,340',
       '1,393', '1,452', '1,109', '1,456', '1,434', '1,442', '1,349',
       '1,492', '1,507', '1,413', '1,443', '1,519', '1,475', '1,522',
       '1,447', '1,592', '1,421', '1,455', '1,515', '1,537', '1,638',
       '1,315', '1,587', '1,469', '1,411', '1,409', '1,545', '1,399',
       '1,471', '1,667', '1,752', '1,949', '1,742', '1,567', '1,535',
       '1,547', '1,677', '1,687', '1,660', '1,683', '1,506', '1,637',
       '1,725', '1,520', '1,460', '1,703', '1,654', '1,581', '1,608',
       '1,702', '1,398', '1,708', '1,564', '1,390', '1,333', '1,588',
       '1,424', '1,648', '1,429', '1,009', '1,628', '1,404', '1,425',
       '1,606', '1,496', '1,620', '1,468', '1,397', '1,618', '1,493',
       '1,626', '1,603', '1,598', '1,573', '1,560', '1,778', '1,578',
       '1,498', '1,551', '1,610', '1,365', '1,465', '1,437', '1,439',
       '1,395', '1,426', '1,415', '1,360', '1,299', '1,483', '1,680',
       '1,555', '1,408', '1,383', '1,419', '1,422', '1,357', '1,417',
       '1,378', '1,534', '1,641', '1,556', '1,380', '1,410', '1,552',
       '1,353', '1,623', '1,632', '1,575', '1,698', '1,624', '1,710',
       '1,586', '1,686', '1,695', '1,436', '1,300', '1,466', '1,533',
       '1,467', '1,405', '1,538', '1,464', '1,348', '1,723', '1,734',
       '1,646', '1,711', '1,731', '1,615', '1,688', '1,721', '1,514',
       '1,713', '1,890', '1,751', '1,663', '1,769', '1,385', '1,433',
       '1,548', '1,601', '1,644', '1,505', '1,611', '1,367', '1,472',
       '1,358', '1,445', '1,789', '1,561', '1,355', '1,900', '1,337',
       '1,482', '1,640', '1,389', '1,760', '1,431', '1,503', '1,477',
       '1,432', '1,571', '1,214', '1,572', '1,694', '1,391', '1,350',
       '1,463', '1,557', '1,484', '1,386', '1,317', '1,633', '1,653',
       '1,676', '1,576', '1,170', '1,263', '1,531', '1,330', '1,416',
       '1,361', '1,527', '1,329', '1,320', '1,487', '1,678', '1,673',
       '1,384', '1,326', '1,362', '1,523', '1,396', '1,745', '1,517',
       '1,521', '1,313', '1,371', '1,486', '1,458', '1,656', '1,839',
       '1,494', '1,662', '1,441', '1,671', '1,289', '1,664', '1,730',
       '1,526', '1,544', '1,621', '1,568', '1,755', '1,423', '1,859',
       '1,777', '1,720', '1,616', '1,622', '1,563', '1,418', '1,518',
       '1,388', '1,462', '1,414', '1,461', '1,345', '1,543', '1,130',
       '1,476', '1,369', '1,269', '1,262', '1,541', '1,286', '1,631',
       '1,516', '1,253', '1,501', '1,474', '1,339', '1,382', '1,368',
       '1,566', '1,508', '1,504', '1,675', '1,655', '1,296', '1,625',
       '1,732', '1,227', '1,290', '1,280'], dtype=object)

In [69]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasoleo B']=df_n['Precio Gasoleo B'].str.replace(',','.')
df_n[['Precio Gasoleo B']]=df_n[['Precio Gasoleo B']].apply(pd.to_numeric)

In [70]:
df_n['Precio Gasoleo B'].describe()

count    3000.000000
mean        1.556631
std         0.101292
min         1.009000
25%         1.480000
50%         1.569000
75%         1.629000
max         1.949000
Name: Precio Gasoleo B, dtype: float64

In [71]:
# Registros sin venta Gasoleo B
sin_suministro_gB = df_n['Precio Gasoleo B'].isnull().sum()
sin_suministro_gB

8763

In [72]:
ceros_sin_suministro_gB = (df_n['Precio Gasoleo B'] == 0).sum()
ceros_sin_suministro_gB

0

# Precio Gasoleo Premium

In [73]:
Gasoleo_P = df_n['Precio Gasoleo Premium'].unique()
print(len(Gasoleo_P))
print(type(Gasoleo_P))
Gasoleo_P

362
<class 'numpy.ndarray'>

array(['', '2,300', '2,109', '2,059', '2,089', '1,948', '2,019', '2,099',
       '1,959', '1,979', '2,079', '2,069', '2,049', '2,041', '2,119',
       '2,029', '1,999', '1,984', '1,989', '1,949', '2,115', '2,039',
       '2,075', '1,969', '2,005', '1,889', '2,064', '2,065', '2,095',
       '1,867', '2,073', '2,058', '2,093', '2,229', '2,105', '2,118',
       '2,139', '2,009', '1,899', '1,939', '1,909', '2,074', '2,054',
       '1,983', '2,087', '1,973', '1,835', '2,091', '2,055', '1,996',
       '2,114', '1,988', '2,101', '2,085', '2,045', '2,129', '2,138',
       '2,125', '1,829', '1,919', '2,999', '2,062', '1,929', '1,994',
       '1,905', '1,935', '1,947', '1,967', '2,022', '2,056', '1,878',
       '1,897', '1,985', '1,879', '1,926', '2,078', '2,083', '1,890',
       '1,865', '1,845', '1,880', '1,903', '1,862', '1,858', '2,092',
       '2,031', '2,020', '2,088', '1,895', '2,205', '2,149', '2,165',
       '2,144', '2,124', '2,159', '2,098', '2,035', '1,887', '1,968',
       '2,044', '1,953', '1,913', '1,917', '1,950', '2,050', '2,117',
       '1,970', '2,135', '2,989', '1,859', '2,169', '2,130', '2,024',
       '2,090', '2,030', '1,799', '1,874', '1,765', '1,869', '2,104',
       '2,179', '2,121', '1,898', '2,111', '2,086', '2,245', '2,128',
       '1,998', '2,127', '2,126', '2,082', '2,137', '1,908', '2,061',
       '2,057', '1,924', '1,928', '2,034', '2,060', '1,868', '1,955',
       '2,048', '2,094', '2,051', '2,071', '1,849', '1,839', '2,025',
       '2,004', '1,810', '1,885', '1,956', '1,946', '1,857', '1,995',
       '1,827', '1,904', '1,847', '1,809', '1,938', '1,864', '1,957',
       '2,100', '2,068', '2,145', '2,077', '1,819', '1,910', '2,131',
       '2,199', '2,108', '1,972', '2,000', '2,084', '1,974', '1,975',
       '2,015', '2,081', '2,040', '1,936', '2,070', '2,011', '1,615',
       '1,609', '2,028', '1,844', '2,012', '1,870', '1,945', '2,080',
       '1,877', '1,918', '2,046', '2,037', '1,990', '2,120', '2,008',
       '2,134', '2,072', '2,110', '2,148', '2,185', '1,980', '2,067',
       '1,965', '1,962', '1,914', '2,187', '2,007', '1,894', '1,925',
       '2,063', '1,997', '2,107', '1,920', '1,982', '2,006', '1,881',
       '2,038', '1,927', '2,021', '1,774', '2,018', '1,854', '2,026',
       '2,122', '1,777', '2,189', '1,940', '1,987', '2,172', '1,915',
       '1,891', '1,941', '1,892', '1,528', '1,529', '1,545', '2,032',
       '2,103', '1,846', '1,855', '1,888', '1,930', '2,066', '1,896',
       '1,837', '2,053', '1,856', '2,301', '1,907', '2,154', '2,097',
       '1,619', '1,633', '1,604', '1,639', '1,579', '1,599', '1,669',
       '1,623', '1,605', '1,535', '1,629', '1,709', '1,699', '1,634',
       '1,624', '1,631', '1,635', '1,659', '1,618', '1,601', '1,625',
       '1,499', '1,565', '1,689', '1,719', '1,718', '1,817', '1,649',
       '1,654', '1,642', '1,630', '1,614', '1,640', '1,549', '1,620',
       '1,622', '1,729', '1,525', '1,679', '1,644', '1,636', '1,594',
       '1,628', '1,648', '1,645', '1,510', '1,554', '1,557', '1,585',
       '1,590', '1,688', '1,690', '1,637', '2,096', '2,027', '1,961',
       '2,155', '2,014', '1,643', '1,638', '1,550', '1,646', '1,803',
       '1,841', '1,626', '1,547', '1,725', '1,589', '1,574', '1,544',
       '1,519', '1,580', '1,802', '1,603', '1,573', '1,469', '1,559',
       '1,569', '1,740', '1,763', '1,584', '1,588', '1,606', '1,954',
       '2,208', '1,795', '2,136', '2,017', '1,886', '1,933', '1,850',
       '1,825', '1,875', '2,042', '2,036', '1,960', '1,804', '1,977',
       '2,175', '1,978', '1,793', '1,860', '1,866', '1,808', '2,151',
       '1,937', '1,779', '1,884', '1,958'], dtype=object)

In [74]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasoleo Premium']=df_n['Precio Gasoleo Premium'].str.replace(',','.')
df_n[['Precio Gasoleo Premium']]=df_n[['Precio Gasoleo Premium']].apply(pd.to_numeric)

In [75]:
df_n['Precio Gasoleo Premium'].describe()

count    7493.000000
mean        2.037407
std         0.111447
min         1.469000
25%         2.019000
50%         2.069000
75%         2.099000
max         2.999000
Name: Precio Gasoleo Premium, dtype: float64

In [76]:
# Registros sin venta Gasoleo Premium
sin_suministro_gP = df_n['Precio Gasoleo Premium'].isnull().sum()
sin_suministro_gP

4270

In [77]:
ceros_sin_suministro_gP = (df_n['Precio Gasoleo Premium'] == 0).sum()
ceros_sin_suministro_gP

0

# Precio Gasolina 95 E10

In [78]:
g95_E10 = df_n['Precio Gasolina 95 E10'].unique()
print(len(g95_E10))
print(type(g95_E10))
g95_E10

20
<class 'numpy.ndarray'>

array(['', '2,129', '1,954', '1,799', '1,829', '1,720', '1,859', '1,919',
       '1,959', '1,869', '1,840', '1,699', '1,749', '1,669', '1,899',
       '1,969', '1,929', '1,759', '1,874', '1,868'], dtype=object)

In [79]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasolina 95 E10']=df_n['Precio Gasolina 95 E10'].str.replace(',','.')
df_n[['Precio Gasolina 95 E10']]=df_n[['Precio Gasolina 95 E10']].apply(pd.to_numeric)

In [80]:
 df_n['Precio Gasolina 95 E10'].describe()

count    22.000000
mean      1.855864
std       0.111290
min       1.669000
25%       1.769000
50%       1.868500
75%       1.926500
max       2.129000
Name: Precio Gasolina 95 E10, dtype: float64

In [81]:
# Registros sin venta Gasoleo Premium
sin_suministro_95E10 = df_n['Precio Gasolina 95 E10'].isnull().sum()
sin_suministro_95E10

11741

# Precio Gasolina 95 E5

In [82]:
g95_E5 = df_n['Precio Gasolina 95 E5'].unique()
print(len(g95_E5))
print(type(g95_E5))
g95_E5

438
<class 'numpy.ndarray'>

array(['1,749', '1,909', '1,819', '1,687', '1,859', '', '1,835', '1,799',
       '1,698', '1,759', '1,789', '1,699', '1,779', '1,825', '1,815',
       '1,784', '1,785', '1,730', '1,739', '1,690', '2,299', '1,800',
       '1,719', '1,689', '1,794', '1,814', '1,839', '1,809', '1,652',
       '1,632', '1,780', '1,795', '1,709', '1,829', '1,708', '1,775',
       '1,805', '1,729', '1,678', '1,670', '1,849', '1,673', '1,715',
       '1,667', '1,697', '1,679', '1,869', '1,659', '1,639', '1,824',
       '1,577', '1,797', '1,718', '1,707', '1,817', '1,798', '1,768',
       '1,755', '1,878', '1,677', '1,657', '1,748', '1,769', '1,823',
       '1,649', '1,717', '1,757', '1,778', '1,750', '1,625', '1,783',
       '1,811', '1,725', '1,614', '1,635', '1,734', '1,669', '1,833',
       '1,746', '1,879', '1,818', '1,767', '1,840', '1,629', '1,889',
       '1,788', '1,754', '1,796', '1,854', '1,774', '1,617', '1,627',
       '1,695', '1,599', '1,765', '1,737', '1,831', '1,855', '1,733',
       '1,688', '1,865', '1,772', '1,836', '1,700', '1,885', '1,969',
       '1,740', '1,845', '1,640', '1,666', '1,899', '1,804', '1,630',
       '1,888', '1,732', '1,685', '1,846', '1,787', '1,655', '1,834',
       '1,770', '1,864', '1,875', '1,884', '1,898', '1,844', '1,724',
       '1,728', '2,000', '1,850', '1,891', '1,874', '1,929', '1,918',
       '1,870', '1,676', '2,019', '1,857', '1,910', '1,745', '1,920',
       '1,790', '1,907', '1,735', '1,758', '1,647', '1,999', '1,838',
       '1,877', '1,868', '1,828', '1,867', '1,801', '1,668', '1,827',
       '1,588', '1,876', '1,618', '1,959', '1,919', '1,848', '1,742',
       '1,592', '1,931', '1,587', '1,847', '1,948', '1,591', '1,908',
       '1,619', '1,684', '1,589', '1,808', '1,675', '1,590', '1,680',
       '1,726', '1,653', '1,694', '1,939', '1,738', '1,949', '1,637',
       '1,609', '1,593', '1,598', '1,727', '1,925', '2,074', '1,914',
       '1,904', '2,149', '1,720', '1,935', '1,894', '1,890', '1,810',
       '1,947', '1,610', '1,816', '1,856', '1,660', '1,820', '1,830',
       '1,744', '1,648', '1,603', '1,900', '1,600', '1,760', '1,710',
       '1,620', '1,792', '1,483', '1,474', '1,465', '1,791', '1,663',
       '1,705', '1,624', '1,644', '1,832', '1,645', '1,741', '1,615',
       '1,560', '1,650', '1,671', '1,308', '1,340', '1,597', '1,704',
       '1,761', '1,897', '1,806', '1,751', '1,880', '1,905', '1,917',
       '1,793', '1,763', '1,802', '1,965', '1,686', '1,945', '1,656',
       '1,658', '1,764', '1,766', '1,813', '2,329', '1,672', '1,860',
       '1,812', '1,643', '1,714', '1,665', '1,858', '1,887', '1,807',
       '1,681', '1,826', '1,706', '1,691', '1,633', '1,602', '1,634',
       '1,871', '1,702', '1,853', '1,651', '2,120', '1,703', '1,594',
       '1,595', '1,596', '1,711', '1,837', '1,782', '1,612', '1,752',
       '1,747', '1,915', '1,777', '1,565', '1,622', '1,567', '1,989',
       '1,569', '1,843', '1,928', '1,882', '2,061', '1,712', '1,607',
       '1,713', '1,636', '1,731', '1,736', '1,661', '1,408', '1,399',
       '1,409', '1,723', '2,100', '1,716', '1,696', '1,756', '2,111',
       '1,623', '1,674', '1,981', '1,933', '1,923', '1,494', '1,449',
       '1,448', '1,279', '1,459', '1,419', '1,359', '1,249', '1,233',
       '1,339', '1,438', '1,389', '1,439', '1,324', '1,189', '1,499',
       '1,478', '1,475', '1,469', '1,440', '1,454', '1,444', '1,471',
       '1,430', '1,489', '1,492', '1,479', '1,485', '1,495', '1,447',
       '1,259', '1,429', '1,379', '1,487', '1,493', '1,529', '1,511',
       '1,488', '1,484', '1,509', '1,502', '1,482', '1,477', '1,289',
       '1,480', '1,559', '1,468', '1,514', '1,466', '1,496', '1,445',
       '1,455', '1,374', '1,378', '1,417', '1,506', '1,497', '1,866',
       '1,803', '1,229', '1,424', '1,503', '1,414', '1,392', '1,381',
       '1,386', '1,355', '1,394', '1,380', '1,387', '1,364', '1,585',
       '1,367', '1,581', '1,432', '1,410', '1,297', '1,369', '1,402',
       '1,352', '1,605', '1,427', '1,329', '1,415', '1,425', '1,375',
       '1,199', '1,299', '1,179', '1,365', '1,442', '1,377', '1,428',
       '1,413', '1,357', '1,314', '1,472', '1,401', '1,384', '1,404',
       '1,545', '1,403', '1,250', '1,443', '1,230', '1,388', '1,371',
       '1,418', '1,349', '1,786', '1,842', '2,036', '1,753', '1,654',
       '1,664', '1,881', '1,883', '1,641', '1,561', '1,722', '1,781',
       '1,601', '1,683', '1,604'], dtype=object)

In [83]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasolina 95 E5']=df_n['Precio Gasolina 95 E5'].str.replace(',','.')
df_n[['Precio Gasolina 95 E5']]=df_n[['Precio Gasolina 95 E5']].apply(pd.to_numeric)

In [84]:
df_n['Precio Gasolina 95 E5'].describe()

count    10606.000000
mean         1.779239
std          0.101292
min          1.179000
25%          1.739000
50%          1.809000
75%          1.839000
max          2.329000
Name: Precio Gasolina 95 E5, dtype: float64

In [85]:
# Registros sin venta Gasoleo Premium
sin_suministro_g95E5 = df_n['Precio Gasolina 95 E5'].isnull().sum()
sin_suministro_g95E5

1157

In [86]:
ceros_sin_suministro_g95E5  = (df_n['Precio Gasolina 95 E5'] == 0).sum()
ceros_sin_suministro_g95E5

0

# Precio Gasolina 95 E5 Premium

In [87]:
g95_E5_P = df_n['Precio Gasolina 95 E5 Premium'].unique()
print(len(g95_E5_P))
print(type(g95_E5_P))
g95_E5_P

100
<class 'numpy.ndarray'>

array(['', '1,899', '1,885', '1,815', '1,879', '1,889', '1,845', '1,875',
       '1,864', '1,869', '1,825', '1,979', '1,849', '1,859', '1,909',
       '1,877', '1,874', '1,779', '1,894', '1,919', '1,872', '1,939',
       '1,799', '1,854', '1,789', '1,699', '1,934', '1,929', '1,698',
       '1,989', '1,689', '1,656', '1,666', '1,819', '1,755', '1,969',
       '1,984', '1,829', '1,839', '1,884', '1,949', '1,914', '1,924',
       '1,944', '1,954', '1,959', '1,964', '1,809', '1,679', '1,904',
       '1,999', '1,714', '1,834', '1,724', '1,749', '1,947', '1,844',
       '1,865', '1,895', '1,867', '1,840', '1,855', '1,509', '1,805',
       '1,835', '1,709', '1,719', '1,908', '1,765', '1,893', '1,857',
       '1,905', '1,938', '1,710', '1,739', '1,708', '1,729', '1,717',
       '1,748', '1,747', '1,726', '1,696', '1,769', '1,768', '1,627',
       '1,738', '1,647', '2,004', '1,359', '1,444', '1,439', '1,639',
       '1,898', '1,811', '1,690', '1,721', '2,099', '1,804', '1,887',
       '1,878'], dtype=object)

In [88]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasolina 95 E5 Premium']=df_n['Precio Gasolina 95 E5 Premium'].str.replace(',','.')
df_n[['Precio Gasolina 95 E5 Premium']]=df_n[['Precio Gasolina 95 E5 Premium']].apply(pd.to_numeric)

In [89]:
df_n['Precio Gasolina 95 E5 Premium'].describe()

count    804.000000
mean       1.872096
std        0.073753
min        1.359000
25%        1.854000
50%        1.884000
75%        1.909000
max        2.099000
Name: Precio Gasolina 95 E5 Premium, dtype: float64

In [90]:
# Registros sin venta Gasolina 95 E5 Premium
sin_suministro_g95E5_Prem = df_n['Precio Gasolina 95 E5 Premium'].isnull().sum()
sin_suministro_g95E5_Prem

10959

In [91]:
ceros_sin_suministro_g95E5_Prem  = (df_n['Precio Gasolina 95 E5 Premium'] == 0).sum()
ceros_sin_suministro_g95E5

0

# Precio Gasolina 98 E10

In [92]:
g98_E10 = df_n['Precio Gasolina 98 E10'].unique()
print(len(g98_E10))
print(type(g98_E10))
g98_E10

9
<class 'numpy.ndarray'>

array(['', '1,995', '1,819', '1,760', '1,907', '1,959', '1,949', '1,939',
       '1,838'], dtype=object)

In [93]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasolina 98 E10']=df_n['Precio Gasolina 98 E10'].str.replace(',','.')
df_n[['Precio Gasolina 98 E10']]=df_n[['Precio Gasolina 98 E10']].apply(pd.to_numeric)

In [94]:
df_n['Precio Gasolina 98 E10'].describe()

count    8.000000
mean     1.895750
std      0.081361
min      1.760000
25%      1.833250
50%      1.923000
75%      1.951500
max      1.995000
Name: Precio Gasolina 98 E10, dtype: float64

In [95]:
# Registros sin venta Gasolina 98 E10 
sin_suministro_g98E10 = df_n['Precio Gasolina 98 E10'].isnull().sum()
sin_suministro_g98E10

11755

# Precio Gasolina 98 E5

In [96]:
g98_E5 = df_n['Precio Gasolina 98 E5'].unique()
print(len(g98_E5))
print(type(g98_E5))
g98_E5

413
<class 'numpy.ndarray'>

array(['', '2,200', '1,961', '1,959', '1,945', '1,939', '1,859', '1,919',
       '1,899', '2,089', '1,955', '1,989', '1,916', '1,895', '2,369',
       '1,892', '1,929', '1,869', '1,926', '1,999', '1,949', '1,931',
       '1,925', '1,969', '1,941', '2,099', '1,909', '1,851', '2,179',
       '1,934', '1,849', '2,009', '2,011', '1,977', '1,823', '1,951',
       '1,922', '1,932', '1,954', '1,898', '2,599', '1,889', '2,019',
       '2,029', '1,928', '1,991', '2,051', '1,979', '1,863', '1,957',
       '1,805', '1,866', '1,779', '1,879', '1,976', '1,930', '1,921',
       '1,971', '2,000', '1,985', '1,981', '2,039', '1,894', '2,999',
       '1,986', '1,809', '1,915', '1,874', '1,875', '1,965', '1,966',
       '2,005', '1,995', '1,732', '1,940', '1,819', '1,901', '1,888',
       '1,953', '1,990', '2,069', '1,857', '1,935', '1,975', '2,071',
       '2,169', '2,004', '2,021', '2,038', '2,001', '2,016', '2,031',
       '2,049', '1,907', '1,868', '1,924', '2,041', '1,970', '2,002',
       '1,996', '2,141', '1,917', '2,109', '2,028', '1,799', '1,820',
       '1,905', '1,974', '1,848', '2,075', '1,885', '1,911', '2,098',
       '2,059', '1,858', '1,846', '2,010', '1,998', '2,018', '2,017',
       '1,978', '1,994', '1,947', '1,829', '1,920', '2,025', '1,792',
       '1,950', '2,034', '1,956', '1,802', '2,160', '2,020', '1,690',
       '1,699', '2,007', '1,816', '1,988', '2,180', '1,693', '2,024',
       '1,964', '1,839', '1,844', '1,904', '2,150', '2,046', '1,825',
       '2,006', '1,948', '1,906', '1,739', '2,139', '1,890', '1,712',
       '2,047', '1,822', '2,079', '1,997', '2,124', '1,944', '2,078',
       '2,068', '2,036', '2,145', '2,033', '1,908', '2,149', '2,157',
       '2,199', '1,878', '2,189', '2,014', '1,767', '1,946', '2,119',
       '2,057', '1,880', '2,209', '1,789', '1,887', '1,891', '2,048',
       '1,513', '1,499', '1,749', '1,871', '2,229', '1,845', '1,815',
       '1,861', '1,958', '1,828', '2,081', '2,095', '2,037', '1,942',
       '2,159', '1,972', '2,065', '2,100', '2,129', '1,980', '2,115',
       '1,936', '1,748', '1,842', '2,060', '2,015', '1,987', '1,755',
       '1,984', '1,810', '1,973', '1,841', '1,795', '2,500', '1,835',
       '1,963', '1,918', '1,900', '1,856', '1,913', '1,840', '2,299',
       '1,602', '2,074', '2,032', '1,765', '1,729', '1,914', '1,695',
       '1,967', '2,008', '1,698', '1,854', '2,003', '2,140', '1,882',
       '2,035', '2,239', '1,833', '1,788', '1,960', '1,993', '1,757',
       '1,910', '1,877', '1,722', '2,215', '2,026', '1,897', '1,584',
       '1,539', '1,519', '1,579', '1,534', '1,669', '1,549', '1,459',
       '1,439', '1,417', '1,599', '1,569', '1,509', '1,589', '1,474',
       '1,659', '1,613', '1,605', '1,551', '1,544', '1,581', '1,582',
       '1,542', '1,639', '1,649', '1,629', '1,588', '1,593', '1,601',
       '1,609', '1,617', '1,409', '1,558', '1,469', '1,576', '1,684',
       '1,671', '1,707', '1,598', '1,614', '1,600', '1,632', '1,604',
       '1,619', '1,577', '1,529', '1,575', '1,610', '1,620', '1,674',
       '1,580', '1,689', '1,564', '1,567', '1,625', '1,626', '1,554',
       '1,574', '1,578', '1,559', '1,573', '1,590', '1,615', '1,585',
       '1,380', '1,594', '1,492', '1,628', '1,498', '1,656', '1,627',
       '1,968', '1,371', '1,648', '1,688', '1,506', '1,511', '1,464',
       '1,460', '1,505', '1,606', '1,479', '1,675', '1,504', '1,407',
       '1,399', '1,423', '1,514', '1,697', '1,524', '1,647', '1,490',
       '1,550', '1,530', '1,377', '1,477', '1,570', '1,465', '1,700',
       '1,489', '1,545', '1,449', '1,395', '1,515', '1,507', '1,497',
       '1,750', '1,485', '1,384', '1,495', '1,458', '1,488', '1,484',
       '1,472', '1,394', '1,563', '1,400', '1,424', '1,597', '1,526',
       '1,478', '1,435', '1,510', '1,623', '1,531', '1,494', '1,571',
       '1,501', '1,536', '1,533', '1,419', '2,058', '2,267', '1,759',
       '1,719', '2,219', '1,769', '1,923', '2,450', '1,864', '1,927',
       '1,794', '1,865', '1,800', '2,064', '1,867', '1,847', '2,220',
       '2,055', '1,937', '1,807', '2,050', '1,813', '1,938', '1,830',
       '1,896', '2,279', '2,022', '2,250', '1,850', '1,837'], dtype=object)

In [97]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasolina 98 E5']=df_n['Precio Gasolina 98 E5'].str.replace(',','.')
df_n[['Precio Gasolina 98 E5']]=df_n[['Precio Gasolina 98 E5']].apply(pd.to_numeric)

In [98]:
df_n['Precio Gasolina 98 E5'].describe()

count    5932.000000
mean        1.932060
std         0.122878
min         1.371000
25%         1.919000
50%         1.959000
75%         1.990000
max         2.999000
Name: Precio Gasolina 98 E5, dtype: float64

In [99]:
# Registros sin venta Gasolina 98 E5 
sin_suministro_g98E5 = df_n['Precio Gasolina 98 E5'].isnull().sum()
sin_suministro_g98E5

5831

In [100]:
ceros_sin_suministro_g98E5  = (df_n['Precio Gasolina 98 E5'] == 0).sum()
ceros_sin_suministro_g98E5

0

# Precio Hidrogeno

In [101]:
Hidrongeno = df_n['Precio Hidrogeno'].unique()
print(len(Hidrongeno))
print(type(Hidrongeno))
Hidrongeno

1
<class 'numpy.ndarray'>

array([''], dtype=object)

In [102]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Hidrogeno']=df_n['Precio Hidrogeno'].str.replace(',','.')
df_n[['Precio Hidrogeno']]=df_n[['Precio Hidrogeno']].apply(pd.to_numeric)

In [103]:
df_n['Precio Hidrogeno'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: Precio Hidrogeno, dtype: float64

In [104]:
df_n.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11763 entries, 0 to 11762
Data columns (total 33 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Fecha                               11763 non-null  object
 1   C.P.                                11763 non-null  object
 2   Dirección                           11763 non-null  object
 3   Horario                             11763 non-null  object
 4   Latitud                             11763 non-null  object
 5   Localidad                           11763 non-null  object
 6   Longitud (WGS84)                    11763 non-null  object
 7   Margen                              11763 non-null  object
 8   Municipio                           11763 non-null  object
 9   Precio Biodiesel                    38 non-null     float64
 10  Precio Bioetanol                    5 non-null      float64
 11  Precio Gas Natural Comprimido       122 non-null    float64
 12  Precio Gas Natural Licuado          82 non-null     float64
 13  Precio Gases licuados del petróleo  852 non-null    float64
 14  Precio Gasoleo A                    11416 non-null  float64
 15  Precio Gasoleo B                    3000 non-null   float64
 16  Precio Gasoleo Premium              7493 non-null   float64
 17  Precio Gasolina 95 E10              22 non-null     float64
 18  Precio Gasolina 95 E5               10606 non-null  float64
 19  Precio Gasolina 95 E5 Premium       804 non-null    float64
 20  Precio Gasolina 98 E10              8 non-null      float64
 21  Precio Gasolina 98 E5               5932 non-null   float64
 22  Precio Hidrogeno                    0 non-null      float64
 23  Provincia                           11763 non-null  object
 24  Remisión                            11763 non-null  object
 25  Rótulo                              11763 non-null  object
 26  Tipo Venta                          11763 non-null  object
 27  % BioEtanol                         11763 non-null  object
 28  % Éster metílico                    11763 non-null  object
 29  IDEESS                              11763 non-null  object
 30  IDMunicipio                         11763 non-null  object
 31  IDProvincia                         11763 non-null  object
 32  IDCCAA                              11763 non-null  object
dtypes: float64(14), object(19)
memory usage: 3.0+ MB

---
Setp 3

# Limpieza de Columnas

In [105]:
# Eliminiación de columnas que no interesan a nivel usuario o que no aportan datos significativos al modelo
df_n.drop(['Margen', 'Remisión', 'Tipo Venta', '% BioEtanol', '% Éster metílico', 'Precio Biodiesel',
          'Precio Bioetanol', 'Precio Gas Natural Comprimido', 'Precio Gas Natural Licuado', 
          'Precio Gas Natural Licuado', 'Precio Gases licuados del petróleo', 'Precio Gasolina 95 E10',
          'Precio Gasolina 95 E5 Premium', 'Precio Gasolina 98 E10', 'Precio Hidrogeno'], axis=1, inplace=True)

In [106]:
# Comprobación
df_n.iloc[15][['Precio Gasoleo B']]

Precio Gasoleo B    NaN
Name: 15, dtype: object

In [107]:
df_n.head()

,Fecha,C.P.,Dirección,Horario,Latitud,Localidad,Longitud (WGS84),Municipio,Precio Gasoleo A,Precio Gasoleo B,Precio Gasoleo Premium,Precio Gasolina 95 E5,Precio Gasolina 98 E5,Provincia,Rótulo,IDEESS,IDMunicipio,IDProvincia,IDCCAA
0,09/11/2022 13:33:53,02250,"AVENIDA CASTILLA LA MANCHA, 26",L-D: 07:00-22:00,"39,211417",ABENGIBRE,"-1,539167",Abengibre,1.929,1.43,NaN,1.749,NaN,ALBACETE,Nº 10.935,4375,52,02,07
1,09/11/2022 13:33:53,02152,"CR CM-332, 46,4",L-D: 7:00-23:00,"39,100389",ALATOZ,"-1,346083",Alatoz,2.040,NaN,2.300,1.909,2.200,ALBACETE,REPSOL,5122,53,02,07
2,09/11/2022 13:33:53,02001,CALLE PRINCIPE DE ASTURIAS (POLÍGONO DE ROMICA...,L-D: 06:00-21:30,"39,054694",ALBACETE,"-1,832000",Albacete,2.019,NaN,2.109,1.819,1.961,ALBACETE,BP ROMICA,12054,54,02,07
3,09/11/2022 13:33:53,02001,"CALLE FEDERICO GARCIA LORCA, 1",L-D: 24H,"39,000861",ALBACETE,"-1,849833",Albacete,1.897,NaN,NaN,1.687,NaN,ALBACETE,PLENOIL,13933,54,02,07
4,09/11/2022 13:33:53,02001,"AVENIDA 1º DE MAYO, S/N",L-S: 08:00-22:00; D: 09:00-21:00,"38,985667",ALBACETE,"-1,868500",Albacete,2.019,NaN,2.059,1.859,1.959,ALBACETE,CARREFOUR,10765,54,02,07

In [108]:
# Renombramos las columnas
df_n.rename(columns={"Precio Gasoleo A": "Gasoleo A", "Precio Gasoleo B": "Gasoleo B" ,"Precio Gasoleo Premium": "Gasoleo Premium", 
                     "Precio Gasolina 95 E5": "Gasolina 95 E5", "Precio Gasolina 98 E5": "Gasolina 98 E5",
                     "Rótulo":"Proveedor de Servicio"}, inplace=True)
df_n.head(1)

,Fecha,C.P.,Dirección,Horario,Latitud,Localidad,Longitud (WGS84),Municipio,Gasoleo A,Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Provincia,Proveedor de Servicio,IDEESS,IDMunicipio,IDProvincia,IDCCAA
0,09/11/2022 13:33:53,02250,"AVENIDA CASTILLA LA MANCHA, 26",L-D: 07:00-22:00,"39,211417",ABENGIBRE,"-1,539167",Abengibre,1.929,1.43,NaN,1.749,NaN,ALBACETE,Nº 10.935,4375,52,02,07

In [109]:
# Media
df_n['Media_Gasoleo A']=df_n['Gasoleo A'].mean()
df_n['Media_Gasoleo B']=df_n['Gasoleo B'].mean()
df_n['Media_Gasoleo Prem'] = df_n['Gasoleo Premium'].mean()
df_n['Media_Gasolina 95']=df_n['Gasolina 95 E5'].mean()
df_n['Media_Gasolina 98']=df_n['Gasolina 98 E5'].mean()

In [110]:
# Desviación (eliminanos porque no aporta información va)
#df_n['dev_Gasoleo A']= df_n['Gasoleo A'] - df_n['Media_Gasoleo A']
#df_n['dev_Gasoleo B'] =df_n['Gasoleo B'] - df_n['Media_Gasoleo B']
#df_n['dev_Gasoleo Prem'] =df_n['Gasoleo Premium'] - df_n['Media_Gasoleo Prem']
#df_n['dev_Gasolina 95']=df_n['Gasolina 95 E5'] - df_n['Media_Gasolina 95']
#df_n['dev_Gasolina 98']=df_n['Gasolina 98 E5']- df_n['Media_Gasolina 98']

In [111]:
df_n.head()

,Fecha,C.P.,Dirección,Horario,Latitud,Localidad,Longitud (WGS84),Municipio,Gasoleo A,Gasoleo B,...,Proveedor de Servicio,IDEESS,IDMunicipio,IDProvincia,IDCCAA,Media_Gasoleo A,Media_Gasoleo B,Media_Gasoleo Prem,Media_Gasolina 95,Media_Gasolina 98
0,09/11/2022 13:33:53,02250,"AVENIDA CASTILLA LA MANCHA, 26",L-D: 07:00-22:00,"39,211417",ABENGIBRE,"-1,539167",Abengibre,1.929,1.43,...,Nº 10.935,4375,52,02,07,1.942097,1.556631,2.037407,1.779239,1.93206
1,09/11/2022 13:33:53,02152,"CR CM-332, 46,4",L-D: 7:00-23:00,"39,100389",ALATOZ,"-1,346083",Alatoz,2.040,NaN,...,REPSOL,5122,53,02,07,1.942097,1.556631,2.037407,1.779239,1.93206
2,09/11/2022 13:33:53,02001,CALLE PRINCIPE DE ASTURIAS (POLÍGONO DE ROMICA...,L-D: 06:00-21:30,"39,054694",ALBACETE,"-1,832000",Albacete,2.019,NaN,...,BP ROMICA,12054,54,02,07,1.942097,1.556631,2.037407,1.779239,1.93206
3,09/11/2022 13:33:53,02001,"CALLE FEDERICO GARCIA LORCA, 1",L-D: 24H,"39,000861",ALBACETE,"-1,849833",Albacete,1.897,NaN,...,PLENOIL,13933,54,02,07,1.942097,1.556631,2.037407,1.779239,1.93206
4,09/11/2022 13:33:53,02001,"AVENIDA 1º DE MAYO, S/N",L-S: 08:00-22:00; D: 09:00-21:00,"38,985667",ALBACETE,"-1,868500",Albacete,2.019,NaN,...,CARREFOUR,10765,54,02,07,1.942097,1.556631,2.037407,1.779239,1.93206

In [112]:
df_n.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11763 entries, 0 to 11762
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Fecha                  11763 non-null  object
 1   C.P.                   11763 non-null  object
 2   Dirección              11763 non-null  object
 3   Horario                11763 non-null  object
 4   Latitud                11763 non-null  object
 5   Localidad              11763 non-null  object
 6   Longitud (WGS84)       11763 non-null  object
 7   Municipio              11763 non-null  object
 8   Gasoleo A              11416 non-null  float64
 9   Gasoleo B              3000 non-null   float64
 10  Gasoleo Premium        7493 non-null   float64
 11  Gasolina 95 E5         10606 non-null  float64
 12  Gasolina 98 E5         5932 non-null   float64
 13  Provincia              11763 non-null  object
 14  Proveedor de Servicio  11763 non-null  object
 15  IDEESS                 11763 non-null  object
 16  IDMunicipio            11763 non-null  object
 17  IDProvincia            11763 non-null  object
 18  IDCCAA                 11763 non-null  object
 19  Media_Gasoleo A        11763 non-null  float64
 20  Media_Gasoleo B        11763 non-null  float64
 21  Media_Gasoleo Prem     11763 non-null  float64
 22  Media_Gasolina 95      11763 non-null  float64
 23  Media_Gasolina 98      11763 non-null  float64
dtypes: float64(10), object(14)
memory usage: 2.2+ MB

In [113]:
#Ordenamos columnas
df_n = df_n[['Fecha', 'Horario', 'C.P.','Provincia','Municipio','Localidad', 'Dirección', 'Proveedor de Servicio', 'Gasoleo A',
             'Gasoleo B', 'Gasoleo Premium', 'Gasolina 95 E5', 'Gasolina 98 E5', 'Media_Gasoleo A',
             'Media_Gasoleo B', 'Media_Gasoleo Prem', 'Media_Gasolina 95', 'Media_Gasolina 98']]
df_n

,Fecha,Horario,C.P.,Provincia,Municipio,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Media_Gasoleo A,Media_Gasoleo B,Media_Gasoleo Prem,Media_Gasolina 95,Media_Gasolina 98
0,09/11/2022 13:33:53,L-D: 07:00-22:00,02250,ALBACETE,Abengibre,ABENGIBRE,"AVENIDA CASTILLA LA MANCHA, 26",Nº 10.935,1.929,1.430,NaN,1.749,NaN,1.942097,1.556631,2.037407,1.779239,1.93206
1,09/11/2022 13:33:53,L-D: 7:00-23:00,02152,ALBACETE,Alatoz,ALATOZ,"CR CM-332, 46,4",REPSOL,2.040,NaN,2.300,1.909,2.200,1.942097,1.556631,2.037407,1.779239,1.93206
2,09/11/2022 13:33:53,L-D: 06:00-21:30,02001,ALBACETE,Albacete,ALBACETE,CALLE PRINCIPE DE ASTURIAS (POLÍGONO DE ROMICA...,BP ROMICA,2.019,NaN,2.109,1.819,1.961,1.942097,1.556631,2.037407,1.779239,1.93206
3,09/11/2022 13:33:53,L-D: 24H,02001,ALBACETE,Albacete,ALBACETE,"CALLE FEDERICO GARCIA LORCA, 1",PLENOIL,1.897,NaN,NaN,1.687,NaN,1.942097,1.556631,2.037407,1.779239,1.93206
4,09/11/2022 13:33:53,L-S: 08:00-22:00; D: 09:00-21:00,02001,ALBACETE,Albacete,ALBACETE,"AVENIDA 1º DE MAYO, S/N",CARREFOUR,2.019,NaN,2.059,1.859,1.959,1.942097,1.556631,2.037407,1.779239,1.93206
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11758,09/11/2022 13:33:53,L-D: 24H,50197,ZARAGOZA,Zaragoza,ZARAGOZA,"RONDA FERIA DE MUESTRAS, DE LA, 20",IDS,2.009,1.658,NaN,NaN,NaN,1.942097,1.556631,2.037407,1.779239,1.93206
11759,09/11/2022 13:33:53,L-D: 24H,50197,ZARAGOZA,Zaragoza,ZARAGOZA,"POLIGONO CALLE TURIASO, 31",NOIL,2.009,NaN,NaN,NaN,NaN,1.942097,1.556631,2.037407,1.779239,1.93206
11760,09/11/2022 13:33:53,L-D: 06:00-22:00,50800,ZARAGOZA,Zuera,ZUERA,"CARRETERA N-330A KM. 24,000",REPSOL,1.969,1.559,2.019,1.795,1.925,1.942097,1.556631,2.037407,1.779239,1.93206
11761,09/11/2022 13:33:53,L-D: 24H,50800,ZARAGOZA,Zuera,ZUERA,"CALLE AUSTRIA, 11,17",AN ENERGETICOS ZUERA,1.909,1.395,1.949,1.757,NaN,1.942097,1.556631,2.037407,1.779239,1.93206
11762,09/11/2022 13:33:53,L-D: 24H,50810,ZARAGOZA,Zuera,ONTINAR DE SALZ,"CALLE COOPERATIVA, 2",COOPERATIVA SAN ISIDRO,1.919,1.449,1.959,1.749,NaN,1.942097,1.556631,2.037407,1.779239,1.93206

In [114]:
# Guardamos df original para sucesion de tiempo
df_n.to_csv('df_sample.csv', index=False)

In [115]:
df_n.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11763 entries, 0 to 11762
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Fecha                  11763 non-null  object
 1   Horario                11763 non-null  object
 2   C.P.                   11763 non-null  object
 3   Provincia              11763 non-null  object
 4   Municipio              11763 non-null  object
 5   Localidad              11763 non-null  object
 6   Dirección              11763 non-null  object
 7   Proveedor de Servicio  11763 non-null  object
 8   Gasoleo A              11416 non-null  float64
 9   Gasoleo B              3000 non-null   float64
 10  Gasoleo Premium        7493 non-null   float64
 11  Gasolina 95 E5         10606 non-null  float64
 12  Gasolina 98 E5         5932 non-null   float64
 13  Media_Gasoleo A        11763 non-null  float64
 14  Media_Gasoleo B        11763 non-null  float64
 15  Media_Gasoleo Prem     11763 non-null  float64
 16  Media_Gasolina 95      11763 non-null  float64
 17  Media_Gasolina 98      11763 non-null  float64
dtypes: float64(10), object(8)
memory usage: 1.6+ MB

In [116]:
x = df_n['C.P.']
print(type(x))

<class 'pandas.core.series.Series'>

---
Step4


# Desarrollo Funciones

In [117]:
# Analisis de Funciones

In [118]:
# Analizar df_n usando .loc()

df_n[df_n['C.P.'] == '28760']

,Fecha,Horario,C.P.,Provincia,Municipio,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Media_Gasoleo A,Media_Gasoleo B,Media_Gasoleo Prem,Media_Gasolina 95,Media_Gasolina 98
7206,09/11/2022 13:33:53,L-D: 06:00-00:00,28760,MADRID,Tres Cantos,TRES CANTOS,"CALLE YUNQUE, 6",CEPSA,1.918,NaN,1.984,1.712,1.844,1.942097,1.556631,2.037407,1.779239,1.93206
7207,09/11/2022 13:33:53,L-D: 24H,28760,MADRID,Tres Cantos,TRES CANTOS,"CL AV DE LA INDUSTRIA, 58",REPSOL,1.999,NaN,2.089,1.779,1.929,1.942097,1.556631,2.037407,1.779239,1.93206
7208,09/11/2022 13:33:53,L-D: 24H,28760,MADRID,Tres Cantos,TRES CANTOS,"AVENIDA INDUSTRIA (DE LA), S/N",BP TRES CANTOS,2.009,NaN,2.099,1.809,1.951,1.942097,1.556631,2.037407,1.779239,1.93206
7209,09/11/2022 13:33:53,L-D: 06:00-22:00,28760,MADRID,Tres Cantos,TRES CANTOS,"CL AVDA DE LA INDUSTRIA, 33",REPSOL,2.009,NaN,2.099,1.805,1.955,1.942097,1.556631,2.037407,1.779239,1.93206
7210,09/11/2022 13:33:53,L-D: 24H,28760,MADRID,Tres Cantos,TRES CANTOS,"AVENIDA INDUSTRIA, 44",BALLENOIL,1.817,NaN,1.827,1.607,NaN,1.942097,1.556631,2.037407,1.779239,1.93206
7211,09/11/2022 13:33:53,L-D: 24H,28760,MADRID,Tres Cantos,TRES CANTOS,"AVENIDA INDUSTRIA (DE LA), 52",PLENOIL,1.817,NaN,NaN,1.607,NaN,1.942097,1.556631,2.037407,1.779239,1.93206
7212,09/11/2022 13:33:53,L-V: 08:00-20:00,28760,MADRID,Tres Cantos,TRES CANTOS,"CL AVENIDA ARTESANOS, 40",REPSOL,1.999,NaN,NaN,1.779,1.919,1.942097,1.556631,2.037407,1.779239,1.93206

In [119]:
df_n[['Gasoleo A']].min()

Gasoleo A    1.299
dtype: float64

In [120]:
type(df_n[['Gasoleo A']].min())

pandas.core.series.Series

In [121]:
df_n[['Gasoleo A']].idxmin()

Gasoleo A    9235
dtype: int64

In [122]:
type(df_n[['Gasoleo A']].idxmin())

pandas.core.series.Series

In [123]:
#df_n.loc[df_n[['Gasoleo A']].min()]

In [124]:
#df_n.head()

In [125]:
#df_n.loc[1.290]

In [126]:
df_n.index

RangeIndex(start=0, stop=11763, step=1)

In [127]:
type(df_n.loc[df_n[['Gasoleo A']].idxmin()])

pandas.core.frame.DataFrame

In [128]:
type(df_n.loc[9213])

pandas.core.series.Series

In [129]:
a = df_n.groupby(by=["Municipio"])
a

In [130]:
b = a["C.P."].unique()
b

Municipio
Abadiño                                     [48220]
Abadín                               [27730, 27738]
Abanilla                                    [30640]
Abanto y Ciérvana-Abanto Zierbena           [48500]
Abarán                                      [30550]
                                          ...
Íscar                                       [47420]
Òdena                                       [08711]
Ólvega                                      [42110]
Órgiva                                      [18400]
Úbeda                                       [23400]
Name: C.P., Length: 3434, dtype: object

# Funciones

In [131]:
# Precio mínimo de combstible en un codigo postal 
def cp_minimo(x,y):
# x = Código Postal
# y = Tipo de combustible para el precio mínimo
    cod_postal = df_n[df_n['C.P.'] == x]
    combustible = cod_postal.loc[cod_postal[[y]].idxmin()]
    return combustible

In [132]:
cp_minimo('28760', 'Gasoleo A')

,Fecha,Horario,C.P.,Provincia,Municipio,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Media_Gasoleo A,Media_Gasoleo B,Media_Gasoleo Prem,Media_Gasolina 95,Media_Gasolina 98
7210,09/11/2022 13:33:53,L-D: 24H,28760,MADRID,Tres Cantos,TRES CANTOS,"AVENIDA INDUSTRIA, 44",BALLENOIL,1.817,NaN,1.827,1.607,NaN,1.942097,1.556631,2.037407,1.779239,1.93206

---

In [133]:
df_n[df_n['C.P.'] == "28500"]

,Fecha,Horario,C.P.,Provincia,Municipio,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Media_Gasoleo A,Media_Gasoleo B,Media_Gasoleo Prem,Media_Gasolina 95,Media_Gasolina 98
6540,09/11/2022 13:33:53,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA MADRID (DE), 66",PLENOIL,1.899,NaN,NaN,1.649,NaN,1.942097,1.556631,2.037407,1.779239,1.93206
6541,09/11/2022 13:33:53,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA MADRID (DE), SN",PETROPRIX,1.899,NaN,NaN,1.649,NaN,1.942097,1.556631,2.037407,1.779239,1.93206
6542,09/11/2022 13:33:53,L-D: 07:00-22:00,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA FINANZAUTO (DE), 2",DELFIOIL,1.899,NaN,NaN,1.669,NaN,1.942097,1.556631,2.037407,1.779239,1.93206
6543,09/11/2022 13:33:53,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,CAMINO CAMINO DE SAN MARTÍN DE LA VEGA A ARGAN...,BALLENOIL,1.899,NaN,NaN,1.679,NaN,1.942097,1.556631,2.037407,1.779239,1.93206
6544,09/11/2022 13:33:53,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,CARRETERA M-832 KM. 3,REPSOL,2.052,NaN,2.122,1.802,NaN,1.942097,1.556631,2.037407,1.779239,1.93206
6545,09/11/2022 13:33:53,L-V: 06:00-22:00; S-D: 08:00-22:00,28500,MADRID,Arganda del Rey,ARGANDA,"AVDA DE MADRID, 103",REPSOL,2.029,1.669,2.039,1.819,NaN,1.942097,1.556631,2.037407,1.779239,1.93206
6546,09/11/2022 13:33:53,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA EJERCITO (DEL), 44",BP ARGANDA,2.019,NaN,2.109,1.819,1.961,1.942097,1.556631,2.037407,1.779239,1.93206
6547,09/11/2022 13:33:53,L-D: 06:00-22:00,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA DE MADRID, 37",BP LA ARGANDEÑA,2.019,NaN,2.109,1.819,1.961,1.942097,1.556631,2.037407,1.779239,1.93206
6548,09/11/2022 13:33:53,L: 24H,28500,MADRID,Arganda del Rey,ARGANDA,CARRETERA M-832 KM. 3,REPSOL,2.052,NaN,NaN,1.802,NaN,1.942097,1.556631,2.037407,1.779239,1.93206
6549,09/11/2022 13:33:53,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,"CAMINO SAN MARTIN DE LA VEGA, 8",BALLENOIL,1.899,NaN,NaN,1.679,NaN,1.942097,1.556631,2.037407,1.779239,1.93206
6550,09/11/2022 13:33:53,L-D: 06:00-00:00,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA DE MADRID, 126",ATENOIL,1.939,NaN,1.949,1.739,NaN,1.942097,1.556631,2.037407,1.779239,1.93206
6551,09/11/2022 13:33:53,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA VALDEARGANDA, 8",CEPSA,2.015,NaN,2.115,1.819,1.951,1.942097,1.556631,2.037407,1.779239,1.93206

In [134]:
# Comprobación
x1 = df_n["C.P."]=='28500'
x2 = df_n[x1]
x2

,Fecha,Horario,C.P.,Provincia,Municipio,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Media_Gasoleo A,Media_Gasoleo B,Media_Gasoleo Prem,Media_Gasolina 95,Media_Gasolina 98
6540,09/11/2022 13:33:53,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA MADRID (DE), 66",PLENOIL,1.899,NaN,NaN,1.649,NaN,1.942097,1.556631,2.037407,1.779239,1.93206
6541,09/11/2022 13:33:53,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA MADRID (DE), SN",PETROPRIX,1.899,NaN,NaN,1.649,NaN,1.942097,1.556631,2.037407,1.779239,1.93206
6542,09/11/2022 13:33:53,L-D: 07:00-22:00,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA FINANZAUTO (DE), 2",DELFIOIL,1.899,NaN,NaN,1.669,NaN,1.942097,1.556631,2.037407,1.779239,1.93206
6543,09/11/2022 13:33:53,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,CAMINO CAMINO DE SAN MARTÍN DE LA VEGA A ARGAN...,BALLENOIL,1.899,NaN,NaN,1.679,NaN,1.942097,1.556631,2.037407,1.779239,1.93206
6544,09/11/2022 13:33:53,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,CARRETERA M-832 KM. 3,REPSOL,2.052,NaN,2.122,1.802,NaN,1.942097,1.556631,2.037407,1.779239,1.93206
6545,09/11/2022 13:33:53,L-V: 06:00-22:00; S-D: 08:00-22:00,28500,MADRID,Arganda del Rey,ARGANDA,"AVDA DE MADRID, 103",REPSOL,2.029,1.669,2.039,1.819,NaN,1.942097,1.556631,2.037407,1.779239,1.93206
6546,09/11/2022 13:33:53,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA EJERCITO (DEL), 44",BP ARGANDA,2.019,NaN,2.109,1.819,1.961,1.942097,1.556631,2.037407,1.779239,1.93206
6547,09/11/2022 13:33:53,L-D: 06:00-22:00,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA DE MADRID, 37",BP LA ARGANDEÑA,2.019,NaN,2.109,1.819,1.961,1.942097,1.556631,2.037407,1.779239,1.93206
6548,09/11/2022 13:33:53,L: 24H,28500,MADRID,Arganda del Rey,ARGANDA,CARRETERA M-832 KM. 3,REPSOL,2.052,NaN,NaN,1.802,NaN,1.942097,1.556631,2.037407,1.779239,1.93206
6549,09/11/2022 13:33:53,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,"CAMINO SAN MARTIN DE LA VEGA, 8",BALLENOIL,1.899,NaN,NaN,1.679,NaN,1.942097,1.556631,2.037407,1.779239,1.93206
6550,09/11/2022 13:33:53,L-D: 06:00-00:00,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA DE MADRID, 126",ATENOIL,1.939,NaN,1.949,1.739,NaN,1.942097,1.556631,2.037407,1.779239,1.93206
6551,09/11/2022 13:33:53,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA VALDEARGANDA, 8",CEPSA,2.015,NaN,2.115,1.819,1.951,1.942097,1.556631,2.037407,1.779239,1.93206

In [135]:
# Precio mínimo de combstible en una Provincia  
def provincia_minimo(x, y):
# x = Provincia
# y = tipo de combustible     
    provincia = df_n[df_n["Provincia"] == x]
    minimo_prov = provincia.loc[provincia[[y]].idxmin()]
    return minimo_prov

In [136]:
provincia_minimo('MADRID', 'Gasoleo A')

,Fecha,Horario,C.P.,Provincia,Municipio,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Media_Gasoleo A,Media_Gasoleo B,Media_Gasoleo Prem,Media_Gasolina 95,Media_Gasolina 98
6639,09/11/2022 13:33:53,L-D: 24H,28944,MADRID,Fuenlabrada,FUENLABRADA,"CALLE ANETO, 1",BALLENOIL,1.765,NaN,NaN,1.565,NaN,1.942097,1.556631,2.037407,1.779239,1.93206

In [137]:
# Precio mínimo de combstible en un Municipio  
def municipio_minimo(x, y):
# x = Municipio
# y = Tipo de Combustible    
    municipio = df_n[df_n["Municipio"] == x]
    municipio_min = municipio.loc[municipio[[y]].idxmin()]
    return municipio

In [138]:
municipio_minimo('Cercedilla', 'Gasoleo A')

,Fecha,Horario,C.P.,Provincia,Municipio,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Media_Gasoleo A,Media_Gasoleo B,Media_Gasoleo Prem,Media_Gasolina 95,Media_Gasolina 98
6572,09/11/2022 13:33:53,L-S: 7:30-20:30; D: 8:30-20:00,28470,MADRID,Cercedilla,CERCEDILLA,CARRETERA M 622 (CARRETERA GUADARRAMA A LA FUE...,REPSOL,1.989,NaN,NaN,1.805,NaN,1.942097,1.556631,2.037407,1.779239,1.93206

In [139]:
# # Precio mínimo de combstible en un proveedor de estación de servicio  
def gasolinera_minimo(x, y):
# x = Proveedor de estación de servicio
# Y = Tipo de Combustible    
    proveedor = df_n[df_n["Proveedor de Servicio"] == x]
    minimo_prov = proveedor.loc[proveedor[[y]].idxmin()]
    return minimo_prov

In [140]:
gasolinera_minimo('REPSOL', 'Gasoleo A')

,Fecha,Horario,C.P.,Provincia,Municipio,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Media_Gasoleo A,Media_Gasoleo B,Media_Gasoleo Prem,Media_Gasolina 95,Media_Gasolina 98
9317,09/11/2022 13:33:53,L-S: 06:00-23:00; D: 07:00-23:00,38390,SANTA CRUZ DE TENERIFE,Santa Úrsula,SANTA URSULA,CARRETERA VIEJA KM. 213,REPSOL,1.459,NaN,NaN,1.399,1.489,1.942097,1.556631,2.037407,1.779239,1.93206

In [141]:
# Función para convertir códigos postales
def convert(x):
# x: Municipio    
    municipio = df_n[df_n["Municipio"] == x]
    cp = municipio[["C.P.", "Municipio", "Proveedor de Servicio"]]
    return cp

In [142]:
convert('Móstoles')

       C.P. Municipio Proveedor de Servicio
7013  28931  Móstoles                REPSOL
7014  28934  Móstoles           LOS ROSALES
7015  28935  Móstoles                REPSOL
7016  28935  Móstoles                REPSOL
7017  28935  Móstoles                 CEPSA
7018  28935  Móstoles                 CEPSA
7019  28935  Móstoles             CARREFOUR
7020  28933  Móstoles             BALLENOIL
7021  28935  Móstoles                OLANCA
7022  28937  Móstoles                  GALP
7023  28937  Móstoles                REPSOL
7024  28936  Móstoles              LAVAPLUS
7025  28936  Móstoles          E.S. TERUGAS
7026  28936  Móstoles       PETROL MÓSTOLES
7027  28938  Móstoles             BALLENOIL
7028  28938  Móstoles                 CEPSA
7029  28938  Móstoles                    BP
7030  28938  Móstoles                  GALP

In [143]:
# Listado de Estaciones de Servicio por Municipio por Municipio
# x: Municipio
def gasolineras_municipio(x):
    municipio = df_n[df_n["Municipio"] == x]
    eess_mun = pd.DataFrame(municipio[["Proveedor de Servicio"]])
    return eess_mun

In [144]:
gasolineras_municipio('Navalcarnero')

     Proveedor de Servicio
7033                 CEPSA
7034                 CEPSA
7035                 CEPSA
7036                REPSOL
7037                REPSOL
7038             BALLENOIL
7039             MAXPETROL
7040              CHEAPOIL

In [145]:
# Listado de Gasolineras por Provincia
#x=Provincia
def gasolineras_provincia(x):
    cp_x = df_n[df_n["Provincia"] == x]
    return cp_x

In [146]:
gasolineras_provincia('HUELVA')

,Fecha,Horario,C.P.,Provincia,Municipio,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Media_Gasoleo A,Media_Gasoleo B,Media_Gasoleo Prem,Media_Gasolina 95,Media_Gasolina 98
5380,09/11/2022 13:33:53,L-D: 24H,21110,HUELVA,Aljaraque,ALJARAQUE,AUTOVIA A-497 KM. 7,MEROIL,1.997,NaN,2.107,1.887,1.997,1.942097,1.556631,2.037407,1.779239,1.93206
5381,09/11/2022 13:33:53,L-D: 24H,21110,HUELVA,Aljaraque,ALJARAQUE,"CARRETERA A-492 KM. 0,100",TAMOIL,1.899,NaN,NaN,1.769,1.899,1.942097,1.556631,2.037407,1.779239,1.93206
5382,09/11/2022 13:33:53,L-D: 07:00-23:00,21110,HUELVA,Aljaraque,ALJARAQUE,"CALLE CERAMICA, 1",HIGUEROIL,1.987,NaN,NaN,1.807,NaN,1.942097,1.556631,2.037407,1.779239,1.93206
5383,09/11/2022 13:33:53,L-D: 06:00-23:59,21730,HUELVA,Almonte,ALMONTE,"AVENIDA RAFAEL ALBERTI, 7",REPSOL,1.939,1.535,1.995,1.889,1.975,1.942097,1.556631,2.037407,1.779239,1.93206
5384,09/11/2022 13:33:53,L-D: 24H,21730,HUELVA,Almonte,ALMONTE,"POLIGONO INDUSTRIAL EL TOMILLAR,PARCELA, 77",CEPSA,1.975,1.539,2.049,1.869,NaN,1.942097,1.556631,2.037407,1.779239,1.93206
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5526,09/11/2022 13:33:53,L-D: 07:30-20:00,21860,HUELVA,Villalba del Alcor,VILLALBA DEL ALCOR,"C/ POZO NUEVO, 45",CIUDAD DEL CARMEN S.C.A.,1.947,1.470,NaN,NaN,NaN,1.942097,1.556631,2.037407,1.779239,1.93206
5527,09/11/2022 13:33:53,L-D: 05:00-00:00,21860,HUELVA,Villalba del Alcor,VILLALBA DEL ALCOR,CARRETERA A-472 KM. 28,REPSOL,2.039,1.760,NaN,1.817,NaN,1.942097,1.556631,2.037407,1.779239,1.93206
5528,09/11/2022 13:33:53,L-D: 07:00-22:00,21540,HUELVA,Villanueva de los Castillejos,VILLANUEVA CASTILLEJOS,CARRETERA HUELVA KM. 31,E.S. LA CRUZ DEL GALLO,2.079,NaN,2.129,1.909,NaN,1.942097,1.556631,2.037407,1.779239,1.93206
5529,09/11/2022 13:33:53,L-V: 06:00-21:00; S-D: 07:00-22:00,21850,HUELVA,Villarrasa,VILLARRASA,AUTOVIA A-49 KM KM. 53,REPSOL,2.039,NaN,2.129,1.849,1.989,1.942097,1.556631,2.037407,1.779239,1.93206
5530,09/11/2022 13:33:53,L-D: 06:00-22:00,21640,HUELVA,Zalamea la Real,ZALAMEA LA REAL,"CARRETERA NACIONAL 435 KM. 181,8",DEOIL,1.889,NaN,1.909,1.729,NaN,1.942097,1.556631,2.037407,1.779239,1.93206

In [147]:
# Listado de Gasolineras por Código Postal:
# x: código postal
def gasolineras_cp(x):
    cp = df_n[df_n["C.P."] == x]
    return cp

In [148]:
gasolineras_cp('28500')

,Fecha,Horario,C.P.,Provincia,Municipio,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Media_Gasoleo A,Media_Gasoleo B,Media_Gasoleo Prem,Media_Gasolina 95,Media_Gasolina 98
6540,09/11/2022 13:33:53,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA MADRID (DE), 66",PLENOIL,1.899,NaN,NaN,1.649,NaN,1.942097,1.556631,2.037407,1.779239,1.93206
6541,09/11/2022 13:33:53,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA MADRID (DE), SN",PETROPRIX,1.899,NaN,NaN,1.649,NaN,1.942097,1.556631,2.037407,1.779239,1.93206
6542,09/11/2022 13:33:53,L-D: 07:00-22:00,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA FINANZAUTO (DE), 2",DELFIOIL,1.899,NaN,NaN,1.669,NaN,1.942097,1.556631,2.037407,1.779239,1.93206
6543,09/11/2022 13:33:53,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,CAMINO CAMINO DE SAN MARTÍN DE LA VEGA A ARGAN...,BALLENOIL,1.899,NaN,NaN,1.679,NaN,1.942097,1.556631,2.037407,1.779239,1.93206
6544,09/11/2022 13:33:53,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,CARRETERA M-832 KM. 3,REPSOL,2.052,NaN,2.122,1.802,NaN,1.942097,1.556631,2.037407,1.779239,1.93206
6545,09/11/2022 13:33:53,L-V: 06:00-22:00; S-D: 08:00-22:00,28500,MADRID,Arganda del Rey,ARGANDA,"AVDA DE MADRID, 103",REPSOL,2.029,1.669,2.039,1.819,NaN,1.942097,1.556631,2.037407,1.779239,1.93206
6546,09/11/2022 13:33:53,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA EJERCITO (DEL), 44",BP ARGANDA,2.019,NaN,2.109,1.819,1.961,1.942097,1.556631,2.037407,1.779239,1.93206
6547,09/11/2022 13:33:53,L-D: 06:00-22:00,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA DE MADRID, 37",BP LA ARGANDEÑA,2.019,NaN,2.109,1.819,1.961,1.942097,1.556631,2.037407,1.779239,1.93206
6548,09/11/2022 13:33:53,L: 24H,28500,MADRID,Arganda del Rey,ARGANDA,CARRETERA M-832 KM. 3,REPSOL,2.052,NaN,NaN,1.802,NaN,1.942097,1.556631,2.037407,1.779239,1.93206
6549,09/11/2022 13:33:53,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,"CAMINO SAN MARTIN DE LA VEGA, 8",BALLENOIL,1.899,NaN,NaN,1.679,NaN,1.942097,1.556631,2.037407,1.779239,1.93206
6550,09/11/2022 13:33:53,L-D: 06:00-00:00,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA DE MADRID, 126",ATENOIL,1.939,NaN,1.949,1.739,NaN,1.942097,1.556631,2.037407,1.779239,1.93206
6551,09/11/2022 13:33:53,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA VALDEARGANDA, 8",CEPSA,2.015,NaN,2.115,1.819,1.951,1.942097,1.556631,2.037407,1.779239,1.93206

In [149]:
df_n.dropna()

,Fecha,Horario,C.P.,Provincia,Municipio,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Media_Gasoleo A,Media_Gasoleo B,Media_Gasoleo Prem,Media_Gasolina 95,Media_Gasolina 98
25,09/11/2022 13:33:53,L-D: 08:00-16:00,02328,ALBACETE,Albacete,SANTA ANA,"AVENIDA PRINCIPE, 2",REPSOL,1.979,1.613,2.029,1.785,1.895,1.942097,1.556631,2.037407,1.779239,1.93206
40,09/11/2022 13:33:53,L-D: 06:00-23:30,02007,ALBACETE,Albacete,ALBACETE,"CARRETERA C-M 332 KM. 2,6","INLOCOR S.L. ""CEPSA""",1.999,1.639,2.099,1.799,1.989,1.942097,1.556631,2.037407,1.779239,1.93206
67,09/11/2022 13:33:53,S-D: 07:00-15:00,02610,ALBACETE,Bonillo (El),BONILLO (EL),"CALLE CARRETERA MUNERA, 2",REPSOL,1.979,1.627,2.029,1.785,1.895,1.942097,1.556631,2.037407,1.779239,1.93206
70,09/11/2022 13:33:53,L-D: 07:00-21:00,02200,ALBACETE,Casas-Ibáñez,CASAS-IBAÑEZ,CARRETERA ALBACETE KM. 94,CEPSA,1.969,1.609,2.029,1.809,1.969,1.942097,1.556631,2.037407,1.779239,1.93206
75,09/11/2022 13:33:53,L-D: 06:00-23:00,02660,ALBACETE,Caudete,CAUDETE,"CR N-330, 71,4",REPSOL,1.999,1.570,2.049,1.815,1.925,1.942097,1.556631,2.037407,1.779239,1.93206
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11722,09/11/2022 13:33:53,L-D: 24H,50013,ZARAGOZA,Zaragoza,CARTUJA BAJA,"CARRETERA CASTELLON KM. 3,7",BP AVELLANAS,1.969,1.609,2.079,1.829,1.979,1.942097,1.556631,2.037407,1.779239,1.93206
11749,09/11/2022 13:33:53,L-D: 24H,50020,ZARAGOZA,Zaragoza,ZARAGOZA,"AVENIDA DIAGONAL, 9 - POLIGONO PLAZA, 9",REPSOL,2.009,1.635,2.069,1.819,1.969,1.942097,1.556631,2.037407,1.779239,1.93206
11753,09/11/2022 13:33:53,L-D: 06:00-22:00,50190,ZARAGOZA,Zaragoza,GARRAPINILLOS,"CARRETERA N-125 KM. 5,6",CEPSA,1.979,1.599,2.049,1.799,1.939,1.942097,1.556631,2.037407,1.779239,1.93206
11756,09/11/2022 13:33:53,L-V: 05:00-22:00; S-D: 08:00-22:00,50692,ZARAGOZA,Zaragoza,VILLARRAPA,"AUTOVIA A-68 KM. 258,25",REPSOL,1.979,1.573,2.069,1.815,1.965,1.942097,1.556631,2.037407,1.779239,1.93206
11760,09/11/2022 13:33:53,L-D: 06:00-22:00,50800,ZARAGOZA,Zuera,ZUERA,"CARRETERA N-330A KM. 24,000",REPSOL,1.969,1.559,2.019,1.795,1.925,1.942097,1.556631,2.037407,1.779239,1.93206

# Pruebas de Código - PyChart

In [150]:
media_municipio_1 = df_n[df_n["Municipio"]==df_n['Municipio']]
media_municipio_2 = media_municipio_1['Gasoleo A'].mean()
media_municipio_2
type(media_municipio_2)

float

In [151]:
df_n.loc[:,'Gasoleo A':'dev_Gasolina 98']

KeyError: 'dev_Gasolina 98'

In [ ]:
df_n[['Gasoleo A']]

In [ ]:
x = df_n.loc[0:0, 'Gasoleo A']

x

In [ ]:
df_n[df_n['Gasoleo A']] == df_n[df_n['Media_Gasoleo A']]