## MVP

In [1]:
# Imports

# Pandas
import pandas as pd 

# Importo libreria para conexión a API
from urllib.request import urlopen

# Importo libreria Json para que lea
import json

# Instalación de GitHub
from git import Repo

import numpy as np

---
Step 1 (Data Extraction)

In [2]:
# Definir las variables donde meto el string que contiene la URL

endpoint ='https://sedeaplicaciones.minetur.gob.es'
parametros = '/ServiciosRESTCarburantes/PreciosCarburantes/EstacionesTerrestres/'

In [3]:
# Vamos a guardar en una variable nuestros datos (resultado, comida) 

response = urlopen(endpoint+parametros)
type(response)

http.client.HTTPResponse

In [4]:
# Vamos a extraer del obejto, los datos

data = response.read().decode('utf-8', 'replace')
data = json.loads(data)
type(data)

dict

In [5]:
# Crear Dataframe

df = pd.DataFrame(data)
df

,Fecha,ListaEESSPrecio,Nota,ResultadoConsulta
0,04/07/2023 11:47:58,"{'C.P.': '02250', 'Dirección': 'AVENIDA CASTIL...",Archivo de todos los productos en todas las es...,OK
1,04/07/2023 11:47:58,"{'C.P.': '02152', 'Dirección': 'CR CM-332, 46,...",Archivo de todos los productos en todas las es...,OK
2,04/07/2023 11:47:58,"{'C.P.': '02001', 'Dirección': 'CALLE FEDERICO...",Archivo de todos los productos en todas las es...,OK
3,04/07/2023 11:47:58,"{'C.P.': '02001', 'Dirección': 'AVENIDA 1º DE ...",Archivo de todos los productos en todas las es...,OK
4,04/07/2023 11:47:58,"{'C.P.': '02001', 'Dirección': 'CALLE PRINCIPE...",Archivo de todos los productos en todas las es...,OK
...,...,...,...,...
11844,04/07/2023 11:47:58,"{'C.P.': '50197', 'Dirección': 'RONDA RONDA DE...",Archivo de todos los productos en todas las es...,OK
11845,04/07/2023 11:47:58,"{'C.P.': '50197', 'Dirección': 'RONDA FERIA DE...",Archivo de todos los productos en todas las es...,OK
11846,04/07/2023 11:47:58,"{'C.P.': '50800', 'Dirección': 'CARRETERA N-33...",Archivo de todos los productos en todas las es...,OK
11847,04/07/2023 11:47:58,"{'C.P.': '50800', 'Dirección': 'CALLE AUSTRIA,...",Archivo de todos los productos en todas las es...,OK
11848,04/07/2023 11:47:58,"{'C.P.': '50810', 'Dirección': 'CALLE COOPERAT...",Archivo de todos los productos en todas las es...,OK

---

Step 2 (Data Transformation)

In [6]:
# Análisis de la columna Lista EESS Precio

diccionario = df['ListaEESSPrecio'].iloc[1]
type(diccionario)

dict

In [7]:
diccionario

{'C.P.': '02152',
 'Dirección': 'CR CM-332, 46,4',
 'Horario': 'L-D: 7:00-23:00',
 'Latitud': '39,100389',
 'Localidad': 'ALATOZ',
 'Longitud (WGS84)': '-1,346083',
 'Margen': 'I',
 'Municipio': 'Alatoz',
 'Precio Biodiesel': '',
 'Precio Bioetanol': '',
 'Precio Gas Natural Comprimido': '',
 'Precio Gas Natural Licuado': '',
 'Precio Gases licuados del petróleo': '',
 'Precio Gasoleo A': '1,530',
 'Precio Gasoleo B': '',
 'Precio Gasoleo Premium': '2,300',
 'Precio Gasolina 95 E10': '',
 'Precio Gasolina 95 E5': '1,679',
 'Precio Gasolina 95 E5 Premium': '',
 'Precio Gasolina 98 E10': '',
 'Precio Gasolina 98 E5': '2,200',
 'Precio Hidrogeno': '',
 'Provincia': 'ALBACETE',
 'Remisión': 'dm',
 'Rótulo': 'REPSOL',
 'Tipo Venta': 'P',
 '% BioEtanol': '0,0',
 '% Éster metílico': '0,0',
 'IDEESS': '5122',
 'IDMunicipio': '53',
 'IDProvincia': '02',
 'IDCCAA': '07'}

In [8]:
# Extraigo informacion de columna EESS Precio, utilizando json normalize

df_n = pd.concat([df[['Fecha']],pd.json_normalize(df['ListaEESSPrecio'])], axis=1)
df_n

,Fecha,C.P.,Dirección,Horario,Latitud,Localidad,Longitud (WGS84),Margen,Municipio,Precio Biodiesel,...,Provincia,Remisión,Rótulo,Tipo Venta,% BioEtanol,% Éster metílico,IDEESS,IDMunicipio,IDProvincia,IDCCAA
0,04/07/2023 11:47:58,02250,"AVENIDA CASTILLA LA MANCHA, 26",L-D: 07:00-22:00,"39,211417",ABENGIBRE,"-1,539167",D,Abengibre,,...,ALBACETE,dm,Nº 10.935,P,"0,0","0,0",4375,52,02,07
1,04/07/2023 11:47:58,02152,"CR CM-332, 46,4",L-D: 7:00-23:00,"39,100389",ALATOZ,"-1,346083",I,Alatoz,,...,ALBACETE,dm,REPSOL,P,"0,0","0,0",5122,53,02,07
2,04/07/2023 11:47:58,02001,"CALLE FEDERICO GARCIA LORCA, 1",L-D: 24H,"39,000861",ALBACETE,"-1,849833",D,Albacete,,...,ALBACETE,dm,PLENOIL,P,"0,0","0,0",13933,54,02,07
3,04/07/2023 11:47:58,02001,"AVENIDA 1º DE MAYO, S/N",L-S: 08:00-22:00; D: 09:00-21:00,"38,985667",ALBACETE,"-1,868500",N,Albacete,,...,ALBACETE,dm,CARREFOUR,P,"0,0","0,0",10765,54,02,07
4,04/07/2023 11:47:58,02001,CALLE PRINCIPE DE ASTURIAS (POLÍGONO DE ROMICA...,L-D: 06:00-21:30,"39,054694",ALBACETE,"-1,832000",I,Albacete,,...,ALBACETE,OM,BP ROMICA,P,"0,0","0,0",12054,54,02,07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11844,04/07/2023 11:47:58,50197,"RONDA RONDA DE LA FERIA DE MUESTRAS, 10",L-D: 24H,"41,638361",ZARAGOZA,"-0,987833",D,Zaragoza,,...,ZARAGOZA,dm,MOLGAS,P,"0,0","0,0",15747,8108,50,02
11845,04/07/2023 11:47:58,50197,"RONDA FERIA DE MUESTRAS, DE LA, 20",L-D: 24H,"41,637944",ZARAGOZA,"-0,986389",D,Zaragoza,,...,ZARAGOZA,OM,IDS,P,"0,0","0,0",12472,8108,50,02
11846,04/07/2023 11:47:58,50800,"CARRETERA N-330A KM. 24,000",L-D: 06:00-22:00,"41,857000",ZUERA,"-0,794000",D,Zuera,,...,ZARAGOZA,OM,REPSOL,P,"0,0","0,0",1452,8109,50,02
11847,04/07/2023 11:47:58,50800,"CALLE AUSTRIA, 11,17",L-D: 24H,"41,883583",ZUERA,"-0,782833",D,Zuera,,...,ZARAGOZA,dm,AN ENERGETICOS ZUERA,P,"0,0","0,0",9085,8109,50,02
11848,04/07/2023 11:47:58,50810,"CALLE COOPERATIVA, 2",L-D: 24H,"41,938750",ONTINAR DE SALZ,"-0,757611",D,Zuera,,...,ZARAGOZA,dm,COOPERATIVA SAN ISIDRO,P,"0,0","0,0",9068,8109,50,02

In [9]:
# Guardamos df original para sucesion de tiempo
#df_n.to_csv('2022-11-05x.csv', index=False)

In [10]:
df_n.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11849 entries, 0 to 11848
Data columns (total 33 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Fecha                               11849 non-null  object
 1   C.P.                                11849 non-null  object
 2   Dirección                           11849 non-null  object
 3   Horario                             11849 non-null  object
 4   Latitud                             11849 non-null  object
 5   Localidad                           11849 non-null  object
 6   Longitud (WGS84)                    11849 non-null  object
 7   Margen                              11849 non-null  object
 8   Municipio                           11849 non-null  object
 9   Precio Biodiesel                    11849 non-null  object
 10  Precio Bioetanol                    11849 non-null  object
 11  Precio Gas Natural Comprimido       11849 non-null  object
 12  Precio Gas Natural Licuado          11849 non-null  object
 13  Precio Gases licuados del petróleo  11849 non-null  object
 14  Precio Gasoleo A                    11849 non-null  object
 15  Precio Gasoleo B                    11849 non-null  object
 16  Precio Gasoleo Premium              11849 non-null  object
 17  Precio Gasolina 95 E10              11849 non-null  object
 18  Precio Gasolina 95 E5               11849 non-null  object
 19  Precio Gasolina 95 E5 Premium       11849 non-null  object
 20  Precio Gasolina 98 E10              11849 non-null  object
 21  Precio Gasolina 98 E5               11849 non-null  object
 22  Precio Hidrogeno                    11849 non-null  object
 23  Provincia                           11849 non-null  object
 24  Remisión                            11849 non-null  object
 25  Rótulo                              11849 non-null  object
 26  Tipo Venta                          11849 non-null  object
 27  % BioEtanol                         11849 non-null  object
 28  % Éster metílico                    11849 non-null  object
 29  IDEESS                              11849 non-null  object
 30  IDMunicipio                         11849 non-null  object
 31  IDProvincia                         11849 non-null  object
 32  IDCCAA                              11849 non-null  object
dtypes: object(33)
memory usage: 3.0+ MB

---
Step (3): EDA

                                                    Análisis de Columnas

# Fecha

In [11]:
# Fecha (solo hay una fecha)
Fecha = df_n['Fecha'].unique()
print(type(Fecha))
print(len(Fecha))
Fecha

<class 'numpy.ndarray'>
1

array(['04/07/2023 11:47:58'], dtype=object)

In [12]:
# Nulos 
nulos_f = df_n['Fecha'].isnull().sum()
nulos_f

0

# Código Postal

In [13]:
# Columna C.P.
cp = df_n['C.P.'].unique()
print(type(cp))
print(len(cp))
cp
# En Esaña hay 11752 codigos postales en total

<class 'numpy.ndarray'>
4539

array(['02250', '02152', '02001', ..., '50197', '50800', '50810'],
      dtype=object)

In [14]:
# Nulos 
nulos_cp = df_n['C.P.'].isnull().sum()
nulos_cp

0

# Dirección

In [15]:
# Columna  Dirección
direccion = df_n['Dirección'].unique()
print(type(direccion))
print(len(direccion))
direccion

<class 'numpy.ndarray'>
11529

array(['AVENIDA CASTILLA LA MANCHA, 26', 'CR CM-332, 46,4',
       'CALLE FEDERICO GARCIA LORCA, 1', ...,
       'RONDA FERIA DE MUESTRAS, DE LA, 20',
       'CARRETERA N-330A KM. 24,000', 'CALLE AUSTRIA, 11,17'],
      dtype=object)

In [16]:
# Nulos dirección
nulos_cp = df_n['Dirección'].isnull().sum()
nulos_cp

0

# Horario

In [17]:
# Horario
horario = df_n['Horario'].unique()
horario

array(['L-D: 07:00-22:00', 'L-D: 7:00-23:00', 'L-D: 24H', ...,
       'L-V: 06:00-21:00; S-D: 08:00-15:00',
       'L-V: 08:00-22:30; S: 10:00-22:30',
       'L-V: 05:00-22:00; S-D: 08:00-22:00'], dtype=object)

In [18]:
# Nulos horario
nulos_h = df_n['Horario'].isnull().sum()
nulos_h

0

# Latitud

In [19]:
#Latitud (Coincide Latitud y Longitud con las coordenadas en las gasolineras de Google Maps)
latitud = df_n['Latitud'].unique()
print(len(latitud ))
latitud

11484

array(['39,211417', '39,100389', '39,000861', ..., '41,857000',
       '41,883583', '41,938750'], dtype=object)

In [20]:
# Nulos Latitud
nulos_l = df_n['Latitud'].isnull().sum()
nulos_l

0

# Longitud

In [21]:
# Longitud (Coincide Latitud y Longitud con las coordenadas en las gasolineras de Google Maps)
Longitud = df_n['Longitud (WGS84)'].unique()
print(len(Longitud))
Longitud

11600

array(['-1,539167', '-1,346083', '-1,849833', ..., '-0,794000',
       '-0,782833', '-0,757611'], dtype=object)

In [22]:
# Nulos Longitud
nulos_long = df_n['Longitud (WGS84)'].isnull().sum()
nulos_long

0

# Localidad

In [23]:
#Localidad
Localidad = df_n['Localidad'].unique()
print(len(Localidad))
Localidad

4240

array(['ABENGIBRE', 'ALATOZ', 'ALBACETE', ..., 'VILLARRAPA', 'ZUERA',
       'ONTINAR DE SALZ'], dtype=object)

In [24]:
# Nulos Localidad
nulos_loc = df_n['Localidad'].isnull().sum()
nulos_loc

0

# Municipio

In [25]:
# Municipio (En España hay 8131 Municipios)
Municipio = df_n['Municipio'].unique() 
print(len(Municipio))
Municipio

3426

array(['Abengibre', 'Alatoz', 'Albacete', ..., 'Villarroya de la Sierra',
       'Zaragoza', 'Zuera'], dtype=object)

In [26]:
# Nulos Municipio
nulos_loc = df_n['Municipio'].isnull().sum()
nulos_loc

0

# Margen

In [27]:
# Margen
Margen = df_n['Margen'].unique()
print(len(Margen))
Margen

3

array(['D', 'I', 'N'], dtype=object)

# Provincia

In [28]:
# Provincia (Están todas las Provinicas de España en nuestro df)
Provincia = df_n['Provincia'].unique()
print(len(Provincia))
Provincia

52

array(['ALBACETE', 'ALICANTE', 'ALMERÍA', 'ARABA/ÁLAVA', 'ASTURIAS',
       'ÁVILA', 'BADAJOZ', 'BALEARS (ILLES)', 'BARCELONA', 'BIZKAIA',
       'BURGOS', 'CÁCERES', 'CÁDIZ', 'CANTABRIA', 'CASTELLÓN / CASTELLÓ',
       'CEUTA', 'CIUDAD REAL', 'CÓRDOBA', 'CORUÑA (A)', 'CUENCA',
       'GIPUZKOA', 'GIRONA', 'GRANADA', 'GUADALAJARA', 'HUELVA', 'HUESCA',
       'JAÉN', 'LEÓN', 'LLEIDA', 'LUGO', 'MADRID', 'MÁLAGA', 'MELILLA',
       'MURCIA', 'NAVARRA', 'OURENSE', 'PALENCIA', 'PALMAS (LAS)',
       'PONTEVEDRA', 'RIOJA (LA)', 'SALAMANCA', 'SANTA CRUZ DE TENERIFE',
       'SEGOVIA', 'SEVILLA', 'SORIA', 'TARRAGONA', 'TERUEL', 'TOLEDO',
       'VALENCIA / VALÈNCIA', 'VALLADOLID', 'ZAMORA', 'ZARAGOZA'],
      dtype=object)

In [29]:
# Nulos Provincia
nulos_prov = df_n['Provincia'].isnull().sum()
nulos_prov

0

# Remision

In [30]:
# Remisión (Sistema de envío de información de precios y de ventas a través de API)
Remision = df_n['Remisión'].unique()
print(len(Remision))
print(type(Remision))
Remision

2
<class 'numpy.ndarray'>

array(['dm', 'OM'], dtype=object)

# Rótulo

In [31]:
# Rótulo (En España hay 3952 marcas de Gasolineras en España según datos de Google)
Rotulo = df_n['Rótulo'].unique()
print(len(Rotulo))
print(type(Rotulo))
Rotulo

4044
<class 'numpy.ndarray'>

array(['Nº 10.935', 'REPSOL', 'PLENOIL', ..., 'DAGO',
       'COOPERATIVA SAN LAMBERTO', 'AN ENERGETICOS ZUERA'], dtype=object)

# Tipo de Venta

In [32]:
# Tipo Venta
tv = df_n['Tipo Venta'].unique()
print(len(tv))
print(type(tv))
tv

2
<class 'numpy.ndarray'>

array(['P', 'R'], dtype=object)

# Porcentaje de Bioetanol

In [33]:
# % BioEtanol (La diferencia entre gasolinas E5 o E10 significan el porcentaje de Etanol (5 o 10%))
bioetanol = df_n['% BioEtanol'].unique()
print(len(bioetanol))
print(type(bioetanol))
bioetanol

3
<class 'numpy.ndarray'>

array(['0,0', '25,0', '85,0'], dtype=object)

# Porcentaje de Éster Metílico

In [34]:
# % Éster metílico (solo para Biodiesel)
em = df_n['% Éster metílico'].unique()
print(len(em))
print(type(em))
em

6
<class 'numpy.ndarray'>

array(['0,0', '7,0', '12,0', '20,0', '30,0', '10,0'], dtype=object)

#  IDEESS

In [35]:
# IDEESS (ID Estación de Servicio, los mismos que estaciones (filas))
IDEESS = df_n['IDEESS'].unique()
print(len(IDEESS))
type(IDEESS)
IDEESS

11849

array(['4375', '5122', '13933', ..., '1452', '9085', '9068'], dtype=object)

In [36]:
# Nulos IDEESS
nulos_IDEESS = df_n['IDEESS'].isnull().sum()
nulos_IDEESS

0

# ID Municipio

In [37]:
# IDMunicipio (un ID más que municipios)
idmun = df_n['IDMunicipio'].unique()
print(len(idmun))
type(idmun)
idmun

3427

array(['52', '53', '54', ..., '8103', '8108', '8109'], dtype=object)

In [38]:
# Nulos ID Municipio
nulos_IDMunicipio = df_n['IDMunicipio'].isnull().sum()
nulos_IDMunicipio

0

# ID Provincia

In [39]:
# IDProvincia (Los mismos ID que Provincias)
idprov = df_n['IDProvincia'].unique()
print(len(idprov))
type(idprov)
idprov

52

array(['02', '03', '04', '01', '33', '05', '06', '07', '08', '48', '09',
       '10', '11', '39', '12', '51', '13', '14', '15', '16', '20', '17',
       '18', '19', '21', '22', '23', '24', '25', '27', '28', '29', '52',
       '30', '31', '32', '34', '35', '36', '26', '37', '38', '40', '41',
       '42', '43', '44', '45', '46', '47', '49', '50'], dtype=object)

In [40]:
nulos_IDProvincia = df_n['IDProvincia'].isnull().sum()
nulos_IDProvincia

0

# ID CCAA

In [41]:
# IDCCAA (ID Comunidades Autónomas, 17 CCAA + Ceuta + Melilla)
# IDProvincia (Los mismos ID que Provincias)
idccaa = df_n['IDCCAA'].unique()
print(len(idccaa))
type(idccaa)
idccaa

19

array(['07', '10', '01', '16', '03', '08', '11', '04', '09', '06', '18',
       '12', '02', '13', '19', '14', '15', '05', '17'], dtype=object)

                                                Columnas Numéricas

# Biodiesel

In [42]:
Biodiesel = df_n['Precio Biodiesel'].unique()
print(len(Biodiesel))
print(type(Biodiesel))
Biodiesel

25
<class 'numpy.ndarray'>

array(['', '1,359', '1,999', '1,639', '1,489', '1,319', '1,299', '1,389',
       '1,419', '1,339', '1,449', '1,418', '1,504', '1,609', '1,509',
       '1,869', '1,539', '1,349', '1,799', '1,689', '1,470', '1,379',
       '1,399', '1,289', '1,433'], dtype=object)

In [43]:
# Convertimos columna categórica a numérica
df_n['Precio Biodiesel']=df_n['Precio Biodiesel'].str.replace(',','.')
df_n[['Precio Biodiesel']]=df_n[['Precio Biodiesel']].apply(pd.to_numeric)

In [44]:
df_n['Precio Biodiesel'].describe()

count    36.000000
mean      1.448972
std       0.167228
min       1.289000
25%       1.334000
50%       1.394000
75%       1.492750
max       1.999000
Name: Precio Biodiesel, dtype: float64

In [45]:
# Registros sin venta Biodiesel
sin_suministro_b = df_n['Precio Biodiesel'].isnull().sum()
sin_suministro_b

11813

## Precio Bioetanol

In [46]:
Bioetanol = df_n['Precio Bioetanol'].unique()
print(len(Bioetanol))
print(type(Bioetanol))
Bioetanol

6
<class 'numpy.ndarray'>

array(['', '1,979', '1,862', '1,487', '2,499', '1,689'], dtype=object)

In [47]:
# Convertimos columna categórica a numérica
df_n['Precio Bioetanol']=df_n['Precio Bioetanol'].str.replace(',','.')
df_n[['Precio Bioetanol']]=df_n[['Precio Bioetanol']].apply(pd.to_numeric)

In [48]:
df_n['Precio Bioetanol'].describe()

count    5.000000
mean     1.903200
std      0.381289
min      1.487000
25%      1.689000
50%      1.862000
75%      1.979000
max      2.499000
Name: Precio Bioetanol, dtype: float64

In [49]:
# Registros sin venta Biodiesel
sin_suministro_be = df_n['Precio Bioetanol'].isnull().sum()
sin_suministro_be

11844

## Precio Gas Natural Comprimido

In [50]:
Gas_n_c = df_n['Precio Gas Natural Comprimido'].unique()
print(len(Gas_n_c))
print(type(Gas_n_c))
Gas_n_c

32
<class 'numpy.ndarray'>

array(['', '1,119', '0,989', '1,039', '0,929', '1,120', '1,059', '0,939',
       '1,000', '1,299', '0,974', '1,199', '1,159', '1,069', '1,035',
       '1,565', '1,189', '0,979', '0,969', '1,079', '1,169', '1,099',
       '1,339', '1,089', '1,015', '1,009', '1,179', '0,999', '0,959',
       '2,350', '1,937', '1,049'], dtype=object)

In [51]:
# Convertimos columna categórica a numérica
df_n['Precio Gas Natural Comprimido']=df_n['Precio Gas Natural Comprimido'].str.replace(',','.')
df_n[['Precio Gas Natural Comprimido']]=df_n[['Precio Gas Natural Comprimido']].apply(pd.to_numeric)

In [52]:
df_n['Precio Gas Natural Comprimido'].describe()

count    141.000000
mean       1.099518
std        0.176280
min        0.929000
25%        0.989000
50%        1.069000
75%        1.120000
max        2.350000
Name: Precio Gas Natural Comprimido, dtype: float64

In [53]:
# Registros sin venta Biodiesel
sin_suministro_be = df_n['Precio Bioetanol'].isnull().sum()
sin_suministro_be

11844

# Precio Gas Natural Licuado

In [54]:
Gas_nat_lic = df_n['Precio Gas Natural Licuado'].unique()
print(len(Gas_nat_lic))
print(type(Gas_nat_lic))
Gas_nat_lic

15
<class 'numpy.ndarray'>

array(['', '0,929', '0,999', '1,296', '1,019', '0,939', '0,914', '0,979',
       '1,049', '0,919', '0,889', '1,299', '0,989', '1,079', '0,899'],
      dtype=object)

In [55]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gas Natural Licuado']=df_n['Precio Gas Natural Licuado'].str.replace(',','.')
df_n[['Precio Gas Natural Licuado']]=df_n[['Precio Gas Natural Licuado']].apply(pd.to_numeric)

In [56]:
df_n['Precio Gas Natural Licuado'].describe()

count    91.000000
mean      0.984220
std       0.120265
min       0.889000
25%       0.929000
50%       0.929000
75%       0.979000
max       1.299000
Name: Precio Gas Natural Licuado, dtype: float64

In [57]:
# Registros sin venta Gas NAtural Licuado
sin_suministro_gnl = df_n['Precio Gas Natural Licuado'].isnull().sum()
sin_suministro_gnl

11758

# Precio Gases licuados del petróleo

In [58]:
Gas_nat_lic_pet = df_n['Precio Gases licuados del petróleo'].unique()
print(len(Gas_nat_lic_pet))
print(type(Gas_nat_lic_pet))
Gas_nat_lic_pet

110
<class 'numpy.ndarray'>

array(['', '0,939', '0,798', '0,889', '0,909', '0,929', '0,908', '1,000',
       '1,059', '0,919', '0,949', '0,901', '0,979', '0,899', '0,959',
       '0,760', '0,905', '0,902', '0,799', '0,958', '1,019', '0,997',
       '0,920', '1,029', '0,849', '0,879', '0,819', '0,895', '1,100',
       '1,069', '0,900', '0,989', '0,859', '0,869', '0,915', '0,855',
       '0,839', '0,838', '0,969', '0,848', '0,999', '0,927', '1,009',
       '0,935', '0,990', '1,091', '1,049', '0,928', '0,985', '0,938',
       '0,755', '0,868', '0,878', '0,535', '0,948', '0,730', '0,894',
       '0,998', '0,739', '1,099', '0,885', '0,854', '0,890', '0,947',
       '1,150', '0,925', '1,129', '0,995', '0,865', '1,010', '0,960',
       '0,980', '1,169', '1,120', '0,679', '0,809', '0,933', '0,940',
       '0,709', '0,699', '0,827', '0,977', '1,017', '0,918', '0,898',
       '1,109', '0,955', '0,910', '0,769', '0,777', '0,759', '0,789',
       '0,784', '0,829', '0,971', '0,914', '0,877', '0,968', '0,720',
       '0,924', '0,904', '0,945', '0,820', '1,079', '0,780', '0,978',
       '0,957', '0,874', '1,039', '0,850'], dtype=object)

In [59]:
# Convertimos columna categórica a numérica
df_n['Precio Gases licuados del petróleo']=df_n['Precio Gases licuados del petróleo'].str.replace(',','.')
df_n[['Precio Gases licuados del petróleo']]=df_n[['Precio Gases licuados del petróleo']].apply(pd.to_numeric)

In [60]:
df_n['Precio Gases licuados del petróleo'].describe()

count    872.000000
mean       0.917811
std        0.063033
min        0.535000
25%        0.899000
50%        0.919000
75%        0.941250
max        1.169000
Name: Precio Gases licuados del petróleo, dtype: float64

In [61]:
# Registros sin venta Gas NAtural Licuado del Petróleo
sin_suministro_gnlp = df_n['Precio Gases licuados del petróleo'].isnull().sum()
sin_suministro_gnlp

10977

In [62]:
ceros_sin_suministro_gnlp = (df_n['Precio Gases licuados del petróleo'] == 0).sum()
ceros_sin_suministro_gnlp

0

# Gasoleo A

In [63]:
Gasoleo_A = df_n['Precio Gasoleo A'].unique()
print(len(Gasoleo_A))
print(type(Gasoleo_A))
Gasoleo_A

428
<class 'numpy.ndarray'>

array(['1,359', '1,530', '1,299', '1,459', '1,469', '1,490', '1,479',
       '1,318', '1,279', '1,485', '1,369', '1,349', '1,499', '1,449', '',
       '2,259', '1,320', '1,489', '1,432', '1,289', '1,329', '1,399',
       '1,409', '1,455', '1,509', '1,429', '1,465', '1,324', '1,308',
       '1,419', '1,480', '1,414', '1,519', '1,330', '1,439', '1,300',
       '1,345', '1,529', '1,598', '1,515', '1,346', '1,354', '1,467',
       '1,350', '1,325', '1,339', '1,270', '1,679', '1,305', '1,230',
       '1,309', '1,290', '1,416', '1,319', '1,315', '1,424', '1,524',
       '1,474', '1,316', '1,249', '1,237', '1,317', '1,484', '1,247',
       '1,505', '1,494', '1,431', '1,297', '1,389', '1,500', '1,539',
       '1,379', '1,548', '1,497', '1,415', '1,464', '1,294', '1,327',
       '1,288', '1,472', '1,295', '1,525', '1,388', '1,438', '1,433',
       '1,428', '1,475', '1,454', '1,420', '1,259', '1,446', '1,549',
       '1,498', '1,538', '1,478', '1,380', '1,495', '1,527', '1,378',
       '1,235', '1,225', '1,335', '1,394', '1,374', '1,569', '1,307',
       '1,287', '1,477', '1,268', '1,609', '1,265', '1,266', '1,255',
       '1,269', '1,278', '1,555', '1,370', '1,535', '1,448', '1,537',
       '1,321', '1,468', '1,400', '1,218', '1,284', '1,310', '1,353',
       '1,296', '1,311', '1,445', '1,221', '1,256', '1,355', '1,520',
       '1,356', '1,547', '1,306', '1,337', '1,999', '1,559', '1,565',
       '1,376', '1,366', '1,340', '1,390', '1,452', '1,430', '1,528',
       '1,545', '1,444', '1,460', '1,540', '1,348', '1,546', '1,336',
       '1,347', '1,397', '1,371', '1,285', '1,550', '1,568', '1,504',
       '1,510', '1,280', '1,273', '1,272', '1,599', '1,629', '1,332',
       '1,375', '1,360', '1,260', '1,358', '1,579', '1,385', '1,610',
       '1,384', '1,514', '1,382', '1,301', '1,491', '1,328', '1,342',
       '1,405', '1,473', '1,589', '1,508', '1,585', '1,649', '1,518',
       '1,450', '1,507', '1,364', '1,488', '1,407', '1,351', '1,298',
       '1,341', '1,386', '1,398', '1,283', '1,323', '1,282', '1,314',
       '1,291', '1,286', '1,313', '1,267', '1,277', '1,219', '1,209',
       '1,575', '1,434', '1,338', '1,239', '1,387', '1,334', '1,437',
       '1,605', '1,611', '1,240', '1,322', '1,406', '1,417', '1,357',
       '1,248', '1,344', '1,383', '1,254', '1,250', '1,373', '1,365',
       '1,517', '1,408', '1,471', '1,331', '1,487', '1,281', '1,361',
       '1,502', '1,470', '1,229', '1,440', '1,312', '1,481', '1,413',
       '1,293', '1,412', '1,182', '1,193', '1,402', '1,368', '1,652',
       '1,179', '1,198', '1,463', '1,458', '1,395', '1,367', '1,775',
       '1,302', '1,476', '1,435', '1,022', '1,343', '1,404', '1,257',
       '1,275', '1,511', '1,457', '1,496', '1,411', '1,544', '1,619',
       '1,352', '1,492', '1,819', '1,790', '1,276', '1,950', '1,418',
       '1,303', '1,532', '1,252', '1,501', '1,800', '1,304', '1,557',
       '1,534', '1,560', '1,695', '1,523', '1,292', '1,251', '1,425',
       '1,410', '1,570', '1,595', '1,261', '1,274', '1,600', '1,421',
       '1,253', '1,422', '1,423', '1,552', '1,486', '1,363', '1,639',
       '1,513', '1,624', '1,264', '1,426', '1,118', '1,119', '1,139',
       '1,147', '1,149', '1,195', '1,172', '1,512', '1,187', '1,180',
       '1,461', '1,396', '1,590', '1,174', '1,129', '1,238', '1,134',
       '1,099', '1,059', '1,089', '1,170', '1,049', '1,263', '1,228',
       '1,189', '1,069', '1,109', '1,058', '1,236', '1,199', '1,130',
       '1,244', '1,224', '1,242', '1,234', '0,999', '1,220', '1,233',
       '1,214', '1,211', '1,164', '1,140', '1,155', '1,184', '1,194',
       '1,200', '1,171', '1,083', '1,227', '1,245', '1,443', '1,391',
       '1,222', '1,456', '1,080', '1,188', '1,159', '1,169', '1,176',
       '1,165', '1,079', '1,204', '1,084', '1,095', '1,131', '1,125',
       '1,107', '1,074', '1,192', '1,148', '1,212', '1,186', '1,087',
       '1,029', '1,145', '1,177', '1,206', '1,144', '1,167', '1,168',
       '1,154', '1,173', '1,104', '1,217', '1,158', '1,175', '1,216',
       '1,132', '1,124', '1,226', '1,160', '1,531', '1,377', '1,258',
       '1,393', '1,526', '1,582', '1,271', '1,451', '1,541', '1,750',
       '1,326', '1,493', '1,659', '2,150', '1,191', '1,580', '1,554',
       '1,949', '1,372', '1,558', '1,506', '1,441', '1,447', '1,879'],
      dtype=object)

In [64]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasoleo A']=df_n['Precio Gasoleo A'].str.replace(',','.')
df_n[['Precio Gasoleo A']]=df_n[['Precio Gasoleo A']].apply(pd.to_numeric)

In [65]:
df_n['Precio Gasoleo A'].describe()

count    11495.000000
mean         1.429692
std          0.098528
min          0.999000
25%          1.350000
50%          1.459000
75%          1.505000
max          2.259000
Name: Precio Gasoleo A, dtype: float64

In [66]:
# Registros sin venta Gasoleo A
sin_suministro_gA = df_n['Precio Gasoleo A'].isnull().sum()
sin_suministro_gA

354

In [67]:
ceros_sin_suministro_gA = (df_n['Precio Gasoleo A'] == 0).sum()
ceros_sin_suministro_gA

0

# Gasoleo B

In [68]:
Gasoleo_B = df_n['Precio Gasoleo B'].unique()
print(len(Gasoleo_A))
print(type(Gasoleo_A))
Gasoleo_B

428
<class 'numpy.ndarray'>

array(['0,999', '', '1,196', '0,950', '1,639', '1,299', '1,129', '0,966',
       '1,270', '0,943', '1,206', '0,990', '1,070', '1,050', '1,104',
       '1,109', '1,159', '1,000', '1,217', '1,029', '0,920', '1,699',
       '1,227', '0,968', '1,247', '0,933', '1,148', '0,960', '1,139',
       '0,965', '0,949', '0,928', '1,242', '1,127', '1,309', '0,969',
       '1,479', '0,915', '1,399', '0,900', '1,100', '1,169', '0,889',
       '0,932', '0,951', '1,179', '0,923', '1,249', '1,280', '1,269',
       '1,199', '1,189', '1,150', '1,219', '1,439', '1,149', '1,289',
       '1,380', '1,245', '1,300', '1,279', '1,329', '1,180', '1,190',
       '1,229', '1,257', '1,053', '1,209', '1,284', '1,233', '1,440',
       '1,195', '1,259', '1,099', '1,095', '0,995', '0,930', '1,495',
       '1,171', '1,200', '1,128', '1,124', '0,924', '0,891', '0,869',
       '1,093', '1,290', '0,955', '1,184', '1,281', '1,239', '1,140',
       '1,181', '1,086', '1,183', '1,153', '0,989', '1,292', '1,032',
       '1,155', '1,205', '1,409', '1,369', '1,019', '0,935', '1,113',
       '1,304', '1,178', '1,214', '1,125', '1,043', '1,197', '1,253',
       '1,164', '1,339', '1,241', '1,248', '1,204', '1,066', '1,255',
       '1,240', '1,244', '1,160', '1,319', '1,349', '1,119', '1,055',
       '0,883', '1,030', '0,946', '1,049', '1,193', '1,192', '0,901',
       '0,952', '1,089', '1,201', '1,079', '1,172', '0,980', '1,059',
       '0,994', '1,400', '1,061', '0,975', '0,906', '0,919', '1,449',
       '0,929', '1,120', '1,035', '1,069', '0,959', '1,335', '0,972',
       '0,914', '0,910', '0,974', '0,937', '1,135', '1,221', '1,020',
       '1,146', '0,978', '1,165', '0,953', '1,188', '0,874', '0,964',
       '1,224', '1,105', '0,986', '1,599', '1,359', '1,218', '1,323',
       '1,110', '1,237', '1,252', '1,374', '0,967', '1,060', '1,010',
       '1,308', '1,250', '1,389', '1,123', '1,395', '1,078', '1,098',
       '0,998', '1,090', '0,987', '0,961', '1,185', '1,287', '0,970',
       '1,016', '1,589', '1,191', '1,131', '1,158', '1,145', '1,015',
       '0,957', '1,220', '0,938', '1,650', '1,170', '1,278', '0,979',
       '1,215', '1,222', '1,202', '1,182', '1,187', '1,141', '0,948',
       '1,082', '1,080', '1,173', '1,047', '1,147', '1,116', '1,132',
       '1,163', '1,294', '1,157', '0,945', '1,161', '1,166', '1,039',
       '0,940', '0,976', '0,985', '0,918', '1,228', '0,963', '1,028',
       '0,947', '1,258', '1,152', '1,009', '0,981', '0,939', '0,925',
       '1,426', '0,934', '0,954', '1,265', '1,198', '1,143', '0,926',
       '0,897', '0,909', '1,256', '0,962', '1,115', '1,117', '0,936',
       '1,144', '1,210', '1,212', '1,320', '1,175', '1,156', '1,084',
       '1,238', '1,310', '1,275', '1,042', '1,266', '1,005', '0,941',
       '1,230', '0,890', '0,922', '0,971', '0,944', '0,927', '1,316',
       '1,106', '1,330', '1,315', '1,314', '1,447', '1,321', '1,271',
       '1,343', '1,371', '1,295', '1,177', '1,111', '1,154', '1,040',
       '1,134', '0,977', '1,168', '0,886', '1,186', '1,283', '1,076',
       '0,903', '1,559', '1,600', '0,896', '0,931', '1,203', '1,122',
       '1,118', '1,012', '1,130', '1,276', '0,898', '1,046', '1,167',
       '1,008', '1,085', '1,108', '1,296', '1,062', '1,138', '0,984',
       '1,037', '1,133', '1,226', '1,038', '1,500', '0,876', '1,018',
       '0,911', '1,653', '1,006', '0,983', '0,973', '1,268', '1,103',
       '1,142', '1,003', '1,077', '1,216', '1,379', '1,101', '1,365',
       '1,286', '1,261', '1,317', '1,354', '1,208', '1,001', '1,031',
       '1,318', '1,087', '1,014', '0,956', '1,285', '0,917', '1,522',
       '1,174', '1,235', '1,429', '1,207', '1,126', '1,213', '1,074',
       '1,114', '1,225', '1,305', '1,301', '1,176', '1,013', '1,136',
       '1,112', '0,991', '1,232', '1,036', '0,958', '1,151', '1,022',
       '0,993', '1,669', '1,361', '0,988', '1,064', '0,992', '1,459',
       '0,905', '1,058', '0,912', '1,415', '1,390', '0,942', '0,899',
       '1,073', '1,065', '1,025', '1,102', '1,223', '1,298', '1,004',
       '1,162', '1,414', '0,996', '1,097', '1,026'], dtype=object)

In [69]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasoleo B']=df_n['Precio Gasoleo B'].str.replace(',','.')
df_n[['Precio Gasoleo B']]=df_n[['Precio Gasoleo B']].apply(pd.to_numeric)

In [70]:
df_n['Precio Gasoleo B'].describe()

count    3000.000000
mean        1.118465
std         0.126559
min         0.869000
25%         0.999000
50%         1.139000
75%         1.205000
max         1.699000
Name: Precio Gasoleo B, dtype: float64

In [71]:
# Registros sin venta Gasoleo B
sin_suministro_gB = df_n['Precio Gasoleo B'].isnull().sum()
sin_suministro_gB

8849

In [72]:
ceros_sin_suministro_gB = (df_n['Precio Gasoleo B'] == 0).sum()
ceros_sin_suministro_gB

0

# Precio Gasoleo Premium

In [73]:
Gasoleo_P = df_n['Precio Gasoleo Premium'].unique()
print(len(Gasoleo_P))
print(type(Gasoleo_P))
Gasoleo_P

356
<class 'numpy.ndarray'>

array(['', '2,300', '1,499', '1,559', '1,549', '1,519', '1,398', '1,299',
       '1,569', '1,539', '1,551', '1,419', '1,469', '1,529', '1,629',
       '1,399', '1,535', '1,579', '1,555', '1,509', '1,599', '1,619',
       '1,598', '1,589', '1,659', '1,409', '1,489', '1,459', '1,369',
       '1,514', '1,585', '1,594', '1,614', '1,609', '1,544', '1,361',
       '1,548', '1,571', '1,574', '1,449', '1,637', '1,575', '1,669',
       '1,534', '1,639', '1,518', '1,475', '1,309', '1,305', '1,504',
       '1,611', '1,531', '1,486', '1,379', '1,605', '1,545', '1,565',
       '1,324', '1,561', '1,339', '1,607', '2,999', '1,359', '1,365',
       '1,464', '1,479', '1,564', '1,395', '1,595', '1,591', '1,389',
       '1,577', '1,438', '1,319', '1,278', '1,635', '1,625', '1,346',
       '1,317', '1,556', '1,360', '1,325', '1,308', '1,286', '1,328',
       '1,367', '1,429', '1,576', '1,505', '1,640', '1,627', '1,368',
       '1,588', '1,649', '1,385', '1,615', '1,681', '1,600', '1,329',
       '1,608', '1,425', '1,524', '1,498', '1,655', '1,386', '1,349',
       '1,554', '1,355', '1,540', '1,515', '1,647', '1,430', '1,493',
       '1,439', '1,283', '1,272', '1,689', '1,259', '1,265', '1,314',
       '1,525', '1,289', '1,580', '1,584', '1,269', '1,641', '1,418',
       '1,578', '1,645', '1,638', '1,628', '1,618', '1,679', '1,621',
       '1,631', '1,376', '1,527', '1,513', '1,351', '1,358', '1,620',
       '1,590', '1,444', '1,337', '1,495', '1,473', '1,452', '1,587',
       '1,279', '1,335', '1,307', '1,387', '1,297', '1,445', '1,454',
       '1,405', '1,434', '1,348', '1,671', '1,366', '1,699', '1,538',
       '1,541', '1,380', '1,428', '1,570', '1,521', '1,568', '1,494',
       '1,547', '1,597', '1,295', '1,488', '1,581', '1,394', '1,603',
       '1,341', '1,709', '1,219', '1,769', '1,526', '1,508', '1,408',
       '1,362', '1,839', '1,484', '1,357', '1,415', '1,465', '1,310',
       '1,378', '1,285', '1,457', '1,557', '1,558', '1,566', '1,424',
       '1,447', '2,060', '1,685', '1,759', '1,601', '1,586', '1,583',
       '1,979', '1,420', '1,474', '1,616', '1,455', '1,546', '1,501',
       '1,384', '1,536', '1,375', '1,497', '1,604', '1,381', '1,300',
       '1,675', '1,573', '1,354', '1,382', '1,520', '1,480', '1,287',
       '1,705', '1,485', '1,323', '1,537', '1,288', '1,303', '1,512',
       '1,532', '1,347', '1,530', '1,651', '1,500', '1,642', '1,414',
       '1,388', '1,511', '1,592', '1,345', '1,478', '1,450', '1,634',
       '1,442', '1,410', '1,338', '1,643', '1,593', '1,463', '1,377',
       '1,624', '1,407', '1,426', '1,158', '1,159', '1,179', '1,189',
       '2,109', '1,318', '1,298', '1,416', '1,562', '1,340', '1,356',
       '1,437', '1,257', '1,771', '1,610', '1,390', '1,503', '1,364',
       '1,567', '1,510', '1,528', '1,180', '1,264', '1,239', '1,244',
       '1,443', '1,344', '1,320', '1,334', '1,342', '1,350', '1,333',
       '1,404', '1,218', '1,336', '1,280', '1,462', '1,304', '1,184',
       '1,315', '1,197', '1,306', '1,383', '1,397', '1,648', '1,427',
       '1,261', '1,274', '1,284', '1,311', '1,296', '1,291', '1,290',
       '1,149', '1,224', '1,294', '1,174', '1,165', '1,292', '1,302',
       '1,276', '1,177', '1,371', '1,214', '1,204', '1,468', '1,249',
       '1,245', '1,199', '1,326', '1,275', '1,254', '1,095', '1,343',
       '1,656', '1,477', '1,550', '1,719', '1,458', '1,372', '1,491',
       '1,572', '1,396', '1,273', '1,507', '1,467', '1,517', '1,695',
       '1,800', '1,448', '1,417', '1,617', '1,490', '1,644', '1,353',
       '1,636', '1,267', '1,435', '1,373', '1,393'], dtype=object)

In [74]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasoleo Premium']=df_n['Precio Gasoleo Premium'].str.replace(',','.')
df_n[['Precio Gasoleo Premium']]=df_n[['Precio Gasoleo Premium']].apply(pd.to_numeric)

In [75]:
df_n['Precio Gasoleo Premium'].describe()

count    7480.000000
mean        1.536501
std         0.092094
min         1.095000
25%         1.509000
50%         1.559000
75%         1.597000
max         2.999000
Name: Precio Gasoleo Premium, dtype: float64

In [76]:
# Registros sin venta Gasoleo Premium
sin_suministro_gP = df_n['Precio Gasoleo Premium'].isnull().sum()
sin_suministro_gP

4369

In [77]:
ceros_sin_suministro_gP = (df_n['Precio Gasoleo Premium'] == 0).sum()
ceros_sin_suministro_gP

0

# Precio Gasolina 95 E10

In [78]:
g95_E10 = df_n['Precio Gasolina 95 E10'].unique()
print(len(g95_E10))
print(type(g95_E10))
g95_E10

21
<class 'numpy.ndarray'>

array(['', '1,859', '1,829', '1,759', '1,684', '1,499', '1,669', '1,744',
       '1,720', '1,719', '1,449', '1,589', '1,549', '1,459', '1,699',
       '1,639', '1,659', '1,799', '1,769', '1,739', '1,698'], dtype=object)

In [79]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasolina 95 E10']=df_n['Precio Gasolina 95 E10'].str.replace(',','.')
df_n[['Precio Gasolina 95 E10']]=df_n[['Precio Gasolina 95 E10']].apply(pd.to_numeric)

In [80]:
 df_n['Precio Gasolina 95 E10'].describe()

count    24.000000
mean      1.680875
std       0.107001
min       1.449000
25%       1.654000
50%       1.698500
75%       1.747750
max       1.859000
Name: Precio Gasolina 95 E10, dtype: float64

In [81]:
# Registros sin venta Gasoleo Premium
sin_suministro_95E10 = df_n['Precio Gasolina 95 E10'].isnull().sum()
sin_suministro_95E10

11825

# Precio Gasolina 95 E5

In [82]:
g95_E5 = df_n['Precio Gasolina 95 E5'].unique()
print(len(g95_E5))
print(type(g95_E5))
g95_E5

411
<class 'numpy.ndarray'>

array(['1,549', '1,679', '1,459', '1,609', '', '1,639', '1,528', '1,619',
       '1,439', '1,629', '1,579', '1,649', '1,589', '2,299', '1,490',
       '1,570', '1,429', '1,539', '1,599', '1,559', '1,614', '1,460',
       '1,625', '1,699', '1,640', '1,463', '1,659', '1,560', '1,569',
       '1,479', '1,698', '1,519', '1,489', '1,627', '1,469', '1,565',
       '1,529', '1,669', '1,430', '1,547', '1,585', '1,499', '1,478',
       '1,574', '1,684', '1,665', '1,644', '1,498', '1,604', '1,475',
       '1,654', '1,477', '1,603', '1,655', '1,525', '1,634', '1,557',
       '1,637', '1,595', '1,509', '1,566', '1,709', '1,653', '1,465',
       '1,495', '1,675', '1,624', '1,568', '1,618', '1,551', '1,607',
       '1,485', '1,594', '1,645', '1,651', '1,615', '1,588', '1,449',
       '1,635', '1,678', '1,608', '1,664', '1,524', '1,689', '1,538',
       '1,455', '1,445', '1,544', '1,505', '1,674', '1,677', '1,518',
       '1,468', '1,497', '1,471', '1,435', '1,620', '1,508', '1,576',
       '1,617', '1,683', '1,597', '1,600', '1,470', '1,545', '1,630',
       '1,483', '1,799', '1,575', '1,598', '1,704', '1,530', '1,688',
       '1,729', '1,548', '1,535', '1,714', '1,694', '1,577', '1,580',
       '1,628', '1,660', '1,695', '1,584', '1,500', '1,527', '1,534',
       '1,473', '1,472', '1,779', '1,486', '1,550', '1,676', '1,610',
       '1,419', '1,605', '1,590', '1,668', '1,558', '1,749', '1,719',
       '1,724', '1,658', '1,759', '1,849', '1,739', '1,648', '1,708',
       '1,697', '1,424', '1,523', '1,717', '1,623', '1,725', '1,613',
       '1,090', '1,502', '1,728', '1,428', '1,481', '1,487', '1,587',
       '1,464', '1,405', '1,425', '1,720', '1,554', '1,474', '1,437',
       '1,670', '1,484', '1,537', '1,427', '1,663', '1,426', '1,715',
       '1,349', '1,339', '1,375', '1,494', '1,734', '1,673', '1,379',
       '1,514', '1,752', '1,517', '1,811', '1,638', '1,522', '1,686',
       '1,450', '1,555', '1,480', '1,453', '1,564', '1,632', '1,650',
       '1,680', '1,633', '1,593', '1,900', '1,434', '1,581', '1,642',
       '1,690', '1,415', '1,417', '1,823', '1,279', '1,298', '1,329',
       '1,440', '1,476', '1,578', '1,488', '1,446', '1,392', '1,592',
       '1,421', '1,447', '1,458', '1,456', '1,454', '1,507', '1,661',
       '1,616', '1,666', '1,512', '1,769', '1,685', '1,687', '1,682',
       '1,667', '1,730', '1,515', '1,950', '1,611', '1,482', '1,520',
       '1,493', '1,431', '1,510', '1,700', '1,765', '1,438', '1,582',
       '1,433', '1,652', '1,452', '1,572', '1,552', '1,705', '1,626',
       '1,432', '1,443', '1,467', '1,409', '1,532', '1,563', '1,672',
       '1,526', '1,636', '1,789', '1,556', '1,819', '1,657', '1,491',
       '1,573', '1,718', '1,533', '1,444', '1,228', '1,219', '1,249',
       '1,255', '1,259', '1,647', '1,457', '1,586', '1,516', '1,506',
       '1,796', '1,656', '1,738', '1,209', '1,159', '1,169', '1,218',
       '1,179', '1,144', '1,119', '1,089', '1,174', '1,099', '1,199',
       '1,049', '1,229', '1,333', '1,373', '1,325', '1,372', '1,355',
       '1,353', '1,357', '1,319', '1,366', '1,217', '1,198', '1,183',
       '1,079', '1,149', '1,088', '1,225', '1,204', '1,150', '1,327',
       '1,354', '1,344', '1,269', '1,214', '1,194', '1,166', '1,191',
       '1,222', '0,999', '1,224', '1,239', '1,095', '1,184', '1,200',
       '1,330', '1,288', '1,368', '1,289', '1,363', '1,244', '1,201',
       '1,267', '1,216', '1,189', '1,383', '1,175', '1,190', '1,286',
       '1,284', '1,311', '1,309', '1,369', '1,359', '1,275', '1,304',
       '1,207', '1,315', '1,280', '1,567', '1,531', '1,403', '1,399',
       '1,180', '1,139', '1,188', '1,420', '1,164', '1,186', '1,197',
       '1,208', '1,542', '1,115', '1,265', '1,206', '1,504', '1,109',
       '1,192', '1,242', '1,107', '1,299', '1,234', '1,380', '1,263',
       '1,412', '1,165', '1,215', '1,187', '1,177', '1,168', '1,178',
       '1,328', '1,185', '1,211', '1,231', '1,162', '1,226', '1,173',
       '1,276', '1,195', '1,641', '1,546', '1,583', '1,703', '1,774',
       '1,448', '1,416', '1,503', '1,540', '1,496', '1,631', '1,492',
       '1,602', '1,707', '1,596', '1,441'], dtype=object)

In [83]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasolina 95 E5']=df_n['Precio Gasolina 95 E5'].str.replace(',','.')
df_n[['Precio Gasolina 95 E5']]=df_n[['Precio Gasolina 95 E5']].apply(pd.to_numeric)

In [84]:
df_n['Precio Gasolina 95 E5'].describe()

count    10700.000000
mean         1.583196
std          0.104773
min          0.999000
25%          1.539000
50%          1.609000
75%          1.649000
max          2.299000
Name: Precio Gasolina 95 E5, dtype: float64

In [85]:
# Registros sin venta Gasoleo Premium
sin_suministro_g95E5 = df_n['Precio Gasolina 95 E5'].isnull().sum()
sin_suministro_g95E5

1149

In [86]:
ceros_sin_suministro_g95E5  = (df_n['Precio Gasolina 95 E5'] == 0).sum()
ceros_sin_suministro_g95E5

0

# Precio Gasolina 95 E5 Premium

In [87]:
g95_E5_P = df_n['Precio Gasolina 95 E5 Premium'].unique()
print(len(g95_E5_P))
print(type(g95_E5_P))
g95_E5_P

104
<class 'numpy.ndarray'>

array(['', '1,649', '1,619', '1,714', '1,639', '1,679', '1,735', '1,629',
       '1,699', '1,689', '1,669', '1,709', '1,779', '1,724', '1,609',
       '1,719', '1,659', '1,755', '1,729', '1,685', '1,524', '1,769',
       '1,734', '1,704', '1,498', '1,675', '1,499', '1,431', '1,397',
       '1,435', '1,759', '1,789', '1,739', '1,569', '1,749', '1,635',
       '1,764', '1,684', '1,654', '1,715', '1,774', '1,784', '1,725',
       '1,799', '1,785', '1,744', '1,754', '1,745', '1,664', '1,539',
       '1,809', '1,805', '1,765', '1,859', '1,519', '1,795', '1,775',
       '1,694', '1,509', '1,568', '1,579', '1,644', '1,627', '1,374',
       '1,710', '1,665', '1,549', '1,634', '1,674', '1,899', '1,698',
       '1,576', '1,589', '1,559', '1,655', '1,695', '1,728', '1,538',
       '1,529', '1,599', '1,586', '1,575', '1,527', '1,518', '1,577',
       '1,595', '1,608', '1,648', '1,558', '1,437', '1,733', '1,159',
       '1,259', '1,239', '1,199', '1,249', '1,624', '1,456', '1,489',
       '1,788', '1,530', '1,727', '1,668', '1,705'], dtype=object)

In [88]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasolina 95 E5 Premium']=df_n['Precio Gasolina 95 E5 Premium'].str.replace(',','.')
df_n[['Precio Gasolina 95 E5 Premium']]=df_n[['Precio Gasolina 95 E5 Premium']].apply(pd.to_numeric)

In [89]:
df_n['Precio Gasolina 95 E5 Premium'].describe()

count    857.000000
mean       1.688581
std        0.074815
min        1.159000
25%        1.659000
50%        1.699000
75%        1.734000
max        1.899000
Name: Precio Gasolina 95 E5 Premium, dtype: float64

In [90]:
# Registros sin venta Gasolina 95 E5 Premium
sin_suministro_g95E5_Prem = df_n['Precio Gasolina 95 E5 Premium'].isnull().sum()
sin_suministro_g95E5_Prem

10992

In [91]:
ceros_sin_suministro_g95E5_Prem  = (df_n['Precio Gasolina 95 E5 Premium'] == 0).sum()
ceros_sin_suministro_g95E5

0

# Precio Gasolina 98 E10

In [92]:
g98_E10 = df_n['Precio Gasolina 98 E10'].unique()
print(len(g98_E10))
print(type(g98_E10))
g98_E10

17
<class 'numpy.ndarray'>

array(['', '1,799', '1,829', '1,709', '1,589', '1,669', '1,599', '1,689',
       '1,995', '1,619', '1,585', '1,729', '1,749', '1,655', '1,739',
       '1,349', '1,688'], dtype=object)

In [93]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasolina 98 E10']=df_n['Precio Gasolina 98 E10'].str.replace(',','.')
df_n[['Precio Gasolina 98 E10']]=df_n[['Precio Gasolina 98 E10']].apply(pd.to_numeric)

In [94]:
df_n['Precio Gasolina 98 E10'].describe()

count    16.000000
mean      1.686937
std       0.137681
min       1.349000
25%       1.614000
50%       1.688500
75%       1.741500
max       1.995000
Name: Precio Gasolina 98 E10, dtype: float64

In [95]:
# Registros sin venta Gasolina 98 E10 
sin_suministro_g98E10 = df_n['Precio Gasolina 98 E10'].isnull().sum()
sin_suministro_g98E10

11833

# Precio Gasolina 98 E5

In [96]:
g98_E5 = df_n['Precio Gasolina 98 E5'].unique()
print(len(g98_E5))
print(type(g98_E5))
g98_E5

392
<class 'numpy.ndarray'>

array(['', '2,200', '1,729', '1,751', '1,759', '1,549', '1,769', '1,699',
       '2,369', '1,681', '1,719', '1,741', '1,749', '1,779', '1,739',
       '1,799', '1,781', '1,819', '1,709', '1,798', '1,789', '1,691',
       '1,889', '1,689', '1,695', '1,731', '1,804', '1,679', '1,809',
       '1,811', '1,774', '1,791', '1,744', '1,676', '1,764', '1,753',
       '1,758', '1,999', '1,829', '1,848', '1,757', '1,821', '1,795',
       '1,851', '1,771', '1,839', '1,849', '1,766', '1,765', '1,585',
       '1,706', '1,740', '1,820', '1,796', '1,776', '1,825', '1,754',
       '2,999', '1,599', '1,831', '1,806', '1,877', '1,669', '1,746',
       '1,761', '1,638', '1,745', '1,436', '1,800', '1,780', '2,000',
       '1,869', '1,625', '1,841', '1,750', '1,896', '1,775', '1,786',
       '1,619', '1,629', '1,721', '1,715', '1,698', '1,838', '1,788',
       '1,620', '1,861', '1,802', '1,919', '1,801', '1,760', '1,846',
       '1,834', '1,827', '1,816', '1,730', '1,859', '1,784', '1,725',
       '1,724', '1,579', '1,684', '1,678', '1,785', '1,792', '1,658',
       '1,697', '1,879', '1,856', '1,837', '1,836', '1,815', '1,768',
       '1,805', '1,828', '1,826', '1,639', '1,847', '1,705', '1,866',
       '1,652', '1,881', '1,875', '1,854', '1,871', '1,631', '1,787',
       '1,756', '1,662', '1,794', '1,502', '1,822', '1,860', '1,694',
       '1,589', '1,614', '1,675', '1,770', '1,656', '1,845', '1,505',
       '1,665', '1,680', '1,499', '1,659', '1,650', '1,604', '1,634',
       '1,635', '1,865', '1,899', '1,685', '1,961', '1,738', '1,773',
       '1,909', '1,818', '1,949', '1,710', '1,748', '1,644', '1,734',
       '1,736', '1,582', '1,700', '1,814', '1,529', '1,714', '1,778',
       '1,324', '1,328', '1,649', '2,109', '2,119', '2,229', '1,726',
       '1,716', '1,569', '1,661', '1,898', '1,657', '1,696', '1,817',
       '1,712', '1,686', '1,888', '1,735', '1,855', '1,500', '1,718',
       '1,777', '1,808', '1,702', '1,830', '1,797', '2,139', '1,872',
       '1,867', '1,575', '1,824', '1,720', '1,600', '1,763', '1,668',
       '1,651', '2,500', '1,664', '1,790', '1,711', '2,199', '1,690',
       '1,630', '2,299', '1,460', '1,762', '1,615', '1,565', '1,534',
       '1,727', '1,507', '1,584', '1,618', '1,703', '1,772', '2,020',
       '1,509', '1,609', '1,641', '1,637', '1,667', '1,647', '1,728',
       '1,793', '1,840', '1,546', '1,813', '1,782', '2,239', '1,755',
       '1,890', '1,597', '1,655', '1,621', '1,674', '1,743', '1,701',
       '1,812', '1,587', '1,598', '1,550', '1,555', '1,359', '1,279',
       '1,209', '1,249', '1,229', '1,250', '1,274', '1,289', '1,244',
       '1,299', '1,369', '1,454', '1,488', '1,455', '1,477', '1,470',
       '1,458', '1,469', '1,449', '1,523', '1,389', '1,379', '1,344',
       '1,354', '1,276', '1,329', '1,349', '1,399', '1,199', '1,225',
       '1,350', '1,415', '1,450', '1,539', '1,677', '1,339', '1,374',
       '1,319', '1,264', '1,362', '1,358', '1,364', '1,337', '1,340',
       '1,475', '1,400', '1,385', '1,473', '1,484', '1,334', '1,356',
       '1,459', '1,310', '1,309', '1,305', '1,314', '1,179', '1,320',
       '1,304', '1,247', '1,306', '1,419', '1,418', '1,468', '1,494',
       '1,380', '1,503', '1,357', '1,425', '1,559', '1,878', '1,747',
       '1,708', '1,537', '1,497', '1,654', '1,220', '1,318', '1,444',
       '1,301', '1,291', '1,290', '1,333', '1,239', '1,284', '1,335',
       '1,224', '1,308', '1,302', '1,627', '1,219', '1,332', '1,227',
       '1,375', '1,551', '1,372', '1,535', '1,322', '1,295', '1,312',
       '1,352', '1,298', '1,307', '1,438', '1,330', '1,294', '1,303',
       '1,288', '1,348', '1,323', '1,321', '1,315', '1,429', '1,285',
       '1,297', '1,269', '1,327', '1,405', '1,326', '1,115', '1,683',
       '1,868', '2,219', '1,595', '1,862', '2,450', '1,670', '1,833',
       '1,704', '1,707', '1,737', '2,220', '1,835', '1,590', '1,844',
       '1,617', '1,576', '1,857', '2,038', '1,979', '1,687'], dtype=object)

In [97]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasolina 98 E5']=df_n['Precio Gasolina 98 E5'].str.replace(',','.')
df_n[['Precio Gasolina 98 E5']]=df_n[['Precio Gasolina 98 E5']].apply(pd.to_numeric)

In [98]:
df_n['Precio Gasolina 98 E5'].describe()

count    5852.000000
mean        1.740466
std         0.130185
min         1.115000
25%         1.729000
50%         1.769000
75%         1.805250
max         2.999000
Name: Precio Gasolina 98 E5, dtype: float64

In [99]:
# Registros sin venta Gasolina 98 E5 
sin_suministro_g98E5 = df_n['Precio Gasolina 98 E5'].isnull().sum()
sin_suministro_g98E5

5997

In [100]:
ceros_sin_suministro_g98E5  = (df_n['Precio Gasolina 98 E5'] == 0).sum()
ceros_sin_suministro_g98E5

0

# Precio Hidrogeno

In [101]:
Hidrongeno = df_n['Precio Hidrogeno'].unique()
print(len(Hidrongeno))
print(type(Hidrongeno))
Hidrongeno

1
<class 'numpy.ndarray'>

array([''], dtype=object)

In [102]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Hidrogeno']=df_n['Precio Hidrogeno'].str.replace(',','.')
df_n[['Precio Hidrogeno']]=df_n[['Precio Hidrogeno']].apply(pd.to_numeric)

In [103]:
df_n['Precio Hidrogeno'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: Precio Hidrogeno, dtype: float64

In [104]:
df_n.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11849 entries, 0 to 11848
Data columns (total 33 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Fecha                               11849 non-null  object
 1   C.P.                                11849 non-null  object
 2   Dirección                           11849 non-null  object
 3   Horario                             11849 non-null  object
 4   Latitud                             11849 non-null  object
 5   Localidad                           11849 non-null  object
 6   Longitud (WGS84)                    11849 non-null  object
 7   Margen                              11849 non-null  object
 8   Municipio                           11849 non-null  object
 9   Precio Biodiesel                    36 non-null     float64
 10  Precio Bioetanol                    5 non-null      float64
 11  Precio Gas Natural Comprimido       141 non-null    float64
 12  Precio Gas Natural Licuado          91 non-null     float64
 13  Precio Gases licuados del petróleo  872 non-null    float64
 14  Precio Gasoleo A                    11495 non-null  float64
 15  Precio Gasoleo B                    3000 non-null   float64
 16  Precio Gasoleo Premium              7480 non-null   float64
 17  Precio Gasolina 95 E10              24 non-null     float64
 18  Precio Gasolina 95 E5               10700 non-null  float64
 19  Precio Gasolina 95 E5 Premium       857 non-null    float64
 20  Precio Gasolina 98 E10              16 non-null     float64
 21  Precio Gasolina 98 E5               5852 non-null   float64
 22  Precio Hidrogeno                    0 non-null      float64
 23  Provincia                           11849 non-null  object
 24  Remisión                            11849 non-null  object
 25  Rótulo                              11849 non-null  object
 26  Tipo Venta                          11849 non-null  object
 27  % BioEtanol                         11849 non-null  object
 28  % Éster metílico                    11849 non-null  object
 29  IDEESS                              11849 non-null  object
 30  IDMunicipio                         11849 non-null  object
 31  IDProvincia                         11849 non-null  object
 32  IDCCAA                              11849 non-null  object
dtypes: float64(14), object(19)
memory usage: 3.0+ MB

---
Setp 3

# Limpieza de Columnas

In [105]:
# Eliminiación de columnas que no interesan a nivel usuario o que no aportan datos significativos al modelo
df_n.drop(['Margen', 'Remisión', 'Tipo Venta', '% BioEtanol', '% Éster metílico', 'Precio Biodiesel',
          'Precio Bioetanol', 'Precio Gas Natural Comprimido', 'Precio Gas Natural Licuado', 
          'Precio Gas Natural Licuado', 'Precio Gases licuados del petróleo', 'Precio Gasolina 95 E10',
          'Precio Gasolina 95 E5 Premium', 'Precio Gasolina 98 E10', 'Precio Hidrogeno'], axis=1, inplace=True)

In [106]:
# Comprobación
df_n.iloc[15][['Precio Gasoleo B']]

Precio Gasoleo B    NaN
Name: 15, dtype: object

In [107]:
df_n.head()

,Fecha,C.P.,Dirección,Horario,Latitud,Localidad,Longitud (WGS84),Municipio,Precio Gasoleo A,Precio Gasoleo B,Precio Gasoleo Premium,Precio Gasolina 95 E5,Precio Gasolina 98 E5,Provincia,Rótulo,IDEESS,IDMunicipio,IDProvincia,IDCCAA
0,04/07/2023 11:47:58,02250,"AVENIDA CASTILLA LA MANCHA, 26",L-D: 07:00-22:00,"39,211417",ABENGIBRE,"-1,539167",Abengibre,1.359,0.999,NaN,1.549,NaN,ALBACETE,Nº 10.935,4375,52,02,07
1,04/07/2023 11:47:58,02152,"CR CM-332, 46,4",L-D: 7:00-23:00,"39,100389",ALATOZ,"-1,346083",Alatoz,1.530,NaN,2.300,1.679,2.200,ALBACETE,REPSOL,5122,53,02,07
2,04/07/2023 11:47:58,02001,"CALLE FEDERICO GARCIA LORCA, 1",L-D: 24H,"39,000861",ALBACETE,"-1,849833",Albacete,1.299,NaN,NaN,1.459,NaN,ALBACETE,PLENOIL,13933,54,02,07
3,04/07/2023 11:47:58,02001,"AVENIDA 1º DE MAYO, S/N",L-S: 08:00-22:00; D: 09:00-21:00,"38,985667",ALBACETE,"-1,868500",Albacete,1.459,NaN,1.499,1.609,1.729,ALBACETE,CARREFOUR,10765,54,02,07
4,04/07/2023 11:47:58,02001,CALLE PRINCIPE DE ASTURIAS (POLÍGONO DE ROMICA...,L-D: 06:00-21:30,"39,054694",ALBACETE,"-1,832000",Albacete,1.469,NaN,1.559,1.609,1.751,ALBACETE,BP ROMICA,12054,54,02,07

In [108]:
# Renombramos las columnas
df_n.rename(columns={"Precio Gasoleo A": "Gasoleo A", "Precio Gasoleo B": "Gasoleo B" ,"Precio Gasoleo Premium": "Gasoleo Premium", 
                     "Precio Gasolina 95 E5": "Gasolina 95 E5", "Precio Gasolina 98 E5": "Gasolina 98 E5",
                     "Rótulo":"Proveedor de Servicio"}, inplace=True)
df_n.head(1)

,Fecha,C.P.,Dirección,Horario,Latitud,Localidad,Longitud (WGS84),Municipio,Gasoleo A,Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Provincia,Proveedor de Servicio,IDEESS,IDMunicipio,IDProvincia,IDCCAA
0,04/07/2023 11:47:58,02250,"AVENIDA CASTILLA LA MANCHA, 26",L-D: 07:00-22:00,"39,211417",ABENGIBRE,"-1,539167",Abengibre,1.359,0.999,NaN,1.549,NaN,ALBACETE,Nº 10.935,4375,52,02,07

In [109]:
# Media Nacional
df_n['Media Nacional Gasoleo A']=df_n['Gasoleo A'].mean()
df_n['Media Nacional Gasoleo B']=df_n['Gasoleo B'].mean()
df_n['Media Nacional Gasoleo P'] = df_n['Gasoleo Premium'].mean()
df_n['Media Nacional Gasolina 95']=df_n['Gasolina 95 E5'].mean()
df_n['Media Nacional Gasolina 98']=df_n['Gasolina 98 E5'].mean()

In [110]:
# Desviación (eliminanos porque no aporta información va)
#df_n['dev_Gasoleo A']= df_n['Gasoleo A'] - df_n['Media_Gasoleo A']
#df_n['dev_Gasoleo B'] =df_n['Gasoleo B'] - df_n['Media_Gasoleo B']
#df_n['dev_Gasoleo Prem'] =df_n['Gasoleo Premium'] - df_n['Media_Gasoleo Prem']
#df_n['dev_Gasolina 95']=df_n['Gasolina 95 E5'] - df_n['Media_Gasolina 95']
#df_n['dev_Gasolina 98']=df_n['Gasolina 98 E5']- df_n['Media_Gasolina 98']

# Media de precios respecto al código postal

In [111]:
# Media Código Postal de Gasoleo A
def cp_media_A(x):
# x = Código Postal
    cod_postal = df_n[df_n['C.P.'] == x]
    media_cp_GA = cod_postal[['Gasoleo A']].mean()
    return media_cp_GA

In [112]:
# Media Código Postal de Gasoleo B
def cp_media_B(x):
# x = Código Postal
    cod_postal = df_n[df_n['C.P.'] == x]
    media_cp_GB = cod_postal[['Gasoleo B']].mean()
    return media_cp_GB

In [113]:
# Media Código Postal de Gasoleo Premium
def cp_media_P(x):
# x = Código Postal
    cod_postal = df_n[df_n['C.P.'] == x]
    media_cp_GP = cod_postal[['Gasoleo B']].mean()
    return media_cp_GP

In [114]:
# Media Código Postal de Gasolina 95 E5
def cp_media_95(x):
# x = Código Postal
    cod_postal = df_n[df_n['C.P.'] == x]
    media_cp_G95 = cod_postal[['Gasolina 95 E5']].mean()
    return media_cp_G95

In [115]:
# Media Código Postal de Gasolina 98 E5
def cp_media_98(x):
# x = Código Postal
    cod_postal = df_n[df_n['C.P.'] == x]
    media_cp_G98 = cod_postal[['Gasolina 98 E5']].mean()
    return media_cp_G98

In [116]:
# Comprobación
cp_media_95('28760')

Gasolina 95 E5    1.5435
dtype: float64

In [117]:
# Aplicamos la función a la columna
df_n[['Media C.P. Gasoleo A']]= df_n['C.P.'].apply(cp_media_A)
df_n[['Media C.P. Gasoleo B']]= df_n['C.P.'].apply(cp_media_B)
df_n[['Media C.P. Gasoleo P']]= df_n['C.P.'].apply(cp_media_P)
df_n[['Media C.P. Gasolina 95']]= df_n['C.P.'].apply(cp_media_95)
df_n[['Media C.P. Gasolina 98']]= df_n['C.P.'].apply(cp_media_98)

In [118]:
df_n.head()

,Fecha,C.P.,Dirección,Horario,Latitud,Localidad,Longitud (WGS84),Municipio,Gasoleo A,Gasoleo B,...,Media Nacional Gasoleo A,Media Nacional Gasoleo B,Media Nacional Gasoleo P,Media Nacional Gasolina 95,Media Nacional Gasolina 98,Media C.P. Gasoleo A,Media C.P. Gasoleo B,Media C.P. Gasoleo P,Media C.P. Gasolina 95,Media C.P. Gasolina 98
0,04/07/2023 11:47:58,02250,"AVENIDA CASTILLA LA MANCHA, 26",L-D: 07:00-22:00,"39,211417",ABENGIBRE,"-1,539167",Abengibre,1.359,0.999,...,1.429692,1.118465,1.536501,1.583196,1.740466,1.35900,0.999,0.999,1.549,NaN
1,04/07/2023 11:47:58,02152,"CR CM-332, 46,4",L-D: 7:00-23:00,"39,100389",ALATOZ,"-1,346083",Alatoz,1.530,NaN,...,1.429692,1.118465,1.536501,1.583196,1.740466,1.53000,NaN,NaN,1.679,2.20
2,04/07/2023 11:47:58,02001,"CALLE FEDERICO GARCIA LORCA, 1",L-D: 24H,"39,000861",ALBACETE,"-1,849833",Albacete,1.299,NaN,...,1.429692,1.118465,1.536501,1.583196,1.740466,1.42925,NaN,NaN,1.559,1.74
3,04/07/2023 11:47:58,02001,"AVENIDA 1º DE MAYO, S/N",L-S: 08:00-22:00; D: 09:00-21:00,"38,985667",ALBACETE,"-1,868500",Albacete,1.459,NaN,...,1.429692,1.118465,1.536501,1.583196,1.740466,1.42925,NaN,NaN,1.559,1.74
4,04/07/2023 11:47:58,02001,CALLE PRINCIPE DE ASTURIAS (POLÍGONO DE ROMICA...,L-D: 06:00-21:30,"39,054694",ALBACETE,"-1,832000",Albacete,1.469,NaN,...,1.429692,1.118465,1.536501,1.583196,1.740466,1.42925,NaN,NaN,1.559,1.74

In [119]:
df_n.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11849 entries, 0 to 11848
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Fecha                       11849 non-null  object
 1   C.P.                        11849 non-null  object
 2   Dirección                   11849 non-null  object
 3   Horario                     11849 non-null  object
 4   Latitud                     11849 non-null  object
 5   Localidad                   11849 non-null  object
 6   Longitud (WGS84)            11849 non-null  object
 7   Municipio                   11849 non-null  object
 8   Gasoleo A                   11495 non-null  float64
 9   Gasoleo B                   3000 non-null   float64
 10  Gasoleo Premium             7480 non-null   float64
 11  Gasolina 95 E5              10700 non-null  float64
 12  Gasolina 98 E5              5852 non-null   float64
 13  Provincia                   11849 non-null  object
 14  Proveedor de Servicio       11849 non-null  object
 15  IDEESS                      11849 non-null  object
 16  IDMunicipio                 11849 non-null  object
 17  IDProvincia                 11849 non-null  object
 18  IDCCAA                      11849 non-null  object
 19  Media Nacional Gasoleo A    11849 non-null  float64
 20  Media Nacional Gasoleo B    11849 non-null  float64
 21  Media Nacional Gasoleo P    11849 non-null  float64
 22  Media Nacional Gasolina 95  11849 non-null  float64
 23  Media Nacional Gasolina 98  11849 non-null  float64
 24  Media C.P. Gasoleo A        11760 non-null  float64
 25  Media C.P. Gasoleo B        5989 non-null   float64
 26  Media C.P. Gasoleo P        5989 non-null   float64
 27  Media C.P. Gasolina 95      11592 non-null  float64
 28  Media C.P. Gasolina 98      9596 non-null   float64
dtypes: float64(15), object(14)
memory usage: 2.6+ MB

In [120]:
#Ordenamos columnas
df_n = df_n[['Fecha', 'Horario', 'C.P.','Provincia','Municipio','Localidad', 'Dirección', 'Proveedor de Servicio', 
             'Gasoleo A', 'Media C.P. Gasoleo A', 'Media Nacional Gasoleo A', 
             'Gasoleo B', 'Media C.P. Gasoleo B','Media Nacional Gasoleo B', 
             'Gasoleo Premium','Media C.P. Gasoleo P', 'Media Nacional Gasoleo P', 
             'Gasolina 95 E5', 'Media C.P. Gasolina 95','Media Nacional Gasolina 95', 
             'Gasolina 98 E5', 'Media C.P. Gasolina 98','Media Nacional Gasolina 98']]
df_n

,Fecha,Horario,C.P.,Provincia,Municipio,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Media C.P. Gasoleo A,...,Media Nacional Gasoleo B,Gasoleo Premium,Media C.P. Gasoleo P,Media Nacional Gasoleo P,Gasolina 95 E5,Media C.P. Gasolina 95,Media Nacional Gasolina 95,Gasolina 98 E5,Media C.P. Gasolina 98,Media Nacional Gasolina 98
0,04/07/2023 11:47:58,L-D: 07:00-22:00,02250,ALBACETE,Abengibre,ABENGIBRE,"AVENIDA CASTILLA LA MANCHA, 26",Nº 10.935,1.359,1.359000,...,1.118465,NaN,0.9990,1.536501,1.549,1.5490,1.583196,NaN,NaN,1.740466
1,04/07/2023 11:47:58,L-D: 7:00-23:00,02152,ALBACETE,Alatoz,ALATOZ,"CR CM-332, 46,4",REPSOL,1.530,1.530000,...,1.118465,2.300,NaN,1.536501,1.679,1.6790,1.583196,2.200,2.200,1.740466
2,04/07/2023 11:47:58,L-D: 24H,02001,ALBACETE,Albacete,ALBACETE,"CALLE FEDERICO GARCIA LORCA, 1",PLENOIL,1.299,1.429250,...,1.118465,NaN,NaN,1.536501,1.459,1.5590,1.583196,NaN,1.740,1.740466
3,04/07/2023 11:47:58,L-S: 08:00-22:00; D: 09:00-21:00,02001,ALBACETE,Albacete,ALBACETE,"AVENIDA 1º DE MAYO, S/N",CARREFOUR,1.459,1.429250,...,1.118465,1.499,NaN,1.536501,1.609,1.5590,1.583196,1.729,1.740,1.740466
4,04/07/2023 11:47:58,L-D: 06:00-21:30,02001,ALBACETE,Albacete,ALBACETE,CALLE PRINCIPE DE ASTURIAS (POLÍGONO DE ROMICA...,BP ROMICA,1.469,1.429250,...,1.118465,1.559,NaN,1.536501,1.609,1.5590,1.583196,1.751,1.740,1.740466
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11844,04/07/2023 11:47:58,L-D: 24H,50197,ZARAGOZA,Zaragoza,ZARAGOZA,"RONDA RONDA DE LA FERIA DE MUESTRAS, 10",MOLGAS,NaN,1.505667,...,1.118465,NaN,1.2300,1.536501,NaN,1.6390,1.583196,NaN,1.789,1.740466
11845,04/07/2023 11:47:58,L-D: 24H,50197,ZARAGOZA,Zaragoza,ZARAGOZA,"RONDA FERIA DE MUESTRAS, DE LA, 20",IDS,1.509,1.505667,...,1.118465,NaN,1.2300,1.536501,NaN,1.6390,1.583196,NaN,1.789,1.740466
11846,04/07/2023 11:47:58,L-D: 06:00-22:00,50800,ZARAGOZA,Zuera,ZUERA,"CARRETERA N-330A KM. 24,000",REPSOL,1.479,1.427000,...,1.118465,1.529,1.0265,1.536501,1.609,1.5765,1.583196,1.759,1.759,1.740466
11847,04/07/2023 11:47:58,L-D: 24H,50800,ZARAGOZA,Zuera,ZUERA,"CALLE AUSTRIA, 11,17",AN ENERGETICOS ZUERA,1.375,1.427000,...,1.118465,1.415,1.0265,1.536501,1.544,1.5765,1.583196,NaN,1.759,1.740466
11848,04/07/2023 11:47:58,L-D: 24H,50810,ZARAGOZA,Zuera,ONTINAR DE SALZ,"CALLE COOPERATIVA, 2",COOPERATIVA SAN ISIDRO,1.419,1.419000,...,1.118465,1.459,0.9300,1.536501,1.569,1.5690,1.583196,NaN,NaN,1.740466

# Limpieza de Nombres en "Proveedores de servicio

In [121]:
# Misma marca de gasolineras con nombres diferentes
df_n = df_n.sort_values('Proveedor de Servicio')

In [122]:
df_n["Proveedor de Servicio"] = df_n["Proveedor de Servicio"] .astype(str)

In [123]:
df_n.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11849 entries, 2924 to 11051
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Fecha                       11849 non-null  object
 1   Horario                     11849 non-null  object
 2   C.P.                        11849 non-null  object
 3   Provincia                   11849 non-null  object
 4   Municipio                   11849 non-null  object
 5   Localidad                   11849 non-null  object
 6   Dirección                   11849 non-null  object
 7   Proveedor de Servicio       11849 non-null  object
 8   Gasoleo A                   11495 non-null  float64
 9   Media C.P. Gasoleo A        11760 non-null  float64
 10  Media Nacional Gasoleo A    11849 non-null  float64
 11  Gasoleo B                   3000 non-null   float64
 12  Media C.P. Gasoleo B        5989 non-null   float64
 13  Media Nacional Gasoleo B    11849 non-null  float64
 14  Gasoleo Premium             7480 non-null   float64
 15  Media C.P. Gasoleo P        5989 non-null   float64
 16  Media Nacional Gasoleo P    11849 non-null  float64
 17  Gasolina 95 E5              10700 non-null  float64
 18  Media C.P. Gasolina 95      11592 non-null  float64
 19  Media Nacional Gasolina 95  11849 non-null  float64
 20  Gasolina 98 E5              5852 non-null   float64
 21  Media C.P. Gasolina 98      9596 non-null   float64
 22  Media Nacional Gasolina 98  11849 non-null  float64
dtypes: float64(15), object(8)
memory usage: 2.2+ MB

In [124]:
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].astype('string')

In [125]:
df_n.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11849 entries, 2924 to 11051
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Fecha                       11849 non-null  object
 1   Horario                     11849 non-null  object
 2   C.P.                        11849 non-null  object
 3   Provincia                   11849 non-null  object
 4   Municipio                   11849 non-null  object
 5   Localidad                   11849 non-null  object
 6   Dirección                   11849 non-null  object
 7   Proveedor de Servicio       11849 non-null  string
 8   Gasoleo A                   11495 non-null  float64
 9   Media C.P. Gasoleo A        11760 non-null  float64
 10  Media Nacional Gasoleo A    11849 non-null  float64
 11  Gasoleo B                   3000 non-null   float64
 12  Media C.P. Gasoleo B        5989 non-null   float64
 13  Media Nacional Gasoleo B    11849 non-null  float64
 14  Gasoleo Premium             7480 non-null   float64
 15  Media C.P. Gasoleo P        5989 non-null   float64
 16  Media Nacional Gasoleo P    11849 non-null  float64
 17  Gasolina 95 E5              10700 non-null  float64
 18  Media C.P. Gasolina 95      11592 non-null  float64
 19  Media Nacional Gasolina 95  11849 non-null  float64
 20  Gasolina 98 E5              5852 non-null   float64
 21  Media C.P. Gasolina 98      9596 non-null   float64
 22  Media Nacional Gasolina 98  11849 non-null  float64
dtypes: float64(15), object(7), string(1)
memory usage: 2.2+ MB

In [165]:
# Gasolineras BP
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('.', ' ')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace(',', ' ')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP \S*', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP \S[a-zA-Z0-9_]*', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BPS \S*', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BPS \S[a-zA-Z0-9_]*', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP\w*', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP  ALOD', 'BP') 
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP AVENIDA 3 DE MAYO', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP BENICADELL', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP CA SESTRELLA', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP RAMBLA INIESTA', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP SAN LUIS', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP SANTIGA', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP TACO','BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP VENTA DEL PERAL II', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP ROMICA', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOL UBEDA', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('SUTULLENA-CEPSA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('"BP"', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP ROTONDA LAS VAGUADAS S.L.', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BPBEGUR', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BPPROPERLY, S.A.', 'BP')

# Otros
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('SIN RÓTULO', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('(sin rótulo)', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('*', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('-', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('-', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('0', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('06/32718', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('12126', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('12241', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('13344', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('15909', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('1PRIMER', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('23ESO68F', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('395 2/2HS 40-80', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('41037733', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('45110020416', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('4572', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('7267', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('7345', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('96053', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('OTROS \S*', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('OTROS \S[a-zA-Z0-9_]*', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('OTROS \S[a-zA-Z0-9_]*\S[a-zA-Z0-9_]*', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('OTROSOTROSOTROSOTROSOTROSOTROS', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('OTROS\w*', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('OTROS \S*', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('\S* OTROS ', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('\S*(OTROS)\S*', 'OTROS')

# Gasolineras Varias                                                                          
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('INLOCOR S.L. "CEPSA"', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOL. LOS ANGELES DE LA MANCHA, S.L.', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP OIL', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP PARGA I PETROL BAS BEL', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('Nº 7374', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('NO', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP CASA JUANITO RESTAURANTE', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('NO HAY', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('NO TIENE', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP VILLARROBLEDO', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP ALFAZ DEL PI', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP SANDOVAL MD', 'BP')                                                                        
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP SANDOVAL MI', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP BENIDORM', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP EUROBENIDORM', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP REJAS VERDES', 'BP')

# Gasolineras Cepsa
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA ELF', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA V21', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA LEO', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA TINAJO', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA AGAETE', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA CALONGE', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP REJAS VERDES', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA INGENIO', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA ANTIGUA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA BALOS 1', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA BALOS 2', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROSELF', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA CANONCHE', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA . LOHANA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA EL PEÑON', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA VILANOVAE', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA LA ALDEA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA LA CAÑADA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA TAHICHE I', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA LA MARINA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA RELAMPAGO', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA ALMERIMAR', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROSJUBERA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA EL CUBILLO', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA TAHICHE II', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA MASPALOMAS', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA LA CAZUELA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA ETXEGARATE', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA CAOTROSNCHE', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA AGUA GARCIA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA LOS ANDENES', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA LA AZADILLA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA ', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAI', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAGLTA.EL CID', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAVILAOTROSVA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAESPAÑA S.A.', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAGRAN TARAJAL', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSASIETE PALMAS', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAHOYA PARRADO', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAA4 PINTO 365', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROSALPICAT', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSALLAOTROS AZUL', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSALOS ALMENDROS', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAMUELLE GRANDE', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROSGARCIBUR', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAPUERTO ROSARIO', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSALAS ARENAS 365', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROSE.S. ROCA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROS FIERROIL', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROSE.S.JAIME I', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAPUERTO DE LA CRUZ', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAPLAZA DEL PIOTROS', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROS ANTELA E.S.', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSACOSTA DEL SILENCIO', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOPER CANARIOS S,L.', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSATAXISTAS S.AGUSTIN', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROSARROCEROS B.G.', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROS AGROJARA, SCA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSACOD DE LOS VIOTROSS', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSALAS TORRES (TEXACO)', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOPER CANARIOS S,L.', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROSLA DEHESA S.C.A.', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSALOS PORTALES (TEXACO)', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROS LOS FILABRES SCA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROSCOOP. SAN DIONISIO', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSACIUDAD DEL AUTOMÓVIL 365', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSALISBOA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('E.S. CEPSACHIO', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSALOS LLAOTROSS OTROS GRANAD', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSALOS LLAOTROSS OTROS GRANADILLA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAVALLECASOTROSLA ATALAYUELA 365', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('E.S. CEPSALA CALETA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSALAS TORRES (TEXACO)', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAILLA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOPER CANARIOS S,L.', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSALOS PORTALES (TEXACO)', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA  ', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace(' CEPSA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOPER CANARIOS S,L.', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('ES EL CALEYU Nº 229OTROS5CEPSA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('E.S.CEPSAPONTEBRANCA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('ES VILAMARINACEPSA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('FUNDACION AIDACEPSA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('ES MIRALBUEOTROSCEPSA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('EMPRESA DEL GRUPOCEPSA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOPER CANARIOS S,L.', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA\w*', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA \S*', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA \S[a-zA-Z0-9_]*', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA \S[a-zA-Z0-9_]*\S[a-zA-Z0-9_]*', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA \S[a-zA-Z0-9_]*\S[a-zA-Z0-9_]*\S[a-zA-Z0-9_]*', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA\S*', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('LOSADACEPSA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('EE SS VENTA DEL SOLCEPSA', 'CEPSA')

# BP
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP \w[a-zA-Z0-9_]', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP\w[a-zA-Z0-9_]', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace(' BP', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('B P', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP\S*UXO', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP\w*', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP \S*w*', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP\S*', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('E S GOMEZ \S*BP', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('E S ALCARAYON \S*BP', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('AREA DE SERVICIO A2BP', 'BP')

# Gasolineras Shell
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('SHELL \S*', 'SHELL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('SHELL \S[a-zA-Z0-9_]*', 'SHELL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('SHELL VIOTROSS','SHELL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('SHELL LOS VIOTROSS','SHELL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('E.S SHELL','SHELL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('E.S SHELL ','SHELL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace( 'E.S. SHELL','SHELL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('E.S.SHELL','SHELL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('LUGO SHELL','SHELL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('SHELL.S. BELLVIS' , 'SHELL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('SHELL', 'SHELL')

# Gasolineras Alcampo
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('ALCAMPO \S*', 'ALCAMPO')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('ALCAMPO \S[a-zA-Z0-9_]*', 'ALCAMPO')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('ALCAMPO A', 'ALCAMPO')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('C C ALCAMPO', 'ALCAMPO')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('E S ALCAMPO', 'ALCAMPO')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('E S  ALCAMPO', 'ALCAMPO')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('ALCAMPO ', 'ALCAMPO')

# Gasolineras Repsol
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOL \S* \S/()', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOL \S*a-zA-Z0-9_*', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOL \S[a-zA-Z0-9_]*\S[a-zA-Z0-9_]*', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('E S REPSOL', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('E S  REPSOL', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOL ', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOL65', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOLOMAN', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOLONDA', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOLOMA', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOLTROSRIO SECO', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOLTROSE S JAIME I', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOL15/OCTUBRE/2OTROSOTROS7', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOLILA HERMAOTROSS REDONDO S', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('ES DULANTZI REPSOL', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('EDAN (REPSOL)', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BALSILLAS I (REPSOL)', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('HIJOS DE NAVARRO ROBLES (REPSOL)', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOL L', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOL AVENIDA', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOL ', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace(' REPSOL', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOL5\S*/OCTUBRE\S*/2OTROSOTROS7', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('EDAN \S*(REPSOL)', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('HIJOS DE NAVARRO ROBLES (REPSOL)', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOLADA  AVENIDA', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOLCTUALIZACION A 15/OCTUBR', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('EDAN (REPSOL)', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BALSILLAS \S*I \S*(REPSOL)', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('HIJOS DE NAVARRO ROBLES \S*(REPSOL)', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOL\w*', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOL \S*w*', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOL\S*', 'REPSOL')

# Gasolineras Disa
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('DISA \S*', 'DISA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('DISA \S[a-zA-Z0-9_]*', 'DISA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('DISA \S[a-zA-Z0-9_]*\S[a-zA-Z0-9_]*', 'DISA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('DISA         STO DOMINGO', 'DISA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('E S DISA', 'DISA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('E S  DISA', 'DISA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('E S  DISA', 'DISA')

# Gasolineras Exoil
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('EXOIL \S*', 'EXOIL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('EXOIL \S[a-zA-Z0-9_]*', 'EXOIL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('EXOIL \S[a-zA-Z0-9_]*\S[a-zA-Z0-9_]*', 'EXOIL')

# Gasolineras Energy
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('ENERGY \S*', 'ENERGY')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('ENERGY \S[a-zA-Z0-9_]*', 'ENERGY')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('ENERGY \S[a-zA-Z0-9_]*\S[a-zA-Z0-9_]*', 'ENERGY')

#Gasolineras Naturgy
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('NATURGY ', 'NATURGY')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('NATURGY \S*', 'NATURGY')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('NATURGY \S[a-zA-Z0-9_]*', 'NATURGY')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('NATURGY \S[a-zA-Z0-9_]*\S[a-zA-Z0-9_]*', 'NATURGY')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('ESNATURGY \S[a-zA-Z0-9_]*\S[a-zA-Z0-9_]*', 'NATURGY')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('NATURGYES \S[a-zA-Z0-9_]*\S[a-zA-Z0-9_]*', 'NATURGY')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('NATURGY\w*', 'NATURGY')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('NATURGY \S*w*', 'NATURGY')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('NATURGYES \S[a-zA-Z0-9_]*\S[a-zA-Z0-9_]*\S[a-zA-Z0-9_]*', 'NATURGY')

# Gasolineras Galp
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('GALP \S*', 'GALP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('GALP \S[a-zA-Z0-9_]*', 'GALP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('GALP \S[a-zA-Z0-9_]*\S[a-zA-Z0-9_]*', 'GALP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('GALP \S[a-zA-Z0-9_]*\S[a-zA-Z0-9_]*', 'GALP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('GALP \S[a-zA-Z0-9_]*\S[a-zA-Z0-9_]*', 'GALP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('GALP\w*', 'GALP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('GALP \S*w*', 'GALP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('GALP \S[a-zA-Z0-9_]*\S[a-zA-Z0-9_]*\S[a-zA-Z0-9_]*', 'GALP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('GALP ', 'GALP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('GALP&GO', 'GALP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('GALPENERGIA', 'GALP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('GALPARRIONDAS', 'GALP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('GALP(E S  ANTUNEZ)', 'GALP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('GALPOTROS3 CAMIOTROSS', 'GALP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('GALPOTROS AMERICAN PETROL', 'GALP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('GALP/3CAMIOTROSSOTROSVALENCIA', 'GALP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('GALPDISTRIBUCION OIL ESPAÑA  S A U ', 'GALP')




# ES CARBURANTES
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('\S* S\*ES \S*CABURANTES', 'ES CARBURANTES')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('ES CARBURANTES', 'ES CARBURANTES')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('ES CARBURANTES CENTRO COMERCIAL VISTALEGRE', 'ES CARBURANTES')

df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('\S*[+]B ENERGIAS ', '+B ENERGIAS')

df_n['Proveedor de Servicio']

2924        PETROL STATION
5084                  AGLA
10822              AGRICAR
10368                   BP
9371                    BP
               ...
4931             ZONA ZERO
7311                     _
11498       |> ENERTRIX <|
544             ÁRTICO OIL
11051                    €
Name: Proveedor de Servicio, Length: 11849, dtype: string

In [166]:
 df_n['Proveedor de Servicio'].iloc[5700]

'GALP'

# Guardado Dataframe

In [167]:
# Guardamos df original para sucesion de tiempo
df_n.to_csv('df_sample.csv', index=False)

In [168]:
df_n.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11849 entries, 2924 to 11051
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Fecha                       11849 non-null  object
 1   Horario                     11849 non-null  object
 2   C.P.                        11849 non-null  object
 3   Provincia                   11849 non-null  object
 4   Municipio                   11849 non-null  object
 5   Localidad                   11849 non-null  object
 6   Dirección                   11849 non-null  object
 7   Proveedor de Servicio       11849 non-null  string
 8   Gasoleo A                   11495 non-null  float64
 9   Media C.P. Gasoleo A        11760 non-null  float64
 10  Media Nacional Gasoleo A    11849 non-null  float64
 11  Gasoleo B                   3000 non-null   float64
 12  Media C.P. Gasoleo B        5989 non-null   float64
 13  Media Nacional Gasoleo B    11849 non-null  float64
 14  Gasoleo Premium             7480 non-null   float64
 15  Media C.P. Gasoleo P        5989 non-null   float64
 16  Media Nacional Gasoleo P    11849 non-null  float64
 17  Gasolina 95 E5              10700 non-null  float64
 18  Media C.P. Gasolina 95      11592 non-null  float64
 19  Media Nacional Gasolina 95  11849 non-null  float64
 20  Gasolina 98 E5              5852 non-null   float64
 21  Media C.P. Gasolina 98      9596 non-null   float64
 22  Media Nacional Gasolina 98  11849 non-null  float64
dtypes: float64(15), object(7), string(1)
memory usage: 2.2+ MB

In [130]:
x = df_n['C.P.']
print(type(x))

<class 'pandas.core.series.Series'>

In [170]:
# Analisis de Funciones

In [132]:
# Analizar df_n usando .loc()

df_n[df_n['C.P.'] == '28760']

,Fecha,Horario,C.P.,Provincia,Municipio,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Media C.P. Gasoleo A,...,Media Nacional Gasoleo B,Gasoleo Premium,Media C.P. Gasoleo P,Media Nacional Gasoleo P,Gasolina 95 E5,Media C.P. Gasolina 95,Media Nacional Gasolina 95,Gasolina 98 E5,Media C.P. Gasolina 98,Media Nacional Gasolina 98
7172,29/06/2023 16:35:25,L-D: 24H,28760,MADRID,Tres Cantos,TRES CANTOS,"AVENIDA INDUSTRIA, 44",BALLEOTROSIL,1.335,1.418714,...,1.119511,1.345,NaN,1.53853,1.469,1.558429,1.581478,NaN,1.7635,1.737381
7173,29/06/2023 16:35:25,L-D: 24H,28760,MADRID,Tres Cantos,TRES CANTOS,"AVENIDA INDUSTRIA (DE LA), S/N",BP TRES CANTOS,1.479,1.418714,...,1.119511,1.569,NaN,1.53853,1.619,1.558429,1.581478,1.761,1.7635,1.737381
7174,29/06/2023 16:35:25,L-D: 06:00-00:00,28760,MADRID,Tres Cantos,TRES CANTOS,"CALLE YUNQUE, 6",CEPSA,1.395,1.418714,...,1.119511,1.460,NaN,1.53853,1.529,1.558429,1.581478,NaN,1.7635,1.737381
7176,29/06/2023 16:35:25,L-D: 24H,28760,MADRID,Tres Cantos,TRES CANTOS,"AVENIDA INDUSTRIA (DE LA), 52",PLEOTROSIL,1.335,1.418714,...,1.119511,NaN,NaN,1.53853,1.469,1.558429,1.581478,NaN,1.7635,1.737381
7170,29/06/2023 16:35:25,L-V: 08:00-20:00,28760,MADRID,Tres Cantos,TRES CANTOS,"CL AVENIDA ARTESANOS, 40",REPSOL,1.459,1.418714,...,1.119511,NaN,NaN,1.53853,1.609,1.558429,1.581478,1.769,1.7635,1.737381
7171,29/06/2023 16:35:25,L-D: 06:00-22:00,28760,MADRID,Tres Cantos,TRES CANTOS,"CL AVDA DE LA INDUSTRIA, 33",REPSOL,1.459,1.418714,...,1.119511,1.529,NaN,1.53853,1.595,1.558429,1.581478,1.745,1.7635,1.737381
7175,29/06/2023 16:35:25,L-D: 24H,28760,MADRID,Tres Cantos,TRES CANTOS,"CL AV DE LA INDUSTRIA, 58",REPSOL,1.469,1.418714,...,1.119511,1.559,NaN,1.53853,1.619,1.558429,1.581478,1.779,1.7635,1.737381

In [133]:
df_n[['Gasoleo A']].min()

Gasoleo A    1.02
dtype: float64

In [134]:
type(df_n[['Gasoleo A']].min())

pandas.core.series.Series

In [135]:
df_n[['Gasoleo A']].idxmin()

Gasoleo A    2661
dtype: int64

In [136]:
type(df_n[['Gasoleo A']].idxmin())

pandas.core.series.Series

In [137]:
#df_n.loc[df_n[['Gasoleo A']].min()]

In [138]:
#df_n.head()

In [139]:
#df_n.loc[1.290]

In [140]:
df_n.index

Index([ 2883,  5027, 10720, 10271,  9271, 10731,  1736,   670,  1728,  1790,
       ...
         964,  2500,  4741,  2209,  4711,  4879,  7226, 11375,   537, 10935],
      dtype='int64', length=11723)

In [141]:
type(df_n.loc[df_n[['Gasoleo A']].idxmin()])

pandas.core.frame.DataFrame

In [142]:
type(df_n.loc[9213])

pandas.core.series.Series

In [143]:
a = df_n.groupby(by=["Municipio"])
a

In [144]:
b = a["C.P."].unique()
b

Municipio
Abadiño                                     [48220]
Abadín                               [27738, 27730]
Abanilla                                    [30640]
Abanto y Ciérvana-Abanto Zierbena           [48500]
Abarán                                      [30550]
                                          ...
Íscar                                       [47420]
Òdena                                       [08711]
Ólvega                                      [42110]
Órgiva                                      [18400]
Úbeda                                       [23400]
Name: C.P., Length: 3390, dtype: object

# Funciones

In [145]:
# Precio mínimo de combstible en un codigo postal 
def cp_minimo(x,y):
# x = Código Postal
# y = Tipo de combustible para el precio mínimo
    cod_postal = df_n[df_n['C.P.'] == x]
    combustible = cod_postal.loc[cod_postal[[y]].idxmin()]
    return combustible

In [146]:
cp_minimo('28760', 'Gasoleo A')

,Fecha,Horario,C.P.,Provincia,Municipio,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Media C.P. Gasoleo A,...,Media Nacional Gasoleo B,Gasoleo Premium,Media C.P. Gasoleo P,Media Nacional Gasoleo P,Gasolina 95 E5,Media C.P. Gasolina 95,Media Nacional Gasolina 95,Gasolina 98 E5,Media C.P. Gasolina 98,Media Nacional Gasolina 98
7172,29/06/2023 16:35:25,L-D: 24H,28760,MADRID,Tres Cantos,TRES CANTOS,"AVENIDA INDUSTRIA, 44",BALLEOTROSIL,1.335,1.418714,...,1.119511,1.345,NaN,1.53853,1.469,1.558429,1.581478,NaN,1.7635,1.737381

---

In [147]:
df_n[df_n['C.P.'] == "28500"]

,Fecha,Horario,C.P.,Provincia,Municipio,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Media C.P. Gasoleo A,...,Media Nacional Gasoleo B,Gasoleo Premium,Media C.P. Gasoleo P,Media Nacional Gasoleo P,Gasolina 95 E5,Media C.P. Gasolina 95,Media Nacional Gasolina 95,Gasolina 98 E5,Media C.P. Gasolina 98,Media Nacional Gasolina 98
6509,29/06/2023 16:35:25,L-D: 06:00-00:00,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA DE MADRID, 126",ATEOTROSIL,1.349,1.431769,...,1.119511,1.359,1.199,1.53853,1.519,1.586385,1.581478,NaN,1.797667,1.737381
6507,29/06/2023 16:35:25,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,"TRAVESÍA SIERRA DE GATA, 17",BALLEOTROSIL,1.339,1.431769,...,1.119511,1.349,1.199,1.53853,1.519,1.586385,1.581478,NaN,1.797667,1.737381
6504,29/06/2023 16:35:25,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,CAMINO CAMINO DE SAN MARTÍN DE LA VEGA A ARGAN...,BALLEOTROSIL,1.339,1.431769,...,1.119511,NaN,1.199,1.53853,1.519,1.586385,1.581478,NaN,1.797667,1.737381
6503,29/06/2023 16:35:25,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,"CAMINO SAN MARTIN DE LA VEGA, 8",BALLEOTROSIL,1.339,1.431769,...,1.119511,NaN,1.199,1.53853,1.519,1.586385,1.581478,NaN,1.797667,1.737381
6502,29/06/2023 16:35:25,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA EJERCITO (DEL), 44",BP ARGANDA,1.529,1.431769,...,1.119511,1.619,1.199,1.53853,1.659,1.586385,1.581478,1.801,1.797667,1.737381
6501,29/06/2023 16:35:25,L-D: 06:00-22:00,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA DE MADRID, 37",BP LA ARGANDEÑA,1.529,1.431769,...,1.119511,1.619,1.199,1.53853,1.659,1.586385,1.581478,1.801,1.797667,1.737381
6506,29/06/2023 16:35:25,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA VALDEARGANDA, 8",CEPSA,1.539,1.431769,...,1.119511,1.639,1.199,1.53853,1.659,1.586385,1.581478,1.791,1.797667,1.737381
6510,29/06/2023 16:35:25,L-D: 07:00-22:00,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA FINANZAUTO (DE), 2",DELFIOIL,1.339,1.431769,...,1.119511,NaN,1.199,1.53853,1.519,1.586385,1.581478,NaN,1.797667,1.737381
6512,29/06/2023 16:35:25,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA MADRID (DE), SN",PETROPRIX,1.339,1.431769,...,1.119511,NaN,1.199,1.53853,1.519,1.586385,1.581478,NaN,1.797667,1.737381
6505,29/06/2023 16:35:25,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA MADRID (DE), 66",PLEOTROSIL,1.339,1.431769,...,1.119511,NaN,1.199,1.53853,1.519,1.586385,1.581478,NaN,1.797667,1.737381
6511,29/06/2023 16:35:25,L: 24H,28500,MADRID,Arganda del Rey,ARGANDA,CARRETERA M-832 KM. 3,REPSOL,1.552,1.431769,...,1.119511,NaN,1.199,1.53853,1.672,1.586385,1.581478,NaN,1.797667,1.737381
6508,29/06/2023 16:35:25,L-V: 06:00-22:00; S-D: 08:00-22:00,28500,MADRID,Arganda del Rey,ARGANDA,"AVDA DE MADRID, 103",REPSOL,1.529,1.431769,...,1.119511,1.539,1.199,1.53853,1.669,1.586385,1.581478,NaN,1.797667,1.737381
6500,29/06/2023 16:35:25,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,CARRETERA M-832 KM. 3,REPSOL,1.552,1.431769,...,1.119511,1.642,1.199,1.53853,1.672,1.586385,1.581478,NaN,1.797667,1.737381

In [148]:
# Comprobación
x1 = df_n["C.P."]=='28609'
x2 = df_n[x1]
x2

,Fecha,Horario,C.P.,Provincia,Municipio,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Media C.P. Gasoleo A,...,Media Nacional Gasoleo B,Gasoleo Premium,Media C.P. Gasoleo P,Media Nacional Gasoleo P,Gasolina 95 E5,Media C.P. Gasolina 95,Media Nacional Gasolina 95,Gasolina 98 E5,Media C.P. Gasolina 98,Media Nacional Gasolina 98
7131,29/06/2023 16:35:25,L-D: 07:00-23:00,28609,MADRID,Sevilla la Nueva,SEVILLA LA NUEVA,CARRETERA M-600 KM. 44,GALP,1.439,1.464,...,1.119511,1.509,NaN,1.53853,1.599,1.60025,1.581478,1.719,1.72025,1.737381
7130,29/06/2023 16:35:25,L-D: 07:00-23:00,28609,MADRID,Sevilla la Nueva,SEVILLA LA NUEVA,CARRETERA M-600 KM. 44,GALP,1.439,1.464,...,1.119511,1.509,NaN,1.53853,1.599,1.60025,1.581478,1.719,1.72025,1.737381
7213,29/06/2023 16:35:25,L-D: 06:00-22:00,28609,MADRID,Villanueva de Perales,VILLANUEVA DE PERALES,"CARRETERA M-501 KM. 26,800",GALP,1.489,1.464,...,1.119511,1.559,NaN,1.53853,1.599,1.60025,1.581478,1.719,1.72025,1.737381
7212,29/06/2023 16:35:25,L-D: 24H,28609,MADRID,Villanueva de Perales,VILLANUEVA DE PERALES,CARRETERA M-501 KM. 27,GALP,1.489,1.464,...,1.119511,1.559,NaN,1.53853,1.604,1.60025,1.581478,1.724,1.72025,1.737381

In [149]:
########
def cp_media(x):
# x = Código Postal
# y = Tipo de combustible para el precio mínimo
    cod_postal = df_n[df_n['C.P.'] == x]
    media_cp = cod_postal[['Gasoleo A']].mean()
    return media_cp

In [150]:
#####Comprobacion#####
cp_media('28760')

Gasoleo A    1.418714
dtype: float64

In [151]:
# Precio mínimo de combstible en una Provincia  
def provincia_minimo(x, y):
# x = Provincia
# y = tipo de combustible     
    provincia = df_n[df_n["Provincia"] == x]
    minimo_prov = provincia.loc[provincia[[y]].idxmin()]
    return minimo_prov

In [152]:
provincia_minimo('MADRID', 'Gasoleo A')

,Fecha,Horario,C.P.,Provincia,Municipio,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Media C.P. Gasoleo A,...,Media Nacional Gasoleo B,Gasoleo Premium,Media C.P. Gasoleo P,Media Nacional Gasoleo P,Gasolina 95 E5,Media C.P. Gasolina 95,Media Nacional Gasolina 95,Gasolina 98 E5,Media C.P. Gasolina 98,Media Nacional Gasolina 98
6985,29/06/2023 16:35:25,L-D: 24H,28936,MADRID,Móstoles,MOSTOLES,"CALLE SIMON HERNANDEZ (DE), 73",BEROIL,1.239,1.252,...,1.119511,NaN,NaN,1.53853,1.479,1.494,1.581478,NaN,NaN,1.737381

In [153]:
# Precio mínimo de combstible en un Municipio  
def municipio_minimo(x, y):
# x = Municipio
# y = Tipo de Combustible    
    municipio = df_n[df_n["Municipio"] == x]
    municipio_min = municipio.loc[municipio[[y]].idxmin()]
    return municipio

In [154]:
municipio_minimo('Cercedilla', 'Gasoleo A')

,Fecha,Horario,C.P.,Provincia,Municipio,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Media C.P. Gasoleo A,...,Media Nacional Gasoleo B,Gasoleo Premium,Media C.P. Gasoleo P,Media Nacional Gasoleo P,Gasolina 95 E5,Media C.P. Gasolina 95,Media Nacional Gasolina 95,Gasolina 98 E5,Media C.P. Gasolina 98,Media Nacional Gasolina 98
6531,29/06/2023 16:35:25,L-S: 7:30-20:30; D: 8:30-20:00,28470,MADRID,Cercedilla,CERCEDILLA,CARRETERA M 622 (CARRETERA GUADARRAMA A LA FUE...,REPSOL,1.475,1.475,...,1.119511,NaN,NaN,1.53853,1.609,1.609,1.581478,NaN,NaN,1.737381

In [155]:
# # Precio mínimo de combstible en un proveedor de estación de servicio  
def gasolinera_minimo(x, y):
# x = Proveedor de estación de servicio
# Y = Tipo de Combustible    
    proveedor = df_n[df_n["Proveedor de Servicio"] == x]
    minimo_prov = proveedor.loc[proveedor[[y]].idxmin()]
    return minimo_prov

In [156]:
gasolinera_minimo('REPSOL', 'Gasoleo A')

,Fecha,Horario,C.P.,Provincia,Municipio,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Media C.P. Gasoleo A,...,Media Nacional Gasoleo B,Gasoleo Premium,Media C.P. Gasoleo P,Media Nacional Gasoleo P,Gasolina 95 E5,Media C.P. Gasolina 95,Media Nacional Gasolina 95,Gasolina 98 E5,Media C.P. Gasolina 98,Media Nacional Gasolina 98
9251,29/06/2023 16:35:25,L-V: 06:00-21:00; S-D: 08:00-21:00,38420,SANTA CRUZ DE TENERIFE,San Juan de la Rambla,SAN JUAN DE LA RAMBLA,"CARRETERA TF-5 KM. 46,3",REPSOL,1.089,1.142667,...,1.119511,1.214,NaN,1.53853,1.109,1.161,1.581478,1.229,1.285667,1.737381

In [157]:
# Función para convertir códigos postales
def convert(x):
# x: Municipio    
    municipio = df_n[df_n["Municipio"] == x]
    cp = municipio[["C.P.", "Municipio", "Proveedor de Servicio", "Gasoleo A"]].min()
    return cp
type(convert)

function

In [158]:
convert('Móstoles')

C.P.                               28931
Municipio                       Móstoles
Proveedor de Servicio    ALIARA ENERGÍA
Gasoleo A                          1.239
dtype: object

In [159]:
# Listado de Estaciones de Servicio por Municipio por Municipio
# x: Municipio
def gasolineras_municipio(x):
    municipio = df_n[df_n["Municipio"] == x]
    eess_mun = pd.DataFrame(municipio[["Proveedor de Servicio"]])
    return eess_mun

In [160]:
gasolineras_municipio('Navalcarnero')

     Proveedor de Servicio
7003          BALLEOTROSIL
6999                 CEPSA
7000                 CEPSA
7001                 CEPSA
6998              CHEAPOIL
6997                  GALP
6996             MAXPETROL
7002                REPSOL

In [161]:
# Listado de Gasolineras por Provincia
#x=Provincia
def gasolineras_provincia(x):
    cp_x = df_n[df_n["Provincia"] == x]
    return cp_x

In [162]:
gasolineras_provincia('HUELVA')

,Fecha,Horario,C.P.,Provincia,Municipio,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Media C.P. Gasoleo A,...,Media Nacional Gasoleo B,Gasoleo Premium,Media C.P. Gasoleo P,Media Nacional Gasoleo P,Gasolina 95 E5,Media C.P. Gasolina 95,Media Nacional Gasolina 95,Gasolina 98 E5,Media C.P. Gasolina 98,Media Nacional Gasolina 98
5434,29/06/2023 16:35:25,L-D: 07:00-22:00,21440,HUELVA,Lepe,LEPE,"CARRETERA H4116 KM. 1,7",AGLA,1.398,1.449889,...,1.119511,NaN,1.341750,1.53853,1.578,1.590000,1.581478,NaN,1.7585,1.737381
5399,29/06/2023 16:35:25,L-D: 07:30-22:00,21320,HUELVA,Cerro de Andévalo (El),CERRO DE ANDEVALO (EL),CARRETERA A-485 KM. 100,AGLA,1.398,1.393500,...,1.119511,NaN,1.280000,1.53853,1.585,1.585000,1.581478,NaN,NaN,1.737381
5378,29/06/2023 16:35:25,L-D: 24H,21710,HUELVA,Bollullos Par del Condado,BOLLULLOS PAR DEL CONDADO,"CARRETERA CARRETERA H 611 KM 4,7 KM. SN",AGLA,1.509,1.430500,...,1.119511,1.559,1.138000,1.53853,1.659,1.619000,1.581478,1.809,1.7830,1.737381
5364,29/06/2023 16:35:25,L-D: 06:00-22:00,21200,HUELVA,Aracena,ARACENA,"N-433 km 88,4",AGLA,1.479,1.488000,...,1.119511,NaN,NaN,1.53853,1.619,1.620250,1.581478,NaN,1.7790,1.737381
5385,29/06/2023 16:35:25,L-S: 07:00-22:00; D: 08:00-22:00,21270,HUELVA,Cala,CALA,"AVENIDA CONSTITUCION, 1",AGLA,1.489,1.489000,...,1.119511,NaN,NaN,1.53853,1.639,1.639000,1.581478,NaN,NaN,1.737381
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5424,29/06/2023 16:35:25,L-D: 06:30-22:30,21007,HUELVA,Huelva,HUELVA,AVDA. NUEVO COLOMBINO S/N.,TYCSA TRAFICO PESADO,1.519,1.521000,...,1.119511,1.579,1.179000,1.53853,1.649,1.659000,1.581478,1.789,1.7930,1.737381
5483,29/06/2023 16:35:25,L-V: 07:30-21:00; S: 09:00-13:00,21610,HUELVA,San Juan del Puerto,SAN JUAN DEL PUERTO,"CARRETERA A-472 SEVILLA - HUELVA KM. 78,5",VALLE ANCHO,1.349,1.427750,...,1.119511,NaN,0.989000,1.53853,1.499,1.555667,1.581478,NaN,NaN,1.737381
5436,29/06/2023 16:35:25,L-D: 24H,21440,HUELVA,Lepe,LEPE,"CALLE ESPARTEROS, 2",VIBE CARBURANTES,1.359,1.449889,...,1.119511,NaN,1.341750,1.53853,1.569,1.590000,1.581478,NaN,1.7585,1.737381
5433,29/06/2023 16:35:25,L-D: 07:00-23:00,21440,HUELVA,Lepe,LEPE,"CARRETERA LEPE-EL TERRÓN, KM 1,5 KM. 1,5",VIBEOTROSCARBURANTES,1.378,1.449889,...,1.119511,1.459,1.341750,1.53853,1.589,1.590000,1.581478,1.768,1.7585,1.737381
5475,29/06/2023 16:35:25,L-D: 24H,21720,HUELVA,Rociana del Condado,ROCIANA DEL CONDADO,"POLIGONO HUERTAS NUEVAS PARCELA 3, 3",VIRSUR,1.325,1.386333,...,1.119511,NaN,1.031667,1.53853,1.465,1.523000,1.581478,NaN,NaN,1.737381

In [163]:
# Listado de Gasolineras por Código Postal:
# x: código postal
def gasolineras_cp(x):
    cp = df_n[df_n["C.P."] == x]
    return cp

In [164]:
gasolineras_cp('28500')

,Fecha,Horario,C.P.,Provincia,Municipio,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Media C.P. Gasoleo A,...,Media Nacional Gasoleo B,Gasoleo Premium,Media C.P. Gasoleo P,Media Nacional Gasoleo P,Gasolina 95 E5,Media C.P. Gasolina 95,Media Nacional Gasolina 95,Gasolina 98 E5,Media C.P. Gasolina 98,Media Nacional Gasolina 98
6509,29/06/2023 16:35:25,L-D: 06:00-00:00,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA DE MADRID, 126",ATEOTROSIL,1.349,1.431769,...,1.119511,1.359,1.199,1.53853,1.519,1.586385,1.581478,NaN,1.797667,1.737381
6507,29/06/2023 16:35:25,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,"TRAVESÍA SIERRA DE GATA, 17",BALLEOTROSIL,1.339,1.431769,...,1.119511,1.349,1.199,1.53853,1.519,1.586385,1.581478,NaN,1.797667,1.737381
6504,29/06/2023 16:35:25,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,CAMINO CAMINO DE SAN MARTÍN DE LA VEGA A ARGAN...,BALLEOTROSIL,1.339,1.431769,...,1.119511,NaN,1.199,1.53853,1.519,1.586385,1.581478,NaN,1.797667,1.737381
6503,29/06/2023 16:35:25,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,"CAMINO SAN MARTIN DE LA VEGA, 8",BALLEOTROSIL,1.339,1.431769,...,1.119511,NaN,1.199,1.53853,1.519,1.586385,1.581478,NaN,1.797667,1.737381
6502,29/06/2023 16:35:25,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA EJERCITO (DEL), 44",BP ARGANDA,1.529,1.431769,...,1.119511,1.619,1.199,1.53853,1.659,1.586385,1.581478,1.801,1.797667,1.737381
6501,29/06/2023 16:35:25,L-D: 06:00-22:00,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA DE MADRID, 37",BP LA ARGANDEÑA,1.529,1.431769,...,1.119511,1.619,1.199,1.53853,1.659,1.586385,1.581478,1.801,1.797667,1.737381
6506,29/06/2023 16:35:25,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA VALDEARGANDA, 8",CEPSA,1.539,1.431769,...,1.119511,1.639,1.199,1.53853,1.659,1.586385,1.581478,1.791,1.797667,1.737381
6510,29/06/2023 16:35:25,L-D: 07:00-22:00,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA FINANZAUTO (DE), 2",DELFIOIL,1.339,1.431769,...,1.119511,NaN,1.199,1.53853,1.519,1.586385,1.581478,NaN,1.797667,1.737381
6512,29/06/2023 16:35:25,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA MADRID (DE), SN",PETROPRIX,1.339,1.431769,...,1.119511,NaN,1.199,1.53853,1.519,1.586385,1.581478,NaN,1.797667,1.737381
6505,29/06/2023 16:35:25,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,"AVENIDA MADRID (DE), 66",PLEOTROSIL,1.339,1.431769,...,1.119511,NaN,1.199,1.53853,1.519,1.586385,1.581478,NaN,1.797667,1.737381
6511,29/06/2023 16:35:25,L: 24H,28500,MADRID,Arganda del Rey,ARGANDA,CARRETERA M-832 KM. 3,REPSOL,1.552,1.431769,...,1.119511,NaN,1.199,1.53853,1.672,1.586385,1.581478,NaN,1.797667,1.737381
6508,29/06/2023 16:35:25,L-V: 06:00-22:00; S-D: 08:00-22:00,28500,MADRID,Arganda del Rey,ARGANDA,"AVDA DE MADRID, 103",REPSOL,1.529,1.431769,...,1.119511,1.539,1.199,1.53853,1.669,1.586385,1.581478,NaN,1.797667,1.737381
6500,29/06/2023 16:35:25,L-D: 24H,28500,MADRID,Arganda del Rey,ARGANDA,CARRETERA M-832 KM. 3,REPSOL,1.552,1.431769,...,1.119511,1.642,1.199,1.53853,1.672,1.586385,1.581478,NaN,1.797667,1.737381

In [165]:
df_n.dropna()

,Fecha,Horario,C.P.,Provincia,Municipio,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Media C.P. Gasoleo A,...,Media Nacional Gasoleo B,Gasoleo Premium,Media C.P. Gasoleo P,Media Nacional Gasoleo P,Gasolina 95 E5,Media C.P. Gasolina 95,Media Nacional Gasolina 95,Gasolina 98 E5,Media C.P. Gasolina 98,Media Nacional Gasolina 98
5027,29/06/2023 16:35:25,L-D: 06:00-23:30,18818,GRANADA,Castilléjar,CASTILLEJAR,CARRETERA BENAMAUREL-HUESCAR KM. 13,AGLA,1.459,1.459000,...,1.119511,1.509,1.129000,1.53853,1.619,1.619000,1.581478,1.789,1.789000,1.737381
10731,29/06/2023 16:35:25,L-D: 06:00-22:00,46841,VALENCIA / VALÈNCIA,Castelló de Rugat,CASTELLO DE RUGAT,CL CAÑI REAL 83,BP,1.539,1.539000,...,1.119511,1.619,1.200000,1.53853,1.669,1.669000,1.581478,1.829,1.829000,1.737381
1790,29/06/2023 16:35:25,L-D: 24H,08210,BARCELONA,Barberà del Vallès,BARBERA DEL VALLES,"CR DE RIPOLLET A SANTIGA KM 2,4",BP,1.509,1.437000,...,1.119511,1.599,1.219000,1.53853,1.689,1.643000,1.581478,1.829,1.829000,1.737381
5865,29/06/2023 16:35:25,L-D: 06:30-22:30,23400,JAÉN,Úbeda,UBEDA,CL AVENIDA DE LA LIBERTAD 76,REPSOL,1.478,1.420700,...,1.119511,1.578,1.133250,1.53853,1.608,1.573100,1.581478,1.728,1.721250,1.737381
4964,29/06/2023 16:35:25,L-S: 06:00-22:00; D: 07:00-22:00,17185,GIRONA,Vilobí d'Onyar,VILOBI D'ONYAR,CARRETERA GIRONA SANTA COLOAM FARNERS KM. 13,BP,1.499,1.479000,...,1.119511,1.579,1.399000,1.53853,1.699,1.664000,1.581478,1.839,1.839000,1.737381
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8940,29/06/2023 16:35:25,L-D: 24H,26223,RIOJA (LA),Hormilla,HORMILLA,"CALLE PRINCIPAL, S/N",VALCARCE,1.419,1.419000,...,1.119511,1.479,1.239000,1.53853,1.589,1.589000,1.581478,1.729,1.729000,1.737381
5145,29/06/2023 16:35:25,L-D: 24H,18327,GRANADA,Láchar,LACHAR,AUTOVIA A92 KM. 221,VALCARCE,1.459,1.459000,...,1.119511,1.589,1.259000,1.53853,1.579,1.579000,1.581478,1.579,1.579000,1.737381
4167,29/06/2023 16:35:25,L-D: 06:00-23:00,15100,CORUÑA (A),Carballo,CARBALLO,"LUGAR A REVOLTA, 20",VALCARCE (E S CARVOLTA S L ),1.379,1.404111,...,1.119511,1.439,1.182000,1.53853,1.589,1.590222,1.581478,1.749,1.771000,1.737381
7764,29/06/2023 16:35:25,L-D: 24H,30800,MURCIA,Lorca,LORCA,"CARRETERA A-91 KM. 3,5",VENTA LA PETRA,1.478,1.396957,...,1.119511,1.568,1.216833,1.53853,1.598,1.569714,1.581478,1.748,1.699071,1.737381
1917,29/06/2023 16:35:25,L: 07:00-22:00,08261,BARCELONA,Cardona,CARDONA,CARRETERA C-1410A KM. 29,VILALTA,1.369,1.339333,...,1.119511,1.399,1.010000,1.53853,1.519,1.509000,1.581478,1.699,1.699000,1.737381