## MVP

In [2]:
# Imports

# Pandas
import pandas as pd 

# Importo libreria para conexión a API
from urllib.request import urlopen


# Importo libreria Json para que lea
import json

#Normalizar Json
from pandas.io.json import json_normalize

# Matploylib para visualizar gráficos
import matplotlib.pyplot as plt 

# Importo libreria Streamlit para que se ejecute con el comando
import streamlit as st

---
Step 1 (Data Extraction)

In [ ]:
# Definir las variables donde meto el string que contiene la URL

endpoint ='https://sedeaplicaciones.minetur.gob.es'
parametros = '/ServiciosRESTCarburantes/PreciosCarburantes/EstacionesTerrestres/'

In [ ]:
# Vamos a guardar en una variable nuestros datos (resultado, comida) 

response = urlopen(endpoint+parametros)
type(response)

http.client.HTTPResponse

In [ ]:
# Vamos a extraer del obejto, los datos

data = response.read().decode('utf-8', 'replace')
data = json.loads(data)
type(data)

dict

In [ ]:
# Crear Dataframe

df = pd.DataFrame(data)
df

,Fecha,ListaEESSPrecio,Nota,ResultadoConsulta
0,26/10/2022 17:59:08,"{'C.P.': '02250', 'Dirección': 'AVENIDA CASTIL...",Archivo de todos los productos en todas las es...,OK
1,26/10/2022 17:59:08,"{'C.P.': '02001', 'Dirección': 'CALLE FEDERICO...",Archivo de todos los productos en todas las es...,OK
2,26/10/2022 17:59:08,"{'C.P.': '02001', 'Dirección': 'AVENIDA 1º DE ...",Archivo de todos los productos en todas las es...,OK
3,26/10/2022 17:59:08,"{'C.P.': '02001', 'Dirección': 'CALLE FEDERICO...",Archivo de todos los productos en todas las es...,OK
4,26/10/2022 17:59:08,"{'C.P.': '02001', 'Dirección': 'CALLE PRINCIPE...",Archivo de todos los productos en todas las es...,OK
...,...,...,...,...
11772,26/10/2022 17:59:08,"{'C.P.': '50197', 'Dirección': 'POLIGONO CALLE...",Archivo de todos los productos en todas las es...,OK
11773,26/10/2022 17:59:08,"{'C.P.': '50197', 'Dirección': 'RONDA FERIA DE...",Archivo de todos los productos en todas las es...,OK
11774,26/10/2022 17:59:08,"{'C.P.': '50800', 'Dirección': 'CARRETERA N-33...",Archivo de todos los productos en todas las es...,OK
11775,26/10/2022 17:59:08,"{'C.P.': '50800', 'Dirección': 'CALLE AUSTRIA,...",Archivo de todos los productos en todas las es...,OK
11776,26/10/2022 17:59:08,"{'C.P.': '50810', 'Dirección': 'CALLE COOPERAT...",Archivo de todos los productos en todas las es...,OK

---

Step 2 (Data Transformation)

In [ ]:
# Análisis de la columna Lista EESS Precio

diccionario = df['ListaEESSPrecio'].iloc[1]
type(diccionario)

dict

In [ ]:
diccionario

{'C.P.': '02001',
 'Dirección': 'CALLE FEDERICO GARCIA LORCA, 5',
 'Horario': 'L-S: 05:00-23:00',
 'Latitud': '38,997722',
 'Localidad': 'ALBACETE',
 'Longitud (WGS84)': '-1,846361',
 'Margen': 'I',
 'Municipio': 'Albacete',
 'Precio Biodiesel': '',
 'Precio Bioetanol': '',
 'Precio Gas Natural Comprimido': '',
 'Precio Gas Natural Licuado': '',
 'Precio Gases licuados del petróleo': '',
 'Precio Gasoleo A': '2,040',
 'Precio Gasoleo B': '',
 'Precio Gasoleo Premium': '',
 'Precio Gasolina 95 E10': '',
 'Precio Gasolina 95 E5': '',
 'Precio Gasolina 95 E5 Premium': '',
 'Precio Gasolina 98 E10': '',
 'Precio Gasolina 98 E5': '',
 'Precio Hidrogeno': '',
 'Provincia': 'ALBACETE',
 'Remisión': 'dm',
 'Rótulo': 'CEPSA',
 'Tipo Venta': 'R',
 '% BioEtanol': '0,0',
 '% Éster metílico': '0,0',
 'IDEESS': '4438',
 'IDMunicipio': '54',
 'IDProvincia': '02',
 'IDCCAA': '07'}

In [ ]:
# Extraigo informacion de columna EESS Precio, utilizando json normalize

df_n = pd.concat([df[['Fecha']],pd.json_normalize(df['ListaEESSPrecio'])], axis=1)
df_n

,Fecha,C.P.,Dirección,Horario,Latitud,Localidad,Longitud (WGS84),Margen,Municipio,Precio Biodiesel,...,Provincia,Remisión,Rótulo,Tipo Venta,% BioEtanol,% Éster metílico,IDEESS,IDMunicipio,IDProvincia,IDCCAA
0,26/10/2022 17:59:08,02250,"AVENIDA CASTILLA LA MANCHA, 26",L-D: 07:00-22:00,"39,211417",ABENGIBRE,"-1,539167",D,Abengibre,,...,ALBACETE,dm,Nº 10.935,P,"0,0","0,0",4375,52,02,07
1,26/10/2022 17:59:08,02001,"CALLE FEDERICO GARCIA LORCA, 5",L-S: 05:00-23:00,"38,997722",ALBACETE,"-1,846361",I,Albacete,,...,ALBACETE,dm,CEPSA,R,"0,0","0,0",4438,54,02,07
2,26/10/2022 17:59:08,02001,"AVENIDA 1º DE MAYO, S/N",L-S: 08:00-22:00; D: 09:00-21:00,"38,985667",ALBACETE,"-1,868500",N,Albacete,,...,ALBACETE,dm,CARREFOUR,P,"0,0","0,0",10765,54,02,07
3,26/10/2022 17:59:08,02001,"CALLE FEDERICO GARCIA LORCA, 1",L-D: 24H,"39,000861",ALBACETE,"-1,849833",D,Albacete,,...,ALBACETE,dm,PLENOIL,P,"0,0","0,0",13933,54,02,07
4,26/10/2022 17:59:08,02001,CALLE PRINCIPE DE ASTURIAS (POLÍGONO DE ROMICA...,L-D: 06:00-21:30,"39,054694",ALBACETE,"-1,832000",I,Albacete,,...,ALBACETE,OM,BP ROMICA,P,"0,0","0,0",12054,54,02,07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11772,26/10/2022 17:59:08,50197,"POLIGONO CALLE TURIASO, 31",L-D: 24H,"41,645722",ZARAGOZA,"-0,974194",D,Zaragoza,,...,ZARAGOZA,dm,NOIL,P,"0,0","0,0",13917,8108,50,02
11773,26/10/2022 17:59:08,50197,"RONDA FERIA DE MUESTRAS, DE LA, 20",L-D: 24H,"41,637944",ZARAGOZA,"-0,986389",D,Zaragoza,,...,ZARAGOZA,OM,IDS,P,"0,0","0,0",12472,8108,50,02
11774,26/10/2022 17:59:08,50800,"CARRETERA N-330A KM. 24,000",L-D: 06:00-22:00,"41,857000",ZUERA,"-0,794000",D,Zuera,,...,ZARAGOZA,OM,REPSOL,P,"0,0","0,0",1452,8109,50,02
11775,26/10/2022 17:59:08,50800,"CALLE AUSTRIA, 11,17",L-D: 24H,"41,883583",ZUERA,"-0,782833",D,Zuera,,...,ZARAGOZA,dm,AN ENERGETICOS ZUERA,P,"0,0","0,0",9085,8109,50,02
11776,26/10/2022 17:59:08,50810,"CALLE COOPERATIVA, 2",L-D: 24H,"41,938750",ONTINAR DE SALZ,"-0,757611",D,Zuera,,...,ZARAGOZA,dm,COOPERATIVA SAN ISIDRO,P,"0,0","0,0",9068,8109,50,02

In [ ]:
# Guardamos df original para sucesion de tiempo
#df_n.to_csv('2022-10-26x.csv', index=False)

In [ ]:
df_n.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11777 entries, 0 to 11776
Data columns (total 33 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Fecha                               11777 non-null  object
 1   C.P.                                11777 non-null  object
 2   Dirección                           11777 non-null  object
 3   Horario                             11777 non-null  object
 4   Latitud                             11777 non-null  object
 5   Localidad                           11777 non-null  object
 6   Longitud (WGS84)                    11777 non-null  object
 7   Margen                              11777 non-null  object
 8   Municipio                           11777 non-null  object
 9   Precio Biodiesel                    11777 non-null  object
 10  Precio Bioetanol                    11777 non-null  object
 11  Precio Gas Natural Comprimido       11777 non-null  object
 12  Precio Gas Natural Licuado          11777 non-null  object
 13  Precio Gases licuados del petróleo  11777 non-null  object
 14  Precio Gasoleo A                    11777 non-null  object
 15  Precio Gasoleo B                    11777 non-null  object
 16  Precio Gasoleo Premium              11777 non-null  object
 17  Precio Gasolina 95 E10              11777 non-null  object
 18  Precio Gasolina 95 E5               11777 non-null  object
 19  Precio Gasolina 95 E5 Premium       11777 non-null  object
 20  Precio Gasolina 98 E10              11777 non-null  object
 21  Precio Gasolina 98 E5               11777 non-null  object
 22  Precio Hidrogeno                    11777 non-null  object
 23  Provincia                           11777 non-null  object
 24  Remisión                            11777 non-null  object
 25  Rótulo                              11777 non-null  object
 26  Tipo Venta                          11777 non-null  object
 27  % BioEtanol                         11777 non-null  object
 28  % Éster metílico                    11777 non-null  object
 29  IDEESS                              11777 non-null  object
 30  IDMunicipio                         11777 non-null  object
 31  IDProvincia                         11777 non-null  object
 32  IDCCAA                              11777 non-null  object
dtypes: object(33)
memory usage: 3.0+ MB

---
Step (3): EDA

                                                    Análisis de Columnas

# Fecha

In [ ]:
# Fecha (solo hay una fecha)
Fecha = df_n['Fecha'].unique()
print(type(Fecha))
print(len(Fecha))
Fecha

<class 'numpy.ndarray'>
1

array(['26/10/2022 17:59:08'], dtype=object)

In [ ]:
# Nulos 
nulos_f = df_n['Fecha'].isnull().sum()
nulos_f

0

# Código Postal

In [ ]:
# Columna C.P.
cp = df_n['C.P.'].unique()
print(type(cp))
print(len(cp))
cp
# En Esaña hay 11752 codigos postales en total

<class 'numpy.ndarray'>
4535

array(['02250', '02001', '02005', ..., '50197', '50800', '50810'],
      dtype=object)

In [ ]:
# Nulos 
nulos_cp = df_n['C.P.'].isnull().sum()
nulos_cp

0

# Dirección

In [ ]:
# Columna  Dirección
direccion = df_n['Dirección'].unique()
print(type(direccion))
print(len(direccion))
direccion

<class 'numpy.ndarray'>
11458

array(['AVENIDA CASTILLA LA MANCHA, 26', 'CALLE FEDERICO GARCIA LORCA, 5',
       'AVENIDA 1º DE MAYO, S/N', ...,
       'RONDA FERIA DE MUESTRAS, DE LA, 20',
       'CARRETERA N-330A KM. 24,000', 'CALLE AUSTRIA, 11,17'],
      dtype=object)

In [ ]:
# Nulos dirección
nulos_cp = df_n['Dirección'].isnull().sum()
nulos_cp

0

# Horario

In [ ]:
# Horario
horario = df_n['Horario'].unique()
horario

array(['L-D: 07:00-22:00', 'L-S: 05:00-23:00',
       'L-S: 08:00-22:00; D: 09:00-21:00', ...,
       'L-V: 05:30-22:00; S: 07:00-15:00; D: 08:00-15:00',
       'L-V: 08:00-22:30; S: 10:00-22:30',
       'L-V: 05:00-22:00; S-D: 08:00-22:00'], dtype=object)

In [ ]:
# Nulos horario
nulos_h = df_n['Horario'].isnull().sum()
nulos_h

0

# Latitud

In [ ]:
#Latitud (Coincide Latitud y Longitud con las coordenadas en las gasolineras de Google Maps)
latitud = df_n['Latitud'].unique()
print(len(latitud ))
latitud

11416

array(['39,211417', '38,997722', '38,985667', ..., '41,857000',
       '41,883583', '41,938750'], dtype=object)

In [ ]:
# Nulos Latitud
nulos_l = df_n['Latitud'].isnull().sum()
nulos_l

0

# Longitud

In [ ]:
# Longitud (Coincide Latitud y Longitud con las coordenadas en las gasolineras de Google Maps)
Longitud = df_n['Longitud (WGS84)'].unique()
print(len(Longitud))
Longitud

11532

array(['-1,539167', '-1,846361', '-1,868500', ..., '-0,794000',
       '-0,782833', '-0,757611'], dtype=object)

In [ ]:
# Nulos Longitud
nulos_long = df_n['Longitud (WGS84)'].isnull().sum()
nulos_long

0

# Localidad

In [ ]:
#Localidad
Localidad = df_n['Localidad'].unique()
print(len(Localidad))
Localidad

4233

array(['ABENGIBRE', 'ALBACETE', 'SANTA ANA', ..., 'VILLARRAPA', 'ZUERA',
       'ONTINAR DE SALZ'], dtype=object)

In [ ]:
# Nulos Localidad
nulos_loc = df_n['Localidad'].isnull().sum()
nulos_loc

0

# Municipio

In [ ]:
# Municipio (En España hay 8131 Municipios)
Municipio = df_n['Municipio'].unique() 
print(len(Municipio))
Municipio

3432

array(['Abengibre', 'Albacete', 'Alcadozo', ...,
       'Villarroya de la Sierra', 'Zaragoza', 'Zuera'], dtype=object)

In [ ]:
# Nulos Municipio
nulos_loc = df_n['Municipio'].isnull().sum()
nulos_loc

0

# Margen

In [ ]:
# Margen
Margen = df_n['Margen'].unique()
print(len(Margen))
Margen

3

array(['D', 'I', 'N'], dtype=object)

# Provincia

In [ ]:
# Provincia (Están todas las Provinicas de España en nuestro df)
Provincia = df_n['Provincia'].unique()
print(len(Provincia))
Provincia

52

array(['ALBACETE', 'ALICANTE', 'ALMERÍA', 'ARABA/ÁLAVA', 'ASTURIAS',
       'ÁVILA', 'BADAJOZ', 'BALEARS (ILLES)', 'BARCELONA', 'BIZKAIA',
       'BURGOS', 'CÁCERES', 'CÁDIZ', 'CANTABRIA', 'CASTELLÓN / CASTELLÓ',
       'CEUTA', 'CIUDAD REAL', 'CÓRDOBA', 'CORUÑA (A)', 'CUENCA',
       'GIPUZKOA', 'GIRONA', 'GRANADA', 'GUADALAJARA', 'HUELVA', 'HUESCA',
       'JAÉN', 'LEÓN', 'LLEIDA', 'LUGO', 'MADRID', 'MÁLAGA', 'MELILLA',
       'MURCIA', 'NAVARRA', 'OURENSE', 'PALENCIA', 'PALMAS (LAS)',
       'PONTEVEDRA', 'RIOJA (LA)', 'SALAMANCA', 'SANTA CRUZ DE TENERIFE',
       'SEGOVIA', 'SEVILLA', 'SORIA', 'TARRAGONA', 'TERUEL', 'TOLEDO',
       'VALENCIA / VALÈNCIA', 'VALLADOLID', 'ZAMORA', 'ZARAGOZA'],
      dtype=object)

In [ ]:
# Nulos Provincia
nulos_prov = df_n['Provincia'].isnull().sum()
nulos_prov

0

# Remision

In [ ]:
# Remisión (Sistema de envío de información de precios y de ventas a través de API)
Remision = df_n['Remisión'].unique()
print(len(Remision))
print(type(Remision))
Remision

2
<class 'numpy.ndarray'>

array(['dm', 'OM'], dtype=object)

# Rótulo

In [ ]:
# Rótulo (En España hay 3952 marcas de Gasolineras en España según datos de Google)
Rotulo = df_n['Rótulo'].unique()
print(len(Rotulo))
print(type(Rotulo))
Rotulo

4009
<class 'numpy.ndarray'>

array(['Nº 10.935', 'CEPSA', 'CARREFOUR', ..., 'DAGO',
       'COOPERATIVA SAN LAMBERTO', 'AN ENERGETICOS ZUERA'], dtype=object)

# Tipo de Venta

In [ ]:
# Tipo Venta
tv = df_n['Tipo Venta'].unique()
print(len(tv))
print(type(tv))
tv

2
<class 'numpy.ndarray'>

array(['P', 'R'], dtype=object)

# Porcentaje de Bioetanol

In [ ]:
# % BioEtanol (La diferencia entre gasolinas E5 o E10 significan el porcentaje de Etanol (5 o 10%))
bioetanol = df_n['% BioEtanol'].unique()
print(len(bioetanol))
print(type(bioetanol))
bioetanol

3
<class 'numpy.ndarray'>

array(['0,0', '25,0', '85,0'], dtype=object)

# Porcentaje de Éster Metílico

In [ ]:
# % Éster metílico (solo para Biodiesel)
em = df_n['% Éster metílico'].unique()
print(len(em))
print(type(em))
em

6
<class 'numpy.ndarray'>

array(['0,0', '7,0', '12,0', '20,0', '30,0', '10,0'], dtype=object)

#  IDEESS

In [ ]:
# IDEESS (ID Estación de Servicio, los mismos que estaciones (filas))
IDEESS = df_n['IDEESS'].unique()
print(len(IDEESS))
type(IDEESS)
IDEESS

11777

array(['4375', '4438', '10765', ..., '1452', '9085', '9068'], dtype=object)

In [ ]:
# Nulos IDEESS
nulos_IDEESS = df_n['IDEESS'].isnull().sum()
nulos_IDEESS

0

# ID Municipio

In [ ]:
# IDMunicipio (un ID más que municipios)
idmun = df_n['IDMunicipio'].unique()
print(len(idmun))
type(idmun)
idmun

3433

array(['52', '54', '57', ..., '8103', '8108', '8109'], dtype=object)

In [ ]:
# Nulos ID Municipio
nulos_IDMunicipio = df_n['IDMunicipio'].isnull().sum()
nulos_IDMunicipio

0

# ID Provincia

In [ ]:
# IDProvincia (Los mismos ID que Provincias)
idprov = df_n['IDProvincia'].unique()
print(len(idprov))
type(idprov)
idprov

52

array(['02', '03', '04', '01', '33', '05', '06', '07', '08', '48', '09',
       '10', '11', '39', '12', '51', '13', '14', '15', '16', '20', '17',
       '18', '19', '21', '22', '23', '24', '25', '27', '28', '29', '52',
       '30', '31', '32', '34', '35', '36', '26', '37', '38', '40', '41',
       '42', '43', '44', '45', '46', '47', '49', '50'], dtype=object)

In [ ]:
nulos_IDProvincia = df_n['IDProvincia'].isnull().sum()
nulos_IDProvincia

0

# ID CCAA

In [ ]:
# IDCCAA (ID Comunidades Autónomas, 17 CCAA + Ceuta + Melilla)
# IDProvincia (Los mismos ID que Provincias)
idccaa = df_n['IDCCAA'].unique()
print(len(idccaa))
type(idccaa)
idccaa

19

array(['07', '10', '01', '16', '03', '08', '11', '04', '09', '06', '18',
       '12', '02', '13', '19', '14', '15', '05', '17'], dtype=object)

                                                Columnas Numéricas

# Biodiesel

In [ ]:
Biodiesel = df_n['Precio Biodiesel'].unique()
print(len(Biodiesel))
print(type(Biodiesel))
Biodiesel

23
<class 'numpy.ndarray'>

array(['', '1,978', '2,189', '1,999', '2,069', '1,799', '1,829', '2,049',
       '1,849', '1,889', '1,839', '1,449', '1,879', '2,040', '2,039',
       '1,869', '2,089', '1,859', '1,899', '1,949', '1,809', '1,779',
       '1,966'], dtype=object)

In [ ]:
# Convertimos columna categórica a numérica
df_n['Precio Biodiesel']=df_n['Precio Biodiesel'].str.replace(',','.')
df_n[['Precio Biodiesel']]=df_n[['Precio Biodiesel']].apply(pd.to_numeric)

In [ ]:
df_n['Precio Biodiesel'].describe()

count    37.000000
mean      1.913784
std       0.132187
min       1.449000
25%       1.849000
50%       1.899000
75%       1.999000
max       2.189000
Name: Precio Biodiesel, dtype: float64

In [ ]:
# Registros sin venta Biodiesel
sin_suministro_b = df_n['Precio Biodiesel'].isnull().sum()
sin_suministro_b

11740

## Precio Bioetanol

In [ ]:
Bioetanol = df_n['Precio Bioetanol'].unique()
print(len(Bioetanol))
print(type(Bioetanol))
Bioetanol

6
<class 'numpy.ndarray'>

array(['', '2,259', '1,982', '1,487', '2,059', '1,869'], dtype=object)

In [ ]:
# Convertimos columna categórica a numérica
df_n['Precio Bioetanol']=df_n['Precio Bioetanol'].str.replace(',','.')
df_n[['Precio Bioetanol']]=df_n[['Precio Bioetanol']].apply(pd.to_numeric)

In [ ]:
df_n['Precio Bioetanol'].describe()

count    5.000000
mean     1.931200
std      0.286159
min      1.487000
25%      1.869000
50%      1.982000
75%      2.059000
max      2.259000
Name: Precio Bioetanol, dtype: float64

In [ ]:
# Registros sin venta Biodiesel
sin_suministro_be = df_n['Precio Bioetanol'].isnull().sum()
sin_suministro_be

11772

## Precio Gas Natural Comprimido

In [ ]:
Gas_n_c = df_n['Precio Gas Natural Comprimido'].unique()
print(len(Gas_n_c))
print(type(Gas_n_c))
Gas_n_c

35
<class 'numpy.ndarray'>

array(['', '1,990', '1,468', '1,585', '1,960', '1,518', '1,438', '1,488',
       '1,409', '1,520', '1,359', '1,509', '1,398', '1,555', '1,690',
       '1,978', '1,789', '1,399', '2,523', '1,483', '2,199', '2,750',
       '2,379', '1,584', '1,385', '1,201', '1,979', '1,569', '2,279',
       '2,350', '2,986', '3,700', '1,433', '1,594', '1,709'], dtype=object)

In [ ]:
# Convertimos columna categórica a numérica
df_n['Precio Gas Natural Comprimido']=df_n['Precio Gas Natural Comprimido'].str.replace(',','.')
df_n[['Precio Gas Natural Comprimido']]=df_n[['Precio Gas Natural Comprimido']].apply(pd.to_numeric)

In [ ]:
df_n['Precio Gas Natural Comprimido'].describe()

count    122.000000
mean       1.739902
std        0.370664
min        1.201000
25%        1.468000
50%        1.585000
75%        1.990000
max        3.700000
Name: Precio Gas Natural Comprimido, dtype: float64

In [ ]:
# Registros sin venta Biodiesel
sin_suministro_be = df_n['Precio Bioetanol'].isnull().sum()
sin_suministro_be

11772

# Precio Gas Natural Licuado

In [ ]:
Gas_nat_lic = df_n['Precio Gas Natural Licuado'].unique()
print(len(Gas_nat_lic))
print(type(Gas_nat_lic))
Gas_nat_lic

17
<class 'numpy.ndarray'>

array(['', '1,449', '1,398', '1,368', '1,439', '1,339', '1,399', '1,660',
       '1,948', '2,506', '1,499', '1,433', '2,750', '2,279', '3,650',
       '1,489', '1,519'], dtype=object)

In [ ]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gas Natural Licuado']=df_n['Precio Gas Natural Licuado'].str.replace(',','.')
df_n[['Precio Gas Natural Licuado']]=df_n[['Precio Gas Natural Licuado']].apply(pd.to_numeric)

In [ ]:
df_n['Precio Gas Natural Licuado'].describe()

count    81.000000
mean      1.503086
std       0.347986
min       1.339000
25%       1.398000
50%       1.398000
75%       1.439000
max       3.650000
Name: Precio Gas Natural Licuado, dtype: float64

In [ ]:
# Registros sin venta Gas NAtural Licuado
sin_suministro_gnl = df_n['Precio Gas Natural Licuado'].isnull().sum()
sin_suministro_gnl

11696

# Precio Gases licuados del petróleo

In [ ]:
Gas_nat_lic_pet = df_n['Precio Gases licuados del petróleo'].unique()
print(len(Gas_nat_lic_pet))
print(type(Gas_nat_lic_pet))
Gas_nat_lic_pet

118
<class 'numpy.ndarray'>

array(['', '1,019', '0,898', '1,089', '1,029', '1,059', '0,969', '1,049',
       '0,999', '0,968', '1,079', '1,099', '1,039', '1,016', '1,159',
       '0,959', '1,020', '0,830', '0,930', '1,077', '1,088', '1,038',
       '1,069', '0,939', '0,910', '1,052', '1,009', '1,200', '1,119',
       '1,179', '0,980', '1,169', '0,859', '1,094', '1,095', '1,129',
       '1,054', '0,909', '0,899', '0,885', '1,098', '0,950', '0,886',
       '1,017', '0,929', '1,189', '1,060', '1,087', '1,090', '1,109',
       '1,008', '0,979', '1,018', '0,865', '0,965', '0,650', '1,138',
       '0,805', '1,022', '0,998', '0,879', '0,790', '1,004', '0,990',
       '0,970', '0,997', '0,952', '1,150', '1,025', '1,149', '0,949',
       '0,889', '1,139', '1,140', '1,220', '1,260', '1,250', '1,160',
       '0,989', '0,759', '1,118', '0,769', '0,941', '1,115', '0,919',
       '1,100', '0,977', '1,106', '0,948', '1,048', '1,130', '1,199',
       '1,155', '0,809', '0,801', '0,808', '0,799', '0,789', '0,839',
       '0,800', '0,818', '0,829', '0,958', '1,026', '0,995', '0,870',
       '0,967', '1,042', '0,974', '0,944', '0,905', '0,925', '0,915',
       '0,850', '0,779', '1,185', '1,031', '0,849'], dtype=object)

In [ ]:
# Convertimos columna categórica a numérica
df_n['Precio Gases licuados del petróleo']=df_n['Precio Gases licuados del petróleo'].str.replace(',','.')
df_n[['Precio Gases licuados del petróleo']]=df_n[['Precio Gases licuados del petróleo']].apply(pd.to_numeric)

In [ ]:
df_n['Precio Gases licuados del petróleo'].describe()

count    847.000000
mean       1.029299
std        0.078412
min        0.650000
25%        0.999000
50%        1.039000
75%        1.069000
max        1.260000
Name: Precio Gases licuados del petróleo, dtype: float64

In [ ]:
# Registros sin venta Gas NAtural Licuado del Petróleo
sin_suministro_gnlp = df_n['Precio Gases licuados del petróleo'].isnull().sum()
sin_suministro_gnlp

10937

In [ ]:
ceros_sin_suministro_gnlp = (df_n['Precio Gases licuados del petróleo'] == 0).sum()
ceros_sin_suministro_gnlp

0

# Gasoleo A

In [ ]:
Gasoleo_A = df_n['Precio Gasoleo A'].unique()
print(len(Gasoleo_A))
print(type(Gasoleo_A))
Gasoleo_A

427
<class 'numpy.ndarray'>

array(['1,939', '2,040', '1,999', '1,877', '2,029', '1,898', '1,959',
       '2,019', '2,039', '1,899', '2,035', '1,949', '1,929', '1,950', '',
       '2,049', '1,909', '2,009', '1,890', '1,869', '2,259', '2,045',
       '1,919', '1,969', '2,059', '2,025', '1,878', '1,995', '1,893',
       '1,954', '1,842', '1,979', '1,870', '1,879', '1,908', '1,987',
       '1,960', '1,930', '1,880', '1,849', '1,860', '1,820', '1,989',
       '2,079', '1,940', '1,975', '1,840', '1,760', '1,856', '1,976',
       '1,875', '1,882', '1,858', '1,994', '1,857', '1,841', '2,054',
       '2,020', '2,044', '1,897', '1,814', '1,815', '1,829', '1,837',
       '1,998', '1,888', '2,037', '2,021', '2,018', '2,004', '2,010',
       '2,015', '2,038', '2,041', '1,887', '1,889', '1,918', '1,859',
       '1,971', '1,951', '1,984', '2,034', '1,948', '1,927', '1,799',
       '1,965', '1,835', '1,885', '1,982', '1,970', '1,964', '1,845',
       '1,944', '1,936', '1,865', '2,055', '1,867', '1,947', '1,978',
       '1,839', '2,069', '1,928', '2,036', '1,904', '2,017', '1,749',
       '1,866', '1,819', '1,847', '1,895', '1,777', '2,011', '1,911',
       '2,030', '1,868', '1,826', '1,920', '1,892', '1,968', '1,985',
       '2,006', '1,886', '1,945', '1,850', '1,779', '1,739', '1,744',
       '1,855', '1,900', '1,809', '1,827', '1,997', '2,005', '1,967',
       '1,825', '2,099', '1,854', '2,074', '2,088', '2,075', '2,089',
       '1,894', '1,938', '1,913', '2,000', '1,907', '1,905', '1,937',
       '1,915', '1,990', '1,932', '2,048', '2,014', '1,926', '2,065',
       '2,050', '1,853', '1,903', '1,972', '2,109', '1,961', '2,016',
       '1,774', '1,830', '1,957', '1,891', '1,935', '1,883', '1,874',
       '1,910', '1,955', '1,958', '1,769', '1,925', '2,028', '2,086',
       '2,135', '2,097', '1,988', '2,047', '2,043', '2,073', '1,977',
       '1,823', '1,848', '2,012', '2,139', '1,902', '2,057', '1,834',
       '2,077', '1,822', '1,852', '1,824', '1,906', '1,828', '2,125',
       '1,789', '1,773', '1,846', '1,836', '1,817', '2,095', '1,812',
       '1,917', '1,797', '1,864', '2,336', '1,974', '1,731', '2,085',
       '1,795', '2,058', '1,996', '2,066', '1,873', '1,787', '1,942',
       '2,007', '2,026', '1,924', '1,991', '1,896', '1,934', '1,730',
       '1,980', '1,699', '2,024', '1,838', '1,599', '1,598', '1,759',
       '1,912', '1,770', '1,818', '1,941', '1,876', '1,705', '1,871',
       '1,800', '1,475', '1,505', '1,794', '1,766', '1,740', '1,792',
       '1,679', '1,914', '1,921', '1,805', '2,098', '2,051', '2,056',
       '2,068', '1,993', '2,061', '2,083', '1,863', '1,833', '2,149',
       '1,973', '1,862', '2,064', '2,027', '2,070', '1,962', '1,785',
       '2,309', '1,843', '1,872', '1,802', '1,790', '2,008', '1,594',
       '2,031', '2,022', '2,200', '1,750', '2,080', '1,810', '1,791',
       '1,813', '1,952', '1,804', '1,992', '1,780', '1,931', '2,042',
       '1,832', '1,851', '1,831', '1,711', '1,596', '1,986', '1,901',
       '2,072', '2,249', '1,946', '2,013', '2,279', '2,052', '1,963',
       '1,966', '1,524', '1,555', '1,535', '1,423', '1,782', '1,417',
       '2,119', '1,732', '1,796', '1,821', '2,181', '1,664', '1,981',
       '1,983', '2,084', '1,374', '1,509', '1,489', '1,469', '1,479',
       '1,449', '1,434', '1,484', '1,499', '1,464', '1,436', '1,399',
       '1,534', '1,537', '1,548', '1,539', '1,529', '1,504', '1,549',
       '1,519', '1,506', '1,495', '1,518', '1,514', '1,513', '1,485',
       '1,515', '1,468', '1,451', '1,487', '1,439', '1,527', '1,517',
       '1,531', '1,569', '1,758', '1,573', '1,528', '1,532', '1,544',
       '1,395', '1,494', '1,522', '1,497', '1,397', '1,459', '1,510',
       '1,520', '1,525', '1,483', '1,526', '1,490', '1,500', '1,448',
       '1,454', '1,553', '1,567', '1,419', '1,579', '1,609', '1,916',
       '1,720', '1,953', '1,472', '1,559', '1,689', '1,480', '1,507',
       '1,429', '1,788', '1,654', '1,613', '1,648', '1,547', '1,512',
       '1,588', '1,695', '1,498', '1,435', '1,545', '1,315', '1,493',
       '1,295', '1,538', '1,508', '1,503', '1,572', '1,488', '1,761',
       '1,575', '1,956', '1,685', '2,274', '1,783', '1,530', '1,844',
       '1,933', '1,768', '1,710', '2,150', '1,798', '1,861', '1,923',
       '1,771', '2,101', '1,767', '1,884', '2,091', '1,660'], dtype=object)

In [ ]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasoleo A']=df_n['Precio Gasoleo A'].str.replace(',','.')
df_n[['Precio Gasoleo A']]=df_n[['Precio Gasoleo A']].apply(pd.to_numeric)

In [ ]:
df_n['Precio Gasoleo A'].describe()

count    11441.000000
mean         1.956213
std          0.115925
min          1.295000
25%          1.909000
50%          1.989000
75%          2.029000
max          2.336000
Name: Precio Gasoleo A, dtype: float64

In [ ]:
# Registros sin venta Gasoleo A
sin_suministro_gA = df_n['Precio Gasoleo A'].isnull().sum()
sin_suministro_gA

343

In [ ]:
ceros_sin_suministro_gA = (df_n['Precio Gasoleo A'] == 0).sum()
ceros_sin_suministro_gA

0

# Gasoleo B

In [ ]:
Gasoleo_B = df_n['Precio Gasoleo B'].unique()
print(len(Gasoleo_A))
print(type(Gasoleo_A))
Gasoleo_B

427
<class 'numpy.ndarray'>

array(['1,440', '', '1,636', '1,450', '1,649', '1,539', '1,589', '1,433',
       '1,690', '1,520', '1,550', '1,470', '1,609', '1,593', '1,484',
       '1,489', '1,428', '1,672', '1,479', '1,509', '1,699', '1,665',
       '1,617', '1,570', '1,603', '1,530', '1,669', '1,449', '1,390',
       '1,490', '1,680', '1,679', '1,639', '1,419', '1,430', '1,574',
       '1,629', '1,546', '1,267', '1,511', '1,659', '1,614', '1,689',
       '1,569', '1,458', '1,599', '1,719', '1,714', '1,579', '1,622',
       '1,123', '1,697', '1,600', '1,749', '1,585', '1,625', '1,779',
       '1,580', '1,687', '1,529', '1,469', '1,691', '1,623', '1,643',
       '1,559', '1,635', '1,491', '1,553', '1,500', '1,495', '1,619',
       '1,499', '1,473', '1,443', '1,488', '1,632', '1,578', '1,634',
       '1,630', '1,695', '1,519', '1,549', '1,675', '1,769', '1,759',
       '1,640', '1,849', '1,739', '1,729', '1,627', '1,350', '1,740',
       '1,658', '1,653', '1,657', '1,674', '1,590', '1,620', '1,715',
       '1,560', '1,684', '1,800', '1,540', '1,702', '1,616', '1,700',
       '1,709', '1,565', '1,525', '1,839', '1,596', '1,819', '1,561',
       '1,457', '1,637', '1,403', '1,377', '1,399', '1,607', '1,480',
       '1,618', '1,583', '1,670', '1,528', '1,510', '1,406', '1,750',
       '1,340', '1,566', '1,451', '1,475', '1,650', '1,109', '1,453',
       '1,398', '1,692', '1,349', '1,492', '1,461', '1,533', '1,380',
       '1,522', '1,447', '1,662', '1,421', '1,393', '1,400', '1,385',
       '1,409', '1,537', '1,315', '1,439', '1,545', '1,556', '1,420',
       '1,459', '1,471', '1,592', '1,682', '1,792', '1,949', '1,789',
       '1,765', '1,535', '1,547', '1,707', '1,706', '1,496', '1,660',
       '1,748', '1,460', '1,726', '1,604', '1,562', '1,608', '1,638',
       '1,725', '1,655', '1,685', '1,564', '1,330', '1,266', '1,416',
       '1,671', '1,597', '1,009', '1,615', '1,588', '1,415', '1,668',
       '1,482', '1,465', '1,631', '1,412', '1,300', '1,477', '1,429',
       '1,517', '1,468', '1,628', '1,595', '1,446', '1,538', '1,270',
       '1,571', '1,455', '1,626', '1,621', '1,778', '1,601', '1,534',
       '1,598', '1,498', '1,610', '1,359', '1,435', '1,485', '1,466',
       '1,423', '1,654', '1,494', '1,673', '1,448', '1,688', '1,462',
       '1,299', '1,483', '1,581', '1,555', '1,413', '1,360', '1,387',
       '1,395', '1,554', '1,408', '1,497', '1,611', '1,404', '1,394',
       '1,445', '1,336', '1,322', '1,612', '1,664', '1,474', '1,379',
       '1,382', '1,410', '1,575', '1,436', '1,666', '1,646', '1,698',
       '1,661', '1,647', '1,710', '1,606', '1,651', '1,686', '1,452',
       '1,454', '1,502', '1,427', '1,424', '1,478', '1,464', '1,434',
       '1,746', '1,764', '1,734', '1,713', '1,514', '1,757', '1,683',
       '1,736', '1,584', '1,774', '1,890', '1,587', '1,542', '1,799',
       '1,417', '1,548', '1,624', '1,667', '1,442', '1,602', '1,605',
       '1,513', '1,383', '1,526', '1,633', '1,348', '1,900', '1,375',
       '1,337', '1,456', '1,389', '1,397', '1,760', '1,573', '1,431',
       '1,503', '1,532', '1,577', '1,641', '1,576', '1,505', '1,370',
       '1,594', '1,214', '1,507', '1,704', '1,558', '1,391', '1,463',
       '1,572', '1,386', '1,438', '1,425', '1,306', '1,656', '1,676',
       '1,170', '1,323', '1,487', '1,392', '1,481', '1,426', '1,467',
       '1,402', '1,329', '1,320', '1,677', '1,752', '1,783', '1,648',
       '1,331', '1,523', '1,356', '1,735', '1,346', '1,521', '1,327',
       '1,374', '1,696', '1,361', '1,512', '1,694', '1,289', '1,730',
       '1,355', '1,567', '1,644', '1,755', '1,344', '1,613', '1,422',
       '1,859', '1,771', '1,645', '1,717', '1,586', '1,371', '1,437',
       '1,248', '1,678', '1,432', '1,518', '1,524', '1,411', '1,354',
       '1,302', '1,130', '1,476', '1,563', '1,335', '1,262', '1,557',
       '1,269', '1,486', '1,286', '1,280', '1,551', '1,527', '1,516',
       '1,552', '1,253', '1,501', '1,339', '1,328', '1,508', '1,504',
       '1,809', '1,310', '1,296', '1,732', '1,441', '1,345', '1,642',
       '1,227', '1,568', '1,290', '1,418', '1,230', '1,414', '1,260',
       '1,582'], dtype=object)

In [ ]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasoleo B']=df_n['Precio Gasoleo B'].str.replace(',','.')
df_n[['Precio Gasoleo B']]=df_n[['Precio Gasoleo B']].apply(pd.to_numeric)

In [ ]:
df_n['Precio Gasoleo B'].describe()

count    3006.000000
mean        1.565684
std         0.103675
min         1.009000
25%         1.490000
50%         1.579000
75%         1.640000
max         1.949000
Name: Precio Gasoleo B, dtype: float64

In [ ]:
# Registros sin venta Gasoleo B
sin_suministro_gB = df_n['Precio Gasoleo B'].isnull().sum()
sin_suministro_gB

8778

In [ ]:
ceros_sin_suministro_gB = (df_n['Precio Gasoleo B'] == 0).sum()
ceros_sin_suministro_gB

0

# Precio Gasoleo Premium

In [ ]:
Gasoleo_P = df_n['Precio Gasoleo Premium'].unique()
print(len(Gasoleo_P))
print(type(Gasoleo_P))
Gasoleo_P

364
<class 'numpy.ndarray'>

array(['', '2,039', '2,119', '2,089', '1,948', '2,019', '2,099', '2,109',
       '1,959', '2,101', '2,069', '1,999', '2,059', '2,049', '1,990',
       '1,979', '1,966', '2,079', '2,149', '2,125', '1,989', '2,105',
       '2,029', '2,055', '2,139', '2,129', '1,889', '2,084', '2,144',
       '2,124', '1,867', '2,098', '2,103', '2,095', '2,091', '2,078',
       '2,058', '2,229', '2,115', '2,009', '1,899', '1,939', '1,859',
       '2,104', '2,006', '2,113', '1,885', '2,114', '2,034', '2,117',
       '2,036', '2,044', '2,074', '1,988', '2,065', '2,155', '2,085',
       '2,138', '2,110', '1,879', '2,159', '2,169', '2,999', '1,919',
       '1,929', '2,102', '1,974', '1,949', '2,087', '1,935', '1,969',
       '2,081', '2,100', '1,977', '2,033', '2,096', '1,878', '1,897',
       '2,088', '1,926', '2,093', '2,042', '1,900', '1,849', '1,927',
       '1,875', '1,855', '1,903', '1,936', '1,882', '2,075', '2,070',
       '1,895', '2,205', '2,189', '2,164', '2,134', '2,165', '2,179',
       '1,887', '1,968', '2,004', '1,963', '2,064', '1,945', '1,925',
       '1,975', '2,030', '2,145', '1,950', '1,997', '2,135', '2,120',
       '2,128', '1,789', '1,874', '2,111', '2,057', '2,131', '1,928',
       '2,118', '2,126', '2,251', '2,127', '2,000', '2,108', '1,917',
       '1,908', '2,040', '1,869', '2,054', '2,080', '1,965', '1,918',
       '2,094', '2,015', '1,909', '1,675', '1,946', '2,050', '1,857',
       '1,904', '1,947', '1,865', '1,998', '1,817', '1,938', '1,829',
       '2,045', '1,888', '1,987', '2,185', '2,066', '2,175', '2,077',
       '1,819', '2,161', '1,910', '2,152', '2,048', '2,097', '2,053',
       '2,068', '1,907', '2,047', '1,797', '2,035', '1,719', '1,995',
       '2,024', '2,021', '2,025', '1,639', '2,090', '2,056', '2,071',
       '1,860', '2,051', '1,954', '1,985', '2,060', '1,973', '1,978',
       '2,107', '2,148', '2,083', '2,086', '1,934', '2,215', '2,137',
       '2,011', '1,992', '1,914', '2,007', '2,061', '1,877', '2,063',
       '2,082', '1,839', '2,005', '1,809', '2,023', '1,930', '2,018',
       '2,027', '1,890', '2,020', '2,219', '1,883', '2,076', '2,052',
       '2,140', '2,199', '1,847', '2,172', '1,864', '1,994', '1,940',
       '1,799', '1,896', '2,299', '2,038', '1,827', '2,121', '1,984',
       '1,962', '1,891', '1,941', '1,937', '1,835', '2,014', '2,026',
       '1,894', '1,943', '1,555', '1,564', '1,585', '1,898', '2,032',
       '1,841', '1,916', '1,837', '1,958', '2,301', '1,944', '1,957',
       '1,559', '1,644', '1,619', '1,599', '1,579', '1,679', '1,649',
       '1,605', '1,550', '1,634', '1,629', '1,609', '1,624', '1,611',
       '1,623', '1,659', '1,618', '1,601', '1,631', '1,625', '1,604',
       '1,587', '1,689', '1,718', '1,633', '1,642', '1,614', '1,549',
       '1,620', '1,669', '1,525', '1,699', '1,622', '1,627', '1,636',
       '1,654', '1,628', '1,630', '1,584', '1,510', '1,554', '1,557',
       '1,653', '1,600', '1,688', '1,700', '1,637', '2,178', '2,037',
       '1,961', '2,154', '2,028', '2,041', '1,643', '1,520', '1,647',
       '1,833', '1,641', '1,871', '1,626', '1,547', '1,714', '1,569',
       '1,593', '1,558', '1,832', '1,735', '1,603', '1,465', '1,573',
       '1,499', '1,660', '1,638', '1,695', '1,793', '1,646', '1,686',
       '1,574', '1,594', '1,709', '1,596', '1,588', '2,228', '2,156',
       '2,017', '2,146', '2,142', '1,886', '1,933', '1,842', '1,850',
       '2,067', '1,955', '1,924', '1,870', '1,915', '1,905', '1,951',
       '1,822', '2,130', '1,967', '2,151', '1,856', '1,880', '1,866',
       '1,960', '1,923', '2,092', '2,043', '2,046', '1,970', '1,777',
       '1,779', '2,062', '2,016', '2,008', '1,920', '1,953'], dtype=object)

In [ ]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasoleo Premium']=df_n['Precio Gasoleo Premium'].str.replace(',','.')
df_n[['Precio Gasoleo Premium']]=df_n[['Precio Gasoleo Premium']].apply(pd.to_numeric)

In [ ]:
df_n['Precio Gasoleo Premium'].describe()

count    7516.000000
mean        2.051307
std         0.114065
min         1.465000
25%         2.039000
50%         2.079000
75%         2.115000
max         2.999000
Name: Precio Gasoleo Premium, dtype: float64

In [ ]:
# Registros sin venta Gasoleo Premium
sin_suministro_gP = df_n['Precio Gasoleo Premium'].isnull().sum()
sin_suministro_gP

4268

In [ ]:
ceros_sin_suministro_gP = (df_n['Precio Gasoleo Premium'] == 0).sum()
ceros_sin_suministro_gP

0

# Precio Gasolina 95 E10

In [ ]:
g95_E10 = df_n['Precio Gasolina 95 E10'].unique()
print(len(g95_E10))
print(type(g95_E10))
g95_E10

17
<class 'numpy.ndarray'>

array(['', '2,129', '1,939', '1,769', '1,819', '1,720', '1,829', '1,889',
       '1,849', '1,609', '1,749', '1,669', '1,717', '1,899', '1,929',
       '1,919', '1,868'], dtype=object)

In [ ]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasolina 95 E10']=df_n['Precio Gasolina 95 E10'].str.replace(',','.')
df_n[['Precio Gasolina 95 E10']]=df_n[['Precio Gasolina 95 E10']].apply(pd.to_numeric)

In [ ]:
 df_n['Precio Gasolina 95 E10'].describe()

count    21.000000
mean      1.839857
std       0.112732
min       1.609000
25%       1.769000
50%       1.849000
75%       1.899000
max       2.129000
Name: Precio Gasolina 95 E10, dtype: float64

In [ ]:
# Registros sin venta Gasoleo Premium
sin_suministro_95E10 = df_n['Precio Gasolina 95 E10'].isnull().sum()
sin_suministro_95E10

11763

# Precio Gasolina 95 E5

In [ ]:
g95_E5 = df_n['Precio Gasolina 95 E5'].unique()
print(len(g95_E5))
print(type(g95_E5))
g95_E5

446
<class 'numpy.ndarray'>

array(['1,739', '', '1,789', '1,657', '1,779', '1,728', '1,799', '1,769',
       '1,659', '1,764', '1,749', '1,729', '1,730', '1,745', '1,750',
       '1,649', '2,299', '1,759', '1,829', '1,774', '1,709', '1,719',
       '1,638', '1,806', '1,632', '1,809', '1,700', '1,708', '1,629',
       '1,775', '1,869', '1,805', '1,689', '1,714', '1,602', '1,627',
       '1,839', '1,673', '1,794', '1,744', '1,699', '1,702', '1,754',
       '1,804', '1,859', '1,697', '1,679', '1,625', '1,595', '1,547',
       '1,762', '1,757', '1,716', '1,777', '1,758', '1,748', '1,747',
       '1,849', '1,778', '1,667', '1,669', '1,819', '1,783', '1,760',
       '1,619', '1,755', '1,665', '1,626', '1,645', '1,784', '1,742',
       '1,734', '1,746', '1,798', '1,687', '1,737', '1,677', '1,639',
       '1,609', '1,879', '1,718', '1,776', '1,599', '1,617', '1,557',
       '1,605', '1,800', '1,698', '1,814', '1,658', '1,810', '1,715',
       '1,787', '1,663', '1,610', '1,640', '1,579', '1,969', '1,621',
       '1,633', '1,660', '1,785', '1,732', '1,795', '1,797', '1,939',
       '1,791', '1,670', '1,615', '1,780', '1,770', '1,834', '1,825',
       '1,844', '1,898', '1,704', '1,909', '1,938', '1,768', '1,889',
       '1,738', '2,000', '1,725', '1,899', '1,884', '1,929', '1,919',
       '1,864', '1,863', '1,870', '1,918', '1,840', '1,850', '1,650',
       '1,678', '1,845', '1,676', '1,722', '1,630', '1,857', '1,655',
       '1,920', '1,828', '1,735', '1,817', '1,733', '1,999', '1,685',
       '1,788', '1,815', '1,801', '1,837', '1,824', '1,827', '1,813',
       '1,858', '1,668', '1,588', '1,727', '1,855', '1,793', '1,835',
       '1,726', '1,867', '1,592', '1,683', '1,647', '1,861', '1,648',
       '1,587', '1,608', '1,843', '1,591', '1,589', '1,635', '1,590',
       '1,680', '1,736', '1,574', '1,874', '1,578', '1,823', '1,717',
       '1,664', '1,694', '1,598', '1,593', '1,897', '1,949', '2,086',
       '1,868', '1,765', '1,796', '1,848', '2,149', '1,885', '1,818',
       '1,854', '1,634', '1,674', '1,675', '1,772', '1,724', '1,696',
       '1,720', '1,860', '1,790', '1,830', '1,740', '1,604', '1,900',
       '1,600', '1,688', '1,620', '1,622', '1,838', '1,761', '1,624',
       '1,603', '1,409', '1,408', '1,641', '1,695', '1,656', '1,597',
       '1,612', '1,820', '1,560', '1,616', '1,306', '1,637', '1,653',
       '1,340', '1,614', '1,989', '1,875', '1,901', '1,894', '1,959',
       '1,933', '1,888', '1,923', '1,924', '1,865', '1,911', '1,905',
       '1,937', '1,682', '1,965', '1,917', '1,782', '1,662', '1,841',
       '2,329', '1,672', '1,564', '1,808', '1,643', '1,705', '1,710',
       '1,690', '1,731', '1,706', '1,767', '1,893', '1,646', '1,751',
       '1,652', '1,853', '2,120', '1,703', '1,856', '1,847', '1,594',
       '1,596', '1,812', '1,586', '1,763', '1,601', '1,644', '1,567',
       '1,577', '1,559', '1,654', '1,684', '1,974', '2,139', '1,756',
       '1,711', '1,811', '1,707', '1,786', '1,661', '1,329', '1,348',
       '1,349', '2,100', '1,623', '1,666', '1,572', '1,981', '1,833',
       '1,713', '1,846', '1,484', '1,339', '1,435', '1,379', '1,459',
       '1,359', '1,259', '1,169', '1,439', '1,369', '1,300', '1,425',
       '1,489', '1,498', '1,478', '1,499', '1,479', '1,440', '1,494',
       '1,442', '1,469', '1,430', '1,488', '1,519', '1,509', '1,485',
       '1,515', '1,487', '1,249', '1,475', '1,429', '1,470', '1,539',
       '1,492', '1,521', '1,503', '1,454', '1,444', '1,474', '1,502',
       '1,279', '1,473', '1,289', '1,480', '1,495', '1,468', '1,514',
       '1,464', '1,471', '1,461', '1,496', '1,399', '1,497', '1,506',
       '1,449', '1,450', '1,460', '1,434', '1,428', '1,190', '1,374',
       '1,427', '1,419', '1,529', '1,831', '1,882', '1,792', '1,891',
       '1,904', '1,753', '1,693', '1,239', '1,458', '1,265', '1,414',
       '1,389', '1,375', '1,380', '1,402', '1,386', '1,395', '1,410',
       '1,424', '1,452', '1,297', '1,377', '1,388', '1,295', '1,421',
       '1,530', '1,445', '1,195', '1,298', '1,412', '1,175', '1,299',
       '1,465', '1,415', '1,385', '1,422', '1,397', '1,448', '1,443',
       '1,472', '1,378', '1,404', '1,413', '1,376', '1,401', '1,561',
       '1,423', '1,205', '1,463', '1,225', '1,403', '1,209', '1,364',
       '1,387', '1,396', '1,651', '1,771', '1,890', '1,878', '1,607',
       '2,069', '1,842', '1,961', '1,686', '1,701', '1,618', '1,636',
       '2,027', '1,555', '1,628', '1,826', '1,773', '1,807', '1,822',
       '1,781', '1,930', '1,691', '1,741'], dtype=object)

In [ ]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasolina 95 E5']=df_n['Precio Gasolina 95 E5'].str.replace(',','.')
df_n[['Precio Gasolina 95 E5']]=df_n[['Precio Gasolina 95 E5']].apply(pd.to_numeric)

In [ ]:
df_n['Precio Gasolina 95 E5'].describe()

count    10644.000000
mean         1.752631
std          0.095796
min          1.169000
25%          1.719000
50%          1.769000
75%          1.809000
max          2.329000
Name: Precio Gasolina 95 E5, dtype: float64

In [ ]:
# Registros sin venta Gasoleo Premium
sin_suministro_g95E5 = df_n['Precio Gasolina 95 E5'].isnull().sum()
sin_suministro_g95E5

1140

In [ ]:
ceros_sin_suministro_g95E5  = (df_n['Precio Gasolina 95 E5'] == 0).sum()
ceros_sin_suministro_g95E5

0

# Precio Gasolina 95 E5 Premium

In [ ]:
g95_E5_P = df_n['Precio Gasolina 95 E5 Premium'].unique()
print(len(g95_E5_P))
print(type(g95_E5_P))
g95_E5_P

93
<class 'numpy.ndarray'>

array(['', '1,829', '1,854', '1,789', '1,819', '1,869', '1,759', '1,859',
       '1,769', '1,979', '1,864', '1,837', '1,844', '1,779', '1,879',
       '1,839', '1,784', '1,809', '1,799', '1,889', '1,824', '1,679',
       '1,849', '1,909', '1,899', '1,698', '1,894', '1,689', '1,589',
       '1,639', '1,629', '1,814', '1,914', '1,919', '1,959', '1,929',
       '1,939', '1,815', '1,904', '1,835', '1,949', '1,989', '1,999',
       '1,754', '1,739', '1,718', '1,694', '1,916', '1,934', '1,774',
       '1,874', '1,669', '1,954', '1,749', '1,924', '1,834', '1,840',
       '1,444', '1,850', '1,884', '1,709', '1,719', '1,808', '1,765',
       '1,793', '1,785', '1,858', '1,650', '1,678', '1,729', '1,667',
       '1,727', '1,697', '1,699', '1,768', '1,627', '1,822', '1,969',
       '1,359', '1,519', '1,449', '1,880', '1,642', '1,851', '1,655',
       '1,868', '1,811', '1,711', '1,926', '2,099', '1,804', '1,895',
       '1,847'], dtype=object)

In [ ]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasolina 95 E5 Premium']=df_n['Precio Gasolina 95 E5 Premium'].str.replace(',','.')
df_n[['Precio Gasolina 95 E5 Premium']]=df_n[['Precio Gasolina 95 E5 Premium']].apply(pd.to_numeric)

In [ ]:
df_n['Precio Gasolina 95 E5 Premium'].describe()

count    795.000000
mean       1.842216
std        0.074064
min        1.359000
25%        1.814000
50%        1.859000
75%        1.889000
max        2.099000
Name: Precio Gasolina 95 E5 Premium, dtype: float64

In [ ]:
# Registros sin venta Gasolina 95 E5 Premium
sin_suministro_g95E5_Prem = df_n['Precio Gasolina 95 E5 Premium'].isnull().sum()
sin_suministro_g95E5_Prem

10989

In [ ]:
ceros_sin_suministro_g95E5_Prem  = (df_n['Precio Gasolina 95 E5 Premium'] == 0).sum()
ceros_sin_suministro_g95E5

0

# Precio Gasolina 98 E10

In [ ]:
g98_E10 = df_n['Precio Gasolina 98 E10'].unique()
print(len(g98_E10))
print(type(g98_E10))
g98_E10

8
<class 'numpy.ndarray'>

array(['', '1,995', '1,839', '1,788', '1,907', '1,939', '1,949', '1,838'],
      dtype=object)

In [ ]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasolina 98 E10']=df_n['Precio Gasolina 98 E10'].str.replace(',','.')
df_n[['Precio Gasolina 98 E10']]=df_n[['Precio Gasolina 98 E10']].apply(pd.to_numeric)

In [ ]:
df_n['Precio Gasolina 98 E10'].describe()

count    8.000000
mean     1.899250
std      0.070327
min      1.788000
25%      1.838750
50%      1.923000
75%      1.941500
max      1.995000
Name: Precio Gasolina 98 E10, dtype: float64

In [ ]:
# Registros sin venta Gasolina 98 E10 
sin_suministro_g98E10 = df_n['Precio Gasolina 98 E10'].isnull().sum()
sin_suministro_g98E10

11776

# Precio Gasolina 98 E5

In [ ]:
g98_E5 = df_n['Precio Gasolina 98 E5'].unique()
print(len(g98_E5))
print(type(g98_E5))
g98_E5

400
<class 'numpy.ndarray'>

array(['', '1,919', '1,921', '1,889', '1,849', '1,939', '1,929', '1,899',
       '1,959', '1,896', '1,859', '1,869', '1,855', '1,989', '2,369',
       '1,911', '1,909', '1,906', '1,931', '1,879', '2,099', '1,839',
       '1,969', '1,846', '2,179', '1,891', '1,999', '1,924', '1,884',
       '1,951', '1,949', '1,947', '1,823', '1,888', '2,599', '1,941',
       '1,988', '1,918', '1,913', '1,901', '1,961', '1,979', '1,954',
       '1,806', '1,875', '1,903', '1,735', '1,904', '1,907', '1,841',
       '1,729', '1,779', '1,946', '1,890', '1,932', '2,009', '2,019',
       '2,999', '1,894', '1,819', '1,809', '1,905', '1,936', '1,966',
       '1,816', '1,955', '1,686', '1,930', '1,861', '1,828', '2,000',
       '2,029', '1,857', '1,854', '1,926', '1,765', '1,895', '2,071',
       '2,039', '2,169', '1,974', '1,971', '2,018', '1,978', '1,976',
       '2,001', '1,844', '2,038', '1,972', '1,880', '1,868', '1,991',
       '1,900', '2,026', '2,011', '1,950', '2,037', '1,881', '1,865',
       '1,981', '2,109', '1,990', '1,799', '1,775', '1,914', '1,848',
       '1,876', '1,915', '1,789', '1,886', '2,059', '1,858', '2,300',
       '1,965', '1,987', '1,968', '1,985', '1,927', '1,769', '2,006',
       '2,025', '1,792', '2,021', '1,829', '1,948', '1,934', '1,997',
       '1,831', '1,802', '2,160', '1,874', '1,722', '1,956', '1,739',
       '2,005', '1,917', '1,942', '2,055', '1,725', '1,784', '2,150',
       '1,938', '1,928', '1,916', '1,712', '1,995', '1,822', '1,908',
       '1,749', '1,998', '2,124', '2,088', '2,089', '1,996', '2,049',
       '2,065', '1,993', '1,897', '2,139', '2,199', '1,878', '1,964',
       '2,014', '1,814', '1,864', '1,776', '2,079', '1,935', '2,209',
       '1,945', '1,898', '1,760', '1,910', '2,048', '1,445', '1,438',
       '1,994', '2,149', '2,069', '1,871', '2,229', '1,825', '1,975',
       '1,851', '1,958', '1,925', '2,031', '2,095', '1,937', '2,047',
       '2,159', '2,098', '2,028', '2,017', '2,064', '2,024', '1,980',
       '2,061', '1,834', '1,708', '1,842', '2,060', '1,986', '1,992',
       '1,920', '2,129', '1,755', '2,013', '1,810', '1,933', '1,767',
       '2,500', '1,815', '1,944', '1,845', '1,922', '1,923', '1,940',
       '1,820', '1,870', '1,853', '1,835', '2,010', '2,299', '1,602',
       '2,120', '2,200', '2,074', '2,032', '1,967', '1,759', '1,804',
       '1,727', '1,902', '1,863', '1,862', '2,020', '1,730', '1,794',
       '1,877', '1,838', '1,953', '1,970', '1,843', '1,952', '2,239',
       '1,805', '1,788', '1,943', '1,757', '1,797', '1,706', '1,780',
       '2,215', '1,977', '2,046', '1,574', '1,534', '1,570', '1,499',
       '1,669', '1,539', '1,459', '1,469', '1,345', '1,649', '1,489',
       '1,589', '1,450', '1,560', '1,594', '1,613', '1,629', '1,569',
       '1,559', '1,584', '1,551', '1,549', '1,561', '1,572', '1,659',
       '1,598', '1,632', '1,601', '1,599', '1,617', '1,409', '1,558',
       '1,479', '1,576', '1,564', '1,635', '1,684', '1,663', '1,723',
       '1,608', '1,609', '1,604', '1,579', '1,544', '1,529', '1,610',
       '1,620', '1,580', '1,674', '1,689', '1,644', '1,567', '1,625',
       '1,628', '1,626', '1,588', '1,597', '1,557', '1,595', '1,585',
       '1,509', '1,532', '1,554', '1,648', '1,627', '1,837', '2,015',
       '2,004', '2,008', '1,369', '1,704', '1,514', '1,420', '1,520',
       '1,619', '1,494', '1,516', '1,464', '1,524', '1,700', '1,457',
       '1,429', '1,455', '1,713', '1,683', '1,682', '1,550', '1,578',
       '1,377', '1,497', '1,519', '1,485', '1,690', '1,365', '1,515',
       '1,500', '1,699', '1,517', '1,650', '1,380', '1,505', '1,458',
       '1,508', '1,498', '1,486', '1,541', '1,423', '1,593', '1,495',
       '1,444', '1,424', '1,487', '1,538', '1,436', '1,639', '1,591',
       '1,510', '1,528', '1,525', '1,546', '1,536', '1,475', '2,058',
       '2,237', '1,719', '2,219', '1,873', '1,768', '2,450', '1,833',
       '1,800', '1,867', '2,220', '1,807', '2,119', '1,813', '2,073',
       '1,856', '1,740', '1,748', '2,279', '1,795', '2,250', '1,850'],
      dtype=object)

In [ ]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasolina 98 E5']=df_n['Precio Gasolina 98 E5'].str.replace(',','.')
df_n[['Precio Gasolina 98 E5']]=df_n[['Precio Gasolina 98 E5']].apply(pd.to_numeric)

In [ ]:
df_n['Precio Gasolina 98 E5'].describe()

count    5948.000000
mean        1.902510
std         0.115451
min         1.345000
25%         1.879000
50%         1.919000
75%         1.959000
max         2.999000
Name: Precio Gasolina 98 E5, dtype: float64

In [ ]:
# Registros sin venta Gasolina 98 E5 
sin_suministro_g98E5 = df_n['Precio Gasolina 98 E5'].isnull().sum()
sin_suministro_g98E5

5836

In [ ]:
ceros_sin_suministro_g98E5  = (df_n['Precio Gasolina 98 E5'] == 0).sum()
ceros_sin_suministro_g98E5

0

# Precio Hidrogeno

In [ ]:
Hidrongeno = df_n['Precio Hidrogeno'].unique()
print(len(Hidrongeno))
print(type(Hidrongeno))
Hidrongeno

1
<class 'numpy.ndarray'>

array([''], dtype=object)

In [ ]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Hidrogeno']=df_n['Precio Hidrogeno'].str.replace(',','.')
df_n[['Precio Hidrogeno']]=df_n[['Precio Hidrogeno']].apply(pd.to_numeric)

In [ ]:
df_n['Precio Hidrogeno'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: Precio Hidrogeno, dtype: float64

In [ ]:
df_n.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11784 entries, 0 to 11783
Data columns (total 33 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Fecha                               11784 non-null  object
 1   C.P.                                11784 non-null  object
 2   Dirección                           11784 non-null  object
 3   Horario                             11784 non-null  object
 4   Latitud                             11784 non-null  object
 5   Localidad                           11784 non-null  object
 6   Longitud (WGS84)                    11784 non-null  object
 7   Margen                              11784 non-null  object
 8   Municipio                           11784 non-null  object
 9   Precio Biodiesel                    37 non-null     float64
 10  Precio Bioetanol                    5 non-null      float64
 11  Precio Gas Natural Comprimido       122 non-null    float64
 12  Precio Gas Natural Licuado          81 non-null     float64
 13  Precio Gases licuados del petróleo  847 non-null    float64
 14  Precio Gasoleo A                    11441 non-null  float64
 15  Precio Gasoleo B                    3006 non-null   float64
 16  Precio Gasoleo Premium              7516 non-null   float64
 17  Precio Gasolina 95 E10              21 non-null     float64
 18  Precio Gasolina 95 E5               10644 non-null  float64
 19  Precio Gasolina 95 E5 Premium       795 non-null    float64
 20  Precio Gasolina 98 E10              8 non-null      float64
 21  Precio Gasolina 98 E5               5948 non-null   float64
 22  Precio Hidrogeno                    0 non-null      float64
 23  Provincia                           11784 non-null  object
 24  Remisión                            11784 non-null  object
 25  Rótulo                              11784 non-null  object
 26  Tipo Venta                          11784 non-null  object
 27  % BioEtanol                         11784 non-null  object
 28  % Éster metílico                    11784 non-null  object
 29  IDEESS                              11784 non-null  object
 30  IDMunicipio                         11784 non-null  object
 31  IDProvincia                         11784 non-null  object
 32  IDCCAA                              11784 non-null  object
dtypes: float64(14), object(19)
memory usage: 3.0+ MB

---
Setp 3

# Limpieza de Columnas

In [ ]:
# Eliminiación de columnas que no interesan a nivel usuario o que no aportan datos significativos al modelo
df_n.drop(['Margen', 'Remisión', 'Tipo Venta', '% BioEtanol', '% Éster metílico', 'Precio Biodiesel',
          'Precio Bioetanol', 'Precio Gas Natural Comprimido', 'Precio Gas Natural Licuado', 
          'Precio Gas Natural Licuado', 'Precio Gases licuados del petróleo', 'Precio Gasolina 95 E10',
          'Precio Gasolina 95 E5 Premium', 'Precio Gasolina 98 E10', 'Precio Hidrogeno'], axis=1, inplace=True)

KeyError: "['Margen', 'Remisión', 'Tipo Venta', '% BioEtanol', '% Éster metílico', 'Precio Biodiesel', 'Precio Bioetanol', 'Precio Gas Natural Comprimido', 'Precio Gas Natural Licuado', 'Precio Gas Natural Licuado', 'Precio Gases licuados del petróleo', 'Precio Gasolina 95 E10', 'Precio Gasolina 95 E5 Premium', 'Precio Gasolina 98 E10', 'Precio Hidrogeno'] not found in axis"

In [ ]:
# Comprobación
df_n.iloc[15][['Precio Gasoleo B']]

Precio Gasoleo B    NaN
Name: 15, dtype: object

In [ ]:
df_n.head()

,Fecha,C.P.,Dirección,Horario,Latitud,Localidad,Longitud (WGS84),Municipio,Gasoleo A,Precio Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Provincia,Estación de Servicio,IDEESS,IDMunicipio,IDProvincia,IDCCAA
0,26/10/2022 14:48:09,02250,"AVENIDA CASTILLA LA MANCHA, 26",L-D: 07:00-22:00,"39,211417",ABENGIBRE,"-1,539167",Abengibre,1.939,1.44,NaN,1.739,NaN,ALBACETE,Nº 10.935,4375,52,02,07
1,26/10/2022 14:48:09,02001,"CALLE FEDERICO GARCIA LORCA, 5",L-S: 05:00-23:00,"38,997722",ALBACETE,"-1,846361",Albacete,2.040,NaN,NaN,NaN,NaN,ALBACETE,CEPSA,4438,54,02,07
2,26/10/2022 14:48:09,02001,"AVENIDA 1º DE MAYO, S/N",L-S: 08:00-22:00; D: 09:00-21:00,"38,985667",ALBACETE,"-1,868500",Albacete,1.999,NaN,2.039,1.789,1.919,ALBACETE,CARREFOUR,10765,54,02,07
3,26/10/2022 14:48:09,02001,"CALLE FEDERICO GARCIA LORCA, 1",L-D: 24H,"39,000861",ALBACETE,"-1,849833",Albacete,1.877,NaN,NaN,1.657,NaN,ALBACETE,PLENOIL,13933,54,02,07
4,26/10/2022 14:48:09,02001,CALLE PRINCIPE DE ASTURIAS (POLÍGONO DE ROMICA...,L-D: 06:00-21:30,"39,054694",ALBACETE,"-1,832000",Albacete,2.029,NaN,2.119,1.779,1.921,ALBACETE,BP ROMICA,12054,54,02,07

In [ ]:
# Renombramos las columnas
df_n.rename(columns={"Precio Gasoleo A": "Gasoleo A", "Precio Gasoleo B": "Gasoleo B" ,"Precio Gasoleo Premium": "Gasoleo Premium", 
                     "Precio Gasolina 95 E5": "Gasolina 95 E5", "Precio Gasolina 98 E5": "Gasolina 98 E5",
                     "Rótulo":"Estación de Servicio"}, inplace=True)
df_n.head(1)

,Fecha,C.P.,Dirección,Horario,Latitud,Localidad,Longitud (WGS84),Municipio,Gasoleo A,Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Provincia,Estación de Servicio,IDEESS,IDMunicipio,IDProvincia,IDCCAA,Media_Gasoleo A
0,26/10/2022 14:48:09,02250,"AVENIDA CASTILLA LA MANCHA, 26",L-D: 07:00-22:00,"39,211417",ABENGIBRE,"-1,539167",Abengibre,1.939,1.44,NaN,1.739,NaN,ALBACETE,Nº 10.935,4375,52,02,07,1.956213

In [ ]:
df_n.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11784 entries, 0 to 11783
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Fecha                 11784 non-null  object
 1   C.P.                  11784 non-null  object
 2   Dirección             11784 non-null  object
 3   Horario               11784 non-null  object
 4   Latitud               11784 non-null  object
 5   Localidad             11784 non-null  object
 6   Longitud (WGS84)      11784 non-null  object
 7   Municipio             11784 non-null  object
 8   Gasoleo A             11441 non-null  float64
 9   Gasoleo B             3006 non-null   float64
 10  Gasoleo Premium       7516 non-null   float64
 11  Gasolina 95 E5        10644 non-null  float64
 12  Gasolina 98 E5        5948 non-null   float64
 13  Provincia             11784 non-null  object
 14  Estación de Servicio  11784 non-null  object
 15  IDEESS                11784 non-null  object
 16  IDMunicipio           11784 non-null  object
 17  IDProvincia           11784 non-null  object
 18  IDCCAA                11784 non-null  object
 19  Media_Gasoleo A       11784 non-null  float64
dtypes: float64(6), object(14)
memory usage: 1.8+ MB

In [ ]:
# Media

In [ ]:
# Media
df_n['Media_Gasoleo A']=df_n['Gasoleo A'].mean()
df_n['Media_Gasoleo B']=df_n['Gasoleo B'].mean()
df_n['Media_Gasoleo Gasolina 95']=df_n['Gasolina 95 E5'].mean()
df_n['Media_Gasolina 98']=df_n['Gasolina 98 E5'].mean()

In [ ]:
# Desviación estándar
df_n['STD_Gasoleo A']=df_n['Gasoleo A'].std()
df_n['STD_Gasoleo B']=df_n['Gasoleo B'].std()
df_n['STD_Gasoleo Gasolina 95']=df_n['Gasolina 95 E5'].std()
df_n['STD_Gasolina 98']=df_n['Gasolina 98 E5'].std()

In [ ]:
df_n.head(1)

,Fecha,C.P.,Dirección,Horario,Latitud,Localidad,Longitud (WGS84),Municipio,Gasoleo A,Gasoleo B,...,IDProvincia,IDCCAA,Media_Gasoleo A,Media_Gasoleo B,Media_Gasoleo Gasolina 95,Media_Gasolina 98,STD_Gasoleo A,STD_Gasoleo B,STD_Gasoleo Gasolina 95,STD_Gasolina 98
0,26/10/2022 14:48:09,02250,"AVENIDA CASTILLA LA MANCHA, 26",L-D: 07:00-22:00,"39,211417",ABENGIBRE,"-1,539167",Abengibre,1.939,1.44,...,02,07,0.115925,0.103675,0.095796,0.115451,0.115925,0.103675,0.095796,0.115451

---
Step4


# Funciones

In [ ]:
# Precio mínimo por Provincia seleccionada
def provincia_minimo():
    mun=input('Introduzca Provincia: ')
    Y=input('Seleccione tipo de Carburante')
    cp_x = df_n[df_n["Provincia"] == mun]
    minimo = pd.DataFrame(cp_x.loc[cp_x[[Y]].idxmin()])
    return minimo

provincia_minimo()

In [ ]:
# Precio mínimo por Municipio
def municipio_minimo():
    mun=input('Introduzca Municipio: ')
    Y=input('Seleccione tipo de Carburante')
    cp_x = df_n[df_n["Municipio"] == mun]
    minimo = pd.DataFrame(cp_x.loc[cp_x[[Y]].idxmin()])
    return minimo

In [ ]:
municipio_minimo()

Introduzca Municipio:
Seleccione tipo de Carburante

KeyError: "None of [Index([''], dtype='object')] are in the [columns]"

In [ ]:
convert()

In [ ]:
def gasolinera_minimo():
    mun=input('Seleccione Estación de Servicio: ')
    Y=input('Seleccione tipo de Carburante')
    cp_x = df_n[df_n["Estación de Servicio"] == mun]
    minimo = pd.DataFrame(cp_x.loc[cp_x[[Y]].idxmin()])
    return minimo

In [ ]:
gasolinera_minimo()

In [ ]:
def precio_minimo_cp():
    cp=input('Seleccione Código Postal: ')
    Y=input('Seleccione tipo de Carburante')
    cp_x = df_n[df_n["C.P."] == cp]
    minimo = pd.DataFrame(cp_x.loc[cp_x[[Y]].idxmin()])
    return minimo

In [ ]:
precio_minimo_cp()

Seleccione Código Postal: 28033
Seleccione tipo de CarburanteGasoleo A

,Fecha,C.P.,Dirección,Horario,Latitud,Localidad,Longitud (WGS84),Municipio,Gasoleo A,Precio Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Provincia,Estación de Servicio,IDEESS,IDMunicipio,IDProvincia,IDCCAA
6875,26/10/2022 14:48:09,28033,"CL CARRETERA CANILLAS, 150",L-D: 24H,"40,464889",MADRID,"-3,636139",Madrid,1.969,NaN,2.049,1.819,1.959,MADRID,SHELL,4455,4354,28,13

In [ ]:
x1 = df_n["C.P."]=='38500'
x2 = df_n[x1]
x2

,Fecha,C.P.,Dirección,Horario,Latitud,Localidad,Longitud (WGS84),Municipio,Gasoleo A,Precio Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Provincia,Estación de Servicio,IDEESS,IDMunicipio,IDProvincia,IDCCAA
9189,26/10/2022 14:48:09,38500,"CARRETERA TF-61 KM. 2,800",L-D: 24H,"28,306389",GÜIMAR,"-16,386056",Güímar,1.489,NaN,NaN,1.424,1.569,SANTA CRUZ DE TENERIFE,DISA PUERTITO,7752,5710,38,05
9190,26/10/2022 14:48:09,38500,"CALLE RIGOBERTO DIAZ MELERO, S/N",L-D: 06:00-22:00,"28,313000",GÜIMAR,"-16,410972",Güímar,1.489,NaN,1.619,1.424,1.569,SANTA CRUZ DE TENERIFE,SHELL GUIMAR,8749,5710,38,05
9191,26/10/2022 14:48:09,38500,"POLIGONO INDUSTRIAL VALLE DE GÜIMAR MZ. 13, PC...",L-V: 06:00-22:00; S: 07:00-22:00; D: 08:00-21:00,"28,325194",GÜIMAR,"-16,374833",Güímar,1.509,NaN,1.599,1.419,1.529,SANTA CRUZ DE TENERIFE,OCÉANO,12479,5710,38,05
9192,26/10/2022 14:48:09,38500,"AVENIDA SANTA CRUZ, 53",L-M: 06:00-22:00; X: 05:30-19:30; J-S: 06:00-2...,"28,319056",GÜIMAR,"-16,407972",Güímar,1.489,NaN,1.619,1.424,1.569,SANTA CRUZ DE TENERIFE,DISA GÜIMAR,7881,5710,38,05
9193,26/10/2022 14:48:09,38500,"AVENIDA OBISPO PEREZ CACERES, 45",L-S: 06:00-22:00; D: 06:00-14:00,"28,313028",GÜIMAR,"-16,411944",Güímar,1.489,NaN,NaN,1.429,1.569,SANTA CRUZ DE TENERIFE,CEPSA,7621,5710,38,05

In [ ]:
# Función para convertir códigos postales
def convert():
    mun=input('Introduzca Municipio: ')
    mun_x = df_n[df_n["Municipio"] == mun]
    cp = pd.DataFrame(mun_x["C.P."].unique())
    return cp

In [ ]:
convert()

Introduzca Municipio: Cercedilla

       0
0  28470

In [ ]:
# Listado de Gasolineras por Municipio
def gasolineras_municipio():
    mun=input('Introduzca Municipio: ')
    cp_x = df_n[df_n["Municipio"] == mun]
    return cp_x

In [ ]:
gasolineras_municipio()

Introduzca Municipio: Cercedilla

,Fecha,C.P.,Dirección,Horario,Latitud,Localidad,Longitud (WGS84),Municipio,Gasoleo A,Precio Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Provincia,Estación de Servicio,IDEESS,IDMunicipio,IDProvincia,IDCCAA
6570,26/10/2022 14:48:09,28470,CARRETERA M 622 (CARRETERA GUADARRAMA A LA FUE...,L-S: 7:30-20:30; D: 8:30-20:00,"40,733111",CERCEDILLA,"-4,067528",Cercedilla,2.009,NaN,NaN,1.749,NaN,MADRID,REPSOL,4557,4313,28,13

In [ ]:
# Listado de Gasolineras por Provincia
def gasolineras_provincia():
    mun=input('Introduzca Provincia: ')
    cp_x = df_n[df_n["Provincia"] == mun]
    return cp_x

In [ ]:
gasolineras_provincia()

Introduzca Provincia: OURENSE

,Fecha,C.P.,Dirección,Horario,Latitud,Localidad,Longitud (WGS84),Municipio,Gasoleo A,Precio Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Provincia,Estación de Servicio,IDEESS,IDMunicipio,IDProvincia,IDCCAA
8312,26/10/2022 14:48:09,32660,"CARRETERA N-525 KM. 216,400",L-D: 07:00-23:00,"42,193667",ALLARIZ,"-7,794806",Allariz,2.029,NaN,2.079,1.819,1.949,OURENSE,GALP,815,4872,32,12
8313,26/10/2022 14:48:09,32435,"CR OR-212, 15 (OR-212 km 15,3)",L-V: 07:00-22:00; S-D: 08:00-22:00,"42,374361",AVION (OURENSE),"-8,246028",Avión,2.059,NaN,NaN,1.849,1.999,OURENSE,REPSOL,755,4875,32,12
8314,26/10/2022 14:48:09,32840,"CALLE FAUSTINO SANTALICES, 58",L-D: 07:00-23:00,"42,034389",BANDE,"-7,973083",Bande,2.045,1.771,2.124,1.833,1.972,OURENSE,REPSOL,324,4877,32,12
8315,26/10/2022 14:48:09,32890,"N-540 P.K. 0,700",L-D: 24H,"42,318052",BARBADAS,"-7,877994",Barbadás,1.969,NaN,2.039,1.769,NaN,OURENSE,GALP,365,4879,32,12
8316,26/10/2022 14:48:09,32890,"CARRETERA NACIONAL 540 KM. 0,70",L-D: 07:00-23:00,"42,318111",BARBADAS,"-7,877389",Barbadás,2.019,NaN,2.079,1.809,1.939,OURENSE,GALP,366,4879,32,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8398,26/10/2022 14:48:09,32340,CARRETERA N-120 KM. 463,L-D: 06:30-10:30,"42,408222",VILAMARTIN DE VALDEORRAS,"-7,073194",Vilamartín de Valdeorras,2.019,NaN,2.069,1.829,2.009,OURENSE,VALCARCE,752,4956,32,12
8399,26/10/2022 14:48:09,32630,"AVENIDA DE MADRID, 108",L-D: 07:00-23:59,"42,059278",XINZO DE LIMIA,"-7,714833",Xinzo de Limia,2.059,1.729,2.129,1.819,NaN,OURENSE,CEPSA,769,4961,32,12
8400,26/10/2022 14:48:09,32630,"VÍA PISTA ENLACE AUTOVIA RIAS BAIXAS, S/N",L-D: 24H,"42,077917",XINZO DE LIMIA,"-7,714583",Xinzo de Limia,2.069,1.739,2.129,1.809,NaN,OURENSE,CEPSA- ANTELA E.S.,10617,4961,32,12
8401,26/10/2022 14:48:09,32630,"CL A DEVESA, S.N.",L-D: 07:00-23:00,"42,075556",XINZO DE LIMIA,"-7,727083",Xinzo de Limia,2.069,1.729,2.129,1.809,1.959,OURENSE,REPSOL,707,4961,32,12
8402,26/10/2022 14:48:09,32630,"CARRETERA CRTA. N-525, KM.199.4 KM. 199,4",L-D: 07:00-23:00,"42,072667",XINZO DE LIMIA,"-7,732000",Xinzo de Limia,2.069,1.726,2.139,1.819,1.969,OURENSE,REPSOL,833,4961,32,12

In [ ]:
# Listado de Gasolineras por Código Postal:
def gasolineras_cp():
    mun=input('Introduzca Código Postal: ')
    cp_x = df_n[df_n["C.P."] == mun]
    return cp_x

In [ ]:
gasolineras_cp()

Introduzca Código Postal: 28033

,Fecha,C.P.,Dirección,Horario,Latitud,Localidad,Longitud (WGS84),Municipio,Gasoleo A,Precio Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Provincia,Estación de Servicio,IDEESS,IDMunicipio,IDProvincia,IDCCAA
6875,26/10/2022 14:48:09,28033,"CL CARRETERA CANILLAS, 150",L-D: 24H,"40,464889",MADRID,"-3,636139",Madrid,1.969,NaN,2.049,1.819,1.959,MADRID,SHELL,4455,4354,28,13
6876,26/10/2022 14:48:09,28033,"CALLE TOMAS REDONDO, 10",L-D: 24H,"40,470083",MADRID,"-3,627917",Madrid,1.969,NaN,2.049,1.819,1.959,MADRID,SHELL,11400,4354,28,13
6877,26/10/2022 14:48:09,28033,"AVENIDA SAN LUIS, 75",L-D: 24H,"40,474167",MADRID,"-3,664333",Madrid,2.035,NaN,2.101,1.799,1.936,MADRID,CEPSA,4357,4354,28,13
6878,26/10/2022 14:48:09,28033,"PASEO DEL MAR CASPIO, S,N",L-D: 05:59-23:59,"40,473722",MADRID,"-3,645028",Madrid,2.035,NaN,2.101,1.804,NaN,MADRID,CEPSA,4587,4354,28,13

---

Step 5

# Streamlit

In [ ]:
st.title("Hello GeeksForGeeks !!!")

DeltaGenerator(_root_container=0, _provided_cursor=None, _parent=None, _block_type=None, _form_data=None)