In [9]:
import numpy as np
import pandas as pd
import requests
from urllib.request import urlopen
import json
import xlrd
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [10]:
url=urlopen('https://sedeaplicaciones.minetur.gob.es/ServiciosRESTCarburantes/PreciosCarburantes/EstacionesTerrestres/')
df=url.read().decode('utf-8', 'replace')


#response = urlopen("https://bittrex.com/api/v1.1/public/getmarkethistory?market=BTC-ETC")
#json_data = response.read().decode('utf-8', 'replace')

In [11]:
d = json.loads(df)
df_1 = pd.json_normalize(d['ListaEESSPrecio'])

In [12]:
df_1

,C.P.,Dirección,Horario,Latitud,Localidad,Longitud (WGS84),Margen,Municipio,Precio Biodiesel,Precio Bioetanol,...,Provincia,Remisión,Rótulo,Tipo Venta,% BioEtanol,% Éster metílico,IDEESS,IDMunicipio,IDProvincia,IDCCAA
0,02250,"AVENIDA CASTILLA LA MANCHA, 26",L-D: 07:00-22:00,"39,211417",ABENGIBRE,"-1,539167",D,Abengibre,,,...,ALBACETE,dm,Nº 10.935,P,"0,0","0,0",4375,52,02,07
1,02152,"CR CM-332, 46,4",L-D: 7:00-23:00,"39,100389",ALATOZ,"-1,346083",I,Alatoz,,,...,ALBACETE,dm,REPSOL,P,"0,0","0,0",5122,53,02,07
2,02001,CALLE PRINCIPE DE ASTURIAS (POLÍGONO DE ROMICA...,L-D: 06:00-21:30,"39,054694",ALBACETE,"-1,832000",I,Albacete,,,...,ALBACETE,OM,BP ROMICA,P,"0,0","0,0",12054,54,02,07
3,02001,"AVENIDA 1º DE MAYO, S/N",L-S: 08:00-22:00; D: 09:00-21:00,"38,985667",ALBACETE,"-1,868500",N,Albacete,,,...,ALBACETE,dm,CARREFOUR,P,"0,0","0,0",10765,54,02,07
4,02001,"CALLE FEDERICO GARCIA LORCA, 1",L-D: 24H,"39,000861",ALBACETE,"-1,849833",D,Albacete,,,...,ALBACETE,dm,PLENOIL,P,"0,0","0,0",13933,54,02,07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11802,50197,"RONDA FERIA DE MUESTRAS, DE LA, 20",L-D: 24H,"41,637944",ZARAGOZA,"-0,986389",D,Zaragoza,,,...,ZARAGOZA,OM,IDS,P,"0,0","0,0",12472,8108,50,02
11803,50197,"AVENIDA DIAGONAL PLAZA, 22",L-V: 06:00-22:00; S: 08:00-15:00,"41,636528",ZARAGOZA,"-0,990111",D,Zaragoza,,,...,ZARAGOZA,dm,REPSOL,P,"0,0","0,0",12289,8108,50,02
11804,50800,"CARRETERA N-330A KM. 24,000",L-D: 06:00-22:00,"41,857000",ZUERA,"-0,794000",D,Zuera,,,...,ZARAGOZA,OM,REPSOL,P,"0,0","0,0",1452,8109,50,02
11805,50800,"CALLE AUSTRIA, 11,17",L-D: 24H,"41,883583",ZUERA,"-0,782833",D,Zuera,,,...,ZARAGOZA,dm,AN ENERGETICOS ZUERA,P,"0,0","0,0",9085,8109,50,02
11806,50810,"CALLE COOPERATIVA, 2",L-D: 24H,"41,938750",ONTINAR DE SALZ,"-0,757611",D,Zuera,,,...,ZARAGOZA,dm,COOPERATIVA SAN ISIDRO,P,"0,0","0,0",9068,8109,50,02

In [13]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11807 entries, 0 to 11806
Data columns (total 32 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   C.P.                                11807 non-null  object
 1   Dirección                           11807 non-null  object
 2   Horario                             11807 non-null  object
 3   Latitud                             11807 non-null  object
 4   Localidad                           11807 non-null  object
 5   Longitud (WGS84)                    11807 non-null  object
 6   Margen                              11807 non-null  object
 7   Municipio                           11807 non-null  object
 8   Precio Biodiesel                    11807 non-null  object
 9   Precio Bioetanol                    11807 non-null  object
 10  Precio Gas Natural Comprimido       11807 non-null  object
 11  Precio Gas Natural Licuado          11807 non-null  object
 12  Precio Gases licuados del petróleo  11807 non-null  object
 13  Precio Gasoleo A                    11807 non-null  object
 14  Precio Gasoleo B                    11807 non-null  object
 15  Precio Gasoleo Premium              11807 non-null  object
 16  Precio Gasolina 95 E10              11807 non-null  object
 17  Precio Gasolina 95 E5               11807 non-null  object
 18  Precio Gasolina 95 E5 Premium       11807 non-null  object
 19  Precio Gasolina 98 E10              11807 non-null  object
 20  Precio Gasolina 98 E5               11807 non-null  object
 21  Precio Hidrogeno                    11807 non-null  object
 22  Provincia                           11807 non-null  object
 23  Remisión                            11807 non-null  object
 24  Rótulo                              11807 non-null  object
 25  Tipo Venta                          11807 non-null  object
 26  % BioEtanol                         11807 non-null  object
 27  % Éster metílico                    11807 non-null  object
 28  IDEESS                              11807 non-null  object
 29  IDMunicipio                         11807 non-null  object
 30  IDProvincia                         11807 non-null  object
 31  IDCCAA                              11807 non-null  object
dtypes: object(32)
memory usage: 2.9+ MB

# Limpieza

In [14]:
df_1['Precio Gasoleo Premium']=df_1['Precio Gasoleo Premium'].str.replace(',','.')
df_1['Precio Biodiesel']=df_1['Precio Biodiesel'].str.replace(',','.')
df_1['Precio Bioetanol']=df_1['Precio Bioetanol'].str.replace(',','.')
df_1['Precio Gas Natural Comprimido']=df_1['Precio Gas Natural Comprimido'].str.replace(',','.')
df_1['Precio Gas Natural Licuado']=df_1['Precio Gas Natural Licuado'].str.replace(',','.')
df_1['Precio Gases licuados del petróleo']=df_1['Precio Gases licuados del petróleo'].str.replace(',','.')
df_1['Precio Gasoleo A']=df_1['Precio Gasoleo A'].str.replace(',','.')
df_1['Precio Gasoleo B']=df_1['Precio Gasoleo B'].str.replace(',','.')
df_1['Precio Gasoleo Premium']=df_1['Precio Gasoleo Premium'].str.replace(',','.')
df_1['Precio Gasolina 95 E10']=df_1['Precio Gasolina 95 E10'].str.replace(',','.')
df_1['Precio Gasolina 95 E5']=df_1['Precio Gasolina 95 E5'].str.replace(',','.')
df_1['Precio Gasolina 95 E5 Premium']=df_1['Precio Gasolina 95 E5 Premium'].str.replace(',','.')
df_1['Precio Gasolina 98 E10']=df_1['Precio Gasolina 98 E10'].str.replace(',','.')
df_1['Precio Gasolina 98 E5']=df_1['Precio Gasolina 98 E5'].str.replace(',','.')
df_1['Precio Hidrogeno']=df_1['Precio Hidrogeno'].str.replace(',','.')

In [15]:

df_1[['Precio Gasoleo Premium']]=df_1[['Precio Gasoleo Premium']].apply(pd.to_numeric)
df_1[['Precio Biodiesel']]=df_1[['Precio Biodiesel']].apply(pd.to_numeric)
df_1[['Precio Bioetanol']]=df_1[['Precio Bioetanol']].apply(pd.to_numeric)
df_1[['Precio Gas Natural Comprimido']]=df_1[['Precio Gas Natural Comprimido']].apply(pd.to_numeric)
df_1[['Precio Gases licuados del petróleo']]=df_1[['Precio Gases licuados del petróleo']].apply(pd.to_numeric)
df_1[['Precio Gas Natural Licuado']]=df_1[['Precio Gas Natural Licuado']].apply(pd.to_numeric)
#df_1[['Precio Gasoleo A']]=df_1[['Precio Gasoleo A']].apply(pd.to_numeric)
df_1[['Precio Gasoleo B']]=df_1[['Precio Gasoleo B']].apply(pd.to_numeric)
df_1[['Precio Gasoleo Premium']]=df_1[['Precio Gasoleo Premium']].apply(pd.to_numeric)
df_1[['Precio Gasolina 95 E10']]=df_1[['Precio Gasolina 95 E10']].apply(pd.to_numeric)
df_1[['Precio Gasolina 95 E5']]=df_1[['Precio Gasolina 95 E5']].apply(pd.to_numeric)
df_1[['Precio Gasolina 95 E5 Premium']]=df_1[['Precio Gasolina 95 E5 Premium']].apply(pd.to_numeric)
df_1[['Precio Gasolina 98 E10']]=df_1[['Precio Gasolina 98 E10']].apply(pd.to_numeric)
df_1[['Precio Gasolina 98 E5']]=df_1[['Precio Gasolina 98 E5']].apply(pd.to_numeric)
df_1[['Precio Hidrogeno']]=df_1[['Precio Hidrogeno']].apply(pd.to_numeric)
#df_1[['C.P.']]=df_1[['C.P.']].apply(pd.to_numeric)

In [16]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11807 entries, 0 to 11806
Data columns (total 32 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   C.P.                                11807 non-null  object
 1   Dirección                           11807 non-null  object
 2   Horario                             11807 non-null  object
 3   Latitud                             11807 non-null  object
 4   Localidad                           11807 non-null  object
 5   Longitud (WGS84)                    11807 non-null  object
 6   Margen                              11807 non-null  object
 7   Municipio                           11807 non-null  object
 8   Precio Biodiesel                    37 non-null     float64
 9   Precio Bioetanol                    5 non-null      float64
 10  Precio Gas Natural Comprimido       123 non-null    float64
 11  Precio Gas Natural Licuado          81 non-null     float64
 12  Precio Gases licuados del petróleo  846 non-null    float64
 13  Precio Gasoleo A                    11807 non-null  object
 14  Precio Gasoleo B                    3014 non-null   float64
 15  Precio Gasoleo Premium              7516 non-null   float64
 16  Precio Gasolina 95 E10              21 non-null     float64
 17  Precio Gasolina 95 E5               10663 non-null  float64
 18  Precio Gasolina 95 E5 Premium       792 non-null    float64
 19  Precio Gasolina 98 E10              8 non-null      float64
 20  Precio Gasolina 98 E5               5954 non-null   float64
 21  Precio Hidrogeno                    0 non-null      float64
 22  Provincia                           11807 non-null  object
 23  Remisión                            11807 non-null  object
 24  Rótulo                              11807 non-null  object
 25  Tipo Venta                          11807 non-null  object
 26  % BioEtanol                         11807 non-null  object
 27  % Éster metílico                    11807 non-null  object
 28  IDEESS                              11807 non-null  object
 29  IDMunicipio                         11807 non-null  object
 30  IDProvincia                         11807 non-null  object
 31  IDCCAA                              11807 non-null  object
dtypes: float64(13), object(19)
memory usage: 2.9+ MB

In [17]:
df_1.drop(['Precio Hidrogeno', 'Precio Biodiesel', 'Precio Bioetanol', 
           'Precio Gas Natural Comprimido','Precio Gas Natural Licuado', 'Precio Gasoleo B',
           'Precio Gasolina 95 E10', 'Precio Gasolina 95 E5 Premium', 'Precio Gasolina 98 E10',
           'Precio Gases licuados del petróleo', 'Margen', 'Remisión', '% BioEtanol', '% Éster metílico',
           'IDEESS', 'IDCCAA'], axis=1, inplace=True)
# Eliminamos todas las columnas por debajo del 50% de datos aproximadamente y que no sean gasoil o gasolina

In [18]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11807 entries, 0 to 11806
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   C.P.                    11807 non-null  object
 1   Dirección               11807 non-null  object
 2   Horario                 11807 non-null  object
 3   Latitud                 11807 non-null  object
 4   Localidad               11807 non-null  object
 5   Longitud (WGS84)        11807 non-null  object
 6   Municipio               11807 non-null  object
 7   Precio Gasoleo A        11807 non-null  object
 8   Precio Gasoleo Premium  7516 non-null   float64
 9   Precio Gasolina 95 E5   10663 non-null  float64
 10  Precio Gasolina 98 E5   5954 non-null   float64
 11  Provincia               11807 non-null  object
 12  Rótulo                  11807 non-null  object
 13  Tipo Venta              11807 non-null  object
 14  IDMunicipio             11807 non-null  object
 15  IDProvincia             11807 non-null  object
dtypes: float64(3), object(13)
memory usage: 1.4+ MB

In [19]:
df_1.rename(columns={"Precio Gasoleo A": "Gasoleo A", "Precio Gasoleo Premium": "Gasoleo Premium", 
                     "Precio Gasolina 95 E5": "Gasolina 95 E5", "Precio Gasolina 98 E5": "Gasolina 98 E5"}, inplace=True)
df_1.head(1)

,C.P.,Dirección,Horario,Latitud,Localidad,Longitud (WGS84),Municipio,Gasoleo A,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Provincia,Rótulo,Tipo Venta,IDMunicipio,IDProvincia
0,02250,"AVENIDA CASTILLA LA MANCHA, 26",L-D: 07:00-22:00,"39,211417",ABENGIBRE,"-1,539167",Abengibre,1.969,NaN,1.739,NaN,ALBACETE,Nº 10.935,P,52,02

## SELECCIÓN USUARIO -Precio Mínimo-

In [29]:
# Precio Mínimo a nivel nacional
#df1.min()

In [30]:
df_1.fillna(0, inplace=True)

In [31]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11807 entries, 0 to 11806
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   C.P.              11807 non-null  object
 1   Dirección         11807 non-null  object
 2   Horario           11807 non-null  object
 3   Latitud           11807 non-null  object
 4   Localidad         11807 non-null  object
 5   Longitud (WGS84)  11807 non-null  object
 6   Municipio         11807 non-null  object
 7   Gasoleo A         11807 non-null  object
 8   Gasoleo Premium   11807 non-null  float64
 9   Gasolina 95 E5    11807 non-null  float64
 10  Gasolina 98 E5    11807 non-null  float64
 11  Provincia         11807 non-null  object
 12  Rótulo            11807 non-null  object
 13  Tipo Venta        11807 non-null  object
 14  IDMunicipio       11807 non-null  object
 15  IDProvincia       11807 non-null  object
dtypes: float64(3), object(13)
memory usage: 1.4+ MB

In [47]:
def gasolina():
    cp=input('Seleccione Código Postal: ')
    Y=input('Seleccione tipo de Carburante')
    mun = df_1[df_1["C.P."] == cp]
    minimo= mun[[Y]].min()
    return pd.DataFrame(minimo).T

In [48]:
gasolina()

Seleccione Código Postal: 28931
Seleccione tipo de CarburanteGasoleo A

  Gasoleo A
0     2.079

In [63]:
def gasolina1():
    cp=input('Seleccione Código Postal: ')
    Y=input('Seleccione tipo de Carburante')
    mun = df_1[df_1["C.P."] == cp]
    minimo=df_1[mun[[Y]].min()]
    return df_1.apply(minimo)

In [ ]:
gasolina1()

In [55]:
#df_1=df_1.iloc[:].apply(gasolina(df_1), axis=1, raw=True)
#df_1
#df_1['(gasolina())']

In [56]:
x=[df_1["Gasoleo A"].min()]
x

['']

In [ ]:
x=[df_1["Gasoleo A"]]

for i in x:
    i.append([df_1])
    print (i)

In [ ]:
for

In [57]:
# Gasolineras en las Localidades seleccionadas
def gasolinera():
    cp=input('Seleccione Código Postal: ')
    Y=input('Seleccione tipo de Carburante')
    mun = df_1[df_1["C.P."] == cp]
    minimo=mun[[Y]].min(mun)
    return minimo

In [58]:
gasolinera()

Seleccione Código Postal: 28931
Seleccione tipo de CarburanteGasoleo Premium

TypeError: unhashable type: 'DataFrame'

In [ ]:
 4 x=
    Y=input('Seleccione tipo de Carburante')
      5 mun = df_1[df_1["C.P."] == cp]
----> 6 pot = df_1[mun[Y].min()]
      7 #pot= df_1[df_1["C.P."] == df_1[[Y]].min()]
      8 #minimo = df_1[df_1[x]]

In [ ]:
df_1[df_1.min([Y])]

In [ ]:
cp()

In [ ]:
columna = df_1[['C.P.']]
columna

In [ ]:
df_1[["Gasoleo A", "Gasoleo Premium", "Gasolina 95 E5", "Gasolina 98 E5"]].min()

In [ ]:
mejor_precio()

In [ ]:
# Gasolineras en las Localidades seleccionadas
def localidad():
    X=input('Seleccione Localidad de Estaciones de Servicio: ')
    #Y=input('Seleccione tipo de Carburante')
    mun =  df_1[df_1["Localidad"] == X]
    return mun

In [ ]:
#def EE_SS():
    #X=input('Seleccione Estación de servicio en el Municipio:')
    #Y=input('Seleccione tipo de Carburante')
    #mun1 = df_1.set_axis(["Localidad", "Municipio"], axis=1) == X
    #mun2 = df_1[df_1["Municipio"] == X]
    #return mun1

In [ ]:
localidad()

In [ ]:
# Precio más bajo en el Municipio seleccionado
def best_price():
    X=input('Minimo Precio en la localidad de:')
    Y=input('Minimo Precio en el municipio  de')
    loc =  df_1[df_1["Localidad"] == X]
    mun =  df_1[df_1["Municipio"] == Y]
    minimo = loc.min()
    minimo_2 = mun.min()
    #min2=pd.DataFrame(minimo).reset_index()
    #min1=pd.DataFrame(minimo_2).reset_index()
    #return pd.DataFrame(min2), pd.DataFrame(min1)
    #minimox=pd.DataFrame(minimo)
    return pd.DataFrame([minimo, minimo_2]).reset_index()

In [ ]:
best_price()

In [ ]:
#df_1.to_csv('2022-10-15.csv', index=False)