## MVP

In [1]:
# Imports

# Pandas
import pandas as pd 

# Importo libreria para conexión a API
from urllib.request import urlopen

# Importo libreria Json para que lea
import json

#Normalizar Json
from pandas.io.json import json_normalize

---
Step 1 (Data Extraction)

In [2]:
# Definir las variables donde meto el string que contiene la URL

endpoint ='https://sedeaplicaciones.minetur.gob.es'
parametros = '/ServiciosRESTCarburantes/PreciosCarburantes/EstacionesTerrestres/'

In [3]:
# Vamos a guardar en una variable nuestros datos (resultado, comida) 

response = urlopen(endpoint+parametros)
type(response)

http.client.HTTPResponse

In [4]:
# Vamos a extraer del obejto, los datos

data = response.read().decode('utf-8', 'replace')
data = json.loads(data)
type(data)

dict

In [5]:
# Crear Dataframe

df = pd.DataFrame(data)
df

,Fecha,ListaEESSPrecio,Nota,ResultadoConsulta
0,07/11/2022 21:23:55,"{'C.P.': '02250', 'Dirección': 'AVENIDA CASTIL...",Archivo de todos los productos en todas las es...,OK
1,07/11/2022 21:23:55,"{'C.P.': '02152', 'Dirección': 'CR CM-332, 46,...",Archivo de todos los productos en todas las es...,OK
2,07/11/2022 21:23:55,"{'C.P.': '02001', 'Dirección': 'CALLE PRINCIPE...",Archivo de todos los productos en todas las es...,OK
3,07/11/2022 21:23:55,"{'C.P.': '02001', 'Dirección': 'AVENIDA 1º DE ...",Archivo de todos los productos en todas las es...,OK
4,07/11/2022 21:23:55,"{'C.P.': '02001', 'Dirección': 'CALLE FEDERICO...",Archivo de todos los productos en todas las es...,OK
...,...,...,...,...
11787,07/11/2022 21:23:55,"{'C.P.': '50197', 'Dirección': 'RONDA FERIA DE...",Archivo de todos los productos en todas las es...,OK
11788,07/11/2022 21:23:55,"{'C.P.': '50197', 'Dirección': 'POLIGONO CALLE...",Archivo de todos los productos en todas las es...,OK
11789,07/11/2022 21:23:55,"{'C.P.': '50800', 'Dirección': 'CARRETERA N-33...",Archivo de todos los productos en todas las es...,OK
11790,07/11/2022 21:23:55,"{'C.P.': '50800', 'Dirección': 'CALLE AUSTRIA,...",Archivo de todos los productos en todas las es...,OK
11791,07/11/2022 21:23:55,"{'C.P.': '50810', 'Dirección': 'CALLE COOPERAT...",Archivo de todos los productos en todas las es...,OK

---

Step 2 (Data Transformation)

In [6]:
# Análisis de la columna Lista EESS Precio

diccionario = df['ListaEESSPrecio'].iloc[1]
type(diccionario)

dict

In [7]:
diccionario

{'C.P.': '02152',
 'Dirección': 'CR CM-332, 46,4',
 'Horario': 'L-D: 7:00-23:00',
 'Latitud': '39,100389',
 'Localidad': 'ALATOZ',
 'Longitud (WGS84)': '-1,346083',
 'Margen': 'I',
 'Municipio': 'Alatoz',
 'Precio Biodiesel': '',
 'Precio Bioetanol': '',
 'Precio Gas Natural Comprimido': '',
 'Precio Gas Natural Licuado': '',
 'Precio Gases licuados del petróleo': '',
 'Precio Gasoleo A': '2,040',
 'Precio Gasoleo B': '',
 'Precio Gasoleo Premium': '2,300',
 'Precio Gasolina 95 E10': '',
 'Precio Gasolina 95 E5': '1,909',
 'Precio Gasolina 95 E5 Premium': '',
 'Precio Gasolina 98 E10': '',
 'Precio Gasolina 98 E5': '2,200',
 'Precio Hidrogeno': '',
 'Provincia': 'ALBACETE',
 'Remisión': 'dm',
 'Rótulo': 'REPSOL',
 'Tipo Venta': 'P',
 '% BioEtanol': '0,0',
 '% Éster metílico': '0,0',
 'IDEESS': '5122',
 'IDMunicipio': '53',
 'IDProvincia': '02',
 'IDCCAA': '07'}

In [8]:
# Extraigo informacion de columna EESS Precio, utilizando json normalize

df_n = pd.concat([df[['Fecha']],pd.json_normalize(df['ListaEESSPrecio'])], axis=1)
df_n

,Fecha,C.P.,Dirección,Horario,Latitud,Localidad,Longitud (WGS84),Margen,Municipio,Precio Biodiesel,...,Provincia,Remisión,Rótulo,Tipo Venta,% BioEtanol,% Éster metílico,IDEESS,IDMunicipio,IDProvincia,IDCCAA
0,07/11/2022 21:23:55,02250,"AVENIDA CASTILLA LA MANCHA, 26",L-D: 07:00-22:00,"39,211417",ABENGIBRE,"-1,539167",D,Abengibre,,...,ALBACETE,dm,Nº 10.935,P,"0,0","0,0",4375,52,02,07
1,07/11/2022 21:23:55,02152,"CR CM-332, 46,4",L-D: 7:00-23:00,"39,100389",ALATOZ,"-1,346083",I,Alatoz,,...,ALBACETE,dm,REPSOL,P,"0,0","0,0",5122,53,02,07
2,07/11/2022 21:23:55,02001,CALLE PRINCIPE DE ASTURIAS (POLÍGONO DE ROMICA...,L-D: 06:00-21:30,"39,054694",ALBACETE,"-1,832000",I,Albacete,,...,ALBACETE,OM,BP ROMICA,P,"0,0","0,0",12054,54,02,07
3,07/11/2022 21:23:55,02001,"AVENIDA 1º DE MAYO, S/N",L-S: 08:00-22:00; D: 09:00-21:00,"38,985667",ALBACETE,"-1,868500",N,Albacete,,...,ALBACETE,dm,CARREFOUR,P,"0,0","0,0",10765,54,02,07
4,07/11/2022 21:23:55,02001,"CALLE FEDERICO GARCIA LORCA, 1",L-D: 24H,"39,000861",ALBACETE,"-1,849833",D,Albacete,,...,ALBACETE,dm,PLENOIL,P,"0,0","0,0",13933,54,02,07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11787,07/11/2022 21:23:55,50197,"RONDA FERIA DE MUESTRAS, DE LA, 20",L-D: 24H,"41,637944",ZARAGOZA,"-0,986389",D,Zaragoza,,...,ZARAGOZA,OM,IDS,P,"0,0","0,0",12472,8108,50,02
11788,07/11/2022 21:23:55,50197,"POLIGONO CALLE TURIASO, 31",L-D: 24H,"41,645722",ZARAGOZA,"-0,974194",D,Zaragoza,,...,ZARAGOZA,dm,NOIL,P,"0,0","0,0",13917,8108,50,02
11789,07/11/2022 21:23:55,50800,"CARRETERA N-330A KM. 24,000",L-D: 06:00-22:00,"41,857000",ZUERA,"-0,794000",D,Zuera,,...,ZARAGOZA,OM,REPSOL,P,"0,0","0,0",1452,8109,50,02
11790,07/11/2022 21:23:55,50800,"CALLE AUSTRIA, 11,17",L-D: 24H,"41,883583",ZUERA,"-0,782833",D,Zuera,,...,ZARAGOZA,dm,AN ENERGETICOS ZUERA,P,"0,0","0,0",9085,8109,50,02
11791,07/11/2022 21:23:55,50810,"CALLE COOPERATIVA, 2",L-D: 24H,"41,938750",ONTINAR DE SALZ,"-0,757611",D,Zuera,,...,ZARAGOZA,dm,COOPERATIVA SAN ISIDRO,P,"0,0","0,0",9068,8109,50,02

In [9]:
# Guardamos df original para sucesion de tiempo
#df_n.to_csv('2022-11-05x.csv', index=False)

In [10]:
df_n.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11792 entries, 0 to 11791
Data columns (total 33 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Fecha                               11792 non-null  object
 1   C.P.                                11792 non-null  object
 2   Dirección                           11792 non-null  object
 3   Horario                             11792 non-null  object
 4   Latitud                             11792 non-null  object
 5   Localidad                           11792 non-null  object
 6   Longitud (WGS84)                    11792 non-null  object
 7   Margen                              11792 non-null  object
 8   Municipio                           11792 non-null  object
 9   Precio Biodiesel                    11792 non-null  object
 10  Precio Bioetanol                    11792 non-null  object
 11  Precio Gas Natural Comprimido       11792 non-null  object
 12  Precio Gas Natural Licuado          11792 non-null  object
 13  Precio Gases licuados del petróleo  11792 non-null  object
 14  Precio Gasoleo A                    11792 non-null  object
 15  Precio Gasoleo B                    11792 non-null  object
 16  Precio Gasoleo Premium              11792 non-null  object
 17  Precio Gasolina 95 E10              11792 non-null  object
 18  Precio Gasolina 95 E5               11792 non-null  object
 19  Precio Gasolina 95 E5 Premium       11792 non-null  object
 20  Precio Gasolina 98 E10              11792 non-null  object
 21  Precio Gasolina 98 E5               11792 non-null  object
 22  Precio Hidrogeno                    11792 non-null  object
 23  Provincia                           11792 non-null  object
 24  Remisión                            11792 non-null  object
 25  Rótulo                              11792 non-null  object
 26  Tipo Venta                          11792 non-null  object
 27  % BioEtanol                         11792 non-null  object
 28  % Éster metílico                    11792 non-null  object
 29  IDEESS                              11792 non-null  object
 30  IDMunicipio                         11792 non-null  object
 31  IDProvincia                         11792 non-null  object
 32  IDCCAA                              11792 non-null  object
dtypes: object(33)
memory usage: 3.0+ MB

---
Step (3): EDA

                                                    Análisis de Columnas

# Fecha

In [11]:
# Fecha (solo hay una fecha)
Fecha = df_n['Fecha'].unique()
print(type(Fecha))
print(len(Fecha))
Fecha

<class 'numpy.ndarray'>
1

array(['07/11/2022 21:23:55'], dtype=object)

In [12]:
# Nulos 
nulos_f = df_n['Fecha'].isnull().sum()
nulos_f

0

# Código Postal

In [13]:
# Columna C.P.
cp = df_n['C.P.'].unique()
print(type(cp))
print(len(cp))
cp
# En Esaña hay 11752 codigos postales en total

<class 'numpy.ndarray'>
4536

array(['02250', '02152', '02001', ..., '50197', '50800', '50810'],
      dtype=object)

In [14]:
# Nulos 
nulos_cp = df_n['C.P.'].isnull().sum()
nulos_cp

0

# Dirección

In [15]:
# Columna  Dirección
direccion = df_n['Dirección'].unique()
print(type(direccion))
print(len(direccion))
direccion

<class 'numpy.ndarray'>
11474

array(['AVENIDA CASTILLA LA MANCHA, 26', 'CR CM-332, 46,4',
       'CALLE PRINCIPE DE ASTURIAS (POLÍGONO DE ROMICA), 5', ...,
       'POLIGONO CALLE TURIASO, 31', 'CARRETERA N-330A KM. 24,000',
       'CALLE AUSTRIA, 11,17'], dtype=object)

In [16]:
# Nulos dirección
nulos_cp = df_n['Dirección'].isnull().sum()
nulos_cp

0

# Horario

In [17]:
# Horario
horario = df_n['Horario'].unique()
horario

array(['L-D: 07:00-22:00', 'L-D: 7:00-23:00', 'L-D: 06:00-21:30', ...,
       'L-V: 05:30-22:00; S: 07:00-15:00; D: 08:00-15:00',
       'L-V: 08:00-22:30; S: 10:00-22:30',
       'L-V: 05:00-22:00; S-D: 08:00-22:00'], dtype=object)

In [18]:
# Nulos horario
nulos_h = df_n['Horario'].isnull().sum()
nulos_h

0

# Latitud

In [19]:
#Latitud (Coincide Latitud y Longitud con las coordenadas en las gasolineras de Google Maps)
latitud = df_n['Latitud'].unique()
print(len(latitud ))
latitud

11436

array(['39,211417', '39,100389', '39,054694', ..., '41,857000',
       '41,883583', '41,938750'], dtype=object)

In [20]:
# Nulos Latitud
nulos_l = df_n['Latitud'].isnull().sum()
nulos_l

0

# Longitud

In [21]:
# Longitud (Coincide Latitud y Longitud con las coordenadas en las gasolineras de Google Maps)
Longitud = df_n['Longitud (WGS84)'].unique()
print(len(Longitud))
Longitud

11546

array(['-1,539167', '-1,346083', '-1,832000', ..., '-0,794000',
       '-0,782833', '-0,757611'], dtype=object)

In [22]:
# Nulos Longitud
nulos_long = df_n['Longitud (WGS84)'].isnull().sum()
nulos_long

0

# Localidad

In [23]:
#Localidad
Localidad = df_n['Localidad'].unique()
print(len(Localidad))
Localidad

4235

array(['ABENGIBRE', 'ALATOZ', 'ALBACETE', ..., 'VILLARRAPA', 'ZUERA',
       'ONTINAR DE SALZ'], dtype=object)

In [24]:
# Nulos Localidad
nulos_loc = df_n['Localidad'].isnull().sum()
nulos_loc

0

# Municipio

In [25]:
# Municipio (En España hay 8131 Municipios)
Municipio = df_n['Municipio'].unique() 
print(len(Municipio))
Municipio

3435

array(['Abengibre', 'Alatoz', 'Albacete', ..., 'Villarroya de la Sierra',
       'Zaragoza', 'Zuera'], dtype=object)

In [26]:
# Nulos Municipio
nulos_loc = df_n['Municipio'].isnull().sum()
nulos_loc

0

# Margen

In [27]:
# Margen
Margen = df_n['Margen'].unique()
print(len(Margen))
Margen

3

array(['D', 'I', 'N'], dtype=object)

# Provincia

In [28]:
# Provincia (Están todas las Provinicas de España en nuestro df)
Provincia = df_n['Provincia'].unique()
print(len(Provincia))
Provincia

52

array(['ALBACETE', 'ALICANTE', 'ALMERÍA', 'ARABA/ÁLAVA', 'ASTURIAS',
       'ÁVILA', 'BADAJOZ', 'BALEARS (ILLES)', 'BARCELONA', 'BIZKAIA',
       'BURGOS', 'CÁCERES', 'CÁDIZ', 'CANTABRIA', 'CASTELLÓN / CASTELLÓ',
       'CEUTA', 'CIUDAD REAL', 'CÓRDOBA', 'CORUÑA (A)', 'CUENCA',
       'GIPUZKOA', 'GIRONA', 'GRANADA', 'GUADALAJARA', 'HUELVA', 'HUESCA',
       'JAÉN', 'LEÓN', 'LLEIDA', 'LUGO', 'MADRID', 'MÁLAGA', 'MELILLA',
       'MURCIA', 'NAVARRA', 'OURENSE', 'PALENCIA', 'PALMAS (LAS)',
       'PONTEVEDRA', 'RIOJA (LA)', 'SALAMANCA', 'SANTA CRUZ DE TENERIFE',
       'SEGOVIA', 'SEVILLA', 'SORIA', 'TARRAGONA', 'TERUEL', 'TOLEDO',
       'VALENCIA / VALÈNCIA', 'VALLADOLID', 'ZAMORA', 'ZARAGOZA'],
      dtype=object)

In [29]:
# Nulos Provincia
nulos_prov = df_n['Provincia'].isnull().sum()
nulos_prov

0

# Remision

In [30]:
# Remisión (Sistema de envío de información de precios y de ventas a través de API)
Remision = df_n['Remisión'].unique()
print(len(Remision))
print(type(Remision))
Remision

2
<class 'numpy.ndarray'>

array(['dm', 'OM'], dtype=object)

# Rótulo

In [31]:
# Rótulo (En España hay 3952 marcas de Gasolineras en España según datos de Google)
Rotulo = df_n['Rótulo'].unique()
print(len(Rotulo))
print(type(Rotulo))
Rotulo

4011
<class 'numpy.ndarray'>

array(['Nº 10.935', 'REPSOL', 'BP ROMICA', ..., 'DAGO',
       'COOPERATIVA SAN LAMBERTO', 'AN ENERGETICOS ZUERA'], dtype=object)

# Tipo de Venta

In [32]:
# Tipo Venta
tv = df_n['Tipo Venta'].unique()
print(len(tv))
print(type(tv))
tv

2
<class 'numpy.ndarray'>

array(['P', 'R'], dtype=object)

# Porcentaje de Bioetanol

In [33]:
# % BioEtanol (La diferencia entre gasolinas E5 o E10 significan el porcentaje de Etanol (5 o 10%))
bioetanol = df_n['% BioEtanol'].unique()
print(len(bioetanol))
print(type(bioetanol))
bioetanol

3
<class 'numpy.ndarray'>

array(['0,0', '25,0', '85,0'], dtype=object)

# Porcentaje de Éster Metílico

In [34]:
# % Éster metílico (solo para Biodiesel)
em = df_n['% Éster metílico'].unique()
print(len(em))
print(type(em))
em

6
<class 'numpy.ndarray'>

array(['0,0', '7,0', '12,0', '20,0', '30,0', '10,0'], dtype=object)

#  IDEESS

In [35]:
# IDEESS (ID Estación de Servicio, los mismos que estaciones (filas))
IDEESS = df_n['IDEESS'].unique()
print(len(IDEESS))
type(IDEESS)
IDEESS

11792

array(['4375', '5122', '12054', ..., '1452', '9085', '9068'], dtype=object)

In [36]:
# Nulos IDEESS
nulos_IDEESS = df_n['IDEESS'].isnull().sum()
nulos_IDEESS

0

# ID Municipio

In [37]:
# IDMunicipio (un ID más que municipios)
idmun = df_n['IDMunicipio'].unique()
print(len(idmun))
type(idmun)
idmun

3436

array(['52', '53', '54', ..., '8103', '8108', '8109'], dtype=object)

In [38]:
# Nulos ID Municipio
nulos_IDMunicipio = df_n['IDMunicipio'].isnull().sum()
nulos_IDMunicipio

0

# ID Provincia

In [39]:
# IDProvincia (Los mismos ID que Provincias)
idprov = df_n['IDProvincia'].unique()
print(len(idprov))
type(idprov)
idprov

52

array(['02', '03', '04', '01', '33', '05', '06', '07', '08', '48', '09',
       '10', '11', '39', '12', '51', '13', '14', '15', '16', '20', '17',
       '18', '19', '21', '22', '23', '24', '25', '27', '28', '29', '52',
       '30', '31', '32', '34', '35', '36', '26', '37', '38', '40', '41',
       '42', '43', '44', '45', '46', '47', '49', '50'], dtype=object)

In [40]:
nulos_IDProvincia = df_n['IDProvincia'].isnull().sum()
nulos_IDProvincia

0

# ID CCAA

In [41]:
# IDCCAA (ID Comunidades Autónomas, 17 CCAA + Ceuta + Melilla)
# IDProvincia (Los mismos ID que Provincias)
idccaa = df_n['IDCCAA'].unique()
print(len(idccaa))
type(idccaa)
idccaa

19

array(['07', '10', '01', '16', '03', '08', '11', '04', '09', '06', '18',
       '12', '02', '13', '19', '14', '15', '05', '17'], dtype=object)

                                                Columnas Numéricas

# Biodiesel

In [42]:
Biodiesel = df_n['Precio Biodiesel'].unique()
print(len(Biodiesel))
print(type(Biodiesel))
Biodiesel

24
<class 'numpy.ndarray'>

array(['', '1,978', '2,149', '1,999', '2,049', '1,779', '1,799', '2,039',
       '1,739', '1,859', '1,449', '1,968', '1,809', '2,030', '2,009',
       '1,869', '2,069', '1,969', '1,939', '2,040', '1,769', '1,729',
       '1,749', '1,966'], dtype=object)

In [43]:
# Convertimos columna categórica a numérica
df_n['Precio Biodiesel']=df_n['Precio Biodiesel'].str.replace(',','.')
df_n[['Precio Biodiesel']]=df_n[['Precio Biodiesel']].apply(pd.to_numeric)

In [44]:
df_n['Precio Biodiesel'].describe()

count    38.000000
mean      1.887342
std       0.140527
min       1.449000
25%       1.799000
50%       1.859000
75%       1.999000
max       2.149000
Name: Precio Biodiesel, dtype: float64

In [45]:
# Registros sin venta Biodiesel
sin_suministro_b = df_n['Precio Biodiesel'].isnull().sum()
sin_suministro_b

11754

## Precio Bioetanol

In [46]:
Bioetanol = df_n['Precio Bioetanol'].unique()
print(len(Bioetanol))
print(type(Bioetanol))
Bioetanol

6
<class 'numpy.ndarray'>

array(['', '2,219', '1,982', '1,487', '2,079', '1,919'], dtype=object)

In [47]:
# Convertimos columna categórica a numérica
df_n['Precio Bioetanol']=df_n['Precio Bioetanol'].str.replace(',','.')
df_n[['Precio Bioetanol']]=df_n[['Precio Bioetanol']].apply(pd.to_numeric)

In [48]:
df_n['Precio Bioetanol'].describe()

count    5.000000
mean     1.937200
std      0.275924
min      1.487000
25%      1.919000
50%      1.982000
75%      2.079000
max      2.219000
Name: Precio Bioetanol, dtype: float64

In [49]:
# Registros sin venta Biodiesel
sin_suministro_be = df_n['Precio Bioetanol'].isnull().sum()
sin_suministro_be

11787

## Precio Gas Natural Comprimido

In [50]:
Gas_n_c = df_n['Precio Gas Natural Comprimido'].unique()
print(len(Gas_n_c))
print(type(Gas_n_c))
Gas_n_c

32
<class 'numpy.ndarray'>

array(['', '1,790', '1,379', '1,468', '1,485', '1,555', '1,518', '1,438',
       '1,359', '1,349', '1,520', '1,389', '1,398', '1,420', '1,466',
       '2,990', '1,689', '1,483', '1,948', '1,749', '1,679', '1,487',
       '1,615', '1,469', '1,449', '1,380', '2,350', '3,700', '1,433',
       '1,594', '1,709', '1,369'], dtype=object)

In [51]:
# Convertimos columna categórica a numérica
df_n['Precio Gas Natural Comprimido']=df_n['Precio Gas Natural Comprimido'].str.replace(',','.')
df_n[['Precio Gas Natural Comprimido']]=df_n[['Precio Gas Natural Comprimido']].apply(pd.to_numeric)

In [52]:
df_n['Precio Gas Natural Comprimido'].describe()

count    122.000000
mean       1.600762
std        0.301823
min        1.349000
25%        1.379000
50%        1.485000
75%        1.790000
max        3.700000
Name: Precio Gas Natural Comprimido, dtype: float64

In [53]:
# Registros sin venta Biodiesel
sin_suministro_be = df_n['Precio Bioetanol'].isnull().sum()
sin_suministro_be

11787

# Precio Gas Natural Licuado

In [54]:
Gas_nat_lic = df_n['Precio Gas Natural Licuado'].unique()
print(len(Gas_nat_lic))
print(type(Gas_nat_lic))
Gas_nat_lic

18
<class 'numpy.ndarray'>

array(['', '1,449', '1,299', '1,398', '1,368', '1,329', '1,269', '1,399',
       '1,390', '1,396', '2,990', '2,506', '1,389', '1,433', '1,903',
       '3,650', '1,489', '1,319'], dtype=object)

In [55]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gas Natural Licuado']=df_n['Precio Gas Natural Licuado'].str.replace(',','.')
df_n[['Precio Gas Natural Licuado']]=df_n[['Precio Gas Natural Licuado']].apply(pd.to_numeric)

In [56]:
df_n['Precio Gas Natural Licuado'].describe()

count    82.000000
mean      1.424915
std       0.341477
min       1.269000
25%       1.299000
50%       1.348500
75%       1.398000
max       3.650000
Name: Precio Gas Natural Licuado, dtype: float64

In [57]:
# Registros sin venta Gas NAtural Licuado
sin_suministro_gnl = df_n['Precio Gas Natural Licuado'].isnull().sum()
sin_suministro_gnl

11710

# Precio Gases licuados del petróleo

In [58]:
Gas_nat_lic_pet = df_n['Precio Gases licuados del petróleo'].unique()
print(len(Gas_nat_lic_pet))
print(type(Gas_nat_lic_pet))
Gas_nat_lic_pet

123
<class 'numpy.ndarray'>

array(['', '1,089', '0,898', '1,019', '1,029', '1,059', '0,969', '1,049',
       '0,968', '1,020', '1,079', '1,099', '1,039', '1,034', '1,159',
       '0,959', '1,012', '0,830', '0,930', '1,077', '1,088', '1,038',
       '1,069', '0,939', '0,910', '1,052', '1,009', '1,200', '1,119',
       '0,999', '1,179', '0,980', '1,189', '0,859', '1,094', '1,095',
       '1,134', '1,129', '0,909', '0,899', '0,885', '1,098', '0,950',
       '0,886', '1,017', '1,060', '1,037', '1,090', '1,109', '1,008',
       '0,979', '1,028', '0,865', '0,650', '0,929', '1,148', '1,138',
       '0,805', '1,022', '1,018', '0,998', '0,879', '1,149', '0,768',
       '1,004', '0,990', '0,970', '1,169', '0,997', '0,965', '1,150',
       '1,025', '0,949', '0,889', '1,139', '1,140', '1,220', '1,260',
       '1,250', '1,160', '0,759', '1,070', '1,158', '0,769', '1,115',
       '0,919', '1,100', '0,977', '1,106', '0,908', '1,048', '1,130',
       '0,989', '1,199', '1,185', '1,155', '0,809', '0,801', '0,808',
       '0,799', '0,789', '0,839', '0,800', '0,818', '0,829', '0,958',
       '1,080', '1,026', '1,000', '0,870', '0,967', '1,042', '0,974',
       '0,944', '0,905', '0,925', '0,995', '0,915', '0,850', '0,790',
       '0,779', '1,175', '0,849'], dtype=object)

In [59]:
# Convertimos columna categórica a numérica
df_n['Precio Gases licuados del petróleo']=df_n['Precio Gases licuados del petróleo'].str.replace(',','.')
df_n[['Precio Gases licuados del petróleo']]=df_n[['Precio Gases licuados del petróleo']].apply(pd.to_numeric)

In [60]:
df_n['Precio Gases licuados del petróleo'].describe()

count    853.000000
mean       1.030060
std        0.079261
min        0.650000
25%        0.999000
50%        1.039000
75%        1.069000
max        1.260000
Name: Precio Gases licuados del petróleo, dtype: float64

In [61]:
# Registros sin venta Gas NAtural Licuado del Petróleo
sin_suministro_gnlp = df_n['Precio Gases licuados del petróleo'].isnull().sum()
sin_suministro_gnlp

10939

In [62]:
ceros_sin_suministro_gnlp = (df_n['Precio Gases licuados del petróleo'] == 0).sum()
ceros_sin_suministro_gnlp

0

# Gasoleo A

In [63]:
Gasoleo_A = df_n['Precio Gasoleo A'].unique()
print(len(Gasoleo_A))
print(type(Gasoleo_A))
Gasoleo_A

430
<class 'numpy.ndarray'>

array(['1,959', '2,040', '2,039', '2,019', '1,897', '2,035', '1,999',
       '1,878', '2,009', '1,929', '1,899', '1,949', '2,049', '1,979',
       '1,950', '', '2,029', '1,869', '1,870', '1,879', '2,259', '2,015',
       '2,025', '1,919', '1,969', '1,995', '1,964', '1,939', '1,849',
       '1,954', '1,800', '1,830', '1,889', '1,989', '1,885', '1,846',
       '1,987', '1,930', '1,860', '1,820', '1,740', '2,059', '1,805',
       '1,780', '1,813', '1,856', '1,848', '1,858', '1,994', '1,791',
       '1,857', '2,020', '1,877', '1,796', '1,799', '1,837', '1,992',
       '2,027', '1,868', '1,990', '1,998', '1,972', '1,909', '1,887',
       '2,069', '1,898', '1,839', '1,961', '1,829', '1,859', '1,951',
       '2,004', '1,968', '1,912', '1,975', '2,003', '1,875', '1,955',
       '1,826', '1,825', '1,904', '1,958', '2,007', '1,960', '1,940',
       '1,845', '2,034', '1,944', '1,936', '2,045', '1,914', '1,855',
       '1,867', '1,937', '1,970', '1,789', '1,838', '2,026', '1,974',
       '1,894', '1,809', '1,817', '1,749', '1,819', '1,922', '1,754',
       '1,797', '1,920', '1,882', '1,896', '2,017', '1,886', '1,810',
       '1,895', '1,945', '2,099', '1,806', '1,850', '1,779', '1,836',
       '1,816', '1,880', '1,847', '1,827', '1,997', '1,871', '2,005',
       '1,957', '1,890', '1,769', '2,079', '1,971', '2,044', '1,874',
       '2,018', '1,984', '1,918', '1,903', '1,905', '1,893', '2,000',
       '2,010', '1,932', '1,917', '2,060', '2,058', '2,075', '2,070',
       '1,910', '2,048', '1,834', '1,900', '1,902', '2,030', '1,941',
       '1,852', '1,985', '1,784', '1,739', '2,109', '1,841', '1,982',
       '1,854', '1,851', '1,947', '1,866', '1,938', '2,028', '1,767',
       '1,828', '2,055', '2,041', '2,067', '2,097', '2,057', '2,089',
       '2,012', '2,084', '1,978', '1,967', '1,790', '1,991', '2,008',
       '2,037', '1,794', '1,934', '1,965', '1,793', '2,014', '2,011',
       '1,906', '1,843', '2,125', '1,792', '1,935', '1,864', '1,988',
       '1,783', '1,928', '1,888', '1,798', '1,795', '1,927', '2,299',
       '1,777', '1,977', '2,139', '1,948', '1,915', '2,016', '1,913',
       '1,833', '1,865', '1,840', '1,815', '1,908', '1,924', '1,876',
       '1,980', '2,024', '1,956', '1,946', '1,802', '1,808', '1,773',
       '1,771', '1,973', '1,824', '1,589', '1,565', '1,588', '1,962',
       '1,901', '1,757', '1,873', '1,775', '1,782', '1,459', '1,475',
       '1,770', '1,760', '1,752', '1,925', '1,679', '1,747', '1,921',
       '1,781', '1,755', '1,996', '2,021', '2,038', '2,065', '2,068',
       '1,993', '1,842', '1,814', '2,054', '1,853', '1,786', '1,844',
       '2,095', '2,145', '1,788', '2,033', '1,863', '1,785', '2,088',
       '2,309', '1,831', '1,751', '2,022', '1,734', '1,759', '1,716',
       '1,835', '1,657', '2,200', '1,750', '2,080', '1,966', '2,090',
       '1,931', '1,916', '1,952', '1,756', '1,811', '1,942', '1,818',
       '1,807', '1,700', '1,500', '1,787', '1,766', '1,891', '1,963',
       '1,711', '1,772', '1,892', '2,100', '2,050', '2,052', '1,765',
       '1,976', '1,881', '2,211', '2,023', '2,199', '2,006', '2,072',
       '2,043', '1,832', '1,730', '1,763', '1,884', '1,494', '1,495',
       '1,883', '1,550', '1,446', '2,111', '1,804', '2,013', '2,181',
       '1,933', '1,821', '1,981', '1,499', '1,519', '1,505', '1,374',
       '1,469', '1,489', '1,449', '1,399', '1,436', '1,389', '1,537',
       '1,548', '1,539', '1,534', '1,504', '1,536', '1,509', '1,529',
       '1,514', '1,522', '1,513', '1,485', '1,468', '1,487', '1,451',
       '1,439', '1,527', '1,479', '1,531', '1,599', '1,573', '1,532',
       '1,484', '1,525', '1,544', '1,379', '1,524', '1,559', '1,503',
       '1,397', '1,510', '1,520', '1,579', '1,528', '1,483', '1,526',
       '1,538', '1,515', '1,448', '1,454', '1,415', '1,497', '1,546',
       '1,567', '1,444', '1,517', '1,609', '1,926', '2,032', '1,822',
       '1,907', '2,085', '1,872', '1,518', '1,474', '1,562', '1,658',
       '1,496', '1,445', '1,480', '1,492', '1,695', '1,678', '1,512',
       '1,429', '1,419', '1,680', '1,319', '1,498', '1,493', '1,299',
       '1,491', '1,554', '1,733', '1,549', '1,434', '1,478', '2,053',
       '1,530', '1,801', '1,862', '1,823', '1,737', '1,768', '1,861',
       '2,119', '2,150', '1,702', '1,762', '1,923', '2,101', '1,943',
       '1,803', '1,660'], dtype=object)

In [64]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasoleo A']=df_n['Precio Gasoleo A'].str.replace(',','.')
df_n[['Precio Gasoleo A']]=df_n[['Precio Gasoleo A']].apply(pd.to_numeric)

In [65]:
df_n['Precio Gasoleo A'].describe()

count    11445.000000
mean         1.946454
std          0.116094
min          1.299000
25%          1.899000
50%          1.979000
75%          2.019000
max          2.309000
Name: Precio Gasoleo A, dtype: float64

In [66]:
# Registros sin venta Gasoleo A
sin_suministro_gA = df_n['Precio Gasoleo A'].isnull().sum()
sin_suministro_gA

347

In [67]:
ceros_sin_suministro_gA = (df_n['Precio Gasoleo A'] == 0).sum()
ceros_sin_suministro_gA

0

# Gasoleo B

In [68]:
Gasoleo_B = df_n['Precio Gasoleo B'].unique()
print(len(Gasoleo_A))
print(type(Gasoleo_A))
Gasoleo_B

430
<class 'numpy.ndarray'>

array(['1,460', '', '1,621', '1,450', '1,440', '1,639', '1,539', '1,559',
       '1,446', '1,690', '1,438', '1,635', '1,499', '1,470', '1,609',
       '1,550', '1,578', '1,524', '1,529', '1,428', '1,657', '1,400',
       '1,699', '1,650', '1,617', '1,588', '1,451', '1,530', '1,669',
       '1,449', '1,377', '1,490', '1,665', '1,430', '1,679', '1,375',
       '1,370', '1,629', '1,574', '1,457', '1,267', '1,602', '1,481',
       '1,589', '1,569', '1,599', '1,420', '1,719', '1,619', '1,649',
       '1,689', '1,579', '1,659', '1,076', '1,601', '1,682', '1,600',
       '1,749', '1,595', '1,610', '1,779', '1,672', '1,469', '1,714',
       '1,676', '1,608', '1,643', '1,700', '1,491', '1,489', '1,553',
       '1,500', '1,495', '1,604', '1,594', '1,585', '1,554', '1,473',
       '1,412', '1,549', '1,488', '1,475', '1,570', '1,620', '1,615',
       '1,685', '1,509', '1,479', '1,645', '1,769', '1,739', '1,625',
       '1,849', '1,759', '1,729', '1,584', '1,627', '1,454', '1,725',
       '1,658', '1,638', '1,642', '1,590', '1,709', '1,558', '1,614',
       '1,605', '1,800', '1,607', '1,540', '1,687', '1,674', '1,694',
       '1,565', '1,525', '1,829', '1,596', '1,427', '1,809', '1,697',
       '1,561', '1,444', '1,622', '1,634', '1,403', '1,644', '1,294',
       '1,387', '1,379', '1,592', '1,603', '1,448', '1,512', '1,583',
       '1,670', '1,480', '1,528', '1,510', '1,459', '1,435', '1,750',
       '1,340', '1,630', '1,393', '1,452', '1,456', '1,109', '1,398',
       '1,442', '1,349', '1,492', '1,507', '1,413', '1,533', '1,386',
       '1,519', '1,522', '1,447', '1,647', '1,520', '1,421', '1,455',
       '1,537', '1,315', '1,587', '1,411', '1,409', '1,545', '1,399',
       '1,471', '1,439', '1,675', '1,662', '1,667', '1,949', '1,567',
       '1,535', '1,547', '1,677', '1,691', '1,506', '1,733', '1,711',
       '1,654', '1,640', '1,710', '1,708', '1,564', '1,612', '1,390',
       '1,333', '1,416', '1,656', '1,582', '1,009', '1,429', '1,628',
       '1,668', '1,404', '1,425', '1,616', '1,496', '1,468', '1,613',
       '1,397', '1,618', '1,571', '1,580', '1,611', '1,626', '1,606',
       '1,581', '1,560', '1,778', '1,586', '1,573', '1,598', '1,498',
       '1,566', '1,652', '1,365', '1,465', '1,437', '1,485', '1,395',
       '1,426', '1,434', '1,575', '1,415', '1,653', '1,360', '1,663',
       '1,299', '1,483', '1,680', '1,563', '1,555', '1,408', '1,383',
       '1,419', '1,422', '1,389', '1,357', '1,417', '1,378', '1,534',
       '1,597', '1,556', '1,380', '1,410', '1,353', '1,651', '1,631',
       '1,698', '1,661', '1,632', '1,591', '1,636', '1,705', '1,686',
       '1,695', '1,436', '1,300', '1,541', '1,467', '1,538', '1,474',
       '1,464', '1,348', '1,731', '1,724', '1,688', '1,721', '1,514',
       '1,742', '1,624', '1,890', '1,671', '1,542', '1,385', '1,799',
       '1,548', '1,505', '1,367', '1,472', '1,358', '1,445', '1,504',
       '1,526', '1,568', '1,789', '1,355', '1,900', '1,646', '1,482',
       '1,337', '1,684', '1,655', '1,760', '1,431', '1,503', '1,593',
       '1,477', '1,214', '1,391', '1,432', '1,350', '1,463', '1,660',
       '1,484', '1,557', '1,317', '1,641', '1,487', '1,466', '1,170',
       '1,263', '1,531', '1,392', '1,577', '1,330', '1,361', '1,546',
       '1,329', '1,320', '1,369', '1,678', '1,673', '1,737', '1,768',
       '1,576', '1,384', '1,326', '1,352', '1,523', '1,396', '1,745',
       '1,418', '1,517', '1,521', '1,405', '1,424', '1,371', '1,486',
       '1,458', '1,839', '1,494', '1,200', '1,441', '1,289', '1,664',
       '1,730', '1,552', '1,755', '1,423', '1,508', '1,859', '1,744',
       '1,720', '1,702', '1,692', '1,536', '1,443', '1,637', '1,648',
       '1,518', '1,388', '1,462', '1,414', '1,461', '1,338', '1,497',
       '1,551', '1,130', '1,476', '1,623', '1,269', '1,286', '1,280',
       '1,516', '1,351', '1,253', '1,515', '1,501', '1,339', '1,572',
       '1,382', '1,368', '1,296', '1,732', '1,227', '1,345'], dtype=object)

In [69]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasoleo B']=df_n['Precio Gasoleo B'].str.replace(',','.')
df_n[['Precio Gasoleo B']]=df_n[['Precio Gasoleo B']].apply(pd.to_numeric)

In [70]:
df_n['Precio Gasoleo B'].describe()

count    3003.000000
mean        1.558440
std         0.102439
min         1.009000
25%         1.480000
50%         1.574000
75%         1.632000
max         1.949000
Name: Precio Gasoleo B, dtype: float64

In [71]:
# Registros sin venta Gasoleo B
sin_suministro_gB = df_n['Precio Gasoleo B'].isnull().sum()
sin_suministro_gB

8789

In [72]:
ceros_sin_suministro_gB = (df_n['Precio Gasoleo B'] == 0).sum()
ceros_sin_suministro_gB

0

# Precio Gasoleo Premium

In [73]:
Gasoleo_P = df_n['Precio Gasoleo Premium'].unique()
print(len(Gasoleo_P))
print(type(Gasoleo_P))
Gasoleo_P

362
<class 'numpy.ndarray'>

array(['', '2,300', '2,129', '2,059', '2,089', '1,948', '2,019', '2,069',
       '2,099', '1,979', '2,079', '2,065', '1,959', '2,119', '2,029',
       '1,999', '1,966', '1,989', '1,949', '2,095', '2,125', '2,044',
       '2,039', '2,109', '2,049', '1,969', '2,139', '2,009', '1,889',
       '2,084', '2,075', '1,867', '2,115', '2,058', '2,093', '2,159',
       '1,899', '1,939', '1,909', '2,074', '2,001', '1,975', '1,875',
       '1,984', '2,097', '2,026', '2,081', '2,020', '2,124', '1,988',
       '2,111', '2,055', '2,098', '2,105', '2,091', '1,829', '2,999',
       '1,919', '1,929', '2,092', '1,905', '1,974', '1,935', '2,022',
       '1,977', '2,086', '1,878', '1,869', '1,897', '1,985', '1,879',
       '1,926', '1,880', '1,916', '1,865', '1,845', '1,903', '1,858',
       '1,895', '2,094', '2,205', '2,149', '2,134', '2,169', '1,887',
       '1,947', '2,054', '2,085', '1,968', '1,953', '2,034', '1,917',
       '1,913', '1,950', '2,050', '2,135', '2,117', '1,970', '2,145',
       '1,859', '2,130', '2,138', '2,083', '2,090', '2,030', '1,789',
       '1,874', '2,072', '1,765', '2,078', '2,005', '1,819', '2,179',
       '2,121', '1,898', '2,128', '1,998', '2,137', '2,101', '2,082',
       '2,127', '2,045', '1,908', '2,061', '2,229', '2,040', '1,924',
       '1,928', '2,060', '1,868', '1,955', '1,918', '2,104', '2,076',
       '1,849', '2,064', '2,024', '2,071', '2,116', '2,015', '1,810',
       '1,885', '1,956', '1,946', '1,855', '1,995', '1,827', '1,904',
       '1,809', '1,938', '2,011', '1,987', '1,957', '2,100', '1,920',
       '2,175', '2,047', '2,077', '1,839', '2,025', '1,910', '2,161',
       '2,199', '2,120', '2,166', '1,996', '2,048', '2,118', '1,972',
       '2,000', '1,847', '2,057', '1,994', '2,070', '2,004', '2,041',
       '1,629', '1,609', '2,028', '1,844', '2,056', '1,860', '1,945',
       '2,035', '1,954', '1,983', '2,046', '2,068', '2,027', '2,088',
       '1,965', '1,990', '2,155', '2,144', '2,110', '2,148', '2,211',
       '1,980', '2,189', '2,114', '2,067', '2,106', '1,992', '1,914',
       '2,187', '2,007', '2,063', '2,080', '1,997', '2,107', '1,870',
       '1,925', '1,982', '2,006', '1,881', '2,073', '1,927', '2,126',
       '1,877', '1,774', '2,066', '2,051', '1,854', '1,799', '2,165',
       '2,017', '2,122', '2,087', '2,131', '1,777', '1,886', '1,857',
       '2,172', '1,915', '2,038', '1,964', '1,807', '2,108', '1,891',
       '1,941', '1,835', '2,053', '1,892', '1,534', '1,545', '2,032',
       '2,123', '1,836', '1,888', '1,930', '1,896', '1,837', '2,008',
       '2,018', '2,301', '2,062', '1,649', '1,639', '1,604', '1,659',
       '1,579', '1,669', '1,605', '1,550', '1,709', '1,679', '1,634',
       '1,635', '1,631', '1,624', '1,619', '1,618', '1,601', '1,611',
       '1,625', '1,479', '1,565', '1,689', '1,719', '1,718', '1,830',
       '1,654', '1,642', '1,630', '1,614', '1,640', '1,549', '1,620',
       '1,525', '1,622', '1,729', '1,644', '1,636', '1,594', '1,599',
       '1,628', '1,648', '1,584', '1,510', '1,554', '1,557', '1,585',
       '1,600', '1,688', '1,700', '1,637', '2,112', '1,961', '2,014',
       '1,643', '1,840', '1,615', '1,646', '1,816', '1,626', '1,547',
       '1,725', '1,589', '1,569', '1,544', '1,529', '1,580', '1,815',
       '1,780', '1,603', '1,573', '1,469', '1,559', '1,633', '1,590',
       '1,638', '1,740', '1,776', '1,623', '1,671', '1,588', '1,606',
       '2,188', '1,795', '2,157', '1,906', '1,850', '1,825', '1,981',
       '2,031', '2,036', '1,960', '1,756', '2,037', '1,967', '2,141',
       '2,185', '1,978', '1,890', '1,843', '2,033', '1,814', '2,151',
       '1,937', '1,779', '1,884', '1,846'], dtype=object)

In [74]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasoleo Premium']=df_n['Precio Gasoleo Premium'].str.replace(',','.')
df_n[['Precio Gasoleo Premium']]=df_n[['Precio Gasoleo Premium']].apply(pd.to_numeric)

In [75]:
df_n['Precio Gasoleo Premium'].describe()

count    7498.000000
mean        2.043400
std         0.113722
min         1.469000
25%         2.029000
50%         2.077000
75%         2.109000
max         2.999000
Name: Precio Gasoleo Premium, dtype: float64

In [76]:
# Registros sin venta Gasoleo Premium
sin_suministro_gP = df_n['Precio Gasoleo Premium'].isnull().sum()
sin_suministro_gP

4294

In [77]:
ceros_sin_suministro_gP = (df_n['Precio Gasoleo Premium'] == 0).sum()
ceros_sin_suministro_gP

0

# Precio Gasolina 95 E10

In [78]:
g95_E10 = df_n['Precio Gasolina 95 E10'].unique()
print(len(g95_E10))
print(type(g95_E10))
g95_E10

21
<class 'numpy.ndarray'>

array(['', '2,109', '1,949', '1,799', '1,839', '1,720', '1,829', '1,919',
       '1,959', '1,840', '1,869', '1,699', '1,749', '1,669', '1,879',
       '1,899', '1,929', '1,969', '1,759', '1,868', '1,864'], dtype=object)

In [79]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasolina 95 E10']=df_n['Precio Gasolina 95 E10'].str.replace(',','.')
df_n[['Precio Gasolina 95 E10']]=df_n[['Precio Gasolina 95 E10']].apply(pd.to_numeric)

In [80]:
 df_n['Precio Gasolina 95 E10'].describe()

count    22.000000
mean      1.850636
std       0.106335
min       1.669000
25%       1.769000
50%       1.866000
75%       1.914000
max       2.109000
Name: Precio Gasolina 95 E10, dtype: float64

In [81]:
# Registros sin venta Gasoleo Premium
sin_suministro_95E10 = df_n['Precio Gasolina 95 E10'].isnull().sum()
sin_suministro_95E10

11770

# Precio Gasolina 95 E5

In [82]:
g95_E5 = df_n['Precio Gasolina 95 E5'].unique()
print(len(g95_E5))
print(type(g95_E5))
g95_E5

457
<class 'numpy.ndarray'>

array(['1,769', '1,909', '1,829', '1,859', '1,687', '', '1,799', '1,698',
       '1,759', '1,809', '1,789', '1,779', '1,699', '1,749', '1,730',
       '1,745', '1,739', '1,819', '1,689', '1,750', '1,719', '2,299',
       '1,794', '1,834', '1,652', '1,729', '1,632', '1,760', '1,709',
       '1,708', '1,669', '1,775', '1,899', '1,805', '1,602', '1,678',
       '1,627', '1,673', '1,784', '1,715', '1,824', '1,697', '1,679',
       '1,849', '1,677', '1,839', '1,619', '1,639', '1,659', '1,577',
       '1,777', '1,547', '1,696', '1,812', '1,793', '1,778', '1,755',
       '1,854', '1,667', '1,869', '1,657', '1,748', '1,823', '1,649',
       '1,717', '1,757', '1,800', '1,855', '1,625', '1,783', '1,725',
       '1,764', '1,614', '1,635', '1,774', '1,787', '1,744', '1,804',
       '1,734', '1,746', '1,884', '1,879', '1,814', '1,818', '1,795',
       '1,828', '1,768', '1,840', '1,589', '1,599', '1,904', '1,914',
       '1,758', '1,786', '1,629', '1,695', '1,617', '1,765', '1,864',
       '1,737', '1,637', '1,831', '1,767', '1,668', '1,688', '1,830',
       '1,837', '1,680', '1,785', '1,690', '1,969', '1,640', '1,666',
       '1,630', '1,732', '1,798', '1,685', '1,743', '1,670', '1,825',
       '1,655', '1,889', '1,835', '1,780', '1,919', '1,770', '1,875',
       '1,894', '1,898', '1,844', '1,880', '1,728', '1,724', '2,000',
       '1,850', '1,874', '1,747', '1,929', '1,918', '1,773', '1,870',
       '1,888', '1,700', '1,676', '2,019', '1,740', '1,857', '1,609',
       '1,920', '1,790', '1,838', '1,735', '1,845', '1,733', '1,738',
       '1,999', '1,853', '1,846', '1,868', '1,788', '1,827', '1,801',
       '1,588', '1,727', '1,694', '1,876', '1,618', '1,959', '1,848',
       '1,871', '1,756', '1,877', '1,742', '1,592', '1,931', '1,704',
       '1,647', '1,587', '1,948', '1,591', '1,658', '1,883', '1,808',
       '1,718', '1,590', '1,726', '1,608', '1,578', '1,684', '1,598',
       '1,593', '1,865', '1,930', '1,939', '2,074', '1,924', '1,908',
       '1,797', '2,149', '1,915', '1,796', '1,890', '1,810', '1,947',
       '1,610', '1,979', '1,816', '1,856', '1,660', '1,815', '1,720',
       '1,579', '1,648', '1,604', '1,900', '1,714', '1,600', '1,710',
       '1,620', '1,772', '1,603', '1,484', '1,465', '1,483', '1,791',
       '1,675', '1,663', '1,645', '1,644', '1,624', '1,803', '1,820',
       '1,560', '1,650', '1,836', '1,671', '1,308', '1,340', '1,597',
       '1,901', '1,761', '1,817', '1,897', '1,806', '1,933', '1,885',
       '1,935', '1,851', '1,911', '1,925', '1,832', '1,905', '1,917',
       '1,705', '1,646', '1,802', '1,965', '1,686', '1,950', '1,662',
       '1,949', '1,656', '1,766', '1,615', '1,847', '2,329', '1,672',
       '1,860', '1,643', '1,665', '1,858', '1,887', '1,881', '1,754',
       '1,833', '1,741', '1,681', '1,826', '1,706', '1,878', '1,634',
       '1,751', '1,702', '1,651', '2,120', '1,703', '1,594', '1,595',
       '1,596', '1,711', '1,682', '1,612', '1,752', '1,565', '1,622',
       '1,567', '2,049', '1,989', '1,569', '1,843', '1,910', '1,928',
       '1,882', '1,736', '1,712', '1,713', '1,636', '1,731', '1,664',
       '1,661', '1,408', '1,409', '1,478', '1,763', '1,723', '2,100',
       '1,841', '1,776', '2,111', '1,623', '1,807', '1,981', '1,852',
       '1,923', '1,494', '1,399', '1,448', '1,279', '1,459', '1,419',
       '1,249', '1,359', '1,233', '1,339', '1,439', '1,300', '1,438',
       '1,389', '1,169', '1,499', '1,488', '1,479', '1,469', '1,440',
       '1,474', '1,471', '1,444', '1,454', '1,430', '1,489', '1,492',
       '1,485', '1,495', '1,447', '1,259', '1,475', '1,429', '1,349',
       '1,379', '1,487', '1,482', '1,521', '1,503', '1,502', '1,239',
       '1,529', '1,473', '1,289', '1,480', '1,468', '1,559', '1,514',
       '1,466', '1,496', '1,445', '1,455', '1,449', '1,428', '1,434',
       '1,374', '1,378', '1,417', '1,450', '1,498', '1,497', '1,866',
       '1,229', '1,205', '1,394', '1,392', '1,381', '1,380', '1,355',
       '1,382', '1,581', '1,585', '1,404', '1,385', '1,611', '1,549',
       '1,432', '1,410', '1,297', '1,369', '1,352', '1,605', '1,427',
       '1,295', '1,415', '1,425', '1,550', '1,375', '1,199', '1,299',
       '1,179', '1,365', '1,442', '1,377', '1,364', '1,424', '1,423',
       '1,414', '1,395', '1,314', '1,472', '1,396', '1,350', '1,537',
       '1,403', '1,413', '1,250', '1,453', '1,230', '1,383', '1,384',
       '1,371', '1,372', '1,477', '1,418', '1,388', '1,633', '1,842',
       '2,024', '1,753', '1,654', '1,782', '1,707', '1,641', '1,691',
       '1,692', '1,722', '2,027', '1,638', '1,867', '1,781', '1,601',
       '1,683'], dtype=object)

In [83]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasolina 95 E5']=df_n['Precio Gasolina 95 E5'].str.replace(',','.')
df_n[['Precio Gasolina 95 E5']]=df_n[['Precio Gasolina 95 E5']].apply(pd.to_numeric)

In [84]:
df_n['Precio Gasolina 95 E5'].describe()

count    10642.000000
mean         1.775169
std          0.102950
min          1.169000
25%          1.735000
50%          1.799000
75%          1.839000
max          2.329000
Name: Precio Gasolina 95 E5, dtype: float64

In [85]:
# Registros sin venta Gasoleo Premium
sin_suministro_g95E5 = df_n['Precio Gasolina 95 E5'].isnull().sum()
sin_suministro_g95E5

1150

In [86]:
ceros_sin_suministro_g95E5  = (df_n['Precio Gasolina 95 E5'] == 0).sum()
ceros_sin_suministro_g95E5

0

# Precio Gasolina 95 E5 Premium

In [87]:
g95_E5_P = df_n['Precio Gasolina 95 E5 Premium'].unique()
print(len(g95_E5_P))
print(type(g95_E5_P))
g95_E5_P

100
<class 'numpy.ndarray'>

array(['', '1,899', '1,869', '1,799', '1,879', '1,829', '1,859', '1,809',
       '1,979', '1,849', '1,924', '1,872', '1,874', '1,779', '1,909',
       '1,839', '1,944', '1,889', '1,864', '1,845', '1,699', '1,789',
       '1,939', '1,964', '1,884', '1,698', '1,894', '1,689', '1,914',
       '1,989', '1,679', '1,656', '1,675', '1,999', '1,904', '1,949',
       '1,819', '1,994', '1,959', '1,844', '1,929', '1,954', '1,919',
       '1,969', '1,885', '1,974', '1,934', '1,824', '1,734', '1,794',
       '1,814', '1,718', '1,769', '1,935', '1,947', '1,804', '1,867',
       '1,749', '1,759', '1,840', '1,854', '1,519', '1,870', '1,709',
       '1,835', '1,719', '1,908', '1,765', '1,846', '1,893', '1,905',
       '1,827', '1,938', '1,710', '1,739', '1,708', '1,729', '1,717',
       '1,748', '1,747', '1,726', '1,697', '1,696', '1,788', '1,627',
       '1,808', '2,014', '1,359', '1,509', '1,444', '1,439', '1,892',
       '1,865', '1,639', '1,888', '1,811', '1,690', '1,721', '2,099',
       '1,878'], dtype=object)

In [88]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasolina 95 E5 Premium']=df_n['Precio Gasolina 95 E5 Premium'].str.replace(',','.')
df_n[['Precio Gasolina 95 E5 Premium']]=df_n[['Precio Gasolina 95 E5 Premium']].apply(pd.to_numeric)

In [89]:
df_n['Precio Gasolina 95 E5 Premium'].describe()

count    803.000000
mean       1.872020
std        0.076385
min        1.359000
25%        1.849000
50%        1.884000
75%        1.919000
max        2.099000
Name: Precio Gasolina 95 E5 Premium, dtype: float64

In [90]:
# Registros sin venta Gasolina 95 E5 Premium
sin_suministro_g95E5_Prem = df_n['Precio Gasolina 95 E5 Premium'].isnull().sum()
sin_suministro_g95E5_Prem

10989

In [91]:
ceros_sin_suministro_g95E5_Prem  = (df_n['Precio Gasolina 95 E5 Premium'] == 0).sum()
ceros_sin_suministro_g95E5

0

# Precio Gasolina 98 E10

In [92]:
g98_E10 = df_n['Precio Gasolina 98 E10'].unique()
print(len(g98_E10))
print(type(g98_E10))
g98_E10

8
<class 'numpy.ndarray'>

array(['', '1,995', '1,819', '1,760', '1,907', '1,939', '1,949', '1,838'],
      dtype=object)

In [93]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasolina 98 E10']=df_n['Precio Gasolina 98 E10'].str.replace(',','.')
df_n[['Precio Gasolina 98 E10']]=df_n[['Precio Gasolina 98 E10']].apply(pd.to_numeric)

In [94]:
df_n['Precio Gasolina 98 E10'].describe()

count    8.000000
mean     1.893250
std      0.079424
min      1.760000
25%      1.833250
50%      1.923000
75%      1.941500
max      1.995000
Name: Precio Gasolina 98 E10, dtype: float64

In [95]:
# Registros sin venta Gasolina 98 E10 
sin_suministro_g98E10 = df_n['Precio Gasolina 98 E10'].isnull().sum()
sin_suministro_g98E10

11784

# Precio Gasolina 98 E5

In [96]:
g98_E5 = df_n['Precio Gasolina 98 E5'].unique()
print(len(g98_E5))
print(type(g98_E5))
g98_E5

414
<class 'numpy.ndarray'>

array(['', '2,200', '1,971', '1,959', '1,939', '1,859', '1,919', '1,909',
       '2,089', '1,911', '1,899', '1,879', '1,855', '1,869', '1,929',
       '1,989', '2,369', '1,926', '1,931', '1,889', '1,961', '2,099',
       '1,969', '1,861', '2,179', '1,941', '1,916', '1,944', '1,999',
       '1,949', '1,849', '2,001', '1,947', '1,981', '1,823', '1,964',
       '1,898', '1,927', '2,599', '2,009', '1,928', '2,041', '1,979',
       '2,019', '1,848', '1,895', '1,937', '1,904', '1,805', '1,876',
       '1,779', '1,946', '2,021', '1,930', '1,936', '1,970', '1,921',
       '2,039', '2,044', '2,054', '2,999', '1,884', '1,991', '1,819',
       '1,809', '1,915', '1,956', '1,875', '1,966', '1,980', '1,975',
       '1,839', '1,758', '1,925', '1,828', '2,000', '1,953', '2,069',
       '1,857', '2,071', '2,049', '1,955', '2,029', '2,059', '2,169',
       '1,994', '2,038', '2,011', '2,026', '2,061', '1,976', '1,907',
       '1,868', '1,840', '1,996', '1,986', '1,924', '2,031', '2,006',
       '2,056', '1,940', '2,141', '1,917', '1,865', '2,109', '2,005',
       '2,028', '1,799', '1,820', '1,954', '1,888', '1,890', '1,906',
       '1,885', '1,990', '1,838', '1,846', '2,003', '1,998', '2,018',
       '1,987', '1,985', '1,968', '1,978', '1,829', '1,920', '2,025',
       '1,792', '1,901', '1,984', '2,046', '2,007', '1,951', '1,802',
       '2,160', '1,914', '2,020', '1,722', '1,699', '1,950', '1,988',
       '1,816', '2,180', '1,725', '1,974', '1,864', '1,896', '2,150',
       '1,938', '1,935', '1,749', '1,712', '2,047', '1,995', '1,822',
       '1,908', '1,934', '2,079', '2,124', '2,078', '2,098', '2,051',
       '2,027', '2,085', '2,073', '1,958', '2,157', '2,199', '2,219',
       '1,878', '2,139', '2,014', '1,785', '1,874', '1,767', '2,057',
       '1,880', '1,945', '2,209', '1,789', '1,887', '2,048', '1,499',
       '1,513', '2,149', '1,871', '2,229', '1,845', '1,815', '1,856',
       '1,965', '2,095', '1,942', '2,159', '2,065', '2,100', '2,017',
       '2,016', '2,195', '1,932', '1,918', '1,740', '1,886', '1,842',
       '2,060', '2,010', '2,129', '1,851', '1,957', '2,052', '1,755',
       '2,024', '1,810', '1,963', '1,821', '1,776', '2,500', '1,905',
       '1,997', '1,894', '1,900', '1,913', '1,948', '2,299', '1,835',
       '1,602', '2,074', '2,032', '2,015', '1,765', '1,769', '1,729',
       '2,075', '1,727', '1,902', '1,739', '1,960', '2,034', '1,962',
       '2,140', '1,843', '2,068', '1,788', '2,239', '1,833', '1,844',
       '1,993', '1,952', '1,757', '1,825', '1,858', '1,797', '1,748',
       '1,790', '2,215', '1,977', '1,897', '1,584', '1,519', '1,579',
       '1,534', '1,669', '1,549', '1,459', '1,417', '1,599', '1,589',
       '1,450', '1,569', '1,509', '1,659', '1,613', '1,609', '1,551',
       '1,582', '1,581', '1,544', '1,542', '1,639', '1,612', '1,649',
       '1,588', '1,593', '1,629', '1,601', '1,617', '1,409', '1,558',
       '1,576', '1,635', '1,684', '1,663', '1,598', '1,614', '1,600',
       '1,632', '1,604', '1,574', '1,529', '1,620', '1,610', '1,580',
       '1,674', '1,689', '1,624', '1,564', '1,567', '1,625', '1,626',
       '1,554', '1,578', '1,559', '1,573', '1,595', '1,590', '1,605',
       '1,585', '1,380', '1,594', '1,492', '1,628', '1,498', '1,648',
       '1,627', '2,119', '2,004', '1,375', '1,640', '1,539', '1,680',
       '1,506', '1,464', '1,460', '1,469', '1,500', '1,606', '1,619',
       '1,474', '1,676', '1,675', '1,514', '1,399', '1,449', '1,524',
       '1,647', '1,490', '1,550', '1,530', '1,377', '1,477', '1,565',
       '1,465', '1,504', '1,700', '1,545', '1,489', '1,479', '1,395',
       '1,515', '1,507', '1,497', '1,650', '1,575', '1,485', '1,384',
       '1,458', '1,488', '1,495', '1,486', '1,472', '1,394', '1,424',
       '1,597', '1,521', '1,526', '1,487', '1,420', '1,510', '1,494',
       '1,615', '1,531', '1,563', '1,508', '1,555', '1,501', '1,536',
       '1,533', '1,419', '2,058', '2,267', '1,759', '1,719', '1,795',
       '2,450', '1,794', '1,800', '2,064', '1,867', '1,847', '1,837',
       '2,220', '2,055', '1,877', '1,807', '2,050', '1,813', '1,870',
       '2,030', '1,910', '2,279', '2,042', '2,250', '1,850', '1,832'],
      dtype=object)

In [97]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasolina 98 E5']=df_n['Precio Gasolina 98 E5'].str.replace(',','.')
df_n[['Precio Gasolina 98 E5']]=df_n[['Precio Gasolina 98 E5']].apply(pd.to_numeric)

In [98]:
df_n['Precio Gasolina 98 E5'].describe()

count    5945.000000
mean        1.929097
std         0.123810
min         1.375000
25%         1.909000
50%         1.959000
75%         1.989000
max         2.999000
Name: Precio Gasolina 98 E5, dtype: float64

In [99]:
# Registros sin venta Gasolina 98 E5 
sin_suministro_g98E5 = df_n['Precio Gasolina 98 E5'].isnull().sum()
sin_suministro_g98E5

5847

In [100]:
ceros_sin_suministro_g98E5  = (df_n['Precio Gasolina 98 E5'] == 0).sum()
ceros_sin_suministro_g98E5

0

# Precio Hidrogeno

In [101]:
Hidrongeno = df_n['Precio Hidrogeno'].unique()
print(len(Hidrongeno))
print(type(Hidrongeno))
Hidrongeno

1
<class 'numpy.ndarray'>

array([''], dtype=object)

In [102]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Hidrogeno']=df_n['Precio Hidrogeno'].str.replace(',','.')
df_n[['Precio Hidrogeno']]=df_n[['Precio Hidrogeno']].apply(pd.to_numeric)

In [103]:
df_n['Precio Hidrogeno'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: Precio Hidrogeno, dtype: float64

In [104]:
df_n.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11792 entries, 0 to 11791
Data columns (total 33 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Fecha                               11792 non-null  object
 1   C.P.                                11792 non-null  object
 2   Dirección                           11792 non-null  object
 3   Horario                             11792 non-null  object
 4   Latitud                             11792 non-null  object
 5   Localidad                           11792 non-null  object
 6   Longitud (WGS84)                    11792 non-null  object
 7   Margen                              11792 non-null  object
 8   Municipio                           11792 non-null  object
 9   Precio Biodiesel                    38 non-null     float64
 10  Precio Bioetanol                    5 non-null      float64
 11  Precio Gas Natural Comprimido       122 non-null    float64
 12  Precio Gas Natural Licuado          82 non-null     float64
 13  Precio Gases licuados del petróleo  853 non-null    float64
 14  Precio Gasoleo A                    11445 non-null  float64
 15  Precio Gasoleo B                    3003 non-null   float64
 16  Precio Gasoleo Premium              7498 non-null   float64
 17  Precio Gasolina 95 E10              22 non-null     float64
 18  Precio Gasolina 95 E5               10642 non-null  float64
 19  Precio Gasolina 95 E5 Premium       803 non-null    float64
 20  Precio Gasolina 98 E10              8 non-null      float64
 21  Precio Gasolina 98 E5               5945 non-null   float64
 22  Precio Hidrogeno                    0 non-null      float64
 23  Provincia                           11792 non-null  object
 24  Remisión                            11792 non-null  object
 25  Rótulo                              11792 non-null  object
 26  Tipo Venta                          11792 non-null  object
 27  % BioEtanol                         11792 non-null  object
 28  % Éster metílico                    11792 non-null  object
 29  IDEESS                              11792 non-null  object
 30  IDMunicipio                         11792 non-null  object
 31  IDProvincia                         11792 non-null  object
 32  IDCCAA                              11792 non-null  object
dtypes: float64(14), object(19)
memory usage: 3.0+ MB

---
Setp 3

# Limpieza de Columnas

In [105]:
# Eliminiación de columnas que no interesan a nivel usuario o que no aportan datos significativos al modelo
df_n.drop(['Margen', 'Remisión', 'Tipo Venta', '% BioEtanol', '% Éster metílico', 'Precio Biodiesel',
          'Precio Bioetanol', 'Precio Gas Natural Comprimido', 'Precio Gas Natural Licuado', 
          'Precio Gas Natural Licuado', 'Precio Gases licuados del petróleo', 'Precio Gasolina 95 E10',
          'Precio Gasolina 95 E5 Premium', 'Precio Gasolina 98 E10', 'Precio Hidrogeno'], axis=1, inplace=True)

In [106]:
# Comprobación
df_n.iloc[15][['Precio Gasoleo B']]

Precio Gasoleo B    NaN
Name: 15, dtype: object

In [107]:
df_n.head()

,Fecha,C.P.,Dirección,Horario,Latitud,Localidad,Longitud (WGS84),Municipio,Precio Gasoleo A,Precio Gasoleo B,Precio Gasoleo Premium,Precio Gasolina 95 E5,Precio Gasolina 98 E5,Provincia,Rótulo,IDEESS,IDMunicipio,IDProvincia,IDCCAA
0,07/11/2022 21:23:55,02250,"AVENIDA CASTILLA LA MANCHA, 26",L-D: 07:00-22:00,"39,211417",ABENGIBRE,"-1,539167",Abengibre,1.959,1.46,NaN,1.769,NaN,ALBACETE,Nº 10.935,4375,52,02,07
1,07/11/2022 21:23:55,02152,"CR CM-332, 46,4",L-D: 7:00-23:00,"39,100389",ALATOZ,"-1,346083",Alatoz,2.040,NaN,2.300,1.909,2.200,ALBACETE,REPSOL,5122,53,02,07
2,07/11/2022 21:23:55,02001,CALLE PRINCIPE DE ASTURIAS (POLÍGONO DE ROMICA...,L-D: 06:00-21:30,"39,054694",ALBACETE,"-1,832000",Albacete,2.039,NaN,2.129,1.829,1.971,ALBACETE,BP ROMICA,12054,54,02,07
3,07/11/2022 21:23:55,02001,"AVENIDA 1º DE MAYO, S/N",L-S: 08:00-22:00; D: 09:00-21:00,"38,985667",ALBACETE,"-1,868500",Albacete,2.019,NaN,2.059,1.859,1.959,ALBACETE,CARREFOUR,10765,54,02,07
4,07/11/2022 21:23:55,02001,"CALLE FEDERICO GARCIA LORCA, 1",L-D: 24H,"39,000861",ALBACETE,"-1,849833",Albacete,1.897,NaN,NaN,1.687,NaN,ALBACETE,PLENOIL,13933,54,02,07

In [108]:
# Renombramos las columnas
df_n.rename(columns={"Precio Gasoleo A": "Gasoleo A", "Precio Gasoleo B": "Gasoleo B" ,"Precio Gasoleo Premium": "Gasoleo Premium", 
                     "Precio Gasolina 95 E5": "Gasolina 95 E5", "Precio Gasolina 98 E5": "Gasolina 98 E5",
                     "Rótulo":"Proveedor de Servicio"}, inplace=True)
df_n.head(1)

,Fecha,C.P.,Dirección,Horario,Latitud,Localidad,Longitud (WGS84),Municipio,Gasoleo A,Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Provincia,Proveedor de Servicio,IDEESS,IDMunicipio,IDProvincia,IDCCAA
0,07/11/2022 21:23:55,02250,"AVENIDA CASTILLA LA MANCHA, 26",L-D: 07:00-22:00,"39,211417",ABENGIBRE,"-1,539167",Abengibre,1.959,1.46,NaN,1.769,NaN,ALBACETE,Nº 10.935,4375,52,02,07

In [109]:
# Media
df_n['Media_Gasoleo A']=df_n['Gasoleo A'].mean()
df_n['Media_Gasoleo B']=df_n['Gasoleo B'].mean()
df_n['Media_Gasoleo Prem'] = df_n['Gasoleo Premium'].mean()
df_n['Media_Gasolina 95']=df_n['Gasolina 95 E5'].mean()
df_n['Media_Gasolina 98']=df_n['Gasolina 98 E5'].mean()

In [110]:
# Desviación (eliminanos porque no aporta información va)
#df_n['dev_Gasoleo A']= df_n['Gasoleo A'] - df_n['Media_Gasoleo A']
#df_n['dev_Gasoleo B'] =df_n['Gasoleo B'] - df_n['Media_Gasoleo B']
#df_n['dev_Gasoleo Prem'] =df_n['Gasoleo Premium'] - df_n['Media_Gasoleo Prem']
#df_n['dev_Gasolina 95']=df_n['Gasolina 95 E5'] - df_n['Media_Gasolina 95']
#df_n['dev_Gasolina 98']=df_n['Gasolina 98 E5']- df_n['Media_Gasolina 98']

In [111]:
df_n.head()

,Fecha,C.P.,Dirección,Horario,Latitud,Localidad,Longitud (WGS84),Municipio,Gasoleo A,Gasoleo B,...,Proveedor de Servicio,IDEESS,IDMunicipio,IDProvincia,IDCCAA,Media_Gasoleo A,Media_Gasoleo B,Media_Gasoleo Prem,Media_Gasolina 95,Media_Gasolina 98
0,07/11/2022 21:23:55,02250,"AVENIDA CASTILLA LA MANCHA, 26",L-D: 07:00-22:00,"39,211417",ABENGIBRE,"-1,539167",Abengibre,1.959,1.46,...,Nº 10.935,4375,52,02,07,1.946454,1.55844,2.0434,1.775169,1.929097
1,07/11/2022 21:23:55,02152,"CR CM-332, 46,4",L-D: 7:00-23:00,"39,100389",ALATOZ,"-1,346083",Alatoz,2.040,NaN,...,REPSOL,5122,53,02,07,1.946454,1.55844,2.0434,1.775169,1.929097
2,07/11/2022 21:23:55,02001,CALLE PRINCIPE DE ASTURIAS (POLÍGONO DE ROMICA...,L-D: 06:00-21:30,"39,054694",ALBACETE,"-1,832000",Albacete,2.039,NaN,...,BP ROMICA,12054,54,02,07,1.946454,1.55844,2.0434,1.775169,1.929097
3,07/11/2022 21:23:55,02001,"AVENIDA 1º DE MAYO, S/N",L-S: 08:00-22:00; D: 09:00-21:00,"38,985667",ALBACETE,"-1,868500",Albacete,2.019,NaN,...,CARREFOUR,10765,54,02,07,1.946454,1.55844,2.0434,1.775169,1.929097
4,07/11/2022 21:23:55,02001,"CALLE FEDERICO GARCIA LORCA, 1",L-D: 24H,"39,000861",ALBACETE,"-1,849833",Albacete,1.897,NaN,...,PLENOIL,13933,54,02,07,1.946454,1.55844,2.0434,1.775169,1.929097

In [112]:
df_n.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11792 entries, 0 to 11791
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Fecha                  11792 non-null  object
 1   C.P.                   11792 non-null  object
 2   Dirección              11792 non-null  object
 3   Horario                11792 non-null  object
 4   Latitud                11792 non-null  object
 5   Localidad              11792 non-null  object
 6   Longitud (WGS84)       11792 non-null  object
 7   Municipio              11792 non-null  object
 8   Gasoleo A              11445 non-null  float64
 9   Gasoleo B              3003 non-null   float64
 10  Gasoleo Premium        7498 non-null   float64
 11  Gasolina 95 E5         10642 non-null  float64
 12  Gasolina 98 E5         5945 non-null   float64
 13  Provincia              11792 non-null  object
 14  Proveedor de Servicio  11792 non-null  object
 15  IDEESS                 11792 non-null  object
 16  IDMunicipio            11792 non-null  object
 17  IDProvincia            11792 non-null  object
 18  IDCCAA                 11792 non-null  object
 19  Media_Gasoleo A        11792 non-null  float64
 20  Media_Gasoleo B        11792 non-null  float64
 21  Media_Gasoleo Prem     11792 non-null  float64
 22  Media_Gasolina 95      11792 non-null  float64
 23  Media_Gasolina 98      11792 non-null  float64
dtypes: float64(10), object(14)
memory usage: 2.2+ MB

In [113]:
#Ordenamos columnas
df_n = df_n[['Fecha', 'Horario', 'C.P.','Municipio', 'Provincia', 'Localidad', 'Dirección', 'Proveedor de Servicio', 'Gasoleo A',
             'Gasoleo B', 'Gasoleo Premium', 'Gasolina 95 E5', 'Gasolina 98 E5', 'Media_Gasoleo A',
             'Media_Gasoleo B', 'Media_Gasoleo Prem', 'Media_Gasolina 95', 'Media_Gasolina 98']]
df_n

,Fecha,Horario,C.P.,Municipio,Provincia,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Media_Gasoleo A,Media_Gasoleo B,Media_Gasoleo Prem,Media_Gasolina 95,Media_Gasolina 98
0,07/11/2022 21:23:55,L-D: 07:00-22:00,02250,Abengibre,ALBACETE,ABENGIBRE,"AVENIDA CASTILLA LA MANCHA, 26",Nº 10.935,1.959,1.460,NaN,1.769,NaN,1.946454,1.55844,2.0434,1.775169,1.929097
1,07/11/2022 21:23:55,L-D: 7:00-23:00,02152,Alatoz,ALBACETE,ALATOZ,"CR CM-332, 46,4",REPSOL,2.040,NaN,2.300,1.909,2.200,1.946454,1.55844,2.0434,1.775169,1.929097
2,07/11/2022 21:23:55,L-D: 06:00-21:30,02001,Albacete,ALBACETE,ALBACETE,CALLE PRINCIPE DE ASTURIAS (POLÍGONO DE ROMICA...,BP ROMICA,2.039,NaN,2.129,1.829,1.971,1.946454,1.55844,2.0434,1.775169,1.929097
3,07/11/2022 21:23:55,L-S: 08:00-22:00; D: 09:00-21:00,02001,Albacete,ALBACETE,ALBACETE,"AVENIDA 1º DE MAYO, S/N",CARREFOUR,2.019,NaN,2.059,1.859,1.959,1.946454,1.55844,2.0434,1.775169,1.929097
4,07/11/2022 21:23:55,L-D: 24H,02001,Albacete,ALBACETE,ALBACETE,"CALLE FEDERICO GARCIA LORCA, 1",PLENOIL,1.897,NaN,NaN,1.687,NaN,1.946454,1.55844,2.0434,1.775169,1.929097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11787,07/11/2022 21:23:55,L-D: 24H,50197,Zaragoza,ZARAGOZA,ZARAGOZA,"RONDA FERIA DE MUESTRAS, DE LA, 20",IDS,1.999,1.648,NaN,NaN,NaN,1.946454,1.55844,2.0434,1.775169,1.929097
11788,07/11/2022 21:23:55,L-D: 24H,50197,Zaragoza,ZARAGOZA,ZARAGOZA,"POLIGONO CALLE TURIASO, 31",NOIL,2.009,NaN,NaN,NaN,NaN,1.946454,1.55844,2.0434,1.775169,1.929097
11789,07/11/2022 21:23:55,L-D: 06:00-22:00,50800,Zuera,ZARAGOZA,ZUERA,"CARRETERA N-330A KM. 24,000",REPSOL,1.979,1.567,2.039,1.769,1.919,1.946454,1.55844,2.0434,1.775169,1.929097
11790,07/11/2022 21:23:55,L-D: 24H,50800,Zuera,ZARAGOZA,ZUERA,"CALLE AUSTRIA, 11,17",AN ENERGETICOS ZUERA,1.909,1.424,1.949,1.737,NaN,1.946454,1.55844,2.0434,1.775169,1.929097
11791,07/11/2022 21:23:55,L-D: 24H,50810,Zuera,ZARAGOZA,ONTINAR DE SALZ,"CALLE COOPERATIVA, 2",COOPERATIVA SAN ISIDRO,1.929,1.480,1.969,1.729,NaN,1.946454,1.55844,2.0434,1.775169,1.929097

In [114]:
df_n

,Fecha,Horario,C.P.,Municipio,Provincia,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Media_Gasoleo A,Media_Gasoleo B,Media_Gasoleo Prem,Media_Gasolina 95,Media_Gasolina 98
0,07/11/2022 21:23:55,L-D: 07:00-22:00,02250,Abengibre,ALBACETE,ABENGIBRE,"AVENIDA CASTILLA LA MANCHA, 26",Nº 10.935,1.959,1.460,NaN,1.769,NaN,1.946454,1.55844,2.0434,1.775169,1.929097
1,07/11/2022 21:23:55,L-D: 7:00-23:00,02152,Alatoz,ALBACETE,ALATOZ,"CR CM-332, 46,4",REPSOL,2.040,NaN,2.300,1.909,2.200,1.946454,1.55844,2.0434,1.775169,1.929097
2,07/11/2022 21:23:55,L-D: 06:00-21:30,02001,Albacete,ALBACETE,ALBACETE,CALLE PRINCIPE DE ASTURIAS (POLÍGONO DE ROMICA...,BP ROMICA,2.039,NaN,2.129,1.829,1.971,1.946454,1.55844,2.0434,1.775169,1.929097
3,07/11/2022 21:23:55,L-S: 08:00-22:00; D: 09:00-21:00,02001,Albacete,ALBACETE,ALBACETE,"AVENIDA 1º DE MAYO, S/N",CARREFOUR,2.019,NaN,2.059,1.859,1.959,1.946454,1.55844,2.0434,1.775169,1.929097
4,07/11/2022 21:23:55,L-D: 24H,02001,Albacete,ALBACETE,ALBACETE,"CALLE FEDERICO GARCIA LORCA, 1",PLENOIL,1.897,NaN,NaN,1.687,NaN,1.946454,1.55844,2.0434,1.775169,1.929097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11787,07/11/2022 21:23:55,L-D: 24H,50197,Zaragoza,ZARAGOZA,ZARAGOZA,"RONDA FERIA DE MUESTRAS, DE LA, 20",IDS,1.999,1.648,NaN,NaN,NaN,1.946454,1.55844,2.0434,1.775169,1.929097
11788,07/11/2022 21:23:55,L-D: 24H,50197,Zaragoza,ZARAGOZA,ZARAGOZA,"POLIGONO CALLE TURIASO, 31",NOIL,2.009,NaN,NaN,NaN,NaN,1.946454,1.55844,2.0434,1.775169,1.929097
11789,07/11/2022 21:23:55,L-D: 06:00-22:00,50800,Zuera,ZARAGOZA,ZUERA,"CARRETERA N-330A KM. 24,000",REPSOL,1.979,1.567,2.039,1.769,1.919,1.946454,1.55844,2.0434,1.775169,1.929097
11790,07/11/2022 21:23:55,L-D: 24H,50800,Zuera,ZARAGOZA,ZUERA,"CALLE AUSTRIA, 11,17",AN ENERGETICOS ZUERA,1.909,1.424,1.949,1.737,NaN,1.946454,1.55844,2.0434,1.775169,1.929097
11791,07/11/2022 21:23:55,L-D: 24H,50810,Zuera,ZARAGOZA,ONTINAR DE SALZ,"CALLE COOPERATIVA, 2",COOPERATIVA SAN ISIDRO,1.929,1.480,1.969,1.729,NaN,1.946454,1.55844,2.0434,1.775169,1.929097

In [115]:
# Guardamos df original para sucesion de tiempo
df_n.to_csv('df_sample.csv', index=False)

---
Step4


# Desarrollo Funciones

In [116]:
# Analisis de Funciones

In [117]:
# Analizar df_n usando .loc()

df_n[df_n['C.P.'] == '28760']

,Fecha,Horario,C.P.,Municipio,Provincia,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Media_Gasoleo A,Media_Gasoleo B,Media_Gasoleo Prem,Media_Gasolina 95,Media_Gasolina 98
7226,07/11/2022 21:23:55,L-D: 06:00-22:00,28760,Tres Cantos,MADRID,TRES CANTOS,"CL AVDA DE LA INDUSTRIA, 33",REPSOL,1.999,NaN,2.089,1.789,1.939,1.946454,1.55844,2.0434,1.775169,1.929097
7227,07/11/2022 21:23:55,L-D: 06:00-00:00,28760,Tres Cantos,MADRID,TRES CANTOS,"CALLE YUNQUE, 6",CEPSA,1.918,NaN,1.964,1.712,1.844,1.946454,1.55844,2.0434,1.775169,1.929097
7228,07/11/2022 21:23:55,L-D: 24H,28760,Tres Cantos,MADRID,TRES CANTOS,"AVENIDA INDUSTRIA, 44",BALLENOIL,1.797,NaN,1.807,1.567,NaN,1.946454,1.55844,2.0434,1.775169,1.929097
7229,07/11/2022 21:23:55,L-D: 24H,28760,Tres Cantos,MADRID,TRES CANTOS,"AVENIDA INDUSTRIA (DE LA), S/N",BP TRES CANTOS,2.039,NaN,2.129,1.819,1.961,1.946454,1.55844,2.0434,1.775169,1.929097
7230,07/11/2022 21:23:55,L-D: 24H,28760,Tres Cantos,MADRID,TRES CANTOS,"CL AV DE LA INDUSTRIA, 58",REPSOL,1.999,NaN,2.089,1.769,1.919,1.946454,1.55844,2.0434,1.775169,1.929097
7231,07/11/2022 21:23:55,L-D: 24H,28760,Tres Cantos,MADRID,TRES CANTOS,"AVENIDA INDUSTRIA (DE LA), 52",PLENOIL,1.797,NaN,NaN,1.567,NaN,1.946454,1.55844,2.0434,1.775169,1.929097
7232,07/11/2022 21:23:55,L-V: 08:00-20:00,28760,Tres Cantos,MADRID,TRES CANTOS,"CL AVENIDA ARTESANOS, 40",REPSOL,1.999,NaN,NaN,1.779,1.919,1.946454,1.55844,2.0434,1.775169,1.929097

In [118]:
df_n[['Gasoleo A']].min()

Gasoleo A    1.299
dtype: float64

In [119]:
type(df_n[['Gasoleo A']].min())

pandas.core.series.Series

In [120]:
df_n[['Gasoleo A']].idxmin()

Gasoleo A    9255
dtype: int64

In [121]:
type(df_n[['Gasoleo A']].idxmin())

pandas.core.series.Series

In [122]:
#df_n.loc[df_n[['Gasoleo A']].min()]

In [123]:
#df_n.head()

In [124]:
#df_n.loc[1.290]

In [125]:
df_n.index

RangeIndex(start=0, stop=11792, step=1)

In [126]:
type(df_n.loc[df_n[['Gasoleo A']].idxmin()])

pandas.core.frame.DataFrame

In [127]:
type(df_n.loc[9213])

pandas.core.series.Series

In [128]:
a = df_n.groupby(by=["Municipio"])
a

In [129]:
b = a["C.P."].unique()
b

Municipio
Abadiño                                     [48220]
Abadín                               [27730, 27738]
Abanilla                                    [30640]
Abanto y Ciérvana-Abanto Zierbena           [48500]
Abarán                                      [30550]
                                          ...
Íscar                                       [47420]
Òdena                                       [08711]
Ólvega                                      [42110]
Órgiva                                      [18400]
Úbeda                                       [23400]
Name: C.P., Length: 3435, dtype: object

# Funciones

In [130]:
# Precio mínimo de combstible en un codigo postal 
def cp_minimo(x,y):
# x = Código Postal
# y = Tipo de combustible para el precio mínimo
    cod_postal = df_n[df_n['C.P.'] == x]
    combustible = cod_postal.loc[cod_postal[[y]].idxmin()]
    return combustible

In [131]:
cp_minimo('28760', 'Gasoleo A')

,Fecha,Horario,C.P.,Municipio,Provincia,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Media_Gasoleo A,Media_Gasoleo B,Media_Gasoleo Prem,Media_Gasolina 95,Media_Gasolina 98
7228,07/11/2022 21:23:55,L-D: 24H,28760,Tres Cantos,MADRID,TRES CANTOS,"AVENIDA INDUSTRIA, 44",BALLENOIL,1.797,NaN,1.807,1.567,NaN,1.946454,1.55844,2.0434,1.775169,1.929097

---

In [132]:
df_n[df_n['C.P.'] == "28500"]

,Fecha,Horario,C.P.,Municipio,Provincia,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Media_Gasoleo A,Media_Gasoleo B,Media_Gasoleo Prem,Media_Gasolina 95,Media_Gasolina 98
6560,07/11/2022 21:23:55,L-V: 06:00-22:00; S-D: 08:00-22:00,28500,Arganda del Rey,MADRID,ARGANDA,"AVDA DE MADRID, 103",REPSOL,2.029,1.669,2.039,1.819,NaN,1.946454,1.55844,2.0434,1.775169,1.929097
6561,07/11/2022 21:23:55,L-D: 06:00-00:00,28500,Arganda del Rey,MADRID,ARGANDA,"AVENIDA DE MADRID, 126",ATENOIL,1.939,NaN,1.949,1.699,NaN,1.946454,1.55844,2.0434,1.775169,1.929097
6562,07/11/2022 21:23:55,L-D: 06:00-22:00,28500,Arganda del Rey,MADRID,ARGANDA,"AVENIDA DE MADRID, 37",BP LA ARGANDEÑA,2.049,NaN,2.139,1.839,1.981,1.946454,1.55844,2.0434,1.775169,1.929097
6563,07/11/2022 21:23:55,L-D: 24H,28500,Arganda del Rey,MADRID,ARGANDA,"AVENIDA EJERCITO (DEL), 44",BP ARGANDA,2.049,NaN,2.139,1.839,1.981,1.946454,1.55844,2.0434,1.775169,1.929097
6564,07/11/2022 21:23:55,L-D: 24H,28500,Arganda del Rey,MADRID,ARGANDA,CARRETERA M-832 KM. 3,REPSOL,2.052,NaN,2.122,1.802,NaN,1.946454,1.55844,2.0434,1.775169,1.929097
6565,07/11/2022 21:23:55,L-D: 24H,28500,Arganda del Rey,MADRID,ARGANDA,"AVENIDA VALDEARGANDA, 8",CEPSA,2.035,NaN,2.135,1.834,1.966,1.946454,1.55844,2.0434,1.775169,1.929097
6566,07/11/2022 21:23:55,L-D: 24H,28500,Arganda del Rey,MADRID,ARGANDA,CAMINO CAMINO DE SAN MARTÍN DE LA VEGA A ARGAN...,BALLENOIL,1.899,NaN,NaN,1.669,NaN,1.946454,1.55844,2.0434,1.775169,1.929097
6567,07/11/2022 21:23:55,L-D: 07:00-22:00,28500,Arganda del Rey,MADRID,ARGANDA,"AVENIDA FINANZAUTO (DE), 2",DELFIOIL,1.899,NaN,NaN,1.669,NaN,1.946454,1.55844,2.0434,1.775169,1.929097
6568,07/11/2022 21:23:55,L-D: 24H,28500,Arganda del Rey,MADRID,ARGANDA,"AVENIDA MADRID (DE), 66",PLENOIL,1.899,NaN,NaN,1.649,NaN,1.946454,1.55844,2.0434,1.775169,1.929097
6569,07/11/2022 21:23:55,L: 24H,28500,Arganda del Rey,MADRID,ARGANDA,CARRETERA M-832 KM. 3,REPSOL,2.052,NaN,NaN,1.802,NaN,1.946454,1.55844,2.0434,1.775169,1.929097
6570,07/11/2022 21:23:55,L-D: 24H,28500,Arganda del Rey,MADRID,ARGANDA,"CAMINO SAN MARTIN DE LA VEGA, 8",BALLENOIL,1.899,NaN,NaN,1.669,NaN,1.946454,1.55844,2.0434,1.775169,1.929097
6571,07/11/2022 21:23:55,L-D: 24H,28500,Arganda del Rey,MADRID,ARGANDA,"AVENIDA MADRID (DE), SN",PETROPRIX,1.899,NaN,NaN,1.649,NaN,1.946454,1.55844,2.0434,1.775169,1.929097

In [133]:
# Comprobación
x1 = df_n["C.P."]=='28500'
x2 = df_n[x1]
x2

,Fecha,Horario,C.P.,Municipio,Provincia,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Media_Gasoleo A,Media_Gasoleo B,Media_Gasoleo Prem,Media_Gasolina 95,Media_Gasolina 98
6560,07/11/2022 21:23:55,L-V: 06:00-22:00; S-D: 08:00-22:00,28500,Arganda del Rey,MADRID,ARGANDA,"AVDA DE MADRID, 103",REPSOL,2.029,1.669,2.039,1.819,NaN,1.946454,1.55844,2.0434,1.775169,1.929097
6561,07/11/2022 21:23:55,L-D: 06:00-00:00,28500,Arganda del Rey,MADRID,ARGANDA,"AVENIDA DE MADRID, 126",ATENOIL,1.939,NaN,1.949,1.699,NaN,1.946454,1.55844,2.0434,1.775169,1.929097
6562,07/11/2022 21:23:55,L-D: 06:00-22:00,28500,Arganda del Rey,MADRID,ARGANDA,"AVENIDA DE MADRID, 37",BP LA ARGANDEÑA,2.049,NaN,2.139,1.839,1.981,1.946454,1.55844,2.0434,1.775169,1.929097
6563,07/11/2022 21:23:55,L-D: 24H,28500,Arganda del Rey,MADRID,ARGANDA,"AVENIDA EJERCITO (DEL), 44",BP ARGANDA,2.049,NaN,2.139,1.839,1.981,1.946454,1.55844,2.0434,1.775169,1.929097
6564,07/11/2022 21:23:55,L-D: 24H,28500,Arganda del Rey,MADRID,ARGANDA,CARRETERA M-832 KM. 3,REPSOL,2.052,NaN,2.122,1.802,NaN,1.946454,1.55844,2.0434,1.775169,1.929097
6565,07/11/2022 21:23:55,L-D: 24H,28500,Arganda del Rey,MADRID,ARGANDA,"AVENIDA VALDEARGANDA, 8",CEPSA,2.035,NaN,2.135,1.834,1.966,1.946454,1.55844,2.0434,1.775169,1.929097
6566,07/11/2022 21:23:55,L-D: 24H,28500,Arganda del Rey,MADRID,ARGANDA,CAMINO CAMINO DE SAN MARTÍN DE LA VEGA A ARGAN...,BALLENOIL,1.899,NaN,NaN,1.669,NaN,1.946454,1.55844,2.0434,1.775169,1.929097
6567,07/11/2022 21:23:55,L-D: 07:00-22:00,28500,Arganda del Rey,MADRID,ARGANDA,"AVENIDA FINANZAUTO (DE), 2",DELFIOIL,1.899,NaN,NaN,1.669,NaN,1.946454,1.55844,2.0434,1.775169,1.929097
6568,07/11/2022 21:23:55,L-D: 24H,28500,Arganda del Rey,MADRID,ARGANDA,"AVENIDA MADRID (DE), 66",PLENOIL,1.899,NaN,NaN,1.649,NaN,1.946454,1.55844,2.0434,1.775169,1.929097
6569,07/11/2022 21:23:55,L: 24H,28500,Arganda del Rey,MADRID,ARGANDA,CARRETERA M-832 KM. 3,REPSOL,2.052,NaN,NaN,1.802,NaN,1.946454,1.55844,2.0434,1.775169,1.929097
6570,07/11/2022 21:23:55,L-D: 24H,28500,Arganda del Rey,MADRID,ARGANDA,"CAMINO SAN MARTIN DE LA VEGA, 8",BALLENOIL,1.899,NaN,NaN,1.669,NaN,1.946454,1.55844,2.0434,1.775169,1.929097
6571,07/11/2022 21:23:55,L-D: 24H,28500,Arganda del Rey,MADRID,ARGANDA,"AVENIDA MADRID (DE), SN",PETROPRIX,1.899,NaN,NaN,1.649,NaN,1.946454,1.55844,2.0434,1.775169,1.929097

In [134]:
# Precio mínimo de combstible en una Provincia  
def provincia_minimo(x, y):
# x = Provincia
# y = tipo de combustible     
    provincia = df_n[df_n["Provincia"] == x]
    minimo_prov = provincia.loc[provincia[[y]].idxmin()]
    return minimo_prov

In [135]:
provincia_minimo('MADRID', 'Gasoleo A')

,Fecha,Horario,C.P.,Municipio,Provincia,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Media_Gasoleo A,Media_Gasoleo B,Media_Gasoleo Prem,Media_Gasolina 95,Media_Gasolina 98
6660,07/11/2022 21:23:55,L-D: 24H,28944,Fuenlabrada,MADRID,FUENLABRADA,"CALLE ANETO, 1",BALLENOIL,1.765,NaN,NaN,1.565,NaN,1.946454,1.55844,2.0434,1.775169,1.929097

In [136]:
# Precio mínimo de combstible en un Municipio  
def municipio_minimo(x, y):
# x = Municipio
# y = Tipo de Combustible    
    municipio = df_n[df_n["Municipio"] == x]
    municipio_min = municipio.loc[municipio[[y]].idxmin()]
    return municipio

In [137]:
municipio_minimo('Cercedilla', 'Gasoleo A')

,Fecha,Horario,C.P.,Municipio,Provincia,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Media_Gasoleo A,Media_Gasoleo B,Media_Gasoleo Prem,Media_Gasolina 95,Media_Gasolina 98
6592,07/11/2022 21:23:55,L-S: 7:30-20:30; D: 8:30-20:00,28470,Cercedilla,MADRID,CERCEDILLA,CARRETERA M 622 (CARRETERA GUADARRAMA A LA FUE...,REPSOL,1.999,NaN,NaN,1.789,NaN,1.946454,1.55844,2.0434,1.775169,1.929097

In [138]:
# # Precio mínimo de combstible en un proveedor de estación de servicio  
def gasolinera_minimo(x, y):
# x = Proveedor de estación de servicio
# Y = Tipo de Combustible    
    proveedor = df_n[df_n["Proveedor de Servicio"] == x]
    minimo_prov = proveedor.loc[proveedor[[y]].idxmin()]
    return minimo_prov

In [139]:
gasolinera_minimo('REPSOL', 'Gasoleo A')

,Fecha,Horario,C.P.,Municipio,Provincia,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Media_Gasoleo A,Media_Gasoleo B,Media_Gasoleo Prem,Media_Gasolina 95,Media_Gasolina 98
9337,07/11/2022 21:23:55,L-S: 06:00-23:00; D: 07:00-23:00,38390,Santa Úrsula,SANTA CRUZ DE TENERIFE,SANTA URSULA,CARRETERA VIEJA KM. 213,REPSOL,1.459,NaN,NaN,1.399,1.489,1.946454,1.55844,2.0434,1.775169,1.929097

In [140]:
# Función para convertir códigos postales
def convert(x):
# x: Municipio    
    municipio = df_n[df_n["Municipio"] == x]
    cp = municipio[["C.P.", "Municipio", "Proveedor de Servicio"]]
    return cp

In [141]:
convert('Móstoles')

       C.P. Municipio Proveedor de Servicio
7033  28931  Móstoles                REPSOL
7034  28934  Móstoles           LOS ROSALES
7035  28935  Móstoles             CARREFOUR
7036  28935  Móstoles                REPSOL
7037  28935  Móstoles                REPSOL
7038  28935  Móstoles                 CEPSA
7039  28935  Móstoles                 CEPSA
7040  28933  Móstoles             BALLENOIL
7041  28935  Móstoles                OLANCA
7042  28937  Móstoles                REPSOL
7043  28937  Móstoles                  GALP
7044  28936  Móstoles          E.S. TERUGAS
7045  28936  Móstoles       PETROL MÓSTOLES
7046  28936  Móstoles              LAVAPLUS
7047  28938  Móstoles                  GALP
7048  28938  Móstoles             BALLENOIL
7049  28938  Móstoles                    BP
7050  28938  Móstoles                 CEPSA

In [142]:
# Listado de Estaciones de Servicio por Municipio por Municipio
# x: Municipio
def gasolineras_municipio(x):
    municipio = df_n[df_n["Municipio"] == x]
    eess_mun = pd.DataFrame(municipio[["Proveedor de Servicio"]])
    return eess_mun

In [143]:
gasolineras_municipio('Navalcarnero')

     Proveedor de Servicio
7053                 CEPSA
7054                 CEPSA
7055                 CEPSA
7056                REPSOL
7057                REPSOL
7058             MAXPETROL
7059             BALLENOIL
7060              CHEAPOIL

In [144]:
# Listado de Gasolineras por Provincia
#x=Provincia
def gasolineras_provincia(x):
    cp_x = df_n[df_n["Provincia"] == x]
    return cp_x

In [145]:
gasolineras_provincia('HUELVA')

,Fecha,Horario,C.P.,Municipio,Provincia,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Media_Gasoleo A,Media_Gasoleo B,Media_Gasoleo Prem,Media_Gasolina 95,Media_Gasolina 98
5403,07/11/2022 21:23:55,L-D: 24H,21110,Aljaraque,HUELVA,ALJARAQUE,AUTOVIA A-497 KM. 7,MEROIL,1.997,NaN,2.107,1.887,1.997,1.946454,1.55844,2.0434,1.775169,1.929097
5404,07/11/2022 21:23:55,L-D: 07:00-23:00,21110,Aljaraque,HUELVA,ALJARAQUE,"CALLE CERAMICA, 1",HIGUEROIL,1.957,NaN,NaN,1.757,NaN,1.946454,1.55844,2.0434,1.775169,1.929097
5405,07/11/2022 21:23:55,L-D: 24H,21110,Aljaraque,HUELVA,ALJARAQUE,"CARRETERA A-492 KM. 0,100",TAMOIL,1.839,NaN,NaN,1.739,1.799,1.946454,1.55844,2.0434,1.775169,1.929097
5406,07/11/2022 21:23:55,L-D: 06:00-22:00,21730,Almonte,HUELVA,ALMONTE,CRA. DEL ROCIO km 15.10,AVIA,1.979,1.499,2.049,1.779,1.939,1.946454,1.55844,2.0434,1.775169,1.929097
5407,07/11/2022 21:23:55,L-D: 06:00-23:59,21730,Almonte,HUELVA,ALMONTE,"AVENIDA RAFAEL ALBERTI, 7",REPSOL,1.932,1.526,1.995,1.881,1.975,1.946454,1.55844,2.0434,1.775169,1.929097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5549,07/11/2022 21:23:55,L-D: 05:00-00:00,21860,Villalba del Alcor,HUELVA,VILLALBA DEL ALCOR,CARRETERA A-472 KM. 28,REPSOL,2.039,1.760,NaN,1.817,NaN,1.946454,1.55844,2.0434,1.775169,1.929097
5550,07/11/2022 21:23:55,L-D: 07:00-22:00,21540,Villanueva de los Castillejos,HUELVA,VILLANUEVA CASTILLEJOS,CARRETERA HUELVA KM. 31,E.S. LA CRUZ DEL GALLO,2.079,NaN,2.129,1.859,NaN,1.946454,1.55844,2.0434,1.775169,1.929097
5551,07/11/2022 21:23:55,L-V: 06:00-21:00; S-D: 07:00-22:00,21850,Villarrasa,HUELVA,VILLARRASA,AUTOVIA A-49 KM KM. 53,REPSOL,2.049,NaN,2.139,1.839,1.979,1.946454,1.55844,2.0434,1.775169,1.929097
5552,07/11/2022 21:23:55,L-D: 24H,21850,Villarrasa,HUELVA,VILLARRASA,"CALLE ANGUSTIAS, 0",SUMAROIL,1.999,1.579,NaN,1.769,NaN,1.946454,1.55844,2.0434,1.775169,1.929097
5553,07/11/2022 21:23:55,L-D: 06:00-22:00,21640,Zalamea la Real,HUELVA,ZALAMEA LA REAL,"CARRETERA NACIONAL 435 KM. 181,8",DEOIL,1.889,NaN,1.909,1.729,NaN,1.946454,1.55844,2.0434,1.775169,1.929097

In [146]:
# Listado de Gasolineras por Código Postal:
# x: código postal
def gasolineras_cp(x):
    cp = df_n[df_n["C.P."] == x]
    return cp

In [147]:
gasolineras_cp('28500')

,Fecha,Horario,C.P.,Municipio,Provincia,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Media_Gasoleo A,Media_Gasoleo B,Media_Gasoleo Prem,Media_Gasolina 95,Media_Gasolina 98
6560,07/11/2022 21:23:55,L-V: 06:00-22:00; S-D: 08:00-22:00,28500,Arganda del Rey,MADRID,ARGANDA,"AVDA DE MADRID, 103",REPSOL,2.029,1.669,2.039,1.819,NaN,1.946454,1.55844,2.0434,1.775169,1.929097
6561,07/11/2022 21:23:55,L-D: 06:00-00:00,28500,Arganda del Rey,MADRID,ARGANDA,"AVENIDA DE MADRID, 126",ATENOIL,1.939,NaN,1.949,1.699,NaN,1.946454,1.55844,2.0434,1.775169,1.929097
6562,07/11/2022 21:23:55,L-D: 06:00-22:00,28500,Arganda del Rey,MADRID,ARGANDA,"AVENIDA DE MADRID, 37",BP LA ARGANDEÑA,2.049,NaN,2.139,1.839,1.981,1.946454,1.55844,2.0434,1.775169,1.929097
6563,07/11/2022 21:23:55,L-D: 24H,28500,Arganda del Rey,MADRID,ARGANDA,"AVENIDA EJERCITO (DEL), 44",BP ARGANDA,2.049,NaN,2.139,1.839,1.981,1.946454,1.55844,2.0434,1.775169,1.929097
6564,07/11/2022 21:23:55,L-D: 24H,28500,Arganda del Rey,MADRID,ARGANDA,CARRETERA M-832 KM. 3,REPSOL,2.052,NaN,2.122,1.802,NaN,1.946454,1.55844,2.0434,1.775169,1.929097
6565,07/11/2022 21:23:55,L-D: 24H,28500,Arganda del Rey,MADRID,ARGANDA,"AVENIDA VALDEARGANDA, 8",CEPSA,2.035,NaN,2.135,1.834,1.966,1.946454,1.55844,2.0434,1.775169,1.929097
6566,07/11/2022 21:23:55,L-D: 24H,28500,Arganda del Rey,MADRID,ARGANDA,CAMINO CAMINO DE SAN MARTÍN DE LA VEGA A ARGAN...,BALLENOIL,1.899,NaN,NaN,1.669,NaN,1.946454,1.55844,2.0434,1.775169,1.929097
6567,07/11/2022 21:23:55,L-D: 07:00-22:00,28500,Arganda del Rey,MADRID,ARGANDA,"AVENIDA FINANZAUTO (DE), 2",DELFIOIL,1.899,NaN,NaN,1.669,NaN,1.946454,1.55844,2.0434,1.775169,1.929097
6568,07/11/2022 21:23:55,L-D: 24H,28500,Arganda del Rey,MADRID,ARGANDA,"AVENIDA MADRID (DE), 66",PLENOIL,1.899,NaN,NaN,1.649,NaN,1.946454,1.55844,2.0434,1.775169,1.929097
6569,07/11/2022 21:23:55,L: 24H,28500,Arganda del Rey,MADRID,ARGANDA,CARRETERA M-832 KM. 3,REPSOL,2.052,NaN,NaN,1.802,NaN,1.946454,1.55844,2.0434,1.775169,1.929097
6570,07/11/2022 21:23:55,L-D: 24H,28500,Arganda del Rey,MADRID,ARGANDA,"CAMINO SAN MARTIN DE LA VEGA, 8",BALLENOIL,1.899,NaN,NaN,1.669,NaN,1.946454,1.55844,2.0434,1.775169,1.929097
6571,07/11/2022 21:23:55,L-D: 24H,28500,Arganda del Rey,MADRID,ARGANDA,"AVENIDA MADRID (DE), SN",PETROPRIX,1.899,NaN,NaN,1.649,NaN,1.946454,1.55844,2.0434,1.775169,1.929097

In [148]:
df_n.dropna()

,Fecha,Horario,C.P.,Municipio,Provincia,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Media_Gasoleo A,Media_Gasoleo B,Media_Gasoleo Prem,Media_Gasolina 95,Media_Gasolina 98
25,07/11/2022 21:23:55,L-D: 08:00-16:00,02328,Albacete,ALBACETE,SANTA ANA,"AVENIDA PRINCIPE, 2",REPSOL,1.979,1.621,2.029,1.769,1.879,1.946454,1.55844,2.0434,1.775169,1.929097
34,07/11/2022 21:23:55,L-D: 06:00-23:30,02007,Albacete,ALBACETE,ALBACETE,"CARRETERA C-M 332 KM. 2,6","INLOCOR S.L. ""CEPSA""",1.999,1.639,2.099,1.799,1.989,1.946454,1.55844,2.0434,1.775169,1.929097
67,07/11/2022 21:23:55,S-D: 07:00-15:00,02610,Bonillo (El),ALBACETE,BONILLO (EL),"CALLE CARRETERA MUNERA, 2",REPSOL,1.979,1.635,2.039,1.769,1.879,1.946454,1.55844,2.0434,1.775169,1.929097
70,07/11/2022 21:23:55,L-D: 07:00-21:00,02200,Casas-Ibáñez,ALBACETE,CASAS-IBAÑEZ,CARRETERA ALBACETE KM. 94,CEPSA,1.969,1.609,2.029,1.729,1.889,1.946454,1.55844,2.0434,1.775169,1.929097
73,07/11/2022 21:23:55,L-D: 06:00-23:00,02660,Caudete,ALBACETE,CAUDETE,"CR N-330, 71,4",REPSOL,2.009,1.578,2.059,1.799,1.909,1.946454,1.55844,2.0434,1.775169,1.929097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11751,07/11/2022 21:23:55,L-D: 24H,50013,Zaragoza,ZARAGOZA,CARTUJA BAJA,"CARRETERA CASTELLON KM. 3,7",BP AVELLANAS,1.989,1.609,2.079,1.805,1.959,1.946454,1.55844,2.0434,1.775169,1.929097
11779,07/11/2022 21:23:55,L-D: 24H,50020,Zaragoza,ZARAGOZA,ZARAGOZA,"AVENIDA DIAGONAL, 9 - POLIGONO PLAZA, 9",REPSOL,2.009,1.643,2.079,1.799,1.949,1.946454,1.55844,2.0434,1.775169,1.929097
11782,07/11/2022 21:23:55,L-D: 06:00-22:00,50190,Zaragoza,ZARAGOZA,GARRAPINILLOS,"CARRETERA N-125 KM. 5,6",CEPSA,2.009,1.609,2.079,1.809,1.949,1.946454,1.55844,2.0434,1.775169,1.929097
11785,07/11/2022 21:23:55,L-V: 05:00-22:00; S-D: 08:00-22:00,50692,Zaragoza,ZARAGOZA,VILLARRAPA,"AUTOVIA A-68 KM. 258,25",REPSOL,1.989,1.581,2.079,1.799,1.949,1.946454,1.55844,2.0434,1.775169,1.929097
11789,07/11/2022 21:23:55,L-D: 06:00-22:00,50800,Zuera,ZARAGOZA,ZUERA,"CARRETERA N-330A KM. 24,000",REPSOL,1.979,1.567,2.039,1.769,1.919,1.946454,1.55844,2.0434,1.775169,1.929097

# Pruebas de Código - PyChart

In [149]:
media_municipio_1 = df_n[df_n["Municipio"]==df_n['Municipio']]
media_municipio_2 = media_municipio_1['Gasoleo A'].mean()
media_municipio_2
type(media_municipio_2)

float

In [150]:
df_n.loc[:,'Gasoleo A':'dev_Gasolina 98']

KeyError: 'dev_Gasolina 98'

In [ ]:
df_n[['Gasoleo A']]

In [ ]:
x = df_n.loc[0:0, 'Gasoleo A']

x

In [ ]:
df_n[df_n['Gasoleo A']] == df_n[df_n['Media_Gasoleo A']]