## MVP

In [1]:
# Imports

# Pandas
import pandas as pd 

# Importo libreria para conexión a API
from urllib.request import urlopen

# Importo libreria Json para que lea
import json

#Normalizar Json
from pandas.io.json import json_normalize

import numpy as np

---
Step 1 (Data Extraction)

In [2]:
# Definir las variables donde meto el string que contiene la URL

endpoint ='https://sedeaplicaciones.minetur.gob.es'
parametros = '/ServiciosRESTCarburantes/PreciosCarburantes/EstacionesTerrestres/'

In [3]:
# Vamos a guardar en una variable nuestros datos (resultado, comida) 

response = urlopen(endpoint+parametros)
type(response)

http.client.HTTPResponse

In [4]:
# Vamos a extraer del obejto, los datos

data = response.read().decode('utf-8', 'replace')
data = json.loads(data)
type(data)

dict

In [5]:
# Crear Dataframe

df = pd.DataFrame(data)
df

,Fecha,ListaEESSPrecio,Nota,ResultadoConsulta
0,17/12/2022 19:38:53,"{'C.P.': '02250', 'Dirección': 'AVENIDA CASTIL...",Archivo de todos los productos en todas las es...,OK
1,17/12/2022 19:38:53,"{'C.P.': '02001', 'Dirección': 'CALLE FEDERICO...",Archivo de todos los productos en todas las es...,OK
2,17/12/2022 19:38:53,"{'C.P.': '02001', 'Dirección': 'CALLE FEDERICO...",Archivo de todos los productos en todas las es...,OK
3,17/12/2022 19:38:53,"{'C.P.': '02001', 'Dirección': 'CALLE PRINCIPE...",Archivo de todos los productos en todas las es...,OK
4,17/12/2022 19:38:53,"{'C.P.': '02001', 'Dirección': 'AVENIDA 1º DE ...",Archivo de todos los productos en todas las es...,OK
...,...,...,...,...
11837,17/12/2022 19:38:53,"{'C.P.': '50197', 'Dirección': 'RONDA FERIA DE...",Archivo de todos los productos en todas las es...,OK
11838,17/12/2022 19:38:53,"{'C.P.': '50197', 'Dirección': 'POLIGONO CALLE...",Archivo de todos los productos en todas las es...,OK
11839,17/12/2022 19:38:53,"{'C.P.': '50800', 'Dirección': 'CARRETERA N-33...",Archivo de todos los productos en todas las es...,OK
11840,17/12/2022 19:38:53,"{'C.P.': '50800', 'Dirección': 'CALLE AUSTRIA,...",Archivo de todos los productos en todas las es...,OK
11841,17/12/2022 19:38:53,"{'C.P.': '50810', 'Dirección': 'CALLE COOPERAT...",Archivo de todos los productos en todas las es...,OK

---

Step 2 (Data Transformation)

In [6]:
# Análisis de la columna Lista EESS Precio

diccionario = df['ListaEESSPrecio'].iloc[1]
type(diccionario)

dict

In [7]:
diccionario

{'C.P.': '02001',
 'Dirección': 'CALLE FEDERICO GARCIA LORCA, 5',
 'Horario': 'L-S: 05:00-23:00',
 'Latitud': '38,997722',
 'Localidad': 'ALBACETE',
 'Longitud (WGS84)': '-1,846361',
 'Margen': 'I',
 'Municipio': 'Albacete',
 'Precio Biodiesel': '',
 'Precio Bioetanol': '',
 'Precio Gas Natural Comprimido': '',
 'Precio Gas Natural Licuado': '',
 'Precio Gases licuados del petróleo': '',
 'Precio Gasoleo A': '1,730',
 'Precio Gasoleo B': '',
 'Precio Gasoleo Premium': '',
 'Precio Gasolina 95 E10': '',
 'Precio Gasolina 95 E5': '',
 'Precio Gasolina 95 E5 Premium': '',
 'Precio Gasolina 98 E10': '',
 'Precio Gasolina 98 E5': '',
 'Precio Hidrogeno': '',
 'Provincia': 'ALBACETE',
 'Remisión': 'dm',
 'Rótulo': 'CEPSA',
 'Tipo Venta': 'R',
 '% BioEtanol': '0,0',
 '% Éster metílico': '0,0',
 'IDEESS': '4438',
 'IDMunicipio': '54',
 'IDProvincia': '02',
 'IDCCAA': '07'}

In [8]:
# Extraigo informacion de columna EESS Precio, utilizando json normalize

df_n = pd.concat([df[['Fecha']],pd.json_normalize(df['ListaEESSPrecio'])], axis=1)
df_n

,Fecha,C.P.,Dirección,Horario,Latitud,Localidad,Longitud (WGS84),Margen,Municipio,Precio Biodiesel,...,Provincia,Remisión,Rótulo,Tipo Venta,% BioEtanol,% Éster metílico,IDEESS,IDMunicipio,IDProvincia,IDCCAA
0,17/12/2022 19:38:53,02250,"AVENIDA CASTILLA LA MANCHA, 26",L-D: 07:00-22:00,"39,211417",ABENGIBRE,"-1,539167",D,Abengibre,,...,ALBACETE,dm,Nº 10.935,P,"0,0","0,0",4375,52,02,07
1,17/12/2022 19:38:53,02001,"CALLE FEDERICO GARCIA LORCA, 5",L-S: 05:00-23:00,"38,997722",ALBACETE,"-1,846361",I,Albacete,,...,ALBACETE,dm,CEPSA,R,"0,0","0,0",4438,54,02,07
2,17/12/2022 19:38:53,02001,"CALLE FEDERICO GARCIA LORCA, 1",L-D: 24H,"39,000861",ALBACETE,"-1,849833",D,Albacete,,...,ALBACETE,dm,PLENOIL,P,"0,0","0,0",13933,54,02,07
3,17/12/2022 19:38:53,02001,CALLE PRINCIPE DE ASTURIAS (POLÍGONO DE ROMICA...,L-D: 06:00-21:30,"39,054694",ALBACETE,"-1,832000",I,Albacete,,...,ALBACETE,OM,BP ROMICA,P,"0,0","0,0",12054,54,02,07
4,17/12/2022 19:38:53,02001,"AVENIDA 1º DE MAYO, S/N",L-S: 08:00-22:00; D: 09:00-21:00,"38,985667",ALBACETE,"-1,868500",N,Albacete,,...,ALBACETE,dm,CARREFOUR,P,"0,0","0,0",10765,54,02,07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11837,17/12/2022 19:38:53,50197,"RONDA FERIA DE MUESTRAS, DE LA, 20",L-D: 24H,"41,637944",ZARAGOZA,"-0,986389",D,Zaragoza,,...,ZARAGOZA,OM,IDS,P,"0,0","0,0",12472,8108,50,02
11838,17/12/2022 19:38:53,50197,"POLIGONO CALLE TURIASO, 31",L-D: 24H,"41,645722",ZARAGOZA,"-0,974194",D,Zaragoza,,...,ZARAGOZA,dm,NOIL,P,"0,0","0,0",13917,8108,50,02
11839,17/12/2022 19:38:53,50800,"CARRETERA N-330A KM. 24,000",L-D: 06:00-22:00,"41,857000",ZUERA,"-0,794000",D,Zuera,,...,ZARAGOZA,OM,REPSOL,P,"0,0","0,0",1452,8109,50,02
11840,17/12/2022 19:38:53,50800,"CALLE AUSTRIA, 11,17",L-D: 24H,"41,883583",ZUERA,"-0,782833",D,Zuera,,...,ZARAGOZA,dm,AN ENERGETICOS ZUERA,P,"0,0","0,0",9085,8109,50,02
11841,17/12/2022 19:38:53,50810,"CALLE COOPERATIVA, 2",L-D: 24H,"41,938750",ONTINAR DE SALZ,"-0,757611",D,Zuera,,...,ZARAGOZA,dm,COOPERATIVA SAN ISIDRO,P,"0,0","0,0",9068,8109,50,02

In [9]:
# Guardamos df original para sucesion de tiempo
#df_n.to_csv('2022-11-05x.csv', index=False)

In [10]:
df_n.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11842 entries, 0 to 11841
Data columns (total 33 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Fecha                               11842 non-null  object
 1   C.P.                                11842 non-null  object
 2   Dirección                           11842 non-null  object
 3   Horario                             11842 non-null  object
 4   Latitud                             11842 non-null  object
 5   Localidad                           11842 non-null  object
 6   Longitud (WGS84)                    11842 non-null  object
 7   Margen                              11842 non-null  object
 8   Municipio                           11842 non-null  object
 9   Precio Biodiesel                    11842 non-null  object
 10  Precio Bioetanol                    11842 non-null  object
 11  Precio Gas Natural Comprimido       11842 non-null  object
 12  Precio Gas Natural Licuado          11842 non-null  object
 13  Precio Gases licuados del petróleo  11842 non-null  object
 14  Precio Gasoleo A                    11842 non-null  object
 15  Precio Gasoleo B                    11842 non-null  object
 16  Precio Gasoleo Premium              11842 non-null  object
 17  Precio Gasolina 95 E10              11842 non-null  object
 18  Precio Gasolina 95 E5               11842 non-null  object
 19  Precio Gasolina 95 E5 Premium       11842 non-null  object
 20  Precio Gasolina 98 E10              11842 non-null  object
 21  Precio Gasolina 98 E5               11842 non-null  object
 22  Precio Hidrogeno                    11842 non-null  object
 23  Provincia                           11842 non-null  object
 24  Remisión                            11842 non-null  object
 25  Rótulo                              11842 non-null  object
 26  Tipo Venta                          11842 non-null  object
 27  % BioEtanol                         11842 non-null  object
 28  % Éster metílico                    11842 non-null  object
 29  IDEESS                              11842 non-null  object
 30  IDMunicipio                         11842 non-null  object
 31  IDProvincia                         11842 non-null  object
 32  IDCCAA                              11842 non-null  object
dtypes: object(33)
memory usage: 3.0+ MB

---
Step (3): EDA

                                                    Análisis de Columnas

# Fecha

In [11]:
# Fecha (solo hay una fecha)
Fecha = df_n['Fecha'].unique()
print(type(Fecha))
print(len(Fecha))
Fecha

<class 'numpy.ndarray'>
1

array(['17/12/2022 19:38:53'], dtype=object)

In [12]:
# Nulos 
nulos_f = df_n['Fecha'].isnull().sum()
nulos_f

0

# Código Postal

In [13]:
# Columna C.P.
cp = df_n['C.P.'].unique()
print(type(cp))
print(len(cp))
cp
# En Esaña hay 11752 codigos postales en total

<class 'numpy.ndarray'>
4543

array(['02250', '02001', '02005', ..., '50197', '50800', '50810'],
      dtype=object)

In [14]:
# Nulos 
nulos_cp = df_n['C.P.'].isnull().sum()
nulos_cp

0

# Dirección

In [15]:
# Columna  Dirección
direccion = df_n['Dirección'].unique()
print(type(direccion))
print(len(direccion))
direccion

<class 'numpy.ndarray'>
11524

array(['AVENIDA CASTILLA LA MANCHA, 26', 'CALLE FEDERICO GARCIA LORCA, 5',
       'CALLE FEDERICO GARCIA LORCA, 1', ...,
       'POLIGONO CALLE TURIASO, 31', 'CARRETERA N-330A KM. 24,000',
       'CALLE AUSTRIA, 11,17'], dtype=object)

In [16]:
# Nulos dirección
nulos_cp = df_n['Dirección'].isnull().sum()
nulos_cp

0

# Horario

In [17]:
# Horario
horario = df_n['Horario'].unique()
horario

array(['L-D: 07:00-22:00', 'L-S: 05:00-23:00', 'L-D: 24H', ...,
       'L-V: 06:00-21:00; S-D: 08:00-15:00',
       'L-V: 08:00-22:30; S: 10:00-22:30',
       'L-V: 05:00-22:00; S-D: 08:00-22:00'], dtype=object)

In [18]:
# Nulos horario
nulos_h = df_n['Horario'].isnull().sum()
nulos_h

0

# Latitud

In [19]:
#Latitud (Coincide Latitud y Longitud con las coordenadas en las gasolineras de Google Maps)
latitud = df_n['Latitud'].unique()
print(len(latitud ))
latitud

11474

array(['39,211417', '38,997722', '39,000861', ..., '41,857000',
       '41,883583', '41,938750'], dtype=object)

In [20]:
# Nulos Latitud
nulos_l = df_n['Latitud'].isnull().sum()
nulos_l

0

# Longitud

In [21]:
# Longitud (Coincide Latitud y Longitud con las coordenadas en las gasolineras de Google Maps)
Longitud = df_n['Longitud (WGS84)'].unique()
print(len(Longitud))
Longitud

11597

array(['-1,539167', '-1,846361', '-1,849833', ..., '-0,794000',
       '-0,782833', '-0,757611'], dtype=object)

In [22]:
# Nulos Longitud
nulos_long = df_n['Longitud (WGS84)'].isnull().sum()
nulos_long

0

# Localidad

In [23]:
#Localidad
Localidad = df_n['Localidad'].unique()
print(len(Localidad))
Localidad

4244

array(['ABENGIBRE', 'ALBACETE', 'SANTA ANA', ..., 'VILLARRAPA', 'ZUERA',
       'ONTINAR DE SALZ'], dtype=object)

In [24]:
# Nulos Localidad
nulos_loc = df_n['Localidad'].isnull().sum()
nulos_loc

0

# Municipio

In [25]:
# Municipio (En España hay 8131 Municipios)
Municipio = df_n['Municipio'].unique() 
print(len(Municipio))
Municipio

3439

array(['Abengibre', 'Albacete', 'Alcadozo', ...,
       'Villarroya de la Sierra', 'Zaragoza', 'Zuera'], dtype=object)

In [26]:
# Nulos Municipio
nulos_loc = df_n['Municipio'].isnull().sum()
nulos_loc

0

# Margen

In [27]:
# Margen
Margen = df_n['Margen'].unique()
print(len(Margen))
Margen

3

array(['D', 'I', 'N'], dtype=object)

# Provincia

In [28]:
# Provincia (Están todas las Provinicas de España en nuestro df)
Provincia = df_n['Provincia'].unique()
print(len(Provincia))
Provincia

52

array(['ALBACETE', 'ALICANTE', 'ALMERÍA', 'ARABA/ÁLAVA', 'ASTURIAS',
       'ÁVILA', 'BADAJOZ', 'BALEARS (ILLES)', 'BARCELONA', 'BIZKAIA',
       'BURGOS', 'CÁCERES', 'CÁDIZ', 'CANTABRIA', 'CASTELLÓN / CASTELLÓ',
       'CEUTA', 'CIUDAD REAL', 'CÓRDOBA', 'CORUÑA (A)', 'CUENCA',
       'GIPUZKOA', 'GIRONA', 'GRANADA', 'GUADALAJARA', 'HUELVA', 'HUESCA',
       'JAÉN', 'LEÓN', 'LLEIDA', 'LUGO', 'MADRID', 'MÁLAGA', 'MELILLA',
       'MURCIA', 'NAVARRA', 'OURENSE', 'PALENCIA', 'PALMAS (LAS)',
       'PONTEVEDRA', 'RIOJA (LA)', 'SALAMANCA', 'SANTA CRUZ DE TENERIFE',
       'SEGOVIA', 'SEVILLA', 'SORIA', 'TARRAGONA', 'TERUEL', 'TOLEDO',
       'VALENCIA / VALÈNCIA', 'VALLADOLID', 'ZAMORA', 'ZARAGOZA'],
      dtype=object)

In [29]:
# Nulos Provincia
nulos_prov = df_n['Provincia'].isnull().sum()
nulos_prov

0

# Remision

In [30]:
# Remisión (Sistema de envío de información de precios y de ventas a través de API)
Remision = df_n['Remisión'].unique()
print(len(Remision))
print(type(Remision))
Remision

2
<class 'numpy.ndarray'>

array(['dm', 'OM'], dtype=object)

# Rótulo

In [31]:
# Rótulo (En España hay 3952 marcas de Gasolineras en España según datos de Google)
Rotulo = df_n['Rótulo'].unique()
print(len(Rotulo))
print(type(Rotulo))
Rotulo

4028
<class 'numpy.ndarray'>

array(['Nº 10.935', 'CEPSA', 'PLENOIL', ..., 'DAGO',
       'COOPERATIVA SAN LAMBERTO', 'AN ENERGETICOS ZUERA'], dtype=object)

# Tipo de Venta

In [32]:
# Tipo Venta
tv = df_n['Tipo Venta'].unique()
print(len(tv))
print(type(tv))
tv

2
<class 'numpy.ndarray'>

array(['P', 'R'], dtype=object)

# Porcentaje de Bioetanol

In [33]:
# % BioEtanol (La diferencia entre gasolinas E5 o E10 significan el porcentaje de Etanol (5 o 10%))
bioetanol = df_n['% BioEtanol'].unique()
print(len(bioetanol))
print(type(bioetanol))
bioetanol

3
<class 'numpy.ndarray'>

array(['0,0', '25,0', '85,0'], dtype=object)

# Porcentaje de Éster Metílico

In [34]:
# % Éster metílico (solo para Biodiesel)
em = df_n['% Éster metílico'].unique()
print(len(em))
print(type(em))
em

6
<class 'numpy.ndarray'>

array(['0,0', '7,0', '12,0', '20,0', '30,0', '10,0'], dtype=object)

#  IDEESS

In [35]:
# IDEESS (ID Estación de Servicio, los mismos que estaciones (filas))
IDEESS = df_n['IDEESS'].unique()
print(len(IDEESS))
type(IDEESS)
IDEESS

11842

array(['4375', '4438', '13933', ..., '1452', '9085', '9068'], dtype=object)

In [36]:
# Nulos IDEESS
nulos_IDEESS = df_n['IDEESS'].isnull().sum()
nulos_IDEESS

0

# ID Municipio

In [37]:
# IDMunicipio (un ID más que municipios)
idmun = df_n['IDMunicipio'].unique()
print(len(idmun))
type(idmun)
idmun

3440

array(['52', '54', '57', ..., '8103', '8108', '8109'], dtype=object)

In [38]:
# Nulos ID Municipio
nulos_IDMunicipio = df_n['IDMunicipio'].isnull().sum()
nulos_IDMunicipio

0

# ID Provincia

In [39]:
# IDProvincia (Los mismos ID que Provincias)
idprov = df_n['IDProvincia'].unique()
print(len(idprov))
type(idprov)
idprov

52

array(['02', '03', '04', '01', '33', '05', '06', '07', '08', '48', '09',
       '10', '11', '39', '12', '51', '13', '14', '15', '16', '20', '17',
       '18', '19', '21', '22', '23', '24', '25', '27', '28', '29', '52',
       '30', '31', '32', '34', '35', '36', '26', '37', '38', '40', '41',
       '42', '43', '44', '45', '46', '47', '49', '50'], dtype=object)

In [40]:
nulos_IDProvincia = df_n['IDProvincia'].isnull().sum()
nulos_IDProvincia

0

# ID CCAA

In [41]:
# IDCCAA (ID Comunidades Autónomas, 17 CCAA + Ceuta + Melilla)
# IDProvincia (Los mismos ID que Provincias)
idccaa = df_n['IDCCAA'].unique()
print(len(idccaa))
type(idccaa)
idccaa

19

array(['07', '10', '01', '16', '03', '08', '11', '04', '09', '06', '18',
       '12', '02', '13', '19', '14', '15', '05', '17'], dtype=object)

                                                Columnas Numéricas

# Biodiesel

In [42]:
Biodiesel = df_n['Precio Biodiesel'].unique()
print(len(Biodiesel))
print(type(Biodiesel))
Biodiesel

20
<class 'numpy.ndarray'>

array(['', '1,658', '1,829', '1,999', '1,729', '1,399', '1,499', '1,469',
       '1,569', '1,449', '1,678', '1,694', '1,779', '1,699', '1,869',
       '1,539', '1,759', '1,739', '1,750', '1,667'], dtype=object)

In [43]:
# Convertimos columna categórica a numérica
df_n['Precio Biodiesel']=df_n['Precio Biodiesel'].str.replace(',','.')
df_n[['Precio Biodiesel']]=df_n[['Precio Biodiesel']].apply(pd.to_numeric)

In [44]:
df_n['Precio Biodiesel'].describe()

count    37.000000
mean      1.604459
std       0.156611
min       1.399000
25%       1.499000
50%       1.569000
75%       1.729000
max       1.999000
Name: Precio Biodiesel, dtype: float64

In [45]:
# Registros sin venta Biodiesel
sin_suministro_b = df_n['Precio Biodiesel'].isnull().sum()
sin_suministro_b

11805

## Precio Bioetanol

In [46]:
Bioetanol = df_n['Precio Bioetanol'].unique()
print(len(Bioetanol))
print(type(Bioetanol))
Bioetanol

6
<class 'numpy.ndarray'>

array(['', '1,999', '1,892', '1,487', '1,859', '1,639'], dtype=object)

In [47]:
# Convertimos columna categórica a numérica
df_n['Precio Bioetanol']=df_n['Precio Bioetanol'].str.replace(',','.')
df_n[['Precio Bioetanol']]=df_n[['Precio Bioetanol']].apply(pd.to_numeric)

In [48]:
df_n['Precio Bioetanol'].describe()

count    5.000000
mean     1.775200
std      0.207582
min      1.487000
25%      1.639000
50%      1.859000
75%      1.892000
max      1.999000
Name: Precio Bioetanol, dtype: float64

In [49]:
# Registros sin venta Biodiesel
sin_suministro_be = df_n['Precio Bioetanol'].isnull().sum()
sin_suministro_be

11837

## Precio Gas Natural Comprimido

In [50]:
Gas_n_c = df_n['Precio Gas Natural Comprimido'].unique()
print(len(Gas_n_c))
print(type(Gas_n_c))
Gas_n_c

31
<class 'numpy.ndarray'>

array(['', '1,930', '1,960', '1,898', '2,250', '1,299', '1,927', '1,949',
       '1,690', '2,331', '1,940', '1,349', '2,490', '1,959', '1,979',
       '2,329', '2,030', '1,889', '1,859', '2,539', '1,387', '1,849',
       '1,899', '1,879', '1,934', '2,350', '1,597', '1,300', '1,912',
       '2,069', '1,939'], dtype=object)

In [51]:
# Convertimos columna categórica a numérica
df_n['Precio Gas Natural Comprimido']=df_n['Precio Gas Natural Comprimido'].str.replace(',','.')
df_n[['Precio Gas Natural Comprimido']]=df_n[['Precio Gas Natural Comprimido']].apply(pd.to_numeric)

In [52]:
df_n['Precio Gas Natural Comprimido'].describe()

count    126.000000
mean       1.962675
std        0.193839
min        1.299000
25%        1.930000
50%        1.930000
75%        1.960000
max        2.539000
Name: Precio Gas Natural Comprimido, dtype: float64

In [53]:
# Registros sin venta Biodiesel
sin_suministro_be = df_n['Precio Bioetanol'].isnull().sum()
sin_suministro_be

11837

# Precio Gas Natural Licuado

In [54]:
Gas_nat_lic = df_n['Precio Gas Natural Licuado'].unique()
print(len(Gas_nat_lic))
print(type(Gas_nat_lic))
Gas_nat_lic

19
<class 'numpy.ndarray'>

array(['', '1,890', '1,861', '1,798', '2,331', '1,299', '1,897', '1,849',
       '1,850', '1,249', '2,490', '1,859', '2,329', '1,957', '1,879',
       '1,834', '3,650', '1,807', '1,889'], dtype=object)

In [55]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gas Natural Licuado']=df_n['Precio Gas Natural Licuado'].str.replace(',','.')
df_n[['Precio Gas Natural Licuado']]=df_n[['Precio Gas Natural Licuado']].apply(pd.to_numeric)

In [56]:
df_n['Precio Gas Natural Licuado'].describe()

count    84.000000
mean      1.944012
std       0.278141
min       1.249000
25%       1.861000
50%       1.861000
75%       1.897000
max       3.650000
Name: Precio Gas Natural Licuado, dtype: float64

In [57]:
# Registros sin venta Gas NAtural Licuado
sin_suministro_gnl = df_n['Precio Gas Natural Licuado'].isnull().sum()
sin_suministro_gnl

11758

# Precio Gases licuados del petróleo

In [58]:
Gas_nat_lic_pet = df_n['Precio Gases licuados del petróleo'].unique()
print(len(Gas_nat_lic_pet))
print(type(Gas_nat_lic_pet))
Gas_nat_lic_pet

118
<class 'numpy.ndarray'>

array(['', '1,009', '0,898', '1,039', '1,049', '1,059', '0,969', '0,968',
       '1,015', '1,065', '1,099', '1,029', '1,069', '1,007', '1,139',
       '1,109', '1,119', '0,959', '0,860', '1,025', '0,930', '1,077',
       '1,078', '1,038', '0,910', '0,939', '1,052', '1,019', '1,200',
       '1,079', '0,999', '1,179', '0,980', '1,089', '1,189', '1,005',
       '1,055', '0,859', '1,095', '1,129', '0,989', '1,056', '0,929',
       '0,919', '0,885', '0,899', '0,950', '0,886', '1,094', '1,027',
       '1,140', '0,949', '1,017', '1,037', '0,998', '0,978', '1,085',
       '1,035', '0,865', '0,944', '0,640', '1,159', '1,148', '1,158',
       '0,805', '1,001', '1,018', '0,879', '1,149', '0,768', '0,994',
       '0,990', '0,979', '1,169', '0,997', '0,965', '1,150', '0,995',
       '0,889', '1,045', '1,210', '1,260', '1,160', '1,250', '0,759',
       '1,060', '0,769', '0,933', '1,075', '1,040', '1,100', '0,977',
       '0,909', '0,908', '1,130', '1,028', '1,199', '1,185', '0,799',
       '0,801', '0,789', '0,849', '0,800', '0,809', '0,829', '0,958',
       '1,026', '1,000', '0,870', '0,967', '0,974', '0,905', '0,839',
       '0,915', '0,850', '0,790', '0,830', '1,115'], dtype=object)

In [59]:
# Convertimos columna categórica a numérica
df_n['Precio Gases licuados del petróleo']=df_n['Precio Gases licuados del petróleo'].str.replace(',','.')
df_n[['Precio Gases licuados del petróleo']]=df_n[['Precio Gases licuados del petróleo']].apply(pd.to_numeric)

In [60]:
df_n['Precio Gases licuados del petróleo'].describe()

count    853.000000
mean       1.025674
std        0.075833
min        0.640000
25%        1.001000
50%        1.039000
75%        1.059000
max        1.260000
Name: Precio Gases licuados del petróleo, dtype: float64

In [61]:
# Registros sin venta Gas NAtural Licuado del Petróleo
sin_suministro_gnlp = df_n['Precio Gases licuados del petróleo'].isnull().sum()
sin_suministro_gnlp

10989

In [62]:
ceros_sin_suministro_gnlp = (df_n['Precio Gases licuados del petróleo'] == 0).sum()
ceros_sin_suministro_gnlp

0

# Gasoleo A

In [63]:
Gasoleo_A = df_n['Precio Gasoleo A'].unique()
print(len(Gasoleo_A))
print(type(Gasoleo_A))
Gasoleo_A

459
<class 'numpy.ndarray'>

array(['1,669', '1,730', '1,597', '1,709', '1,699', '1,719', '1,659',
       '1,618', '1,739', '1,639', '1,599', '1,690', '', '1,680', '2,259',
       '1,559', '1,653', '1,649', '1,579', '1,675', '1,685', '1,919',
       '1,729', '1,679', '1,664', '1,665', '1,689', '1,619', '1,684',
       '1,765', '1,849', '1,759', '1,634', '1,735', '1,650', '1,740',
       '1,769', '1,629', '1,589', '1,747', '1,779', '1,600', '1,660',
       '1,644', '1,605', '1,590', '1,695', '1,839', '1,789', '1,876',
       '1,539', '1,610', '1,749', '1,540', '1,808', '1,549', '1,547',
       '1,799', '1,459', '1,464', '1,725', '1,537', '1,465', '1,499',
       '1,467', '1,457', '1,678', '1,497', '1,670', '1,648', '1,609',
       '1,697', '1,704', '1,595', '1,598', '1,557', '1,567', '1,661',
       '1,569', '1,791', '1,624', '1,515', '1,628', '1,611', '1,489',
       '1,687', '1,705', '1,525', '1,485', '1,494', '1,615', '1,519',
       '1,564', '1,714', '1,809', '1,631', '1,724', '1,656', '1,674',
       '1,577', '1,688', '1,587', '1,630', '1,574', '1,694', '1,715',
       '1,604', '1,479', '1,614', '1,517', '1,593', '1,495', '1,627',
       '1,633', '1,700', '1,588', '1,506', '1,505', '1,555', '1,568',
       '1,565', '1,654', '1,686', '1,530', '1,795', '1,510', '1,449',
       '1,560', '1,456', '1,999', '1,483', '1,512', '1,698', '1,682',
       '1,585', '1,683', '1,745', '1,746', '1,929', '1,640', '1,509',
       '1,623', '1,487', '1,738', '1,490', '1,718', '1,575', '1,548',
       '1,646', '2,000', '1,617', '1,645', '1,758', '1,775', '1,755',
       '1,666', '1,655', '1,573', '1,691', '1,607', '1,899', '1,835',
       '1,770', '1,668', '1,830', '1,437', '1,677', '1,638', '1,620',
       '1,850', '1,859', '1,641', '1,716', '1,657', '1,516', '1,734',
       '1,561', '1,635', '1,710', '1,790', '1,959', '1,708', '1,767',
       '1,855', '1,750', '1,785', '1,658', '1,748', '1,720', '1,713',
       '1,558', '1,520', '1,444', '1,869', '1,554', '1,717', '1,529',
       '1,448', '1,608', '1,836', '1,578', '1,594', '1,613', '1,445',
       '1,439', '1,511', '1,544', '1,535', '1,447', '1,524', '1,446',
       '1,733', '1,523', '2,125', '1,625', '1,469', '1,475', '1,606',
       '1,596', '1,454', '1,435', '1,637', '1,504', '1,781', '1,731',
       '1,580', '2,139', '1,692', '1,744', '1,647', '1,892', '1,592',
       '1,773', '1,470', '1,550', '1,890', '1,829', '1,774', '1,696',
       '1,616', '1,570', '1,989', '1,562', '1,667', '1,536', '1,601',
       '1,543', '1,652', '1,533', '1,478', '1,349', '1,329', '1,348',
       '1,545', '1,861', '1,586', '1,820', '1,576', '1,552', '1,486',
       '1,673', '1,581', '1,663', '1,909', '1,819', '1,301', '1,240',
       '1,712', '1,702', '1,538', '1,527', '1,681', '1,526', '1,626',
       '1,400', '1,632', '1,900', '1,693', '1,701', '1,760', '1,622',
       '1,870', '1,502', '1,762', '1,728', '1,737', '1,707', '1,612',
       '1,889', '1,800', '1,771', '1,703', '1,584', '2,309', '1,521',
       '1,476', '1,492', '1,450', '1,754', '1,742', '1,498', '1,727',
       '1,894', '1,848', '2,200', '1,711', '1,676', '1,880', '1,453',
       '1,455', '1,845', '1,556', '1,500', '1,875', '1,970', '1,572',
       '1,814', '1,452', '1,794', '1,815', '1,768', '1,451', '1,751',
       '1,542', '1,721', '1,846', '1,901', '1,752', '1,786', '2,199',
       '1,722', '1,477', '1,643', '1,621', '1,591', '1,803', '1,244',
       '1,245', '1,295', '1,443', '1,508', '1,401', '1,472', '1,488',
       '1,345', '1,886', '1,888', '1,514', '1,788', '1,563', '1,493',
       '1,878', '1,879', '1,642', '1,429', '1,399', '1,239', '1,198',
       '1,299', '1,409', '1,235', '1,199', '1,395', '1,518', '1,522',
       '1,531', '1,484', '1,219', '1,389', '1,434', '1,419', '1,442',
       '1,298', '1,474', '1,424', '1,319', '1,369', '1,420', '1,385',
       '1,436', '1,423', '1,414', '1,390', '1,428', '1,364', '1,398',
       '1,427', '1,359', '1,798', '1,805', '1,810', '1,503', '1,551',
       '1,249', '1,254', '1,458', '1,418', '1,394', '1,406', '1,433',
       '1,415', '1,404', '1,463', '1,379', '1,378', '1,384', '1,375',
       '1,334', '1,297', '1,328', '1,410', '1,388', '1,339', '1,438',
       '1,425', '1,368', '1,357', '1,370', '1,408', '1,374', '1,309',
       '1,358', '1,327', '1,426', '1,356', '1,238', '1,440', '1,289',
       '1,354', '1,402', '1,723', '1,840', '1,818', '1,671', '1,778',
       '1,780', '1,602', '1,528', '1,468', '1,534', '1,935', '1,777',
       '1,797', '1,603', '1,636', '1,736', '2,150', '1,546', '1,532',
       '1,566', '1,757', '1,949', '2,022', '1,583', '1,672', '1,461',
       '1,471', '1,864', '1,491'], dtype=object)

In [64]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasoleo A']=df_n['Precio Gasoleo A'].str.replace(',','.')
df_n[['Precio Gasoleo A']]=df_n[['Precio Gasoleo A']].apply(pd.to_numeric)

In [65]:
df_n['Precio Gasoleo A'].describe()

count    11497.000000
mean         1.656732
std          0.085971
min          1.198000
25%          1.619000
50%          1.679000
75%          1.709000
max          2.309000
Name: Precio Gasoleo A, dtype: float64

In [66]:
# Registros sin venta Gasoleo A
sin_suministro_gA = df_n['Precio Gasoleo A'].isnull().sum()
sin_suministro_gA

345

In [67]:
ceros_sin_suministro_gA = (df_n['Precio Gasoleo A'] == 0).sum()
ceros_sin_suministro_gA

0

# Gasoleo B

In [68]:
Gasoleo_B = df_n['Precio Gasoleo B'].unique()
print(len(Gasoleo_A))
print(type(Gasoleo_A))
Gasoleo_B

459
<class 'numpy.ndarray'>

array(['1,190', '', '1,307', '1,250', '1,230', '1,639', '1,539', '1,269',
       '1,286', '1,520', '1,438', '1,321', '1,410', '1,450', '1,349',
       '1,264', '1,374', '1,379', '1,366', '1,337', '1,220', '1,340',
       '1,289', '1,699', '1,341', '1,298', '1,467', '1,200', '1,291',
       '1,300', '1,290', '1,339', '1,189', '1,260', '1,420', '1,255',
       '1,358', '1,599', '1,309', '1,559', '1,170', '1,549', '1,479',
       '1,400', '1,338', '1,294', '1,319', '1,285', '1,359', '1,249',
       '1,499', '1,589', '1,389', '1,393', '1,350', '1,399', '1,449',
       '1,439', '0,956', '1,430', '1,247', '1,368', '1,500', '1,409',
       '1,455', '1,303', '1,369', '1,299', '1,580', '1,372', '1,459',
       '1,404', '1,360', '1,301', '1,382', '1,219', '1,480', '1,180',
       '1,495', '1,353', '1,485', '1,279', '1,287', '1,244', '1,107',
       '1,148', '1,225', '1,649', '1,259', '1,304', '1,329', '1,168',
       '1,377', '1,419', '1,273', '1,209', '1,554', '1,345', '1,313',
       '1,390', '1,179', '1,274', '1,489', '1,454', '1,416', '1,413',
       '1,395', '1,325', '1,314', '1,347', '1,444', '1,322', '1,293',
       '1,387', '1,284', '1,356', '1,344', '1,373', '1,361', '1,272',
       '1,288', '1,352', '1,384', '1,270', '1,354', '1,427', '1,292',
       '1,308', '1,239', '1,429', '1,407', '1,186', '1,311', '1,385',
       '1,150', '1,670', '1,370', '1,398', '1,510', '1,199', '1,750',
       '1,470', '1,278', '1,226', '1,650', '1,759', '1,381', '0,900',
       '1,595', '1,099', '1,579', '1,281', '1,659', '1,550', '1,155',
       '1,315', '1,447', '1,265', '1,283', '1,305', '1,137', '1,478',
       '1,229', '1,600', '1,619', '1,425', '1,262', '1,275', '1,471',
       '1,592', '1,365', '1,334', '1,357', '1,477', '1,949', '1,441',
       '1,397', '1,348', '1,212', '1,332', '1,422', '1,509', '1,241',
       '1,440', '1,276', '1,236', '1,184', '1,568', '1,238', '1,487',
       '1,388', '1,295', '1,113', '1,178', '1,529', '1,165', '1,320',
       '1,608', '1,396', '1,460', '1,343', '1,266', '1,009', '1,328',
       '1,280', '1,181', '1,335', '1,302', '1,160', '1,324', '1,245',
       '1,196', '1,318', '1,188', '1,240', '1,310', '1,210', '1,411',
       '1,518', '1,140', '1,330', '1,177', '1,469', '1,710', '1,333',
       '1,464', '1,453', '1,519', '1,598', '1,378', '1,327', '1,139',
       '1,216', '1,172', '1,215', '1,164', '1,120', '1,424', '1,194',
       '1,125', '1,077', '1,342', '1,282', '1,128', '1,122', '1,263',
       '1,248', '1,367', '1,403', '1,336', '1,331', '1,176', '1,426',
       '1,271', '1,090', '1,448', '1,261', '1,312', '1,175', '1,267',
       '1,197', '1,187', '1,535', '1,362', '1,183', '1,126', '1,435',
       '1,376', '1,316', '1,130', '1,629', '1,610', '1,451', '1,569',
       '1,558', '1,490', '1,587', '1,296', '1,669', '1,323', '1,590',
       '1,548', '1,405', '1,144', '1,149', '1,114', '1,069', '1,100',
       '1,161', '1,159', '1,437', '1,104', '1,297', '1,243', '1,068',
       '1,418', '1,406', '1,380', '1,428', '1,363', '1,790', '1,514',
       '1,457', '1,195', '1,391', '1,108', '1,119', '1,252', '1,088',
       '1,383', '1,235', '1,525', '1,256', '1,253', '1,174', '1,900',
       '1,386', '1,355', '1,760', '1,233', '1,198', '1,205', '1,251',
       '1,218', '1,163', '1,268', '1,228', '1,157', '1,586', '1,213',
       '1,414', '1,257', '1,258', '1,277', '1,182', '1,158', '1,496',
       '1,346', '1,434', '1,121', '1,192', '1,505', '1,653', '1,103',
       '1,394', '1,185', '1,222', '1,602', '1,412', '1,191', '1,585',
       '1,364', '1,232', '1,375', '1,415', '1,317', '1,204', '1,486',
       '1,468', '1,456', '1,401', '1,206', '1,351', '1,522', '1,242',
       '1,494', '1,526', '1,326', '1,538', '1,749', '1,507', '1,371',
       '1,306', '1,142', '1,709', '1,392', '1,498', '1,565', '1,577',
       '1,208', '1,237', '1,169', '0,999', '1,234', '1,221', '1,606',
       '1,152', '1,151', '1,135', '1,223', '1,127', '1,105', '1,231',
       '1,254', '1,202', '1,147', '1,146', '1,123', '1,106', '1,473',
       '1,458', '1,136', '1,528', '1,417', '1,101'], dtype=object)

In [69]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasoleo B']=df_n['Precio Gasoleo B'].str.replace(',','.')
df_n[['Precio Gasoleo B']]=df_n[['Precio Gasoleo B']].apply(pd.to_numeric)

In [70]:
df_n['Precio Gasoleo B'].describe()

count    3014.000000
mean        1.342649
std         0.113988
min         0.900000
25%         1.270000
50%         1.329000
75%         1.400000
max         1.949000
Name: Precio Gasoleo B, dtype: float64

In [71]:
# Registros sin venta Gasoleo B
sin_suministro_gB = df_n['Precio Gasoleo B'].isnull().sum()
sin_suministro_gB

8828

In [72]:
ceros_sin_suministro_gB = (df_n['Precio Gasoleo B'] == 0).sum()
ceros_sin_suministro_gB

0

# Precio Gasoleo Premium

In [73]:
Gasoleo_P = df_n['Precio Gasoleo Premium'].unique()
print(len(Gasoleo_P))
print(type(Gasoleo_P))
Gasoleo_P

367
<class 'numpy.ndarray'>

array(['', '1,799', '1,739', '1,789', '1,719', '1,678', '1,759', '1,769',
       '1,709', '1,809', '1,735', '1,699', '1,779', '1,790', '1,689',
       '1,690', '1,939', '1,749', '1,775', '1,765', '1,989', '1,729',
       '1,744', '1,745', '1,905', '1,879', '1,819', '1,869', '1,849',
       '1,679', '1,579', '1,774', '1,949', '1,714', '1,734', '1,815',
       '1,785', '1,591', '1,758', '1,764', '1,755', '2,229', '1,659',
       '1,798', '1,767', '1,909', '1,839', '1,784', '1,599', '1,717',
       '1,829', '1,687', '1,795', '1,525', '1,495', '1,644', '1,859',
       '1,683', '1,669', '1,700', '1,814', '1,715', '1,828', '1,910',
       '1,574', '1,609', '1,771', '1,794', '2,999', '1,519', '1,674',
       '1,629', '1,565', '1,791', '1,677', '1,698', '1,568', '1,821',
       '1,693', '1,639', '1,763', '1,610', '1,589', '1,547', '1,567',
       '1,533', '1,554', '1,649', '1,847', '1,725', '1,747', '1,762',
       '1,682', '1,645', '1,969', '1,800', '1,801', '1,781', '1,999',
       '1,898', '1,695', '1,625', '1,628', '1,569', '1,654', '1,648',
       '1,617', '1,615', '1,741', '1,650', '1,670', '1,805', '1,635',
       '1,704', '1,754', '1,899', '1,889', '1,888', '2,083', '1,959',
       '1,447', '1,750', '1,694', '2,069', '1,556', '1,824', '1,577',
       '1,919', '1,658', '1,768', '1,951', '1,848', '1,825', '1,724',
       '1,788', '1,845', '1,868', '1,728', '1,624', '2,129', '1,604',
       '1,638', '1,684', '1,686', '1,740', '1,850', '1,539', '1,766',
       '1,751', '1,594', '1,655', '1,705', '1,808', '1,619', '1,895',
       '1,595', '1,770', '1,796', '1,786', '1,607', '1,499', '1,600',
       '1,706', '1,559', '1,597', '1,688', '1,634', '1,811', '1,575',
       '1,804', '1,865', '1,818', '1,835', '1,797', '1,549', '1,979',
       '1,842', '1,630', '1,834', '1,810', '1,844', '1,778', '1,710',
       '1,807', '1,761', '1,573', '1,787', '1,598', '1,760', '1,737',
       '1,738', '1,985', '1,389', '1,369', '1,748', '1,572', '1,730',
       '1,580', '1,954', '1,802', '1,723', '1,620', '1,618', '1,858',
       '1,929', '1,564', '1,897', '1,780', '1,820', '1,875', '1,856',
       '2,060', '1,671', '1,877', '1,783', '1,907', '1,777', '1,716',
       '1,917', '1,665', '1,685', '1,721', '1,727', '1,885', '1,637',
       '1,752', '1,524', '1,950', '2,100', '1,860', '1,611', '1,529',
       '1,660', '1,861', '1,822', '1,792', '1,697', '1,756', '1,881',
       '1,793', '1,657', '1,666', '1,935', '1,908', '1,746', '1,587',
       '1,540', '1,487', '1,668', '1,904', '1,641', '1,887', '1,773',
       '1,743', '1,718', '1,284', '1,295', '1,245', '2,089', '1,736',
       '1,864', '1,803', '1,557', '1,608', '1,535', '1,830', '1,647',
       '1,827', '1,537', '1,566', '1,319', '1,429', '1,520', '1,631',
       '1,596', '1,530', '1,439', '1,702', '1,562', '1,544', '1,489',
       '1,622', '1,471', '1,436', '1,518', '1,419', '1,469', '1,320',
       '1,464', '1,584', '1,485', '1,590', '1,560', '1,593', '1,915',
       '1,878', '1,836', '1,708', '1,707', '1,582', '1,534', '1,538',
       '1,541', '1,542', '1,545', '1,509', '1,490', '1,479', '1,418',
       '1,454', '1,873', '1,576', '1,571', '1,496', '1,367', '1,299',
       '1,379', '1,463', '1,558', '1,449', '1,415', '1,498', '1,528',
       '1,412', '1,510', '1,578', '1,459', '1,428', '1,516', '1,483',
       '1,776', '1,395', '1,588', '1,656', '1,474', '1,488', '1,398',
       '1,551', '1,643', '1,467', '1,846', '1,851', '2,009', '1,626',
       '1,903', '1,664', '1,867', '1,855', '1,927', '1,921', '1,816',
       '1,757', '1,955', '1,841', '1,680', '1,570', '1,555', '1,667',
       '1,817', '1,583', '1,852', '1,720', '1,605', '1,753', '1,627',
       '1,731', '1,890'], dtype=object)

In [74]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasoleo Premium']=df_n['Precio Gasoleo Premium'].str.replace(',','.')
df_n[['Precio Gasoleo Premium']]=df_n[['Precio Gasoleo Premium']].apply(pd.to_numeric)

In [75]:
df_n['Precio Gasoleo Premium'].describe()

count    7529.000000
mean        1.751081
std         0.081245
min         1.245000
25%         1.729000
50%         1.769000
75%         1.799000
max         2.999000
Name: Precio Gasoleo Premium, dtype: float64

In [76]:
# Registros sin venta Gasoleo Premium
sin_suministro_gP = df_n['Precio Gasoleo Premium'].isnull().sum()
sin_suministro_gP

4313

In [77]:
ceros_sin_suministro_gP = (df_n['Precio Gasoleo Premium'] == 0).sum()
ceros_sin_suministro_gP

0

# Precio Gasolina 95 E10

In [78]:
g95_E10 = df_n['Precio Gasolina 95 E10'].unique()
print(len(g95_E10))
print(type(g95_E10))
g95_E10

19
<class 'numpy.ndarray'>

array(['', '1,869', '1,809', '1,729', '1,628', '1,619', '1,569', '1,669',
       '1,679', '1,719', '1,639', '1,659', '1,477', '1,495', '1,699',
       '1,779', '1,769', '1,689', '1,718'], dtype=object)

In [79]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasolina 95 E10']=df_n['Precio Gasolina 95 E10'].str.replace(',','.')
df_n[['Precio Gasolina 95 E10']]=df_n[['Precio Gasolina 95 E10']].apply(pd.to_numeric)

In [80]:
 df_n['Precio Gasolina 95 E10'].describe()

count    22.000000
mean      1.678636
std       0.091620
min       1.477000
25%       1.639000
50%       1.684000
75%       1.719000
max       1.869000
Name: Precio Gasolina 95 E10, dtype: float64

In [81]:
# Registros sin venta Gasoleo Premium
sin_suministro_95E10 = df_n['Precio Gasolina 95 E10'].isnull().sum()
sin_suministro_95E10

11820

# Precio Gasolina 95 E5

In [82]:
g95_E5 = df_n['Precio Gasolina 95 E5'].unique()
print(len(g95_E5))
print(type(g95_E5))
g95_E5

430
<class 'numpy.ndarray'>

array(['1,589', '', '1,487', '1,599', '1,559', '1,548', '1,609', '1,579',
       '1,669', '1,499', '1,619', '1,590', '1,640', '2,299', '1,479',
       '1,709', '1,561', '1,639', '1,629', '1,574', '1,739', '1,659',
       '1,569', '1,604', '1,695', '1,769', '1,644', '1,699', '1,530',
       '1,650', '1,679', '1,469', '1,665', '1,690', '1,649', '1,689',
       '1,799', '1,549', '1,567', '1,490', '1,467', '1,779', '1,539',
       '1,379', '1,534', '1,389', '1,584', '1,635', '1,476', '1,399',
       '1,459', '1,407', '1,397', '1,614', '1,605', '1,455', '1,529',
       '1,598', '1,578', '1,688', '1,595', '1,495', '1,544', '1,527',
       '1,623', '1,603', '1,489', '1,497', '1,514', '1,628', '1,439',
       '1,537', '1,627', '1,519', '1,505', '1,447', '1,729', '1,554',
       '1,634', '1,656', '1,618', '1,504', '1,664', '1,654', '1,528',
       '1,429', '1,465', '1,475', '1,417', '1,509', '1,515', '1,435',
       '1,437', '1,597', '1,568', '1,624', '1,558', '1,413', '1,750',
       '1,449', '1,535', '1,616', '1,555', '1,450', '1,607', '1,444',
       '1,510', '1,480', '1,969', '1,580', '1,691', '1,540', '1,680',
       '1,712', '1,545', '1,726', '1,500', '1,507', '1,600', '1,749',
       '1,645', '1,668', '1,518', '1,585', '1,557', '2,000', '1,719',
       '1,671', '1,517', '1,594', '1,550', '1,525', '1,698', '1,610',
       '1,725', '1,427', '1,685', '1,850', '1,700', '1,681', '1,508',
       '1,829', '1,670', '1,608', '1,357', '1,460', '1,909', '1,800',
       '1,636', '1,809', '1,565', '1,620', '1,570', '1,789', '1,869',
       '1,575', '1,849', '1,677', '1,754', '1,675', '1,658', '1,615',
       '1,588', '1,657', '1,538', '1,617', '1,369', '1,372', '1,573',
       '1,638', '1,458', '1,494', '1,759', '1,648', '1,611', '1,496',
       '1,376', '1,516', '1,498', '1,606', '1,533', '1,418', '1,524',
       '1,419', '1,577', '1,674', '1,432', '1,426', '1,464', '1,375',
       '1,643', '1,564', '1,454', '1,409', '1,373', '1,587', '1,383',
       '1,999', '1,374', '1,720', '1,513', '1,560', '1,556', '1,546',
       '1,362', '1,655', '1,488', '1,547', '1,377', '1,686', '1,708',
       '2,149', '1,707', '1,631', '1,684', '1,717', '1,857', '1,520',
       '1,470', '1,706', '1,740', '1,486', '1,646', '1,612', '1,471',
       '1,647', '1,477', '1,630', '1,660', '1,553', '1,385', '1,900',
       '1,666', '1,382', '1,625', '1,493', '1,697', '1,572', '1,492',
       '1,819', '1,234', '1,215', '1,233', '1,583', '1,601', '1,485',
       '1,457', '1,694', '1,484', '1,145', '1,673', '1,621', '1,678',
       '1,738', '1,541', '1,633', '1,730', '1,641', '1,835', '1,965',
       '1,711', '1,653', '1,395', '2,329', '1,672', '1,402', '1,491',
       '1,522', '1,536', '1,765', '1,731', '1,777', '1,889', '1,663',
       '1,380', '1,503', '1,405', '1,864', '1,760', '1,637', '1,593',
       '1,839', '1,591', '1,693', '1,727', '1,853', '1,661', '1,506',
       '2,120', '1,723', '1,704', '1,571', '1,378', '1,456', '1,830',
       '1,474', '1,768', '1,622', '1,576', '1,794', '1,613', '1,755',
       '1,792', '1,652', '1,523', '1,795', '1,581', '1,778', '1,501',
       '1,531', '1,596', '1,551', '1,566', '1,148', '1,149', '1,586',
       '2,100', '1,859', '1,472', '1,736', '1,478', '1,667', '1,425',
       '1,349', '1,338', '1,279', '1,119', '0,998', '1,189', '1,329',
       '1,339', '1,328', '1,115', '0,999', '1,345', '1,410', '1,430',
       '1,424', '1,434', '1,359', '1,099', '1,299', '1,482', '1,512',
       '1,542', '1,198', '1,361', '1,404', '1,414', '1,249', '1,420',
       '1,438', '1,356', '1,411', '1,396', '1,398', '1,394', '1,355',
       '1,400', '1,309', '1,326', '1,387', '1,718', '1,748', '1,758',
       '1,155', '1,428', '1,334', '1,319', '1,306', '1,336', '1,314',
       '1,289', '1,290', '1,262', '1,348', '1,284', '1,265', '1,259',
       '1,298', '1,277', '1,197', '1,159', '1,344', '1,318', '1,331',
       '1,263', '1,335', '1,219', '1,268', '1,139', '1,239', '1,287',
       '1,364', '1,285', '1,295', '1,272', '1,264', '1,109', '1,255',
       '1,227', '1,278', '1,247', '1,286', '1,158', '1,340', '1,390',
       '1,358', '1,169', '1,297', '1,293', '1,258', '1,283', '1,626',
       '1,468', '1,543', '1,381', '1,386', '1,692', '1,701', '1,421',
       '1,756', '1,787', '1,521', '1,347', '1,602', '1,502', '1,804',
       '1,737', '1,406'], dtype=object)

In [83]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasolina 95 E5']=df_n['Precio Gasolina 95 E5'].str.replace(',','.')
df_n[['Precio Gasolina 95 E5']]=df_n[['Precio Gasolina 95 E5']].apply(pd.to_numeric)

In [84]:
df_n['Precio Gasolina 95 E5'].describe()

count    10697.000000
mean         1.584291
std          0.083416
min          0.998000
25%          1.559000
50%          1.599000
75%          1.629000
max          2.329000
Name: Precio Gasolina 95 E5, dtype: float64

In [85]:
# Registros sin venta Gasoleo Premium
sin_suministro_g95E5 = df_n['Precio Gasolina 95 E5'].isnull().sum()
sin_suministro_g95E5

1145

In [86]:
ceros_sin_suministro_g95E5  = (df_n['Precio Gasolina 95 E5'] == 0).sum()
ceros_sin_suministro_g95E5

0

# Precio Gasolina 95 E5 Premium

In [87]:
g95_E5_P = df_n['Precio Gasolina 95 E5 Premium'].unique()
print(len(g95_E5_P))
print(type(g95_E5_P))
g95_E5_P

97
<class 'numpy.ndarray'>

array(['', '1,639', '1,599', '1,654', '1,709', '1,629', '1,759', '1,609',
       '1,809', '1,649', '1,714', '1,669', '1,684', '1,619', '1,659',
       '1,689', '1,719', '1,679', '1,699', '1,664', '1,504', '1,700',
       '1,704', '1,568', '1,729', '1,694', '1,549', '1,395', '1,492',
       '1,405', '1,789', '1,779', '1,574', '1,559', '1,724', '1,655',
       '1,879', '1,594', '1,739', '1,589', '1,859', '1,685', '1,769',
       '1,727', '1,754', '1,644', '1,584', '1,749', '1,614', '1,624',
       '1,604', '1,579', '1,509', '1,674', '1,744', '1,786', '1,697',
       '1,499', '1,632', '1,529', '1,269', '1,569', '1,585', '1,710',
       '1,795', '1,634', '1,758', '1,698', '1,642', '1,899', '1,637',
       '1,490', '1,538', '1,497', '1,518', '1,597', '1,598', '1,695',
       '1,527', '1,668', '1,558', '1,447', '1,159', '1,459', '1,535',
       '1,189', '1,705', '1,491', '1,675', '1,519', '1,718', '1,803',
       '1,567', '1,577', '1,821', '1,799', '1,677'], dtype=object)

In [88]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasolina 95 E5 Premium']=df_n['Precio Gasolina 95 E5 Premium'].str.replace(',','.')
df_n[['Precio Gasolina 95 E5 Premium']]=df_n[['Precio Gasolina 95 E5 Premium']].apply(pd.to_numeric)

In [89]:
df_n['Precio Gasolina 95 E5 Premium'].describe()

count    812.000000
mean       1.665869
std        0.070108
min        1.159000
25%        1.639000
50%        1.674000
75%        1.704000
max        1.899000
Name: Precio Gasolina 95 E5 Premium, dtype: float64

In [90]:
# Registros sin venta Gasolina 95 E5 Premium
sin_suministro_g95E5_Prem = df_n['Precio Gasolina 95 E5 Premium'].isnull().sum()
sin_suministro_g95E5_Prem

11030

In [91]:
ceros_sin_suministro_g95E5_Prem  = (df_n['Precio Gasolina 95 E5 Premium'] == 0).sum()
ceros_sin_suministro_g95E5

0

# Precio Gasolina 98 E10

In [92]:
g98_E10 = df_n['Precio Gasolina 98 E10'].unique()
print(len(g98_E10))
print(type(g98_E10))
g98_E10

9
<class 'numpy.ndarray'>

array(['', '1,995', '1,659', '1,717', '1,655', '1,739', '1,849', '1,839',
       '1,838'], dtype=object)

In [93]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasolina 98 E10']=df_n['Precio Gasolina 98 E10'].str.replace(',','.')
df_n[['Precio Gasolina 98 E10']]=df_n[['Precio Gasolina 98 E10']].apply(pd.to_numeric)

In [94]:
df_n['Precio Gasolina 98 E10'].describe()

count    9.000000
mean     1.771778
std      0.116600
min      1.655000
25%      1.659000
50%      1.739000
75%      1.839000
max      1.995000
Name: Precio Gasolina 98 E10, dtype: float64

In [95]:
# Registros sin venta Gasolina 98 E10 
sin_suministro_g98E10 = df_n['Precio Gasolina 98 E10'].isnull().sum()
sin_suministro_g98E10

11833

# Precio Gasolina 98 E5

In [96]:
g98_E5 = df_n['Precio Gasolina 98 E5'].unique()
print(len(g98_E5))
print(type(g98_E5))
g98_E5

423
<class 'numpy.ndarray'>

array(['', '1,741', '1,799', '1,699', '1,689', '1,789', '1,779', '1,839',
       '1,679', '1,669', '2,369', '1,729', '1,745', '1,859', '1,709',
       '1,706', '1,929', '1,719', '1,744', '1,879', '1,759', '1,951',
       '1,850', '1,704', '1,909', '1,809', '1,691', '1,889', '2,089',
       '1,739', '1,721', '1,749', '1,769', '1,674', '1,751', '1,714',
       '1,777', '1,761', '1,771', '1,765', '1,748', '1,999', '1,869',
       '1,781', '1,798', '1,785', '1,899', '1,821', '1,829', '1,819',
       '1,763', '1,794', '1,989', '1,718', '1,865', '1,855', '1,734',
       '1,686', '1,694', '1,776', '1,811', '1,750', '1,736', '1,810',
       '1,762', '1,804', '2,999', '1,849', '1,695', '1,770', '1,905',
       '1,959', '1,801', '1,746', '1,643', '1,754', '1,533', '1,832',
       '1,888', '2,000', '1,800', '1,926', '1,705', '1,949', '1,818',
       '1,625', '1,764', '1,778', '1,569', '1,685', '1,756', '1,730',
       '1,782', '1,774', '1,726', '1,700', '1,939', '1,687', '1,740',
       '1,670', '2,159', '1,649', '1,711', '1,979', '1,738', '2,169',
       '1,659', '1,915', '1,716', '1,791', '1,919', '1,786', '1,834',
       '1,815', '1,848', '1,795', '1,688', '1,847', '1,629', '1,945',
       '1,767', '1,499', '1,835', '1,797', '1,722', '1,614', '1,701',
       '1,831', '1,784', '1,539', '1,826', '1,731', '1,732', '1,995',
       '1,790', '1,780', '1,592', '1,684', '1,609', '1,469', '1,845',
       '1,851', '1,890', '1,724', '1,788', '1,594', '1,710', '1,755',
       '1,766', '1,582', '1,654', '1,895', '1,969', '1,752', '1,793',
       '1,559', '1,574', '1,924', '1,948', '1,808', '1,838', '1,840',
       '1,813', '1,824', '1,988', '1,639', '2,199', '2,019', '1,878',
       '1,697', '1,690', '1,760', '1,579', '1,567', '1,998', '1,787',
       '1,857', '1,775', '1,698', '1,696', '1,665', '1,757', '1,249',
       '1,263', '2,149', '1,589', '1,599', '2,229', '2,009', '1,681',
       '1,655', '1,975', '1,715', '1,717', '1,753', '2,049', '1,871',
       '1,708', '1,991', '1,858', '1,827', '2,029', '1,644', '1,937',
       '2,005', '1,807', '2,109', '1,806', '1,772', '1,930', '1,619',
       '2,139', '1,735', '1,768', '1,852', '1,728', '1,549', '1,675',
       '1,583', '2,500', '1,725', '1,664', '1,758', '1,900', '2,299',
       '1,568', '1,597', '2,200', '1,884', '1,640', '1,836', '1,861',
       '1,666', '1,875', '1,596', '1,747', '1,842', '1,950', '1,873',
       '1,853', '2,020', '1,598', '1,881', '1,557', '2,099', '1,906',
       '1,984', '1,783', '1,960', '1,613', '2,239', '1,667', '1,968',
       '2,069', '1,796', '1,891', '1,743', '1,657', '1,941', '1,860',
       '1,805', '1,837', '1,817', '1,737', '1,727', '1,409', '1,516',
       '1,474', '1,534', '1,299', '1,279', '1,389', '1,464', '1,506',
       '1,380', '1,510', '1,564', '1,507', '1,634', '1,551', '1,514',
       '1,524', '1,544', '1,590', '1,509', '1,581', '1,548', '1,558',
       '1,429', '1,339', '1,449', '1,673', '1,624', '1,530', '1,512',
       '1,404', '1,452', '1,554', '1,519', '1,584', '1,439', '1,504',
       '1,490', '1,550', '1,580', '1,575', '1,528', '1,442', '1,468',
       '1,411', '1,547', '1,375', '1,508', '1,540', '1,359', '1,553',
       '1,451', '1,521', '1,511', '1,520', '1,466', '1,422', '1,628',
       '1,447', '1,529', '1,495', '1,562', '1,525', '1,497', '1,419',
       '1,885', '1,651', '1,935', '1,864', '1,916', '1,713', '1,825',
       '1,190', '1,498', '1,459', '1,458', '1,479', '1,484', '1,431',
       '1,437', '1,462', '1,454', '1,434', '1,390', '1,355', '1,502',
       '1,399', '1,601', '1,595', '1,489', '1,329', '1,327', '1,587',
       '1,586', '1,478', '1,379', '1,473', '1,377', '1,257', '1,358',
       '1,455', '1,678', '1,314', '1,417', '1,460', '1,438', '1,414',
       '1,369', '1,494', '1,394', '1,345', '1,426', '1,365', '1,448',
       '1,294', '1,445', '1,297', '1,317', '1,418', '1,387', '1,486',
       '1,295', '1,395', '1,425', '1,321', '1,475', '1,298', '1,465',
       '1,340', '1,546', '1,444', '1,397', '1,420', '1,433', '1,398',
       '1,423', '1,315', '1,605', '1,898', '1,977', '1,816', '2,219',
       '1,993', '1,733', '1,611', '2,450', '1,661', '1,876', '1,907',
       '1,965', '2,220', '2,055', '1,677', '1,828', '1,608', '1,653',
       '1,707', '1,638'], dtype=object)

In [97]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasolina 98 E5']=df_n['Precio Gasolina 98 E5'].str.replace(',','.')
df_n[['Precio Gasolina 98 E5']]=df_n[['Precio Gasolina 98 E5']].apply(pd.to_numeric)

In [98]:
df_n['Precio Gasolina 98 E5'].describe()

count    5946.000000
mean        1.743390
std         0.106752
min         1.190000
25%         1.714000
50%         1.750000
75%         1.784000
max         2.999000
Name: Precio Gasolina 98 E5, dtype: float64

In [99]:
# Registros sin venta Gasolina 98 E5 
sin_suministro_g98E5 = df_n['Precio Gasolina 98 E5'].isnull().sum()
sin_suministro_g98E5

5896

In [100]:
ceros_sin_suministro_g98E5  = (df_n['Precio Gasolina 98 E5'] == 0).sum()
ceros_sin_suministro_g98E5

0

# Precio Hidrogeno

In [101]:
Hidrongeno = df_n['Precio Hidrogeno'].unique()
print(len(Hidrongeno))
print(type(Hidrongeno))
Hidrongeno

1
<class 'numpy.ndarray'>

array([''], dtype=object)

In [102]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Hidrogeno']=df_n['Precio Hidrogeno'].str.replace(',','.')
df_n[['Precio Hidrogeno']]=df_n[['Precio Hidrogeno']].apply(pd.to_numeric)

In [103]:
df_n['Precio Hidrogeno'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: Precio Hidrogeno, dtype: float64

In [104]:
df_n.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11842 entries, 0 to 11841
Data columns (total 33 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Fecha                               11842 non-null  object
 1   C.P.                                11842 non-null  object
 2   Dirección                           11842 non-null  object
 3   Horario                             11842 non-null  object
 4   Latitud                             11842 non-null  object
 5   Localidad                           11842 non-null  object
 6   Longitud (WGS84)                    11842 non-null  object
 7   Margen                              11842 non-null  object
 8   Municipio                           11842 non-null  object
 9   Precio Biodiesel                    37 non-null     float64
 10  Precio Bioetanol                    5 non-null      float64
 11  Precio Gas Natural Comprimido       126 non-null    float64
 12  Precio Gas Natural Licuado          84 non-null     float64
 13  Precio Gases licuados del petróleo  853 non-null    float64
 14  Precio Gasoleo A                    11497 non-null  float64
 15  Precio Gasoleo B                    3014 non-null   float64
 16  Precio Gasoleo Premium              7529 non-null   float64
 17  Precio Gasolina 95 E10              22 non-null     float64
 18  Precio Gasolina 95 E5               10697 non-null  float64
 19  Precio Gasolina 95 E5 Premium       812 non-null    float64
 20  Precio Gasolina 98 E10              9 non-null      float64
 21  Precio Gasolina 98 E5               5946 non-null   float64
 22  Precio Hidrogeno                    0 non-null      float64
 23  Provincia                           11842 non-null  object
 24  Remisión                            11842 non-null  object
 25  Rótulo                              11842 non-null  object
 26  Tipo Venta                          11842 non-null  object
 27  % BioEtanol                         11842 non-null  object
 28  % Éster metílico                    11842 non-null  object
 29  IDEESS                              11842 non-null  object
 30  IDMunicipio                         11842 non-null  object
 31  IDProvincia                         11842 non-null  object
 32  IDCCAA                              11842 non-null  object
dtypes: float64(14), object(19)
memory usage: 3.0+ MB

---
Setp 3

# Limpieza de Columnas

In [105]:
# Eliminiación de columnas que no interesan a nivel usuario o que no aportan datos significativos al modelo
df_n.drop(['Margen', 'Remisión', 'Tipo Venta', '% BioEtanol', '% Éster metílico', 'Precio Biodiesel',
          'Precio Bioetanol', 'Precio Gas Natural Comprimido', 'Precio Gas Natural Licuado', 
          'Precio Gas Natural Licuado', 'Precio Gases licuados del petróleo', 'Precio Gasolina 95 E10',
          'Precio Gasolina 95 E5 Premium', 'Precio Gasolina 98 E10', 'Precio Hidrogeno'], axis=1, inplace=True)

In [106]:
# Comprobación
df_n.iloc[15][['Precio Gasoleo B']]

Precio Gasoleo B    NaN
Name: 15, dtype: object

In [107]:
df_n.head()

,Fecha,C.P.,Dirección,Horario,Latitud,Localidad,Longitud (WGS84),Municipio,Precio Gasoleo A,Precio Gasoleo B,Precio Gasoleo Premium,Precio Gasolina 95 E5,Precio Gasolina 98 E5,Provincia,Rótulo,IDEESS,IDMunicipio,IDProvincia,IDCCAA
0,17/12/2022 19:38:53,02250,"AVENIDA CASTILLA LA MANCHA, 26",L-D: 07:00-22:00,"39,211417",ABENGIBRE,"-1,539167",Abengibre,1.669,1.19,NaN,1.589,NaN,ALBACETE,Nº 10.935,4375,52,02,07
1,17/12/2022 19:38:53,02001,"CALLE FEDERICO GARCIA LORCA, 5",L-S: 05:00-23:00,"38,997722",ALBACETE,"-1,846361",Albacete,1.730,NaN,NaN,NaN,NaN,ALBACETE,CEPSA,4438,54,02,07
2,17/12/2022 19:38:53,02001,"CALLE FEDERICO GARCIA LORCA, 1",L-D: 24H,"39,000861",ALBACETE,"-1,849833",Albacete,1.597,NaN,NaN,1.487,NaN,ALBACETE,PLENOIL,13933,54,02,07
3,17/12/2022 19:38:53,02001,CALLE PRINCIPE DE ASTURIAS (POLÍGONO DE ROMICA...,L-D: 06:00-21:30,"39,054694",ALBACETE,"-1,832000",Albacete,1.709,NaN,1.799,1.599,1.741,ALBACETE,BP ROMICA,12054,54,02,07
4,17/12/2022 19:38:53,02001,"AVENIDA 1º DE MAYO, S/N",L-S: 08:00-22:00; D: 09:00-21:00,"38,985667",ALBACETE,"-1,868500",Albacete,1.699,NaN,1.739,1.599,1.799,ALBACETE,CARREFOUR,10765,54,02,07

In [108]:
# Renombramos las columnas
df_n.rename(columns={"Precio Gasoleo A": "Gasoleo A", "Precio Gasoleo B": "Gasoleo B" ,"Precio Gasoleo Premium": "Gasoleo Premium", 
                     "Precio Gasolina 95 E5": "Gasolina 95 E5", "Precio Gasolina 98 E5": "Gasolina 98 E5",
                     "Rótulo":"Proveedor de Servicio"}, inplace=True)
df_n.head(1)

,Fecha,C.P.,Dirección,Horario,Latitud,Localidad,Longitud (WGS84),Municipio,Gasoleo A,Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Provincia,Proveedor de Servicio,IDEESS,IDMunicipio,IDProvincia,IDCCAA
0,17/12/2022 19:38:53,02250,"AVENIDA CASTILLA LA MANCHA, 26",L-D: 07:00-22:00,"39,211417",ABENGIBRE,"-1,539167",Abengibre,1.669,1.19,NaN,1.589,NaN,ALBACETE,Nº 10.935,4375,52,02,07

In [109]:
# Media Nacional
df_n['Media Nacional Gasoleo A']=df_n['Gasoleo A'].mean()
df_n['Media Nacional Gasoleo B']=df_n['Gasoleo B'].mean()
df_n['Media Nacional Gasoleo P'] = df_n['Gasoleo Premium'].mean()
df_n['Media Nacional Gasolina 95']=df_n['Gasolina 95 E5'].mean()
df_n['Media Nacional Gasolina 98']=df_n['Gasolina 98 E5'].mean()

In [110]:
# Desviación (eliminanos porque no aporta información va)
#df_n['dev_Gasoleo A']= df_n['Gasoleo A'] - df_n['Media_Gasoleo A']
#df_n['dev_Gasoleo B'] =df_n['Gasoleo B'] - df_n['Media_Gasoleo B']
#df_n['dev_Gasoleo Prem'] =df_n['Gasoleo Premium'] - df_n['Media_Gasoleo Prem']
#df_n['dev_Gasolina 95']=df_n['Gasolina 95 E5'] - df_n['Media_Gasolina 95']
#df_n['dev_Gasolina 98']=df_n['Gasolina 98 E5']- df_n['Media_Gasolina 98']

# Media de precios respecto al código postal

In [111]:
# Media Código Postal de Gasoleo A
def cp_media_A(x):
# x = Código Postal
    cod_postal = df_n[df_n['C.P.'] == x]
    media_cp_GA = cod_postal[['Gasoleo A']].mean()
    return media_cp_GA

In [112]:
# Media Código Postal de Gasoleo B
def cp_media_B(x):
# x = Código Postal
    cod_postal = df_n[df_n['C.P.'] == x]
    media_cp_GB = cod_postal[['Gasoleo B']].mean()
    return media_cp_GB

In [113]:
# Media Código Postal de Gasoleo Premium
def cp_media_P(x):
# x = Código Postal
    cod_postal = df_n[df_n['C.P.'] == x]
    media_cp_GP = cod_postal[['Gasoleo B']].mean()
    return media_cp_GP

In [114]:
# Media Código Postal de Gasolina 95 E5
def cp_media_95(x):
# x = Código Postal
    cod_postal = df_n[df_n['C.P.'] == x]
    media_cp_G95 = cod_postal[['Gasolina 95 E5']].mean()
    return media_cp_G95

In [115]:
# Media Código Postal de Gasolina 98 E5
def cp_media_98(x):
# x = Código Postal
    cod_postal = df_n[df_n['C.P.'] == x]
    media_cp_G98 = cod_postal[['Gasolina 98 E5']].mean()
    return media_cp_G98

In [116]:
# Comprobación
cp_media_95('28760')

Gasolina 95 E5    1.519429
dtype: float64

In [117]:
# Aplicamos la función a la columna
#df_n[['Media C.P. Gasoleo A']]= df_n['C.P.'].apply(cp_media_A)
#df_n[['Media C.P. Gasoleo B']]= df_n['C.P.'].apply(cp_media_B)
#df_n[['Media C.P. Gasoleo P']]= df_n['C.P.'].apply(cp_media_P)
#df_n[['Media C.P. Gasolina 95']]= df_n['C.P.'].apply(cp_media_95)
#df_n[['Media C.P. Gasolina 98']]= df_n['C.P.'].apply(cp_media_98)

In [118]:
df_n.head()

,Fecha,C.P.,Dirección,Horario,Latitud,Localidad,Longitud (WGS84),Municipio,Gasoleo A,Gasoleo B,...,Proveedor de Servicio,IDEESS,IDMunicipio,IDProvincia,IDCCAA,Media Nacional Gasoleo A,Media Nacional Gasoleo B,Media Nacional Gasoleo P,Media Nacional Gasolina 95,Media Nacional Gasolina 98
0,17/12/2022 19:38:53,02250,"AVENIDA CASTILLA LA MANCHA, 26",L-D: 07:00-22:00,"39,211417",ABENGIBRE,"-1,539167",Abengibre,1.669,1.19,...,Nº 10.935,4375,52,02,07,1.656732,1.342649,1.751081,1.584291,1.74339
1,17/12/2022 19:38:53,02001,"CALLE FEDERICO GARCIA LORCA, 5",L-S: 05:00-23:00,"38,997722",ALBACETE,"-1,846361",Albacete,1.730,NaN,...,CEPSA,4438,54,02,07,1.656732,1.342649,1.751081,1.584291,1.74339
2,17/12/2022 19:38:53,02001,"CALLE FEDERICO GARCIA LORCA, 1",L-D: 24H,"39,000861",ALBACETE,"-1,849833",Albacete,1.597,NaN,...,PLENOIL,13933,54,02,07,1.656732,1.342649,1.751081,1.584291,1.74339
3,17/12/2022 19:38:53,02001,CALLE PRINCIPE DE ASTURIAS (POLÍGONO DE ROMICA...,L-D: 06:00-21:30,"39,054694",ALBACETE,"-1,832000",Albacete,1.709,NaN,...,BP ROMICA,12054,54,02,07,1.656732,1.342649,1.751081,1.584291,1.74339
4,17/12/2022 19:38:53,02001,"AVENIDA 1º DE MAYO, S/N",L-S: 08:00-22:00; D: 09:00-21:00,"38,985667",ALBACETE,"-1,868500",Albacete,1.699,NaN,...,CARREFOUR,10765,54,02,07,1.656732,1.342649,1.751081,1.584291,1.74339

In [119]:
df_n.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11842 entries, 0 to 11841
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Fecha                       11842 non-null  object
 1   C.P.                        11842 non-null  object
 2   Dirección                   11842 non-null  object
 3   Horario                     11842 non-null  object
 4   Latitud                     11842 non-null  object
 5   Localidad                   11842 non-null  object
 6   Longitud (WGS84)            11842 non-null  object
 7   Municipio                   11842 non-null  object
 8   Gasoleo A                   11497 non-null  float64
 9   Gasoleo B                   3014 non-null   float64
 10  Gasoleo Premium             7529 non-null   float64
 11  Gasolina 95 E5              10697 non-null  float64
 12  Gasolina 98 E5              5946 non-null   float64
 13  Provincia                   11842 non-null  object
 14  Proveedor de Servicio       11842 non-null  object
 15  IDEESS                      11842 non-null  object
 16  IDMunicipio                 11842 non-null  object
 17  IDProvincia                 11842 non-null  object
 18  IDCCAA                      11842 non-null  object
 19  Media Nacional Gasoleo A    11842 non-null  float64
 20  Media Nacional Gasoleo B    11842 non-null  float64
 21  Media Nacional Gasoleo P    11842 non-null  float64
 22  Media Nacional Gasolina 95  11842 non-null  float64
 23  Media Nacional Gasolina 98  11842 non-null  float64
dtypes: float64(10), object(14)
memory usage: 2.2+ MB

In [121]:
#Ordenamos columnas
df_n = df_n[['Fecha', 'Horario', 'C.P.','Provincia','Municipio','Localidad', 'Dirección', 'Proveedor de Servicio', 
             'Gasoleo A', 'Media C.P. Gasoleo A', 'Media Nacional Gasoleo A', 
             'Gasoleo B', 'Media C.P. Gasoleo B','Media Nacional Gasoleo B', 
             'Gasoleo Premium','Media C.P. Gasoleo P', 'Media Nacional Gasoleo P', 
             'Gasolina 95 E5', 'Media C.P. Gasolina 95','Media Nacional Gasolina 95', 
             'Gasolina 98 E5', 'Media C.P. Gasolina 98','Media Nacional Gasolina 98']]
df_n

KeyError: "['Media C.P. Gasoleo A', 'Media C.P. Gasoleo B', 'Media C.P. Gasoleo P', 'Media C.P. Gasolina 95', 'Media C.P. Gasolina 98'] not in index"

# Reemplazamiento de nombres en las filas

In [122]:
# Misma marca de gasolineras con nombres diferentes
df_n = df_n.sort_values('Proveedor de Servicio')

In [123]:
df_n["Proveedor de Servicio"] = df_n["Proveedor de Servicio"] .astype(str)

In [124]:
df_n.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11842 entries, 2916 to 544
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Fecha                       11842 non-null  object
 1   C.P.                        11842 non-null  object
 2   Dirección                   11842 non-null  object
 3   Horario                     11842 non-null  object
 4   Latitud                     11842 non-null  object
 5   Localidad                   11842 non-null  object
 6   Longitud (WGS84)            11842 non-null  object
 7   Municipio                   11842 non-null  object
 8   Gasoleo A                   11497 non-null  float64
 9   Gasoleo B                   3014 non-null   float64
 10  Gasoleo Premium             7529 non-null   float64
 11  Gasolina 95 E5              10697 non-null  float64
 12  Gasolina 98 E5              5946 non-null   float64
 13  Provincia                   11842 non-null  object
 14  Proveedor de Servicio       11842 non-null  object
 15  IDEESS                      11842 non-null  object
 16  IDMunicipio                 11842 non-null  object
 17  IDProvincia                 11842 non-null  object
 18  IDCCAA                      11842 non-null  object
 19  Media Nacional Gasoleo A    11842 non-null  float64
 20  Media Nacional Gasoleo B    11842 non-null  float64
 21  Media Nacional Gasoleo P    11842 non-null  float64
 22  Media Nacional Gasolina 95  11842 non-null  float64
 23  Media Nacional Gasolina 98  11842 non-null  float64
dtypes: float64(10), object(14)
memory usage: 2.3+ MB

In [125]:
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].astype('string')

In [126]:
df_n.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11842 entries, 2916 to 544
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Fecha                       11842 non-null  object
 1   C.P.                        11842 non-null  object
 2   Dirección                   11842 non-null  object
 3   Horario                     11842 non-null  object
 4   Latitud                     11842 non-null  object
 5   Localidad                   11842 non-null  object
 6   Longitud (WGS84)            11842 non-null  object
 7   Municipio                   11842 non-null  object
 8   Gasoleo A                   11497 non-null  float64
 9   Gasoleo B                   3014 non-null   float64
 10  Gasoleo Premium             7529 non-null   float64
 11  Gasolina 95 E5              10697 non-null  float64
 12  Gasolina 98 E5              5946 non-null   float64
 13  Provincia                   11842 non-null  object
 14  Proveedor de Servicio       11842 non-null  string
 15  IDEESS                      11842 non-null  object
 16  IDMunicipio                 11842 non-null  object
 17  IDProvincia                 11842 non-null  object
 18  IDCCAA                      11842 non-null  object
 19  Media Nacional Gasoleo A    11842 non-null  float64
 20  Media Nacional Gasoleo B    11842 non-null  float64
 21  Media Nacional Gasoleo P    11842 non-null  float64
 22  Media Nacional Gasolina 95  11842 non-null  float64
 23  Media Nacional Gasolina 98  11842 non-null  float64
dtypes: float64(10), object(13), string(1)
memory usage: 2.3+ MB

In [132]:
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP  ALOD', 'BP') 
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP AVENIDA 3 DE MAYO', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP BENICADELL', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP CA SESTRELLA', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP RAMBLA INIESTA', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP SAN LUIS', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP SANTIGA', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP TACO','BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP VENTA DEL PERAL II', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP ROMICA', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOL UBEDA', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('SUTULLENA-CEPSA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('"BP"', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP ROTONDA LAS VAGUADAS S.L.', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BPBEGUR', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BPPROPERLY, S.A.', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('SIN RÓTULO', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('(sin rótulo)', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('*', 'OTROS')
#df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace("******", 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('-', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('-', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('0', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('06/32718', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('12126', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('12241', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('13344', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('15909', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('1PRIMER', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('23ESO68F', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('395 2/2HS 40-80', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('41037733', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('45110020416', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('4572', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('7267', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('7345', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('96053', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('INLOCOR S.L. "CEPSA"', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOL. LOS ANGELES DE LA MANCHA, S.L.', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP OIL', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP PARGA I PETROL BAS BEL', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('Nº 7374', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('NO', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP CASA JUANITO RESTAURANTE', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('NO HAY', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('NO TIENE', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP VILLARROBLEDO', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP ALFAZ DEL PI', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP SANDOVAL MD', 'BP')                                                                        
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP SANDOVAL MI', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP BENIDORM', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP EUROBENIDORM', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP REJAS VERDES', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA ELF', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA V21', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA LEO', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA TINAJO', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA AGAETE', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA CALONGE', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP REJAS VERDES', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA INGENIO', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA ANTIGUA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA BALOS 1', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA BALOS 2', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROSELF', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA CANONCHE', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA . LOHANA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA EL PEÑON', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA VILANOVAE', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA LA ALDEA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA LA CAÑADA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA TAHICHE I', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA LA MARINA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA RELAMPAGO', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA ALMERIMAR', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROSJUBERA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA EL CUBILLO', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA TAHICHE II', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA MASPALOMAS', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA LA CAZUELA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA ETXEGARATE', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA CAOTROSNCHE', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA AGUA GARCIA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA LOS ANDENES', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA LA AZADILLA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA ', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAI', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAGLTA.EL CID', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAVILAOTROSVA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAESPAÑA S.A.', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAGRAN TARAJAL', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSASIETE PALMAS', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAHOYA PARRADO', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAA4 PINTO 365', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROSALPICAT', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSALLAOTROS AZUL', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSALOS ALMENDROS', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAMUELLE GRANDE', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROSGARCIBUR', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAPUERTO ROSARIO', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSALAS ARENAS 365', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROSE.S. ROCA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROS FIERROIL', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROSE.S.JAIME I', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAPUERTO DE LA CRUZ', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAPLAZA DEL PIOTROS', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROS ANTELA E.S.', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSACOSTA DEL SILENCIO', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOPER CANARIOS S,L.', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSATAXISTAS S.AGUSTIN', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROSARROCEROS B.G.', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROS AGROJARA, SCA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSACOD DE LOS VIOTROSS', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSALAS TORRES (TEXACO)', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOPER CANARIOS S,L.', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROSLA DEHESA S.C.A.', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSALOS PORTALES (TEXACO)', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROS LOS FILABRES SCA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROSCOOP. SAN DIONISIO', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSACIUDAD DEL AUTOMÓVIL 365', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSALISBOA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('E.S. CEPSACHIO', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSALOS LLAOTROSS OTROS GRANAD', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSALOS LLAOTROSS OTROS GRANADILLA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAVALLECASOTROSLA ATALAYUELA 365', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('E.S. CEPSALA CALETA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSALAS TORRES (TEXACO)', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAILLA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOPER CANARIOS S,L.', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSALOS PORTALES (TEXACO)', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA  ', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace(' CEPSA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOPER CANARIOS S,L.', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('ES EL CALEYU Nº 229OTROS5CEPSA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('E.S.CEPSAPONTEBRANCA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('ES VILAMARINACEPSA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('FUNDACION AIDACEPSA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('ES MIRALBUEOTROSCEPSA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('EMPRESA DEL GRUPOCEPSA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOPER CANARIOS S,L.', 'CEPSA')

df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP \w[a-zA-Z0-9_]', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP\w[a-zA-Z0-9_]', 'BP')

#df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('SHELL /[^A-Z]/', 'SHELL')
#df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('SHELL/[^A-Z]/', 'SHELL')
#df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('SHELL ', 'SHELL')
#df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace(' SHELL', 'SHELL')

df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('SHELL \S*', 'SHELL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('SHELL \S[a-zA-Z0-9_]*', 'SHELL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('SHELL VIOTROSS','SHELL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('E.S SHELL','SHELL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('LUGO SHELL','SHELL')
df_n['Proveedor de Servicio']

C:\Users\abarr\AppData\Local\Temp\ipykernel_16256\785077303.py:14: FutureWarning: The default value of regex will change from True to False in a future version.
  df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP ROTONDA LAS VAGUADAS S.L.', 'BP')
C:\Users\abarr\AppData\Local\Temp\ipykernel_16256\785077303.py:16: FutureWarning: The default value of regex will change from True to False in a future version.
  df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BPPROPERLY, S.A.', 'BP')
C:\Users\abarr\AppData\Local\Temp\ipykernel_16256\785077303.py:18: FutureWarning: The default value of regex will change from True to False in a future version.
  df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('(sin rótulo)', 'OTROS')
C:\Users\abarr\AppData\Local\Temp\ipykernel_16256\785077303.py:19: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('*', 'OTROS')
C:\Users\abarr\AppData\Local\Temp\ipykernel_16256\785077303.py:38: FutureWarning: The default value of regex will change from True to False in a future version.
  df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('INLOCOR S.L. "CEPSA"', 'CEPSA')
C:\Users\abarr\AppData\Local\Temp\ipykernel_16256\785077303.py:39: FutureWarning: The default value of regex will change from True to False in a future version.
  df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOL. LOS ANGELES DE LA MANCHA, S.L.', 'REPSOL')
C:\Users\abarr\AppData\Local\Temp\ipykernel_16256\785077303.py:67: FutureWarning: The default value of regex will change from True to False in a future version.
  df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA . LOHANA', 'CEPSA')
C:\Users\abarr\AppData\Local\Temp\ipykernel_16256\785077303.py:88: FutureWarning: The default value of regex will change from True to False in a future version.
  df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAGLTA.EL CID', 'CEPSA')
C:\Users\abarr\AppData\Local\Temp\ipykernel_16256\785077303.py:90: FutureWarning: The default value of regex will change from True to False in a future version.
  df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAESPAÑA S.A.', 'CEPSA')
C:\Users\abarr\AppData\Local\Temp\ipykernel_16256\785077303.py:102: FutureWarning: The default value of regex will change from True to False in a future version.
  df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROSE.S. ROCA', 'CEPSA')
C:\Users\abarr\AppData\Local\Temp\ipykernel_16256\785077303.py:104: FutureWarning: The default value of regex will change from True to False in a future version.
  df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROSE.S.JAIME I', 'CEPSA')
C:\Users\abarr\AppData\Local\Temp\ipykernel_16256\785077303.py:107: FutureWarning: The default value of regex will change from True to False in a future version.
  df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROS ANTELA E.S.', 'CEPSA')
C:\Users\abarr\AppData\Local\Temp\ipykernel_16256\785077303.py:109: FutureWarning: The default value of regex will change from True to False in a future version.
  df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOPER CANARIOS S,L.', 'CEPSA')
C:\Users\abarr\AppData\Local\Temp\ipykernel_16256\785077303.py:110: FutureWarning: The default value of regex will change from True to False in a future version.
  df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSATAXISTAS S.AGUSTIN', 'CEPSA')
C:\Users\abarr\AppData\Local\Temp\ipykernel_16256\785077303.py:111: FutureWarning: The default value of regex will change from True to False in a future version.
  df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROSARROCEROS B.G.', 'CEPSA')
C:\Users\abarr\AppData\Local\Temp\ipykernel_16256\785077303.py:114: FutureWarning: The default value of regex will change from True to False in a future version.
  df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSALAS TORRES (TEXACO)', 'CEPSA')
C:\Users\abarr\AppData\Local\Temp\ipykernel_16256\785077303.py:115: FutureWarning: The default value of regex will change from True to False in a future version.
  df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOPER CANARIOS S,L.', 'CEPSA')
C:\Users\abarr\AppData\Local\Temp\ipykernel_16256\785077303.py:116: FutureWarning: The default value of regex will change from True to False in a future version.
  df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROSLA DEHESA S.C.A.', 'CEPSA')
C:\Users\abarr\AppData\Local\Temp\ipykernel_16256\785077303.py:117: FutureWarning: The default value of regex will change from True to False in a future version.
  df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSALOS PORTALES (TEXACO)', 'CEPSA')
C:\Users\abarr\AppData\Local\Temp\ipykernel_16256\785077303.py:119: FutureWarning: The default value of regex will change from True to False in a future version.
  df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROSCOOP. SAN DIONISIO', 'CEPSA')
C:\Users\abarr\AppData\Local\Temp\ipykernel_16256\785077303.py:122: FutureWarning: The default value of regex will change from True to False in a future version.
  df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('E.S. CEPSACHIO', 'CEPSA')
C:\Users\abarr\AppData\Local\Temp\ipykernel_16256\785077303.py:126: FutureWarning: The default value of regex will change from True to False in a future version.
  df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('E.S. CEPSALA CALETA', 'CEPSA')
C:\Users\abarr\AppData\Local\Temp\ipykernel_16256\785077303.py:127: FutureWarning: The default value of regex will change from True to False in a future version.
  df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSALAS TORRES (TEXACO)', 'CEPSA')
C:\Users\abarr\AppData\Local\Temp\ipykernel_16256\785077303.py:129: FutureWarning: The default value of regex will change from True to False in a future version.
  df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOPER CANARIOS S,L.', 'CEPSA')
C:\Users\abarr\AppData\Local\Temp\ipykernel_16256\785077303.py:130: FutureWarning: The default value of regex will change from True to False in a future version.
  df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSALOS PORTALES (TEXACO)', 'CEPSA')
C:\Users\abarr\AppData\Local\Temp\ipykernel_16256\785077303.py:133: FutureWarning: The default value of regex will change from True to False in a future version.
  df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOPER CANARIOS S,L.', 'CEPSA')
C:\Users\abarr\AppData\Local\Temp\ipykernel_16256\785077303.py:135: FutureWarning: The default value of regex will change from True to False in a future version.
  df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('E.S.CEPSAPONTEBRANCA', 'CEPSA')
C:\Users\abarr\AppData\Local\Temp\ipykernel_16256\785077303.py:140: FutureWarning: The default value of regex will change from True to False in a future version.
  df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOPER CANARIOS S,L.', 'CEPSA')
C:\Users\abarr\AppData\Local\Temp\ipykernel_16256\785077303.py:142: FutureWarning: The default value of regex will change from True to False in a future version.
  df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP \w[a-zA-Z0-9_]', 'BP')
C:\Users\abarr\AppData\Local\Temp\ipykernel_16256\785077303.py:143: FutureWarning: The default value of regex will change from True to False in a future version.
  df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP\w[a-zA-Z0-9_]', 'BP')
C:\Users\abarr\AppData\Local\Temp\ipykernel_16256\785077303.py:150: FutureWarning: The default value of regex will change from True to False in a future version.
  df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('SHELL \S*', 'SHELL')
C:\Users\abarr\AppData\Local\Temp\ipykernel_16256\785077303.py:151: FutureWarning: The default value of regex will change from True to False in a future version.
  df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('SHELL \S[a-zA-Z0-9_]*', 'SHELL')
C:\Users\abarr\AppData\Local\Temp\ipykernel_16256\785077303.py:153: FutureWarning: The default value of regex will change from True to False in a future version.
  df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('E.S SHELL','SHELL')

2916        PETROL STATION
5076                  AGLA
10808              AGRICAR
10351                   BP
9337                    BP
               ...
2231          ZONA DIESEL
4926             ZONA ZERO
7297                     _
11488       |> ENERTRIX <|
544             ÁRTICO OIL
Name: Proveedor de Servicio, Length: 11842, dtype: string

In [133]:
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].find('BP')

AttributeError: 'Series' object has no attribute 'find'

In [134]:
# Guardamos df original para sucesion de tiempo
df_n.to_csv('df_sample.csv', index=False)

In [135]:
df_n.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11842 entries, 2916 to 544
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Fecha                       11842 non-null  object
 1   C.P.                        11842 non-null  object
 2   Dirección                   11842 non-null  object
 3   Horario                     11842 non-null  object
 4   Latitud                     11842 non-null  object
 5   Localidad                   11842 non-null  object
 6   Longitud (WGS84)            11842 non-null  object
 7   Municipio                   11842 non-null  object
 8   Gasoleo A                   11497 non-null  float64
 9   Gasoleo B                   3014 non-null   float64
 10  Gasoleo Premium             7529 non-null   float64
 11  Gasolina 95 E5              10697 non-null  float64
 12  Gasolina 98 E5              5946 non-null   float64
 13  Provincia                   11842 non-null  object
 14  Proveedor de Servicio       11842 non-null  string
 15  IDEESS                      11842 non-null  object
 16  IDMunicipio                 11842 non-null  object
 17  IDProvincia                 11842 non-null  object
 18  IDCCAA                      11842 non-null  object
 19  Media Nacional Gasoleo A    11842 non-null  float64
 20  Media Nacional Gasoleo B    11842 non-null  float64
 21  Media Nacional Gasoleo P    11842 non-null  float64
 22  Media Nacional Gasolina 95  11842 non-null  float64
 23  Media Nacional Gasolina 98  11842 non-null  float64
dtypes: float64(10), object(13), string(1)
memory usage: 2.3+ MB

In [136]:
x = df_n['C.P.']
print(type(x))

<class 'pandas.core.series.Series'>

---
Step4


# Desarrollo Funciones

In [ ]:
# Analisis de Funciones

In [ ]:
# Analizar df_n usando .loc()

df_n[df_n['C.P.'] == '28760']

In [ ]:
df_n[['Gasoleo A']].min()

In [ ]:
type(df_n[['Gasoleo A']].min())

In [ ]:
df_n[['Gasoleo A']].idxmin()

In [ ]:
type(df_n[['Gasoleo A']].idxmin())

In [ ]:
#df_n.loc[df_n[['Gasoleo A']].min()]

In [ ]:
#df_n.head()

In [ ]:
#df_n.loc[1.290]

In [ ]:
df_n.index

In [ ]:
type(df_n.loc[df_n[['Gasoleo A']].idxmin()])

In [ ]:
type(df_n.loc[9213])

In [ ]:
a = df_n.groupby(by=["Municipio"])
a

In [ ]:
b = a["C.P."].unique()
b

# Funciones

In [ ]:
# Precio mínimo de combstible en un codigo postal 
def cp_minimo(x,y):
# x = Código Postal
# y = Tipo de combustible para el precio mínimo
    cod_postal = df_n[df_n['C.P.'] == x]
    combustible = cod_postal.loc[cod_postal[[y]].idxmin()]
    return combustible

In [ ]:
cp_minimo('28760', 'Gasoleo A')

---

In [ ]:
df_n[df_n['C.P.'] == "28500"]

In [ ]:
# Comprobación
x1 = df_n["C.P."]=='28609'
x2 = df_n[x1]
x2

In [ ]:
########
def cp_media(x):
# x = Código Postal
# y = Tipo de combustible para el precio mínimo
    cod_postal = df_n[df_n['C.P.'] == x]
    media_cp = cod_postal[['Gasoleo A']].mean()
    return media_cp

In [ ]:
#####Comprobacion#####
cp_media('28760')

In [ ]:
# Precio mínimo de combstible en una Provincia  
def provincia_minimo(x, y):
# x = Provincia
# y = tipo de combustible     
    provincia = df_n[df_n["Provincia"] == x]
    minimo_prov = provincia.loc[provincia[[y]].idxmin()]
    return minimo_prov

In [ ]:
provincia_minimo('MADRID', 'Gasoleo A')

In [ ]:
# Precio mínimo de combstible en un Municipio  
def municipio_minimo(x, y):
# x = Municipio
# y = Tipo de Combustible    
    municipio = df_n[df_n["Municipio"] == x]
    municipio_min = municipio.loc[municipio[[y]].idxmin()]
    return municipio

In [ ]:
municipio_minimo('Cercedilla', 'Gasoleo A')

In [ ]:
# # Precio mínimo de combstible en un proveedor de estación de servicio  
def gasolinera_minimo(x, y):
# x = Proveedor de estación de servicio
# Y = Tipo de Combustible    
    proveedor = df_n[df_n["Proveedor de Servicio"] == x]
    minimo_prov = proveedor.loc[proveedor[[y]].idxmin()]
    return minimo_prov

In [ ]:
gasolinera_minimo('REPSOL', 'Gasoleo A')

In [ ]:
# Función para convertir códigos postales
def convert(x):
# x: Municipio    
    municipio = df_n[df_n["Municipio"] == x]
    cp = municipio[["C.P.", "Municipio", "Proveedor de Servicio", "Gasoleo A"]].min()
    return cp
type(convert)

In [ ]:
convert('Móstoles')

In [ ]:
# Listado de Estaciones de Servicio por Municipio por Municipio
# x: Municipio
def gasolineras_municipio(x):
    municipio = df_n[df_n["Municipio"] == x]
    eess_mun = pd.DataFrame(municipio[["Proveedor de Servicio"]])
    return eess_mun

In [ ]:
gasolineras_municipio('Navalcarnero')

In [ ]:
# Listado de Gasolineras por Provincia
#x=Provincia
def gasolineras_provincia(x):
    cp_x = df_n[df_n["Provincia"] == x]
    return cp_x

In [ ]:
gasolineras_provincia('HUELVA')

In [ ]:
# Listado de Gasolineras por Código Postal:
# x: código postal
def gasolineras_cp(x):
    cp = df_n[df_n["C.P."] == x]
    return cp

In [ ]:
gasolineras_cp('28500')

In [ ]:
df_n.dropna()