## MVP (Cheapest Oil)

In [1]:
# Imports

# Pandas
import pandas as pd 

# Importo libreria para conexión a API
from urllib.request import urlopen

# Importo libreria Json para que lea
import json

# Numpy
import numpy as np

---
Step 1 (Data Extraction)

In [2]:
# Definir las variables donde meto el string que contiene la URL

endpoint ='https://sedeaplicaciones.minetur.gob.es'
parametros = '/ServiciosRESTCarburantes/PreciosCarburantes/EstacionesTerrestres/'

In [3]:
# Vamos a guardar en una variable nuestros datos (resultado, comida) 

response = urlopen(endpoint+parametros)
type(response)

http.client.HTTPResponse

In [4]:
# Vamos a extraer del obejto, los datos (Conexion a la API)

data = response.read().decode('utf-8', 'replace')
data = json.loads(data)
type(data)

dict

In [5]:
# Crear Dataframe

df = pd.DataFrame(data)
df

,Fecha,ListaEESSPrecio,Nota,ResultadoConsulta
0,12/07/2023 13:38:44,"{'C.P.': '02250', 'Dirección': 'AVENIDA CASTIL...",Archivo de todos los productos en todas las es...,OK
1,12/07/2023 13:38:44,"{'C.P.': '02001', 'Dirección': 'CALLE PRINCIPE...",Archivo de todos los productos en todas las es...,OK
2,12/07/2023 13:38:44,"{'C.P.': '02001', 'Dirección': 'AVENIDA 1º DE ...",Archivo de todos los productos en todas las es...,OK
3,12/07/2023 13:38:44,"{'C.P.': '02001', 'Dirección': 'CALLE FEDERICO...",Archivo de todos los productos en todas las es...,OK
4,12/07/2023 13:38:44,"{'C.P.': '02001', 'Dirección': 'CALLE FEDERICO...",Archivo de todos los productos en todas las es...,OK
...,...,...,...,...
11730,12/07/2023 13:38:44,"{'C.P.': '50197', 'Dirección': 'RONDA FERIA DE...",Archivo de todos los productos en todas las es...,OK
11731,12/07/2023 13:38:44,"{'C.P.': '50197', 'Dirección': 'RONDA RONDA DE...",Archivo de todos los productos en todas las es...,OK
11732,12/07/2023 13:38:44,"{'C.P.': '50800', 'Dirección': 'CARRETERA N-33...",Archivo de todos los productos en todas las es...,OK
11733,12/07/2023 13:38:44,"{'C.P.': '50800', 'Dirección': 'CALLE AUSTRIA,...",Archivo de todos los productos en todas las es...,OK
11734,12/07/2023 13:38:44,"{'C.P.': '50810', 'Dirección': 'CALLE COOPERAT...",Archivo de todos los productos en todas las es...,OK

---

Step 2 (Data Transformation)

In [6]:
# Análisis de la columna Lista EESS Precio

diccionario = df['ListaEESSPrecio'].iloc[1]
type(diccionario)

dict

In [7]:
diccionario

{'C.P.': '02001',
 'Dirección': 'CALLE PRINCIPE DE ASTURIAS (POLÍGONO DE ROMICA), 5',
 'Horario': 'L-D: 06:00-21:30',
 'Latitud': '39,054694',
 'Localidad': 'ALBACETE',
 'Longitud (WGS84)': '-1,832000',
 'Margen': 'I',
 'Municipio': 'Albacete',
 'Precio Biodiesel': '',
 'Precio Bioetanol': '',
 'Precio Gas Natural Comprimido': '',
 'Precio Gas Natural Licuado': '',
 'Precio Gases licuados del petróleo': '',
 'Precio Gasoleo A': '1,489',
 'Precio Gasoleo B': '',
 'Precio Gasoleo Premium': '1,579',
 'Precio Gasolina 95 E10': '',
 'Precio Gasolina 95 E5': '1,619',
 'Precio Gasolina 95 E5 Premium': '',
 'Precio Gasolina 98 E10': '',
 'Precio Gasolina 98 E5': '1,761',
 'Precio Hidrogeno': '',
 'Provincia': 'ALBACETE',
 'Remisión': 'OM',
 'Rótulo': 'BP ROMICA',
 'Tipo Venta': 'P',
 '% BioEtanol': '0,0',
 '% Éster metílico': '0,0',
 'IDEESS': '12054',
 'IDMunicipio': '54',
 'IDProvincia': '02',
 'IDCCAA': '07'}

In [8]:
# Extraigo informacion de columna EESS Precio, utilizando json normalize

df_n = pd.concat([df[['Fecha']],pd.json_normalize(df['ListaEESSPrecio'])], axis=1)
df_n

,Fecha,C.P.,Dirección,Horario,Latitud,Localidad,Longitud (WGS84),Margen,Municipio,Precio Biodiesel,...,Provincia,Remisión,Rótulo,Tipo Venta,% BioEtanol,% Éster metílico,IDEESS,IDMunicipio,IDProvincia,IDCCAA
0,12/07/2023 13:38:44,02250,"AVENIDA CASTILLA LA MANCHA, 26",L-D: 07:00-22:00,"39,211417",ABENGIBRE,"-1,539167",D,Abengibre,,...,ALBACETE,dm,Nº 10.935,P,"0,0","0,0",4375,52,02,07
1,12/07/2023 13:38:44,02001,CALLE PRINCIPE DE ASTURIAS (POLÍGONO DE ROMICA...,L-D: 06:00-21:30,"39,054694",ALBACETE,"-1,832000",I,Albacete,,...,ALBACETE,OM,BP ROMICA,P,"0,0","0,0",12054,54,02,07
2,12/07/2023 13:38:44,02001,"AVENIDA 1º DE MAYO, S/N",L-S: 08:00-22:00; D: 09:00-21:00,"38,985667",ALBACETE,"-1,868500",N,Albacete,,...,ALBACETE,dm,CARREFOUR,P,"0,0","0,0",10765,54,02,07
3,12/07/2023 13:38:44,02001,"CALLE FEDERICO GARCIA LORCA, 5",L-S: 05:00-23:00,"38,997722",ALBACETE,"-1,846361",I,Albacete,,...,ALBACETE,dm,CEPSA,R,"0,0","0,0",4438,54,02,07
4,12/07/2023 13:38:44,02001,"CALLE FEDERICO GARCIA LORCA, 1",L-D: 24H,"39,000861",ALBACETE,"-1,849833",D,Albacete,,...,ALBACETE,dm,PLENOIL,P,"0,0","0,0",13933,54,02,07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11730,12/07/2023 13:38:44,50197,"RONDA FERIA DE MUESTRAS, DE LA, 20",L-D: 24H,"41,637944",ZARAGOZA,"-0,986389",D,Zaragoza,,...,ZARAGOZA,OM,IDS,P,"0,0","0,0",12472,8108,50,02
11731,12/07/2023 13:38:44,50197,"RONDA RONDA DE LA FERIA DE MUESTRAS, 10",L-D: 24H,"41,638361",ZARAGOZA,"-0,987833",D,Zaragoza,,...,ZARAGOZA,dm,MOLGAS,P,"0,0","0,0",15747,8108,50,02
11732,12/07/2023 13:38:44,50800,"CARRETERA N-330A KM. 24,000",L-D: 06:00-22:00,"41,857000",ZUERA,"-0,794000",D,Zuera,,...,ZARAGOZA,OM,REPSOL,P,"0,0","0,0",1452,8109,50,02
11733,12/07/2023 13:38:44,50800,"CALLE AUSTRIA, 11,17",L-D: 24H,"41,883583",ZUERA,"-0,782833",D,Zuera,,...,ZARAGOZA,dm,AN ENERGETICOS ZUERA,P,"0,0","0,0",9085,8109,50,02
11734,12/07/2023 13:38:44,50810,"CALLE COOPERATIVA, 2",L-D: 24H,"41,938750",ONTINAR DE SALZ,"-0,757611",D,Zuera,,...,ZARAGOZA,dm,COOPERATIVA SAN ISIDRO,P,"0,0","0,0",9068,8109,50,02

In [9]:
# Guardamos df original para sucesion de tiempo
#df_n.to_csv('2022-11-05x.csv', index=False)

In [10]:
df_n.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11735 entries, 0 to 11734
Data columns (total 33 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Fecha                               11735 non-null  object
 1   C.P.                                11735 non-null  object
 2   Dirección                           11735 non-null  object
 3   Horario                             11735 non-null  object
 4   Latitud                             11735 non-null  object
 5   Localidad                           11735 non-null  object
 6   Longitud (WGS84)                    11735 non-null  object
 7   Margen                              11735 non-null  object
 8   Municipio                           11735 non-null  object
 9   Precio Biodiesel                    11735 non-null  object
 10  Precio Bioetanol                    11735 non-null  object
 11  Precio Gas Natural Comprimido       11735 non-null  object
 12  Precio Gas Natural Licuado          11735 non-null  object
 13  Precio Gases licuados del petróleo  11735 non-null  object
 14  Precio Gasoleo A                    11735 non-null  object
 15  Precio Gasoleo B                    11735 non-null  object
 16  Precio Gasoleo Premium              11735 non-null  object
 17  Precio Gasolina 95 E10              11735 non-null  object
 18  Precio Gasolina 95 E5               11735 non-null  object
 19  Precio Gasolina 95 E5 Premium       11735 non-null  object
 20  Precio Gasolina 98 E10              11735 non-null  object
 21  Precio Gasolina 98 E5               11735 non-null  object
 22  Precio Hidrogeno                    11735 non-null  object
 23  Provincia                           11735 non-null  object
 24  Remisión                            11735 non-null  object
 25  Rótulo                              11735 non-null  object
 26  Tipo Venta                          11735 non-null  object
 27  % BioEtanol                         11735 non-null  object
 28  % Éster metílico                    11735 non-null  object
 29  IDEESS                              11735 non-null  object
 30  IDMunicipio                         11735 non-null  object
 31  IDProvincia                         11735 non-null  object
 32  IDCCAA                              11735 non-null  object
dtypes: object(33)
memory usage: 3.0+ MB

---
Step (3): EDA

                                                    Análisis de Columnas

# Fecha

In [11]:
# Fecha (solo hay una fecha)
Fecha = df_n['Fecha'].unique()
print(type(Fecha))
print(len(Fecha))
Fecha

<class 'numpy.ndarray'>
1

array(['12/07/2023 13:38:44'], dtype=object)

In [12]:
# Nulos 
nulos_f = df_n['Fecha'].isnull().sum()
nulos_f

0

# Código Postal

In [13]:
# Columna C.P.
cp = df_n['C.P.'].unique()
print(type(cp))
print(len(cp))
cp
# En Esaña hay 11752 codigos postales en total

<class 'numpy.ndarray'>
4508

array(['02250', '02001', '02005', ..., '50197', '50800', '50810'],
      dtype=object)

In [14]:
# Nulos 
nulos_cp = df_n['C.P.'].isnull().sum()
nulos_cp

0

# Dirección

In [15]:
# Columna  Dirección
direccion = df_n['Dirección'].unique()
print(type(direccion))
print(len(direccion))
direccion

<class 'numpy.ndarray'>
11414

array(['AVENIDA CASTILLA LA MANCHA, 26',
       'CALLE PRINCIPE DE ASTURIAS (POLÍGONO DE ROMICA), 5',
       'AVENIDA 1º DE MAYO, S/N', ...,
       'RONDA RONDA DE LA FERIA DE MUESTRAS, 10',
       'CARRETERA N-330A KM. 24,000', 'CALLE AUSTRIA, 11,17'],
      dtype=object)

In [16]:
# Nulos dirección
nulos_cp = df_n['Dirección'].isnull().sum()
nulos_cp

0

# Horario

In [17]:
# Horario
horario = df_n['Horario'].unique()
horario

array(['L-D: 07:00-22:00', 'L-D: 06:00-21:30',
       'L-S: 08:00-22:00; D: 09:00-21:00', ...,
       'L-V: 06:00-21:00; S-D: 08:00-15:00',
       'L-V: 08:00-22:30; S: 10:00-22:30',
       'L-V: 05:00-22:00; S-D: 08:00-22:00'], dtype=object)

In [18]:
# Nulos horario
nulos_h = df_n['Horario'].isnull().sum()
nulos_h

0

# Latitud

In [19]:
#Latitud (Coincide Latitud y Longitud con las coordenadas en las gasolineras de Google Maps)
latitud = df_n['Latitud'].unique()
print(len(latitud ))
latitud

11373

array(['39,211417', '39,054694', '38,985667', ..., '41,857000',
       '41,883583', '41,938750'], dtype=object)

In [20]:
# Nulos Latitud
nulos_l = df_n['Latitud'].isnull().sum()
nulos_l

0

# Longitud

In [21]:
# Longitud (Coincide Latitud y Longitud con las coordenadas en las gasolineras de Google Maps)
Longitud = df_n['Longitud (WGS84)'].unique()
print(len(Longitud))
Longitud

11494

array(['-1,539167', '-1,832000', '-1,868500', ..., '-0,794000',
       '-0,782833', '-0,757611'], dtype=object)

In [22]:
# Nulos Longitud
nulos_long = df_n['Longitud (WGS84)'].isnull().sum()
nulos_long

0

# Localidad

In [23]:
#Localidad
Localidad = df_n['Localidad'].unique()
print(len(Localidad))
Localidad

4203

array(['ABENGIBRE', 'ALBACETE', 'SANTA ANA', ..., 'VILLARRAPA', 'ZUERA',
       'ONTINAR DE SALZ'], dtype=object)

In [24]:
# Nulos Localidad
nulos_loc = df_n['Localidad'].isnull().sum()
nulos_loc

0

# Municipio

In [25]:
# Municipio (En España hay 8131 Municipios)
Municipio = df_n['Municipio'].unique() 
print(len(Municipio))
Municipio

3402

array(['Abengibre', 'Albacete', 'Alcadozo', ...,
       'Villarroya de la Sierra', 'Zaragoza', 'Zuera'], dtype=object)

In [26]:
# Nulos Municipio
nulos_loc = df_n['Municipio'].isnull().sum()
nulos_loc

0

# Margen

In [27]:
# Margen
Margen = df_n['Margen'].unique()
print(len(Margen))
Margen

3

array(['D', 'I', 'N'], dtype=object)

# Provincia

In [28]:
# Provincia (Están todas las Provinicas de España en nuestro df)
Provincia = df_n['Provincia'].unique()
print(len(Provincia))
Provincia

52

array(['ALBACETE', 'ALICANTE', 'ALMERÍA', 'ARABA/ÁLAVA', 'ASTURIAS',
       'ÁVILA', 'BADAJOZ', 'BALEARS (ILLES)', 'BARCELONA', 'BIZKAIA',
       'BURGOS', 'CÁCERES', 'CÁDIZ', 'CANTABRIA', 'CASTELLÓN / CASTELLÓ',
       'CEUTA', 'CIUDAD REAL', 'CÓRDOBA', 'CORUÑA (A)', 'CUENCA',
       'GIPUZKOA', 'GIRONA', 'GRANADA', 'GUADALAJARA', 'HUELVA', 'HUESCA',
       'JAÉN', 'LEÓN', 'LLEIDA', 'LUGO', 'MADRID', 'MÁLAGA', 'MELILLA',
       'MURCIA', 'NAVARRA', 'OURENSE', 'PALENCIA', 'PALMAS (LAS)',
       'PONTEVEDRA', 'RIOJA (LA)', 'SALAMANCA', 'SANTA CRUZ DE TENERIFE',
       'SEGOVIA', 'SEVILLA', 'SORIA', 'TARRAGONA', 'TERUEL', 'TOLEDO',
       'VALENCIA / VALÈNCIA', 'VALLADOLID', 'ZAMORA', 'ZARAGOZA'],
      dtype=object)

In [29]:
# Nulos Provincia
nulos_prov = df_n['Provincia'].isnull().sum()
nulos_prov

0

# Remision

In [30]:
# Remisión (Sistema de envío de información de precios y de ventas a través de API)
Remision = df_n['Remisión'].unique()
print(len(Remision))
print(type(Remision))
Remision

2
<class 'numpy.ndarray'>

array(['dm', 'OM'], dtype=object)

# Rótulo

In [31]:
# Rótulo (En España hay 3952 marcas de Gasolineras en España según datos de Google)
Rotulo = df_n['Rótulo'].unique()
print(len(Rotulo))
print(type(Rotulo))
Rotulo

3999
<class 'numpy.ndarray'>

array(['Nº 10.935', 'BP ROMICA', 'CARREFOUR', ..., 'DAGO',
       'COOPERATIVA SAN LAMBERTO', 'AN ENERGETICOS ZUERA'], dtype=object)

# Tipo de Venta

In [32]:
# Tipo Venta
tv = df_n['Tipo Venta'].unique()
print(len(tv))
print(type(tv))
tv

2
<class 'numpy.ndarray'>

array(['P', 'R'], dtype=object)

# Porcentaje de Bioetanol

In [33]:
# % BioEtanol (La diferencia entre gasolinas E5 o E10 significan el porcentaje de Etanol (5 o 10%))
bioetanol = df_n['% BioEtanol'].unique()
print(len(bioetanol))
print(type(bioetanol))
bioetanol

3
<class 'numpy.ndarray'>

array(['0,0', '25,0', '85,0'], dtype=object)

# Porcentaje de Éster Metílico

In [34]:
# % Éster metílico (solo para Biodiesel)
em = df_n['% Éster metílico'].unique()
print(len(em))
print(type(em))
em

6
<class 'numpy.ndarray'>

array(['0,0', '7,0', '12,0', '20,0', '30,0', '10,0'], dtype=object)

#  IDEESS

In [35]:
# IDEESS (ID Estación de Servicio, los mismos que estaciones (filas))
IDEESS = df_n['IDEESS'].unique()
print(len(IDEESS))
type(IDEESS)
IDEESS

11735

array(['4375', '12054', '10765', ..., '1452', '9085', '9068'],
      dtype=object)

In [36]:
# Nulos IDEESS
nulos_IDEESS = df_n['IDEESS'].isnull().sum()
nulos_IDEESS

0

# ID Municipio

In [37]:
# IDMunicipio (un ID más que municipios)
idmun = df_n['IDMunicipio'].unique()
print(len(idmun))
type(idmun)
idmun

3403

array(['52', '54', '57', ..., '8103', '8108', '8109'], dtype=object)

In [38]:
# Nulos ID Municipio
nulos_IDMunicipio = df_n['IDMunicipio'].isnull().sum()
nulos_IDMunicipio

0

# ID Provincia

In [39]:
# IDProvincia (Los mismos ID que Provincias)
idprov = df_n['IDProvincia'].unique()
print(len(idprov))
type(idprov)
idprov

52

array(['02', '03', '04', '01', '33', '05', '06', '07', '08', '48', '09',
       '10', '11', '39', '12', '51', '13', '14', '15', '16', '20', '17',
       '18', '19', '21', '22', '23', '24', '25', '27', '28', '29', '52',
       '30', '31', '32', '34', '35', '36', '26', '37', '38', '40', '41',
       '42', '43', '44', '45', '46', '47', '49', '50'], dtype=object)

In [40]:
nulos_IDProvincia = df_n['IDProvincia'].isnull().sum()
nulos_IDProvincia

0

# ID CCAA

In [41]:
# IDCCAA (ID Comunidades Autónomas, 17 CCAA + Ceuta + Melilla)
# IDProvincia (Los mismos ID que Provincias)
idccaa = df_n['IDCCAA'].unique()
print(len(idccaa))
type(idccaa)
idccaa

19

array(['07', '10', '01', '16', '03', '08', '11', '04', '09', '06', '18',
       '12', '02', '13', '19', '14', '15', '05', '17'], dtype=object)

                                                Columnas Numéricas

# Biodiesel

In [42]:
Biodiesel = df_n['Precio Biodiesel'].unique()
print(len(Biodiesel))
print(type(Biodiesel))
Biodiesel

25
<class 'numpy.ndarray'>

array(['', '1,329', '1,999', '1,629', '1,499', '1,269', '1,259', '1,299',
       '1,339', '1,399', '1,359', '1,418', '1,369', '1,504', '1,519',
       '1,869', '1,559', '1,389', '1,799', '1,699', '1,470', '1,279',
       '1,199', '1,169', '1,444'], dtype=object)

In [43]:
# Convertimos columna categórica a numérica
df_n['Precio Biodiesel']=df_n['Precio Biodiesel'].str.replace(',','.')
df_n[['Precio Biodiesel']]=df_n[['Precio Biodiesel']].apply(pd.to_numeric)

In [44]:
df_n['Precio Biodiesel'].describe()

count    34.000000
mean      1.423412
std       0.187236
min       1.169000
25%       1.306500
50%       1.369000
75%       1.491750
max       1.999000
Name: Precio Biodiesel, dtype: float64

In [45]:
# Registros sin venta Biodiesel
sin_suministro_b = df_n['Precio Biodiesel'].isnull().sum()
sin_suministro_b

11701

## Precio Bioetanol

In [46]:
Bioetanol = df_n['Precio Bioetanol'].unique()
print(len(Bioetanol))
print(type(Bioetanol))
Bioetanol

5
<class 'numpy.ndarray'>

array(['', '1,979', '1,882', '2,499', '1,689'], dtype=object)

In [47]:
# Convertimos columna categórica a numérica
df_n['Precio Bioetanol']=df_n['Precio Bioetanol'].str.replace(',','.')
df_n[['Precio Bioetanol']]=df_n[['Precio Bioetanol']].apply(pd.to_numeric)

In [48]:
df_n['Precio Bioetanol'].describe()

count    4.000000
mean     2.012250
std      0.346163
min      1.689000
25%      1.833750
50%      1.930500
75%      2.109000
max      2.499000
Name: Precio Bioetanol, dtype: float64

In [49]:
# Registros sin venta Biodiesel
sin_suministro_be = df_n['Precio Bioetanol'].isnull().sum()
sin_suministro_be

11731

## Precio Gas Natural Comprimido

In [50]:
Gas_n_c = df_n['Precio Gas Natural Comprimido'].unique()
print(len(Gas_n_c))
print(type(Gas_n_c))
Gas_n_c

32
<class 'numpy.ndarray'>

array(['', '1,119', '1,039', '0,979', '1,120', '1,059', '0,939', '1,014',
       '1,299', '0,974', '1,099', '1,199', '1,159', '1,069', '1,000',
       '1,035', '0,989', '1,565', '1,189', '0,994', '1,079', '1,169',
       '1,339', '0,999', '0,969', '1,015', '1,009', '1,179', '1,034',
       '2,350', '1,937', '1,049'], dtype=object)

In [51]:
# Convertimos columna categórica a numérica
df_n['Precio Gas Natural Comprimido']=df_n['Precio Gas Natural Comprimido'].str.replace(',','.')
df_n[['Precio Gas Natural Comprimido']]=df_n[['Precio Gas Natural Comprimido']].apply(pd.to_numeric)

In [52]:
df_n['Precio Gas Natural Comprimido'].describe()

count    141.000000
mean       1.111241
std        0.169910
min        0.939000
25%        1.039000
50%        1.099000
75%        1.120000
max        2.350000
Name: Precio Gas Natural Comprimido, dtype: float64

In [53]:
# Registros sin venta Biodiesel
sin_suministro_be = df_n['Precio Bioetanol'].isnull().sum()
sin_suministro_be

11731

# Precio Gas Natural Licuado

In [54]:
Gas_nat_lic = df_n['Precio Gas Natural Licuado'].unique()
print(len(Gas_nat_lic))
print(type(Gas_nat_lic))
Gas_nat_lic

17
<class 'numpy.ndarray'>

array(['', '0,929', '0,979', '0,999', '1,296', '1,019', '0,939', '0,944',
       '0,914', '1,049', '0,919', '1,299', '0,959', '1,079', '1,014',
       '0,949', '1,039'], dtype=object)

In [55]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gas Natural Licuado']=df_n['Precio Gas Natural Licuado'].str.replace(',','.')
df_n[['Precio Gas Natural Licuado']]=df_n[['Precio Gas Natural Licuado']].apply(pd.to_numeric)

In [56]:
df_n['Precio Gas Natural Licuado'].describe()

count    91.000000
mean      1.003560
std       0.113261
min       0.914000
25%       0.939000
50%       0.979000
75%       0.979000
max       1.299000
Name: Precio Gas Natural Licuado, dtype: float64

In [57]:
# Registros sin venta Gas NAtural Licuado
sin_suministro_gnl = df_n['Precio Gas Natural Licuado'].isnull().sum()
sin_suministro_gnl

11644

# Precio Gases licuados del petróleo

In [58]:
Gas_nat_lic_pet = df_n['Precio Gases licuados del petróleo'].unique()
print(len(Gas_nat_lic_pet))
print(type(Gas_nat_lic_pet))
Gas_nat_lic_pet

105
<class 'numpy.ndarray'>

array(['', '0,939', '0,798', '0,889', '0,909', '0,929', '0,908', '1,059',
       '1,000', '0,919', '0,949', '0,899', '0,979', '0,760', '0,898',
       '0,799', '0,958', '0,997', '1,019', '0,849', '1,029', '0,879',
       '0,819', '1,100', '1,069', '0,959', '0,900', '0,989', '0,859',
       '0,869', '0,872', '0,865', '0,839', '0,838', '0,825', '0,789',
       '0,969', '0,848', '0,999', '0,917', '0,905', '0,882', '0,935',
       '0,990', '1,051', '0,994', '1,049', '0,915', '0,985', '0,755',
       '0,868', '0,925', '0,525', '0,895', '0,948', '0,730', '0,894',
       '0,888', '0,739', '0,795', '1,099', '0,885', '0,870', '0,890',
       '0,957', '0,833', '1,150', '1,009', '0,980', '1,169', '0,679',
       '0,930', '0,933', '0,940', '0,809', '0,709', '0,699', '0,822',
       '0,977', '1,017', '0,918', '0,955', '0,916', '0,910', '0,769',
       '0,777', '0,759', '0,784', '0,829', '0,971', '0,914', '0,877',
       '0,928', '0,720', '0,924', '0,884', '0,904', '0,820', '1,079',
       '0,780', '0,978', '0,995', '0,878', '0,922', '0,850'], dtype=object)

In [59]:
# Convertimos columna categórica a numérica
df_n['Precio Gases licuados del petróleo']=df_n['Precio Gases licuados del petróleo'].str.replace(',','.')
df_n[['Precio Gases licuados del petróleo']]=df_n[['Precio Gases licuados del petróleo']].apply(pd.to_numeric)

In [60]:
df_n['Precio Gases licuados del petróleo'].describe()

count    861.000000
mean       0.912884
std        0.059202
min        0.525000
25%        0.899000
50%        0.919000
75%        0.939000
max        1.169000
Name: Precio Gases licuados del petróleo, dtype: float64

In [61]:
# Registros sin venta Gas NAtural Licuado del Petróleo
sin_suministro_gnlp = df_n['Precio Gases licuados del petróleo'].isnull().sum()
sin_suministro_gnlp

10874

In [62]:
ceros_sin_suministro_gnlp = (df_n['Precio Gases licuados del petróleo'] == 0).sum()
ceros_sin_suministro_gnlp

0

# Gasoleo A

In [63]:
Gasoleo_A = df_n['Precio Gasoleo A'].unique()
print(len(Gasoleo_A))
print(type(Gasoleo_A))
Gasoleo_A

429
<class 'numpy.ndarray'>

array(['1,359', '1,489', '1,499', '1,515', '1,319', '1,338', '1,509',
       '1,289', '1,469', '1,389', '1,369', '', '1,451', '1,479', '1,320',
       '2,259', '1,429', '1,485', '1,475', '1,409', '1,349', '1,327',
       '1,467', '1,323', '1,459', '1,519', '1,424', '1,330', '1,449',
       '1,399', '1,598', '1,539', '1,346', '1,345', '1,549', '1,354',
       '1,487', '1,347', '1,380', '1,335', '1,299', '1,379', '1,339',
       '1,439', '1,679', '1,270', '1,529', '1,405', '1,315', '1,240',
       '1,300', '1,419', '1,329', '1,465', '1,454', '1,544', '1,324',
       '1,337', '1,504', '1,336', '1,259', '1,255', '1,317', '1,266',
       '1,525', '1,447', '1,510', '1,297', '1,558', '1,414', '1,494',
       '1,298', '1,569', '1,277', '1,482', '1,431', '1,559', '1,545',
       '1,438', '1,388', '1,305', '1,464', '1,279', '1,434', '1,450',
       '1,249', '1,498', '1,446', '1,435', '1,579', '1,505', '1,478',
       '1,408', '1,535', '1,235', '1,229', '1,374', '1,443', '1,309',
       '1,295', '1,286', '1,284', '1,477', '1,318', '1,288', '1,609',
       '1,285', '1,280', '1,265', '1,368', '1,269', '1,547', '1,340',
       '1,348', '1,307', '1,310', '1,390', '1,400', '1,328', '1,314',
       '1,218', '1,325', '1,353', '1,445', '1,221', '1,350', '1,565',
       '1,520', '1,376', '1,495', '1,999', '1,483', '1,365', '1,455',
       '1,370', '1,296', '1,528', '1,460', '1,514', '1,555', '1,585',
       '1,546', '1,355', '1,357', '1,397', '1,550', '1,589', '1,385',
       '1,575', '1,420', '1,568', '1,334', '1,488', '1,458', '1,326',
       '1,649', '1,599', '1,332', '1,360', '1,430', '1,275', '1,415',
       '1,426', '1,382', '1,316', '1,496', '1,290', '1,322', '1,267',
       '1,473', '1,619', '1,595', '1,548', '1,605', '1,577', '1,669',
       '1,540', '1,557', '1,517', '1,384', '1,508', '1,356', '1,474',
       '1,480', '1,362', '1,351', '1,444', '1,484', '1,341', '1,416',
       '1,500', '1,398', '1,283', '1,468', '1,260', '1,534', '1,287',
       '1,276', '1,358', '1,292', '1,306', '1,169', '1,159', '1,225',
       '1,394', '1,274', '1,273', '1,239', '1,497', '1,395', '1,387',
       '1,437', '1,366', '1,463', '1,417', '1,367', '1,428', '1,268',
       '1,556', '1,250', '1,425', '1,364', '1,378', '1,493', '1,527',
       '1,373', '1,361', '1,507', '1,542', '1,313', '1,470', '1,440',
       '1,245', '1,587', '1,418', '1,377', '1,412', '1,402', '1,518',
       '1,199', '1,222', '1,219', '1,652', '1,238', '1,512', '1,342',
       '1,392', '1,343', '1,775', '1,560', '1,022', '1,208', '1,257',
       '1,331', '1,352', '1,301', '1,321', '1,506', '1,302', '1,531',
       '1,457', '1,411', '1,333', '1,564', '1,410', '1,293', '1,281',
       '1,311', '1,639', '1,448', '1,513', '1,524', '1,404', '1,819',
       '1,850', '1,263', '1,538', '1,950', '1,344', '1,308', '1,278',
       '1,294', '1,501', '1,391', '1,800', '1,304', '1,580', '1,407',
       '1,695', '1,533', '1,207', '1,570', '1,502', '1,272', '1,231',
       '1,371', '1,600', '1,441', '1,291', '1,610', '1,253', '1,471',
       '1,466', '1,490', '1,422', '1,433', '1,423', '1,552', '1,427',
       '1,486', '1,636', '1,523', '1,659', '1,578', '1,375', '1,149',
       '1,158', '1,129', '1,202', '1,172', '1,232', '1,521', '1,180',
       '1,046', '1,258', '1,461', '1,592', '1,363', '1,174', '1,089',
       '1,165', '1,139', '1,099', '1,049', '1,155', '1,228', '1,189',
       '1,179', '1,209', '1,069', '1,019', '1,236', '1,130', '1,244',
       '1,119', '1,214', '1,413', '1,234', '1,242', '1,168', '0,999',
       '1,215', '1,220', '1,233', '1,312', '1,224', '1,206', '1,282',
       '1,124', '1,185', '1,184', '1,195', '1,171', '1,083', '1,246',
       '1,150', '1,154', '1,227', '1,452', '1,243', '1,381', '1,198',
       '1,188', '1,080', '1,247', '1,403', '1,166', '1,164', '1,134',
       '1,204', '1,095', '1,135', '1,100', '1,107', '1,079', '1,192',
       '1,148', '1,167', '1,176', '1,087', '1,190', '1,029', '1,211',
       '1,085', '1,157', '1,144', '1,196', '1,163', '1,175', '1,194',
       '1,145', '1,088', '1,217', '1,178', '1,122', '1,132', '1,181',
       '1,059', '1,177', '1,125', '1,561', '1,393', '1,526', '1,582',
       '1,597', '1,611', '1,456', '1,541', '1,537', '2,150', '1,248',
       '1,949', '1,401', '1,566', '1,442', '1,554', '1,543', '1,536',
       '1,303'], dtype=object)

In [64]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasoleo A']=df_n['Precio Gasoleo A'].str.replace(',','.')
df_n[['Precio Gasoleo A']]=df_n[['Precio Gasoleo A']].apply(pd.to_numeric)

In [65]:
df_n['Precio Gasoleo A'].describe()

count    11368.000000
mean         1.440322
std          0.103295
min          0.999000
25%          1.359000
50%          1.479000
75%          1.519000
max          2.259000
Name: Precio Gasoleo A, dtype: float64

In [66]:
# Registros sin venta Gasoleo A
sin_suministro_gA = df_n['Precio Gasoleo A'].isnull().sum()
sin_suministro_gA

367

In [67]:
ceros_sin_suministro_gA = (df_n['Precio Gasoleo A'] == 0).sum()
ceros_sin_suministro_gA

0

# Gasoleo B

In [68]:
Gasoleo_B = df_n['Precio Gasoleo B'].unique()
print(len(Gasoleo_A))
print(type(Gasoleo_A))
Gasoleo_B

429
<class 'numpy.ndarray'>

array(['0,999', '', '1,216', '0,939', '0,950', '1,639', '1,299', '1,139',
       '0,968', '1,270', '1,226', '1,030', '1,129', '1,050', '1,179',
       '1,104', '1,109', '1,000', '1,237', '1,029', '0,940', '1,699',
       '1,247', '1,277', '1,168', '0,960', '0,965', '0,949', '0,995',
       '0,928', '1,262', '1,137', '1,309', '0,969', '1,479', '0,925',
       '1,399', '0,900', '1,100', '0,932', '0,951', '1,169', '1,199',
       '1,269', '1,279', '1,300', '1,219', '1,209', '1,150', '1,174',
       '1,149', '1,439', '1,289', '1,229', '1,201', '1,249', '1,265',
       '1,339', '1,180', '1,210', '1,189', '1,580', '1,272', '1,053',
       '1,294', '1,253', '1,440', '1,215', '1,099', '1,290', '1,095',
       '1,036', '1,495', '1,191', '1,184', '1,148', '0,958', '1,138',
       '1,182', '0,902', '1,200', '0,899', '1,151', '0,955', '1,204',
       '1,239', '1,301', '1,160', '1,086', '1,259', '1,183', '1,159',
       '1,173', '0,989', '1,292', '1,032', '1,145', '1,295', '1,225',
       '1,409', '1,379', '1,039', '1,194', '1,190', '0,935', '1,113',
       '1,324', '1,198', '1,234', '1,125', '1,128', '1,043', '1,217',
       '1,273', '1,329', '1,261', '1,319', '1,248', '1,224', '1,066',
       '1,275', '1,172', '1,202', '1,240', '1,264', '0,978', '1,140',
       '1,252', '1,349', '1,119', '1,009', '1,055', '0,883', '0,956',
       '1,213', '1,088', '1,212', '0,901', '0,952', '1,089', '1,221',
       '1,192', '1,070', '1,188', '0,990', '1,059', '1,369', '0,994',
       '1,400', '1,061', '0,975', '0,918', '0,934', '1,449', '1,079',
       '0,929', '1,120', '1,035', '1,069', '0,959', '1,335', '0,914',
       '1,153', '0,910', '0,974', '1,135', '0,937', '1,241', '1,156',
       '1,020', '0,930', '1,165', '0,953', '0,874', '1,105', '0,970',
       '1,268', '1,599', '1,218', '1,343', '1,186', '1,110', '1,235',
       '1,257', '1,197', '1,384', '1,060', '1,328', '1,049', '1,304',
       '1,250', '1,389', '1,143', '1,155', '1,395', '1,098', '0,998',
       '1,090', '1,214', '0,957', '1,040', '1,019', '0,980', '1,016',
       '1,211', '1,131', '1,158', '1,015', '1,170', '1,650', '1,195',
       '1,278', '0,979', '1,238', '0,993', '1,291', '1,222', '0,997',
       '1,007', '1,010', '1,185', '0,948', '1,220', '1,080', '1,193',
       '1,047', '1,178', '1,167', '1,152', '1,101', '1,116', '1,132',
       '1,164', '1,244', '1,157', '0,945', '1,181', '1,166', '0,976',
       '0,920', '1,205', '0,985', '1,176', '1,242', '1,028', '0,973',
       '1,003', '0,983', '1,245', '1,426', '0,942', '0,963', '0,926',
       '0,909', '1,256', '0,962', '1,121', '1,117', '0,936', '0,938',
       '0,943', '0,981', '1,230', '1,208', '1,232', '1,320', '1,175',
       '1,084', '1,228', '1,203', '1,310', '1,042', '0,944', '1,017',
       '0,933', '0,911', '0,922', '0,971', '0,927', '0,924', '1,336',
       '1,325', '1,340', '1,267', '1,447', '1,341', '1,359', '1,363',
       '1,381', '1,350', '1,177', '1,111', '0,954', '1,154', '0,941',
       '0,946', '0,987', '0,977', '0,886', '1,206', '1,283', '1,076',
       '1,141', '0,907', '1,579', '1,600', '0,896', '0,931', '1,274',
       '1,142', '0,992', '1,012', '1,075', '0,961', '1,005', '1,130',
       '1,276', '0,898', '1,008', '1,085', '1,108', '1,187', '1,306',
       '1,134', '0,967', '0,984', '0,947', '1,147', '1,057', '1,038',
       '1,284', '1,026', '1,500', '1,227', '0,876', '1,653', '1,065',
       '1,006', '0,982', '0,964', '1,123', '1,013', '1,078', '1,236',
       '1,365', '1,281', '1,337', '1,374', '0,912', '1,001', '1,031',
       '1,355', '1,144', '1,097', '1,041', '1,285', '0,917', '1,522',
       '0,986', '1,126', '1,255', '1,429', '1,254', '1,280', '1,146',
       '1,233', '1,018', '1,305', '1,163', '1,321', '1,196', '1,118',
       '0,923', '1,171', '1,022', '1,161', '1,124', '1,127', '1,361',
       '1,064', '1,223', '1,459', '0,905', '1,058', '0,919', '1,415',
       '1,390', '1,102', '1,243', '1,298', '1,162', '1,004', '1,296',
       '1,231', '1,414', '1,114', '1,115'], dtype=object)

In [69]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasoleo B']=df_n['Precio Gasoleo B'].str.replace(',','.')
df_n[['Precio Gasoleo B']]=df_n[['Precio Gasoleo B']].apply(pd.to_numeric)

In [70]:
# Registros sin venta Gasoleo B
sin_suministro_gB = df_n['Precio Gasoleo B'].isnull().sum()
sin_suministro_gB

8774

In [71]:
ceros_sin_suministro_gB = (df_n['Precio Gasoleo B'] == 0).sum()
ceros_sin_suministro_gB

0

# Precio Gasoleo Premium

In [72]:
Gasoleo_P = df_n['Precio Gasoleo Premium'].unique()
print(len(Gasoleo_P))
print(type(Gasoleo_P))
Gasoleo_P

354
<class 'numpy.ndarray'>

array(['', '1,579', '1,539', '1,559', '1,569', '1,418', '1,589', '1,581',
       '1,599', '1,319', '1,439', '1,550', '1,489', '1,629', '1,469',
       '1,549', '1,419', '1,565', '1,555', '1,519', '1,529', '1,619',
       '1,609', '1,658', '1,429', '1,509', '1,459', '1,389', '1,545',
       '1,544', '1,573', '1,634', '1,614', '1,585', '1,639', '1,499',
       '1,574', '1,601', '1,361', '1,575', '1,578', '1,591', '1,541',
       '1,635', '1,605', '1,659', '1,669', '1,564', '1,479', '1,399',
       '1,528', '1,475', '1,305', '1,309', '1,514', '1,379', '1,516',
       '1,449', '1,625', '1,649', '1,638', '1,595', '1,359', '2,999',
       '1,365', '1,349', '1,533', '1,395', '1,577', '1,438', '1,571',
       '1,598', '1,298', '1,339', '1,436', '1,556', '1,360', '1,380',
       '1,337', '1,402', '1,307', '1,405', '1,367', '1,631', '1,576',
       '1,515', '1,640', '1,368', '1,588', '1,691', '1,329', '1,534',
       '1,608', '1,325', '1,425', '1,548', '1,584', '1,611', '1,498',
       '1,675', '1,398', '1,375', '1,590', '1,535', '1,679', '1,647',
       '1,665', '1,645', '1,400', '1,493', '1,594', '1,641', '1,299',
       '1,524', '1,409', '1,369', '1,709', '1,317', '1,540', '1,259',
       '1,265', '1,314', '1,580', '1,518', '1,597', '1,287', '1,655',
       '1,671', '1,689', '1,648', '1,615', '1,618', '1,504', '1,699',
       '1,624', '1,376', '1,538', '1,386', '1,621', '1,554', '1,525',
       '1,513', '1,351', '1,358', '1,454', '1,464', '1,452', '1,219',
       '1,335', '1,354', '1,387', '1,604', '1,455', '1,348', '1,366',
       '1,355', '1,558', '1,537', '1,279', '1,448', '1,557', '1,563',
       '1,622', '1,660', '1,357', '1,620', '1,297', '1,295', '1,602',
       '1,632', '1,269', '1,495', '1,568', '1,377', '1,603', '1,628',
       '1,769', '1,526', '1,582', '1,531', '1,345', '1,458', '1,362',
       '1,667', '1,561', '1,435', '1,385', '1,839', '1,445', '1,465',
       '1,310', '1,378', '1,285', '1,497', '1,566', '1,434', '1,447',
       '2,060', '1,610', '1,705', '1,759', '1,979', '1,484', '1,494',
       '1,617', '1,637', '1,481', '1,521', '1,384', '1,536', '1,396',
       '1,474', '1,381', '1,300', '1,685', '1,607', '1,586', '1,600',
       '1,382', '1,520', '1,480', '1,490', '1,420', '1,505', '1,551',
       '1,401', '1,323', '1,301', '1,302', '1,542', '1,338', '1,651',
       '1,500', '1,642', '1,289', '1,487', '1,327', '1,593', '1,612',
       '1,650', '1,428', '1,486', '1,719', '1,488', '1,460', '1,442',
       '1,410', '1,328', '1,643', '1,463', '1,530', '1,440', '1,644',
       '1,413', '1,422', '1,189', '1,198', '1,199', '2,109', '1,318',
       '1,416', '1,562', '1,347', '1,340', '1,408', '1,424', '1,324',
       '1,388', '1,257', '1,364', '1,485', '1,547', '1,290', '1,264',
       '1,179', '1,210', '1,184', '1,254', '1,280', '1,390', '1,443',
       '1,394', '1,430', '1,149', '1,320', '1,334', '1,350', '1,342',
       '1,333', '1,294', '1,404', '1,218', '1,444', '1,412', '1,344',
       '1,336', '1,249', '1,453', '1,304', '1,197', '1,296', '1,414',
       '1,397', '1,407', '1,527', '1,415', '1,427', '1,288', '1,274',
       '1,284', '1,311', '1,286', '1,291', '1,457', '1,183', '1,168',
       '1,613', '1,292', '1,282', '1,177', '1,512', '1,214', '1,275',
       '1,456', '1,244', '1,204', '1,245', '1,326', '1,239', '1,278',
       '1,688', '1,677', '1,477', '1,678', '1,683', '1,372', '1,567',
       '1,308', '1,507', '1,467', '1,517', '1,800', '1,468', '1,315',
       '1,316', '1,363', '1,646', '1,661', '1,532', '1,626', '1,596',
       '1,510', '1,267', '1,450'], dtype=object)

In [73]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasoleo Premium']=df_n['Precio Gasoleo Premium'].str.replace(',','.')
df_n[['Precio Gasoleo Premium']]=df_n[['Precio Gasoleo Premium']].apply(pd.to_numeric)

In [74]:
df_n['Precio Gasoleo Premium'].describe()

count    7413.000000
mean        1.549085
std         0.096089
min         1.149000
25%         1.519000
50%         1.579000
75%         1.609000
max         2.999000
Name: Precio Gasoleo Premium, dtype: float64

In [75]:
# Registros sin venta Gasoleo Premium
sin_suministro_gP = df_n['Precio Gasoleo Premium'].isnull().sum()
sin_suministro_gP

4322

In [76]:
ceros_sin_suministro_gP = (df_n['Precio Gasoleo Premium'] == 0).sum()
ceros_sin_suministro_gP

0

# Precio Gasolina 95 E10

In [77]:
g95_E10 = df_n['Precio Gasolina 95 E10'].unique()
print(len(g95_E10))
print(type(g95_E10))
g95_E10

19
<class 'numpy.ndarray'>

array(['', '1,859', '1,819', '1,774', '1,679', '1,499', '1,669', '1,749',
       '1,729', '1,719', '1,589', '1,459', '1,689', '1,709', '1,659',
       '1,699', '1,769', '1,759', '1,698'], dtype=object)

In [78]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasolina 95 E10']=df_n['Precio Gasolina 95 E10'].str.replace(',','.')
df_n[['Precio Gasolina 95 E10']]=df_n[['Precio Gasolina 95 E10']].apply(pd.to_numeric)

In [79]:
 df_n['Precio Gasolina 95 E10'].describe()

count    22.000000
mean      1.688273
std       0.101041
min       1.459000
25%       1.669000
50%       1.698500
75%       1.756500
max       1.859000
Name: Precio Gasolina 95 E10, dtype: float64

In [80]:
# Registros sin venta Gasoleo Premium
sin_suministro_95E10 = df_n['Precio Gasolina 95 E10'].isnull().sum()
sin_suministro_95E10

11713

# Precio Gasolina 95 E5

In [81]:
g95_E5 = df_n['Precio Gasolina 95 E5'].unique()
print(len(g95_E5))
print(type(g95_E5))
g95_E5

418
<class 'numpy.ndarray'>

array(['1,549', '1,619', '', '1,469', '1,639', '1,528', '1,629', '1,609',
       '1,449', '1,579', '1,589', '1,649', '1,559', '1,570', '1,490',
       '1,539', '1,439', '2,299', '1,599', '1,679', '1,634', '1,463',
       '1,625', '1,659', '1,640', '1,699', '1,550', '1,569', '1,698',
       '1,519', '1,499', '1,489', '1,627', '1,565', '1,564', '1,529',
       '1,669', '1,440', '1,479', '1,574', '1,554', '1,478', '1,694',
       '1,665', '1,475', '1,474', '1,496', '1,459', '1,654', '1,477',
       '1,497', '1,615', '1,527', '1,664', '1,557', '1,509', '1,685',
       '1,689', '1,568', '1,719', '1,577', '1,643', '1,547', '1,641',
       '1,515', '1,675', '1,618', '1,593', '1,613', '1,485', '1,495',
       '1,584', '1,588', '1,498', '1,645', '1,644', '1,678', '1,608',
       '1,739', '1,538', '1,455', '1,544', '1,505', '1,487', '1,566',
       '1,677', '1,518', '1,468', '1,484', '1,444', '1,620', '1,624',
       '1,526', '1,508', '1,576', '1,520', '1,460', '1,597', '1,600',
       '1,453', '1,545', '1,630', '1,483', '1,799', '1,465', '1,598',
       '1,525', '1,714', '1,709', '1,530', '1,688', '1,729', '1,614',
       '1,548', '1,535', '1,594', '1,674', '1,628', '1,595', '1,704',
       '1,695', '1,604', '1,500', '1,779', '1,476', '1,647', '1,558',
       '1,419', '1,590', '1,470', '1,635', '1,457', '1,759', '1,658',
       '1,676', '1,769', '1,721', '1,715', '1,869', '1,697', '1,703',
       '1,583', '1,668', '1,684', '1,717', '1,434', '1,587', '1,623',
       '1,744', '1,749', '1,502', '1,718', '1,437', '1,591', '1,523',
       '1,546', '1,473', '1,720', '1,405', '1,464', '1,458', '1,433',
       '1,448', '1,537', '1,436', '1,663', '1,429', '1,435', '1,725',
       '1,309', '1,307', '1,369', '1,708', '1,445', '1,494', '1,414',
       '1,683', '1,585', '1,517', '1,428', '1,417', '1,691', '1,755',
       '1,824', '1,638', '1,534', '1,605', '1,686', '1,632', '1,450',
       '1,481', '1,601', '1,655', '1,540', '1,636', '1,480', '1,462',
       '1,607', '1,555', '1,650', '1,610', '1,662', '1,680', '1,633',
       '1,447', '1,900', '1,581', '1,728', '1,642', '1,690', '1,446',
       '1,415', '1,427', '1,823', '1,329', '1,328', '1,578', '1,488',
       '1,472', '1,430', '1,400', '1,592', '1,456', '1,506', '1,454',
       '1,452', '1,507', '1,681', '1,616', '1,666', '1,512', '1,648',
       '1,652', '1,687', '1,637', '1,438', '1,702', '1,705', '1,467',
       '1,575', '1,425', '1,730', '1,682', '1,950', '1,621', '1,560',
       '1,482', '1,524', '1,451', '1,493', '1,514', '1,510', '1,710',
       '1,552', '1,443', '1,765', '1,442', '1,572', '1,580', '1,492',
       '1,441', '1,617', '1,611', '1,409', '1,418', '1,536', '1,670',
       '1,553', '1,672', '1,789', '1,653', '1,657', '1,556', '1,541',
       '1,249', '1,258', '1,239', '1,259', '1,573', '1,586', '1,511',
       '1,656', '1,738', '1,646', '1,209', '1,159', '1,119', '1,189',
       '1,199', '1,169', '1,049', '1,099', '1,100', '1,139', '1,179',
       '1,219', '1,333', '1,373', '1,325', '1,354', '1,353', '1,357',
       '1,324', '1,355', '1,361', '1,217', '1,198', '1,183', '1,079',
       '1,379', '1,349', '1,225', '1,204', '1,150', '1,327', '1,319',
       '1,304', '1,229', '1,224', '1,214', '1,184', '1,149', '1,191',
       '1,222', '1,168', '1,215', '0,999', '1,218', '1,194', '1,230',
       '1,095', '1,205', '1,220', '1,200', '1,339', '1,330', '1,288',
       '1,378', '1,289', '1,211', '1,267', '1,216', '1,376', '1,155',
       '1,174', '1,164', '1,161', '1,089', '1,284', '1,286', '1,306',
       '1,359', '1,364', '1,240', '1,403', '1,244', '1,207', '1,315',
       '1,300', '1,389', '1,399', '1,188', '1,180', '1,408', '1,196',
       '1,165', '1,208', '1,542', '1,210', '1,114', '1,192', '1,242',
       '1,177', '1,166', '1,107', '1,109', '1,115', '1,299', '1,380',
       '1,273', '1,402', '1,175', '1,167', '1,163', '1,108', '1,342',
       '1,265', '1,226', '1,185', '1,178', '1,231', '1,201', '1,203',
       '1,261', '1,272', '1,195', '1,651', '1,706', '1,696', '1,712',
       '1,774', '1,416', '1,486', '1,532', '1,693', '1,375', '1,724',
       '1,612', '1,626', '1,667', '1,567', '1,516', '1,602', '1,533',
       '1,522', '1,707', '1,596', '1,521'], dtype=object)

In [82]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasolina 95 E5']=df_n['Precio Gasolina 95 E5'].str.replace(',','.')
df_n[['Precio Gasolina 95 E5']]=df_n[['Precio Gasolina 95 E5']].apply(pd.to_numeric)

In [83]:
df_n['Precio Gasolina 95 E5'].describe()

count    10601.000000
mean         1.586366
std          0.106621
min          0.999000
25%          1.539000
50%          1.614000
75%          1.655000
max          2.299000
Name: Precio Gasolina 95 E5, dtype: float64

In [84]:
# Registros sin venta Gasoleo Premium
sin_suministro_g95E5 = df_n['Precio Gasolina 95 E5'].isnull().sum()
sin_suministro_g95E5

1134

In [85]:
ceros_sin_suministro_g95E5  = (df_n['Precio Gasolina 95 E5'] == 0).sum()
ceros_sin_suministro_g95E5

0

# Precio Gasolina 95 E5 Premium

In [86]:
g95_E5_P = df_n['Precio Gasolina 95 E5 Premium'].unique()
print(len(g95_E5_P))
print(type(g95_E5_P))
g95_E5_P

104
<class 'numpy.ndarray'>

array(['', '1,659', '1,649', '1,609', '1,719', '1,669', '1,695', '1,619',
       '1,699', '1,689', '1,665', '1,709', '1,769', '1,629', '1,725',
       '1,679', '1,684', '1,785', '1,714', '1,729', '1,715', '1,775',
       '1,749', '1,498', '1,484', '1,429', '1,505', '1,685', '1,759',
       '1,789', '1,739', '1,599', '1,569', '1,635', '1,764', '1,675',
       '1,705', '1,779', '1,735', '1,765', '1,799', '1,809', '1,639',
       '1,755', '1,664', '1,559', '1,815', '1,754', '1,805', '1,819',
       '1,869', '1,539', '1,745', '1,795', '1,704', '1,674', '1,529',
       '1,568', '1,499', '1,627', '1,374', '1,645', '1,720', '1,724',
       '1,899', '1,694', '1,698', '1,576', '1,589', '1,654', '1,722',
       '1,625', '1,708', '1,738', '1,538', '1,509', '1,586', '1,527',
       '1,518', '1,577', '1,595', '1,608', '1,703', '1,578', '1,437',
       '1,614', '1,733', '1,159', '1,245', '1,229', '1,579', '1,549',
       '1,199', '1,246', '1,726', '1,456', '1,829', '1,489', '1,798',
       '1,530', '1,520', '1,744', '1,717', '1,668'], dtype=object)

In [87]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasolina 95 E5 Premium']=df_n['Precio Gasolina 95 E5 Premium'].str.replace(',','.')
df_n[['Precio Gasolina 95 E5 Premium']]=df_n[['Precio Gasolina 95 E5 Premium']].apply(pd.to_numeric)

In [88]:
df_n['Precio Gasolina 95 E5 Premium'].describe()

count    852.000000
mean       1.693081
std        0.074537
min        1.159000
25%        1.669000
50%        1.705000
75%        1.739000
max        1.899000
Name: Precio Gasolina 95 E5 Premium, dtype: float64

In [89]:
# Registros sin venta Gasolina 95 E5 Premium
sin_suministro_g95E5_Prem = df_n['Precio Gasolina 95 E5 Premium'].isnull().sum()
sin_suministro_g95E5_Prem

10883

In [90]:
ceros_sin_suministro_g95E5_Prem  = (df_n['Precio Gasolina 95 E5 Premium'] == 0).sum()
ceros_sin_suministro_g95E5

0

# Precio Gasolina 98 E10

In [91]:
g98_E10 = df_n['Precio Gasolina 98 E10'].unique()
print(len(g98_E10))
print(type(g98_E10))
g98_E10

15
<class 'numpy.ndarray'>

array(['', '1,799', '1,829', '1,699', '1,589', '1,669', '1,629', '1,995',
       '1,585', '1,679', '1,749', '1,655', '1,739', '1,349', '1,688'],
      dtype=object)

In [92]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasolina 98 E10']=df_n['Precio Gasolina 98 E10'].str.replace(',','.')
df_n[['Precio Gasolina 98 E10']]=df_n[['Precio Gasolina 98 E10']].apply(pd.to_numeric)

In [93]:
df_n['Precio Gasolina 98 E10'].describe()

count    16.000000
mean      1.686313
std       0.135841
min       1.349000
25%       1.629000
50%       1.683500
75%       1.741500
max       1.995000
Name: Precio Gasolina 98 E10, dtype: float64

In [94]:
# Registros sin venta Gasolina 98 E10 
sin_suministro_g98E10 = df_n['Precio Gasolina 98 E10'].isnull().sum()
sin_suministro_g98E10

11719

# Precio Gasolina 98 E5

In [95]:
g98_E5 = df_n['Precio Gasolina 98 E5'].unique()
print(len(g98_E5))
print(type(g98_E5))
g98_E5

388
<class 'numpy.ndarray'>

array(['', '1,761', '1,739', '1,759', '1,751', '1,719', '1,549', '1,789',
       '1,699', '1,689', '1,681', '1,729', '1,779', '2,369', '1,741',
       '1,749', '1,769', '1,709', '1,781', '1,799', '1,819', '1,798',
       '1,696', '1,889', '1,771', '1,814', '1,735', '1,841', '1,764',
       '1,801', '1,791', '1,676', '1,768', '1,763', '1,758', '1,599',
       '1,809', '1,999', '1,829', '1,858', '1,757', '1,835', '1,831',
       '1,794', '1,795', '1,861', '1,824', '1,849', '1,786', '1,765',
       '1,585', '1,716', '1,700', '1,821', '1,774', '1,820', '1,879',
       '2,999', '1,825', '1,805', '1,877', '1,669', '1,756', '1,647',
       '1,755', '1,752', '1,506', '1,800', '1,691', '1,780', '2,000',
       '1,869', '1,683', '1,645', '1,846', '1,750', '1,901', '1,808',
       '1,619', '1,811', '1,629', '1,839', '1,715', '1,731', '1,698',
       '1,838', '1,776', '1,788', '1,620', '1,802', '1,919', '1,770',
       '1,827', '1,851', '1,859', '1,721', '1,784', '1,826', '1,725',
       '1,734', '1,724', '1,775', '1,579', '1,688', '1,785', '1,659',
       '1,744', '1,658', '1,837', '1,836', '1,828', '1,871', '1,639',
       '1,867', '1,679', '1,868', '1,705', '1,672', '1,899', '1,863',
       '1,728', '1,649', '1,631', '1,787', '1,682', '1,844', '1,860',
       '1,492', '1,684', '1,539', '1,598', '1,675', '1,845', '1,495',
       '1,834', '1,670', '1,459', '1,714', '1,589', '1,491', '1,665',
       '1,569', '1,760', '1,609', '1,635', '1,754', '1,865', '1,815',
       '1,695', '1,936', '1,848', '1,738', '1,818', '1,958', '1,710',
       '1,748', '1,745', '1,746', '1,778', '1,678', '1,736', '1,804',
       '1,582', '1,529', '1,857', '1,909', '1,806', '1,830', '1,354',
       '1,358', '2,109', '2,229', '1,697', '1,722', '1,671', '1,638',
       '1,657', '1,817', '1,712', '1,847', '1,888', '1,855', '1,500',
       '1,718', '1,777', '1,772', '1,797', '2,139', '1,872', '1,580',
       '1,949', '1,720', '1,600', '1,668', '1,571', '2,500', '1,685',
       '1,773', '1,790', '1,796', '1,674', '2,199', '1,740', '1,662',
       '1,782', '1,630', '2,299', '1,615', '1,706', '1,534', '1,704',
       '1,727', '1,496', '1,766', '1,618', '1,703', '2,020', '1,499',
       '1,637', '1,641', '1,677', '1,664', '1,634', '1,793', '1,850',
       '1,566', '1,701', '2,239', '1,810', '1,890', '1,694', '1,597',
       '1,655', '1,812', '1,628', '1,743', '1,661', '1,587', '1,560',
       '1,555', '1,711', '1,708', '1,680', '1,737', '1,359', '1,279',
       '1,209', '1,324', '1,314', '1,249', '1,250', '1,200', '1,184',
       '1,210', '1,259', '1,454', '1,488', '1,455', '1,470', '1,458',
       '1,469', '1,460', '1,513', '1,379', '1,349', '1,344', '1,352',
       '1,289', '1,276', '1,346', '1,329', '1,399', '1,189', '1,139',
       '1,180', '1,369', '1,350', '1,450', '1,415', '1,554', '1,339',
       '1,364', '1,304', '1,299', '1,362', '1,264', '1,335', '1,337',
       '1,319', '1,340', '1,475', '1,400', '1,385', '1,483', '1,514',
       '1,453', '1,334', '1,356', '1,328', '1,290', '1,309', '1,330',
       '1,247', '1,296', '1,418', '1,419', '1,494', '1,437', '1,380',
       '1,518', '1,374', '1,357', '1,425', '1,559', '1,449', '1,954',
       '1,702', '1,878', '1,747', '1,557', '1,648', '1,497', '1,644',
       '1,742', '1,318', '1,220', '1,444', '1,531', '1,301', '1,284',
       '1,224', '1,285', '1,283', '1,302', '1,307', '1,227', '1,229',
       '1,375', '1,551', '1,382', '1,528', '1,322', '1,325', '1,245',
       '1,305', '1,345', '1,300', '1,287', '1,298', '1,288', '1,214',
       '1,462', '1,316', '1,320', '1,327', '1,294', '1,303', '1,348',
       '1,323', '1,315', '1,321', '1,326', '1,278', '1,429', '1,363',
       '1,225', '1,308', '1,297', '1,269', '1,387', '1,887', '1,595',
       '1,862', '1,822', '1,816', '2,450', '1,707', '1,690', '1,667',
       '2,220', '1,687', '1,590', '1,617', '1,576', '1,807', '1,666',
       '2,038', '1,979'], dtype=object)

In [96]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasolina 98 E5']=df_n['Precio Gasolina 98 E5'].str.replace(',','.')
df_n[['Precio Gasolina 98 E5']]=df_n[['Precio Gasolina 98 E5']].apply(pd.to_numeric)

In [97]:
df_n['Precio Gasolina 98 E5'].describe()

count    5806.000000
mean        1.743615
std         0.131908
min         1.139000
25%         1.729000
50%         1.775000
75%         1.809000
max         2.999000
Name: Precio Gasolina 98 E5, dtype: float64

In [98]:
# Registros sin venta Gasolina 98 E5 
sin_suministro_g98E5 = df_n['Precio Gasolina 98 E5'].isnull().sum()
sin_suministro_g98E5

5929

In [99]:
ceros_sin_suministro_g98E5  = (df_n['Precio Gasolina 98 E5'] == 0).sum()
ceros_sin_suministro_g98E5

0

# Precio Hidrogeno

In [100]:
Hidrongeno = df_n['Precio Hidrogeno'].unique()
print(len(Hidrongeno))
print(type(Hidrongeno))
Hidrongeno

1
<class 'numpy.ndarray'>

array([''], dtype=object)

In [101]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Hidrogeno']=df_n['Precio Hidrogeno'].str.replace(',','.')
df_n[['Precio Hidrogeno']]=df_n[['Precio Hidrogeno']].apply(pd.to_numeric)

In [102]:
df_n['Precio Hidrogeno'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: Precio Hidrogeno, dtype: float64

In [103]:
df_n.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11735 entries, 0 to 11734
Data columns (total 33 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Fecha                               11735 non-null  object
 1   C.P.                                11735 non-null  object
 2   Dirección                           11735 non-null  object
 3   Horario                             11735 non-null  object
 4   Latitud                             11735 non-null  object
 5   Localidad                           11735 non-null  object
 6   Longitud (WGS84)                    11735 non-null  object
 7   Margen                              11735 non-null  object
 8   Municipio                           11735 non-null  object
 9   Precio Biodiesel                    34 non-null     float64
 10  Precio Bioetanol                    4 non-null      float64
 11  Precio Gas Natural Comprimido       141 non-null    float64
 12  Precio Gas Natural Licuado          91 non-null     float64
 13  Precio Gases licuados del petróleo  861 non-null    float64
 14  Precio Gasoleo A                    11368 non-null  float64
 15  Precio Gasoleo B                    2961 non-null   float64
 16  Precio Gasoleo Premium              7413 non-null   float64
 17  Precio Gasolina 95 E10              22 non-null     float64
 18  Precio Gasolina 95 E5               10601 non-null  float64
 19  Precio Gasolina 95 E5 Premium       852 non-null    float64
 20  Precio Gasolina 98 E10              16 non-null     float64
 21  Precio Gasolina 98 E5               5806 non-null   float64
 22  Precio Hidrogeno                    0 non-null      float64
 23  Provincia                           11735 non-null  object
 24  Remisión                            11735 non-null  object
 25  Rótulo                              11735 non-null  object
 26  Tipo Venta                          11735 non-null  object
 27  % BioEtanol                         11735 non-null  object
 28  % Éster metílico                    11735 non-null  object
 29  IDEESS                              11735 non-null  object
 30  IDMunicipio                         11735 non-null  object
 31  IDProvincia                         11735 non-null  object
 32  IDCCAA                              11735 non-null  object
dtypes: float64(14), object(19)
memory usage: 3.0+ MB

---
Setp 3

# Limpieza de Columnas

In [104]:
# Eliminiación de columnas que no interesan a nivel usuario o que no aportan datos significativos al modelo
df_n.drop(['Margen', 'Remisión', 'Tipo Venta', '% BioEtanol', '% Éster metílico', 'Precio Biodiesel',
          'Precio Bioetanol', 'Precio Gas Natural Comprimido', 'Precio Gas Natural Licuado', 
          'Precio Gas Natural Licuado', 'Precio Gases licuados del petróleo', 'Precio Gasolina 95 E10',
          'Precio Gasolina 95 E5 Premium', 'Precio Gasolina 98 E10', 'Precio Hidrogeno'], axis=1, inplace=True)

In [105]:
# Comprobación
df_n.iloc[15][['Precio Gasoleo B']]

Precio Gasoleo B    NaN
Name: 15, dtype: object

In [106]:
df_n.head()

,Fecha,C.P.,Dirección,Horario,Latitud,Localidad,Longitud (WGS84),Municipio,Precio Gasoleo A,Precio Gasoleo B,Precio Gasoleo Premium,Precio Gasolina 95 E5,Precio Gasolina 98 E5,Provincia,Rótulo,IDEESS,IDMunicipio,IDProvincia,IDCCAA
0,12/07/2023 13:38:44,02250,"AVENIDA CASTILLA LA MANCHA, 26",L-D: 07:00-22:00,"39,211417",ABENGIBRE,"-1,539167",Abengibre,1.359,0.999,NaN,1.549,NaN,ALBACETE,Nº 10.935,4375,52,02,07
1,12/07/2023 13:38:44,02001,CALLE PRINCIPE DE ASTURIAS (POLÍGONO DE ROMICA...,L-D: 06:00-21:30,"39,054694",ALBACETE,"-1,832000",Albacete,1.489,NaN,1.579,1.619,1.761,ALBACETE,BP ROMICA,12054,54,02,07
2,12/07/2023 13:38:44,02001,"AVENIDA 1º DE MAYO, S/N",L-S: 08:00-22:00; D: 09:00-21:00,"38,985667",ALBACETE,"-1,868500",Albacete,1.499,NaN,1.539,1.619,1.739,ALBACETE,CARREFOUR,10765,54,02,07
3,12/07/2023 13:38:44,02001,"CALLE FEDERICO GARCIA LORCA, 5",L-S: 05:00-23:00,"38,997722",ALBACETE,"-1,846361",Albacete,1.515,NaN,NaN,NaN,NaN,ALBACETE,CEPSA,4438,54,02,07
4,12/07/2023 13:38:44,02001,"CALLE FEDERICO GARCIA LORCA, 1",L-D: 24H,"39,000861",ALBACETE,"-1,849833",Albacete,1.319,NaN,NaN,1.469,NaN,ALBACETE,PLENOIL,13933,54,02,07

In [107]:
# Renombramos las columnas
df_n.rename(columns={"Precio Gasoleo A": "Gasoleo A", "Precio Gasoleo B": "Gasoleo B" ,"Precio Gasoleo Premium": "Gasoleo Premium", 
                     "Precio Gasolina 95 E5": "Gasolina 95 E5", "Precio Gasolina 98 E5": "Gasolina 98 E5",
                     "Rótulo":"Proveedor de Servicio"}, inplace=True)
df_n.head(1)

,Fecha,C.P.,Dirección,Horario,Latitud,Localidad,Longitud (WGS84),Municipio,Gasoleo A,Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Provincia,Proveedor de Servicio,IDEESS,IDMunicipio,IDProvincia,IDCCAA
0,12/07/2023 13:38:44,02250,"AVENIDA CASTILLA LA MANCHA, 26",L-D: 07:00-22:00,"39,211417",ABENGIBRE,"-1,539167",Abengibre,1.359,0.999,NaN,1.549,NaN,ALBACETE,Nº 10.935,4375,52,02,07

In [108]:
# Media Nacional
df_n['Media Nacional Gasoleo A']=df_n['Gasoleo A'].mean()
df_n['Media Nacional Gasoleo B']=df_n['Gasoleo B'].mean()
df_n['Media Nacional Gasoleo P'] = df_n['Gasoleo Premium'].mean()
df_n['Media Nacional Gasolina 95']=df_n['Gasolina 95 E5'].mean()
df_n['Media Nacional Gasolina 98']=df_n['Gasolina 98 E5'].mean()

# Media de precios respecto al código postal

In [110]:
# Media Código Postal de Gasoleo A
def cp_media_A(x):
# x = Código Postal
    cod_postal = df_n[df_n['C.P.'] == x]
    media_cp_GA = cod_postal[['Gasoleo A']].mean()
    return media_cp_GA

In [111]:
# Media Código Postal de Gasoleo B
def cp_media_B(x):
# x = Código Postal
    cod_postal = df_n[df_n['C.P.'] == x]
    media_cp_GB = cod_postal[['Gasoleo B']].mean()
    return media_cp_GB

In [112]:
# Media Código Postal de Gasoleo Premium
def cp_media_P(x):
# x = Código Postal
    cod_postal = df_n[df_n['C.P.'] == x]
    media_cp_GP = cod_postal[['Gasoleo B']].mean()
    return media_cp_GP

In [113]:
# Media Código Postal de Gasolina 95 E5
def cp_media_95(x):
# x = Código Postal
    cod_postal = df_n[df_n['C.P.'] == x]
    media_cp_G95 = cod_postal[['Gasolina 95 E5']].mean()
    return media_cp_G95

In [114]:
# Media Código Postal de Gasolina 98 E5
def cp_media_98(x):
# x = Código Postal
    cod_postal = df_n[df_n['C.P.'] == x]
    media_cp_G98 = cod_postal[['Gasolina 98 E5']].mean()
    return media_cp_G98

In [115]:
# Comprobación
cp_media_95('28760')

Gasolina 95 E5    1.550714
dtype: float64

In [116]:
# Aplicamos la función a la columna
df_n[['Media C.P. Gasoleo A']]= df_n['C.P.'].apply(cp_media_A)
df_n[['Media C.P. Gasoleo B']]= df_n['C.P.'].apply(cp_media_B)
df_n[['Media C.P. Gasoleo P']]= df_n['C.P.'].apply(cp_media_P)
df_n[['Media C.P. Gasolina 95']]= df_n['C.P.'].apply(cp_media_95)
df_n[['Media C.P. Gasolina 98']]= df_n['C.P.'].apply(cp_media_98)

In [117]:
df_n.head()

,Fecha,C.P.,Dirección,Horario,Latitud,Localidad,Longitud (WGS84),Municipio,Gasoleo A,Gasoleo B,...,Media Nacional Gasoleo A,Media Nacional Gasoleo B,Media Nacional Gasoleo P,Media Nacional Gasolina 95,Media Nacional Gasolina 98,Media C.P. Gasoleo A,Media C.P. Gasoleo B,Media C.P. Gasoleo P,Media C.P. Gasolina 95,Media C.P. Gasolina 98
0,12/07/2023 13:38:44,02250,"AVENIDA CASTILLA LA MANCHA, 26",L-D: 07:00-22:00,"39,211417",ABENGIBRE,"-1,539167",Abengibre,1.359,0.999,...,1.440322,1.124589,1.549085,1.586366,1.743615,1.3590,0.999,0.999,1.549,NaN
1,12/07/2023 13:38:44,02001,CALLE PRINCIPE DE ASTURIAS (POLÍGONO DE ROMICA...,L-D: 06:00-21:30,"39,054694",ALBACETE,"-1,832000",Albacete,1.489,NaN,...,1.440322,1.124589,1.549085,1.586366,1.743615,1.4555,NaN,NaN,1.569,1.75
2,12/07/2023 13:38:44,02001,"AVENIDA 1º DE MAYO, S/N",L-S: 08:00-22:00; D: 09:00-21:00,"38,985667",ALBACETE,"-1,868500",Albacete,1.499,NaN,...,1.440322,1.124589,1.549085,1.586366,1.743615,1.4555,NaN,NaN,1.569,1.75
3,12/07/2023 13:38:44,02001,"CALLE FEDERICO GARCIA LORCA, 5",L-S: 05:00-23:00,"38,997722",ALBACETE,"-1,846361",Albacete,1.515,NaN,...,1.440322,1.124589,1.549085,1.586366,1.743615,1.4555,NaN,NaN,1.569,1.75
4,12/07/2023 13:38:44,02001,"CALLE FEDERICO GARCIA LORCA, 1",L-D: 24H,"39,000861",ALBACETE,"-1,849833",Albacete,1.319,NaN,...,1.440322,1.124589,1.549085,1.586366,1.743615,1.4555,NaN,NaN,1.569,1.75

In [118]:
df_n.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11735 entries, 0 to 11734
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Fecha                       11735 non-null  object
 1   C.P.                        11735 non-null  object
 2   Dirección                   11735 non-null  object
 3   Horario                     11735 non-null  object
 4   Latitud                     11735 non-null  object
 5   Localidad                   11735 non-null  object
 6   Longitud (WGS84)            11735 non-null  object
 7   Municipio                   11735 non-null  object
 8   Gasoleo A                   11368 non-null  float64
 9   Gasoleo B                   2961 non-null   float64
 10  Gasoleo Premium             7413 non-null   float64
 11  Gasolina 95 E5              10601 non-null  float64
 12  Gasolina 98 E5              5806 non-null   float64
 13  Provincia                   11735 non-null  object
 14  Proveedor de Servicio       11735 non-null  object
 15  IDEESS                      11735 non-null  object
 16  IDMunicipio                 11735 non-null  object
 17  IDProvincia                 11735 non-null  object
 18  IDCCAA                      11735 non-null  object
 19  Media Nacional Gasoleo A    11735 non-null  float64
 20  Media Nacional Gasoleo B    11735 non-null  float64
 21  Media Nacional Gasoleo P    11735 non-null  float64
 22  Media Nacional Gasolina 95  11735 non-null  float64
 23  Media Nacional Gasolina 98  11735 non-null  float64
 24  Media C.P. Gasoleo A        11643 non-null  float64
 25  Media C.P. Gasoleo B        5923 non-null   float64
 26  Media C.P. Gasoleo P        5923 non-null   float64
 27  Media C.P. Gasolina 95      11468 non-null  float64
 28  Media C.P. Gasolina 98      9517 non-null   float64
dtypes: float64(15), object(14)
memory usage: 2.6+ MB

In [119]:
#Ordenamos columnas
df_n = df_n[['Fecha', 'Horario', 'C.P.','Provincia','Municipio','Localidad', 'Dirección', 'Proveedor de Servicio', 
             'Gasoleo A', 'Media C.P. Gasoleo A', 'Media Nacional Gasoleo A', 
             'Gasoleo B', 'Media C.P. Gasoleo B','Media Nacional Gasoleo B', 
             'Gasoleo Premium','Media C.P. Gasoleo P', 'Media Nacional Gasoleo P', 
             'Gasolina 95 E5', 'Media C.P. Gasolina 95','Media Nacional Gasolina 95', 
             'Gasolina 98 E5', 'Media C.P. Gasolina 98','Media Nacional Gasolina 98']]
df_n

,Fecha,Horario,C.P.,Provincia,Municipio,Localidad,Dirección,Proveedor de Servicio,Gasoleo A,Media C.P. Gasoleo A,...,Media Nacional Gasoleo B,Gasoleo Premium,Media C.P. Gasoleo P,Media Nacional Gasoleo P,Gasolina 95 E5,Media C.P. Gasolina 95,Media Nacional Gasolina 95,Gasolina 98 E5,Media C.P. Gasolina 98,Media Nacional Gasolina 98
0,12/07/2023 13:38:44,L-D: 07:00-22:00,02250,ALBACETE,Abengibre,ABENGIBRE,"AVENIDA CASTILLA LA MANCHA, 26",Nº 10.935,1.359,1.359000,...,1.124589,NaN,0.9990,1.549085,1.549,1.549,1.586366,NaN,NaN,1.743615
1,12/07/2023 13:38:44,L-D: 06:00-21:30,02001,ALBACETE,Albacete,ALBACETE,CALLE PRINCIPE DE ASTURIAS (POLÍGONO DE ROMICA...,BP ROMICA,1.489,1.455500,...,1.124589,1.579,NaN,1.549085,1.619,1.569,1.586366,1.761,1.750,1.743615
2,12/07/2023 13:38:44,L-S: 08:00-22:00; D: 09:00-21:00,02001,ALBACETE,Albacete,ALBACETE,"AVENIDA 1º DE MAYO, S/N",CARREFOUR,1.499,1.455500,...,1.124589,1.539,NaN,1.549085,1.619,1.569,1.586366,1.739,1.750,1.743615
3,12/07/2023 13:38:44,L-S: 05:00-23:00,02001,ALBACETE,Albacete,ALBACETE,"CALLE FEDERICO GARCIA LORCA, 5",CEPSA,1.515,1.455500,...,1.124589,NaN,NaN,1.549085,NaN,1.569,1.586366,NaN,1.750,1.743615
4,12/07/2023 13:38:44,L-D: 24H,02001,ALBACETE,Albacete,ALBACETE,"CALLE FEDERICO GARCIA LORCA, 1",PLENOIL,1.319,1.455500,...,1.124589,NaN,NaN,1.549085,1.469,1.569,1.586366,NaN,1.750,1.743615
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11730,12/07/2023 13:38:44,L-D: 24H,50197,ZARAGOZA,Zaragoza,ZARAGOZA,"RONDA FERIA DE MUESTRAS, DE LA, 20",IDS,1.519,1.515667,...,1.124589,NaN,1.2400,1.549085,NaN,1.619,1.586366,NaN,1.769,1.743615
11731,12/07/2023 13:38:44,L-D: 24H,50197,ZARAGOZA,Zaragoza,ZARAGOZA,"RONDA RONDA DE LA FERIA DE MUESTRAS, 10",MOLGAS,NaN,1.515667,...,1.124589,NaN,1.2400,1.549085,NaN,1.619,1.586366,NaN,1.769,1.743615
11732,12/07/2023 13:38:44,L-D: 06:00-22:00,50800,ZARAGOZA,Zuera,ZUERA,"CARRETERA N-330A KM. 24,000",REPSOL,1.499,1.448500,...,1.124589,1.549,1.0415,1.549085,1.589,1.571,1.586366,1.739,1.739,1.743615
11733,12/07/2023 13:38:44,L-D: 24H,50800,ZARAGOZA,Zuera,ZUERA,"CALLE AUSTRIA, 11,17",AN ENERGETICOS ZUERA,1.398,1.448500,...,1.124589,1.438,1.0415,1.549085,1.553,1.571,1.586366,NaN,1.739,1.743615
11734,12/07/2023 13:38:44,L-D: 24H,50810,ZARAGOZA,Zuera,ONTINAR DE SALZ,"CALLE COOPERATIVA, 2",COOPERATIVA SAN ISIDRO,1.439,1.439000,...,1.124589,1.479,0.9300,1.549085,1.579,1.579,1.586366,NaN,NaN,1.743615

# Limpieza de Nombres en "Proveedores de servicio

In [120]:
# Misma marca de gasolineras con nombres diferentes
df_n = df_n.sort_values('Proveedor de Servicio')

In [121]:
df_n["Proveedor de Servicio"] = df_n["Proveedor de Servicio"] .astype(str)

In [122]:
df_n.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11735 entries, 2897 to 10946
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Fecha                       11735 non-null  object
 1   Horario                     11735 non-null  object
 2   C.P.                        11735 non-null  object
 3   Provincia                   11735 non-null  object
 4   Municipio                   11735 non-null  object
 5   Localidad                   11735 non-null  object
 6   Dirección                   11735 non-null  object
 7   Proveedor de Servicio       11735 non-null  object
 8   Gasoleo A                   11368 non-null  float64
 9   Media C.P. Gasoleo A        11643 non-null  float64
 10  Media Nacional Gasoleo A    11735 non-null  float64
 11  Gasoleo B                   2961 non-null   float64
 12  Media C.P. Gasoleo B        5923 non-null   float64
 13  Media Nacional Gasoleo B    11735 non-null  float64
 14  Gasoleo Premium             7413 non-null   float64
 15  Media C.P. Gasoleo P        5923 non-null   float64
 16  Media Nacional Gasoleo P    11735 non-null  float64
 17  Gasolina 95 E5              10601 non-null  float64
 18  Media C.P. Gasolina 95      11468 non-null  float64
 19  Media Nacional Gasolina 95  11735 non-null  float64
 20  Gasolina 98 E5              5806 non-null   float64
 21  Media C.P. Gasolina 98      9517 non-null   float64
 22  Media Nacional Gasolina 98  11735 non-null  float64
dtypes: float64(15), object(8)
memory usage: 2.1+ MB

In [123]:
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].astype('string')

In [124]:
df_n.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11735 entries, 2897 to 10946
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Fecha                       11735 non-null  object
 1   Horario                     11735 non-null  object
 2   C.P.                        11735 non-null  object
 3   Provincia                   11735 non-null  object
 4   Municipio                   11735 non-null  object
 5   Localidad                   11735 non-null  object
 6   Dirección                   11735 non-null  object
 7   Proveedor de Servicio       11735 non-null  string
 8   Gasoleo A                   11368 non-null  float64
 9   Media C.P. Gasoleo A        11643 non-null  float64
 10  Media Nacional Gasoleo A    11735 non-null  float64
 11  Gasoleo B                   2961 non-null   float64
 12  Media C.P. Gasoleo B        5923 non-null   float64
 13  Media Nacional Gasoleo B    11735 non-null  float64
 14  Gasoleo Premium             7413 non-null   float64
 15  Media C.P. Gasoleo P        5923 non-null   float64
 16  Media Nacional Gasoleo P    11735 non-null  float64
 17  Gasolina 95 E5              10601 non-null  float64
 18  Media C.P. Gasolina 95      11468 non-null  float64
 19  Media Nacional Gasolina 95  11735 non-null  float64
 20  Gasolina 98 E5              5806 non-null   float64
 21  Media C.P. Gasolina 98      9517 non-null   float64
 22  Media Nacional Gasolina 98  11735 non-null  float64
dtypes: float64(15), object(7), string(1)
memory usage: 2.1+ MB

In [168]:
# Gasolineras BP
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('.', ' ')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace(',', ' ')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP \S*', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP \S[a-zA-Z0-9_]*', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BPS \S*', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BPS \S[a-zA-Z0-9_]*', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP\w*', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP  ALOD', 'BP') 
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP AVENIDA 3 DE MAYO', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP BENICADELL', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP CA SESTRELLA', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP RAMBLA INIESTA', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP SAN LUIS', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP SANTIGA', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP TACO','BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP VENTA DEL PERAL II', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP ROMICA', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOL UBEDA', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('SUTULLENA-CEPSA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('"BP"', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP ROTONDA LAS VAGUADAS S.L.', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BPBEGUR', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BPPROPERLY, S.A.', 'BP')

# Otros
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('SIN RÓTULO', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('(sin rótulo)', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('*', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('-', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('-', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('0', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('06/32718', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('12126', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('12241', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('13344', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('15909', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('1PRIMER', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('23ESO68F', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('395 2/2HS 40-80', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('41037733', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('45110020416', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('4572', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('7267', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('7345', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('96053', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('OTROS \S*', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('OTROS \S[a-zA-Z0-9_]*', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('OTROS \S[a-zA-Z0-9_]*\S[a-zA-Z0-9_]*', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('OTROSOTROSOTROSOTROSOTROSOTROS', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('OTROS\w*', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('OTROS \S*', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('\S* OTROS ', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('\S*(OTROS)\S*', 'OTROS')

# Gasolineras Varias                                                                          
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('INLOCOR S.L. "CEPSA"', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOL. LOS ANGELES DE LA MANCHA, S.L.', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP OIL', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP PARGA I PETROL BAS BEL', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('Nº 7374', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('NO', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP CASA JUANITO RESTAURANTE', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('NO HAY', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('NO TIENE', 'OTROS')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP VILLARROBLEDO', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP ALFAZ DEL PI', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP SANDOVAL MD', 'BP')                                                                        
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP SANDOVAL MI', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP BENIDORM', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP EUROBENIDORM', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP REJAS VERDES', 'BP')

# Gasolineras Cepsa
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA ELF', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA V21', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA LEO', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA TINAJO', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA AGAETE', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA CALONGE', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP REJAS VERDES', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA INGENIO', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA ANTIGUA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA BALOS 1', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA BALOS 2', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROSELF', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA CANONCHE', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA . LOHANA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA EL PEÑON', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA VILANOVAE', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA LA ALDEA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA LA CAÑADA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA TAHICHE I', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA LA MARINA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA RELAMPAGO', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA ALMERIMAR', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROSJUBERA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA EL CUBILLO', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA TAHICHE II', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA MASPALOMAS', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA LA CAZUELA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA ETXEGARATE', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA CAOTROSNCHE', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA AGUA GARCIA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA LOS ANDENES', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA LA AZADILLA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA ', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAI', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAGLTA.EL CID', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAVILAOTROSVA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAESPAÑA S.A.', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAGRAN TARAJAL', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSASIETE PALMAS', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAHOYA PARRADO', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAA4 PINTO 365', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROSALPICAT', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSALLAOTROS AZUL', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSALOS ALMENDROS', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAMUELLE GRANDE', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROSGARCIBUR', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAPUERTO ROSARIO', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSALAS ARENAS 365', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROSE.S. ROCA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROS FIERROIL', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROSE.S.JAIME I', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAPUERTO DE LA CRUZ', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAPLAZA DEL PIOTROS', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROS ANTELA E.S.', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSACOSTA DEL SILENCIO', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOPER CANARIOS S,L.', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSATAXISTAS S.AGUSTIN', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROSARROCEROS B.G.', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROS AGROJARA, SCA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSACOD DE LOS VIOTROSS', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSALAS TORRES (TEXACO)', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOPER CANARIOS S,L.', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROSLA DEHESA S.C.A.', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSALOS PORTALES (TEXACO)', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROS LOS FILABRES SCA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOTROSCOOP. SAN DIONISIO', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSACIUDAD DEL AUTOMÓVIL 365', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSALISBOA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('E.S. CEPSACHIO', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSALOS LLAOTROSS OTROS GRANAD', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSALOS LLAOTROSS OTROS GRANADILLA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAVALLECASOTROSLA ATALAYUELA 365', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('E.S. CEPSALA CALETA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSALAS TORRES (TEXACO)', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAILLA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOPER CANARIOS S,L.', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSALOS PORTALES (TEXACO)', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA  ', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace(' CEPSA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOPER CANARIOS S,L.', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('ES EL CALEYU Nº 229OTROS5CEPSA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('E.S.CEPSAPONTEBRANCA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('ES VILAMARINACEPSA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('FUNDACION AIDACEPSA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('ES MIRALBUEOTROSCEPSA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('EMPRESA DEL GRUPOCEPSA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSAOPER CANARIOS S,L.', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA\w*', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA \S*', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA \S[a-zA-Z0-9_]*', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA \S[a-zA-Z0-9_]*\S[a-zA-Z0-9_]*', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA \S[a-zA-Z0-9_]*\S[a-zA-Z0-9_]*\S[a-zA-Z0-9_]*', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('CEPSA\S*', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('LOSADACEPSA', 'CEPSA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('EE SS VENTA DEL SOLCEPSA', 'CEPSA')

# BP
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP \w[a-zA-Z0-9_]', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP\w[a-zA-Z0-9_]', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace(' BP', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('B P', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP\S*UXO', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP\w*', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP \S*w*', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BP\S*', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('E S GOMEZ \S*BP', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('E S ALCARAYON \S*BP', 'BP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('AREA DE SERVICIO A2BP', 'BP')

# Gasolineras Shell
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('SHELL \S*', 'SHELL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('SHELL \S[a-zA-Z0-9_]*', 'SHELL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('SHELL VIOTROSS','SHELL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('SHELL LOS VIOTROSS','SHELL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('E.S SHELL','SHELL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('E.S SHELL ','SHELL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace( 'E.S. SHELL','SHELL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('E.S.SHELL','SHELL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('LUGO SHELL','SHELL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('SHELL.S. BELLVIS' , 'SHELL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('SHELL', 'SHELL')

# Gasolineras Alcampo
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('ALCAMPO \S*', 'ALCAMPO')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('ALCAMPO \S[a-zA-Z0-9_]*', 'ALCAMPO')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('ALCAMPO A', 'ALCAMPO')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('C C ALCAMPO', 'ALCAMPO')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('E S ALCAMPO', 'ALCAMPO')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('E S  ALCAMPO', 'ALCAMPO')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('ALCAMPO ', 'ALCAMPO')

# Gasolineras Repsol
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOL \S* \S/()', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOL \S*a-zA-Z0-9_*', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOL \S[a-zA-Z0-9_]*\S[a-zA-Z0-9_]*', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('E S REPSOL', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('E S  REPSOL', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOL ', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOL65', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOLOMAN', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOLONDA', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOLOMA', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOLTROSRIO SECO', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOLTROSE S JAIME I', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOL15/OCTUBRE/2OTROSOTROS7', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOLILA HERMAOTROSS REDONDO S', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('ES DULANTZI REPSOL', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('EDAN (REPSOL)', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BALSILLAS I (REPSOL)', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('HIJOS DE NAVARRO ROBLES (REPSOL)', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOL L', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOL AVENIDA', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOL ', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace(' REPSOL', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOL5\S*/OCTUBRE\S*/2OTROSOTROS7', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('EDAN \S*(REPSOL)', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('HIJOS DE NAVARRO ROBLES (REPSOL)', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOLADA  AVENIDA', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOLCTUALIZACION A 15/OCTUBR', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('EDAN (REPSOL)', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('BALSILLAS \S*I \S*(REPSOL)', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('HIJOS DE NAVARRO ROBLES \S*(REPSOL)', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOL\w*', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOL \S*w*', 'REPSOL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('REPSOL\S*', 'REPSOL')

# Gasolineras Disa
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('DISA \S*', 'DISA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('DISA \S[a-zA-Z0-9_]*', 'DISA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('DISA \S[a-zA-Z0-9_]*\S[a-zA-Z0-9_]*', 'DISA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('DISA         STO DOMINGO', 'DISA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('E S DISA', 'DISA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('E S  DISA', 'DISA')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('E S  DISA', 'DISA')

# Gasolineras Exoil
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('EXOIL \S*', 'EXOIL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('EXOIL \S[a-zA-Z0-9_]*', 'EXOIL')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('EXOIL \S[a-zA-Z0-9_]*\S[a-zA-Z0-9_]*', 'EXOIL')

# Gasolineras Energy
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('ENERGY \S*', 'ENERGY')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('ENERGY \S[a-zA-Z0-9_]*', 'ENERGY')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('ENERGY \S[a-zA-Z0-9_]*\S[a-zA-Z0-9_]*', 'ENERGY')

#Gasolineras Naturgy
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('NATURGY ', 'NATURGY')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('NATURGY \S*', 'NATURGY')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('NATURGY \S[a-zA-Z0-9_]*', 'NATURGY')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('NATURGY \S[a-zA-Z0-9_]*\S[a-zA-Z0-9_]*', 'NATURGY')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('ESNATURGY \S[a-zA-Z0-9_]*\S[a-zA-Z0-9_]*', 'NATURGY')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('NATURGYES \S[a-zA-Z0-9_]*\S[a-zA-Z0-9_]*', 'NATURGY')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('NATURGY\w*', 'NATURGY')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('NATURGY \S*w*', 'NATURGY')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('NATURGYES \S[a-zA-Z0-9_]*\S[a-zA-Z0-9_]*\S[a-zA-Z0-9_]*', 'NATURGY')

# Gasolineras Galp
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('GALP \S*', 'GALP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('GALP \S[a-zA-Z0-9_]*', 'GALP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('GALP \S[a-zA-Z0-9_]*\S[a-zA-Z0-9_]*', 'GALP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('GALP \S[a-zA-Z0-9_]*\S[a-zA-Z0-9_]*', 'GALP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('GALP \S[a-zA-Z0-9_]*\S[a-zA-Z0-9_]*', 'GALP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('GALP\w*', 'GALP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('GALP \S*w*', 'GALP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('GALP \S[a-zA-Z0-9_]*\S[a-zA-Z0-9_]*\S[a-zA-Z0-9_]*', 'GALP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('GALP ', 'GALP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('GALP&GO', 'GALP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('GALPENERGIA', 'GALP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('GALPARRIONDAS', 'GALP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('GALP(E S  ANTUNEZ)', 'GALP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('GALPOTROS3 CAMIOTROSS', 'GALP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('GALPOTROS AMERICAN PETROL', 'GALP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('GALP/3CAMIOTROSSOTROSVALENCIA', 'GALP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('GALPDISTRIBUCION OIL ESPAÑA  S A U ', 'GALP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('GALP', 'GALP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('GALPLA JUNQUERA', 'GALP')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('GALPOTROS3CAMIOTROSS UTIEL', 'GALP')

# ES CARBURANTES
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('\S* S\*ES \S*CABURANTES', 'ES CARBURANTES')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('ES CARBURANTES', 'ES CARBURANTES')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('ES CARBURANTES CENTRO COMERCIAL VISTALEGRE', 'ES CARBURANTES')
df_n['Proveedor de Servicio'] = df_n['Proveedor de Servicio'].str.replace('\S*[+]B ENERGIAS ', '+B ENERGIAS')
df_n['Proveedor de Servicio']

2897        PETROL STATION
5024                  AGLA
10719              AGRICAR
10268                   BP
9283                    BP
               ...
4872             ZONA ZERO
7241                     _
11387       |> ENERTRIX <|
539             ÁRTICO OIL
10946                    €
Name: Proveedor de Servicio, Length: 11735, dtype: string

In [169]:
 df_n['Proveedor de Servicio'].iloc[5700]

'GASEXPRESS'

# Guardado Dataframe

In [170]:
# Guardamos df original para sucesion de tiempo
df_n.to_csv('df_sample.csv', index=False)

In [171]:
df_n.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11735 entries, 2897 to 10946
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Fecha                       11735 non-null  object
 1   Horario                     11735 non-null  object
 2   C.P.                        11735 non-null  object
 3   Provincia                   11735 non-null  object
 4   Municipio                   11735 non-null  object
 5   Localidad                   11735 non-null  object
 6   Dirección                   11735 non-null  object
 7   Proveedor de Servicio       11735 non-null  string
 8   Gasoleo A                   11368 non-null  float64
 9   Media C.P. Gasoleo A        11643 non-null  float64
 10  Media Nacional Gasoleo A    11735 non-null  float64
 11  Gasoleo B                   2961 non-null   float64
 12  Media C.P. Gasoleo B        5923 non-null   float64
 13  Media Nacional Gasoleo B    11735 non-null  float64
 14  Gasoleo Premium             7413 non-null   float64
 15  Media C.P. Gasoleo P        5923 non-null   float64
 16  Media Nacional Gasoleo P    11735 non-null  float64
 17  Gasolina 95 E5              10601 non-null  float64
 18  Media C.P. Gasolina 95      11468 non-null  float64
 19  Media Nacional Gasolina 95  11735 non-null  float64
 20  Gasolina 98 E5              5806 non-null   float64
 21  Media C.P. Gasolina 98      9517 non-null   float64
 22  Media Nacional Gasolina 98  11735 non-null  float64
dtypes: float64(15), object(7), string(1)
memory usage: 2.4+ MB