## MVP

In [1]:
# Imports

# Pandas
import pandas as pd 

# Importo libreria para conexión a API
from urllib.request import urlopen


# Importo libreria Json para que lea
import json

#Normalizar Json
from pandas.io.json import json_normalize

# Matploylib para visualizar gráficos
import matplotlib.pyplot as plt 

# Importo libreria Streamlit para que se ejecute con el comando
import streamlit as st

---
Step 1 (Data Extraction)

In [2]:
# Definir las variables donde meto el string que contiene la URL

endpoint ='https://sedeaplicaciones.minetur.gob.es'
parametros = '/ServiciosRESTCarburantes/PreciosCarburantes/EstacionesTerrestres/'

In [3]:
# Vamos a guardar en una variable nuestros datos (resultado, comida) 

response = urlopen(endpoint+parametros)
type(response)

http.client.HTTPResponse

In [4]:
# Vamos a extraer del obejto, los datos

data = response.read().decode('utf-8', 'replace')
data = json.loads(data)
type(data)

dict

In [5]:
# Crear Dataframe

df = pd.DataFrame(data)
df

,Fecha,ListaEESSPrecio,Nota,ResultadoConsulta
0,28/10/2022 18:18:20,"{'C.P.': '02250', 'Dirección': 'AVENIDA CASTIL...",Archivo de todos los productos en todas las es...,OK
1,28/10/2022 18:18:20,"{'C.P.': '02001', 'Dirección': 'CALLE FEDERICO...",Archivo de todos los productos en todas las es...,OK
2,28/10/2022 18:18:20,"{'C.P.': '02001', 'Dirección': 'CALLE FEDERICO...",Archivo de todos los productos en todas las es...,OK
3,28/10/2022 18:18:20,"{'C.P.': '02001', 'Dirección': 'AVENIDA 1º DE ...",Archivo de todos los productos en todas las es...,OK
4,28/10/2022 18:18:20,"{'C.P.': '02001', 'Dirección': 'CALLE PRINCIPE...",Archivo de todos los productos en todas las es...,OK
...,...,...,...,...
11744,28/10/2022 18:18:20,"{'C.P.': '50197', 'Dirección': 'POLIGONO CALLE...",Archivo de todos los productos en todas las es...,OK
11745,28/10/2022 18:18:20,"{'C.P.': '50197', 'Dirección': 'RONDA FERIA DE...",Archivo de todos los productos en todas las es...,OK
11746,28/10/2022 18:18:20,"{'C.P.': '50800', 'Dirección': 'CARRETERA N-33...",Archivo de todos los productos en todas las es...,OK
11747,28/10/2022 18:18:20,"{'C.P.': '50800', 'Dirección': 'CALLE AUSTRIA,...",Archivo de todos los productos en todas las es...,OK
11748,28/10/2022 18:18:20,"{'C.P.': '50810', 'Dirección': 'CALLE COOPERAT...",Archivo de todos los productos en todas las es...,OK

---

Step 2 (Data Transformation)

In [6]:
# Análisis de la columna Lista EESS Precio

diccionario = df['ListaEESSPrecio'].iloc[1]
type(diccionario)

dict

In [7]:
diccionario

{'C.P.': '02001',
 'Dirección': 'CALLE FEDERICO GARCIA LORCA, 1',
 'Horario': 'L-D: 24H',
 'Latitud': '39,000861',
 'Localidad': 'ALBACETE',
 'Longitud (WGS84)': '-1,849833',
 'Margen': 'D',
 'Municipio': 'Albacete',
 'Precio Biodiesel': '',
 'Precio Bioetanol': '',
 'Precio Gas Natural Comprimido': '',
 'Precio Gas Natural Licuado': '',
 'Precio Gases licuados del petróleo': '',
 'Precio Gasoleo A': '1,877',
 'Precio Gasoleo B': '',
 'Precio Gasoleo Premium': '',
 'Precio Gasolina 95 E10': '',
 'Precio Gasolina 95 E5': '1,657',
 'Precio Gasolina 95 E5 Premium': '',
 'Precio Gasolina 98 E10': '',
 'Precio Gasolina 98 E5': '',
 'Precio Hidrogeno': '',
 'Provincia': 'ALBACETE',
 'Remisión': 'dm',
 'Rótulo': 'PLENOIL',
 'Tipo Venta': 'P',
 '% BioEtanol': '0,0',
 '% Éster metílico': '0,0',
 'IDEESS': '13933',
 'IDMunicipio': '54',
 'IDProvincia': '02',
 'IDCCAA': '07'}

In [8]:
# Extraigo informacion de columna EESS Precio, utilizando json normalize

df_n = pd.concat([df[['Fecha']],pd.json_normalize(df['ListaEESSPrecio'])], axis=1)
df_n

,Fecha,C.P.,Dirección,Horario,Latitud,Localidad,Longitud (WGS84),Margen,Municipio,Precio Biodiesel,...,Provincia,Remisión,Rótulo,Tipo Venta,% BioEtanol,% Éster metílico,IDEESS,IDMunicipio,IDProvincia,IDCCAA
0,28/10/2022 18:18:20,02250,"AVENIDA CASTILLA LA MANCHA, 26",L-D: 07:00-22:00,"39,211417",ABENGIBRE,"-1,539167",D,Abengibre,,...,ALBACETE,dm,Nº 10.935,P,"0,0","0,0",4375,52,02,07
1,28/10/2022 18:18:20,02001,"CALLE FEDERICO GARCIA LORCA, 1",L-D: 24H,"39,000861",ALBACETE,"-1,849833",D,Albacete,,...,ALBACETE,dm,PLENOIL,P,"0,0","0,0",13933,54,02,07
2,28/10/2022 18:18:20,02001,"CALLE FEDERICO GARCIA LORCA, 5",L-S: 05:00-23:00,"38,997722",ALBACETE,"-1,846361",I,Albacete,,...,ALBACETE,dm,CEPSA,R,"0,0","0,0",4438,54,02,07
3,28/10/2022 18:18:20,02001,"AVENIDA 1º DE MAYO, S/N",L-S: 08:00-22:00; D: 09:00-21:00,"38,985667",ALBACETE,"-1,868500",N,Albacete,,...,ALBACETE,dm,CARREFOUR,P,"0,0","0,0",10765,54,02,07
4,28/10/2022 18:18:20,02001,CALLE PRINCIPE DE ASTURIAS (POLÍGONO DE ROMICA...,L-D: 06:00-21:30,"39,054694",ALBACETE,"-1,832000",I,Albacete,,...,ALBACETE,OM,BP ROMICA,P,"0,0","0,0",12054,54,02,07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11744,28/10/2022 18:18:20,50197,"POLIGONO CALLE TURIASO, 31",L-D: 24H,"41,645722",ZARAGOZA,"-0,974194",D,Zaragoza,,...,ZARAGOZA,dm,NOIL,P,"0,0","0,0",13917,8108,50,02
11745,28/10/2022 18:18:20,50197,"RONDA FERIA DE MUESTRAS, DE LA, 20",L-D: 24H,"41,637944",ZARAGOZA,"-0,986389",D,Zaragoza,,...,ZARAGOZA,OM,IDS,P,"0,0","0,0",12472,8108,50,02
11746,28/10/2022 18:18:20,50800,"CARRETERA N-330A KM. 24,000",L-D: 06:00-22:00,"41,857000",ZUERA,"-0,794000",D,Zuera,,...,ZARAGOZA,OM,REPSOL,P,"0,0","0,0",1452,8109,50,02
11747,28/10/2022 18:18:20,50800,"CALLE AUSTRIA, 11,17",L-D: 24H,"41,883583",ZUERA,"-0,782833",D,Zuera,,...,ZARAGOZA,dm,AN ENERGETICOS ZUERA,P,"0,0","0,0",9085,8109,50,02
11748,28/10/2022 18:18:20,50810,"CALLE COOPERATIVA, 2",L-D: 24H,"41,938750",ONTINAR DE SALZ,"-0,757611",D,Zuera,,...,ZARAGOZA,dm,COOPERATIVA SAN ISIDRO,P,"0,0","0,0",9068,8109,50,02

In [9]:
# Guardamos df original para sucesion de tiempo
#df_n.to_csv('2022-10-28x.csv', index=False)

In [10]:
df_n.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11749 entries, 0 to 11748
Data columns (total 33 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Fecha                               11749 non-null  object
 1   C.P.                                11749 non-null  object
 2   Dirección                           11749 non-null  object
 3   Horario                             11749 non-null  object
 4   Latitud                             11749 non-null  object
 5   Localidad                           11749 non-null  object
 6   Longitud (WGS84)                    11749 non-null  object
 7   Margen                              11749 non-null  object
 8   Municipio                           11749 non-null  object
 9   Precio Biodiesel                    11749 non-null  object
 10  Precio Bioetanol                    11749 non-null  object
 11  Precio Gas Natural Comprimido       11749 non-null  object
 12  Precio Gas Natural Licuado          11749 non-null  object
 13  Precio Gases licuados del petróleo  11749 non-null  object
 14  Precio Gasoleo A                    11749 non-null  object
 15  Precio Gasoleo B                    11749 non-null  object
 16  Precio Gasoleo Premium              11749 non-null  object
 17  Precio Gasolina 95 E10              11749 non-null  object
 18  Precio Gasolina 95 E5               11749 non-null  object
 19  Precio Gasolina 95 E5 Premium       11749 non-null  object
 20  Precio Gasolina 98 E10              11749 non-null  object
 21  Precio Gasolina 98 E5               11749 non-null  object
 22  Precio Hidrogeno                    11749 non-null  object
 23  Provincia                           11749 non-null  object
 24  Remisión                            11749 non-null  object
 25  Rótulo                              11749 non-null  object
 26  Tipo Venta                          11749 non-null  object
 27  % BioEtanol                         11749 non-null  object
 28  % Éster metílico                    11749 non-null  object
 29  IDEESS                              11749 non-null  object
 30  IDMunicipio                         11749 non-null  object
 31  IDProvincia                         11749 non-null  object
 32  IDCCAA                              11749 non-null  object
dtypes: object(33)
memory usage: 3.0+ MB

---
Step (3): EDA

                                                    Análisis de Columnas

# Fecha

In [11]:
# Fecha (solo hay una fecha)
Fecha = df_n['Fecha'].unique()
print(type(Fecha))
print(len(Fecha))
Fecha

<class 'numpy.ndarray'>
1

array(['28/10/2022 18:18:20'], dtype=object)

In [12]:
# Nulos 
nulos_f = df_n['Fecha'].isnull().sum()
nulos_f

0

# Código Postal

In [13]:
# Columna C.P.
cp = df_n['C.P.'].unique()
print(type(cp))
print(len(cp))
cp
# En Esaña hay 11752 codigos postales en total

<class 'numpy.ndarray'>
4524

array(['02250', '02001', '02005', ..., '50197', '50800', '50810'],
      dtype=object)

In [14]:
# Nulos 
nulos_cp = df_n['C.P.'].isnull().sum()
nulos_cp

0

# Dirección

In [15]:
# Columna  Dirección
direccion = df_n['Dirección'].unique()
print(type(direccion))
print(len(direccion))
direccion

<class 'numpy.ndarray'>
11430

array(['AVENIDA CASTILLA LA MANCHA, 26', 'CALLE FEDERICO GARCIA LORCA, 1',
       'CALLE FEDERICO GARCIA LORCA, 5', ...,
       'RONDA FERIA DE MUESTRAS, DE LA, 20',
       'CARRETERA N-330A KM. 24,000', 'CALLE AUSTRIA, 11,17'],
      dtype=object)

In [16]:
# Nulos dirección
nulos_cp = df_n['Dirección'].isnull().sum()
nulos_cp

0

# Horario

In [17]:
# Horario
horario = df_n['Horario'].unique()
horario

array(['L-D: 07:00-22:00', 'L-D: 24H', 'L-S: 05:00-23:00', ...,
       'L-V: 05:30-22:00; S: 07:00-15:00; D: 08:00-15:00',
       'L-V: 08:00-22:30; S: 10:00-22:30',
       'L-V: 05:00-22:00; S-D: 08:00-22:00'], dtype=object)

In [18]:
# Nulos horario
nulos_h = df_n['Horario'].isnull().sum()
nulos_h

0

# Latitud

In [19]:
#Latitud (Coincide Latitud y Longitud con las coordenadas en las gasolineras de Google Maps)
latitud = df_n['Latitud'].unique()
print(len(latitud ))
latitud

11391

array(['39,211417', '39,000861', '38,997722', ..., '41,857000',
       '41,883583', '41,938750'], dtype=object)

In [20]:
# Nulos Latitud
nulos_l = df_n['Latitud'].isnull().sum()
nulos_l

0

# Longitud

In [21]:
# Longitud (Coincide Latitud y Longitud con las coordenadas en las gasolineras de Google Maps)
Longitud = df_n['Longitud (WGS84)'].unique()
print(len(Longitud))
Longitud

11505

array(['-1,539167', '-1,849833', '-1,846361', ..., '-0,794000',
       '-0,782833', '-0,757611'], dtype=object)

In [22]:
# Nulos Longitud
nulos_long = df_n['Longitud (WGS84)'].isnull().sum()
nulos_long

0

# Localidad

In [23]:
#Localidad
Localidad = df_n['Localidad'].unique()
print(len(Localidad))
Localidad

4221

array(['ABENGIBRE', 'ALBACETE', 'SANTA ANA', ..., 'VILLARRAPA', 'ZUERA',
       'ONTINAR DE SALZ'], dtype=object)

In [24]:
# Nulos Localidad
nulos_loc = df_n['Localidad'].isnull().sum()
nulos_loc

0

# Municipio

In [25]:
# Municipio (En España hay 8131 Municipios)
Municipio = df_n['Municipio'].unique() 
print(len(Municipio))
Municipio

3425

array(['Abengibre', 'Albacete', 'Alcadozo', ...,
       'Villarroya de la Sierra', 'Zaragoza', 'Zuera'], dtype=object)

In [26]:
# Nulos Municipio
nulos_loc = df_n['Municipio'].isnull().sum()
nulos_loc

0

# Margen

In [27]:
# Margen
Margen = df_n['Margen'].unique()
print(len(Margen))
Margen

3

array(['D', 'I', 'N'], dtype=object)

# Provincia

In [28]:
# Provincia (Están todas las Provinicas de España en nuestro df)
Provincia = df_n['Provincia'].unique()
print(len(Provincia))
Provincia

52

array(['ALBACETE', 'ALICANTE', 'ALMERÍA', 'ARABA/ÁLAVA', 'ASTURIAS',
       'ÁVILA', 'BADAJOZ', 'BALEARS (ILLES)', 'BARCELONA', 'BIZKAIA',
       'BURGOS', 'CÁCERES', 'CÁDIZ', 'CANTABRIA', 'CASTELLÓN / CASTELLÓ',
       'CEUTA', 'CIUDAD REAL', 'CÓRDOBA', 'CORUÑA (A)', 'CUENCA',
       'GIPUZKOA', 'GIRONA', 'GRANADA', 'GUADALAJARA', 'HUELVA', 'HUESCA',
       'JAÉN', 'LEÓN', 'LLEIDA', 'LUGO', 'MADRID', 'MÁLAGA', 'MELILLA',
       'MURCIA', 'NAVARRA', 'OURENSE', 'PALENCIA', 'PALMAS (LAS)',
       'PONTEVEDRA', 'RIOJA (LA)', 'SALAMANCA', 'SANTA CRUZ DE TENERIFE',
       'SEGOVIA', 'SEVILLA', 'SORIA', 'TARRAGONA', 'TERUEL', 'TOLEDO',
       'VALENCIA / VALÈNCIA', 'VALLADOLID', 'ZAMORA', 'ZARAGOZA'],
      dtype=object)

In [29]:
# Nulos Provincia
nulos_prov = df_n['Provincia'].isnull().sum()
nulos_prov

0

# Remision

In [30]:
# Remisión (Sistema de envío de información de precios y de ventas a través de API)
Remision = df_n['Remisión'].unique()
print(len(Remision))
print(type(Remision))
Remision

2
<class 'numpy.ndarray'>

array(['dm', 'OM'], dtype=object)

# Rótulo

In [31]:
# Rótulo (En España hay 3952 marcas de Gasolineras en España según datos de Google)
Rotulo = df_n['Rótulo'].unique()
print(len(Rotulo))
print(type(Rotulo))
Rotulo

4003
<class 'numpy.ndarray'>

array(['Nº 10.935', 'PLENOIL', 'CEPSA', ..., 'DAGO',
       'COOPERATIVA SAN LAMBERTO', 'AN ENERGETICOS ZUERA'], dtype=object)

# Tipo de Venta

In [32]:
# Tipo Venta
tv = df_n['Tipo Venta'].unique()
print(len(tv))
print(type(tv))
tv

2
<class 'numpy.ndarray'>

array(['P', 'R'], dtype=object)

# Porcentaje de Bioetanol

In [33]:
# % BioEtanol (La diferencia entre gasolinas E5 o E10 significan el porcentaje de Etanol (5 o 10%))
bioetanol = df_n['% BioEtanol'].unique()
print(len(bioetanol))
print(type(bioetanol))
bioetanol

3
<class 'numpy.ndarray'>

array(['0,0', '25,0', '85,0'], dtype=object)

# Porcentaje de Éster Metílico

In [34]:
# % Éster metílico (solo para Biodiesel)
em = df_n['% Éster metílico'].unique()
print(len(em))
print(type(em))
em

6
<class 'numpy.ndarray'>

array(['0,0', '7,0', '12,0', '20,0', '30,0', '10,0'], dtype=object)

#  IDEESS

In [35]:
# IDEESS (ID Estación de Servicio, los mismos que estaciones (filas))
IDEESS = df_n['IDEESS'].unique()
print(len(IDEESS))
type(IDEESS)
IDEESS

11749

array(['4375', '13933', '4438', ..., '1452', '9085', '9068'], dtype=object)

In [36]:
# Nulos IDEESS
nulos_IDEESS = df_n['IDEESS'].isnull().sum()
nulos_IDEESS

0

# ID Municipio

In [37]:
# IDMunicipio (un ID más que municipios)
idmun = df_n['IDMunicipio'].unique()
print(len(idmun))
type(idmun)
idmun

3426

array(['52', '54', '57', ..., '8103', '8108', '8109'], dtype=object)

In [38]:
# Nulos ID Municipio
nulos_IDMunicipio = df_n['IDMunicipio'].isnull().sum()
nulos_IDMunicipio

0

# ID Provincia

In [39]:
# IDProvincia (Los mismos ID que Provincias)
idprov = df_n['IDProvincia'].unique()
print(len(idprov))
type(idprov)
idprov

52

array(['02', '03', '04', '01', '33', '05', '06', '07', '08', '48', '09',
       '10', '11', '39', '12', '51', '13', '14', '15', '16', '20', '17',
       '18', '19', '21', '22', '23', '24', '25', '27', '28', '29', '52',
       '30', '31', '32', '34', '35', '36', '26', '37', '38', '40', '41',
       '42', '43', '44', '45', '46', '47', '49', '50'], dtype=object)

In [40]:
nulos_IDProvincia = df_n['IDProvincia'].isnull().sum()
nulos_IDProvincia

0

# ID CCAA

In [41]:
# IDCCAA (ID Comunidades Autónomas, 17 CCAA + Ceuta + Melilla)
# IDProvincia (Los mismos ID que Provincias)
idccaa = df_n['IDCCAA'].unique()
print(len(idccaa))
type(idccaa)
idccaa

19

array(['07', '10', '01', '16', '03', '08', '11', '04', '09', '06', '18',
       '12', '02', '13', '19', '14', '15', '05', '17'], dtype=object)

                                                Columnas Numéricas

# Biodiesel

In [42]:
Biodiesel = df_n['Precio Biodiesel'].unique()
print(len(Biodiesel))
print(type(Biodiesel))
Biodiesel

26
<class 'numpy.ndarray'>

array(['', '1,978', '2,189', '1,999', '2,069', '1,769', '1,799', '2,049',
       '1,749', '1,889', '1,449', '1,968', '1,879', '2,030', '2,039',
       '1,869', '2,089', '1,849', '1,899', '1,839', '1,939', '1,809',
       '2,040', '1,859', '1,759', '1,966'], dtype=object)

In [43]:
# Convertimos columna categórica a numérica
df_n['Precio Biodiesel']=df_n['Precio Biodiesel'].str.replace(',','.')
df_n[['Precio Biodiesel']]=df_n[['Precio Biodiesel']].apply(pd.to_numeric)

In [44]:
df_n['Precio Biodiesel'].describe()

count    37.000000
mean      1.898649
std       0.139675
min       1.449000
25%       1.799000
50%       1.879000
75%       1.999000
max       2.189000
Name: Precio Biodiesel, dtype: float64

In [45]:
# Registros sin venta Biodiesel
sin_suministro_b = df_n['Precio Biodiesel'].isnull().sum()
sin_suministro_b

11712

## Precio Bioetanol

In [46]:
Bioetanol = df_n['Precio Bioetanol'].unique()
print(len(Bioetanol))
print(type(Bioetanol))
Bioetanol

6
<class 'numpy.ndarray'>

array(['', '2,219', '1,982', '1,487', '2,049', '1,869'], dtype=object)

In [47]:
# Convertimos columna categórica a numérica
df_n['Precio Bioetanol']=df_n['Precio Bioetanol'].str.replace(',','.')
df_n[['Precio Bioetanol']]=df_n[['Precio Bioetanol']].apply(pd.to_numeric)

In [48]:
df_n['Precio Bioetanol'].describe()

count    5.000000
mean     1.921200
std      0.273847
min      1.487000
25%      1.869000
50%      1.982000
75%      2.049000
max      2.219000
Name: Precio Bioetanol, dtype: float64

In [49]:
# Registros sin venta Biodiesel
sin_suministro_be = df_n['Precio Bioetanol'].isnull().sum()
sin_suministro_be

11744

## Precio Gas Natural Comprimido

In [50]:
Gas_n_c = df_n['Precio Gas Natural Comprimido'].unique()
print(len(Gas_n_c))
print(type(Gas_n_c))
Gas_n_c

34
<class 'numpy.ndarray'>

array(['', '1,990', '1,468', '1,685', '1,555', '1,518', '1,438', '1,488',
       '1,439', '1,520', '1,359', '1,398', '1,690', '1,978', '1,789',
       '1,399', '2,523', '1,483', '2,199', '1,455', '2,379', '1,584',
       '1,485', '1,201', '1,615', '3,299', '2,279', '2,350', '2,986',
       '3,700', '1,433', '1,594', '1,709', '1,569'], dtype=object)

In [51]:
# Convertimos columna categórica a numérica
df_n['Precio Gas Natural Comprimido']=df_n['Precio Gas Natural Comprimido'].str.replace(',','.')
df_n[['Precio Gas Natural Comprimido']]=df_n[['Precio Gas Natural Comprimido']].apply(pd.to_numeric)

In [52]:
df_n['Precio Gas Natural Comprimido'].describe()

count    122.000000
mean       1.744623
std        0.383032
min        1.201000
25%        1.468000
50%        1.589000
75%        1.990000
max        3.700000
Name: Precio Gas Natural Comprimido, dtype: float64

In [53]:
# Registros sin venta Biodiesel
sin_suministro_be = df_n['Precio Bioetanol'].isnull().sum()
sin_suministro_be

11744

# Precio Gas Natural Licuado

In [54]:
Gas_nat_lic = df_n['Precio Gas Natural Licuado'].unique()
print(len(Gas_nat_lic))
print(type(Gas_nat_lic))
Gas_nat_lic

17
<class 'numpy.ndarray'>

array(['', '1,449', '1,398', '1,368', '1,439', '1,369', '1,399', '1,660',
       '1,948', '2,506', '1,499', '1,433', '1,405', '2,279', '3,650',
       '1,489', '1,519'], dtype=object)

In [55]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gas Natural Licuado']=df_n['Precio Gas Natural Licuado'].str.replace(',','.')
df_n[['Precio Gas Natural Licuado']]=df_n[['Precio Gas Natural Licuado']].apply(pd.to_numeric)

In [56]:
df_n['Precio Gas Natural Licuado'].describe()

count    81.000000
mean      1.487222
std       0.318278
min       1.368000
25%       1.398000
50%       1.398000
75%       1.439000
max       3.650000
Name: Precio Gas Natural Licuado, dtype: float64

In [57]:
# Registros sin venta Gas NAtural Licuado
sin_suministro_gnl = df_n['Precio Gas Natural Licuado'].isnull().sum()
sin_suministro_gnl

11668

# Precio Gases licuados del petróleo

In [58]:
Gas_nat_lic_pet = df_n['Precio Gases licuados del petróleo'].unique()
print(len(Gas_nat_lic_pet))
print(type(Gas_nat_lic_pet))
Gas_nat_lic_pet

117
<class 'numpy.ndarray'>

array(['', '0,898', '1,019', '1,089', '1,029', '1,059', '1,049', '0,969',
       '0,968', '1,020', '1,079', '1,099', '1,039', '1,010', '1,159',
       '0,959', '0,830', '0,930', '1,077', '1,088', '1,038', '1,069',
       '0,939', '0,910', '1,052', '1,009', '1,200', '1,119', '0,999',
       '1,179', '0,980', '1,169', '0,859', '1,094', '1,095', '1,129',
       '1,054', '0,909', '0,899', '0,885', '1,098', '0,950', '0,886',
       '1,017', '0,929', '1,189', '1,060', '1,037', '1,090', '1,109',
       '1,008', '0,979', '1,018', '0,865', '0,965', '0,650', '1,138',
       '0,805', '1,022', '0,998', '0,879', '0,790', '1,004', '0,990',
       '0,970', '0,997', '0,946', '1,150', '1,025', '1,149', '0,949',
       '0,889', '1,139', '1,140', '1,220', '1,260', '1,250', '1,160',
       '0,989', '0,759', '1,070', '1,118', '0,769', '0,935', '1,115',
       '0,919', '1,100', '0,977', '1,106', '0,948', '1,048', '1,130',
       '1,199', '1,155', '0,809', '0,801', '0,808', '0,799', '0,789',
       '0,839', '0,800', '0,818', '0,829', '0,958', '1,026', '0,870',
       '0,967', '1,042', '0,974', '0,944', '0,905', '0,925', '0,915',
       '0,850', '0,779', '1,185', '0,849'], dtype=object)

In [59]:
# Convertimos columna categórica a numérica
df_n['Precio Gases licuados del petróleo']=df_n['Precio Gases licuados del petróleo'].str.replace(',','.')
df_n[['Precio Gases licuados del petróleo']]=df_n[['Precio Gases licuados del petróleo']].apply(pd.to_numeric)

In [60]:
df_n['Precio Gases licuados del petróleo'].describe()

count    833.000000
mean       1.029089
std        0.079036
min        0.650000
25%        0.999000
50%        1.039000
75%        1.069000
max        1.260000
Name: Precio Gases licuados del petróleo, dtype: float64

In [61]:
# Registros sin venta Gas NAtural Licuado del Petróleo
sin_suministro_gnlp = df_n['Precio Gases licuados del petróleo'].isnull().sum()
sin_suministro_gnlp

10916

In [62]:
ceros_sin_suministro_gnlp = (df_n['Precio Gases licuados del petróleo'] == 0).sum()
ceros_sin_suministro_gnlp

0

# Gasoleo A

In [63]:
Gasoleo_A = df_n['Precio Gasoleo A'].unique()
print(len(Gasoleo_A))
print(type(Gasoleo_A))
Gasoleo_A

430
<class 'numpy.ndarray'>

array(['1,939', '1,877', '2,040', '1,999', '2,029', '1,898', '1,959',
       '2,019', '1,899', '2,035', '1,949', '2,039', '1,929', '1,950', '',
       '1,909', '2,009', '2,049', '1,890', '2,259', '1,869', '2,059',
       '1,919', '1,969', '1,979', '2,015', '1,878', '1,995', '1,893',
       '1,954', '1,842', '1,989', '1,870', '1,889', '1,885', '1,987',
       '1,960', '1,930', '1,880', '1,849', '1,860', '1,820', '2,069',
       '1,940', '1,835', '1,760', '1,840', '1,879', '1,856', '1,897',
       '1,875', '1,882', '1,858', '2,025', '1,994', '1,857', '1,841',
       '2,020', '2,014', '1,974', '1,808', '1,809', '1,829', '1,837',
       '1,888', '2,043', '2,012', '2,010', '1,998', '2,038', '1,887',
       '1,918', '1,859', '1,971', '1,951', '1,948', '2,024', '1,927',
       '1,855', '1,984', '1,965', '1,834', '1,982', '1,845', '2,034',
       '2,004', '1,944', '2,045', '1,936', '1,975', '1,867', '1,937',
       '2,058', '1,978', '1,900', '1,839', '2,089', '2,074', '1,908',
       '2,046', '1,799', '1,807', '1,914', '2,017', '1,749', '1,866',
       '1,817', '1,819', '1,777', '1,895', '1,922', '2,055', '1,868',
       '1,797', '1,801', '1,892', '1,865', '1,920', '1,968', '1,985',
       '1,911', '2,006', '1,886', '1,810', '1,945', '1,729', '1,734',
       '1,830', '1,850', '1,793', '1,844', '1,827', '1,997', '2,005',
       '1,967', '2,018', '1,825', '2,079', '2,099', '2,064', '1,874',
       '2,075', '1,913', '2,000', '1,907', '1,905', '1,915', '1,990',
       '2,065', '2,050', '1,932', '2,048', '1,926', '1,947', '1,970',
       '1,903', '1,884', '1,972', '2,109', '1,961', '2,016', '1,779',
       '1,774', '1,739', '1,902', '1,957', '1,891', '1,935', '1,910',
       '1,955', '1,958', '1,838', '1,815', '2,085', '1,925', '2,028',
       '2,086', '2,135', '2,097', '2,119', '1,988', '1,896', '2,047',
       '2,032', '2,088', '1,894', '1,977', '1,790', '1,848', '2,139',
       '2,057', '1,794', '1,847', '1,934', '1,904', '2,030', '1,789',
       '1,852', '1,964', '1,791', '1,906', '1,836', '2,125', '1,792',
       '1,773', '1,846', '1,787', '1,917', '1,938', '1,864', '1,824',
       '1,828', '1,795', '2,336', '1,731', '2,084', '1,928', '1,883',
       '2,044', '1,943', '1,640', '1,861', '1,942', '1,759', '1,924',
       '1,991', '1,916', '1,980', '1,699', '2,054', '1,806', '1,802',
       '1,805', '1,598', '1,579', '1,599', '1,912', '1,818', '2,036',
       '1,826', '1,962', '1,941', '1,873', '1,705', '1,832', '1,800',
       '1,843', '1,821', '1,475', '1,505', '1,766', '1,740', '1,813',
       '1,679', '1,921', '1,854', '2,061', '2,066', '2,068', '1,993',
       '1,996', '2,078', '1,786', '1,833', '1,814', '2,037', '2,115',
       '2,159', '1,973', '1,862', '2,095', '2,094', '2,007', '2,027',
       '2,070', '1,785', '2,309', '1,872', '1,770', '1,594', '2,008',
       '2,022', '2,200', '1,863', '1,750', '2,080', '1,776', '1,952',
       '1,804', '1,992', '1,881', '1,966', '1,769', '1,780', '1,831',
       '2,042', '1,796', '1,931', '1,798', '1,711', '1,596', '1,851',
       '1,986', '1,901', '2,072', '2,249', '2,199', '2,052', '1,963',
       '1,504', '1,535', '1,423', '1,417', '2,002', '1,732', '2,181',
       '1,664', '1,981', '1,983', '1,499', '1,489', '1,374', '1,509',
       '1,469', '1,449', '1,434', '1,484', '1,464', '1,436', '1,399',
       '1,534', '1,537', '1,548', '1,539', '1,529', '1,519', '1,524',
       '1,506', '1,495', '1,522', '1,518', '1,514', '1,513', '1,485',
       '1,468', '1,487', '1,451', '1,439', '1,527', '1,479', '1,517',
       '1,531', '1,569', '1,784', '1,573', '1,528', '1,532', '1,544',
       '1,387', '1,494', '1,559', '1,497', '1,397', '1,459', '1,510',
       '1,520', '1,525', '1,549', '1,483', '1,526', '1,490', '1,500',
       '1,448', '1,454', '1,567', '1,419', '1,609', '1,871', '1,720',
       '1,953', '1,853', '1,472', '1,658', '1,515', '1,480', '1,444',
       '1,507', '1,429', '1,788', '1,695', '1,678', '1,547', '1,512',
       '1,588', '1,498', '1,445', '1,465', '1,435', '1,680', '1,715',
       '1,315', '1,493', '1,295', '1,508', '1,538', '1,503', '1,572',
       '1,488', '1,575', '2,051', '1,685', '2,274', '1,822', '1,783',
       '1,530', '1,933', '1,823', '1,768', '1,876', '2,105', '2,150',
       '1,782', '1,923', '1,771', '2,101', '1,767', '2,041', '1,803',
       '1,811', '1,660'], dtype=object)

In [64]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasoleo A']=df_n['Precio Gasoleo A'].str.replace(',','.')
df_n[['Precio Gasoleo A']]=df_n[['Precio Gasoleo A']].apply(pd.to_numeric)

In [65]:
df_n['Precio Gasoleo A'].describe()

count    11409.000000
mean         1.954775
std          0.117493
min          1.295000
25%          1.899000
50%          1.989000
75%          2.029000
max          2.336000
Name: Precio Gasoleo A, dtype: float64

In [66]:
# Registros sin venta Gasoleo A
sin_suministro_gA = df_n['Precio Gasoleo A'].isnull().sum()
sin_suministro_gA

340

In [67]:
ceros_sin_suministro_gA = (df_n['Precio Gasoleo A'] == 0).sum()
ceros_sin_suministro_gA

0

# Gasoleo B

In [68]:
Gasoleo_B = df_n['Precio Gasoleo B'].unique()
print(len(Gasoleo_A))
print(type(Gasoleo_A))
Gasoleo_B

430
<class 'numpy.ndarray'>

array(['1,440', '', '1,636', '1,450', '1,649', '1,539', '1,559', '1,433',
       '1,690', '1,520', '1,550', '1,470', '1,609', '1,593', '1,484',
       '1,489', '1,428', '1,672', '1,479', '1,499', '1,699', '1,665',
       '1,617', '1,570', '1,603', '1,530', '1,669', '1,449', '1,390',
       '1,490', '1,680', '1,679', '1,639', '1,399', '1,410', '1,574',
       '1,629', '1,457', '1,267', '1,511', '1,659', '1,589', '1,614',
       '1,569', '1,458', '1,599', '1,719', '1,714', '1,689', '1,579',
       '1,123', '1,697', '1,600', '1,612', '1,749', '1,585', '1,625',
       '1,779', '1,580', '1,692', '1,529', '1,469', '1,691', '1,623',
       '1,643', '1,635', '1,491', '1,553', '1,500', '1,495', '1,619',
       '1,473', '1,434', '1,414', '1,403', '1,488', '1,632', '1,578',
       '1,634', '1,630', '1,695', '1,519', '1,620', '1,549', '1,675',
       '1,769', '1,759', '1,640', '1,849', '1,739', '1,729', '1,430',
       '1,627', '1,350', '1,740', '1,658', '1,653', '1,657', '1,674',
       '1,590', '1,724', '1,558', '1,715', '1,604', '1,560', '1,684',
       '1,800', '1,622', '1,540', '1,702', '1,616', '1,624', '1,700',
       '1,565', '1,525', '1,839', '1,596', '1,819', '1,561', '1,444',
       '1,637', '1,377', '1,607', '1,618', '1,583', '1,670', '1,480',
       '1,528', '1,510', '1,406', '1,750', '1,340', '1,566', '1,451',
       '1,475', '1,650', '1,109', '1,466', '1,398', '1,349', '1,509',
       '1,492', '1,477', '1,426', '1,380', '1,533', '1,402', '1,522',
       '1,447', '1,662', '1,421', '1,393', '1,400', '1,385', '1,409',
       '1,537', '1,315', '1,545', '1,420', '1,459', '1,471', '1,439',
       '1,592', '1,682', '1,792', '1,949', '1,765', '1,535', '1,547',
       '1,707', '1,706', '1,496', '1,660', '1,748', '1,460', '1,726',
       '1,709', '1,562', '1,534', '1,608', '1,638', '1,725', '1,594',
       '1,474', '1,564', '1,330', '1,333', '1,416', '1,671', '1,597',
       '1,009', '1,615', '1,588', '1,415', '1,668', '1,482', '1,465',
       '1,631', '1,412', '1,300', '1,429', '1,517', '1,468', '1,628',
       '1,595', '1,446', '1,538', '1,571', '1,455', '1,626', '1,621',
       '1,601', '1,598', '1,498', '1,610', '1,359', '1,435', '1,485',
       '1,423', '1,654', '1,673', '1,606', '1,448', '1,693', '1,462',
       '1,299', '1,483', '1,581', '1,555', '1,417', '1,360', '1,387',
       '1,408', '1,554', '1,611', '1,419', '1,404', '1,394', '1,445',
       '1,395', '1,336', '1,322', '1,664', '1,546', '1,379', '1,382',
       '1,575', '1,436', '1,666', '1,646', '1,655', '1,424', '1,698',
       '1,661', '1,685', '1,647', '1,710', '1,651', '1,686', '1,452',
       '1,454', '1,556', '1,441', '1,427', '1,464', '1,584', '1,746',
       '1,744', '1,734', '1,713', '1,514', '1,757', '1,683', '1,736',
       '1,890', '1,774', '1,587', '1,542', '1,799', '1,548', '1,667',
       '1,442', '1,602', '1,605', '1,383', '1,504', '1,526', '1,633',
       '1,370', '1,900', '1,375', '1,337', '1,456', '1,389', '1,397',
       '1,760', '1,573', '1,431', '1,503', '1,532', '1,577', '1,641',
       '1,576', '1,505', '1,214', '1,586', '1,507', '1,704', '1,552',
       '1,391', '1,463', '1,405', '1,572', '1,386', '1,438', '1,425',
       '1,306', '1,656', '1,676', '1,497', '1,170', '1,291', '1,487',
       '1,392', '1,481', '1,467', '1,329', '1,320', '1,677', '1,752',
       '1,783', '1,648', '1,352', '1,523', '1,356', '1,735', '1,418',
       '1,396', '1,346', '1,521', '1,513', '1,327', '1,374', '1,701',
       '1,361', '1,494', '1,688', '1,694', '1,289', '1,730', '1,355',
       '1,567', '1,644', '1,755', '1,613', '1,422', '1,453', '1,502',
       '1,771', '1,789', '1,717', '1,437', '1,248', '1,645', '1,678',
       '1,432', '1,518', '1,524', '1,411', '1,461', '1,354', '1,302',
       '1,413', '1,130', '1,476', '1,563', '1,335', '1,262', '1,557',
       '1,269', '1,486', '1,286', '1,551', '1,527', '1,516', '1,253',
       '1,501', '1,339', '1,328', '1,508', '1,809', '1,310', '1,296',
       '1,478', '1,732', '1,345', '1,642', '1,227', '1,568', '1,290',
       '1,280', '1,230', '1,582'], dtype=object)

In [69]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasoleo B']=df_n['Precio Gasoleo B'].str.replace(',','.')
df_n[['Precio Gasoleo B']]=df_n[['Precio Gasoleo B']].apply(pd.to_numeric)

In [70]:
df_n['Precio Gasoleo B'].describe()

count    2998.000000
mean        1.564772
std         0.103750
min         1.009000
25%         1.488250
50%         1.579000
75%         1.640000
max         1.949000
Name: Precio Gasoleo B, dtype: float64

In [71]:
# Registros sin venta Gasoleo B
sin_suministro_gB = df_n['Precio Gasoleo B'].isnull().sum()
sin_suministro_gB

8751

In [72]:
ceros_sin_suministro_gB = (df_n['Precio Gasoleo B'] == 0).sum()
ceros_sin_suministro_gB

0

# Precio Gasoleo Premium

In [73]:
Gasoleo_P = df_n['Precio Gasoleo Premium'].unique()
print(len(Gasoleo_P))
print(type(Gasoleo_P))
Gasoleo_P

366
<class 'numpy.ndarray'>

array(['', '2,039', '2,119', '1,948', '2,099', '2,019', '2,089', '2,059',
       '1,959', '2,101', '1,999', '2,109', '2,069', '1,990', '1,979',
       '1,966', '2,139', '2,159', '1,989', '2,115', '2,079', '2,029',
       '2,149', '2,129', '1,889', '2,049', '2,105', '2,084', '2,044',
       '2,125', '1,867', '2,078', '2,058', '2,229', '1,949', '2,085',
       '2,009', '1,939', '1,899', '2,094', '2,021', '2,113', '1,855',
       '2,024', '2,034', '2,117', '2,040', '2,095', '2,124', '2,074',
       '2,145', '1,988', '2,075', '2,110', '1,879', '1,869', '2,179',
       '2,164', '2,999', '1,919', '1,929', '2,112', '1,969', '1,994',
       '2,087', '1,935', '2,081', '2,100', '1,977', '2,022', '2,135',
       '1,878', '1,897', '2,114', '1,885', '2,088', '1,926', '2,093',
       '1,880', '1,909', '1,865', '1,845', '1,849', '1,903', '1,901',
       '1,882', '2,070', '1,895', '2,205', '2,189', '2,154', '2,169',
       '2,175', '2,098', '2,065', '1,887', '1,927', '2,091', '1,968',
       '1,963', '1,945', '1,925', '2,064', '1,975', '2,030', '2,165',
       '1,950', '1,997', '2,054', '1,859', '2,120', '1,789', '1,874',
       '2,090', '2,055', '2,057', '1,829', '2,131', '1,928', '2,118',
       '2,251', '2,138', '2,128', '2,127', '2,000', '2,103', '2,108',
       '1,917', '1,908', '2,042', '2,104', '2,014', '2,061', '2,004',
       '2,080', '2,107', '1,868', '1,918', '2,116', '2,111', '1,984',
       '2,028', '1,675', '2,130', '1,998', '1,956', '1,946', '2,050',
       '1,827', '1,904', '1,947', '1,809', '1,938', '2,051', '1,888',
       '1,987', '2,199', '2,155', '2,121', '2,047', '1,819', '2,020',
       '2,151', '2,134', '1,910', '2,174', '2,158', '2,048', '2,032',
       '2,097', '2,077', '1,974', '2,071', '1,954', '1,907', '1,797',
       '2,025', '1,719', '1,995', '2,144', '1,619', '1,639', '2,056',
       '1,860', '2,045', '2,005', '1,985', '1,973', '2,035', '1,958',
       '1,965', '2,141', '2,083', '2,060', '2,086', '1,972', '2,195',
       '2,225', '2,161', '2,106', '2,137', '1,992', '1,914', '2,007',
       '2,015', '1,877', '2,063', '2,082', '1,839', '1,964', '2,023',
       '1,900', '1,930', '2,018', '2,027', '1,890', '2,219', '1,941',
       '1,905', '2,076', '1,934', '2,052', '2,033', '1,854', '2,010',
       '2,140', '2,026', '2,096', '2,172', '1,924', '2,066', '1,807',
       '1,896', '1,857', '2,038', '1,944', '1,837', '1,962', '1,891',
       '1,835', '1,894', '1,943', '1,555', '1,544', '1,585', '1,955',
       '1,898', '1,841', '1,916', '2,073', '2,301', '1,980', '1,933',
       '1,817', '1,957', '2,185', '1,559', '1,644', '1,609', '1,579',
       '1,679', '1,649', '1,605', '1,634', '1,550', '1,629', '1,624',
       '1,611', '1,623', '1,659', '1,618', '1,601', '1,625', '1,604',
       '1,599', '1,587', '1,689', '1,718', '1,847', '1,633', '1,642',
       '1,614', '1,669', '1,549', '1,620', '1,525', '1,699', '1,622',
       '1,631', '1,636', '1,654', '1,628', '1,584', '1,510', '1,554',
       '1,557', '1,606', '1,600', '1,688', '1,700', '1,637', '2,178',
       '2,037', '2,126', '2,209', '1,961', '2,068', '1,643', '1,647',
       '1,594', '1,833', '1,641', '1,871', '1,626', '1,547', '1,714',
       '1,569', '1,593', '1,558', '1,832', '1,755', '1,573', '1,465',
       '1,603', '1,595', '1,638', '1,793', '1,646', '1,686', '1,574',
       '1,709', '1,592', '1,588', '2,228', '2,156', '2,092', '2,017',
       '2,136', '2,147', '1,886', '1,842', '1,850', '1,915', '2,067',
       '1,825', '1,892', '1,875', '1,951', '1,812', '1,872', '1,967',
       '1,978', '1,856', '1,866', '1,960', '1,923', '2,012', '2,046',
       '1,937', '1,970', '1,777', '1,779', '2,062', '2,016', '2,008',
       '1,920'], dtype=object)

In [74]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasoleo Premium']=df_n['Precio Gasoleo Premium'].str.replace(',','.')
df_n[['Precio Gasoleo Premium']]=df_n[['Precio Gasoleo Premium']].apply(pd.to_numeric)

In [75]:
df_n['Precio Gasoleo Premium'].describe()

count    7490.000000
mean        2.054401
std         0.116677
min         1.465000
25%         2.039000
50%         2.089000
75%         2.119000
max         2.999000
Name: Precio Gasoleo Premium, dtype: float64

In [76]:
# Registros sin venta Gasoleo Premium
sin_suministro_gP = df_n['Precio Gasoleo Premium'].isnull().sum()
sin_suministro_gP

4259

In [77]:
ceros_sin_suministro_gP = (df_n['Precio Gasoleo Premium'] == 0).sum()
ceros_sin_suministro_gP

0

# Precio Gasolina 95 E10

In [78]:
g95_E10 = df_n['Precio Gasolina 95 E10'].unique()
print(len(g95_E10))
print(type(g95_E10))
g95_E10

18
<class 'numpy.ndarray'>

array(['', '2,109', '1,939', '1,759', '1,819', '1,720', '1,829', '1,889',
       '1,869', '1,609', '1,749', '1,669', '1,717', '1,899', '1,929',
       '1,919', '1,868', '1,849'], dtype=object)

In [79]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasolina 95 E10']=df_n['Precio Gasolina 95 E10'].str.replace(',','.')
df_n[['Precio Gasolina 95 E10']]=df_n[['Precio Gasolina 95 E10']].apply(pd.to_numeric)

In [80]:
 df_n['Precio Gasolina 95 E10'].describe()

count    20.000000
mean      1.839900
std       0.113594
min       1.609000
25%       1.756500
50%       1.858500
75%       1.904000
max       2.109000
Name: Precio Gasolina 95 E10, dtype: float64

In [81]:
# Registros sin venta Gasoleo Premium
sin_suministro_95E10 = df_n['Precio Gasolina 95 E10'].isnull().sum()
sin_suministro_95E10

11729

# Precio Gasolina 95 E5

In [82]:
g95_E5 = df_n['Precio Gasolina 95 E5'].unique()
print(len(g95_E5))
print(type(g95_E5))
g95_E5

439
<class 'numpy.ndarray'>

array(['1,739', '1,657', '', '1,789', '1,779', '1,728', '1,799', '1,659',
       '1,764', '1,749', '1,729', '1,730', '1,769', '1,736', '1,750',
       '2,299', '1,649', '1,759', '1,829', '1,754', '1,699', '1,638',
       '1,806', '1,709', '1,632', '1,700', '1,689', '1,708', '1,784',
       '1,798', '1,629', '1,775', '1,719', '1,869', '1,805', '1,602',
       '1,663', '1,627', '1,839', '1,673', '1,744', '1,702', '1,809',
       '1,859', '1,679', '1,697', '1,774', '1,625', '1,595', '1,794',
       '1,547', '1,767', '1,716', '1,777', '1,757', '1,763', '1,758',
       '1,748', '1,747', '1,669', '1,849', '1,778', '1,765', '1,667',
       '1,819', '1,783', '1,760', '1,670', '1,619', '1,655', '1,755',
       '1,635', '1,734', '1,626', '1,742', '1,704', '1,804', '1,746',
       '1,687', '1,737', '1,677', '1,639', '1,889', '1,874', '1,698',
       '1,766', '1,609', '1,599', '1,694', '1,665', '1,617', '1,557',
       '1,648', '1,800', '1,814', '1,658', '1,810', '1,715', '1,787',
       '1,650', '1,589', '1,640', '1,690', '1,969', '1,666', '1,633',
       '1,660', '1,785', '1,732', '1,685', '1,795', '1,797', '1,939',
       '1,615', '1,879', '1,780', '1,770', '1,844', '1,845', '1,898',
       '1,909', '1,938', '1,768', '1,738', '2,000', '1,725', '1,899',
       '1,864', '1,840', '1,884', '1,773', '1,834', '1,825', '1,850',
       '1,678', '1,919', '1,676', '1,722', '1,630', '1,857', '1,740',
       '1,675', '1,920', '1,822', '1,735', '1,817', '1,733', '1,959',
       '1,999', '1,854', '1,718', '1,788', '1,815', '1,855', '1,837',
       '1,828', '1,827', '1,835', '1,813', '1,668', '1,588', '1,727',
       '1,714', '1,793', '1,824', '1,792', '1,867', '1,592', '1,656',
       '1,683', '1,634', '1,878', '1,579', '1,647', '1,587', '1,608',
       '1,654', '1,843', '1,591', '1,833', '1,684', '1,613', '1,590',
       '1,680', '1,645', '1,726', '1,574', '1,578', '1,724', '1,717',
       '1,821', '1,664', '1,598', '1,593', '1,905', '1,949', '2,086',
       '1,888', '1,868', '1,848', '2,149', '1,875', '1,818', '1,644',
       '1,610', '1,802', '1,751', '1,790', '1,674', '1,696', '1,720',
       '1,860', '1,745', '1,830', '1,604', '1,900', '1,600', '1,688',
       '1,620', '1,621', '1,838', '1,622', '1,761', '1,603', '1,624',
       '1,428', '1,409', '1,429', '1,695', '1,597', '1,820', '1,560',
       '1,306', '1,637', '1,653', '1,641', '1,340', '1,614', '1,901',
       '1,897', '1,796', '1,989', '1,858', '1,924', '1,865', '1,911',
       '1,915', '1,937', '1,705', '1,618', '1,682', '1,965', '1,885',
       '1,782', '1,662', '1,841', '1,847', '2,329', '1,672', '1,643',
       '1,808', '1,710', '1,741', '1,731', '1,706', '1,605', '1,893',
       '1,772', '1,652', '1,853', '2,120', '1,703', '1,861', '1,929',
       '1,856', '1,594', '1,596', '1,812', '1,586', '1,776', '1,692',
       '1,567', '1,986', '1,803', '1,771', '1,756', '1,711', '1,811',
       '1,786', '1,661', '1,359', '1,358', '1,339', '1,349', '2,100',
       '1,623', '1,572', '1,981', '1,933', '1,852', '1,713', '1,846',
       '1,923', '1,494', '1,379', '1,435', '1,459', '1,259', '1,169',
       '1,439', '1,425', '1,300', '1,489', '1,488', '1,478', '1,480',
       '1,479', '1,440', '1,442', '1,469', '1,430', '1,499', '1,484',
       '1,509', '1,485', '1,495', '1,487', '1,249', '1,475', '1,539',
       '1,482', '1,521', '1,611', '1,503', '1,498', '1,454', '1,502',
       '1,279', '1,492', '1,529', '1,473', '1,289', '1,474', '1,468',
       '1,559', '1,514', '1,504', '1,464', '1,471', '1,496', '1,399',
       '1,497', '1,506', '1,449', '1,450', '1,444', '1,470', '1,434',
       '1,190', '1,374', '1,407', '1,448', '1,419', '1,801', '1,831',
       '1,866', '1,891', '1,753', '1,239', '1,458', '1,265', '1,528',
       '1,404', '1,414', '1,389', '1,380', '1,335', '1,392', '1,329',
       '1,386', '1,385', '1,410', '1,424', '1,452', '1,297', '1,377',
       '1,388', '1,550', '1,195', '1,298', '1,175', '1,299', '1,465',
       '1,412', '1,375', '1,422', '1,397', '1,443', '1,395', '1,472',
       '1,378', '1,394', '1,423', '1,438', '1,421', '1,376', '1,401',
       '1,561', '1,413', '1,433', '1,205', '1,453', '1,235', '1,393',
       '1,209', '1,364', '1,396', '1,418', '1,408', '1,577', '1,651',
       '1,890', '2,069', '1,842', '1,974', '1,616', '1,686', '1,701',
       '1,791', '1,693', '1,707', '1,636', '1,555', '2,027', '1,628',
       '1,807', '1,781', '1,930', '1,601'], dtype=object)

In [83]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasolina 95 E5']=df_n['Precio Gasolina 95 E5'].str.replace(',','.')
df_n[['Precio Gasolina 95 E5']]=df_n[['Precio Gasolina 95 E5']].apply(pd.to_numeric)

In [84]:
df_n['Precio Gasolina 95 E5'].describe()

count    10609.00000
mean         1.75154
std          0.09609
min          1.16900
25%          1.71900
50%          1.76900
75%          1.80900
max          2.32900
Name: Precio Gasolina 95 E5, dtype: float64

In [85]:
# Registros sin venta Gasoleo Premium
sin_suministro_g95E5 = df_n['Precio Gasolina 95 E5'].isnull().sum()
sin_suministro_g95E5

1140

In [86]:
ceros_sin_suministro_g95E5  = (df_n['Precio Gasolina 95 E5'] == 0).sum()
ceros_sin_suministro_g95E5

0

# Precio Gasolina 95 E5 Premium

In [87]:
g95_E5_P = df_n['Precio Gasolina 95 E5 Premium'].unique()
print(len(g95_E5_P))
print(type(g95_E5_P))
g95_E5_P

93
<class 'numpy.ndarray'>

array(['', '1,829', '1,834', '1,844', '1,799', '1,819', '1,864', '1,759',
       '1,859', '1,769', '1,979', '1,884', '1,837', '1,869', '1,749',
       '1,839', '1,889', '1,779', '1,789', '1,679', '1,919', '1,899',
       '1,909', '1,698', '1,894', '1,879', '1,689', '1,809', '1,649',
       '1,602', '1,632', '1,914', '1,824', '1,959', '1,924', '1,814',
       '1,939', '1,815', '1,929', '1,934', '1,904', '1,835', '1,849',
       '1,949', '1,804', '1,984', '1,794', '1,784', '1,774', '1,999',
       '1,684', '1,764', '1,718', '1,699', '1,916', '1,902', '1,669',
       '1,739', '1,840', '1,464', '1,854', '1,850', '1,709', '1,874',
       '1,719', '1,818', '1,765', '1,858', '1,650', '1,678', '1,729',
       '1,667', '1,727', '1,697', '1,627', '1,817', '1,969', '1,954',
       '1,359', '1,519', '1,444', '1,449', '1,880', '1,642', '1,851',
       '1,639', '1,868', '1,811', '1,711', '1,926', '2,099', '1,895',
       '1,847'], dtype=object)

In [88]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasolina 95 E5 Premium']=df_n['Precio Gasolina 95 E5 Premium'].str.replace(',','.')
df_n[['Precio Gasolina 95 E5 Premium']]=df_n[['Precio Gasolina 95 E5 Premium']].apply(pd.to_numeric)

In [89]:
df_n['Precio Gasolina 95 E5 Premium'].describe()

count    796.000000
mean       1.842206
std        0.074159
min        1.359000
25%        1.818000
50%        1.854000
75%        1.889000
max        2.099000
Name: Precio Gasolina 95 E5 Premium, dtype: float64

In [90]:
# Registros sin venta Gasolina 95 E5 Premium
sin_suministro_g95E5_Prem = df_n['Precio Gasolina 95 E5 Premium'].isnull().sum()
sin_suministro_g95E5_Prem

10953

In [91]:
ceros_sin_suministro_g95E5_Prem  = (df_n['Precio Gasolina 95 E5 Premium'] == 0).sum()
ceros_sin_suministro_g95E5

0

# Precio Gasolina 98 E10

In [92]:
g98_E10 = df_n['Precio Gasolina 98 E10'].unique()
print(len(g98_E10))
print(type(g98_E10))
g98_E10

8
<class 'numpy.ndarray'>

array(['', '1,995', '1,839', '1,760', '1,907', '1,939', '1,949', '1,838'],
      dtype=object)

In [93]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasolina 98 E10']=df_n['Precio Gasolina 98 E10'].str.replace(',','.')
df_n[['Precio Gasolina 98 E10']]=df_n[['Precio Gasolina 98 E10']].apply(pd.to_numeric)

In [94]:
df_n['Precio Gasolina 98 E10'].describe()

count    8.000000
mean     1.895750
std      0.077032
min      1.760000
25%      1.838750
50%      1.923000
75%      1.941500
max      1.995000
Name: Precio Gasolina 98 E10, dtype: float64

In [95]:
# Registros sin venta Gasolina 98 E10 
sin_suministro_g98E10 = df_n['Precio Gasolina 98 E10'].isnull().sum()
sin_suministro_g98E10

11741

# Precio Gasolina 98 E5

In [96]:
g98_E5 = df_n['Precio Gasolina 98 E5'].unique()
print(len(g98_E5))
print(type(g98_E5))
g98_E5

407
<class 'numpy.ndarray'>

array(['', '1,919', '1,921', '1,899', '1,849', '1,939', '1,929', '1,959',
       '1,896', '1,909', '1,969', '1,859', '1,869', '1,989', '1,855',
       '2,369', '1,931', '1,879', '1,889', '2,099', '1,831', '1,839',
       '2,179', '1,891', '1,886', '1,999', '1,874', '1,951', '1,904',
       '1,947', '1,911', '1,823', '1,888', '2,599', '1,941', '1,949',
       '1,988', '1,918', '1,913', '1,961', '1,979', '1,901', '1,816',
       '1,903', '1,875', '1,735', '1,907', '1,779', '1,836', '1,946',
       '1,890', '1,906', '1,960', '1,932', '2,029', '2,014', '2,999',
       '1,971', '1,819', '1,809', '1,884', '1,905', '1,916', '1,936',
       '1,966', '1,802', '1,955', '1,954', '1,686', '1,930', '1,861',
       '1,828', '2,000', '1,857', '1,826', '1,805', '1,926', '2,009',
       '1,895', '2,071', '2,039', '2,169', '2,019', '1,984', '1,976',
       '2,018', '2,011', '1,974', '2,038', '1,972', '1,880', '1,868',
       '1,981', '1,991', '1,924', '1,900', '1,996', '2,021', '1,950',
       '2,037', '1,881', '1,994', '1,865', '2,109', '1,990', '1,799',
       '1,775', '1,914', '1,848', '1,871', '1,915', '1,789', '2,059',
       '1,894', '1,858', '1,846', '2,005', '2,300', '1,965', '1,978',
       '1,934', '1,987', '1,985', '1,968', '1,829', '1,927', '1,699',
       '2,025', '2,006', '1,792', '1,834', '2,016', '1,948', '1,986',
       '1,739', '1,997', '1,956', '1,944', '1,942', '2,160', '1,722',
       '1,844', '1,649', '1,917', '1,998', '2,055', '1,725', '1,784',
       '2,150', '1,937', '1,938', '1,928', '1,712', '1,995', '1,822',
       '1,908', '1,759', '2,124', '1,964', '2,078', '2,089', '2,001',
       '2,049', '2,045', '2,013', '2,004', '1,897', '2,129', '2,199',
       '1,878', '1,864', '2,069', '1,814', '1,776', '2,079', '1,945',
       '2,031', '2,209', '1,898', '1,882', '1,760', '1,910', '2,048',
       '1,458', '1,445', '2,149', '1,749', '2,229', '1,825', '1,975',
       '1,841', '1,958', '1,925', '2,041', '2,095', '2,047', '2,159',
       '2,115', '2,098', '2,065', '2,028', '2,017', '2,024', '1,980',
       '2,139', '2,075', '1,842', '2,060', '1,920', '1,851', '1,755',
       '2,002', '1,810', '1,933', '1,767', '2,500', '1,815', '1,845',
       '1,922', '1,840', '1,923', '1,940', '1,820', '1,856', '1,835',
       '2,010', '2,299', '1,602', '2,200', '2,074', '2,032', '1,967',
       '1,765', '1,769', '1,804', '1,727', '1,863', '1,862', '2,020',
       '1,729', '1,854', '1,824', '1,838', '1,963', '1,970', '1,843',
       '1,798', '1,952', '2,239', '1,788', '1,943', '1,757', '1,876',
       '1,797', '1,706', '1,902', '1,780', '2,215', '1,977', '2,046',
       '1,584', '1,499', '1,534', '1,570', '1,669', '1,539', '1,459',
       '1,469', '1,345', '1,589', '1,560', '1,450', '1,594', '1,613',
       '1,619', '1,569', '1,559', '1,549', '1,561', '1,572', '1,551',
       '1,659', '1,608', '1,598', '1,629', '1,601', '1,599', '1,609',
       '1,617', '1,409', '1,558', '1,479', '1,576', '1,564', '1,684',
       '1,635', '1,663', '1,723', '1,614', '1,579', '1,604', '1,544',
       '1,632', '1,639', '1,574', '1,529', '1,610', '1,620', '1,580',
       '1,674', '1,689', '1,634', '1,567', '1,625', '1,514', '1,628',
       '1,626', '1,588', '1,597', '1,585', '1,590', '1,509', '1,512',
       '1,518', '1,648', '1,627', '1,837', '2,015', '2,008', '1,935',
       '1,369', '1,704', '1,504', '1,460', '1,449', '1,510', '1,444',
       '1,516', '1,464', '1,700', '1,554', '1,429', '1,519', '1,713',
       '1,681', '1,682', '1,524', '1,550', '1,578', '1,377', '1,497',
       '1,485', '1,489', '1,515', '1,500', '1,507', '1,650', '1,495',
       '1,380', '1,595', '1,498', '1,508', '1,488', '1,541', '1,423',
       '1,424', '1,487', '1,538', '1,436', '1,505', '1,520', '1,583',
       '1,581', '1,525', '1,494', '1,474', '1,546', '1,536', '2,058',
       '2,237', '1,719', '2,219', '1,873', '1,768', '2,450', '1,833',
       '1,679', '1,794', '1,885', '1,800', '1,877', '1,867', '1,847',
       '1,709', '2,220', '1,807', '2,119', '1,813', '2,073', '1,740',
       '1,748', '2,279', '1,795', '1,957', '2,250', '1,827', '1,850'],
      dtype=object)

In [97]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Gasolina 98 E5']=df_n['Precio Gasolina 98 E5'].str.replace(',','.')
df_n[['Precio Gasolina 98 E5']]=df_n[['Precio Gasolina 98 E5']].apply(pd.to_numeric)

In [98]:
df_n['Precio Gasolina 98 E5'].describe()

count    5933.000000
mean        1.905006
std         0.116483
min         1.345000
25%         1.889000
50%         1.929000
75%         1.969000
max         2.999000
Name: Precio Gasolina 98 E5, dtype: float64

In [99]:
# Registros sin venta Gasolina 98 E5 
sin_suministro_g98E5 = df_n['Precio Gasolina 98 E5'].isnull().sum()
sin_suministro_g98E5

5816

In [100]:
ceros_sin_suministro_g98E5  = (df_n['Precio Gasolina 98 E5'] == 0).sum()
ceros_sin_suministro_g98E5

0

# Precio Hidrogeno

In [101]:
Hidrongeno = df_n['Precio Hidrogeno'].unique()
print(len(Hidrongeno))
print(type(Hidrongeno))
Hidrongeno

1
<class 'numpy.ndarray'>

array([''], dtype=object)

In [102]:
# Convertimos columna categórica a numérica, primero tenemos que sustituir , por .
df_n['Precio Hidrogeno']=df_n['Precio Hidrogeno'].str.replace(',','.')
df_n[['Precio Hidrogeno']]=df_n[['Precio Hidrogeno']].apply(pd.to_numeric)

In [103]:
df_n['Precio Hidrogeno'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: Precio Hidrogeno, dtype: float64

In [104]:
df_n.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11749 entries, 0 to 11748
Data columns (total 33 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Fecha                               11749 non-null  object
 1   C.P.                                11749 non-null  object
 2   Dirección                           11749 non-null  object
 3   Horario                             11749 non-null  object
 4   Latitud                             11749 non-null  object
 5   Localidad                           11749 non-null  object
 6   Longitud (WGS84)                    11749 non-null  object
 7   Margen                              11749 non-null  object
 8   Municipio                           11749 non-null  object
 9   Precio Biodiesel                    37 non-null     float64
 10  Precio Bioetanol                    5 non-null      float64
 11  Precio Gas Natural Comprimido       122 non-null    float64
 12  Precio Gas Natural Licuado          81 non-null     float64
 13  Precio Gases licuados del petróleo  833 non-null    float64
 14  Precio Gasoleo A                    11409 non-null  float64
 15  Precio Gasoleo B                    2998 non-null   float64
 16  Precio Gasoleo Premium              7490 non-null   float64
 17  Precio Gasolina 95 E10              20 non-null     float64
 18  Precio Gasolina 95 E5               10609 non-null  float64
 19  Precio Gasolina 95 E5 Premium       796 non-null    float64
 20  Precio Gasolina 98 E10              8 non-null      float64
 21  Precio Gasolina 98 E5               5933 non-null   float64
 22  Precio Hidrogeno                    0 non-null      float64
 23  Provincia                           11749 non-null  object
 24  Remisión                            11749 non-null  object
 25  Rótulo                              11749 non-null  object
 26  Tipo Venta                          11749 non-null  object
 27  % BioEtanol                         11749 non-null  object
 28  % Éster metílico                    11749 non-null  object
 29  IDEESS                              11749 non-null  object
 30  IDMunicipio                         11749 non-null  object
 31  IDProvincia                         11749 non-null  object
 32  IDCCAA                              11749 non-null  object
dtypes: float64(14), object(19)
memory usage: 3.0+ MB

---
Setp 3

# Limpieza de Columnas

In [105]:
# Eliminiación de columnas que no interesan a nivel usuario o que no aportan datos significativos al modelo
df_n.drop(['Margen', 'Remisión', 'Tipo Venta', '% BioEtanol', '% Éster metílico', 'Precio Biodiesel',
          'Precio Bioetanol', 'Precio Gas Natural Comprimido', 'Precio Gas Natural Licuado', 
          'Precio Gas Natural Licuado', 'Precio Gases licuados del petróleo', 'Precio Gasolina 95 E10',
          'Precio Gasolina 95 E5 Premium', 'Precio Gasolina 98 E10', 'Precio Hidrogeno'], axis=1, inplace=True)

In [106]:
# Comprobación
df_n.iloc[15][['Precio Gasoleo B']]

Precio Gasoleo B    NaN
Name: 15, dtype: object

In [107]:
df_n.head()

,Fecha,C.P.,Dirección,Horario,Latitud,Localidad,Longitud (WGS84),Municipio,Precio Gasoleo A,Precio Gasoleo B,Precio Gasoleo Premium,Precio Gasolina 95 E5,Precio Gasolina 98 E5,Provincia,Rótulo,IDEESS,IDMunicipio,IDProvincia,IDCCAA
0,28/10/2022 18:18:20,02250,"AVENIDA CASTILLA LA MANCHA, 26",L-D: 07:00-22:00,"39,211417",ABENGIBRE,"-1,539167",Abengibre,1.939,1.44,NaN,1.739,NaN,ALBACETE,Nº 10.935,4375,52,02,07
1,28/10/2022 18:18:20,02001,"CALLE FEDERICO GARCIA LORCA, 1",L-D: 24H,"39,000861",ALBACETE,"-1,849833",Albacete,1.877,NaN,NaN,1.657,NaN,ALBACETE,PLENOIL,13933,54,02,07
2,28/10/2022 18:18:20,02001,"CALLE FEDERICO GARCIA LORCA, 5",L-S: 05:00-23:00,"38,997722",ALBACETE,"-1,846361",Albacete,2.040,NaN,NaN,NaN,NaN,ALBACETE,CEPSA,4438,54,02,07
3,28/10/2022 18:18:20,02001,"AVENIDA 1º DE MAYO, S/N",L-S: 08:00-22:00; D: 09:00-21:00,"38,985667",ALBACETE,"-1,868500",Albacete,1.999,NaN,2.039,1.789,1.919,ALBACETE,CARREFOUR,10765,54,02,07
4,28/10/2022 18:18:20,02001,CALLE PRINCIPE DE ASTURIAS (POLÍGONO DE ROMICA...,L-D: 06:00-21:30,"39,054694",ALBACETE,"-1,832000",Albacete,2.029,NaN,2.119,1.779,1.921,ALBACETE,BP ROMICA,12054,54,02,07

In [108]:
# Renombramos las columnas
df_n.rename(columns={"Precio Gasoleo A": "Gasoleo A", "Precio Gasoleo B": "Gasoleo B" ,"Precio Gasoleo Premium": "Gasoleo Premium", 
                     "Precio Gasolina 95 E5": "Gasolina 95 E5", "Precio Gasolina 98 E5": "Gasolina 98 E5",
                     "Rótulo":"Estación de Servicio"}, inplace=True)
df_n.head(1)

,Fecha,C.P.,Dirección,Horario,Latitud,Localidad,Longitud (WGS84),Municipio,Gasoleo A,Gasoleo B,Gasoleo Premium,Gasolina 95 E5,Gasolina 98 E5,Provincia,Estación de Servicio,IDEESS,IDMunicipio,IDProvincia,IDCCAA
0,28/10/2022 18:18:20,02250,"AVENIDA CASTILLA LA MANCHA, 26",L-D: 07:00-22:00,"39,211417",ABENGIBRE,"-1,539167",Abengibre,1.939,1.44,NaN,1.739,NaN,ALBACETE,Nº 10.935,4375,52,02,07

In [109]:
# Media
df_n['Media_Gasoleo A']=df_n['Gasoleo A'].mean()
df_n['Media_Gasoleo B']=df_n['Gasoleo B'].mean()
df_n['Media_Gasoleo Gasolina 95']=df_n['Gasolina 95 E5'].mean()
df_n['Media_Gasolina 98']=df_n['Gasolina 98 E5'].mean()

In [110]:
# Desviación estándar
df_n['STD_Gasoleo A']=df_n['Gasoleo A'].std()
df_n['STD_Gasoleo B']=df_n['Gasoleo B'].std()
df_n['STD_Gasoleo Gasolina 95']=df_n['Gasolina 95 E5'].std()
df_n['STD_Gasolina 98']=df_n['Gasolina 98 E5'].std()

In [111]:
df_n.head(1)

,Fecha,C.P.,Dirección,Horario,Latitud,Localidad,Longitud (WGS84),Municipio,Gasoleo A,Gasoleo B,...,IDProvincia,IDCCAA,Media_Gasoleo A,Media_Gasoleo B,Media_Gasoleo Gasolina 95,Media_Gasolina 98,STD_Gasoleo A,STD_Gasoleo B,STD_Gasoleo Gasolina 95,STD_Gasolina 98
0,28/10/2022 18:18:20,02250,"AVENIDA CASTILLA LA MANCHA, 26",L-D: 07:00-22:00,"39,211417",ABENGIBRE,"-1,539167",Abengibre,1.939,1.44,...,02,07,1.954775,1.564772,1.75154,1.905006,0.117493,0.10375,0.09609,0.116483

In [112]:
df_n.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11749 entries, 0 to 11748
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Fecha                      11749 non-null  object
 1   C.P.                       11749 non-null  object
 2   Dirección                  11749 non-null  object
 3   Horario                    11749 non-null  object
 4   Latitud                    11749 non-null  object
 5   Localidad                  11749 non-null  object
 6   Longitud (WGS84)           11749 non-null  object
 7   Municipio                  11749 non-null  object
 8   Gasoleo A                  11409 non-null  float64
 9   Gasoleo B                  2998 non-null   float64
 10  Gasoleo Premium            7490 non-null   float64
 11  Gasolina 95 E5             10609 non-null  float64
 12  Gasolina 98 E5             5933 non-null   float64
 13  Provincia                  11749 non-null  object
 14  Estación de Servicio       11749 non-null  object
 15  IDEESS                     11749 non-null  object
 16  IDMunicipio                11749 non-null  object
 17  IDProvincia                11749 non-null  object
 18  IDCCAA                     11749 non-null  object
 19  Media_Gasoleo A            11749 non-null  float64
 20  Media_Gasoleo B            11749 non-null  float64
 21  Media_Gasoleo Gasolina 95  11749 non-null  float64
 22  Media_Gasolina 98          11749 non-null  float64
 23  STD_Gasoleo A              11749 non-null  float64
 24  STD_Gasoleo B              11749 non-null  float64
 25  STD_Gasoleo Gasolina 95    11749 non-null  float64
 26  STD_Gasolina 98            11749 non-null  float64
dtypes: float64(13), object(14)
memory usage: 2.4+ MB

In [113]:
#Ordenamos columnas
df_n = df_n[['Fecha', 'Horario', 'C.P.','Municipio', 'Provincia', 'Dirección', 'Latitud', 'Longitud (WGS84)', 'Gasoleo A', 
            'Gasoleo B', 'Gasoleo Premium', 'Gasolina 95 E5', 'Gasolina 98 E5', 'Estación de Servicio', 'Media_Gasoleo A',
           'Media_Gasoleo B', 'Media_Gasoleo Gasolina 95', 'Media_Gasolina 98', 'STD_Gasoleo A', 'STD_Gasoleo B', 
            'STD_Gasoleo Gasolina 95', 'STD_Gasolina 98']]
df_n.head(1)

,Fecha,Horario,C.P.,Municipio,Provincia,Dirección,Latitud,Longitud (WGS84),Gasoleo A,Gasoleo B,...,Gasolina 98 E5,Estación de Servicio,Media_Gasoleo A,Media_Gasoleo B,Media_Gasoleo Gasolina 95,Media_Gasolina 98,STD_Gasoleo A,STD_Gasoleo B,STD_Gasoleo Gasolina 95,STD_Gasolina 98
0,28/10/2022 18:18:20,L-D: 07:00-22:00,02250,Abengibre,ALBACETE,"AVENIDA CASTILLA LA MANCHA, 26","39,211417","-1,539167",1.939,1.44,...,NaN,Nº 10.935,1.954775,1.564772,1.75154,1.905006,0.117493,0.10375,0.09609,0.116483

---
Step4


# Funciones

In [154]:
def precio_minimo_cp(cp, Y):
# cp = Código Postal
# Y = Tipo de Combustible
    cp_x = df_n[df_n["C.P."] == cp]
    minimo = pd.DataFrame(cp_x.loc[cp_x[[Y]].idxmin()])
    return pd.DataFrame(minimo)

In [155]:
precio_minimo_cp('28500', 'Gasoleo A')

,Fecha,Horario,C.P.,Municipio,Provincia,Dirección,Latitud,Longitud (WGS84),Gasoleo A,Gasoleo B,...,Gasolina 98 E5,Estación de Servicio,Media_Gasoleo A,Media_Gasoleo B,Media_Gasoleo Gasolina 95,Media_Gasolina 98,STD_Gasoleo A,STD_Gasoleo B,STD_Gasoleo Gasolina 95,STD_Gasolina 98
6517,28/10/2022 18:18:20,L-D: 24H,28500,Arganda del Rey,MADRID,"AVENIDA MADRID (DE), SN","40,312250","-3,487028",1.899,NaN,...,NaN,PETROPRIX,1.954775,1.564772,1.75154,1.905006,0.117493,0.10375,0.09609,0.116483

In [156]:
x1 = df_n["C.P."]=='28500'
x2 = df_n[x1]
x2

,Fecha,Horario,C.P.,Municipio,Provincia,Dirección,Latitud,Longitud (WGS84),Gasoleo A,Gasoleo B,...,Gasolina 98 E5,Estación de Servicio,Media_Gasoleo A,Media_Gasoleo B,Media_Gasoleo Gasolina 95,Media_Gasolina 98,STD_Gasoleo A,STD_Gasoleo B,STD_Gasoleo Gasolina 95,STD_Gasolina 98
6517,28/10/2022 18:18:20,L-D: 24H,28500,Arganda del Rey,MADRID,"AVENIDA MADRID (DE), SN","40,312250","-3,487028",1.899,NaN,...,NaN,PETROPRIX,1.954775,1.564772,1.75154,1.905006,0.117493,0.10375,0.09609,0.116483
6518,28/10/2022 18:18:20,L: 24H,28500,Arganda del Rey,MADRID,CARRETERA M-832 KM. 3,"40,291056","-3,507278",2.072,NaN,...,NaN,REPSOL,1.954775,1.564772,1.75154,1.905006,0.117493,0.10375,0.09609,0.116483
6519,28/10/2022 18:18:20,L-V: 06:00-22:00; S-D: 08:00-22:00,28500,Arganda del Rey,MADRID,"AVDA DE MADRID, 103","40,310000","-3,480833",2.039,1.669,...,NaN,REPSOL,1.954775,1.564772,1.75154,1.905006,0.117493,0.10375,0.09609,0.116483
6520,28/10/2022 18:18:20,L-D: 06:00-00:00,28500,Arganda del Rey,MADRID,"AVENIDA DE MADRID, 126","40,310361","-3,481806",1.939,NaN,...,NaN,ATENOIL,1.954775,1.564772,1.75154,1.905006,0.117493,0.10375,0.09609,0.116483
6521,28/10/2022 18:18:20,L-D: 24H,28500,Arganda del Rey,MADRID,CARRETERA M-832 KM. 3,"40,290944","-3,508111",2.072,NaN,...,NaN,REPSOL,1.954775,1.564772,1.75154,1.905006,0.117493,0.10375,0.09609,0.116483
6522,28/10/2022 18:18:20,L-D: 06:00-22:00,28500,Arganda del Rey,MADRID,"AVENIDA DE MADRID, 37","40,305639","-3,462778",2.029,NaN,...,1.931,BP LA ARGANDEÑA,1.954775,1.564772,1.75154,1.905006,0.117493,0.10375,0.09609,0.116483
6523,28/10/2022 18:18:20,L-D: 24H,28500,Arganda del Rey,MADRID,"AVENIDA EJERCITO (DEL), 44","40,303139","-3,448389",2.029,NaN,...,1.931,BP ARGANDA,1.954775,1.564772,1.75154,1.905006,0.117493,0.10375,0.09609,0.116483
6524,28/10/2022 18:18:20,L-D: 24H,28500,Arganda del Rey,MADRID,"AVENIDA VALDEARGANDA, 8","40,309944","-3,449889",2.025,NaN,...,1.926,CEPSA,1.954775,1.564772,1.75154,1.905006,0.117493,0.10375,0.09609,0.116483
6525,28/10/2022 18:18:20,L-D: 07:00-22:00,28500,Arganda del Rey,MADRID,"AVENIDA FINANZAUTO (DE), 2","40,306889","-3,468694",1.899,NaN,...,NaN,DELFIOIL,1.954775,1.564772,1.75154,1.905006,0.117493,0.10375,0.09609,0.116483
6526,28/10/2022 18:18:20,L-D: 24H,28500,Arganda del Rey,MADRID,CAMINO CAMINO DE SAN MARTÍN DE LA VEGA A ARGAN...,"40,303778","-3,451611",1.899,NaN,...,NaN,BALLENOIL,1.954775,1.564772,1.75154,1.905006,0.117493,0.10375,0.09609,0.116483
6527,28/10/2022 18:18:20,L-D: 24H,28500,Arganda del Rey,MADRID,"CAMINO SAN MARTIN DE LA VEGA, 8","40,303222","-3,455472",1.899,NaN,...,NaN,BALLENOIL,1.954775,1.564772,1.75154,1.905006,0.117493,0.10375,0.09609,0.116483
6528,28/10/2022 18:18:20,L-D: 24H,28500,Arganda del Rey,MADRID,"AVENIDA MADRID (DE), 66","40,306417","-3,463917",1.899,NaN,...,NaN,PLENOIL,1.954775,1.564772,1.75154,1.905006,0.117493,0.10375,0.09609,0.116483

In [157]:
# Precio mínimo por Provincia seleccionada
def provincia_minimo(cp, Y):
# cp = Provincia
# Y = Tipo de Combustible    
    cp_x = df_n[df_n["Provincia"] == cp]
    minimo = pd.DataFrame(cp_x.loc[cp_x[[Y]].idxmin()])
    return pd.DataFrame(minimo)

In [158]:
provincia_minimo('MADRID', 'Gasoleo A')

,Fecha,Horario,C.P.,Municipio,Provincia,Dirección,Latitud,Longitud (WGS84),Gasoleo A,Gasoleo B,...,Gasolina 98 E5,Estación de Servicio,Media_Gasoleo A,Media_Gasoleo B,Media_Gasoleo Gasolina 95,Media_Gasolina 98,STD_Gasoleo A,STD_Gasoleo B,STD_Gasoleo Gasolina 95,STD_Gasolina 98
6618,28/10/2022 18:18:20,L-D: 24H,28944,Fuenlabrada,MADRID,"CALLE ANETO, 1","40,279167","-3,801806",1.795,NaN,...,NaN,BALLENOIL,1.954775,1.564772,1.75154,1.905006,0.117493,0.10375,0.09609,0.116483

In [162]:
# Precio mínimo por Municipio
def municipio_minimo(cp, Y):
# cp = Municipio
# Y = Tipo de Combustible    
    cp_x = df_n[df_n["Municipio"] == cp]
    minimo = pd.DataFrame(cp_x.loc[cp_x[[Y]].idxmin()])
    return pd.DataFrame(minimo)

In [163]:
municipio_minimo('Cercedilla', 'Gasoleo A')

,Fecha,Horario,C.P.,Municipio,Provincia,Dirección,Latitud,Longitud (WGS84),Gasoleo A,Gasoleo B,...,Gasolina 98 E5,Estación de Servicio,Media_Gasoleo A,Media_Gasoleo B,Media_Gasoleo Gasolina 95,Media_Gasolina 98,STD_Gasoleo A,STD_Gasoleo B,STD_Gasoleo Gasolina 95,STD_Gasolina 98
6549,28/10/2022 18:18:20,L-S: 7:30-20:30; D: 8:30-20:00,28470,Cercedilla,MADRID,CARRETERA M 622 (CARRETERA GUADARRAMA A LA FUE...,"40,733111","-4,067528",2.009,NaN,...,NaN,REPSOL,1.954775,1.564772,1.75154,1.905006,0.117493,0.10375,0.09609,0.116483

In [164]:
def gasolinera_minimo(cp, Y):
# cp = Municipio
# Y = Tipo de Combustible    
    cp_x = df_n[df_n["Estación de Servicio"] == cp]
    minimo = pd.DataFrame(cp_x.loc[cp_x[[Y]].idxmin()])
    return pd.DataFrame(minimo)

In [165]:
gasolinera_minimo('REPSOL', 'Gasoleo A')

,Fecha,Horario,C.P.,Municipio,Provincia,Dirección,Latitud,Longitud (WGS84),Gasoleo A,Gasoleo B,...,Gasolina 98 E5,Estación de Servicio,Media_Gasoleo A,Media_Gasoleo B,Media_Gasoleo Gasolina 95,Media_Gasolina 98,STD_Gasoleo A,STD_Gasoleo B,STD_Gasoleo Gasolina 95,STD_Gasolina 98
9307,28/10/2022 18:18:20,L-D: 06:00-21:00,38435,Tanque (El),SANTA CRUZ DE TENERIFE,CARRETERA TF-82 KM. 8,"28,356333","-16,777139",1.449,NaN,...,1.509,REPSOL,1.954775,1.564772,1.75154,1.905006,0.117493,0.10375,0.09609,0.116483

In [190]:
# Función para convertir códigos postales
def convert(mun):
    mun_x = df_n[df_n["Municipio"] == mun]
    cp = pd.DataFrame(mun_x[["C.P.", "Municipio"]])
    return cp

In [191]:
convert('Móstoles')

       C.P. Municipio
6991  28931  Móstoles
6992  28934  Móstoles
6993  28935  Móstoles
6994  28935  Móstoles
6995  28935  Móstoles
6996  28935  Móstoles
6997  28935  Móstoles
6998  28935  Móstoles
6999  28933  Móstoles
7000  28935  Móstoles
7001  28937  Móstoles
7002  28937  Móstoles
7003  28936  Móstoles
7004  28936  Móstoles
7005  28936  Móstoles
7006  28938  Móstoles
7007  28938  Móstoles
7008  28938  Móstoles
7009  28938  Móstoles

In [202]:
# Listado de Gasolineras por Municipio
def gasolineras_municipio(gas):
    mun_x = df_n[df_n["Municipio"] == gas]
    cp_x = pd.DataFrame(mun_x[["Estación de Servicio"]])
    return cp_x

In [203]:
gasolineras_municipio('Navalcarnero')

     Estación de Servicio
7012               REPSOL
7013               REPSOL
7014                CEPSA
7015                CEPSA
7016                CEPSA
7017             CHEAPOIL
7018            MAXPETROL
7019            BALLENOIL

In [211]:
# Listado de Gasolineras por Provincia
def gasolineras_provincia(prov):
    cp_x = df_n[df_n["Provincia"] == prov]
    return cp_x

In [214]:
gasolineras_provincia('HUELVA')

,Fecha,Horario,C.P.,Municipio,Provincia,Dirección,Latitud,Longitud (WGS84),Gasoleo A,Gasoleo B,...,Gasolina 98 E5,Estación de Servicio,Media_Gasoleo A,Media_Gasoleo B,Media_Gasoleo Gasolina 95,Media_Gasolina 98,STD_Gasoleo A,STD_Gasoleo B,STD_Gasoleo Gasolina 95,STD_Gasolina 98
5365,28/10/2022 18:18:20,L-D: 24H,21110,Aljaraque,HUELVA,AUTOVIA A-497 KM. 7,"37,259167","-7,012750",1.957,NaN,...,1.857,MEROIL,1.954775,1.564772,1.75154,1.905006,0.117493,0.10375,0.09609,0.116483
5366,28/10/2022 18:18:20,L-D: 24H,21110,Aljaraque,HUELVA,"CARRETERA A-492 KM. 0,100","37,273944","-6,991028",1.929,NaN,...,1.799,TAMOIL,1.954775,1.564772,1.75154,1.905006,0.117493,0.10375,0.09609,0.116483
5367,28/10/2022 18:18:20,L-D: 07:00-23:00,21110,Aljaraque,HUELVA,"CALLE CERAMICA, 1","37,257889","-7,018417",1.957,NaN,...,NaN,HIGUEROIL,1.954775,1.564772,1.75154,1.905006,0.117493,0.10375,0.09609,0.116483
5368,28/10/2022 18:18:20,L-D: 24H,21730,Almonte,HUELVA,"AVENIDA DE LOS CABEZUDOS, 1","37,258583","-6,520556",1.990,1.545,...,NaN,E.S PUERTA DOÑANA 2,1.954775,1.564772,1.75154,1.905006,0.117493,0.10375,0.09609,0.116483
5369,28/10/2022 18:18:20,L-D: 24H,21730,Almonte,HUELVA,"POLIGONO INDUSTRIAL EL TOMILLAR,PARCELA, 77","37,254056","-6,507861",1.955,1.539,...,NaN,CEPSA,1.954775,1.564772,1.75154,1.905006,0.117493,0.10375,0.09609,0.116483
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5511,28/10/2022 18:18:20,L-D: 05:00-00:00,21860,Villalba del Alcor,HUELVA,CARRETERA A-472 KM. 28,"37,396444","-6,485611",2.039,1.760,...,NaN,REPSOL,1.954775,1.564772,1.75154,1.905006,0.117493,0.10375,0.09609,0.116483
5512,28/10/2022 18:18:20,L-D: 07:00-22:00,21540,Villanueva de los Castillejos,HUELVA,CARRETERA HUELVA KM. 31,"37,497139","-7,268444",2.079,NaN,...,NaN,E.S. LA CRUZ DEL GALLO,1.954775,1.564772,1.75154,1.905006,0.117493,0.10375,0.09609,0.116483
5513,28/10/2022 18:18:20,L-V: 06:00-21:00; S-D: 07:00-22:00,21850,Villarrasa,HUELVA,AUTOVIA A-49 KM KM. 53,"37,351111","-6,598222",2.049,NaN,...,1.959,REPSOL,1.954775,1.564772,1.75154,1.905006,0.117493,0.10375,0.09609,0.116483
5514,28/10/2022 18:18:20,L-D: 24H,21850,Villarrasa,HUELVA,"CALLE ANGUSTIAS, 0","37,387472","-6,598167",1.999,1.579,...,NaN,SUMAROIL,1.954775,1.564772,1.75154,1.905006,0.117493,0.10375,0.09609,0.116483
5515,28/10/2022 18:18:20,L-D: 06:00-22:00,21640,Zalamea la Real,HUELVA,"CARRETERA NACIONAL 435 KM. 181,8","37,674722","-6,657306",1.899,NaN,...,NaN,DEOIL,1.954775,1.564772,1.75154,1.905006,0.117493,0.10375,0.09609,0.116483

In [216]:
# Listado de Gasolineras por Código Postal:
def gasolineras_cp(cp):
    cp_x = df_n[df_n["C.P."] == cp]
    return cp_x

In [217]:
gasolineras_cp('28500')

,Fecha,Horario,C.P.,Municipio,Provincia,Dirección,Latitud,Longitud (WGS84),Gasoleo A,Gasoleo B,...,Gasolina 98 E5,Estación de Servicio,Media_Gasoleo A,Media_Gasoleo B,Media_Gasoleo Gasolina 95,Media_Gasolina 98,STD_Gasoleo A,STD_Gasoleo B,STD_Gasoleo Gasolina 95,STD_Gasolina 98
6517,28/10/2022 18:18:20,L-D: 24H,28500,Arganda del Rey,MADRID,"AVENIDA MADRID (DE), SN","40,312250","-3,487028",1.899,NaN,...,NaN,PETROPRIX,1.954775,1.564772,1.75154,1.905006,0.117493,0.10375,0.09609,0.116483
6518,28/10/2022 18:18:20,L: 24H,28500,Arganda del Rey,MADRID,CARRETERA M-832 KM. 3,"40,291056","-3,507278",2.072,NaN,...,NaN,REPSOL,1.954775,1.564772,1.75154,1.905006,0.117493,0.10375,0.09609,0.116483
6519,28/10/2022 18:18:20,L-V: 06:00-22:00; S-D: 08:00-22:00,28500,Arganda del Rey,MADRID,"AVDA DE MADRID, 103","40,310000","-3,480833",2.039,1.669,...,NaN,REPSOL,1.954775,1.564772,1.75154,1.905006,0.117493,0.10375,0.09609,0.116483
6520,28/10/2022 18:18:20,L-D: 06:00-00:00,28500,Arganda del Rey,MADRID,"AVENIDA DE MADRID, 126","40,310361","-3,481806",1.939,NaN,...,NaN,ATENOIL,1.954775,1.564772,1.75154,1.905006,0.117493,0.10375,0.09609,0.116483
6521,28/10/2022 18:18:20,L-D: 24H,28500,Arganda del Rey,MADRID,CARRETERA M-832 KM. 3,"40,290944","-3,508111",2.072,NaN,...,NaN,REPSOL,1.954775,1.564772,1.75154,1.905006,0.117493,0.10375,0.09609,0.116483
6522,28/10/2022 18:18:20,L-D: 06:00-22:00,28500,Arganda del Rey,MADRID,"AVENIDA DE MADRID, 37","40,305639","-3,462778",2.029,NaN,...,1.931,BP LA ARGANDEÑA,1.954775,1.564772,1.75154,1.905006,0.117493,0.10375,0.09609,0.116483
6523,28/10/2022 18:18:20,L-D: 24H,28500,Arganda del Rey,MADRID,"AVENIDA EJERCITO (DEL), 44","40,303139","-3,448389",2.029,NaN,...,1.931,BP ARGANDA,1.954775,1.564772,1.75154,1.905006,0.117493,0.10375,0.09609,0.116483
6524,28/10/2022 18:18:20,L-D: 24H,28500,Arganda del Rey,MADRID,"AVENIDA VALDEARGANDA, 8","40,309944","-3,449889",2.025,NaN,...,1.926,CEPSA,1.954775,1.564772,1.75154,1.905006,0.117493,0.10375,0.09609,0.116483
6525,28/10/2022 18:18:20,L-D: 07:00-22:00,28500,Arganda del Rey,MADRID,"AVENIDA FINANZAUTO (DE), 2","40,306889","-3,468694",1.899,NaN,...,NaN,DELFIOIL,1.954775,1.564772,1.75154,1.905006,0.117493,0.10375,0.09609,0.116483
6526,28/10/2022 18:18:20,L-D: 24H,28500,Arganda del Rey,MADRID,CAMINO CAMINO DE SAN MARTÍN DE LA VEGA A ARGAN...,"40,303778","-3,451611",1.899,NaN,...,NaN,BALLENOIL,1.954775,1.564772,1.75154,1.905006,0.117493,0.10375,0.09609,0.116483
6527,28/10/2022 18:18:20,L-D: 24H,28500,Arganda del Rey,MADRID,"CAMINO SAN MARTIN DE LA VEGA, 8","40,303222","-3,455472",1.899,NaN,...,NaN,BALLENOIL,1.954775,1.564772,1.75154,1.905006,0.117493,0.10375,0.09609,0.116483
6528,28/10/2022 18:18:20,L-D: 24H,28500,Arganda del Rey,MADRID,"AVENIDA MADRID (DE), 66","40,306417","-3,463917",1.899,NaN,...,NaN,PLENOIL,1.954775,1.564772,1.75154,1.905006,0.117493,0.10375,0.09609,0.116483

---

Step 5

# Streamlit

In [ ]:
st.title("Hello GeeksForGeeks !!!")